<template>
    <PesananPemasok v-if="user.role === 'Pemasok' || user.role === 'Penjual'" />
    <PesananPembeli v-if="user.role === 'Pembeli'" />
</template>


<script>
import PesananPemasok from "@/views/auth/dashboard/penjual/transaksi/Pesanan.vue"
import PesananPembeli from "@/views/auth/dashboard/pembeli/transaksi/Pesanan.vue"
import axios from "axios";
export default {
    data() {
        return {
            user: [],
            token: localStorage.getItem("token"),

        }
    },
    components: {
        PesananPemasok,
        PesananPembeli
    },
    mounted() {
        axios.get("/api/user", {
            headers: {
                Authorization: "Bearer " + this.token
            }
        }).then((resp) => {
            this.user = resp.data;
        }).catch((err) => {
            if(err.response.status === 401) {
                localStorage.clear();
            }
        });
    }

}
</script>
