<template>
    <Navbar />
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <Sidebar />
            </div>
            <div class="col-lg-9 my-5">
                <div class="row">
                    <div class="col-lg-12">
                        <h6>Edit Profile</h6>
                    </div>
                    <div class="col-md-12 py-3">
                        <img :src="user.logo" class="btn rounded-circle profile-image p-0 me-3"
                            style="background-color: var(--gray-color); color: var(--primary-color);width:90px;height:90px;">
                        <button @click="clickFile" type="button" class="btn rounded-circle profile-image"
                            style="background-color: var(--gray-color); color: var(--primary-color)">
                            <i class="fa-solid fa-cloud-arrow-up"></i>
                        </button>

                        <input id="fileUpload" @change="changeFile($event)" type="file" hidden>
                    </div>
                    <div class="col-md-12 py-3">
                        <div class="form-row row">
                            <div class="col-md-5 mb-4">
                                <div>
                                    <label for="validationCustom01" class="fw-bold text-muted">Asal Pembeli</label>
                                    <input name="regist-from" id="regist-from" class="form-control" v-model="user.asal">
                                </div>
                                <div class="mt-4">
                                    <label for="validationCustom01" class="fw-bold text-muted">Email Pembeli</label>
                                    <input name="email-from" id="regist-from" class="form-control" v-model="user.email">
                                </div>
                            </div>
                            <div class="col-md-5 mb-4">
                                <label for="validationCustom02" class="fw-bold text-muted">Asal Instansi</label>
                                <textarea name="instance" id="instance" cols="30" rows="5" class="form-control" placeholder="Sesuai Registrasi" v-model="user.alamat_instansi"></textarea>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-md-12 py-3">
                        <div class="form-row row">
                            <div class="col-md-5 mb-4">
                                <label for="validationCustom02" class="fw-bold text-muted">Alamat Instansi</label>
                                <textarea name="instance" id="instance" cols="30" rows="5" class="form-control"
                                    placeholder="Sesuai Registrasi"></textarea>
                            </div>
                            <div class="col-md-5 mb-4">
                                <label for="validationCustom01" class="fw-bold text-muted">Provinsi</label>
                                <select name="regist-from" id="regist-from" class="form-control">
                                    <option value="">Sesuai Registrasi</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 py-3">
                        <div class="form-row row">
                            <div class="col-md-5 mb-4">
                                <label for="validationCustom01" class="fw-bold text-muted">Kabupaten atau Kota</label>
                                <select name="regist-from" id="regist-from" class="form-control">
                                    <option value="">Sesuai Registrasi</option>
                                </select>
                            </div>
                            <div class="col-md-5 mb-4">
                                <label for="validationCustom01" class="fw-bold text-muted">Kecamatan</label>
                                <select name="regist-from" id="regist-from" class="form-control">
                                    <option value="">Sesuai Registrasi</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 py-3">
                        <div class="form-row row">
                            <div class="col-md-5 mb-4">
                                <label for="validationCustom01" class="fw-bold text-muted">Kelurahan</label>
                                <select name="regist-from" id="regist-from" class="form-control">
                                    <option value="">Sesuai Registrasi</option>
                                </select>
                            </div>
                            <div class="col-md-5 mb-4">
                                <label for="validationCustom01" class="fw-bold text-muted">Kode Pos</label>
                                <input type="text" name="postal-code" id="postal-code" placeholder="Sesuai Registrasi"
                                    class="form-control">
                            </div>
                            <div class="col-md-5 mb-4">
                                <label for="validationCustom01" class="fw-bold text-muted">Telp. Instansi
                                    (Opsional)</label>
                                <input type="text" name="postal-code" id="postal-code" placeholder="Sesuai Registrasi"
                                    class="form-control">
                            </div>
                        </div>
                    </div> -->
                    <div class="col-lg-12 mt-4">
                        <h6 class="fw-bold">Ubah Kata Sandi</h6>
                    </div>
                    <div class="col-md-12 py-3">
                        <div class="form-row row">
                            <!-- <div class="col-md-5 mb-4">
                                <label for="validationCustom01" class="fw-bold text-muted">Email Lama</label>
                                <select name="regist-from" id="regist-from" class="form-control">
                                    <option value="">Sesuai Registrasi</option>
                                </select>
                            </div>
                            <div class="col-md-5 mb-4">
                                <label for="validationCustom01" class="fw-bold text-muted">Email Baru</label>
                                <input type="text" name="postal-code" id="postal-code" placeholder="Ketik email baru"
                                    class="form-control">
                            </div> -->
                            <div class="col-md-5 mb-4">
                                <label for="validationCustom01" class="fw-bold text-muted">Ubah Kata Sandi</label>
                                <input type="password" autocomplete="off" name="password" id="password" placeholder="Ketik kata sandi baru" class="form-control" v-model="pass.pw">
                            </div>
                            <div class="col-md-5 mb-4">
                                <label for="validationCustom01" class="fw-bold text-muted">Konfirmasi Kata Sandi</label>
                                <input type="password" autocomplete="off" name="password_confirmation" id="password_confirmation" placeholder="Ketik ulang kata sandi baru" class="form-control" v-model="pass.pw_confir">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-10 my-4 text-center">
                        <button type="button" class="btn py-2 px-5"
                            style="background-color:var(--primary-color); color: white;"
                            @click.prevent="click">Simpan</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
import axios from 'axios'
import Sidebar from '../component/SidebarPembeli.vue';
import Navbar from '@/v2/components/Navbar.vue';
export default {
    components: { Sidebar, Navbar },
    data() {
        return {
            user: [],
            pass: {
                pw: "",
                pw_confir: "",
            },
            profileFile: null,
            token: localStorage.getItem("token")
        }
    },

    methods: {
        clickFile() {
            document.getElementById("fileUpload").click();
        },
        changeFile(e) {
            this.profileFile = e.target.files[0];
            this.user.logo = URL.createObjectURL(e.target.files[0]);
        },
        click() {
            const formData = new FormData();
            formData.append('asal', this.user.asal);
            formData.append('alamat_instansi', this.user.alamat_instansi);
            formData.append('email', this.user.email);
            formData.append('password', this.pass.pw);
            formData.append('password_confirmation', this.pass.pw_confir);
            if (this.profileFile) {
                formData.append('file', this.profileFile);
            }
            // const obj = JSON.stringify({
            //     asal: this.user.asal,
            //     password: this.pass.pw,
            //     password_confirmation: this.pass.pw_confir,
            // });
            axios.post("/api/v1/auth/edit-profile", formData, {
                headers: {
                    'Authorization': 'Bearer ' + this.token,
                    'Content-Type': 'multipart/form-data'
                },
            }).then((resp) => {
                this.$swal({
                    icon: 'success',
                    title: resp.data.message
                });
            }).catch((err) => {
                this.$swal({
                    icon: 'error',
                    title: err.response.data.message
                });
            });
        },
    },

    mounted() {
        axios.get("/api/user/pembeli/dashboard", {
            headers: {
                Authorization: "Bearer " + this.token
            }
        }).then((resp) => {
            this.user = resp.data.data.data;
            this.user.email = resp.data.data.email;
        });
    },
}
</script>



<style scope>
button.profile-image {
    width: 90px;
    height: 90px;
    border: 0;
}
</style>
