<template>
    <Navbar />
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <Sidebar />
            </div>
            <div class="col-lg-9 my-3">
                <div class="row">
                    <div class="col-lg-12">
                        <h6>Lacak Pengiriman</h6>
                    </div>
                    <div class="col-md-12 mt-4">
                        <div class="card rounded py-1 px-2">
                            <div class="card-body">
                                <div class="row align-items-center justify-content-between">
                                    <div class="col-md-4 text-start">
                                        <div class="row align-items-center">
                                            <div class="col-md-3">
                                                <img src="https://play-lh.googleusercontent.com/ahJtMe0vfOlAu1XJVQ6rcaGrQBgtrEZQefHy7SXB7jpijKhu1Kkox90XDuH8RmcBOXNn"
                                                    alt="" class="logo-img rounded-circle">
                                            </div>
                                            <div class="col-md-9 ps-4">
                                                <h5 class="mb-1">Ventela Tangerang</h5>
                                                <p class="mt-1 mb-0">Kota Tangerang Selatan</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 text-end">
                                        16 Juni 2022 | Nomor RFQ (Otomatis by Sistem)
                                    </div>
                                </div>
                                <div class="row align-items-center justify-content-between mt-3">
                                    <div class="col-md-12 text-start">
                                        <div class="row justify-content-start align-items-center">
                                            <div class="col-md-2">
                                                <img src="https://m.media-amazon.com/images/I/71D9ImsvEtL._UY500_.jpg"
                                                    alt="" class="product-img rounded">
                                            </div>
                                            <div class="col-md-4 ps-3">
                                                <h6 class="mb-1">Ventela Public Maroon - High, 42</h6>
                                                <p class="mt-1 mb-0">Asal Produk: Lokal</p>
                                                <p class="mt-1 mb-0">TKDN (%): 100</p>
                                            </div>
                                            <div class="col-md-2 ps-3">
                                                <p>Total Pesanan</p>
                                                <h4>RP 277.500</h4>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 text-end mt-3">
                                        <button class="btn pt-2 px-4 ms-5"
                                            style="border: 1.5px solid var(--primary-color); color: var(--primary-color)">Lihat
                                            Detail Pesanan</button>
                                        <button class="btn text-white pt-2 px-4 ms-5"
                                            style="background-color:var(--primary-color)">Lacak Pengiriman</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
import axios from 'axios'
import Sidebar from '../component/SidebarPembeli.vue';
export default {
    components: { Sidebar },
    data() {
        //
    },

    mounted() {
        //
    },
}
</script>



<style scope>
img.logo-img {
    width: 65px;
    height: 65px;
}

img.product-img {
    width: 125px;
    height: 125px;
}
</style>
