<template>
    <Navbar />
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <Sidebar />
            </div>
            <div class="col-lg-9 my-3">
                <div class="row">
                    <div class="col-lg-12 my-4">
                        <h6>Manajemen Akun</h6>
                    </div>
                    <div class="col-lg-12 text-end mb-3">
                        <a href="/dashboard/pembeli/tambah-akun">
                            <button type="button" class="btn btn-sm"
                                style="background-color:var(--primary-color); width: 20%; color: white;">
                                Tambah Akun
                            </button>
                        </a>
                    </div>
                    <div class="col-lg-12">
                        <table class="table table-bordered">
                            <thead>
                                <tr class="text-center" style="color:var(--primary-color)">
                                    <th scope="col">Nama Lengkap</th>
                                    <th scope="col">Jabatan</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">No Telepon</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Aksi</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="text-center" v-if="this.accounts.length < 1">
                                    <td class="text-center" colspan="6">Data Kosong</td>
                                </tr>
                                <tr class="text-center" v-else v-for="item in this.accounts" v-bind:key="item.id" :ref="'account-'+item.id">
                                    <td>{{ item.name }}</td>
                                    <td>{{ item.role }}</td>
                                    <td>{{ item.email }}</td>
                                    <td>{{ item.phone }}</td>
                                    <td>{{ item.status ? 'Aktif' : 'Non-Aktif' }}</td>
                                    <td><i class="fa-solid fa-trash-can delete-icon" @click="deleteAccount(item.id)"></i></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
import axios from 'axios'
import Sidebar from '../component/SidebarPembeli.vue';
import Navbar from '@/v2/components/Navbar.vue';
export default {
    components: { Sidebar, Navbar },
    data() {
       //
    },

    mounted() {
        axios.get('/api/v1/buyer/account-management/', {
            headers: {
                'Authorization': 'Bearer '+localStorage.getItem('token')
            }
        }).then(res => {
            this.accounts = res.data.data
        }).catch(err => {
            console.log(err)
        })
    },
}
</script>



<style scope>
    .delete-icon {
        cursor: pointer;
    }
</style>
