<template>
    <Navbar />
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <Sidebar />
            </div>
            <div class="col-lg-9 my-3">
                <div class="row">
                    <div class="col-lg-7">
                        <h6>Saldo</h6>
                        <div class="card mb-3" style="background-color:white">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-8">
                                        <span>Total Saldo</span>
                                        <h2>Rp 6.220.000</h2>
                                    </div>
                                    <div class="col-4 my-auto">
                                        <button class="btn __btn-primary">Tarik Saldo</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <h6>Informasi Penarikan Saldo</h6>
                        <div class="card" style="background-color:white">
                            <div class="card-body">

                                <ul>
                                    <li>Setiap penarikan saldo diluar rekening yang kami
                                        gunakan, dikenakan biaya pengiriman antar bank</li>
                                    <li>Minimal penarikan Saldo sebesar Rp 10.000</li>
                                    <li>Maksimal penarikan Saldo sebesar Rp 100.000.000</li>
                                    <li>Penarikan Saldo ke semua rekening bank
                                        akan diproses maksimal 1x24 jam pada hari kerja</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <h6>Riwayat Saldo</h6>
                        <div class="card mb-3" style="background-color:white">
                            <div class="card-body log-saldo">
                                <span class="d-block">Penarikan Saldo</span>
                                <span class="d-block">No. Penarikan Saldo: (Diinput oleh admin)</span>
                                <span class="d-block">Tanggal 07 Juni 2022 | Pukul 20.22 WIB</span>
                                <span class="d-block">Berhasil</span>
                                <span class="d-block">-Rp 4.136.520</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
import axios from 'axios'
import Sidebar from '../component/Sidebar.vue';
import Navbar from '@/v2/components/Navbar.vue';
export default {
    components: { Sidebar, Navbar }
}
</script>



<style scope>
.log-saldo span {
    font-size: 14px;
}

.log-saldo span:nth-child(4) {
    color: #00A23D;
    font-weight: 500;
    margin-top: 10px;
}

.log-saldo span:first-child,
.log-saldo span:last-child {
    font-weight: 500;
}
</style>
