<template>
    <Navbar />
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <Sidebar />
            </div>
            <div class="col-lg-9 my-3">
                <div class="row">
                    <div class="col-lg-12 my-4 mb-4">
                        <h6>Tambah Akun</h6>
                    </div>
                    <div class="col-lg-12">
                        <div class="form-row row">
                            <div class="col-md-5 mb-4">
                                <label for="validationCustom01" class="fw-bold">Nama Lengkap</label>
                                <input type="text" v-model="formValue.name" class="form-control" id="validationCustom01"
                                    placeholder="Ketik nama lengkap" required>
                            </div>
                            <div class="col-md-5 mb-4">
                                <label for="validationCustom02" class="fw-bold">Email</label>
                                <input type="text" v-model="formValue.email" class="form-control"
                                    id="validationCustom02" placeholder="Ketik email" required>
                            </div>
                        </div>
                        <div class="form-row row">
                            <div class="col-md-5 mb-4">
                                <label for="validationCustom01" class="fw-bold">Nomor Telepon</label>
                                <input type="text" v-model="formValue.phone" class="form-control"
                                    id="validationCustom01" placeholder="Ketik nomor telepon" required>
                            </div>
                            <div class="col-md-5 mb-4">
                                <label for="validationCustom02" class="fw-bold">Jabatan</label>
                                <input type="text" v-model="formValue.role" class="form-control" id="validationCustom02"
                                    placeholder="Ketik jabatan" required>
                            </div>
                        </div>
                        <div class="form-row row align-items-center">
                            <div class="col-md-5 mb-4">
                                <label for="validationCustom01" class="fw-bold">Surat Permohonan</label>
                                <input type="file" class="form-control" id="validationCustom01"
                                    @change="handleFileUpload($event)" placeholder="Upload surat permohonan" required>
                            </div>
                            <div class="col-md-5 mb-4">
                                <button type="button" class="btn mt-4"
                                    style="border:1.5px solid var(--primary-color);"><i
                                        class="fa-solid fa-download pe-2"></i> Format Surat Permohonan</button>
                            </div>
                        </div>
                        <div class="form-row row my-5">
                            <div class="col-md-10 text-center">
                                <button type="button" @click="submitForm" class="btn py-2 px-5"
                                    style="background-color:var(--primary-color); color: white;">Simpan</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
import axios from 'axios'
import Sidebar from '../component/SidebarPembeli.vue';
import Navbar from '@/v2/components/Navbar.vue';
export default {
    components: { Sidebar, Navbar },
    data() {
        return {
            document: '',
            formValue: {
                name: '',
                email: '',
                phone: '',
                role: ''
            },

        }
    },

    methods: {
        handleFileUpload(event) {
            this.document = event.target.files[0];
        },

        submitForm() {
            let formData = new FormData();
            formData.append('document', this.document);
            formData.append('name', this.formValue.name);
            formData.append('email', this.formValue.email);
            formData.append('phone', this.formValue.phone);
            formData.append('role', this.formValue.role);

            axios.post('/api/v1/buyer/account-management/add', formData, {
                headers: {
                    'Content-Type': 'multipart/form-data',
                    'Authorization': 'Bearer ' + localStorage.getItem('token')
                }
            }).then(res => {
                if (res.data.success) {
                    this.document = '';
                    this.formData = {
                        name: '',
                        email: '',
                        phone: '',
                        role: ''
                    };
                } else {
                    this.$toast.show(res.data.message);
                }
            }).catch(err => console.log(err))
        }
    },

    mounted() {
        //
    },
}
</script>



<style scope>
/*  */
</style>
