<template>
  <Navbar />

  <div class="container-fluid">
    <div class="row position-relative" style="margin-left: 0">
      <div
        class="bg-light position-absolute col-lg-9 offset-3 ps-4 py-2 d-flex align-items-center justify-content-between gap-3 __text-primary"
        style="z-index: 100"
      >
        <div class="fs-5 fw-semibold">Tambah Akun</div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-3">
        <Sidebar />
      </div>

      <div class="ps-4 col-lg-9">
        <div class="mt-5 py-3">
          <div class="row mt-4">
            <div class="col-lg-6 mb-3">
              <label class="text-muted mb-2">Nama Lengkap</label>
              <input
                name="name"
                class="form-control __form-control __text-primary"
                :class="errors.name && 'border-danger'"
                @input="errors.name = ''"
                v-model="formValue.name"
              />
              <span class="text-danger" v-if="errors.name" v-html="errors.name"></span>
            </div>
            <div class="col-lg-6 mb-3">
              <label class="text-muted mb-2">Alamat Email</label>
              <input
                name="email"
                class="form-control __form-control __text-primary"
                :class="errors.email && 'border-danger'"
                @input="errors.email = ''"
                v-model="formValue.email"
              />
              <span class="text-danger" v-if="errors.email" v-html="errors.email"></span>
            </div>
            <div class="col-lg-6 mb-3">
              <label class="text-muted mb-2">Nomor Telepon</label>
              <input
                name="phone"
                class="form-control __form-control __text-primary"
                :class="errors.phone && 'border-danger'"
                @input="errors.phone = ''"
                v-model="formValue.phone"
              />
              <span class="text-danger" v-if="errors.phone" v-html="errors.phone"></span>
            </div>
            <div class="col-lg-6 mb-3">
              <label class="text-muted mb-2">Jabatan</label>
              <input
                name="role"
                class="form-control __form-control __text-primary"
                :class="errors.role && 'border-danger'"
                @input="errors.role = ''"
                v-model="formValue.role"
              />
              <span class="text-danger" v-if="errors.role" v-html="errors.role"></span>
            </div>

            <!-- <div class="col-md-5 mb-4">
              <label for="validationCustom01" class="fw-bold">Surat Permohonan</label>
              <input
                type="file"
                class="form-control"
                id="validationCustom01"
                @change="handleFileUpload($event)"
                placeholder="Upload surat permohonan"
                required
              />
            </div>
            <div class="col-md-5 mb-4">
              <button
                type="button"
                class="btn mt-4"
                style="border: 1.5px solid var(--primary-color)"
              >
                <i class="fa-solid fa-download pe-2"></i> Format Surat Permohonan
              </button>
            </div> -->
          </div>

          <hr class="border" />

          <div class="row">
            <div class="col-lg-3">
              <button type="button" class="btn py-3 px-5 border me-3 w-100">Batal</button>
            </div>

            <div class="col-lg-3">
              <button
                :disabled="loading"
                type="button"
                class="btn py-3 px-5 w-100"
                style="background-color: var(--primary-color); color: white"
                @click.prevent="submitForm()"
              >
                <div class="d-flex gap-3 align-items-center justify-content-center">
                  <div
                    class="animate__animated animate__faster animate__fadeInRight mt-1"
                    v-if="loading"
                  >
                    <div class="spinner-border text-white" role="status"></div>
                  </div>
                  <span>Tambah Akun</span>
                </div>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import Navbar from "@/v2/components/Navbar";
import Sidebar from "@/v2/components/Sidebar";

export default {
  components: { Sidebar, Navbar },
  data() {
    return {
      loading: false,
      document: "",
      formValue: {
        name: "",
        email: "",
        phone: "",
        role: "",
      },
      errors: {
        name: "",
        email: "",
        phone: "",
        role: "",
      },
    };
  },

  methods: {
    changePasswordType() {
      this.password.type = this.password.type === "password" ? "text" : "password";
      this.password.icon = this.password.icon === "fa-eye" ? "fa-eye-slash" : "fa-eye";
    },

    handleFileUpload(event) {
      this.document = event.target.files[0];
    },

    loadAccount() {
      const id = this.$route.params.id;
      axios
        .get(`/api/v1/buyer/account-management/${id}`, {
          headers: {
            Authorization: "Bearer " + localStorage.getItem("token"),
          },
        })
        .then((res) => {
          this.formValue = res.data.data;
          this.loading = false;
        })
        .catch((err) => {
          console.log(err);
        });
    },

    submitForm() {
      const id = this.$route.params.id;
      this.loader = this.$loading.show();

      let formData = new FormData();
      formData.append("document", this.document);
      formData.append("name", this.formValue.name);
      formData.append("email", this.formValue.email);
      formData.append("phone", this.formValue.phone);
      formData.append("role", this.formValue.role);

      axios
        .post(`/api/v1/buyer/account-management/${id}`, formData, {
          headers: {
            "Content-Type": "multipart/form-data",
            Authorization: "Bearer " + localStorage.getItem("token"),
          },
        })
        .then((res) => {
          const imgSuccess = require("@/v2/assets/images/success/mailbox-rafiki.png");
          this.$swal({
            confirmButtonText: "Kembali",
            customClass: {
              actions: "w-100",
              confirmButton: "btn __btn-primary w-100 mx-5 py-3 mt-3 mb-3",
            },
            html: `
                <img src="${imgSuccess}" />
                <div class="text-dark fw-bold fs-4">Berhasil</div>
                <div class="text-muted mt-3">${res.data.message}</div>
            `,
          }).then(() => {
            this.$router.push({ path: "/dashboard/manajemen-akun" });
          });
        })
        .catch((err) => {
          if (err.response.status == 422) {
            this.errors = err.response.data.errors;
          } else {
            const imgError = require("@/v2/assets/images/error/validation-error.png");
            this.$swal({
              confirmButtonText: "Kembali",
              customClass: {
                actions: "w-100",
                confirmButton: "btn __btn-primary w-100 mx-5 py-3 mt-3 mb-3",
              },
              html: `
                    <img src="${imgError}" />
                    <div class="text-dark fw-bold fs-4">Gagal</div>
                    <div class="text-muted mt-3">${err.response.data.message}</div>
                `,
            });
          }
        })
        .then(() => this.loader.hide());
    },
  },

  mounted() {
    this.loadAccount();
  },
};
</script>
