<template>
  <Navbar />

  <div class="container-fluid">
    <div class="row position-relative" style="margin-left: 0">
      <div
        class="bg-light position-absolute col-lg-9 offset-3 ps-4 py-2 d-flex align-items-center gap-3 __text-primary justify-content-between"
        style="z-index: 100"
      >
        <div class="fs-5 fw-semibold w-50">Management Akun</div>

        <div class="d-flex gap-3 align-items-center w-50 justify-content-end">
          <!-- <input
            v-model="searchingProduct"
            type="text"
            placeholder="Cari produk"
            class="form-control __form-control bg-light text-dark"
            style="width: 65%; height: 40px"
          /> -->
          <router-link
            to="/dashboard/tambah-akun"
            class="btn __btn-primary"
            style="width: 35%"
          >
            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M6 12H18"
                stroke="white"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M12 18V6"
                stroke="white"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
            Tambah Akun
          </router-link>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-3">
        <Sidebar />
      </div>

      <div class="ps-4 col-lg-9">
        <div class="mt-5 py-3">
          <div class="col-lg-12">
            <b-skeleton-wrapper :loading="loading">
              <template #loading>
                <table class="table">
                  <thead class="bg-light text-muted">
                    <tr>
                      <th><b-skeleton></b-skeleton></th>
                      <th><b-skeleton></b-skeleton></th>
                      <th><b-skeleton></b-skeleton></th>
                      <th><b-skeleton></b-skeleton></th>
                      <th><b-skeleton></b-skeleton></th>
                      <th style="width: 5%"><b-skeleton></b-skeleton></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="i in 10">
                      <td><b-skeleton></b-skeleton></td>
                      <td><b-skeleton></b-skeleton></td>
                      <td><b-skeleton></b-skeleton></td>
                      <td><b-skeleton></b-skeleton></td>
                      <td><b-skeleton></b-skeleton></td>
                      <td><b-skeleton></b-skeleton></td>
                    </tr>
                  </tbody>
                </table>

                <div class="d-flex align-items-center justify-content-between">
                  <b-skeleton style="width: 125px; height: 25px"></b-skeleton>
                  <b-skeleton style="width: 25px; height: 25px"></b-skeleton>
                  <b-skeleton style="width: 125px; height: 25px"></b-skeleton>
                </div>
              </template>
              <table class="table" style="font-size: 14px">
                <thead class="bg-light text-muted">
                  <tr>
                    <th width="40%">NAMA LENGKAP</th>
                    <th width="30%">EMAIL</th>
                    <th width="20%">STATUS</th>
                    <th>AKSI</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    v-if="accounts.length"
                    v-for="account in accounts"
                    v-bind:key="account"
                    class="align-middle fs-6"
                  >
                    <td class="text-start">{{ account.name }}</td>
                    <td>{{ account.email }}</td>
                    <td>{{ account.status ? "Aktif" : "Tidak Aktif" }}</td>
                    <td>
                      <div class="dropdown">
                        <div
                          class="cursor-pointer"
                          type="button"
                          id="dropdownMenuButton"
                          data-bs-toggle="dropdown"
                          aria-haspopup="true"
                          aria-expanded="false"
                        >
                          <svg
                            width="24"
                            height="25"
                            viewBox="0 0 24 25"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <path
                              d="M5 10.3333C3.9 10.3333 3 11.2333 3 12.3333C3 13.4333 3.9 14.3333 5 14.3333C6.1 14.3333 7 13.4333 7 12.3333C7 11.2333 6.1 10.3333 5 10.3333Z"
                              stroke="#232933"
                              stroke-width="1.5"
                            />
                            <path
                              d="M19 10.3333C17.9 10.3333 17 11.2333 17 12.3333C17 13.4333 17.9 14.3333 19 14.3333C20.1 14.3333 21 13.4333 21 12.3333C21 11.2333 20.1 10.3333 19 10.3333Z"
                              stroke="#232933"
                              stroke-width="1.5"
                            />
                            <path
                              d="M12 10.3333C10.9 10.3333 10 11.2333 10 12.3333C10 13.4333 10.9 14.3333 12 14.3333C13.1 14.3333 14 13.4333 14 12.3333C14 11.2333 13.1 10.3333 12 10.3333Z"
                              stroke="#232933"
                              stroke-width="1.5"
                            />
                          </svg>
                        </div>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <router-link
                            :to="'/dashboard/manajemen-akun/' + account.id"
                            class="dropdown-item py-2 __text-primary d-flex gap-3"
                          >
                            <svg
                              width="24"
                              height="24"
                              viewBox="0 0 24 24"
                              fill="none"
                              xmlns="http://www.w3.org/2000/svg"
                            >
                              <path
                                d="M13.2601 3.59997L5.0501 12.29C4.7401 12.62 4.4401 13.27 4.3801 13.72L4.0101 16.96C3.8801 18.13 4.7201 18.93 5.8801 18.73L9.1001 18.18C9.5501 18.1 10.1801 17.77 10.4901 17.43L18.7001 8.73997C20.1201 7.23997 20.7601 5.52997 18.5501 3.43997C16.3501 1.36997 14.6801 2.09997 13.2601 3.59997Z"
                                stroke="#4C2A86"
                                stroke-width="1.5"
                                stroke-miterlimit="10"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                              />
                              <path
                                d="M11.8899 5.05005C12.3199 7.81005 14.5599 9.92005 17.3399 10.2"
                                stroke="#4C2A86"
                                stroke-width="1.5"
                                stroke-miterlimit="10"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                              />
                              <path
                                d="M3 22H21"
                                stroke="#4C2A86"
                                stroke-width="1.5"
                                stroke-miterlimit="10"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                              />
                            </svg>
                            <div>Edit</div>
                          </router-link>
                          <router-link
                            to="/dashboard/manajemen-akun"
                            @click.prevent="deleteAccount(account.id)"
                            class="dropdown-item py-2 __bg-danger-no-hover d-flex gap-3"
                          >
                            <svg
                              width="24"
                              height="24"
                              viewBox="0 0 24 24"
                              fill="none"
                              xmlns="http://www.w3.org/2000/svg"
                            >
                              <path
                                d="M9 22H15C20 22 22 20 22 15V9C22 4 20 2 15 2H9C4 2 2 4 2 9V15C2 20 4 22 9 22Z"
                                stroke="#F44336"
                                stroke-width="1.5"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                              />
                              <path
                                d="M17.9001 9.04997C15.7201 8.82997 13.5201 8.71997 11.3301 8.71997C10.0301 8.71997 8.73009 8.78997 7.44009 8.91997L6.1001 9.04997"
                                stroke="#F44336"
                                stroke-width="1.5"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                              />
                              <path
                                d="M9.71021 8.38994L9.8502 7.52994C9.9502 6.90994 10.0302 6.43994 11.1402 6.43994H12.8602C13.9702 6.43994 14.0502 6.92994 14.1502 7.52994L14.2902 8.37994"
                                stroke="#F44336"
                                stroke-width="1.5"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                              />
                              <path
                                d="M16.49 9.12988L16.06 15.7299C15.99 16.7599 15.93 17.5599 14.1 17.5599H9.89C8.06 17.5599 7.99999 16.7599 7.92999 15.7299L7.5 9.12988"
                                stroke="#F44336"
                                stroke-width="1.5"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                              />
                            </svg>
                            <div>Hapus</div>
                          </router-link>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr v-else>
                    <td class="text-center py-3" colspan="5">Belum ada data</td>
                  </tr>
                </tbody>
              </table>
            </b-skeleton-wrapper>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import Navbar from "@/v2/components/Navbar";
import Sidebar from "@/v2/components/Sidebar";

export default {
  components: {
    Sidebar,
    Navbar,
  },

  data() {
    return {
      loading: true,
      accounts: {},
    };
  },

  methods: {
    getAccounts() {
      axios
        .get("/api/v1/buyer/account-management", {
          headers: {
            Authorization: "Bearer " + localStorage.getItem("token"),
          },
        })
        .then((res) => {
          this.accounts = res.data.data;
          this.loading = false;
        })
        .catch((err) => {
          console.log(err);
        });
    },

    deleteAccount(id) {
      this.$swal({
        title: "Are you sure?",
        text: "You won't be able to revert this!",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Yes, delete it!",
      }).then((result) => {
        if (result.isConfirmed) {
          axios
            .delete(`/api/v1/buyer/account-management/${id}`, {
              headers: {
                Authorization: "Bearer " + localStorage.getItem("token"),
              },
            })
            .then((res) => {
              this.getAccounts();
            })
            .catch((err) => {
              console.log(err);
            });
        }
      });
    },
  },

  mounted() {
    this.getAccounts();
  },
};
</script>

<style scope>
.delete-icon {
  cursor: pointer;
}
</style>
