<template>
    <Navbar />
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <Sidebar />
            </div>
            <div class="col-lg-9  section-product my-5">
                <h6>Tambah Produk Baru</h6>
                <form @submit.prevent="submit">
                    <div class="row my-4 ">
                        <div class="col-lg-6 mb-3">
                            <div>
                                <label for="">Pilih Komoditas Produk</label>
                                <select v-model="product.komoditas" class="__form-select form-select"
                                    @change="categoryChange($event)">
                                    <option value="barang">Barang</option>
                                    <option value="jasa">Jasa</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-lg-6 mb-3">
                            <div>
                                <label for="">Pilih Kategori</label>
                                <select v-model="product.id_categories" class="__form-select form-select form-select-sm"
                                    @change="category(product.id_categories)">
                                    <option :value="item.id" v-for="item in kategori" v-bind:key="item">{{ item.name }}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <!-- <div class="col-lg-6 mb-3">
                            <div>
                                <label for="">Pilih Sub Kategori</label>
                                <select v-model="product.id_sub_categories" class="__form-select form-select-sm" id="">
                                    <option :value="item.id" v-for="item in sub_kategori" v-bind:key="item">{{ item.name
                                    }}
                                    </option>
                                </select>
                            </div>
                        </div> -->

                        <div class="col-lg-12 mb-3">
                            <div>
                                <label for="">Nama Produk</label>
                                <input v-model="product.title" class="__form-select form-control-sm" id=""
                                    placeholder="Ketik nama produk">
                            </div>
                        </div>

                        <div class="col-lg-6 mb-3">
                            <div>
                                <label for="">Satuan</label>
                                <select v-model="product.satuan" class="__form-select form-select-sm" id="">
                                    <option :value="item" v-for="item in satuanData" v-bind:key="item">{{ item }}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-6 mb-3">
                            <div>
                                <label for="">Stok Produk</label>
                                <input name="" type="number" v-model="product.stok" class="__form-select form-select-sm"
                                    id="">
                            </div>
                        </div>
                        <div class="col-lg-12 mb-3">
                            <div>
                                <label for="">Deskripsi Produk</label>
                                <textarea name="" v-model="product.deskripsi" class="__form-select form-control-sm"
                                    id="" placeholder="Ketik nama produk" rows="5"></textarea>
                            </div>
                        </div>

                        <div class="col-lg-8 mb-3">
                            <div>
                                <label for="">Garansi</label>
                                <select v-model="product.garansi" class="__form-select form-select-sm" id="">
                                    <option :value="item" v-for="item in garansiData" v-bind:key="item">
                                        {{ item }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-2 mb-3">
                            <div>
                                <label for="">Berat (gram)</label>
                                <input :disabled="product.komoditas == 'jasa'" v-model="product.berat"
                                    class="__form-select form-control-sm" id="" placeholder="Ketik Angka">
                            </div>
                        </div>

                        <h6>Harga Produk</h6>
                        <div class="col-lg-12 mb-3">
                            <table class="table table-bordered __table-harga">
                                <thead>
                                    <tr>
                                        <th>Harga Pemasok</th>
                                        <th>Biaya Layanan</th>
                                        <th>Harga Ditampilkan</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td> <input v-model="product.price" type="number"
                                                class="__form-select form-control-sm" id=""
                                                placeholder="Ketik Harga Jual">
                                        </td>
                                        <td>
                                            <span class="text-center" style="color:#B0B0B0"
                                                v-if="!product.price"></span>
                                            <span v-else>
                                                Rp {{ (product.price * (percentage /
                                                100)).toString().replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g,
                                                "$1\.")











                                                }}
                                            </span>
                                        </td>
                                        <td>
                                            <span class="text-center" style="color:#B0B0B0" v-if="!product.price">Harga
                                                Pemasok + Biaya
                                                Layanan</span>
                                            <span v-else>Rp {{ (product.price + (product.price *
                                            (percentage /
                                            100))).toString().replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")











                                            }}</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <span style="color:#FFA200;font-weight:400;font-size:14px;">Keterangan : Dalam hal terjadi
                                perubahan harga
                                barang pada
                                permintaan RFQ, maka biaya
                                layanan yang
                                dikenakan sesuai dengan harga barang pada permintaan pesanan</span>
                        </div>

                        <div class="col-lg-12 mb-3">
                            <h6>Gambar Produk</h6>
                            <span style="font-weight:300;font-size:14px;">Format gambar .jpg .jpeg .png dan ukuran
                                minimum
                                300 x 300 px
                                (Untuk gambar optimal
                                gunakan ukuran minimum 700 x 700 px). Gunakan foto yang baik dan jelas, usahakan untuk
                                menggunakan background putih untuk Gambar Utama, Hindari penambahan teks atau watermark
                                pada
                                foto produk.</span>

                            <input type="file" @change="onFileChange" class="form-control my-4" multiple>

                            <h6>Gambar yang ditampilkan :</h6>
                            <div class="row mb-3">
                                <div class="col-lg-3 col-6 mb-3" v-for="(image) in show_images" v-bind:key="image">
                                    <!-- <div>
                                                                    <img class="preview" :ref="'image '" />
                                                                </div> -->
                                    <img class="preview img-fluid" :src="image.image" />
                                    <button type="button" class="btn btn-danger btn-sm w-100"
                                        @click.prevent="deleteShowImage(image.id)">
                                        Hapus Foto
                                    </button>
                                </div>
                            </div>

                            <h6 v-if="images.length">Gambar baru :</h6>
                            <div class="row">
                                <div class="col-lg-3 col-6 mb-3" v-for="(image, key) in images" v-bind:key="key">
                                    <img class="preview img-fluid" v-bind:ref="'image' +parseInt( key )" src="" />
                                    <button type="button" class="btn btn-danger btn-sm w-100" @click="deleteImage(key)">
                                        Hapus Foto
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12 mt-4">
                            <div class="row justify-content-center">
                                <div class="col-lg-4">
                                    <button type="submit" class="btn __btn-primary w-100" :disabled="loading">
                                        <span v-if="!loading">Update Produk</span>

                                        <span class="spinner-border text-light" role="status" v-else></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</template>

<script>
import axios from 'axios';
import Sidebar from '../../component/Sidebar.vue';
import Navbar from '@/v2/components/Navbar.vue';
export default {
    data() {
        return {
            user: [],
            percentage: 20,
            product: {
                komoditas: "",
                id_categories: "",
                id_sub_categories: "",
                satuan: "",
                title: "",
                deskripsi: "",
                garansi: "",
                berat: "",
                stok: "",
                info_stok: "",
                price: "",
                biaya_layanan: "",
                harga_ditampilkan: "",
            },
            images: [],
            satuanData: ["Biji", "Buah", "Butir Box", "Butir", "Box", "Galon", "Gram", "Gros", "Kantong", "Karton", "Kilogram", "Kodi", "Kotak", "Lembar", "Liter", "Lump Sum", "Lusin", "Ons", "Pak", "Paket", "Pasang", "Porsi", "Rantai", "Rim", "Set", "Ton", "Unit", "Kubik", "Per Malam", "Per Orang", "Per Jam", "Per Hari"],
            garansiData: ['Tanpa Garansi', 'Garansi Distributor', 'Garansi Resmi', 'Garansi Internasional', 'Garansi Toko'],
            kategori: [],
            sub_kategori: [],
            token: localStorage.getItem("token"),
            loading: false,
            show_images: [],
        };
    },
    mounted() {
        axios.get("/api/user", {
            headers: {
                'Authorization': 'Bearer ' + this.token
            }
        }).then((resp) => {
            this.user = resp.data;
        }).catch((err) => {
            if (err.response.status === 401) {
                localStorage.clear();
            }
        })
        axios.get("/api/v1/product/category").then((resp) => {
            this.kategori = resp.data.data;
        });

        axios.get("/api/v1/product/" + this.$route.params.id).then((resp) => {
            this.product = resp.data.data;
        })


        axios.get("/api/v1/product/image/" + this.$route.params.id).then((resp) => {
            this.show_images = resp.data.data;
        })
    },
    methods: {
        categoryChange(e) {
            this.product.id_categories = "";
            this.product.berat = 0;

            axios.get("/api/v1/product/category", {
                params: {
                    type: e.target.value
                }
            }).then((resp) => {
                this.kategori = resp.data.data;
            });
        },
        deleteShowImage(id) {
            this.$swal({
                icon: 'question',
                title: 'Apakah anda yakin ingin menghapus gambar produk?',
                showDenyButton: false,
                showCancelButton: true,
                confirmButtonText: 'Ya, Hapus',
                cancelButtonText: `Batalkan`,
            }).then((result) => {
                /* Read more about isConfirmed, isDenied below */
                if (result.isConfirmed) {
                    axios.delete("/api/v1/product/image/delete/" + id, {
                        headers: {
                            'Authorization': 'Bearer ' + this.token,
                        }
                    }).then((resp) => {
                        this.$swal(resp.data.message, '', 'success')
                        axios.get("/api/v1/product/image/" + this.$route.params.id).then((resp) => {
                            this.show_images = resp.data.data;
                        })
                    });
                }
            })
        },
        category(id) {
            axios.get("/api/v1/product/category/" + id).then((resp) => {
                this.sub_kategori = resp.data.data;
            });
        },

        // onFileChange(e) {
        //     var selectedFiles = e.target.files;
        //     for (var i = 0; i < selectedFiles.length; i++) {
        //         this.images.push(selectedFiles[i]);
        //     }

        //     for (var i = 0; i < this.images.length; i++) {
        //         let reader = new FileReader();
        //         reader.readAsDataURL(this.images[i]);
        //     }
        // },
        deleteImage(key) {
            this.images.splice(this.images.indexOf(key), 1);
        },
        onFileChange(e) {
            var selectedFiles = e.target.files;
            for (var i = 0; i < selectedFiles.length; i++) {
                this.images.push(selectedFiles[i]);
            }

            for (var i = 0; i < this.images.length; i++) {
                let reader = new FileReader(); //instantiate a new file reader
                reader.addEventListener('load', function () {
                    this.$refs['image' + parseInt(i - 1)][0].src = reader.result;
                }.bind(this), false);  //add event listener

                reader.readAsDataURL(this.images[i]);
            }
        },

        async submit() {
            this.loading = true;

            // if (this.images) {
            //     let formData = new FormData();
            //     for (var index = 0; index < this.images.length; index++)
            //         formData.append('file[]', this.images[index]);


            //     var images = await axios.post("/api/upload-multiple", formData, {
            //         headers: {
            //             'Content-Type': 'multipart/form-data',
            //         }
            //     });
            // }



            // const obj = JSON.stringify({
            //     komoditas: this.product.komoditas,
            //     id_categories: this.product.id_categories,
            //     id_sub_categories: this.product.id_sub_categories,
            //     title: this.product.title,
            //     berat: this.product.berat,
            //     info_stok: this.product.info_stok,
            //     // stok: this.product.info_stok === 'Selalu Tersedia' || this.product.info_stok === 'Tidak Tersedia' ? 0 : this.product.stok,
            //     stok: this.product.stok,
            //     deskripsi: this.product.deskripsi,
            //     garansi: this.product.garansi,
            //     satuan: this.product.satuan,
            //     price: this.product.price,
            //     biaya_layanan: parseInt(this.product.price) / 100,
            //     show_price: parseInt(this.product.price) + (parseInt(this.product.price) / 100),
            //     // image: this.images ? images.data.file_url : "",
            //     variasi: false,
            // });
            let formData = new FormData();
            for (var index = 0; index < this.images.length; index++) {
                formData.append('image[]', this.images[index])
            }
            formData.append('komoditas', this.product.komoditas);
            formData.append('id_categories', this.product.id_categories);
            // formData.append('id_sub_categories', this.product.id_sub_categories);
            formData.append('title', this.product.title);

            if(this.product.berat > 0) {
                formData.append('berat', this.product.berat);
            }

            formData.append('info_stok', this.product.info_stok);
            formData.append('stok', this.product.stok);
            formData.append('deskripsi', this.product.deskripsi);
            formData.append('garansi', this.product.garansi);
            formData.append('satuan', this.product.satuan);
            formData.append('price', this.product.price);
            formData.append('biaya_layanan', parseInt(this.product.price * (this.percentage / 100)));
            formData.append('show_price', parseInt(this.product.price) + (parseInt(this.product.price) * (this.percentage / 100)));
            // formData.append('variasi', false);
            formData.append('info_stok', "-");

            axios.post("/api/v1/product/update/" + this.$route.params.id, formData, {
                headers: {
                    'Authorization': 'Bearer ' + this.token,
                    'Content-Type': 'multipart/form-data',
                }
            }).then((resp) => {
                this.loading = false;
                this.$swal({
                    icon: 'success',
                    title: resp.data.message
                }).then(() => {
                    this.$router.push({ path: '/dashboard/produk' })
                });
            }).catch((err => {
                this.loading = false;
                this.$swal({
                    icon: 'error',
                    title: err.response.data.message
                });
            }))

            // .then((resp => {
            //     this.loading = false;
            //     this.$swal({
            //         icon: 'success',
            //         title: resp.data.message
            //     });
            // })).catch((err => {
            //     this.loading = false;
            //     this.$swal({
            //         icon: 'error',
            //         title: err.response.data.message
            //     });
            // }))
        },
    },
    components: { Sidebar, Navbar }
}
</script>


<style scope>
.section-product label {
    font-size: 14px;
    font-weight: 500;
}

.__table-harga thead {
    background-color: #F5F5F5;
    border: 1px solid #B0B0B0;
}

.__table-harga thead tr th {
    color: var(--primary-color);
    font-weight: 500;
    font-size: 15px;
    text-align: center;
}

.__table-harga tbody tr td {
    font-size: 15px;
    text-align: center;
}
</style>
