<template>
    <Navbar />
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <Sidebar />
            </div>
            <!-- <div class="col-lg-9 my-3">
                <div class="row">
                    <div class="col-lg-12">
                        <h6>Produk Jualan</h6>

                        <table class="table table-bordered __table-pesanan">
                            <thead>
                                <tr>
                                    <th>Nomor Permintaan</th>
                                    <th>Tanggal Permintaan</th>
                                    <th>Nama Pembeli</th>
                                    <th>Total Transaksi</th>
                                    <th>Status Pesanan</th>
                                    <th>Aksi</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="item in pesanan" v-bind:key="item">
                                    <td>{{ item.no_pesanan }}</td>
                                    <td>{{ item.created_at }}</td>
                                    <td>{{ item.pembeli && item.pembeli.name }}</td>
                                    <td>Rp. {{ item.total_pembayaran.toString().replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g,
                                            "$1\.")
                                    }}</td>
                                    <td><span class="badge __badge-primary">{{ item.status }}</span></td>
                                    <td>
                                        <router-link :to="'/penjual/pesanan-langsung/' + item.id"
                                            class="btm __btn-primary" style="background-color:#EFDD00!important">
                                            <img :src="require('@/assets/images/icon/edit.svg')" alt="">
                                        </router-link>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div> -->
            <div class="col-lg-9 my-3">
                <div class="row">
                    <div class="col-lg-12 my-3">
                        <div class="row align-items-center justify-content-between">
                            <div class="col-md-5 text-start">
                                <h6>Produk</h6>
                            </div>
                            <div class="col-md-5 text-end">
                                <router-link to="/dashboard/tambah-produk" class="btn btn-success btn-sm"> Tambah Produk
                                </router-link>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <table class="table table-bordered __table-pesanan">
                            <thead>
                                <tr class="text-center">
                                    <th>Thumbnail</th>
                                    <th>Nama Produk</th>
                                    <th>Stok</th>
                                    <th>Price</th>
                                    <th>Aksi</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-if="produk.length" v-for="item in produk" v-bind:key="item">
                                    <td><img :src="item.image[0]" width="80"></td>
                                    <td class="text-start">{{ item.title }}</td>
                                    <td>{{ item.stok }}</td>
                                    <td>Rp. {{ item.show_price.toString().replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g,"$1\.")}}</td>
                                    <td>
                                        <router-link :to="'/dashboard/edit-produk/' + item.id" class="btm __btn-primary p-1" style="background-color:var(--primary-color)!important">
                                            <!-- <img :src="require('@/assets/images/icon/edit.svg')" alt=""> -->
                                            <i class="fa-solid fa-edit"></i>
                                        </router-link>
                                        <button @click.prevent="deleteProduk(item.id)" class="btm __btn-primary p-1 ms-2" style="background-color:var(--primary-color)!important">
                                            <!-- <img :src="require('@/assets/images/icon/edit.svg')" alt=""> -->
                                            <i class="fa-solid fa-trash-can"></i>
                                        </button>
                                    </td>
                                </tr>

                                <b-skeleton-wrapper :loading="loading">
                                    <template #loading>
                                        <tr>
                                            <td><b-skeleton height="100%"></b-skeleton></td>
                                            <td><b-skeleton height="100%"></b-skeleton></td>
                                            <td><b-skeleton height="100%"></b-skeleton></td>
                                            <td><b-skeleton height="100%"></b-skeleton></td>
                                            <td><b-skeleton height="100%"></b-skeleton></td>
                                        </tr>
                                    </template>

                                    <tr v-if="!produk.length">
                                        <td class="text-center" colspan="6">Data Kosong</td>
                                    </tr>
                                </b-skeleton-wrapper>
                            </tbody>
                        </table>

                        <div class="col-12 mb-3 text-center" v-show="isShowButtonLoadMore">
                            <button class="btn __btn-primary px-5" @click.prevent="getProducts()">
                                Load More
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
import Navbar from '@/v2/components/Navbar.vue';

import axios from "axios";
import Sidebar from '../../component/Sidebar.vue';
export default {
    name: "Produk",
    components: {
        Sidebar,
        Navbar,
    },

    data() {
        return {
            loading: true,
            page: 1,
            isShowButtonLoadMore: false,
            token: localStorage.getItem("token"),
            produk: [],
        }
    },

    methods: {
        deleteProduk(id) {
            this.$swal({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {

                axios.delete("/api/v1/product/delete/" + id, {
                    headers: {
                        'Authorization': 'Bearer ' + this.token,
                    }
                }).then((resp) => {
                    if (result.isConfirmed) {
                        this.$swal(
                            'Deleted!',
                            'Your product has been deleted.',
                            'success'
                        )
                    }

                    axios.get("/api/v1/product/user/prod", {
                        headers: {
                            'Authorization': 'Bearer ' + this.token,
                        }
                    }).then((resp) => {
                        this.produk = resp.data.data;
                    })
                });
            })
        },

        getProducts(reset = false) {
            this.loading = true;
            axios.get(`/api/v1/product/user/prod?page=${this.page}`, {
                headers: {
                    'Authorization': 'Bearer ' + this.token,
                }
            }).then((resp) => {
                const data = resp.data
                if(reset) {
                    this.produk = data.data;
                } else {
                    this.produk.push(...data.data)
                }

                this.loading = false;
                this.isShowButtonLoadMore = resp.data.meta.current_page !== resp.data.meta.total_pages;
                this.page = data.meta.current_page + 1;
            })
        }
    },

    mounted() {
        this.getProducts(true)
    },
}
</script>


<style scope>
.__table-pesanan {
    border: 1px solid #B0B0B0;
}

.__table-pesanan thead {
    background-color: #F5F5F5;
    color: var(--primary-color);
    text-align: center;


    font-size: 14px
}

.__table-pesanan thead th {
    font-weight: 500;
}

.__table-pesanan tbody td {
    font-size: 13px;
    vertical-align: middle;
    text-align: center;
}
</style>
