<template>
    <Navbar />
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <Sidebar />
            </div>
            <div class="col-lg-9  section-product my-5">
                <h6>Tambah Produk Baru</h6>
                <form @submit.prevent="submit">
                    <div class="row my-4 ">
                        <div class="col-lg-6 mb-3">
                            <div>
                                <label for="">Pilih Komoditas Produk</label>
                                <select v-model="product.komoditas" class="__form-select form-select"
                                    @change="categoryChange($event)">
                                    <option value="barang">Barang</option>
                                    <option value="jasa">Jasa</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-lg-6 mb-3">
                            <div>
                                <label for="">Pilih Kategori</label>
                                <select v-model="product.kategori" class="__form-select form-select form-select-sm"
                                    @change="category(product.kategori)">
                                    <option :value="item.id" v-for="item in kategori" v-bind:key="item">{{ item.name }}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <!-- <div class="col-lg-6 mb-3">
                            <div>
                                <label for="">Pilih Sub Kategori</label>
                                <select v-model="product.sub_kategori" class="__form-select form-select-sm" id="">
                                    <option :value="item.id" v-for="item in sub_kategori" v-bind:key="item">{{ item.name
                                    }}
                                    </option>
                                </select>
                            </div>
                        </div> -->

                        <div class="col-lg-12 mb-3">
                            <div>
                                <label for="">Nama Produk</label>
                                <input v-model="product.nama_produk" class="__form-select form-control-sm" id=""
                                    placeholder="Ketik nama produk">
                            </div>
                        </div>

                        <div class="col-lg-6 mb-3">
                            <div>
                                <label for="">Satuan</label>
                                <select v-model="product.satuan" class="__form-select form-select-sm" id="">
                                    <option :value="item" v-for="item in satuanData" v-bind:key="item">{{ item }}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-6 mb-3">
                            <div>
                                <label for="">Stok Produk</label>
                                <input v-model="product.stok" type="number" class="__form-select form-control-sm" id=""
                                    placeholder="Masukkan stok barang">
                                <!-- <select name="" v-model="product.info_stok" class="__form-select form-select-sm" id="">
                                    <option value="Selalu Tersedia">Selalu Tersedia</option>
                                    <option value="Tidak Tersedia">Tidak Tersedia</option>
                                </select> -->
                            </div>
                        </div>
                        <div class="col-lg-12 mb-3">
                            <div>
                                <label for="">Deskripsi Produk</label>
                                <textarea name="" v-model="product.deskripsi" class="__form-select form-control-sm"
                                    id="" placeholder="Ketik nama produk" rows="5"></textarea>
                            </div>
                        </div>

                        <div class="col-lg-8 mb-3">
                            <div>
                                <label for="">Garansi</label>
                                <select v-model="product.garansi" class="__form-select form-select-sm" id="">
                                    <option :value="item" v-for="item in garansiData" v-bind:key="item">
                                        {{ item }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-2 mb-3">
                            <div>
                                <label for="">Berat (gram)</label>
                                <input name="" v-model="product.berat" class="__form-select form-control-sm" id=""
                                    placeholder="Ketik Angka" :disabled="product.komoditas == 'jasa'">
                            </div>
                        </div>

                        <h6>Harga Produk</h6>
                        <div class="col-lg-12 mb-3">
                            <table class="table table-bordered __table-harga">
                                <thead>
                                    <tr>
                                        <th>Harga Pemasok</th>
                                        <th>Biaya Layanan</th>
                                        <th>Harga Ditampilkan</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td> <input v-model="product.price" type="number"
                                                class="__form-select form-control-sm" id=""
                                                placeholder="Ketik Harga Jual">
                                        </td>
                                        <td>
                                            <span class="text-center" style="color:#B0B0B0"
                                                v-if="!product.price"></span>
                                            <span v-else>
                                                Rp {{ (product.price * (percentage /
                                                100)).toString().replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g,
                                                "$1\.")


                                                }}
                                            </span>
                                        </td>
                                        <td>
                                            <span class="text-center" style="color:#B0B0B0" v-if="!product.price">Harga
                                                Pemasok + Biaya
                                                Layanan</span>
                                            <span v-else>Rp {{ (product.price + (product.price *
                                            (percentage /
                                            100))).toString().replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")


                                            }}</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <span style="color:#FFA200;font-weight:400;font-size:14px;">Keterangan : Dalam hal terjadi
                                perubahan harga
                                barang pada
                                permintaan RFQ, maka biaya
                                layanan yang
                                dikenakan sesuai dengan harga barang pada permintaan pesanan</span>
                        </div>

                        <div class="col-lg-12 mb-3">
                            <h6>Gambar Produk</h6>
                            <span style="font-weight:300;font-size:14px;">Format gambar .jpg .jpeg .png dan ukuran
                                minimum
                                300 x 300 px
                                (Untuk gambar optimal
                                gunakan ukuran minimum 700 x 700 px). Gunakan foto yang baik dan jelas, usahakan untuk
                                menggunakan background putih untuk Gambar Utama, Hindari penambahan teks atau watermark
                                pada
                                foto produk.</span>

                            <input type="file" @change="onFileChange" class="form-control my-4" multiple>

                            <!-- <div v-for="(image) in images" v-bind:key="image">
                                <div>
                                    <img class="preview" :ref="'image '" />
                                </div>
                            </div> -->
                            <div class="row">
                                <div class="col-lg-3 col-6 mb-3" v-for="(image, key) in images" v-bind:key="key">
                                    <img class="preview img-fluid" v-bind:ref="'image' +parseInt( key )" src="" />
                                    <button type="button" class="btn btn-danger btn-sm w-100" @click="deleteImage(key)">
                                        Hapus Foto
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12 mb-3">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="1" v-model="setuju"
                                    id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    Saya menyetujui <a
                                        href="https://drive.google.com/file/d/1JwDtl8pquP7LPtZUtUZwitUhdFokDZKg/view?usp=share_link"
                                        target="_blank" style="color:var(--primary-color)">Syarat dan
                                        Ketentuan</a> serta <a target="_blank"
                                        href="https://drive.google.com/file/d/1xMj9TC0mB6E8YpVLHkuyYJ6yb46i3-kb/view?usp=share_link"
                                        style="color:var(--primary-color)">Kebijakan
                                        Privasi</a>
                                </label>
                            </div>
                        </div>

                        <div class="col-lg-12 mt-4">
                            <div class="row justify-content-center">
                                <div class="col-lg-4">
                                    <button type="submit" class="btn __btn-primary w-100"
                                        :disabled="loading || setuju != '1'">
                                        <span v-if="!loading">Upload Produk</span>

                                        <span class="spinner-border text-light" role="status" v-else></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</template>

<script>
import axios from 'axios'
import Sidebar from '../../component/Sidebar.vue';
import Navbar from '@/v2/components/Navbar.vue';
export default {
    data() {
        return {
            user: [],
            setuju: "",
            percentage: 20,
            product: {
                komoditas: "",
                kategori: "",
                sub_kategori: "",
                satuan: "",
                nama_produk: "",
                deskripsi: "",
                garansi: "",
                berat: "",
                stok: "",
                info_stok: "",
                price: "",
                biaya_layanan: "",
                harga_ditampilkan: "",
            },
            images: [],
            satuanData: ["Biji", "Buah", "Butir Box", "Butir", "Box", "Galon", "Gram", "Gros", "Kantong", "Karton", "Kilogram", "Kodi", "Kotak", "Lembar", "Liter", "Lump Sum", "Lusin", "Ons", "Pak", "Paket", "Pasang", "Porsi", "Rantai", "Rim", "Set", "Ton", "Unit", "Kubik", "Per Malam", "Per Orang", "Per Jam", "Per Hari"],
            garansiData: ['Tanpa Garansi', 'Garansi Distributor', 'Garansi Resmi', 'Garansi Internasional', 'Garansi Toko'],
            kategori: [],
            sub_kategori: [],
            token: localStorage.getItem("token"),
            loading: false,
        };
    },
    mounted() {
        axios.get("/api/user", {
            headers: {
                'Authorization': 'Bearer ' + this.token
            }
        }).then((resp) => {
            this.user = resp.data;
        }).catch((err) => {
            if (err.response.status === 401) {
                localStorage.clear();
            }
        })
        axios.get("/api/v1/product/category").then((resp) => {
            this.kategori = resp.data.data;
        });
    },
    methods: {
        categoryChange(e) {
            this.product.kategori = "";
            axios.get("/api/v1/product/category", {
                params: {
                    type: e.target.value
                }
            }).then((resp) => {
                this.kategori = resp.data.data;
            });
        },
        deleteImage(key) {
            this.images.splice(this.images.indexOf(key), 1);
        },
        category(id) {
            axios.get("/api/v1/product/category/" + id).then((resp) => {
                this.sub_kategori = resp.data.data;
            });
        },

        onFileChange(e) {
            var selectedFiles = e.target.files;
            for (var i = 0; i < selectedFiles.length; i++) {
                this.images.push(selectedFiles[i]);
            }

            for (var i = 0; i < this.images.length; i++) {
                let reader = new FileReader(); //instantiate a new file reader
                reader.addEventListener('load', function () {
                    this.$refs['image' + parseInt(i - 1)][0].src = reader.result;
                }.bind(this), false);  //add event listener

                reader.readAsDataURL(this.images[i]);
            }
        },

        async submit() {
            this.loading = true;

            // if (this.images) {
            //     let formData = new FormData();
            //     for (var index = 0; index < this.images.length; index++)
            //         formData.append('file[]', this.images[index]);


            //     var images = await axios.post("/api/upload-multiple", formData, {
            //         headers: {
            //             'Content-Type': 'multipart/form-data',
            //         }
            //     });
            // }

            let formData = new FormData();
            for (var index = 0; index < this.images.length; index++) {
                formData.append('image[]', this.images[index])
            }
            formData.append('komoditas', this.product.komoditas);
            formData.append('kategori', this.product.kategori);
            // formData.append('sub_kategori', this.product.sub_kategori);
            formData.append('title', this.product.nama_produk);
            formData.append('berat', this.product.berat);
            formData.append('info_stok', this.product.info_stok);
            formData.append('stok', this.product.stok);
            formData.append('deskripsi', this.product.deskripsi);
            formData.append('garansi', this.product.garansi);
            formData.append('satuan', this.product.satuan);
            formData.append('price', this.product.price);
            formData.append('biaya_layanan', parseInt(this.product.price * (this.percentage / 100)));
            formData.append('show_price', parseInt(this.product.price) + (parseInt(this.product.price) * (this.percentage / 100)));
            // formData.append('variasi', false);
            formData.append('info_stok', "-");



            // const obj = JSON.stringify({
            //     komoditas: this.product.komoditas,
            //     kategori: this.product.kategori,
            //     sub_kategori: this.product.sub_kategori,
            //     title: this.product.nama_produk,
            //     berat: this.product.berat,
            //     info_stok: this.product.info_stok,
            //     stok: this.product.info_stok === 'Selalu Tersedia' || this.product.info_stok === 'Tidak Tersedia' ? 0 : this.product.stok,
            //     deskripsi: this.product.deskripsi,
            //     garansi: this.product.garansi,
            //     satuan: this.product.satuan,
            //     price: this.product.price,
            //     biaya_layanan: parseInt(this.product.price) / 100,
            //     show_price: parseInt(this.product.price) + (parseInt(this.product.price) / 100),
            //     image: this.images ? images.data.file_url : "",
            //     variasi: false,
            // });
            axios.post("/api/v1/product/store", formData, {
                headers: {
                    'Authorization': 'Bearer ' + this.token,
                    'Content-Type': 'multipart/form-data',

                }
            }).then((resp) => {
                this.loading = false;
                this.$swal({
                    icon: 'success',
                    title: resp.data.message
                });
                location.href = '/dashboard/produk';

            }).catch((err => {
                this.loading = false;
                this.$swal({
                    icon: 'error',
                    title: err.response.data.message
                });
            }))

            // .then((resp => {
            //     this.loading = false;
            //     this.$swal({
            //         icon: 'success',
            //         title: resp.data.message
            //     });
            // })).catch((err => {
            //     this.loading = false;
            //     this.$swal({
            //         icon: 'error',
            //         title: err.response.data.message
            //     });
            // }))
        },
    },
    components: { Sidebar, Navbar }
}
</script>


<style scope>
.section-product label {
    font-size: 14px;
    font-weight: 500;
}

.__table-harga thead {
    background-color: #F5F5F5;
    border: 1px solid #B0B0B0;
}

.__table-harga thead tr th {
    color: var(--primary-color);
    font-weight: 500;
    font-size: 15px;
    text-align: center;
}

.__table-harga tbody tr td {
    font-size: 15px;
    text-align: center;
}
</style>
