<template>
  <vue3-html2pdf
    :show-layout="false"
    :float-layout="true"
    :enable-download="false"
    :preview-modal="true"
    :filename="title"
    :pdf-quality="2"
    :manual-pagination="false"
    :paginate-elements-by-height="1400"
    pdf-format="legal"
    pdf-orientation="portrait"
    pdf-content-width="100%"
    ref="html2Pdf"
  >
    <template v-slot:pdf-content>
      <div class="position-relative" style="height: 35cm; margin-bottom: -10px">
        <div class="container mb-5 mt-4 text-14" style="padding: 20px 50px">
          <!-- Header Logo -->
          <div class="d-flex justify-content-between">
            <div class="text-dark">
              <img
                :src="require('@/assets/images/icon/logo.svg')"
                width="120"
                height="38"
              />
              <div class="fw-bold">PT. RUMAH UMKM INDONESIA</div>
              <div>18 Office Park Building, 21th Floor Unit C</div>
              <div>Jl. TB Simatupang Nomor 18, Jakarta Selatan</div>
              <div class="d-flex gap-2">
                <div>Hotline : 021-24104661</div>
                <div>Email : cs@beliumkm.co.id</div>
              </div>
            </div>
            <div class="d-flex gap-3">
              <img
                :src="require('@/assets/images/icon/lkpp.svg')"
                width="120"
                height="50"
              />
            </div>
          </div>

          <div style="margin-top: 50px">
            <h5 class="text-center text-dark fw-bold">SURAT JALAN PENYERAHAN BARANG</h5>
          </div>

          <!-- Informasi Umum -->
          <div class="row mt-4 align-items-start">
            <div class="col-lg-12">
              <div class="w-100 py-1">
                <div class="d-flex align-items-start justify-content-between">
                  <div style="width: 25%">Nomor Pesanan</div>
                  <div>:</div>
                  <div style="width: 74%" class="fw-bold ps-1">
                    {{ surat_jalan.nomor_pesanan }}
                  </div>
                </div>
              </div>
              <div class="w-100 py-1">
                <div class="d-flex align-items-start justify-content-between">
                  <div style="width: 25%">Tanggal Diterima</div>
                  <div>:</div>
                  <div style="width: 74%" class="fw-bold ps-1">
                    {{ formatTanggalTerima() }}
                  </div>
                </div>
              </div>
              <div class="w-100 py-1">
                <div class="d-flex align-items-start justify-content-between">
                  <div style="width: 25%">Nama Penerima</div>
                  <div>:</div>
                  <div style="width: 74%" class="fw-bold ps-1">
                    {{ surat_jalan.nama_penerima }}
                  </div>
                </div>
              </div>
              <div class="w-100 py-1">
                <div class="d-flex align-items-start justify-content-between">
                  <div style="width: 25%">Jabatan Penerima</div>
                  <div>:</div>
                  <div style="width: 74%" class="fw-bold ps-1">
                    {{ surat_jalan.jabatan_penerima }}
                  </div>
                </div>
              </div>
              <div class="w-100 py-1">
                <div class="d-flex align-items-start justify-content-between">
                  <div style="width: 25%">Telepon Penerima</div>
                  <div>:</div>
                  <div style="width: 74%" class="fw-bold ps-1">
                    {{ surat_jalan.telepon_penerima }}
                  </div>
                </div>
              </div>
              <div class="w-100 py-1">
                <div class="d-flex align-items-start justify-content-between">
                  <div style="width: 25%">Ulasan Transaksi</div>
                  <div>:</div>
                  <div style="width: 74%" class="fw-bold ps-1">
                    {{ surat_jalan.ulasan }}
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 mt-5">
            <div class="py-1 fw-bold">Dengan ini menyatakan dengan sebenar-benarnya :</div>
            <div class="py-1"><span class="me-2">1.</span> Telah menerima pesanan dalam kondisi baik, sesuai dengan yang tercantum pada Surat Pesanan.</div>
            <div class="py-1"><span class="me-2">2.</span> Menjamin ketersediaan anggaran untuk pembayaran transaksi ini.</div>
            <div class="py-1"><span class="me-2">3.</span> Tidak akan melakukan pembatalan atas transaksi pesanan ini dikemudian hari.</div>
          </div>
        </div>

        <div class="text-center w-100 py-2 text-muted position-absolute bottom-0">
          Transaksi ini dilakukan secara e-purchasing melalui platform BeliUMKM <br />yang
          terdapat pada toko daring LKPP
          <div class="mt-3 __bg-primary py-2">www.beliumkm.co.id</div>
        </div>
      </div>
    </template>
  </vue3-html2pdf>
</template>

<script>
import Vue3Html2pdf from "vue3-html2pdf";
import dayjs from "dayjs";
import id from "dayjs/locale/id";

export default {
  components: {
    Vue3Html2pdf,
  },

  props: {
    title: {
      type: String,
      default: false,
    },

    surat_jalan: {
      type: Object,
      default: false,
    },
  },

  data() {
    return {
      user_role: localStorage.getItem("user_role"),
      number: 1,
    };
  },

  methods: {
    generateReport() {
      this.$refs.html2Pdf.generatePdf();
    },

    formatTanggalTerima() {
      const date = dayjs(this.surat_jalan.tanggal_diterima).locale("id");
      return date.format("DD MMMM YYYY");
    },
  },
};
</script>

<style scope>
label {
  color: black;
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 5px;
}

.text-12 {
  font-size: 12px;
}

.text-14 {
  font-size: 14px;
}

.h-150px {
  height: 150px;
}

.title {
  font-weight: 600;
  font-size: 18px;
}

.__table-pesanan {
  border: 1px solid #b0b0b0;
}

.__table-pesanan thead {
  background-color: #82c4f3;
  text-align: center;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
}

.__table-pesanan thead th {
  padding: 15px 10px;
  font-weight: 500;
}

.__table-pesanan tbody td {
  text-align: center;
  font-weight: 500;
  vertical-align: middle;
}

.prod span {
  display: block;
  margin-left: 10px;
  font-size: 14px;
  text-align: left;
  font-weight: 400;
}
</style>
