<template>
  <vue3-html2pdf
    :show-layout="false"
    :float-layout="true"
    :enable-download="false"
    :preview-modal="true"
    :filename="title"
    :pdf-quality="2"
    :manual-pagination="false"
    :paginate-elements-by-height="1400"
    pdf-format="legal"
    pdf-orientation="portrait"
    pdf-content-width="100%"
    ref="html2Pdf"
  >
    <template v-slot:pdf-content>
      <div class="position-relative" style="height: 35cm; margin-bottom: -10px">
        <div class="container mb-5 mt-4 text-14" style="padding: 20px 50px">
          <!-- Header Logo -->
          <div class="d-flex justify-content-between">
            <div class="text-dark">
              <img
                :src="require('@/assets/images/icon/logo.svg')"
                width="120"
                height="38"
              />
              <div class="fw-bold">PT. RUMAH UMKM INDONESIA</div>
              <div>18 Office Park Building, 21th Floor Unit C</div>
              <div>Jl. TB Simatupang Nomor 18, Jakarta Selatan</div>
              <div class="d-flex gap-2">
                <div>Hotline : 021-24104661</div>
                <div>Email : cs@beliumkm.co.id</div>
              </div>
            </div>
            <div class="d-flex gap-3">
              <img
                :src="require('@/assets/images/icon/lkpp.svg')"
                width="120"
                height="50"
              />
            </div>
          </div>

          <div style="margin-top: 50px">
            <h5 class="text-center text-dark fw-bold">TAGIHAN</h5>
          </div>

          <!-- Informasi Umum -->
          <div class="row mt-4 align-items-start">
            <div class="col-lg-6">
              <div class="w-100 py-1">
                <div class="d-flex align-items-center justify-content-between">
                  <div style="width: 35%">Nomor Pesanan</div>
                  <div>:</div>
                  <div style="width: 60%" class="fw-bold ps-1">
                    {{ pesanan.no_pesanan }}
                  </div>
                </div>
              </div>
              <div class="w-100 py-1">
                <div class="d-flex align-items-center justify-content-between">
                  <div style="width: 35%">Tanggal Pesanan</div>
                  <div>:</div>
                  <div style="width: 60%" class="fw-bold ps-1">
                    {{ pesanan.created_at }}
                  </div>
                </div>
              </div>
              <div class="w-100 py-1">
                <div class="d-flex align-items-center justify-content-between">
                  <div style="width: 35%">Nomor Tagihan</div>
                  <div>:</div>
                  <div style="width: 60%" class="fw-bold ps-1">
                    {{ pesanan.no_tagihan }}
                  </div>
                </div>
              </div>
              <div class="w-100 py-1">
                <div class="d-flex align-items-center justify-content-between">
                  <div style="width: 35%">Tanggal Tagihan</div>
                  <div>:</div>
                  <div style="width: 60%" class="fw-bold ps-1">
                    {{ pesanan.tanggal_tagihan }}
                  </div>
                </div>
              </div>
              <div class="w-100 py-1">
                <div class="d-flex align-items-center justify-content-between">
                  <div style="width: 35%">Status Pesanan</div>
                  <div>:</div>
                  <div style="width: 60%" class="fw-bold ps-1">
                    <span v-if="pesanan.status === 'permintaan_rfq'">
                      Permintaan RFQ
                    </span>
                    <span v-if="pesanan.status === 'proses_permintaan_rfq'">
                      Permintaan RFQ
                    </span>
                    <span v-if="pesanan.status === 'pesanan_dibuat'">
                      Permintaan Pesanan
                    </span>
                    <span v-else-if="pesanan.status === 'pesanan_terbuat'">
                      Permintaan Pesanan
                    </span>
                    <span v-else-if="pesanan.status === 'pesanan_ditolak'">
                      Ditolak Pemasok
                    </span>
                    <span v-else-if="pesanan.status === 'pesanan_diterima'">
                      Konfirmasi Terima Pesanan
                    </span>
                    <span v-else-if="pesanan.status === 'pesanan_dikomplain'">
                      Pesanan Dikomplain
                    </span>
                    <span v-else-if="pesanan.status === 'permintaan_rfq_diterima'">
                      Menunggu Persetujuan Pembeli
                    </span>
                    <span v-else-if="pesanan.status == 'permintaan_rfq_ditolak'">
                      Permintaan RFQ Ditolak Pemasok
                    </span>
                    <span v-else-if="pesanan.status == 'pesanan_selesai'">
                      Pesanan Berhasil
                    </span>
                    <span v-else> - </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="w-100 py-1">
                <div class="d-flex align-items-center justify-content-between">
                  <div style="width: 35%">Ritel Daring</div>
                  <div>:</div>
                  <div style="width: 60%" class="fw-bold ps-1">
                    PT Rumah UMKM Indonesia
                  </div>
                </div>
              </div>
              <div class="w-100 py-1">
                <div class="d-flex align-items-center justify-content-between">
                  <div style="width: 35%">Nomor NPWP</div>
                  <div>:</div>
                  <div style="width: 60%" class="fw-bold ps-1">53.601.661.1-822.000</div>
                </div>
              </div>
              <div class="w-100 py-1">
                <div class="d-flex align-items-center justify-content-between">
                  <div style="width: 35%">Nama Pemasok</div>
                  <div>:</div>
                  <div style="width: 60%" class="fw-bold ps-1">
                    {{ penjual.nama_usaha }}
                  </div>
                </div>
              </div>
              <div class="w-100 py-1">
                <div
                  class="d-flex align-items-center justify-content-between"
                  v-show="
                    jasa_products.type_jasa !== 'pesan_hotel' &&
                    jasa_products.type_jasa !== 'pesan_tiket_pesawat'
                  "
                >
                  <div style="width: 35%">Lokasi Pemasok</div>
                  <div>:</div>
                  <div style="width: 60%" class="fw-bold ps-1">
                    {{ alamat_penjual && alamat_penjual.city_name }}
                  </div>
                </div>
              </div>
              <div class="w-100 py-1">
                <div class="d-flex align-items-center justify-content-between">
                  <div style="width: 35%">Status Pembayaran</div>
                  <div>:</div>
                  <div style="width: 60%" class="fw-bold ps-1">
                    <span v-if="pesanan.payment_status === 'waiting_for_payment'">
                      Menunggu Pembayaran
                    </span>
                    <span v-else-if="pesanan.status === 'paid'"> Dibayarkan</span>
                    <span v-else-if="pesanan.status === 'cancel'"
                      >Transaksi Dibatalkan</span
                    >
                    <span v-else> - </span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Informasi Pembeli -->
          <h6 class="mt-4 title">Informasi Pembeli</h6>

          <div class="row">
            <div class="col-lg-6 mb-3">
              <div class="text-muted mb-1">Nama</div>
              <div class="p-2 border rounded" v-text="pesanan.nama_pemesan" />
            </div>
            <div class="col-lg-6 mb-3">
              <div class="text-muted mb-1">Jabatan</div>
              <div class="p-2 border rounded" v-text="pesanan.email_pemesan" />
            </div>
            <div class="col-lg-6 mb-3">
              <div class="text-muted mb-1">Telepon Pemesan</div>
              <div class="p-2 border rounded" v-text="pesanan.no_telp_pemesan" />
            </div>
            <div class="col-lg-6 mb-3">
              <div class="text-muted mb-1">Informasi Transaksi</div>
              <div class="p-2 border rounded" v-text="pesanan.untuk_keperluan" />
            </div>
            <div class="col-lg-6 mb-3">
              <div class="text-muted mb-1">Asal Instansi</div>
              <div class="p-2 border rounded h-150px" v-text="pesanan.asal_pemesan" />
            </div>
            <div class="col-lg-6 mb-3">
              <div class="text-muted mb-1">Alamat Instansi</div>
              <div class="p-2 border rounded h-150px" v-text="pesanan.alamat_pemesan" />
            </div>
          </div>

          <!-- Informasi Pembayaran -->
          <h6 class="title mt-2">Informasi Pembayaran</h6>

          <div class="row">
            <div class="col-lg-6">
              <div class="text-muted mb-1">Metode Pembayaran</div>
              <div class="p-2 border rounded" v-text="pesanan.metode_pembayaran" />
            </div>
            <div
              class="col-lg-2"
              v-if="pesanan.metode_pembayaran === 'Pembayaran Bertempo'"
            >
              <div class="text-muted mb-1">Hari</div>
              <div class="p-2 px-3 border rounded" v-text="pesanan.hari" />
            </div>
          </div>
        </div>

        <div class="text-center w-100 py-2 text-muted position-absolute bottom-0">
          Transaksi ini dilakukan secara e-purchasing melalui platform BeliUMKM <br />yang
          terdapat pada toko daring LKPP
          <div class="mt-3 __bg-primary py-2">www.beliumkm.co.id</div>
        </div>
      </div>

      <template v-if="!isJasaProduct">
        <div
          v-for="(productChunks, productChunkIndex) in sliceProductsIntoChunks()"
          :key="productChunkIndex"
          class="position-relative"
          style="height: 35cm; margin-bottom: -10px"
        >
          <div class="container mb-5 mt-4 text-14" style="padding: 20px 50px 0">
            <div class="d-flex justify-content-between">
              <div class="text-dark">
                <img
                  :src="require('@/assets/images/icon/logo.svg')"
                  width="120"
                  height="38"
                />
                <div class="fw-bold">PT. RUMAH UMKM INDONESIA</div>
                <div>Jl. Sultan Botutihe Nomor 99, Kota Gorontalo</div>
                <div>081-23456-6706</div>
                <div>cs@beliumkm.co.id</div>
              </div>
              <div class="d-flex gap-3">
                <img
                  :src="require('@/assets/images/icon/lkpp.svg')"
                  width="120"
                  height="50"
                />
              </div>
            </div>

            <table class="mt-4 w-100">
              <thead class="__bg-primary">
                <tr>
                  <th width="2%" class="border text-center py-2 px-2">NO</th>
                  <th class="border text-center py-2 px-1">
                    <template v-if="!isJasaProduct"> PRODUK </template>
                    <template v-else>
                      <template v-if="jasa_products.type_jasa == 'pesan_hotel'">
                        NAMA HOTEL
                      </template>
                      <template v-else>PENERBANGAN</template>
                    </template>
                  </th>
                  <th width="10%" class="border text-center py-2 px-1">
                    <template v-if="!isJasaProduct"> KUANTITAS </template>
                    <template v-else>
                      <template v-if="jasa_products.type_jasa == 'pesan_hotel'">
                        CHECKIN - CHECKOUT
                      </template>
                      <template v-else>WAKTU KEBERANGKATAN</template>
                    </template>
                  </th>
                  <template v-if="pesanan.type !== 'rfq'">
                    <th width="20%" class="border text-center py-2 px-1">
                      <template v-if="!isJasaProduct"> HARGA SATUAN </template>
                      <template v-else>
                        <template v-if="jasa_products.type_jasa == 'pesan_hotel'">
                          DATA TAMU
                        </template>
                        <template v-else>DETAIL PENUMPANG</template>
                      </template>
                    </th>
                    <th width="20%" class="border text-center py-2 px-1">TOTAL HARGA</th>
                  </template>
                  <template v-else>
                    <th width="20%" class="border text-center py-2 px-1">
                      PERMINTAAN NEGOSIASI
                    </th>
                    <th width="20%" class="border text-center py-2 px-1">
                      TOTAL HARGA NEGOSIASI
                    </th>
                  </template>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(item, index) in productChunks" v-bind:key="item">
                  <td
                    class="fw-bold border text-center py-2"
                    v-text="productIteration(productChunkIndex, index)"
                  ></td>
                  <td class="border py-2">
                    <div class="d-flex prod">
                      <img
                        :src="`${item.product.image[0]}?v=${new Date().getTime()}`"
                        crossOrigin="anonymous"
                        class="rounded mx-3 object-fit-contain"
                        width="80"
                      />
                      <div class="ms-2 my-auto">
                        <div class="text-dark fw-bold">{{ item.product.title }}</div>
                        <small class="d-block text-muted mb-3">Produk Dalam Negeri</small>
                        <div class="text-muted">
                          Berat: {{ item.product.berat / 1000 }} kg
                        </div>
                      </div>
                    </div>
                  </td>
                  <td class="border text-center py-2">{{ item.qty }}</td>
                  <td class="border text-center py-2 px-3">
                    <div class="d-flex justify-content-between">
                      <div>Rp</div>
                      <div>
                        {{
                          (item.new_price ? item.new_price : item.harga_satuan)
                            .toString()
                            .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                        }}
                      </div>
                    </div>
                  </td>
                  <td class="border text-center py-2 px-3">
                    <div class="d-flex justify-content-between">
                      <div>Rp</div>
                      <div>
                        {{
                          (
                            (item.new_price ? item.new_price : item.harga_satuan) *
                            item.qty
                          )
                            .toString()
                            .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                        }}
                      </div>
                    </div>
                  </td>
                </tr>

                <template
                  v-if="
                    productChunkIndex == sliceProductsIntoChunks().length - 1 &&
                    productChunks.length < 4
                  "
                >
                  <tr v-if="jasa_products?.type_jasa !== 'pesan_tiket_pesawat'">
                    <td class="border text-start py-2 px-5 __bg-light" colspan="4">
                      Total Harga Produk
                    </td>
                    <td class="border text-center py-2 px-3">
                      <div class="d-flex justify-content-between">
                        <div>Rp</div>
                        <div>
                          {{
                            parseInt(pesanan.total_harga_barang)
                              .toString()
                              .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                          }}
                        </div>
                      </div>
                    </td>
                  </tr>

                  <tr v-if="jasa_products?.type_jasa !== 'pesan_tiket_pesawat'">
                    <td class="border text-start py-2 px-5 __bg-light" colspan="4">
                      Biaya Pengiriman - ({{ pesanan.kurir }})
                    </td>
                    <td class="border text-center py-2 px-3">
                      <div class="d-flex justify-content-between">
                        <div>Rp</div>
                        <div>
                          {{
                            pesanan.total_harga_kurir
                              ? parseInt(pesanan.total_harga_kurir)
                                  .toString()
                                  .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                              : 0
                          }}
                        </div>
                      </div>
                    </td>
                  </tr>

                  <tr v-if="jasa_products?.type_jasa !== 'pesan_tiket_pesawat'">
                    <td class="border text-start py-2 px-5 __bg-light" colspan="4">
                      Sub Total
                    </td>
                    <td class="border text-center py-2 px-3">
                      <div class="d-flex justify-content-between">
                        <div>Rp</div>
                        <div>
                          {{
                            pesanan.subtotal
                              ? parseInt(pesanan.subtotal)
                                  .toString()
                                  .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                              : 0
                          }}
                        </div>
                      </div>
                    </td>
                  </tr>

                  <tr>
                    <td class="border text-start py-2 px-5 __bg-light" colspan="4">
                      <div class="row justify-content-center">
                        <div class="col-lg-12">
                          <div class="row">
                            <div class="col-10">
                              <div class="text-muted mb-2">Jenis Pajak</div>
                              <div
                                class="border bg-white p-2"
                                v-text="pesanan.jenis_pajak"
                              ></div>
                            </div>
                            <div class="col-2">
                              <div class="text-muted mb-2">&nbsp;</div>
                              <div
                                class="border bg-white p-2"
                                v-text="pesanan.jenis_pajak_value + '%'"
                              ></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </td>
                    <td class="border text-center py-2 px-3">
                      <div class="d-flex justify-content-between">
                        <div>Rp</div>
                        <div>
                          {{
                            pesanan.total_pajak
                              ? parseInt(getTotalPajak())
                                  .toString()
                                  .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                              : 0
                          }}
                        </div>
                      </div>
                    </td>
                  </tr>

                  <tr>
                    <td class="border text-start py-2 px-5 __bg-light" colspan="4">
                      <div class="row justify-content-center">
                        <div class="col-lg-12">
                          <div class="row">
                            <div class="col-10">
                              <div class="text-muted">Pajak Penghasilan</div>
                              <div
                                class="border bg-white p-2"
                                v-text="
                                  pesanan.pajak_penghasilan === 'PPh'
                                    ? 'PPh Pasal 22'
                                    : pesanan.pajak_penghasilan
                                "
                              ></div>
                            </div>
                            <div class="col-2">
                              <div class="text-muted">&nbsp;</div>
                              <div
                                class="border bg-white p-2"
                                v-text="pesanan.pajak_penghasilan_value + '%'"
                              ></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </td>
                    <td class="border text-center py-2 px-3 text-danger">
                      <div class="d-flex justify-content-between">
                        <div>Rp</div>
                        <div>
                          {{
                            pesanan.total_pajak_penghasilan
                              ? parseInt(getTotalPajakPenghasilan())
                                  .toString()
                                  .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                              : 0
                          }}
                        </div>
                      </div>
                    </td>
                  </tr>

                  <tr
                    v-if="
                      user_role === 'Pembeli' &&
                      isJasaProduct &&
                      (jasa_products.type_jasa == 'pesan_hotel' ||
                        jasa_products.type_jasa == 'pesan_tiket_pesawat')
                    "
                  >
                    <td class="border text-start py-4 px-5 __bg-light" colspan="4">
                      Travel Surcharge
                    </td>
                    <td class="border text-center py-4 px-3">
                      <div class="d-flex justify-content-between">
                        <div>Rp</div>
                        <div>
                          {{
                            parseInt(getTotalTravelSurcharge())
                              .toString()
                              .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                          }}
                        </div>
                      </div>
                    </td>
                  </tr>

                  <tr class="__bg-primary fw-bold">
                    <td class="border text-start py-2 px-5" colspan="4">
                      Total Transaksi
                    </td>
                    <td class="border text-center py-2 px-3">
                      <div class="d-flex justify-content-between">
                        <div>Rp</div>
                        <div>
                          {{
                            pesanan.total_transaksi
                              ? parseInt(getTotalTransaksi())
                                  .toString()
                                  .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                              : 0
                          }}
                        </div>
                      </div>
                    </td>
                  </tr>

                  <tr class="__bg-green fw-bold">
                    <td class="border text-start py-2 px-5" colspan="4">
                      Total Pembayaran
                    </td>
                    <td class="border text-center py-2 px-3">
                      <div class="d-flex justify-content-between">
                        <div>Rp</div>
                        <div>
                          {{
                            pesanan.total_pembayaran
                              ? parseInt(getTotalPembayaran())
                                  .toString()
                                  .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                              : 0
                          }}
                        </div>
                      </div>
                    </td>
                  </tr>

                  <template
                    v-if="
                      this.$route.name == 'penjualPesananLangsung' ||
                      this.$route.name == 'penjualRfq'
                    "
                  >
                    <tr class="__bg-primary fw-bold">
                      <td class="border text-start py-2 px-5" colspan="4">
                        Penghasilan Pemasok
                      </td>
                      <td class="border text-center py-2 px-3">
                        <div class="d-flex justify-content-between">
                          <div>Rp</div>
                          <div>
                            {{
                              pesanan.penghasilan_pemasok
                                ? parseInt(pesanan.penghasilan_pemasok)
                                    .toString()
                                    .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                                : 0
                            }}
                          </div>
                        </div>
                      </td>
                    </tr>
                  </template>
                </template>
              </tbody>
            </table>

            <div
              class="mt-4"
              v-if="
                productChunkIndex == sliceProductsIntoChunks().length - 1 &&
                productChunks.length < 4
              "
            >
              <PaymentMethodSelectedTagihan :pesanan="pesanan" :isReport="true" />
            </div>
          </div>

          <div class="text-center w-100 py-2 text-muted position-absolute bottom-0">
            Transaksi ini dilakukan secara e-purchasing melalui platform BeliUMKM
            <br />yang terdapat pada toko daring LKPP
            <div class="mt-3 __bg-primary py-2">www.beliumkm.co.id</div>
          </div>
        </div>

        <template
          v-for="(productChunks, productChunkIndex) in sliceProductsIntoChunks().slice(
            -1
          )"
          :key="productChunkIndex"
        >
          <div
            v-if="productChunks.length >= 4"
            class="position-relative"
            style="height: 35cm; margin-bottom: -10px"
          >
            <div class="container mb-5 mt-4 text-14" style="padding: 20px 50px 0">
              <div class="d-flex justify-content-between">
                <div class="text-dark">
                  <img
                    :src="require('@/assets/images/icon/logo.svg')"
                    width="120"
                    height="38"
                  />
                  <div class="fw-bold">PT. RUMAH UMKM INDONESIA</div>
                  <div>Jl. Sultan Botutihe Nomor 99, Kota Gorontalo</div>
                  <div>081-23456-6706</div>
                  <div>cs@beliumkm.co.id</div>
                </div>
                <div class="d-flex gap-3">
                  <img
                    :src="require('@/assets/images/icon/lkpp.svg')"
                    width="120"
                    height="50"
                  />
                </div>
              </div>

              <table class="mt-4 w-100">
                <tbody>
                  <tr v-if="jasa_products?.type_jasa !== 'pesan_tiket_pesawat'">
                    <td class="border text-start py-2 px-5 __bg-light" colspan="4">
                      Total Harga Produk
                    </td>
                    <td class="border text-center py-2 px-3">
                      <div class="d-flex justify-content-between">
                        <div>Rp</div>
                        <div>
                          {{
                            parseInt(pesanan.total_harga_barang)
                              .toString()
                              .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                          }}
                        </div>
                      </div>
                    </td>
                  </tr>

                  <tr v-if="jasa_products?.type_jasa !== 'pesan_tiket_pesawat'">
                    <td class="border text-start py-2 px-5 __bg-light" colspan="4">
                      Biaya Pengiriman - ({{ pesanan.kurir }})
                    </td>
                    <td class="border text-center py-2 px-3">
                      <div class="d-flex justify-content-between">
                        <div>Rp</div>
                        <div>
                          {{
                            pesanan.total_harga_kurir
                              ? parseInt(pesanan.total_harga_kurir)
                                  .toString()
                                  .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                              : 0
                          }}
                        </div>
                      </div>
                    </td>
                  </tr>

                  <tr v-if="jasa_products?.type_jasa !== 'pesan_tiket_pesawat'">
                    <td class="border text-start py-2 px-5 __bg-light" colspan="4">
                      Sub Total
                    </td>
                    <td class="border text-center py-2 px-3">
                      <div class="d-flex justify-content-between">
                        <div>Rp</div>
                        <div>
                          {{
                            pesanan.subtotal
                              ? parseInt(pesanan.subtotal)
                                  .toString()
                                  .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                              : 0
                          }}
                        </div>
                      </div>
                    </td>
                  </tr>

                  <tr>
                    <td class="border text-start py-2 px-5 __bg-light" colspan="4">
                      <div class="row justify-content-center">
                        <div class="col-lg-12">
                          <div class="row">
                            <div class="col-10">
                              <div class="text-muted mb-2">Jenis Pajak</div>
                              <div
                                class="border bg-white p-2"
                                v-text="pesanan.jenis_pajak"
                              ></div>
                            </div>
                            <div class="col-2">
                              <div class="text-muted mb-2">&nbsp;</div>
                              <div
                                class="border bg-white p-2"
                                v-text="pesanan.jenis_pajak_value + '%'"
                              ></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </td>
                    <td class="border text-center py-2 px-3">
                      <div class="d-flex justify-content-between">
                        <div>Rp</div>
                        <div>
                          {{
                            pesanan.total_pajak
                              ? parseInt(getTotalPajak())
                                  .toString()
                                  .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                              : 0
                          }}
                        </div>
                      </div>
                    </td>
                  </tr>

                  <tr>
                    <td class="border text-start py-2 px-5 __bg-light" colspan="4">
                      <div class="row justify-content-center">
                        <div class="col-lg-12">
                          <div class="row">
                            <div class="col-10">
                              <div class="text-muted">Pajak Penghasilan</div>
                              <div
                                class="border bg-white p-2"
                                v-text="
                                  pesanan.pajak_penghasilan === 'PPh'
                                    ? 'PPh Pasal 22'
                                    : pesanan.pajak_penghasilan
                                "
                              ></div>
                            </div>
                            <div class="col-2">
                              <div class="text-muted">&nbsp;</div>
                              <div
                                class="border bg-white p-2"
                                v-text="pesanan.pajak_penghasilan_value + '%'"
                              ></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </td>
                    <td class="border text-center py-2 px-3 text-danger">
                      <div class="d-flex justify-content-between">
                        <div>Rp</div>
                        <div>
                          {{
                            pesanan.total_pajak_penghasilan
                              ? parseInt(getTotalPajakPenghasilan())
                                  .toString()
                                  .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                              : 0
                          }}
                        </div>
                      </div>
                    </td>
                  </tr>

                  <tr
                    v-if="
                      user_role === 'Pembeli' &&
                      isJasaProduct &&
                      (jasa_products.type_jasa == 'pesan_hotel' ||
                        jasa_products.type_jasa == 'pesan_tiket_pesawat')
                    "
                  >
                    <td class="border text-start py-4 px-5 __bg-light" colspan="4">
                      Travel Surcharge
                    </td>
                    <td class="border text-center py-4 px-3">
                      <div class="d-flex justify-content-between">
                        <div>Rp</div>
                        <div>
                          {{
                            parseInt(getTotalTravelSurcharge())
                              .toString()
                              .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                          }}
                        </div>
                      </div>
                    </td>
                  </tr>

                  <tr class="__bg-primary fw-bold">
                    <td class="border text-start py-2 px-5" colspan="4">
                      Total Transaksi
                    </td>
                    <td class="border text-center py-2 px-3">
                      <div class="d-flex justify-content-between">
                        <div>Rp</div>
                        <div>
                          {{
                            pesanan.total_transaksi
                              ? parseInt(getTotalTransaksi())
                                  .toString()
                                  .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                              : 0
                          }}
                        </div>
                      </div>
                    </td>
                  </tr>

                  <tr class="__bg-green fw-bold">
                    <td class="border text-start py-2 px-5" colspan="4">
                      Total Pembayaran
                    </td>
                    <td class="border text-center py-2 px-3">
                      <div class="d-flex justify-content-between">
                        <div>Rp</div>
                        <div>
                          {{
                            pesanan.total_pembayaran
                              ? parseInt(getTotalPembayaran())
                                  .toString()
                                  .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                              : 0
                          }}
                        </div>
                      </div>
                    </td>
                  </tr>

                  <template
                    v-if="
                      this.$route.name == 'penjualPesananLangsung' ||
                      this.$route.name == 'penjualRfq'
                    "
                  >
                    <tr class="__bg-primary fw-bold">
                      <td class="border text-start py-2 px-5" colspan="4">
                        Penghasilan Pemasok
                      </td>
                      <td class="border text-center py-2 px-3">
                        <div class="d-flex justify-content-between">
                          <div>Rp</div>
                          <div>
                            {{
                              pesanan.penghasilan_pemasok
                                ? parseInt(pesanan.penghasilan_pemasok)
                                    .toString()
                                    .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                                : 0
                            }}
                          </div>
                        </div>
                      </td>
                    </tr>
                  </template>
                </tbody>
              </table>
            </div>

            <div class="mt-4">
              <PaymentMethodSelectedTagihan :pesanan="pesanan" :isReport="true" />
            </div>

            <div class="text-center w-100 py-2 text-muted position-absolute bottom-0">
              Transaksi ini dilakukan secara e-purchasing melalui platform BeliUMKM
              <br />yang terdapat pada toko daring LKPP
              <div class="mt-3 __bg-primary py-2">www.beliumkm.co.id</div>
            </div>
          </div>
        </template>
      </template>

      <template v-else>
        <div class="position-relative" style="height: 35cm; margin-bottom: -10px">
          <div class="container mb-5 mt-4 text-14" style="padding: 20px 50px 0">
            <div class="d-flex justify-content-between">
              <div class="text-dark">
                <img
                  :src="require('@/assets/images/icon/logo.svg')"
                  width="120"
                  height="38"
                />
                <div class="fw-bold">PT. RUMAH UMKM INDONESIA</div>
                <div>Jl. Sultan Botutihe Nomor 99, Kota Gorontalo</div>
                <div>081-23456-6706</div>
                <div>cs@beliumkm.co.id</div>
              </div>
              <div class="d-flex gap-3">
                <img
                  :src="require('@/assets/images/icon/lkpp.svg')"
                  width="120"
                  height="50"
                />
              </div>
            </div>

            <table class="mt-4 w-100">
              <thead class="__bg-primary">
                <tr>
                  <th width="2%" class="border text-center py-2 px-2">NO</th>
                  <th class="border text-center py-2 px-1">
                    <template v-if="!isJasaProduct"> PRODUK </template>
                    <template v-else>
                      <template v-if="jasa_products.type_jasa == 'pesan_hotel'">
                        NAMA HOTEL
                      </template>
                      <template v-else>PENERBANGAN</template>
                    </template>
                  </th>
                  <th width="10%" class="border text-center py-2 px-1">
                    <template v-if="!isJasaProduct"> KUANTITAS </template>
                    <template v-else>
                      <template v-if="jasa_products.type_jasa == 'pesan_hotel'">
                        CHECKIN - CHECKOUT
                      </template>
                      <template v-else>WAKTU KEBERANGKATAN</template>
                    </template>
                  </th>
                  <template v-if="pesanan.type !== 'rfq'">
                    <th width="20%" class="border text-center py-2 px-1">
                      <template v-if="!isJasaProduct"> HARGA SATUAN </template>
                      <template v-else>
                        <template v-if="jasa_products.type_jasa == 'pesan_hotel'">
                          DATA TAMU
                        </template>
                        <template v-else>DETAIL PENUMPANG</template>
                      </template>
                    </th>
                    <th width="20%" class="border text-center py-2 px-1">TOTAL HARGA</th>
                  </template>
                  <template v-else>
                    <th width="20%" class="border text-center py-2 px-1">
                      PERMINTAAN NEGOSIASI
                    </th>
                    <th width="20%" class="border text-center py-2 px-1">
                      TOTAL HARGA NEGOSIASI
                    </th>
                  </template>
                </tr>
              </thead>
              <tbody>
                <template v-if="!isJasaProduct">
                  <tr v-for="(item, index) in products" v-bind:key="item">
                    <td class="fw-bold border text-center py-2">{{ index + 1 }}</td>
                    <td class="border py-2">
                      <div class="d-flex prod">
                        <img
                          :src="`${item.product.image[0]}?v=${new Date().getTime()}`"
                          crossOrigin="anonymous"
                          class="rounded mx-3 object-fit-contain"
                          width="80"
                        />
                        <div class="ms-2 my-auto">
                          <div class="text-dark fw-bold">{{ item.product.title }}</div>
                          <small class="d-block text-muted mb-3"
                            >Produk Dalam Negeri</small
                          >
                          <div class="text-muted">
                            Berat: {{ item.product.berat / 1000 }} kg
                          </div>
                        </div>
                      </div>
                    </td>
                    <td class="border text-center py-2">{{ item.qty }}</td>
                    <td class="border text-center py-2 px-3">
                      <div class="d-flex justify-content-between">
                        <div>Rp</div>
                        <div>
                          {{
                            (item.new_price ? item.new_price : item.harga_satuan)
                              .toString()
                              .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                          }}
                        </div>
                      </div>
                    </td>
                    <td class="border text-center py-2 px-3">
                      <div class="d-flex justify-content-between">
                        <div>Rp</div>
                        <div>
                          {{
                            (
                              (item.new_price ? item.new_price : item.harga_satuan) *
                              item.qty
                            )
                              .toString()
                              .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                          }}
                        </div>
                      </div>
                    </td>
                  </tr>
                </template>
                <template v-else>
                  <template v-if="jasa_products.type_jasa == 'tiket_bus_travel'">
                    <tr>
                      <td scope="row">1</td>
                      <td>
                        <div class="d-flex prod">
                          <img
                            :src="`${
                              jasa_products.product.image[0]
                            }?v=${new Date().getTime()}`"
                            crossOrigin="anonymous"
                            class="rounded"
                            width="100"
                            height="50"
                          />
                          <div class="my-auto">
                            <span class="fw-bold">{{ jasa_products.product.name }}</span>
                            <span>{{ jasa_products.passenger_count }} Orang</span>
                            <!-- <span>TKDN (%): 100</span> -->
                            <!-- <span>Berat: {{ item.product.berat / 1000 }} kg</span> -->
                          </div>
                        </div>
                      </td>
                      <td>
                        <div class="d-flex gap-2 justify-content-center fw-bold">
                          <span>{{ jasa_products.product.keberangkatan.name }}</span>
                          <span class="fw-normal">-</span>
                          <span>{{ jasa_products.product.tujuan.name }}</span>
                        </div>

                        <div class="d-flex gap-2 justify-content-center">
                          <span class="fw-normal">{{
                            formatBirthDate(jasa_products.tanggal.berangkat)
                          }}</span>
                        </div>
                      </td>
                      <td>
                        <template v-for="passenger in jasa_products.passengers">
                          <div>
                            {{ passenger.first_name }} {{ passenger.last_name }}
                            <small class="ms-2 text-muted">{{
                              formatBirthDate(passenger.birth_date)
                            }}</small>
                          </div>
                        </template>
                      </td>
                      <td>
                        <div class="d-flex justify-content-between">
                          <div>Rp</div>
                          <div>{{ jasa_products.product.show_price }}</div>
                        </div>
                      </td>
                    </tr>
                  </template>
                  <template v-else-if="jasa_products.type_jasa == 'sewa_kendaraan'">
                    <tr>
                      <td scope="row">1</td>
                      <td>
                        <div class="d-flex prod">
                          <img
                            :src="`${
                              jasa_products.product.image[0]
                            }?v=${new Date().getTime()}`"
                            crossOrigin="anonymous"
                            class="rounded"
                            width="100"
                            height="50"
                          />
                          <div class="my-auto">
                            <span class="fw-bold">{{ jasa_products.product.name }}</span>
                            <span>{{ jasa_products.product.kapasitas }} Orang</span>
                            <!-- <span>TKDN (%): 100</span> -->
                            <!-- <span>Berat: {{ item.product.berat / 1000 }} kg</span> -->
                          </div>
                        </div>
                      </td>
                      <td>
                        <div class="d-flex gap-2 justify-content-center fw-bold">
                          <span>{{ jasa_products.product.kota }}</span>
                        </div>
                        <div class="d-flex gap-2 justify-content-center">
                          <span class="fw-normal">{{ jasa_products.tanggal.mulai }}</span>
                          <span class="fw-normal">-</span>
                          <span class="fw-normal">{{
                            jasa_products.tanggal.selesai
                          }}</span>
                        </div>
                      </td>
                      <td>
                        <div>
                          {{ jasa_products.passenger.first_name }}
                          {{ jasa_products.passenger.last_name }}
                        </div>
                      </td>
                      <td>
                        <div class="d-flex justify-content-between">
                          <div>Rp</div>
                          <div>{{ jasa_products.product.show_price }}</div>
                        </div>
                      </td>
                    </tr>
                  </template>
                  <template v-else-if="jasa_products.type_jasa == 'antar_jemput_bandara'">
                    <tr>
                      <td scope="row">1</td>
                      <td>
                        <div class="d-flex prod">
                          <img
                            :src="`${
                              jasa_products.product.image[0]
                            }?v=${new Date().getTime()}`"
                            crossOrigin="anonymous"
                            class="rounded"
                            width="100"
                            height="50"
                          />
                          <div class="my-auto">
                            <span class="fw-bold">{{ jasa_products.product.name }}</span>
                            <span>{{ jasa_products.product.kapasitas }} Orang</span>
                            <!-- <span>TKDN (%): 100</span> -->
                            <!-- <span>Berat: {{ item.product.berat / 1000 }} kg</span> -->
                          </div>
                        </div>
                      </td>
                      <td>
                        <div class="d-flex gap-2 justify-content-center fw-bold">
                          <span>Bandara {{ jasa_products.product.bandara }}</span>
                          <span>-</span>
                          <span>{{ jasa_products.product.kota }}</span>
                        </div>
                        <div class="d-flex gap-2 justify-content-center">
                          <span class="fw-normal">{{
                            jasa_products.penjemputan.tanggal
                          }}</span>
                          <span class="fw-normal">-</span>
                          <span class="fw-normal">{{
                            jasa_products.penjemputan.waktu
                          }}</span>
                        </div>
                      </td>
                      <td>
                        <div>
                          {{ jasa_products.passenger.first_name }}
                          {{ jasa_products.passenger.last_name }}
                        </div>
                      </td>
                      <td>
                        <div class="d-flex justify-content-between">
                          <div>Rp</div>
                          <div>{{ jasa_products.product.show_price }}</div>
                        </div>
                      </td>
                    </tr>
                  </template>
                  <template v-else-if="jasa_products.type_jasa == 'pesan_hotel'">
                    <tr>
                      <td scope="row">1</td>
                      <td>
                        <div class="d-flex prod">
                          <img
                            :src="`${jasa_products.image}?v=${new Date().getTime()}`"
                            crossOrigin="anonymous"
                            class="rounded"
                            width="100"
                            height="50"
                          />
                          <div class="my-auto">
                            <span class="fw-semibold">{{
                              jasa_products.hotel_name
                            }}</span>
                            <span>{{ jasa_products.room_name }}</span>
                            <!-- <span>TKDN (%): 100</span> -->
                            <!-- <span>Berat: {{ item.product.berat / 1000 }} kg</span> -->
                          </div>
                        </div>
                      </td>
                      <td>
                        <!-- {{ jasa_products.night_count }} Malam -->
                        <span class="d-block fw-normal">{{ jasa_products.checkin }}</span>
                        <span class="d-block fw-normal">{{
                          jasa_products.checkout
                        }}</span>
                      </td>
                      <td>
                        <div v-for="guests in jasa_products.guests" :key="guests">
                          {{ guests.title }} {{ guests.name }}
                        </div>
                      </td>
                      <td>
                        <div class="d-flex justify-content-between">
                          <div>Rp</div>
                          <div>
                            {{
                              parseInt(pesanan.total_harga_barang)
                                .toString()
                                .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                            }}
                          </div>
                        </div>
                      </td>
                    </tr>
                  </template>
                  <template v-else>
                    <tr>
                      <td class="fw-bold border text-center py-2">1</td>
                      <td class="fw-bold border py-2">
                        <div class="d-flex prod">
                          <img
                            :src="
                              require(`@/assets/images/transportasi/${jasa_products.offers.legs[0].carriers[0].display_code}.jpg`)
                            "
                            class="rounded px-2 d-block"
                            width="80"
                            height="50"
                          />
                          <div class="my-auto ms-3">
                            <div class="text-dark fw-bold">
                              {{ `${jasa_products.offers.legs[0].carriers[0].name}` }}
                            </div>
                            <div
                              class="mt-1 d-flex justify-content-start align-items-center gap-3"
                            >
                              <small class="text-muted">{{
                                `${jasa_products.destination.from.PlaceId} ${jasa_products.destination.from.CityName}`
                              }}</small>

                              <svg
                                width="16"
                                height="16"
                                viewBox="0 0 16 16"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                              >
                                <path
                                  d="M1.54016 6.02001L2.84682 7.57335C3.04682 7.80668 3.04682 8.19335 2.84682 8.42668L1.54016 9.98001C1.36016 10.34 1.54016 10.78 1.92682 10.9133L2.81349 11.2067C3.02682 11.28 3.34016 11.2067 3.50016 11.0467L5.02016 9.53335C5.12682 9.42001 5.34016 9.33335 5.49349 9.33335H7.39349C7.67349 9.33335 7.80682 9.54001 7.70016 9.80001L6.28682 13.0733C6.06682 13.5867 6.34016 14.0067 6.90016 14.0067H7.76016C8.20682 14.0067 8.72016 13.6733 8.89349 13.26L10.5002 9.53335C10.5468 9.42668 10.6868 9.33335 10.8068 9.33335H12.8068C13.4335 9.33335 14.1735 8.87335 14.4602 8.31335C14.5602 8.11335 14.5602 7.88001 14.4602 7.68001C14.1735 7.12001 13.4268 6.66001 12.8002 6.66001L10.8002 6.66001C10.6802 6.66001 10.5402 6.56668 10.4935 6.46001L8.88682 2.74001C8.72016 2.32668 8.20682 1.99335 7.76016 1.99335L6.90016 1.99335C6.34016 1.99335 6.06682 2.41335 6.28682 2.92668L7.70016 6.20001C7.81349 6.45335 7.67349 6.66668 7.39349 6.66668H5.49349C5.34016 6.66668 5.12682 6.58001 5.02016 6.47335L3.50016 4.96001C3.34016 4.80001 3.03349 4.72668 2.81349 4.80001L1.92682 5.09335C1.54016 5.21335 1.35349 5.65335 1.54016 6.02001Z"
                                  stroke="#626B79"
                                  stroke-linecap="round"
                                  stroke-linejoin="round"
                                />
                              </svg>

                              <small class="text-muted">{{
                                `${jasa_products.destination.to.PlaceId} ${jasa_products.destination.to.CityName}`
                              }}</small>
                            </div>

                            <span>{{ jasa_products.room_name }}</span>
                          </div>
                        </div>
                      </td>
                      <td class="fw-bold border text-center py-2">
                        <template v-if="jasa_products.type === 'ONEWAY'">
                          <strong class="d-block">{{
                            `${formatDateDay(jasa_products.offers.legs[0].departure)}`
                          }}</strong>
                          <div class="text-muted">
                            {{
                              `${formatTime(
                                jasa_products.offers.legs[0].departure
                              )} - ${formatTime(jasa_products.offers.legs[0].arrival)}`
                            }}
                          </div>
                        </template>
                        <div
                          v-else
                          class="d-flex justify-content-center align-items-center gap-3"
                        >
                          <span>{{
                            `${departReturnDateFormat(jasa_products.date.depart)}`
                          }}</span>
                          <svg
                            style="width: 1rem"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 24 24"
                          >
                            <path
                              d="M10.5 15.75h12.75a.75.75 0 0 0 0-1.5H10.5a.75.75 0 0 0 0 1.5zm9.22-3.22l3 3v-1.06l-3 3a.75.75 0 1 0 1.06 1.06l3-3a.75.75 0 0 0 0-1.06l-3-3a.75.75 0 1 0-1.06 1.06zM13.5 8.25H.75a.75.75 0 0 0 0 1.5H13.5a.75.75 0 0 0 0-1.5zm-9.22 3.22l-3-3v1.06l3-3a.75.75 0 0 0-1.06-1.06l-3 3a.75.75 0 0 0 0 1.06l3 3a.75.75 0 0 0 1.06-1.06z"
                            ></path>
                          </svg>
                          <span>{{
                            `${departReturnDateFormat(jasa_products.date.return)}`
                          }}</span>
                        </div>
                      </td>
                      <td class="border text-center py-2 px-3">
                        <div
                          class="mb-1"
                          v-for="(adults, adultsIndex) in jasa_products.passengers.adults"
                          :key="adultsIndex"
                        >
                          <strong>{{ adults.first_name }} {{ adults.last_name }}</strong>
                          <div class="text-muted">
                            {{ formatBirthDate(adults.birth_date) }}
                          </div>
                        </div>
                        <div
                          class="mb-1"
                          v-for="(children, childrenIndex) in jasa_products.passengers
                            .children"
                          :key="childrenIndex"
                        >
                          <strong
                            >{{ children.first_name }} {{ children.last_name }}</strong
                          >
                          <div class="text-muted">
                            {{ formatBirthDate(children.birth_date) }}
                          </div>
                        </div>
                      </td>
                      <td class="border text-center py-2 px-3">
                        <div class="d-flex justify-content-between">
                          <div>Rp</div>
                          <div>
                            {{
                              jasa_products.price_alt
                                .toString()
                                .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                            }}
                          </div>
                        </div>
                      </td>
                    </tr>
                  </template>
                </template>

                <tr v-if="jasa_products?.type_jasa !== 'pesan_tiket_pesawat'">
                  <td class="border text-start py-2 px-5 __bg-light" colspan="4">
                    Total Harga Produk
                  </td>
                  <td class="border text-center py-2 px-3">
                    <div class="d-flex justify-content-between">
                      <div>Rp</div>
                      <div>
                        {{
                          parseInt(pesanan.total_harga_barang)
                            .toString()
                            .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                        }}
                      </div>
                    </div>
                  </td>
                </tr>

                <tr v-if="jasa_products?.type_jasa !== 'pesan_tiket_pesawat'">
                  <td class="border text-start py-2 px-5 __bg-light" colspan="4">
                    Biaya Pengiriman - ({{ pesanan.kurir }})
                  </td>
                  <td class="border text-center py-2 px-3">
                    <div class="d-flex justify-content-between">
                      <div>Rp</div>
                      <div>
                        {{
                          pesanan.total_harga_kurir
                            ? parseInt(pesanan.total_harga_kurir)
                                .toString()
                                .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                            : 0
                        }}
                      </div>
                    </div>
                  </td>
                </tr>

                <tr v-if="jasa_products?.type_jasa !== 'pesan_tiket_pesawat'">
                  <td class="border text-start py-2 px-5 __bg-light" colspan="4">
                    Sub Total
                  </td>
                  <td class="border text-center py-2 px-3">
                    <div class="d-flex justify-content-between">
                      <div>Rp</div>
                      <div>
                        {{
                          pesanan.subtotal
                            ? parseInt(pesanan.subtotal)
                                .toString()
                                .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                            : 0
                        }}
                      </div>
                    </div>
                  </td>
                </tr>

                <tr>
                  <td class="border text-start py-2 px-5 __bg-light" colspan="4">
                    <div class="row justify-content-center">
                      <div class="col-lg-12">
                        <div class="row">
                          <div class="col-10">
                            <div class="text-muted mb-2">Jenis Pajak</div>
                            <div
                              class="border bg-white p-2"
                              v-text="pesanan.jenis_pajak"
                            ></div>
                          </div>
                          <div class="col-2">
                            <div class="text-muted mb-2">&nbsp;</div>
                            <div
                              class="border bg-white p-2"
                              v-text="pesanan.jenis_pajak_value + '%'"
                            ></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </td>
                  <td class="border text-center py-2 px-3">
                    <div class="d-flex justify-content-between">
                      <div>Rp</div>
                      <div>
                        {{
                          pesanan.total_pajak
                            ? parseInt(getTotalPajak())
                                .toString()
                                .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                            : 0
                        }}
                      </div>
                    </div>
                  </td>
                </tr>

                <tr>
                  <td class="border text-start py-2 px-5 __bg-light" colspan="4">
                    <div class="row justify-content-center">
                      <div class="col-lg-12">
                        <div class="row">
                          <div class="col-10">
                            <div class="text-muted">Pajak Penghasilan</div>
                            <div
                              class="border bg-white p-2"
                              v-text="
                                pesanan.pajak_penghasilan === 'PPh'
                                  ? 'PPh Pasal 22'
                                  : pesanan.pajak_penghasilan
                              "
                            ></div>
                          </div>
                          <div class="col-2">
                            <div class="text-muted">&nbsp;</div>
                            <div
                              class="border bg-white p-2"
                              v-text="pesanan.pajak_penghasilan_value + '%'"
                            ></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </td>
                  <td class="border text-center py-2 px-3 text-danger">
                    <div class="d-flex justify-content-between">
                      <div>Rp</div>
                      <div>
                        {{
                          pesanan.total_pajak_penghasilan
                            ? parseInt(getTotalPajakPenghasilan())
                                .toString()
                                .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                            : 0
                        }}
                      </div>
                    </div>
                  </td>
                </tr>

                <tr
                  v-if="
                    user_role === 'Pembeli' &&
                    isJasaProduct &&
                    (jasa_products.type_jasa == 'pesan_hotel' ||
                      jasa_products.type_jasa == 'pesan_tiket_pesawat')
                  "
                >
                  <td class="border text-start py-4 px-5 __bg-light" colspan="4">
                    Travel Surcharge
                  </td>
                  <td class="border text-center py-4 px-3">
                    <div class="d-flex justify-content-between">
                      <div>Rp</div>
                      <div>
                        {{
                          parseInt(getTotalTravelSurcharge())
                            .toString()
                            .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                        }}
                      </div>
                    </div>
                  </td>
                </tr>

                <tr class="__bg-primary fw-bold">
                  <td class="border text-start py-2 px-5" colspan="4">Total Transaksi</td>
                  <td class="border text-center py-2 px-3">
                    <div class="d-flex justify-content-between">
                      <div>Rp</div>
                      <div>
                        {{
                          pesanan.total_transaksi
                            ? parseInt(getTotalTransaksi())
                                .toString()
                                .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                            : 0
                        }}
                      </div>
                    </div>
                  </td>
                </tr>

                <tr class="__bg-green fw-bold">
                  <td class="border text-start py-2 px-5" colspan="4">
                    Total Pembayaran
                  </td>
                  <td class="border text-center py-2 px-3">
                    <div class="d-flex justify-content-between">
                      <div>Rp</div>
                      <div>
                        {{
                          pesanan.total_pembayaran
                            ? parseInt(getTotalPembayaran())
                                .toString()
                                .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                            : 0
                        }}
                      </div>
                    </div>
                  </td>
                </tr>

                <template
                  v-if="
                    this.$route.name == 'penjualPesananLangsung' ||
                    this.$route.name == 'penjualRfq'
                  "
                >
                  <tr class="__bg-primary fw-bold">
                    <td class="border text-start py-2 px-5" colspan="4">
                      Penghasilan Pemasok
                    </td>
                    <td class="border text-center py-2 px-3">
                      <div class="d-flex justify-content-between">
                        <div>Rp</div>
                        <div>
                          {{
                            pesanan.penghasilan_pemasok
                              ? parseInt(pesanan.penghasilan_pemasok)
                                  .toString()
                                  .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                              : 0
                          }}
                        </div>
                      </div>
                    </td>
                  </tr>
                </template>
              </tbody>
            </table>

            <div class="mt-4">
              <PaymentMethodSelectedTagihan :pesanan="pesanan" :isReport="true" />
            </div>
          </div>

          <div class="text-center w-100 py-2 text-muted position-absolute bottom-0">
            Transaksi ini dilakukan secara e-purchasing melalui platform BeliUMKM
            <br />yang terdapat pada toko daring LKPP
            <div class="mt-3 __bg-primary py-2">www.beliumkm.co.id</div>
          </div>
        </div>
      </template>
    </template>
  </vue3-html2pdf>
</template>

<script>
import Vue3Html2pdf from "vue3-html2pdf";
import dayjs from "dayjs";
import id from "dayjs/locale/id";

import PaymentMethodSelectedTagihan from "@/v2/components/PaymentMethodSelectedTagihan.vue";

export default {
  components: {
    Vue3Html2pdf,
    PaymentMethodSelectedTagihan,
  },

  props: {
    title: {
      type: String,
      default: false,
    },

    isJasaProduct: {
      type: Boolean,
      default: false,
    },

    komplainn: {
      type: Object,
      default: false,
    },

    pesanan: {
      type: Object,
      default: false,
    },

    penjual: {
      type: Object,
      default: false,
    },

    pembeli: {
      type: Object,
      default: false,
    },

    alamat: {
      type: Object,
      default: false,
    },

    alamat_penjual: {
      type: Object,
      default: false,
    },

    products: {
      type: Object,
      default: false,
    },

    jasa_products: {
      type: Object,
      default: false,
    },

    hari: {
      type: Number,
      default: false,
    },

    ulasan: {
      type: Object,
      default: false,
    },

    ulasans: {
      type: Object,
      default: false,
    },
  },

  setup() {
    const formatBirthDate = (date) => {
      return dayjs(date).format("DD MMMM YYYY");
    };

    return {
      formatBirthDate,
    };
  },

  data() {
    return {
      user_role: localStorage.getItem("user_role"),
      number: 1,
    };
  },

  methods: {
    generateReport() {
      this.$refs.html2Pdf.generatePdf();
    },

    departReturnDateFormat(date) {
      return dayjs(date).format("DD MMMM YYYY");
    },

    formatDateDay(dateString) {
      const date = dayjs(dateString).locale("id");
      return date.format("dddd, DD MMMM YYYY");
    },

    formatTime(dateString) {
      const date = dayjs(dateString).locale("id");
      return date.format("HH:mm");
    },

    getServiceFee() {
      if (this.isJasaProduct) {
        if (this.pesanan.metode_pembayaran === "Pembayaran Bertempo") {
          return parseInt(this.pesanan.subtotal * (15 / 100));
        }

        return parseInt(this.pesanan.subtotal * (5 / 100));
      }

      return 0;
    },

    sliceProductsIntoChunks() {
      const res = [];

      for (let i = 0; i < this.products.length; i += 6) {
        const chunk = this.products.slice(i, i + 6);

        res.push(chunk);
      }

      return res;
    },

    productIteration(parent, loop) {
      return ++loop;
    },

    isHotelOrTiketPesawat() {
      if (
        this.isJasaProduct &&
        (this.jasa_products.type_jasa == "pesan_hotel" ||
          this.jasa_products.type_jasa == "pesan_tiket_pesawat")
      ) {
        return true;
      }

      return false;
    },

    getTotalTransaksi() {
      if (this.isHotelOrTiketPesawat()) {
        return this.pesanan.subtotal + this.getTotalTravelSurcharge();
      }

      return this.pesanan.total_transaksi;
    },

    getTotalPembayaran() {
      if (this.isHotelOrTiketPesawat()) {
        return this.pesanan.subtotal + this.getTotalTravelSurcharge();
      }

      return this.pesanan.total_pembayaran;
    },

    getTotalServiceFee() {
      return parseInt(this.getTotalPembayaran() * (2 / 100));
    },

    getTotalTravelSurcharge() {
      if (this.isHotelOrTiketPesawat()) {
        if (this.pesanan.metode_pembayaran === "Pembayaran Langsung") {
          // return parseInt(this.pesanan.subtotal * (2 / 100));
          return 0;
        }

        // if(this.pesanan?.penjual?.id_user == 14) {
        //  return parseInt(this.pesanan.subtotal * (7 / 100));
        // }

        return parseInt(this.pesanan.subtotal * (10 / 100));
      }

      return 0;
    },

    getTotalPajak() {
      return parseInt(this.pesanan.total_pajak);
    },

    getTotalPajakPenghasilan() {
      return parseInt(this.pesanan.total_pajak_penghasilan);
    },
  },
};
</script>

<style scope>
label {
  color: black;
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 5px;
}

.text-12 {
  font-size: 12px;
}

.text-14 {
  font-size: 14px;
}

.h-150px {
  height: 150px;
}

.title {
  font-weight: 600;
  font-size: 18px;
}

.__table-pesanan {
  border: 1px solid #b0b0b0;
}

.__table-pesanan thead {
  background-color: #82c4f3;
  text-align: center;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
}

.__table-pesanan thead th {
  padding: 15px 10px;
  font-weight: 500;
}

.__table-pesanan tbody td {
  text-align: center;
  font-weight: 500;
  vertical-align: middle;
}

.prod span {
  display: block;
  margin-left: 10px;
  font-size: 14px;
  text-align: left;
  font-weight: 400;
}
</style>
