<template>
    <Navbar />
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <SidebarPembeli />
            </div>
            <div class="col-lg-9 my-3">
                <div class="row">
                    <div class="col-lg-12">
                        <h6>Permintaan Pesanan</h6>

                        <table class="table table-bordered __table-pesanan">
                            <thead>
                                <tr>
                                    <th>Nomor Pesanan</th>
                                    <th>Tanggal Pesanan</th>
                                    <th>Nama Pemasok</th>
                                    <th>Total Transaksi</th>
                                    <th>Status Pesanan</th>
                                    <th>Aksi</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="item in pesanan" v-bind:key="item">
                                    <td>{{ item.no_pesanan }}</td>
                                    <td>{{ item.created_at }}</td>
                                    <td>{{ item.penjual.nama_usaha }}</td>
                                    <td>Rp. {{
                                    parseInt(item.total_pembayaran).toString().replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g,
                                    "$1\.")







                                    }}</td>
                                    <td class="text-center"><span class="badge __badge-primary">{{
                                    item.status == 'pesanan_dikomplain' ? 'Pesanan Dikomplain' :
                                    (item.status == 'pesanan_dibuat' ? 'Permintaan Pesanan' : (item.status
                                    == 'pesanan_diterima' ? 'Konfirmasi Terima Pesanan' : item.status ==
                                    'permintaan_rfq' ? 'Permintaan RFQ' : item.status ==
                                    'proses_permintaan_rfq' ? 'Permintaan RFQ' : item.status ==
                                    'pesanan_terbuat' ? 'Pesanan Terbuat' : item.status ==
                                    'permintaan_rfq_diterima' ? 'Menunggu Persetujuan Pembeli' : item.status
                                    == 'permintaan_rfq_ditolak' ? 'Permintaan RFQ Ditolak Pemasok' :
                                    item.status == 'rfq_ditolak_pembeli' ? 'Permintaan RFQ Ditolak' :
                                    item.status == 'pesanan_selesai' ? 'Pesanan Selesai' : item.status ==
                                    'pesanan_ditolak' ? 'Pesanan Ditolak' :
                                    '-'))
















                                    }}</span></td>

                                    <td>
                                        <router-link
                                            :to="item.type == 'rfq' ? '/pembeli/rfq/' + item.id : '/pembeli/pesanan-langsung/' + item.id"
                                            class="btm __btn-primary" style="background-color:#EFDD00!important">
                                            <img :src="require('@/assets/images/icon/edit.svg')" alt="">
                                        </router-link>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
import axios from 'axios'
import Sidebar from '../../component/Sidebar.vue';
import SidebarPembeli from '../../component/SidebarPembeli.vue';
import Navbar from '@/v2/components/Navbar.vue';
export default {
    components: { Sidebar, SidebarPembeli, Navbar },
    data() {
        return {
            pesanan: [],
            token: localStorage.getItem("token"),
        }
    },

    mounted() {
        axios.get("/api/transaction", {
            params: {
                // type: "pesanan_langsung",
                transaction_as: "Pembeli",
            }, headers: {
                'Authorization': 'Bearer ' + this.token,
            }
        }).then((resp) => {
            this.pesanan = resp.data.data;
        })
    },
}
</script>



<style scope>
.__table-pesanan {
    border: 1px solid #B0B0B0;
}

.__table-pesanan thead {
    background-color: #F5F5F5;
    color: var(--primary-color);
    text-align: center;


    font-size: 14px
}

.__table-pesanan thead th {
    font-weight: 500;
}

.__table-pesanan tbody td {
    font-size: 13px;
    vertical-align: middle;
}
</style>
