<template>
    <Navbar />
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <Sidebar />
            </div>
            <div class="col-lg-9 my-3">
                <div class="row">
                    <div class="col-lg-12 my-3">
                        <div class="row align-items-center justify-content-between">
                            <div class="col-md-5 text-start">
                                <h6>Permintaan RFQ</h6>
                            </div>
                            <div class="col-md-5 text-end">
                                <button class="btn btn-success btn-sm"><i class="fa-solid fa-download pe-2"></i> Simpan
                                    Data</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <table class="table table-bordered __table-pesanan">
                            <thead>
                                <tr>
                                    <th>Nomor Permintaan</th>
                                    <th>Tanggal Pengajuan</th>
                                    <th>Nominal Pengajuan</th>
                                    <th>Status Pinjaman</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-if="pinjaman.length" v-for="item in pinjaman" v-bind:key="item">
                                    <td>{{ item.no_pesanan }}</td>
                                    <td>{{ item.created_at }}</td>
                                    <td>Rp. {{ parseInt(item.nominal_pencairan).toString().replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.") }}</td>
                                    <td>
                                        <span v-if="item.status == 'sedang_verifikasi'" class="badge __badge-primary d-block w-100">Sedang Diverifikasi</span>
                                        <span v-else-if="item.status == 'ditolak'" class="badge __badge-danger d-block w-100">Ditolak</span>
                                        <span v-else-if="item.status == 'telah_dicairkan'" class="badge __badge-info d-block w-100">Telah Dicairkan</span>
                                        <span v-else-if="item.status == 'disetujui'" class="badge __badge-success d-block w-100">Telah Disetujui</span>
                                        <span v-else class="badge __badge-primary d-block w-100">-</span>
                                    </td>
                                </tr>

                                <tr v-else-if="!pinjaman.length">
                                    <td class="text-center" colspan="4">Data Kosong</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
import axios from 'axios'
import Sidebar from '../../component/SidebarPembeli.vue';
import Navbar from '@/v2/components/Navbar.vue';
export default {
    components: { Sidebar, Navbar },
    data() {
        return {
            pinjaman: [],
            token: localStorage.getItem("token"),
        }
    },

    mounted() {
        axios.get("/api/transaction/", {
            params: {
                type: "rfq",
                transaction_as: "Pembeli",
            }, headers: {
                'Authorization': 'Bearer ' + this.token,
            }
        }).then((resp) => {
            this.pesanan = resp.data.data;
        })
    },
}
</script>



<style scope>
.__table-pesanan {
    border: 1px solid #B0B0B0;
}

.__table-pesanan thead {
    background-color: #F5F5F5;
    color: var(--primary-color);
    text-align: center;


    font-size: 14px
}

.__table-pesanan thead th {
    font-weight: 500;
}

.__table-pesanan tbody td {
    font-size: 13px;
    vertical-align: middle;
}
</style>
