<template>
  <Navbar />
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <Sidebar />
      </div>
      <div class="col-lg-9 my-3">
        <div class="row">
          <div class="col-lg-12 my-3">
            <div class="row align-items-center justify-content-between">
              <div class="col-md-5 text-start">
                <h6>Tagihan</h6>
              </div>
              <div class="col-md-5 text-end">
                <button class="btn btn-success btn-sm">
                  <i class="fa-solid fa-download pe-2"></i> Simpan Data
                </button>
              </div>
            </div>
          </div>
          <div class="col-lg-12">
            <table class="table table-bordered __table-pesanan">
              <thead>
                <tr class="text-center">
                  <th>Nomor Pesanan</th>
                  <th>Tanggal Pesanan</th>
                  <th>Nama Pemasok</th>
                  <th>Total Pembayaran</th>
                  <th>Status Tagihan</th>
                  <th>Aksi</th>
                </tr>
              </thead>
              <tbody>
                <template v-if="tagihan.length">
                  <tr v-for="item in tagihan" :key="item">
                    <td>{{ item.no_pesanan }}</td>
                    <td>{{ item.created_at }}</td>
                    <td>{{ item.penjual && item.penjual.nama_usaha }}</td>
                    <td>
                      Rp.
                      {{
                        item.total_pembayaran && item.total_pembayaran
                          .toString()
                          .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                      }}
                    </td>
                    <td class="text-center">
                      <span class="badge __badge-primary">{{
                        item.payment_status == "waiting_for_payment"
                          ? "Menunggu Pembayaran"
                          : item.payment_status == "paid"
                          ? "Pembayaran Berhasil"
                          : item.payment_status == "cancel"
                          ? "Pembayaran Dibatalkan"
                          : item.payment_status == "accepted"
                          ? "Pembayaran Diterima Pemasok"
                          : "-"
                      }}</span>
                    </td>

                    <td>
                      <router-link
                        :to="'/transaksi/tagihan/' + item.id"
                        class="btm __btn-primary"
                        style="background-color: #efdd00 !important"
                      >
                        <img
                          :src="require('@/assets/images/icon/edit.svg')"
                          alt=""
                        />
                      </router-link>
                    </td>
                  </tr>
                </template>
                <tr v-else-if="!tagihan.length">
                  <td class="text-center" colspan="6">Data Kosong</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import Sidebar from "../../component/SidebarPembeli.vue";
import Navbar from "@/v2/components/Navbar.vue";
export default {
  components: { Sidebar, Navbar },
  data() {
    return {
      tagihan: [],
      token: localStorage.getItem("token"),
    };
  },

  mounted() {
    axios
      .get("/api/transaction", {
        params: {
          // type: "pesanan_langsung",
          transaction_as: "Pembeli",
          tagihan: true,
        },
        headers: {
          Authorization: "Bearer " + this.token,
        },
      })
      .then((resp) => {
        this.tagihan = resp.data.data;
      });
  },
};
</script>



<style scope>
.__table-pesanan {
  border: 1px solid #b0b0b0;
}

.__table-pesanan thead {
  background-color: #f5f5f5;
  color: var(--primary-color);
  text-align: center;

  font-size: 14px;
}

.__table-pesanan thead th {
  font-weight: 500;
}

.__table-pesanan tbody td {
  font-size: 13px;
  vertical-align: middle;
}
</style>
