<template>
  <Navbar />
  <div class="container my-5">
    <div class="d-flex justify-content-center position-relative">
      <div class="my-auto me-4">
        <h5 class="text-center" style="color: var(--primary-color)">Tagihan</h5>
        <button
          class="btn btn-primary position-absolute"
          style="right: 0; top: 0"
          @click="generateReport()"
        >
          <i class="fas fa-download px-2"></i> Download PDF
        </button>
      </div>
      <div>
        <!-- <a :href="pesanan.payment_url" target="_blank" class="btn __btn-primary w-100"
                    v-if="pesanan.status === 'pesanan_selesai' && pesanan.type_payment != null">Cetak PDF</a> -->
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-6">
            <table>
              <tr>
                <td style="width: 160px">Nomor Tagihan</td>
                <td>:</td>
                <td>{{ pesanan.no_tagihan }}</td>
              </tr>
              <tr>
                <td style="width: 160px">Tanggal Tagihan</td>
                <td>:</td>
                <td>{{ pesanan.tanggal_tagihan }}</td>
              </tr>
              <tr>
                <td style="width: 160px">Nomor Pesanan</td>
                <td>:</td>
                <td>{{ pesanan.no_pesanan }}</td>
              </tr>
              <tr>
                <td style="width: 160px">Tanggal Pesanan</td>
                <td>:</td>
                <td>{{ pesanan.created_at }}</td>
              </tr>
              <tr>
                <td style="width: 160px">Status Pesanan</td>
                <td>:</td>
                <td>
                  <span v-if="pesanan.status === 'permintaan_rfq'"> Permintaan RFQ</span>
                  <span v-if="pesanan.status === 'proses_permintaan_rfq'">
                    Permintaan RFQ</span
                  >
                  <span v-if="pesanan.status === 'pesanan_dibuat'">
                    Permintaan Pesanan</span
                  >
                  <span v-else-if="pesanan.status === 'pesanan_terbuat'">
                    Permintaan Pesanan</span
                  >
                  <span v-else-if="pesanan.status === 'pesanan_ditolak'">
                    Ditolak Pemasok</span
                  >
                  <span v-else-if="pesanan.status === 'pesanan_diterima'">
                    Konfirmasi Terima Pesanan</span
                  >
                  <span v-else-if="pesanan.status === 'pesanan_dikomplain'">
                    Pesanan Dikomplain</span
                  >
                  <span v-else-if="pesanan.status === 'permintaan_rfq_diterima'">
                    Menunggu Persetujuan Pembeli</span
                  >
                  <span v-else-if="pesanan.status == 'permintaan_rfq_ditolak'">
                    Permintaan RFQ Ditolak Pemasok
                  </span>
                  <span v-else-if="pesanan.status == 'pesanan_selesai'">
                    Pesanan Selesai
                  </span>
                </td>
              </tr>
              <tr>
                <td style="width: 160px">Status Pembayaran</td>
                <td>:</td>
                <td>
                  <span v-if="pesanan.payment_status === 'waiting_for_payment'">
                    Menunggu Pembayaran</span
                  >
                  <span v-if="pesanan.status === 'paid'"> Dibayarkan</span>
                  <span v-if="pesanan.status === 'cancel'"> Transaksi Dibatalkan</span>
                </td>
              </tr>
            </table>
          </div>

          <div class="col-6">
            <!-- <span class="d-block">PT Rumah UMKM Indonesia</span>
                        <span class="d-block">53.601.661.1-822.000</span> -->
            <table>
              <tr>
                <td style="width: 160px">Ritel Daring</td>
                <td>:</td>
                <td>PT Rumah UMKM Indonesia</td>
              </tr>
              <tr>
                <td style="width: 160px">Nomor NPWP</td>
                <td>:</td>
                <td>53.601.661.1-822.000</td>
              </tr>
              <tr>
                <td style="width: 160px">Nama Pemasok</td>
                <td>:</td>
                <td>{{ penjual.nama_usaha }}</td>
              </tr>
              <tr>
                <td style="width: 160px">Lokasi Pemasok</td>
                <td>:</td>
                <td>{{ alamat.city_name }}</td>
              </tr>
              <!-- <tr>
                                <td style="width: 160px;">NPWP Pemasok</td>
                                <td>:</td>
                                <td>{{penjual.no_npwp}}</td>
                            </tr> -->
              <!-- <tr>
                                <td style="width: 160px;">Kode Referral</td>
                                <td>:</td>
                                <td>
                                    -
                                </td>
                            </tr> -->
            </table>
          </div>
        </div>
      </div>

      <!--
            <div class="col-6 mb-3">
                <span>Lokasi Pemasok : {{ penjual.penjual }}</span>
            </div> -->
    </div>

    <div class="row mt-4">
      <h6 class="mb-4 title">Informasi Pembeli</h6>
      <div class="col-lg-4 col-4 mb-3">
        <label for="">Nama Pemesan</label>
        <input
          type="text"
          v-model="pesanan.nama_pemesan"
          class="__form-control form-control-sm"
          disabled
        />
      </div>
      <div class="col-lg-4 col-4 mb-3">
        <label for="">Telepon Pemesan</label>
        <input
          type="text"
          v-model="pesanan.no_telp_pemesan"
          class="__form-control form-control-sm"
          disabled
        />
      </div>

      <div class="col-lg-4 col-4 mb-3">
        <label for="">Email Pemesan</label>
        <input
          type="text"
          v-model="pesanan.email_pemesan"
          class="__form-control form-control-sm"
          disabled
        />
      </div>
      <div class="col-lg-4 col-4 mb-3">
        <label for="">Asal Instansi</label>
        <textarea
          rows="6"
          type="text"
          v-model="pesanan.asal_pemesan"
          class="__form-control form-control-sm"
          disabled
        ></textarea>
      </div>
      <div class="col-lg-4 col-4 mb-3">
        <label for="">Alamat Instansi</label>
        <textarea
          rows="6"
          type="text"
          v-model="pesanan.alamat_pemesan"
          class="__form-control form-control-sm"
          disabled
        ></textarea>
      </div>
      <div class="col-lg-4 col-4 mb-3">
        <label for="">Informasi Transaksi</label>
        <textarea
          rows="6"
          type="text"
          v-model="pesanan.untuk_keperluan"
          class="__form-control form-control-sm"
          :disabled="pesanan.status != 'permintaan_rfq'"
        ></textarea>
      </div>
    </div>

    <h6 class="title mb-4">Informasi Pembayaran</h6>

    <div class="d-flex">
      <div class="me-2">
        <label for="">Metode Pembayaran</label>
        <select
          v-model="pesanan.metode_pembayaran"
          class="__form-control rounded form-select"
          style="width: 500px"
          :disabled="pesanan.status != 'pesanan_dibuat'"
        >
          <!-- <option v-if="!isJasaProduct" value="Bayar Sebelum Pengiriman">Bayar Sebelum Pengiriman</option> -->
          <option value="Pembayaran Bertempo">
            Pembayaran Bertempo
          </option>
          <option v-if="isJasaProduct && (
            jasa_products.type_jasa == 'pesan_hotel' ||
            jasa_products.type_jasa == 'pesan_tiket_pesawat'
          )" value="Pembayaran Langsung">
            Pembayaran Langsung
          </option>
          <option v-if="!isJasaProduct" value="Bayar Saat Terima Pesanan (COD)">
            Bayar Saat Terima Pesanan (COD)
          </option>
          <option v-if="isJasaProduct" value="Selesaikan Pembayaran Dalam 60 Menit">
            Selesaikan Pembayaran Dalam 60 Menit
          </option>
        </select>
      </div>
      <div v-if="pesanan.metode_pembayaran === 'Pembayaran Bertempo'">
        <label for="">Hari</label>
        <input
          type="number"
          v-model="pesanan.hari"
          class="__form-control rounded form-control"
          style="width: 100px"
          :disabled="pesanan.status != 'pesanan_dibuat'"
        />
      </div>
    </div>

    <div class="mt-4">
      <table class="table table-bordered __table-pesanan">
        <thead>
          <tr>
            <th scope="col">No.</th>
            <th scope="col">
              <template v-if="!isJasaProduct"> Produk </template>
              <template v-else>
                <template v-if="jasa_products.type_jasa == 'tiket_bus_travel'"
                  >Bus</template
                >
                <template
                  v-else-if="
                    jasa_products.type_jasa == 'antar_jemput_bandara' ||
                    jasa_products.type_jasa == 'sewa_kendaraan'
                  "
                  >Kendaraan</template
                >
                <template v-else-if="jasa_products.type_jasa == 'pesan_hotel'"
                  >Nama Hotel</template
                >
                <template v-else>Penerbangan</template>
              </template>
            </th>
            <th scope="col">
              <template v-if="!isJasaProduct"> Kuantitas </template>
              <template v-else>
                <template v-if="jasa_products.type_jasa == 'tiket_bus_travel'"
                  >Keberangkatan - Tanggal</template
                >
                <template v-else-if="jasa_products.type_jasa == 'sewa_kendaraan'"
                  >Kabupaten/Kota - Tanggal</template
                >
                <template v-else-if="jasa_products.type_jasa == 'antar_jemput_bandara'"
                  >Keberangkatan</template
                >
                <template v-else-if="jasa_products.type_jasa == 'pesan_hotel'"
                  >Checkin - Checkout</template
                >
                <template v-else>
                  Keberangkatan
                  <span v-if="jasa_products.type !== 'ONEWAY'">-Kepulangan</span>
                </template>
              </template>
            </th>

            <template v-if="pesanan.type !== 'rfq'">
              <th scope="col">
                <template v-if="!isJasaProduct"> Harga Satuan </template>
                <template v-else>
                  <template
                    v-if="
                      jasa_products.type_jasa == 'antar_jemput_bandara' ||
                      jasa_products.type_jasa == 'sewa_kendaraan'
                    "
                    >Penumpang</template
                  >
                  <template v-else-if="jasa_products.type_jasa == 'pesan_hotel'"
                    >Data Tamu</template
                  >
                  <template v-else>Penumpang - Tanggal Lahir</template>
                </template>
              </th>
              <th scope="col">Total Harga</th>
            </template>

            <template v-else>
              <th scope="col">Harga Negosiasi</th>
              <th scope="col">Total Harga Negosiasi</th>
            </template>
          </tr>
        </thead>
        <tbody>
          <template v-if="!isJasaProduct">
            <tr v-for="(item, index) in products" v-bind:key="item">
              <th scope="row">{{ index + 1 }}</th>
              <td>
                <div class="d-flex prod">
                  <img :src="item.product.image[0]" class="rounded" width="100" />
                  <div class="my-auto">
                    <span>{{ item.product.title }}</span>
                    <span>Produk Dalam Negeri</span>
                    <!-- <span>TKDN (%): 100</span> -->
                    <span>Berat: {{ item.product.berat / 1000 }} kg</span>
                  </div>
                </div>
              </td>
              <td>{{ item.qty }}</td>
              <td>
                Rp
                {{
                  item.new_price == null
                    ? item.harga_satuan
                        .toString()
                        .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                    : item.new_price
                        .toString()
                        .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                }}
              </td>
              <td>
                Rp
                {{
                  item.new_price == null
                    ? (item.harga_satuan * item.qty)
                        .toString()
                        .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                    : (item.new_price * item.qty)
                        .toString()
                        .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                }}
              </td>
            </tr>
          </template>
          <template v-else>
            <template v-if="jasa_products.type_jasa == 'tiket_bus_travel'">
              <tr>
                <td scope="row">1</td>
                <td>
                  <div class="d-flex prod">
                    <img
                      :src="jasa_products.product.image[0]"
                      class="rounded"
                      width="100"
                      height="50"
                    />
                    <div class="my-auto">
                      <span class="fw-bold">{{ jasa_products.product.name }}</span>
                      <span>{{ jasa_products.passenger_count }} Orang</span>
                      <!-- <span>TKDN (%): 100</span> -->
                      <!-- <span>Berat: {{ item.product.berat / 1000 }} kg</span> -->
                    </div>
                  </div>
                </td>
                <td>
                  <div class="d-flex gap-2 justify-content-center fw-bold">
                    <span>{{ jasa_products.product.keberangkatan.name }}</span>
                    <span class="fw-normal">-</span>
                    <span>{{ jasa_products.product.tujuan.name }}</span>
                  </div>

                  <div class="d-flex gap-2 justify-content-center">
                    <span class="fw-normal">{{
                      formatBirthDate(jasa_products.tanggal.berangkat)
                    }}</span>
                  </div>
                </td>
                <td>
                  <template v-for="passenger in jasa_products.passengers">
                    <div>
                      {{ passenger.first_name }} {{ passenger.last_name }}
                      <small class="ms-2 text-muted">{{
                        formatBirthDate(passenger.birth_date)
                      }}</small>
                    </div>
                  </template>
                </td>
                <td>Rp {{ jasa_products.product.show_price }}</td>
              </tr>
            </template>
            <template v-else-if="jasa_products.type_jasa == 'sewa_kendaraan'">
              <tr>
                <td scope="row">1</td>
                <td>
                  <div class="d-flex prod">
                    <img
                      :src="jasa_products.product.image[0]"
                      class="rounded"
                      width="100"
                      height="50"
                    />
                    <div class="my-auto">
                      <span class="fw-bold">{{ jasa_products.product.name }}</span>
                      <span>{{ jasa_products.product.kapasitas }} Orang</span>
                      <!-- <span>TKDN (%): 100</span> -->
                      <!-- <span>Berat: {{ item.product.berat / 1000 }} kg</span> -->
                    </div>
                  </div>
                </td>
                <td>
                  <div class="d-flex gap-2 justify-content-center fw-bold">
                    <span>{{ jasa_products.product.kota }}</span>
                  </div>
                  <div class="d-flex gap-2 justify-content-center">
                    <span class="fw-normal">{{ jasa_products.tanggal.mulai }}</span>
                    <span class="fw-normal">-</span>
                    <span class="fw-normal">{{ jasa_products.tanggal.selesai }}</span>
                  </div>
                </td>
                <td>
                  <div>
                    {{ jasa_products.passenger.first_name }}
                    {{ jasa_products.passenger.last_name }}
                  </div>
                </td>
                <td>Rp {{ jasa_products.product.show_price }}</td>
              </tr>
            </template>
            <template v-else-if="jasa_products.type_jasa == 'antar_jemput_bandara'">
              <tr>
                <td scope="row">1</td>
                <td>
                  <div class="d-flex prod">
                    <img
                      :src="jasa_products.product.image[0]"
                      class="rounded"
                      width="100"
                      height="50"
                    />
                    <div class="my-auto">
                      <span class="fw-bold">{{ jasa_products.product.name }}</span>
                      <span>{{ jasa_products.product.kapasitas }} Orang</span>
                      <!-- <span>TKDN (%): 100</span> -->
                      <!-- <span>Berat: {{ item.product.berat / 1000 }} kg</span> -->
                    </div>
                  </div>
                </td>
                <td>
                  <div class="d-flex gap-2 justify-content-center fw-bold">
                    <span>Bandara {{ jasa_products.product.bandara }}</span>
                    <span>-</span>
                    <span>{{ jasa_products.product.kota }}</span>
                  </div>
                  <div class="d-flex gap-2 justify-content-center">
                    <span class="fw-normal">{{ jasa_products.penjemputan.tanggal }}</span>
                    <span class="fw-normal">-</span>
                    <span class="fw-normal">{{ jasa_products.penjemputan.waktu }}</span>
                  </div>
                </td>
                <td>
                  <div>
                    {{ jasa_products.passenger.first_name }}
                    {{ jasa_products.passenger.last_name }}
                  </div>
                </td>
                <td>Rp {{ jasa_products.product.show_price }}</td>
              </tr>
            </template>
            <template v-else-if="jasa_products.type_jasa == 'pesan_hotel'">
              <tr>
                <td scope="row">1</td>
                <td>
                  <div class="d-flex prod">
                    <img
                      :src="jasa_products.image"
                      class="rounded"
                      width="100"
                      height="50"
                    />
                    <div class="my-auto">
                      <span class="fw-semibold">{{ jasa_products.hotel_name }}</span>
                      <span>{{ jasa_products.room_name }}</span>
                      <!-- <span>TKDN (%): 100</span> -->
                      <!-- <span>Berat: {{ item.product.berat / 1000 }} kg</span> -->
                    </div>
                  </div>
                </td>
                <td>
                  <!-- {{ jasa_products.night_count }} Malam -->
                  <span class="d-block fw-normal">{{ jasa_products.checkin }}</span>
                  <span class="d-block fw-normal">{{ jasa_products.checkout }}</span>
                </td>
                <td>
                  <div v-for="guests in jasa_products.guests" :key="guests">
                    {{ guests.title }} {{ guests.name }}
                  </div>
                </td>
                <td>
                  Rp
                  {{
                    jasa_products.price_alt
                      .toString()
                      .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                  }}
                </td>
              </tr>
            </template>
            <template v-else>
              <tr>
                <td scope="row">1</td>
                <td>
                  <div class="d-flex prod">
                    <img
                      :src="
                        require(`@/assets/images/transportasi/${jasa_products.offers.legs[0].carriers[0].display_code}.jpg`)
                      "
                      class="rounded px-2"
                      width="80"
                      height="50"
                    />
                    <div class="my-auto">
                      <div class="fw-semibold">
                        {{ `${jasa_products.offers.legs[0].carriers[0].name}` }}
                      </div>
                      <div
                        class="d-flex justify-content-start align-items-center gap-3 fs-3"
                      >
                        <span>{{
                          `${jasa_products.destination.from.PlaceId}
                                                ${jasa_products.destination.from.CityName}`
                        }}</span>
                        <svg
                          v-if="jasa_products.type === 'ONEWAY'"
                          style="width: 1rem"
                          xmlns="http://www.w3.org/2000/svg"
                          viewBox="0 0 24 24"
                          data-rtl-flip="true"
                        >
                          <path
                            d="M23.25 11.747H.75a.75.75 0 0 0 0 1.5h22.5a.75.75 0 0 0 0-1.5zm-3.22 5.03l3.75-3.75a.75.75 0 0 0 0-1.06l-3.75-3.75a.75.75 0 1 0-1.06 1.06l3.75 3.75v-1.06l-3.75 3.75a.75.75 0 1 0 1.06 1.06z"
                          ></path>
                        </svg>
                        <svg
                          v-else
                          style="width: 1rem"
                          xmlns="http://www.w3.org/2000/svg"
                          viewBox="0 0 24 24"
                        >
                          <path
                            d="M10.5 15.75h12.75a.75.75 0 0 0 0-1.5H10.5a.75.75 0 0 0 0 1.5zm9.22-3.22l3 3v-1.06l-3 3a.75.75 0 1 0 1.06 1.06l3-3a.75.75 0 0 0 0-1.06l-3-3a.75.75 0 1 0-1.06 1.06zM13.5 8.25H.75a.75.75 0 0 0 0 1.5H13.5a.75.75 0 0 0 0-1.5zm-9.22 3.22l-3-3v1.06l3-3a.75.75 0 0 0-1.06-1.06l-3 3a.75.75 0 0 0 0 1.06l3 3a.75.75 0 0 0 1.06-1.06z"
                          ></path>
                        </svg>
                        <span>{{
                          `${jasa_products.destination.to.PlaceId}
                                                ${jasa_products.destination.to.CityName}`
                        }}</span>
                      </div>

                      <span>{{ jasa_products.room_name }}</span>
                    </div>
                  </div>
                </td>
                <td>
                  <template v-if="jasa_products.type === 'ONEWAY'">
                    <strong class="d-block">{{
                      `${formatDateDay(jasa_products.offers.legs[0].departure)}`
                    }}</strong>
                    <span>{{
                      `${formatTime(jasa_products.offers.legs[0].departure)} - ${formatTime(jasa_products.offers.legs[0].arrival)}`
                    }}</span>
                  </template>
                  <div
                    v-else
                    class="d-flex justify-content-center align-items-center gap-3"
                  >
                    <span>{{ `${jasa_products.date.depart}` }}</span>
                    <svg
                      style="width: 1rem"
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 24 24"
                    >
                      <path
                        d="M10.5 15.75h12.75a.75.75 0 0 0 0-1.5H10.5a.75.75 0 0 0 0 1.5zm9.22-3.22l3 3v-1.06l-3 3a.75.75 0 1 0 1.06 1.06l3-3a.75.75 0 0 0 0-1.06l-3-3a.75.75 0 1 0-1.06 1.06zM13.5 8.25H.75a.75.75 0 0 0 0 1.5H13.5a.75.75 0 0 0 0-1.5zm-9.22 3.22l-3-3v1.06l3-3a.75.75 0 0 0-1.06-1.06l-3 3a.75.75 0 0 0 0 1.06l3 3a.75.75 0 0 0 1.06-1.06z"
                      ></path>
                    </svg>
                    <span>{{ `${jasa_products.date.return}` }}</span>
                  </div>
                </td>
                <td>
                  <div
                    v-for="(adults, adultsIndex) in jasa_products.passengers.adults"
                    :key="adultsIndex"
                  >
                    {{ adults.first_name }} {{ adults.last_name }}
                    <span style="font-size: 12px">{{
                      formatBirthDate(adults.birth_date)
                    }}</span>
                  </div>
                  <div
                    v-for="(children, childrenIndex) in jasa_products.passengers.children"
                    :key="childrenIndex"
                  >
                    {{ children.first_name }} {{ children.last_name }}
                    <span style="font-size: 12px">{{
                      formatBirthDate(children.birth_date)
                    }}</span>
                  </div>
                </td>
                <td>
                  Rp
                  {{
                    jasa_products.price_alt
                      .toString()
                      .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                  }}
                </td>
              </tr>
            </template>
          </template>

          <tr style="background-color: #fdf6a1">
            <td colspan="4">Total Harga Produk</td>
            <td>
              Rp
              {{
                parseInt(pesanan.total_harga_barang)
                  .toString()
                  .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
              }}
            </td>
          </tr>
          <tr v-if="!isJasaProduct" style="background-color: #fdf6a1">
            <td colspan="4">
              <div class="row justify-content-center" style="text-align: left">
                <div class="col-lg-6">
                  <div>Biaya Pengiriman - {{ pesanan.kurir }}</div>
                  <div>
                    <strong>{{ pembeli.name }}</strong>
                    <span class="d-inlin-block mx-2">{{ pembeli.no_telp }}</span>
                    <strong>{{ pembeli.email }}</strong>
                  </div>
                  <div v-if="alamat">
                    {{ alamat.alamat }}, {{ alamat.province_name }},
                    {{ alamat.city_name }}
                    {{ alamat.kodepos }}
                  </div>
                </div>
              </div>
            </td>
            <td class="align-middle">
              Rp
              {{
                parseInt(pesanan.total_harga_kurir)
                  .toString()
                  .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
              }}
            </td>
          </tr>
          <tr style="background-color: #e5e5e5">
            <td colspan="4">Sub Total</td>
            <td class="align-middle">
              Rp
              {{
                parseInt(pesanan.subtotal)
                  .toString()
                  .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
              }}
            </td>
          </tr>
          <tr style="background-color: #e5e5e5">
            <td colspan="4">
              <div class="row justify-content-center" style="text-align: left">
                <div class="col-lg-12">
                  <div class="row">
                    <div class="col-10">
                      <label for="">Jenis Pajak</label>
                      <input
                        type="text"
                        class="__form-control"
                        :value="pesanan.jenis_pajak"
                        disabled
                      />
                    </div>
                    <div class="col-2">
                      <label for="" style="color: #e5e5e5">.</label>
                      <input
                        type="text"
                        class="__form-control"
                        :value="pesanan.jenis_pajak_value + '%'"
                        disabled
                      />
                    </div>
                  </div>
                </div>
              </div>
            </td>
            <td class="align-middle">
              Rp
              {{
                parseInt(pesanan.total_pajak)
                  .toString()
                  .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
              }}
            </td>
          </tr>
          <tr style="background-color: #e5e5e5">
            <td colspan="4">
              <div class="row justify-content-center" style="text-align: left">
                <div class="col-lg-12">
                  <div class="row">
                    <div class="col-10">
                      <label for="">Pajak Penghasilan </label>
                      <input
                        type="text"
                        class="__form-control"
                        :value="
                          pesanan.pajak_penghasilan === 'PPh'
                            ? 'PPh Pasal 22'
                            : pesanan.pajak_penghasilan
                        "
                        disabled
                      />
                    </div>
                    <div class="col-2">
                      <label for="" style="color: #e5e5e5">.</label>
                      <input
                        type="text"
                        class="__form-control"
                        :value="pesanan.pajak_penghasilan_value + '%'"
                        disabled
                      />
                    </div>
                  </div>
                </div>
              </div>
            </td>
            <td class="align-middle" style="color: #e62129">
              Rp
              {{
                parseInt(pesanan.total_pajak_penghasilan)
                  .toString()
                  .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
              }}
            </td>
          </tr>
          <tr
            v-if="isJasaProduct"
            style="background-color: #fdf6a1"
          >
            <td colspan="4">
              <span v-if="pesanan.metode_pembayaran === 'Pembayaran Bertempo'">
                Biaya Layanan
              </span>
              <span v-else-if="pesanan.metode_pembayaran === 'Pembayaran Langsung'">
                Biaya Layanan
              </span>
              <span v-else>
                Biaya Layanan
              </span>
            </td>
            <td class="align-middle">
              Rp
              {{
                getServiceFee()
                  .toString()
                  .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
              }}
            </td>
          </tr>
          <tr style="background-color: #ffe5e5">
            <td colspan="4">Total Transaksi</td>
            <td class="align-middle">
              Rp
              {{
                pesanan.total_transaksi
                  ? parseInt(pesanan.total_transaksi)
                      .toString()
                      .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                  : 0
              }}
            </td>
          </tr>
          <tr style="background-color: #ffe5e5">
            <td colspan="4">Total Pembayaran</td>
            <td class="align-middle">
              Rp
              {{
                pesanan.total_pembayaran
                  ? parseInt(pesanan.total_pembayaran)
                      .toString()
                      .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                  : 0
              }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="mt-4">
      <div class="row">
        <div class="col mb-3" v-if="pesanan.type_payment == 'bri'">
          <label for="">Cara Pembayaran :</label>
          <span class="d-block"
            ><strong
              >Bank Rakyat Indonesia 0027 0100 3430 301 <br />
              atas nama PT Rumah UMKM Indonesia</strong
            ></span
          >
        </div>

        <div class="col mb-3" v-else-if="pesanan.type_payment == 'bsg'">
          <label for="">Cara Pembayaran :</label>
          <span class="d-block"
            ><strong
              >Bank BSG 0030 152000 8182 <br />
              atas nama PT Rumah UMKM Indonesia</strong
            ></span
          >
        </div>

        <div class="col mb-3" v-else-if="pesanan.type_payment == 'qris'">
          <label for="">Cara Pembayaran :</label>
          <div>
            <img :src="require('@/assets/images/qris_umkm.png')" class="img-fluid" />
            <h6 class="mt-1">Rumah UMKM Indonesia</h6>
          </div>
        </div>

        <div class="col mb-3" v-else-if="pesanan.type_payment == 'cod'">
          <label for="">Cara Pembayaran :</label>
          <div>
            <img
              :src="require('@/assets/images/logo-cod.png')"
              class="img-fluid"
              style="width: 100px"
            />
            <h6 class="mt-1">Bayar di tempat melalui sales marketing beliumkm</h6>
            <div>(Khusus Pembayaran UP)</div>
          </div>
        </div>
        <!--  <div class="col-lg-4 mb-3">
                    <label for="">Permintaan Negoisasi Harga</label>
                    <textarea v-model="pesanan.catatan" class="__form-control"
                        placeholder="Ketik permintaan negoisasi harga" id="" cols="30" rows="4"
                        :disabled="pesanan.status != 'permintaan_rfq'"></textarea>
                </div>
                <div class="col-lg-4 mb-3" v-if="pesanan.catatan_pembeli">
                    <label for="">Catatan untuk Pemasok</label>
                    <textarea v-model="pesanan.catatan_pembeli" class="__form-control"
                        placeholder="Ketik catatan untuk penjual" disabled id="" cols="30" rows="4"></textarea>
                </div> -->
      </div>
    </div>

    <div class="mt-4">
      <div class="row">
        <div class="col-lg-8">
          <h6>Pelajari Lebih Lanjut</h6>
          <ol type="number" style="font-size: 15px">
            <li>
              Lakukan pembayaran sesuai dengan nominal yang tercantum pada total
              pembayaran.
            </li>
            <li>
              Jangka waktu pembayaran bertempo terhitung sejak pesanan diterima oleh pihak
              pembeli.
            </li>
            <li>
              Pemungutan/penyetoran/pelaporan PPN dan PPh 22 dilakukan oleh pihak
              marketplace (PMK-58/PMK.03/2022).
            </li>
            <li>
              Pemungutan/penyetoran/pelaporan Pajak Daerah dilakukan oleh pihak
              marketplace, dengan mengacu kepada aturan dan kebijakan pemerintah setempat.
            </li>
            <li>
              Pembeli dan Pemasok wajib menyetujui
              <router-link to="/syarat-ketentuan" style="color: var(--primary-color)"
                >syarat dan ketentuan</router-link
              >
              yang berlaku.
            </li>
          </ol>
        </div>
      </div>
    </div>

    <div class="mt-4">
      <div class="row justify-content-center">
        <div
          class="col-3"
          v-if="pesanan.type_payment == null"
        >
          <button
            class="btn __btn-success w-100"
            style="background-color: #ffa200 !important; color: white"
            data-bs-toggle="modal"
            data-bs-target="#komplainPesan"
          >
            Pilih Pembayaran
          </button>
        </div>

        <div
          class="col-3"
          v-if="
            pesanan.status === 'pesanan_selesai' && pesanan.type_payment == 'midtrans'
          "
        >
          <a
            :href="pesanan.payment_url"
            target="_blank"
            class="btn __btn-primary w-100"
            v-if="pesanan.type_payment == 'midtrans'"
            >Lakukan Pembayaran</a
          >
        </div>

        <!-- <div class="col-3" v-if="pesanan.status === 'pesanan_selesai' && pesanan.type_payment != null">
                    <a :href="pesanan.payment_url" target="_blank" class="btn __btn-outline-primary w-100">Cetak PDF</a>
                </div> -->
        <div
          class="col-3"
          v-if="pesanan.type_payment != null"
        >
          <button
            data-bs-toggle="modal"
            data-bs-target="#buktiPembayaran"
            class="btn __btn-primary w-100"
          >
            {{
              pesanan.bukti_pembayaran
                ? "Lihat Bukti Pembayaran"
                : "Upload Bukti Pembayaran"
            }}
          </button>
        </div>

        <!-- Komplain Pesanan -->
        <div
          class="modal fade"
          id="komplainPesan"
          data-bs-backdrop="static"
          data-bs-keyboard="false"
          tabindex="-1"
          aria-labelledby="komplainPesanLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="komplainPesanLabel">
                  Pilih Metode Pembayaran
                </h5>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
                <div class="row justify-content-center">
                  <div class="col-lg-7 mb-3">
                    <label for="midtrans" class="d-block card">
                      <div class="d-flex justify-content-between card-body">
                        <input
                          type="radio"
                          value="midtrans"
                          class="me-2 my-auto"
                          name="paymentType"
                          v-model="payment.type"
                          id="midtrans"
                        />
                        <div class="my-auto">
                          <h6>Kartu Kredit Pemerintah via Online</h6>
                        </div>
                        <div class="my-auto">
                          <img
                            :src="require('@/assets/images/midtrans_logo.png')"
                            class="img-fluid"
                          />
                        </div>
                      </div>
                    </label>

                    <label for="qris" class="d-block card">
                      <div class="d-flex justify-content-between card-body">
                        <input
                          type="radio"
                          value="qris"
                          class="me-2"
                          name="paymentType"
                          v-model="payment.type"
                          id="qris"
                        />
                        <div class="my-auto">
                          <h6>Kartu Kredit Pemerintah Domestik Via QRIS</h6>
                        </div>
                        <div>
                          <img
                            :src="require('@/assets/images/qris_logo.png')"
                            class="img-fluid"
                          />
                        </div>
                      </div>

                      <div>
                        <img
                          :src="require('@/assets/images/qris_umkm.png')"
                          class="img-fluid d-block mx-auto"
                        />
                        <h6 class="text-center">Rumah UMKM Indonesia</h6>
                      </div>
                    </label>

                    <label for="bsg" class="d-block card">
                      <div class="d-flex justify-content-between card-body">
                        <input
                          type="radio"
                          value="bsg"
                          class="me-2"
                          name="paymentType"
                          v-model="payment.type"
                          id="bsg"
                        />
                        <div class="my-auto">
                          <h6>Transfer ke Bank BSG</h6>
                          <span class="d-block">Nomor Rekening:</span>
                          <span class="d-block">0030 152000 8182</span>
                          <span class="d-block">atas nama Rumah UMKM Indonesia</span>
                        </div>
                        <div class="my-auto">
                          <img
                            :src="require('@/assets/images/bsg_logo.png')"
                            class="img-fluid"
                          />
                        </div>
                      </div>
                    </label>

                    <label for="bri" class="d-block card">
                      <div class="d-flex justify-content-between card-body">
                        <input
                          type="radio"
                          value="bri"
                          class="me-2"
                          name="paymentType"
                          v-model="payment.type"
                          id="bri"
                        />
                        <div class="my-auto">
                          <h6>Transfer ke Bank Rakyat Indonesia</h6>
                          <span class="d-block">Nomor Rekening:</span>
                          <span class="d-block">0027 0100 3430 301</span>
                          <span class="d-block">atas nama Rumah UMKM Indonesia</span>
                        </div>
                        <div class="my-auto">
                          <img
                            :src="require('@/assets/images/bri_logo.png')"
                            class="img-fluid"
                          />
                        </div>
                      </div>
                    </label>

                    <button
                      class="btn __btn-success w-100 mt-4"
                      @click.prevent="generateLink('tolak')"
                      :disable="loading"
                    >
                      <span
                        class="spinner-border spinner-border-sm"
                        role="status"
                        aria-hidden="true"
                        v-if="loading"
                      ></span>
                      Lakukan Pembayaran
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div
          class="modal fade"
          id="buktiPembayaran"
          data-bs-backdrop="static"
          data-bs-keyboard="false"
          tabindex="-1"
          aria-labelledby="buktiPembayaranLabel"
          aria-hidden="true"
          v-if="pesanan.type_payment != null"
        >
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="buktiPembayaranLabel">
                  {{
                    pesanan.bukti_pembayaran
                      ? "Lihat Bukti Pembayaran"
                      : "Upload Bukti Pembayaran"
                  }}
                </h5>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
                <div class="row justify-content-center">
                  <div class="col-lg-12" v-if="pesanan.bukti_pembayaran == null">
                    <div>
                      <input
                        accept=".pdf"
                        type="file"
                        class="__form-control"
                        @change="buktiPembayaran($event)"
                      />
                      <small>Format File PDF</small>
                    </div>
                    <div class="mt-3" v-if="fileBuktiPembayaran">
                      <iframe height="500px" width="100%" :src="buktiPembayaranImage"></iframe>
                      <!-- <img :src="buktiPembayaranImage" class="img-fluid" /> -->
                    </div>
                  </div>
                  <div class="col" v-else>
                    <iframe height="500px" width="100%" :src="pesanan.bukti_pembayaran"></iframe>
                    <!-- <img :src="pesanan.bukti_pembayaran" class="img-fluid" /> -->
                  </div>
                </div>
              </div>
              <div class="modal-footer" v-if="pesanan.bukti_pembayaran == null">
                <button
                  class="btn __btn-primary py-2 px-4"
                  @click.prevent="postBuktiPembayaran"
                >
                  Kirim
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ReportTagihan
    ref="report"
    :title="`Tagihan-${pesanan.no_pesanan}`"
    :isJasaProduct="isJasaProduct"
    :pesanan="pesanan"
    :penjual="penjual"
    :pembeli="pembeli"
    :alamat_penjual="alamat"
    :alamat="alamat"
    :products="products"
    :jasa_products="jasa_products"
  />
</template>

<script>
import axios from "axios";
import Navbar from "@/v2/components/Navbar.vue";
import Vue3Html2pdf from "vue3-html2pdf";
import ReportTagihan from "@/components/print/ReportTagihan.vue";

import dayjs from "dayjs";
import id from "dayjs/locale/id";

export default {
  components: {
    Navbar,
    Vue3Html2pdf,
    ReportTagihan,
  },

  setup() {
    const formatBirthDate = (date) => {
      return dayjs(date).format("DD MMMM YYYY");
    };

    return {
      formatBirthDate,
    };
  },

  data() {
    return {
      isJasaProduct: false,
      token: localStorage.getItem("token"),
      user_id: localStorage.getItem("user_id"),
      pesanan: [],
      penjual: [],
      pembeli: [],
      alamat: [],
      jasa_products: [],
      products: [],
      komplains: [],
      hari: 0,
      komplain: {
        permintaan: "",
        alasan: "",
        foto: "",
      },
      ulasan: {
        rating: "",
        ulasan: "",
      },
      foto_komplain: null,
      ulasans: [],
      payment: {
        type: "",
      },
      loading: false,
      fileBuktiPembayaran: null,
      buktiPembayaranImage: null,
    };
  },
  methods: {
    postBuktiPembayaran() {
      const formData = new FormData();
      formData.append("file", this.fileBuktiPembayaran);
      axios
        .post("/api/v1/pesanan/bukti-pembayaran/" + this.$route.params.id, formData, {
          headers: {
            Authorization: "Bearer " + this.token,
          },
        })
        .then((resp) => {
          let timerInterval;

          this.$swal({
            title: "Upload Bukti Pembayaran Berhasil!",
            timer: 2000,
            timerProgressBar: true,
            didOpen: () => {
              this.$swal.showLoading();
            },
            willClose: () => {
              clearInterval(timerInterval);
            },
          }).then((result) => {
            /* Read more about handling dismissals below */
            if (result.dismiss === this.$swal.DismissReason.timer) {
              location.href = "/dashboard/pembeli/transaksi/tagihan";
            }
          });
        })
        .catch((err) => {
          console.log(err);
          this.$swal({
            icon: "error",
            title: err.response.message,
          });
        });
    },
    buktiPembayaran(e) {
      this.fileBuktiPembayaran = e.target.files[0];
      this.buktiPembayaranImage = URL.createObjectURL(e.target.files[0]);
    },
    generateLink() {
      this.loading = true;
      const obj = JSON.stringify({
        type_payment: this.payment.type,
      });
      axios
        .post("/api/v1/tagihan/create/" + this.$route.params.id, obj, {
          headers: {
            Authorization: "Bearer " + this.token,
            "Content-Type": "application/json",
          },
        })
        .then((resp) => {
          this.loading = false;

          location.reload();
        })
        .catch((err) => {
          this.loading = false;
          console.log(err);
        });
    },
    buatPesanan() {
      const obj = JSON.stringify({
        untuk_keperluan: this.pesanan.untuk_keperluan,
        metode_pembayaran: this.pesanan.metode_pembayaran,
        hari: this.pesanan.hari,
        catatan: this.pesanan.catatan,
      });
      axios
        .post("/api/v1/pesanan/buat-pesanan/" + this.$route.params.id, obj, {
          headers: {
            Authorization: "Bearer " + this.token,
            "Content-Type": "application/json",
          },
        })
        .then((resp) => {
          this.$swal({
            icon: "success",
            title: resp.data.message,
          });
          location.href = "/dashboard/transaksi/pesanan";
        })
        .catch((err) => {
          this.$swal({
            icon: "error",
            title: err.response.data.message,
          });
        });
    },
    uploadFoto(event) {
      this.foto_komplain = event.target.files[0];
    },
    async komplainSubmit() {
      if (this.foto_komplain) {
        let formData = new FormData();
        formData.append("file", this.foto_komplain);
        var foto_komplain = await axios.post("/api/upload", formData, {
          headers: {
            "Content-Type": "multipart/form-data",
          },
        });
      }
      const obj = JSON.stringify({
        permintaan: this.komplain.permintaan,
        alasan: this.komplain.alasan,
        foto: this.foto_komplain ? foto_komplain.data.file_url : "",
      });
      axios
        .post("/api/v1/pesanan/komplain/" + this.$route.params.id, obj, {
          headers: {
            Authorization: "Bearer " + this.token,
            "Content-Type": "application/json",
          },
        })
        .then((resp) => {
          this.$swal({
            icon: "success",
            title: resp.data.message,
          });
          location.href = "/dashboard/transaksi/pesanan";
        })
        .catch((err) => {
          this.$swal({
            icon: "error",
            title: err.response.data.message,
          });
        });
    },
    tolakTerima(type) {
      const obj = JSON.stringify({
        status: type,
      });
      axios
        .post(
          "/api/v1/pesanan/rfq/tolak-terima/" + this.$route.params.id + "/pembeli",
          obj,
          {
            headers: {
              Authorization: "Bearer " + this.token,
              "Content-Type": "application/json",
            },
          }
        )
        .then((resp) => {
          this.$swal({
            icon: "success",
            title: resp.data.message,
          });
          location.href = "/dashboard/transaksi/pesanan";
        })
        .catch((err) => {
          this.$swal({
            icon: "error",
            title: err.response.data.message,
          });
        });
    },
    // async ulasanSubmit() {
    //     const obj = JSON.stringify({
    //     });
    //     axios.post("/api/v1/pesanan/ulasan/")
    // },
    generateReport() {
      this.$refs.report.generateReport();
    },

    formatDateDay(dateString) {
      const date = dayjs(dateString).locale("id");
      return date.format("dddd, DD MMMM YYYY");
    },

    formatTime(dateString) {
      const date = dayjs(dateString).locale("id");
      return date.format("HH:mm");
    },

    getNomimalPencairan() {
      return parseInt(
        this.pesanan.total_pembayaran -
          (this.pesanan.service_fee * 2 + this.pesanan.service_fee)
      );
    },

    getServiceFee() {
      if (this.isJasaProduct) {
        if(this.pesanan.metode_pembayaran === "Pembayaran Bertempo") {
          return parseInt(this.pesanan.subtotal * (15 / 100));
        }

        else if(this.pesanan.metode_pembayaran === "Pembayaran Langsung") {
          return parseInt(20000);
        }

        return parseInt(this.pesanan.subtotal * (5 / 100));
      }

      return 0;
    },
  },
  mounted() {
    this.ulasans.push({ ...this.ulasan });
    const id = this.$route.params.id;
    axios
      .get(`/api/v1/pesanan/${id}`, {
        params: {
          image_base64: true,
        },
        headers: {
          Authorization: "Bearer " + this.token,
        },
      })
      .then((resp) => {
        this.pesanan = resp.data.data;
        this.penjual = resp.data.data.penjual;
        this.pembeli = resp.data.data.pembeli;
        this.alamat = resp.data.data.alamat;
        this.products = resp.data.data.products;

        if (resp.data.data.jasa != null) {
          this.isJasaProduct = true;
          this.jasa_products = resp.data.data.jasa;
        }
      });
    axios
      .get("/api/v1/pesanan/get-komplain/" + this.$route.params.id, {
        headers: {
          Authorization: "Bearer " + this.token,
        },
      })
      .then((resp) => {
        this.komplain = resp.data.data;
      });
  },
};
</script>

<style scope>
label {
  color: black;
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 5px;
}

.text-14 {
  font-size: 14px;
}

.h-150px {
  height: 150px;
}

.title {
  font-weight: 600;
  font-size: 18px;
}

.__table-pesanan {
  border: 1px solid #b0b0b0;
}

.__table-pesanan thead {
  background-color: #82c4f3;
  text-align: center;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
}

.__table-pesanan thead th {
  padding: 15px 10px;
  font-weight: 500;
}

.__table-pesanan tbody td {
  text-align: center;
  font-weight: 500;
  vertical-align: middle;
}

.prod span {
  display: block;
  margin-left: 10px;
  font-size: 14px;
  text-align: left;
  font-weight: 400;
}

#full-stars-example .rating-group {
  display: inline-flex;
}

#full-stars-example .rating__icon {
  pointer-events: none;
}

#full-stars-example .rating__input {
  position: absolute !important;
  left: -9999px !important;
}

#full-stars-example .rating__label {
  cursor: pointer;
  padding: 0 0.1em;
  font-size: 2rem;
}

#full-stars-example .rating__icon--star {
  color: orange;
}

#full-stars-example .rating__icon--none {
  color: #eee;
}

#full-stars-example .rating__input--none:checked + .rating__label .rating__icon--none {
  color: red;
}

#full-stars-example .rating__input:checked ~ .rating__label .rating__icon--star {
  color: #ddd;
}

#full-stars-example .rating-group:hover .rating__label .rating__icon--star {
  color: orange;
}

#full-stars-example .rating__input:hover ~ .rating__label .rating__icon--star {
  color: #ddd;
}

#full-stars-example
  .rating-group:hover
  .rating__input--none:not(:hover)
  + .rating__label
  .rating__icon--none {
  color: #eee;
}

#full-stars-example .rating__input--none:hover + .rating__label .rating__icon--none {
  color: red;
}

#half-stars-example {
  /* use display:inline-flex to prevent whitespace issues. alternatively, you can put all the children of .rating-group on a single line */
  /* make hover effect work properly in IE */
  /* hide radio inputs */
  /* set icon padding and size */
  /* add padding and positioning to half star labels */
  /* set default star color */
  /* set color of none icon when unchecked */
  /* if none icon is checked, make it red */
  /* if any input is checked, make its following siblings grey */
  /* make all stars orange on rating group hover */
  /* make hovered input's following siblings grey on hover */
  /* make none icon grey on rating group hover */
  /* make none icon red on hover */
}

#half-stars-example .rating-group {
  display: inline-flex;
}

#half-stars-example .rating__icon {
  pointer-events: none;
}

#half-stars-example .rating__input {
  position: absolute !important;
  left: -9999px !important;
}

#half-stars-example .rating__label {
  cursor: pointer;
  /* if you change the left/right padding, update the margin-right property of .rating__label--half as well. */
  padding: 0 0.1em;
  font-size: 2rem;
}

#half-stars-example .rating__label--half {
  padding-right: 0;
  margin-right: -0.6em;
  z-index: 2;
}

#half-stars-example .rating__icon--star {
  color: orange;
}

#half-stars-example .rating__icon--none {
  color: #eee;
}

#half-stars-example .rating__input--none:checked + .rating__label .rating__icon--none {
  color: red;
}

#half-stars-example .rating__input:checked ~ .rating__label .rating__icon--star {
  color: #ddd;
}

#half-stars-example .rating-group:hover .rating__label .rating__icon--star,
#half-stars-example .rating-group:hover .rating__label--half .rating__icon--star {
  color: orange;
}

#half-stars-example .rating__input:hover ~ .rating__label .rating__icon--star,
#half-stars-example .rating__input:hover ~ .rating__label--half .rating__icon--star {
  color: #ddd;
}

#half-stars-example
  .rating-group:hover
  .rating__input--none:not(:hover)
  + .rating__label
  .rating__icon--none {
  color: #eee;
}

#half-stars-example .rating__input--none:hover + .rating__label .rating__icon--none {
  color: red;
}

#full-stars-example-two .rating-group {
  display: inline-flex;
}

#full-stars-example-two .rating__icon {
  pointer-events: none;
}

#full-stars-example-two .rating__input {
  position: absolute !important;
  left: -9999px !important;
}

#full-stars-example-two .rating__input--none {
  display: none;
}

#full-stars-example-two .rating__label {
  cursor: pointer;
  padding: 0 0.1em;
  font-size: 2rem;
}

#full-stars-example-two .rating__icon--star {
  color: orange;
}

#full-stars-example-two .rating__input:checked ~ .rating__label .rating__icon--star {
  color: #ddd;
}

#full-stars-example-two .rating-group:hover .rating__label .rating__icon--star {
  color: orange;
}

#full-stars-example-two .rating__input:hover ~ .rating__label .rating__icon--star {
  color: #ddd;
}
</style>
