<template>
    <Pemasok v-if="user.role === 'Pemasok' || user.role === 'Penjual'" />
    <Pembeli v-if="user.role === 'Pembeli'" />
</template>

<script>
import Pemasok from "@/views/auth/dashboard/component/Penjual.vue"
import Pembeli from "@/views/auth/dashboard/component/Pembeli.vue"
import axios from "axios";
export default {
    data() {
        return {
            user: [],
            token: localStorage.getItem("token"),
            tokenProfileLKPP: localStorage.getItem("tokenProfileLKPP")

        }
    },
    components: {
        Pemasok,
        Pembeli
    },
    mounted() {
        if(this.token !== undefined) {
            axios.get("/api/user", {
                headers: {
                    Authorization: "Bearer " + this.token
                }
            }).then((resp) => {
                this.user = resp.data;
            }).catch((err) => {
                if(err.response.status === 401) {
                    localStorage.clear();
                }
            });
        }

        if(this.tokenProfileLKPP !== undefined) {
            localStorage.removeItem("userLKPP")
            localStorage.removeItem("tokenTransactionLKPP")
            axios.get("/api/v1/lkpp/me", {
                headers: {
                    'Authorization': 'Bearer ' + this.tokenProfileLKPP,
                }
            }).then((resp) => {
                localStorage.setItem("userLKPP", JSON.stringify(resp.data.user))
                localStorage.setItem("tokenTransactionLKPP", resp.data.user.token)

                this.user = resp.data.user;
            })
        }
    }

}
</script>
