<template>
    <Navbar />
    <div class="container">
        <div class="row">
            <div class="col-lg-3" v-if="userRole == 'Pembeli'">
                <SidebarPembeli />
            </div>
            <div class="col-lg-3" v-else-if="userRole == 'Pemasok' || userRole === 'Penjual'">
                <Sidebar />
            </div>
            <div class="col-lg-9 my-3">
                <div class="row justify-content-center">
                    <div class="col-lg-12">
                        <div class="row align-items-center justify-content-center">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="row">
                                        <div class="col-md-4 room-wrapper ps-4 pt-3">
                                            <div class="row justify-content-center mx-auto">
                                                <div class="col-md-12 pb-3">
                                                    <h5>Chat</h5>
                                                </div>
                                                <div class="col-md-12 mb-2 text-center">
                                                    <div class="input-group rounded">
                                                        <input type="text" class="form-control"
                                                            placeholder="Cari Obrolan" aria-label="Cari Produk"
                                                            aria-describedby="button-addon2"
                                                            style="border: 1px solid var(--primary-color)">
                                                        <button class="btn btn-outline-secondary" type="button"
                                                            id="button-addon2"
                                                            style="color:var(--primary-color);background-color:white;">
                                                            <i class="fa-solid fa-magnifying-glass"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row justify-content-center mx-auto">
                                                <div class="col-md-12 roomitem-wrapper rounded"
                                                    v-if="roomList.length > 0">
                                                    <div class="row justify-content-center align-items-center room-item py-2 my-1"
                                                        v-for="item in roomList" :key="item.chat_with.id"
                                                        :ref="'chat-room-' + item.chat_with.id"
                                                        @click="chooseChat(item)">
                                                        <div class="col-md-3">
                                                            <img :src="item.chat_with.image"
                                                                class="rounded-circle room-img">
                                                        </div>
                                                        <div class="col-md-7 ps-2 pe-0">
                                                            <h6 class="room-sender">{{ item.chat_with.name }}</h6>
                                                            <p class="room-lastchat">{{ item.last_message }}</p>
                                                        </div>
                                                        <div class="col-md-2 align-self-baseline text-center px-0">
                                                            <p class="room-lastchatdate mb-0">{{ item.time }}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-8 chat-wrapper" v-if="this.activeRoom !== null">
                                            <div class="row justify-content-start align-items-start">
                                                <div class="col-md-12">
                                                    <div class="row ps-3 py-3 chat-header align-items-center">
                                                        <div class="col-md-3 w-auto">
                                                            <img :src="this.activeRoom.chat_with.image"
                                                                class="rounded-circle room-img">
                                                        </div>
                                                        <div class="col-md-7 w-auto px-0 room-active-header">
                                                            <h6 class="room-sender">{{ this.activeRoom.chat_with.name }}
                                                            </h6>
                                                            <p class="room-lastchat text-muted">Aktif 1 jam yang lalu
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div class="row chat-room p-4">
                                                        <div class="col-md-12 chat-item" v-if="roomChats.length > 0"
                                                            v-for="(item, idx) in roomChats">
                                                            <div class="row justify-content-center">
                                                                <div class="col-md-4 text-center mb-3">
                                                                    <p class="chat-date py-2 px-4 rounded">{{ item.date
                                                                    }}</p>
                                                                </div>
                                                                <div class="col-md-12" v-for="chat in item.chats">
                                                                    <div class="col-md-12 chat-by-me text-end mb-3"
                                                                        v-if="chat.sender == this.authUserId">
                                                                        <div class="row justify-content-end">
                                                                            <div class="col-md-6">
                                                                                <div class="row align-items-center">
                                                                                    <div class="col-md-3 chat-time">
                                                                                        <p class="pe-2">{{ chat.time }}
                                                                                        </p>
                                                                                    </div>
                                                                                    <div
                                                                                        class="col-md-9 chat-text py-2 px-3">
                                                                                        <p>
                                                                                            {{ chat.message }}
                                                                                        </p>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-12 chat-by-other text-start mb-3"
                                                                        v-if="chat.sender != this.authUserId">
                                                                        <div class="row justify-content-start">
                                                                            <div class="col-md-6">
                                                                                <div class="row align-items-center">
                                                                                    <div
                                                                                        class="col-md-9 chat-text py-2 px-3">
                                                                                        <p>
                                                                                            {{ chat.message }}
                                                                                        </p>
                                                                                    </div>
                                                                                    <div class="col-md-3 chat-time">
                                                                                        <p class="ps-2">{{ chat.time }}
                                                                                        </p>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div
                                                        class="row chat-action justify-content-start align-items-center p-0">
                                                        <div class="col-md-8 ps-4 pt-3">
                                                            <div class="input-group rounded">
                                                                <input v-on:keyup.enter="sendChat" type="text"
                                                                    class="form-control" placeholder="Kirim Pesan"
                                                                    v-model="chatMessageForm"
                                                                    aria-describedby="button-addon2"
                                                                    style="border: 1px solid var(--primary-color)">
                                                                <button @click="sendChat"
                                                                    class="btn btn-outline-secondary" type="button"
                                                                    id="button-addon2"
                                                                    style="color:var(--primary-color);background-color:white;">
                                                                    <i class="fa-solid fa-paper-plane"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-8 chat-wrapper" v-if="this.activeRoom == null">
                                            <div class="row align-items-center justify-content-center iddle-chat">
                                                <div class="col-md-10 text-center">
                                                    <img src="@/assets/images/ic_message.png" class="img-fluid">
                                                    <h5>Selamat Datang di Ruang chat</h5>
                                                    <p>
                                                        Silahkan pilih salah satu chat di samping untuk <br>
                                                        melihat dan memulai percakapan
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
import axios from 'axios'
import $ from 'jquery';
import Sidebar from '../component/Sidebar.vue';
import SidebarPembeli from '../component/SidebarPembeli.vue';
// FIREBASE
import { getMessaging, onMessage } from '@firebase/messaging';
import Navbar from '@/v2/components/Navbar.vue';
export default {
    components: { Sidebar, SidebarPembeli, Navbar },
    data() {
        return {
            authToken: localStorage.getItem("token"),
            authUserId: null,
            userRole: null,
            activeRoom: null,
            roomList: [],
            roomChats: [],
            chatMessageForm: ''
        }
    },
    methods: {
        chooseChat(roomData) {
            this.activeRoom = roomData;
            $('.room-item').removeClass('active');
            $(this.$refs['chat-room-' + roomData.chat_with.id]).addClass('active');
            axios.get('/api/v1/chat/message', {
                headers: {
                    'Authorization': 'Bearer ' + this.authToken,
                }, params: {
                    room_id: roomData.id
                }
            }).then(res => {
                this.roomChats = res.data;
            }).catch(err => {
                console.log(err)
            }).then(() => {
                $(".card .chat-room").scrollTop($(".chat-room").height() * 10);
            })
        },
        sendChat() {
            let data = {
                "room_id": this.activeRoom.id,
                "message": this.chatMessageForm
            }

            this.chatMessageForm = '';

            axios.post('/api/v1/chat/message', data, {
                headers: {
                    'Authorization': 'Bearer ' + this.authToken,
                }
            }).then(() => {
                axios.get('/api/v1/chat/room', {
                    headers: {
                        'Authorization': 'Bearer ' + this.authToken,
                    }
                }).then(res => {
                    this.roomList = res.data.data;
                    this.chooseChat(this.activeRoom);
                }).catch(err => {
                    console.log(err)
                })
            }).catch(err => {
                console.log(err)
            });
        },
        mountChatRoom() {
            // ambil data room chat
            axios.get('/api/v1/chat/room', {
                headers: {
                    'Authorization': 'Bearer ' + this.authToken,
                }
            }).then(res => {
                this.roomList = res.data.data;
            }).catch(err => {
                console.log(err)
            })
        },

        mountChatParam() {
            let target = this.$route.query.target_id;

            axios.post('/api/v1/chat/room', {
                chat_with: target
            }, {
                headers: {
                    'Authorization': 'Bearer ' + this.authToken,
                }
            }).then(res => {
                this.activeRoom = res.data.data;
                // ambil data room chat
                axios.get('/api/v1/chat/room', {
                    headers: {
                        'Authorization': 'Bearer ' + this.authToken,
                    }
                }).then(res => {
                    this.roomList = res.data.data;
                }).catch(err => {
                    console.log(err)
                })

                this.$forceUpdate()

                axios.get('/api/v1/chat/message', {
                    headers: {
                        'Authorization': 'Bearer ' + this.authToken,
                    }, params: {
                        room_id: res.data.data.id
                    }
                }).then(res => {
                    this.roomChats = res.data;
                }).catch(err => {
                    console.log(err)
                }).then(() => {
                    $(this.$refs['chat-room-' + target]).addClass('active');
                    $(".card .chat-room").scrollTop($(".chat-room").height() * 10);
                })
            }).catch(err => {
                console.log(err)
            })
        }
    },
    mounted() {
        // ambil role untuk filter sidebar by role
        axios.get('/api/user', {
            headers: {
                'Authorization': 'Bearer ' + this.authToken,
            }
        }).then(res => {
            this.userRole = res.data.role;
            this.authUserId = res.data.id;
        }).catch((err) => {
            if(err.response.status === 401) {
                localStorage.clear();
            }
        })
        if (this.$route.query.target_id) {
            this.mountChatParam()
        } else {
            this.mountChatRoom()
        }
        // FCM
        const messaging = getMessaging()
        onMessage(messaging, () => {
            let routeLocation = this.$route.name;
            if (routeLocation === 'dashboardChatRoom') {
                axios.get('/api/v1/chat/room', {
                    headers: {
                        'Authorization': 'Bearer ' + this.authToken,
                    }
                }).then(res => {
                    this.roomList = res.data.data;
                    if (this.activeRoom) {
                        this.chooseChat(this.activeRoom);
                    }
                }).catch(err => {
                    console.log(err)
                })
            }
        })
    },
}
</script>


<style scope>
.room-wrapper {
    border-right: 1px solid var(--bs-border-color-translucent);
}

.room-img {
    width: 50px;
    height: 50px;
}

.room-sender {
    font-size: 14px;
    margin-bottom: 3px;
}

.room-lastchat {
    font-size: 12px;
    margin-bottom: 0px;
}

.room-lastchatdate {
    font-size: 12px;
}

.card {
    height: 75vh;
    overflow-x: hidden;
    overflow-y: hidden;
}

.roomitem-wrapper {
    height: 63vh;
    overflow-x: hidden;
    overflow-y: scroll;
}

.room-item {
    z-index: 9;
    cursor: pointer;
    height: fit-content !important;
}

/* width */
::-webkit-scrollbar {
    width: 0px;
}

.room-item:hover {
    background-color: var(--bs-border-color-translucent);
}

.room-item.active {
    background-color: var(--bs-border-color-translucent);
}

.chat-header {
    border-bottom: 1px solid var(--bs-border-color-translucent);
}

.chat-room {
    height: 58vh;
    overflow-y: scroll;
}

.chat-action {
    width: 100%;
    border-top: 1px solid black;
    position: absolute;
    top: 90%;
}

.chat-item .chat-date {
    background-color: #F5F5F5;
    color: #969391;
}

.chat-item .chat-time {
    font-size: 13px;
}

.chat-item .chat-text {
    font-size: 15px;
    border: 1px solid #FFA200;
    border-radius: 10px;
}

.chat-text p {
    margin-bottom: 0px;
}

.chat-by-me .chat-text {
    border-top-right-radius: 0px;
}

.chat-by-other .chat-text {
    border-top-left-radius: 0px;
}

.iddle-chat {
    padding: 35% 0;
}

.iddle-chat img {
    max-width: 40%;
}

.iddle-chat h5 {
    font-weight: bold;
    padding: 25px 0 10px 0;
    margin-bottom: 0;
}

.iddle-chat p {
    font-size: 15px;
}
</style>
