<template>
    <Navbar />

    <div class="container-fluid">
        <div class="banner-section">
            <h1 class="section-title">Tentang Kami</h1>
        </div>

        <div class="row row-section-about">
            <div class="col-lg-6 d-flex align-items-center">
                <div class="w-100 bg-dark-section">
                    <h2 class="section-title">PT Rumah UMKM Indonesia</h2>
                    <div class="section-description py-2">
                        beliumkm.co.id dioperasikan oleh PT. Rumah UMKM Indonesia dengan tujuan memasarkan produk dalam negeri yang dipasok dari industri lokal dan pelaku UMKM kepada instansi pemerintah selaku pihak pembeli.
                        <br>
                        Melalui platform beliumkm kami berupaya membantu para UMKM kategori mikro dan kecil dalam hal pemasaran produk, hingga percepatan pembayaran.
                        <br>
                        Sebagai bagian dari platform toko daring LKPP kami berusaha menyederhanakan proses transaksi belanja pemerintah tetap mengedepankan prinsip bebas korupsi dalam proses pengadaan barang dan jasa.
                        <br>
                        <br>
                        Saat ini seluruh transaksi belanja instansi pemerintah melalui beliumkm.co.id akan tercatat secara real time pada Lembaga Kebijakan Pengadaan Barang/Jasa Pemerintah RI.
                        <br>
                        <br>
                        Semoga dengan kehadiran beliumkm  akan memberikan nilai positif bagi kemajuan ekonomi daerah dan UMKM.

                    </div>
                </div>
            </div>
            <div class="col-lg-6"></div>
        </div>

        <swiper
            :slidesPerView="1"
            :spaceBetween="30"
            :loop="true"
            :autoplay="{
                delay: 2500,
                disableOnInteraction: true,
            }"
            :pagination="{
                clickable: true,
            }"
            :navigation="false"
            :modules="modules"
            class="mySwiper">
            <swiper-slide>
                <div class="row row-section-founder align-items-center">
                    <div class="col-lg-6">
                        <img :src="require('@/v2/assets/images/auxilary/alham-prasogo-habibie.png')" alt="">
                    </div>
                    <div class="col-lg-6 founder">
                        <div class="title">Kata Founder</div>
                        <div class="description mt-3 mb-4">
                            “ Berawal dari kegelisahan melihat tumbangnya para UMKM akibat dampak dari pandemik Covid-19, kami terpanggil untuk melahirkan  sebuah ritel daring yang berfokus membantu para UMKM mendapatkan pemasukan dari kebutuhan belanja barang/jasa pemerintah”
                        </div>
                        <div class="text-dark mt-3">Alham Prasogo Habibie</div>
                        <div class="text-muted">Founder beliumkm.co.id</div>
                    </div>
                </div>
            </swiper-slide>
            <swiper-slide>
                <div class="row row-section-founder align-items-center">
                    <div class="col-lg-6">
                        <img :src="require('@/v2/assets/images/auxilary/taufik-akbar.png')" alt="">
                    </div>
                    <div class="col-lg-6 founder">
                        <div class="title">Kata Founder</div>
                        <div class="description mt-3 mb-4">
                            “beliumkm  menyediakan berbagai macam produk dalam negeri yang berasal dari industri lokal dan para pelaku UMKM.
                            <br/>
                            <br/>
                            Segala macam kebutuhan barang/jasa instansi pemerintah dapat  anda temukan melalui situs beliumkm.co.id””
                        </div>
                        <div class="text-dark mt-3">Taufik Akbar</div>
                        <div class="text-muted">Founder beliumkm.co.id</div>
                    </div>
                </div>
            </swiper-slide>
        </swiper>

        <div class="row row-section-gradient position-relative">
            <h3>Beli UMKM</h3>
            <h2>Bela UMKM!</h2>

            <img :src="require('@/v2/assets/images/auxilary/energetic-woman.png')" alt="">
        </div>
    </div>
</template>

<script>
import Navbar from '@/v2/components/Navbar'

import { Swiper, SwiperSlide } from "swiper/vue";

// Import Swiper styles
import "swiper/css";
import "swiper/css/pagination";
import "swiper/css/navigation";

import { Autoplay, Pagination } from "swiper";

export default {
    name: 'about-us',
    components: {
        Navbar,
        Swiper,
        SwiperSlide,
    },
    setup() {
        return {
            modules: [Autoplay, Pagination],
        };
    },
}
</script>

<style>
.banner-section {
    width: 100%;
    height: 190px;
    background: #4C2A86;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.row-section-about {
    width: 100%;
    margin: 0 auto;
    padding: 0 4rem;
    height: 661px;
    background: url('../../assets/images/auxilary/about-us.png') center bottom;
}

.row-section-founder {
    width: 100%;
    margin: 0 auto;
    padding: 4rem;
}

.row-section-founder img {
    width: 490px;
    height: 490px;
    object-fit: contain;
    object-position: center;
}

.row-section-gradient {
    width: 100%;
    margin: 0 auto;
    height: 300px;
    background: url('../../assets/images/auxilary/gradient-bg.png') center bottom;
    color: #FFFFFF;
}

.row-section-gradient > img {
    position: absolute;
    width: 288px;
    height: 300px;
    right: 130px;
    top: 0;
}

.row-section-gradient > h2 {
    position: absolute;
    top: 120px;
    left: 312px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 87px;
    line-height: 141px;
}

.row-section-gradient > h3 {
    position: absolute;
    top: 40px;
    left: 200px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 80px;
}

.bg-dark-section {
    width: 100%;
    height: fit-content;
    background: rgba(35, 41, 51, 0.7);
    mix-blend-mode: luminosity;
    border-radius: 4px;
    padding: 2rem;
}

h1.section-title {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 37px;
    line-height: 60px;
}

h2.section-title {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 45px;
    color: #FFFFFF;
}

.section-description {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #F5F5FB;
}

.founder {
    padding-left: 3rem;
}

.founder > .text-dark {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 45px;
    text-transform: uppercase;
    color: #232933;
}

.founder > .text-muted {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #8B95A5;
}

.founder > .title {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    color: #232933;
}

.founder > .description {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #232933;
}

.swiper:hover ~ .swiper-custom-button-prev,
.swiper:hover ~ .swiper-custom-button-next {
    display: flex;
}

.swiper-slide {
  text-align: left;
  font-size: 18px;
  background: #fff;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-pagination {
    text-align: right;
    padding: 10px 48px;
    bottom: 4rem !important;
}

.swiper-pagination-bullet {
    width: 16px;
    height: 16px;
    display: inline-block;
    border-radius: 50%;
    background: #4C2A86;
    opacity: .4;
}

.swiper-pagination-bullet-active {
    opacity: 1;
}
</style>
