<template>
    <Navbar />

    <div class="container-fluid">
        <div class="banner-section">
            <h1 class="section-title">Cara Berbelanja</h1>
            <div class="section-description">Mungkin kamu bingung dengan apa yang mau kita berikan, berikut beberapa pertanyaan yang sering ditanyakan</div>
        </div>

        <div class="row row-section">
            <div class="col-lg-4 d-flex justify-content-between">
                <div>
                    <h4 class="section-title">Bantuan</h4>
                    <button @click.prevent="setHelp(0, null)" class="help-button animate__animated animate__fadeIn" :class="help == 0 && 'active'">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M20.9099 11.1203C20.9099 16.0103 17.3599 20.5903 12.5099 21.9303C12.1799 22.0203 11.8198 22.0203 11.4898 21.9303C6.63984 20.5903 3.08984 16.0103 3.08984 11.1203V6.73028C3.08984 5.91028 3.70986 4.98028 4.47986 4.67028L10.0498 2.39031C11.2998 1.88031 12.7098 1.88031 13.9598 2.39031L19.5298 4.67028C20.2898 4.98028 20.9199 5.91028 20.9199 6.73028L20.9099 11.1203Z" :stroke="help == 0 ? '#0D6EFD' : '#000000'" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M12 12.5C13.1046 12.5 14 11.6046 14 10.5C14 9.39543 13.1046 8.5 12 8.5C10.8954 8.5 10 9.39543 10 10.5C10 11.6046 10.8954 12.5 12 12.5Z" :stroke="help == 0 ? '#0D6EFD' : '#000000'" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M12 12.5V15.5" :stroke="help == 0 ? '#0D6EFD' : '#000000'" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        Akun saya
                    </button>

                    <button @click.prevent="setHelp(1                                                                       , null)" class="help-button animate__animated animate__fadeIn" :class="help == 1 && 'active'">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8.80945 2L5.18945 5.63" :stroke="help == 1 ? '#0D6EFD' : '#000000'" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M15.1895 2L18.8095 5.63" :stroke="help == 1 ? '#0D6EFD' : '#000000'" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M2 7.84961C2 5.99961 2.99 5.84961 4.22 5.84961H19.78C21.01 5.84961 22 5.99961 22 7.84961C22 9.99961 21.01 9.84961 19.78 9.84961H4.22C2.99 9.84961 2 9.99961 2 7.84961Z" :stroke="help == 1 ? '#0D6EFD' : '#000000'" stroke-width="1.5"/>
                            <path d="M9.75977 14V17.55" :stroke="help == 1 ? '#0D6EFD' : '#000000'" stroke-width="1.5" stroke-linecap="round"/>
                            <path d="M14.3594 14V17.55" :stroke="help == 1 ? '#0D6EFD' : '#000000'" stroke-width="1.5" stroke-linecap="round"/>
                            <path d="M3.5 10L4.91 18.64C5.23 20.58 6 22 8.86 22H14.89C18 22 18.46 20.64 18.82 18.76L20.5 10" :stroke="help == 1 ? '#0D6EFD' : '#000000'" stroke-width="1.5" stroke-linecap="round"/>
                        </svg>

                        Berbelanja
                    </button>
                </div>

                <div class="border-end me-4"></div>
            </div>
            <div class="col-lg-8">
                <h3 class="section-title animate__animated animate__fadeIn" v-if="help_detail === null">{{ help == 0 ? 'Akun Saya' : 'Berbelanja' }}</h3>
                <a href="#" @click.prevent="help_detail = null" class="back-link text-decoration-none animate__animated animate__fadeIn" v-else>Kembali</a>

                <template v-if="help == 0">
                    <button v-if="help_detail === null" @click.prevent="help_detail = 0" class="help-button w-100 d-flex justify-content-between animate__animated animate__fadeIn">
                        Seperti apa persyaratan pembeli pada situs beliumkm.co.id ?

                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8.91016 19.92L15.4302 13.4C16.2002 12.63 16.2002 11.37 15.4302 10.6L8.91016 4.07999" stroke="#232933" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </button>

                    <div v-if="help_detail === 0" class="animate__animated animate__fadeIn">
                        <h3 class="text-dark mt-3 mb-4 fw-bold">Seperti apa persyaratan pembeli pada situs beliumkm.co.id ?</h3>
                        <div class="help-detail-description">
                            Pembeli pada situs beliumkm.co.id memiliki akun SPSE aktif dan berstatus pejabat yang berwenang dalam hal melakukan transaksi belanja barang dan jasa pemerintah.
                        </div>
                    </div>

                    <button v-if="help_detail === null" @click.prevent="help_detail = 1" class="help-button w-100 d-flex justify-content-between animate__animated animate__fadeIn">
                        Bagaimana jika saya belum memiliki akun SPSE ?

                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8.91016 19.92L15.4302 13.4C16.2002 12.63 16.2002 11.37 15.4302 10.6L8.91016 4.07999" stroke="#232933" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </button>

                    <div v-if="help_detail === 1" class="animate__animated animate__fadeIn">
                        <h3 class="text-dark mt-3 mb-4 fw-bold">Bagaimana jika saya belum memiliki akun SPSE ?</h3>
                        <div class="help-detail-description">
                            Anda dapat menghubungi Unit Layanan Pengadaan Barang dan Jasa setempat terkait informasi pembuatan akun maupun pejabat pengadaan pada instansi anda.
                        </div>
                    </div>

                    <button v-if="help_detail === null" @click.prevent="help_detail = 2" class="help-button w-100 d-flex justify-content-between animate__animated animate__fadeIn">
                        Mengapa pembeli wajib melalukan login melalui SPSE ?

                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8.91016 19.92L15.4302 13.4C16.2002 12.63 16.2002 11.37 15.4302 10.6L8.91016 4.07999" stroke="#232933" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </button>

                    <div v-if="help_detail === 2" class="animate__animated animate__fadeIn">
                        <h3 class="text-dark mt-3 mb-4 fw-bold">Mengapa pembeli wajib melalukan login melalui SPSE ?</h3>
                        <div class="help-detail-description">
                            Sesuai dengan mekanisme E-Purchasing melalui Toko Daring yang ditetapkan oleh LKPP RI, setiap
                            pembeli dari instansi
                            pemerintah diwajibkan melakukan login melalui SPSE guna pelaporan dan pencatatan transaksi
                            belanja.
                        </div>
                    </div>
                </template>

                <template v-if="help == 1">
                    <button v-if="help_detail === null" @click.prevent="help_detail = 0" class="help-button w-100 d-flex justify-content-between animate__animated animate__fadeIn">
                        Bagaimana cara berbelanja pada situs beliumkm.co.id ?

                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8.91016 19.92L15.4302 13.4C16.2002 12.63 16.2002 11.37 15.4302 10.6L8.91016 4.07999" stroke="#232933" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </button>

                    <div v-if="help_detail === 0" class="animate__animated animate__fadeIn">
                        <h3 class="text-dark mt-3 mb-4 fw-bold">Bagaimana cara berbelanja pada situs beliumkm.co.id ?</h3>
                        <div class="help-detail-description">
                            Sesuai dengan mekanisme E-Purchasing melalui Toko Daring yang ditetapkan oleh LKPP RI, setiap
                            pembeli dari instansi
                            pemerintah diwajibkan melakukan login melalui SPSE guna pelaporan dan pencatatan transaksi
                            belanja.
                        </div>
                    </div>

                    <button v-if="help_detail === null" @click.prevent="help_detail = 1" class="help-button w-100 d-flex justify-content-between animate__animated animate__fadeIn">
                        Keunggulan apa saja yang ditawarkan kepada pembeli pada situs beliumkm.co.id ?

                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8.91016 19.92L15.4302 13.4C16.2002 12.63 16.2002 11.37 15.4302 10.6L8.91016 4.07999" stroke="#232933" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </button>

                    <div v-if="help_detail === 1" class="animate__animated animate__fadeIn">
                        <h3 class="text-dark mt-3 mb-4 fw-bold">Keunggulan apa saja yang ditawarkan kepada pembeli pada situs beliumkm.co.id ?</h3>
                        <div class="help-detail-description">
                            <ul>
                                <li>Pencatatan dan pelaporan transaksi belanja secara real time kepada pihak LKPP RI</li>
                                <li>Belanja E-Purchasing produk dalam negeri yang berasal dari pelaku UMKM</li>
                                <li>Fasilitas Pembayaran bertempo hingga 14 hari kalender terhitung sejak pesanan diterima
                                </li>
                                <li>Fasilitas Pembayaran menggunakan kartu kredit pemerintah</li>
                                <li>Pungutan, penyetoran, dan pelaporan pajak ditangani oleh marketplace beliumkm.co.id (sesuai
                                    PMK-58/PMK.03/2022)</li>
                                <li>Pilihan pembayaran Pajak Daerah</li>
                                <li>Bebas biaya pengiriman untuk belanja produk jasa</li>
                            </ul>
                        </div>
                    </div>
                </template>
            </div>
        </div>
    </div>
</template>

<script>
import Navbar from '@/v2/components/Navbar'

export default {
    name: 'cara-belanja',
    components: {
        Navbar,
    },
    data() {
        return {
            help: 0,
            help_detail: null,
        }
    },
    methods: {
        setHelp(help, help_detail) {
            this.help = help;
            this.help_detail = help_detail;
        }
    },
}
</script>

<style scoped>
.banner-section {
    width: 100%;
    height: 190px;
    background: #4C2A86;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.row-section {
    margin: 4rem auto;
    padding: 0 4rem;
    min-height: 40vh;
}

.help-button {
    box-sizing: border-box;
    padding: 16px;
    gap: 12px;
    width: 312px;
    margin-top: 16px;
    background: #FFFFFF;
    border: 1px solid #D0D6DD;
    color: solid #000000;
    border-radius: 4px;
    display: flex;
    align-items: center;
}

.back-link {
    color: #0D6EFD;
    cursor: pointer;
}
.help-button.active {
    border: 1px solid #0D6EFD;
    color: #0D6EFD;
}

.help-button:hover:not(.active) {
    background: #bbb9b92b;
}

h1.section-title {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 37px;
    line-height: 60px;
}

h3.section-title {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 45px;
    color: #232933;
}

h4.section-title {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 21px;
    line-height: 34px;
    color: #232933;
}

.section-description {
    width: 34%;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
}

.help-detail-description {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #626B79;
}
</style>
