<template>
  <Navbar />

  <div class="container-fluid text-center py-5">
    <h1 class="section-title mb-3">Syarat dan Ketentuan</h1>
    <div class="section-description mb-5">
      Silahkan membaca Syarat & Ketentuan pada situs beliumkm.co.id
    </div>

    <img :src="require('@/v2/assets/images/auxilary/accept-terms.png')" alt="" />

    <div class="w-100 my-5">
      <a
        href="https://drive.google.com/file/d/1JwDtl8pquP7LPtZUtUZwitUhdFokDZKg/view?usp=share_link"
        target="_blank"
        class="btn __btn-primary w-25"
      >
        Baca Syarat dan Ketentuan
      </a>
    </div>
  </div>
</template>

<script>
import Navbar from "@/v2/components/Navbar";

export default {
  name: "kebijakan-privasi",
  components: {
    Navbar,
  },
};
</script>

<style>
.section-title {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 37px;
  line-height: 60px;
}

.section-description {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
}
</style>
