<template>
  <Navbar />

  <!-- Breadcrumb -->
  <div class="bg-breadcrumb">
    <nav class="container-fluid" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a class="text-decoration-none text-muted" href="/">Home</a>
        </li>
        <li class="breadcrumb-item active">Penjual</li>
        <li class="breadcrumb-item active" aria-current="page">Pesanan</li>
      </ol>
    </nav>
  </div>

  <!-- Data Pesanan -->
  <div class="container-fluid">
    <div class="banner-section py-4 px-5">
      <h4 class="section-title">Pesanan</h4>
      <div class="d-flex align-items-end justify-content-between">
        <div class="fw-bold __text-yellow">
          <template v-if="pesanan.status == 'pesanan_selesai'">
            <span v-if="pesanan.payment_status == 'waiting_for_payment'">
              Menunggu Pembayaran
            </span>
            <span v-else-if="pesanan.payment_status == 'paid'">
              Pembayaran Diterima
            </span>
            <span v-else> Pesanan Selesai </span>
          </template>
          <span v-if="pesanan.status === 'permintaan_rfq'"> Permintaan RFQ</span>
          <span v-if="pesanan.status === 'proses_permintaan_rfq'"> Permintaan RFQ </span>
          <span v-if="pesanan.status === 'pesanan_dibuat'"> Permintaan Pesanan </span>
          <span v-else-if="pesanan.status === 'pesanan_terbuat'">
            Permintaan Pesanan
          </span>
          <span v-else-if="pesanan.status === 'pesanan_ditolak'"> Ditolak Pemasok </span>
          <span v-else-if="pesanan.status === 'pesanan_diterima'">
            Konfirmasi Terima Pesanan
          </span>
          <span v-else-if="pesanan.status === 'pesanan_dikomplain'">
            Pesanan Dikomplain
          </span>
          <span v-else-if="pesanan.status === 'permintaan_rfq_diterima'">
            Menunggu Persetujuan Pembeli
          </span>
          <span v-else-if="pesanan.status == 'permintaan_rfq_ditolak'">
            Permintaan RFQ Ditolak Pemasok
          </span>
          <template v-else> - </template>
        </div>
        <!-- <button
            class="btn btn-primary d-flex gap-3 align-items-center py-2"
            style="right: 0; top: 0"
            @click="generateReport()"
        >
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M16.4405 8.90039C20.0405 9.21039 21.5105 11.0604 21.5105 15.1104V15.2404C21.5105 19.7104 19.7205 21.5004 15.2505 21.5004H8.74047C4.27047 21.5004 2.48047 19.7104 2.48047 15.2404V15.1104C2.48047 11.0904 3.93047 9.24039 7.47047 8.91039" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M12 2V14.88" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M15.3504 12.6504L12.0004 16.0004L8.65039 12.6504" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>

          Download PDF
        </button> -->
      </div>

      <div class="row mt-4 text-start">
        <div class="col-md">
          <small class="d-block">Nomor Pesanan</small>
          <div class="fs-4">{{ pesanan.no_pesanan }}</div>
        </div>
        <div class="col-md">
          <small class="d-block">Tanggal Pesanan</small>
          <div class="fs-4">{{ pesanan.created_at }}</div>
        </div>
        <div class="col-md">
          <small class="d-block">Nama Pemasok</small>
          <div class="fs-4">{{ penjual.nama_usaha }}</div>
        </div>
        <div class="col-md-2">
          <small class="d-block">Lokasi Pemasok</small>
          <div class="fs-4">
            {{ pesanan.alamat_penjual ? pesanan.alamat_penjual.city_name : "-" }}
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Informasi Pembeli -->
  <div class="container-fluid py-4">
    <div class="row">
      <div class="col-md-4 ps-5">
        <h2 class="position-relative">
          Informasi Pembeli
          <svg
            class="position-absolute top-0 ms-1"
            width="12"
            height="12"
            viewBox="0 0 12 12"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <circle cx="6" cy="6" r="6" fill="#4C2A86" />
          </svg>
        </h2>
        <small class="text-muted"> Detail data informasi pembeli. </small>
      </div>

      <div class="col-md-8 pe-5">
        <div class="row">
          <div class="mb-4 pe-3 col-md-6">
            <div class="text-muted">Nama</div>
            <input
              type="text"
              v-model="pesanan.nama_pemesan"
              :class="`__form-control form-control text-dark`"
              disabled
              placeholder="Ketik nama anda"
            />
          </div>

          <div class="mb-4 ps-3 col-md-6">
            <div class="text-muted">Jabatan</div>
            <input
              type="text"
              v-model="pesanan.email_pemesan"
              :class="`__form-control form-control text-dark`"
              disabled
              placeholder="Ketik jabatan anda"
            />
          </div>

          <div class="mb-4 pe-3 col-md-6">
            <div class="text-muted">Telepon Pemesan</div>
            <input
              type="text"
              v-model="pesanan.no_telp_pemesan"
              :class="`__form-control form-control text-dark`"
              disabled
              placeholder="Ketik nomor telepon anda"
            />
          </div>

          <div class="mb-4 ps-3 col-md-6">
            <div class="text-muted">Informasi Transaksi</div>
            <input
              type="text"
              v-model="pesanan.untuk_keperluan"
              :class="`__form-control form-control text-dark`"
              disabled
              placeholder="Ketik informasi transaksi anda"
            />
          </div>

          <div class="mb-4 pe-3 col-md-6">
            <div class="text-muted">Asal Instansi</div>
            <textarea
              rows="3"
              v-model="pesanan.asal_pemesan"
              :class="`__form-control form-control text-dark`"
              placeholder="Ketik nama instansi anda"
              disabled
            ></textarea>
          </div>

          <div class="mb-4 ps-3 col-md-6">
            <div class="text-muted">Alamat Instansi</div>
            <textarea
              rows="3"
              v-model="pesanan.alamat_pemesan"
              :class="`__form-control form-control text-dark`"
              placeholder="Ketik alamat instansi anda"
              disabled
            ></textarea>
          </div>

          <template
            v-if="
              isJasaProduct &&
              (jasa_products.type_jasa == 'pesan_hotel' ||
                jasa_products.type_jasa == 'pesan_tiket_pesawat')
            "
          >
            <div class="mb-4 pe-3 col-md-6">
              <div class="d-flex justify-content-between mb-2">
                <div class="text-muted">
                  <template v-if="jasa_products.type_jasa == 'pesan_tiket_pesawat'"
                    >KTP Penumpang</template
                  >
                  <template v-else>KTP Tamu</template>
                  (format pdf)
                </div>
                <button
                  @click="
                    downloadDocuments(
                      pesanan.kartu_identitas_pegawai,
                      'kartu-identitas-pegawai'
                    )
                  "
                  class="btn __btn-primary"
                >
                  <i class="fas fa-download"></i>
                </button>
              </div>
              <iframe
                width="100%"
                height="100%"
                :src="pesanan.kartu_identitas_pegawai"
                class="documents-file"
              />
              <!-- <img :src="pesanan.kartu_identitas_pegawai" class="documents-file"> -->
            </div>
            <div class="mb-4 ps-3 col-md-6">
              <div class="d-flex justify-content-between mb-2">
                Surat Tugas (format pdf)
                <button
                  @click="downloadDocuments(pesanan.surat_dinas, 'surat-dinas')"
                  class="btn __btn-primary"
                >
                  <i class="fas fa-download"></i>
                </button>
              </div>
              <iframe
                width="100%"
                height="100%"
                :src="pesanan.surat_dinas"
                class="documents-file"
              />
              <!-- <img :src="pesanan.surat_dinas" class="documents-file"> -->
            </div>
          </template>
        </div>
      </div>
    </div>
  </div>

  <!-- Informasi Pembayaran -->
  <div class="container-fluid py-4">
    <div class="row">
      <div class="col-md-4 ps-5">
        <h2 class="position-relative">
          Informasi Pembayaran
          <svg
            class="position-absolute top-0 ms-1"
            width="12"
            height="12"
            viewBox="0 0 12 12"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <circle cx="6" cy="6" r="6" fill="#4C2A86" />
          </svg>
        </h2>
        <small class="text-muted"> Terhitung sejak pesanan diterima </small>
      </div>

      <div class="col-md-8 pe-5">
        <div class="row">
          <div class="mb-4 pe-3 col-md-6">
            <div class="text-muted">Metode Pembayaran</div>
            <select
              v-model="pesanan.metode_pembayaran"
              :class="`__form-control rounded form-select text-dark`"
              disabled
            >
              <!-- <option v-if="!isJasaProduct" value="Bayar Sebelum Pengiriman">Bayar Sebelum Pengiriman</option> -->
              <option value="Pembayaran Bertempo">Pembayaran Bertempo</option>
              <option
                v-if="
                  isJasaProduct &&
                  (jasa_products.type_jasa == 'pesan_hotel' ||
                    jasa_products.type_jasa == 'pesan_tiket_pesawat')
                "
                value="Pembayaran Langsung"
              >
                Pembayaran Langsung
              </option>
              <option v-if="!isJasaProduct" value="Bayar Saat Terima Pesanan (COD)">
                Bayar Saat Terima Pesanan (COD)
              </option>
              <option v-if="isJasaProduct" value="Selesaikan Pembayaran Dalam 60 Menit">
                Selesaikan Pembayaran Dalam 60 Menit
              </option>
            </select>
          </div>
          <div
            class="mb-4 ps-3 col-md-6"
            v-if="pesanan.metode_pembayaran === 'Pembayaran Bertempo'"
          >
            <div class="text-muted">Hari</div>
            <input
              type="number"
              v-model="pesanan.hari"
              :class="`__form-control form-control text-dark`"
              style="width: 100px"
              disabled
            />
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Pilihan Pembayaran -->
  <div class="container-fluid py-4">
    <div class="row">
      <div class="col-md-4 ps-5">
        <h2 class="position-relative">
          Pilihan Pembayaran
          <svg
            class="position-absolute top-0 ms-1"
            width="12"
            height="12"
            viewBox="0 0 12 12"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <circle cx="6" cy="6" r="6" fill="#4C2A86" />
          </svg>
        </h2>
        <small class="text-muted"> Pilihan pembayaran yang anda pilih </small>
      </div>

      <div class="col-md-8 pe-5">
        <div class="row">
          <div class="mb-4 pe-3 col-md-12">
            <PaymentMethodSelected :pesanan="pesanan" />
          </div>
        </div>
        <!-- <div class="text-danger" v-show="!pesanan.type_payment" v-text="error.type_payment"></div> -->
      </div>
    </div>
  </div>

  <!-- Data Pesanan -->
  <div class="container-fluid py-4">
    <div class="row px-5">
      <div class="col-md-12">
        <table class="w-100">
          <thead class="__bg-primary">
            <tr>
              <th width="2%" class="border text-center py-4 px-2">NO</th>
              <th class="border text-center py-4 px-1">
                <template v-if="!isJasaProduct"> PRODUK </template>
                <template v-else>
                  <template v-if="jasa_products.type_jasa == 'tiket_bus_travel'">
                    BUS
                  </template>
                  <template
                    v-else-if="
                      jasa_products.type_jasa == 'antar_jemput_bandara' ||
                      jasa_products.type_jasa == 'sewa_kendaraan'
                    "
                  >
                    KENDARAAN
                  </template>
                  <template v-else-if="jasa_products.type_jasa == 'pesan_hotel'">
                    NAMA HOTEL
                  </template>
                  <template v-else>PENERBANGAN</template>
                </template>
              </th>
              <th width="20%" class="border text-center py-4 px-1">
                <template v-if="!isJasaProduct"> KUANTITAS </template>
                <template v-else>
                  <template v-if="jasa_products.type_jasa == 'pesan_hotel'">
                    CHECKIN - CHECKOUT
                  </template>
                  <template v-else>WAKTU KEBERANGKATAN</template>
                </template>
              </th>
              <template v-if="pesanan.type !== 'rfq'">
                <th width="20%" class="border text-center py-4 px-1">
                  <template v-if="!isJasaProduct"> HARGA SATUAN </template>
                  <template v-else>
                    <template v-if="jasa_products.type_jasa == 'pesan_hotel'">
                      DATA TAMU
                    </template>
                    <template v-else>DETAIL PENUMPANG</template>
                  </template>
                </th>
                <th width="20%" class="border text-center py-4 px-1">TOTAL HARGA</th>
              </template>
              <template v-else>
                <th width="20%" class="border text-center py-4 px-1">HARGA NEGOSIASI</th>
                <th width="20%" class="border text-center py-4 px-1">
                  TOTAL HARGA NEGOSIASI
                </th>
              </template>
            </tr>
          </thead>
          <tbody>
            <template v-if="!isJasaProduct">
              <tr v-for="(item, index) in products" v-bind:key="item">
                <td class="border text-center py-4">{{ index + 1 }}</td>
                <td class="border py-4">
                  <div class="d-flex prod">
                    <img :src="item.product.image[0]" class="rounded mx-3" width="100" />
                    <div class="ms-2 my-auto">
                      <div class="text-dark fw-bold">{{ item.product.title }}</div>
                      <small class="d-block text-muted mb-3">Produk Dalam Negeri</small>
                      <div class="text-muted">
                        Berat: {{ item.product.berat / 1000 }} kg
                      </div>
                    </div>
                  </div>
                </td>
                <td class="border text-center py-4">{{ item.qty }}</td>
                <td class="border text-center py-4 px-3">
                  <div class="d-flex justify-content-between">
                    <div>Rp</div>
                    <div>
                      {{
                        item.harga_jual
                          .toString()
                          .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                      }}
                    </div>
                  </div>
                </td>
                <td class="border text-center py-4 px-3">
                  <div class="d-flex justify-content-between">
                    <div>Rp</div>
                    <div>
                      {{
                        (item.harga_jual * item.qty)
                          .toString()
                          .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                      }}
                    </div>
                  </div>
                </td>
              </tr>
            </template>
            <template v-else>
              <template v-if="jasa_products.type_jasa == 'tiket_bus_travel'">
                <tr>
                  <td class="border text-center py-4 px-3">1</td>
                  <td class="border text-center py-4 px-3">
                    <div class="d-flex prod">
                      <img
                        :src="jasa_products.product.image[0]"
                        class="rounded"
                        width="100"
                        height="50"
                      />
                      <div class="my-auto">
                        <span class="fw-bold">{{ jasa_products.product.name }}</span>
                        <span>{{ jasa_products.passenger_count }} Orang</span>
                        <!-- <span>TKDN (%): 100</span> -->
                        <!-- <span>Berat: {{ item.product.berat / 1000 }} kg</span> -->
                      </div>
                    </div>
                  </td>
                  <td class="border text-center py-4 px-3">
                    <div class="d-flex gap-2 justify-content-center fw-bold">
                      <span>{{ jasa_products.product.keberangkatan.name }}</span>
                      <span class="fw-normal">-</span>
                      <span>{{ jasa_products.product.tujuan.name }}</span>
                    </div>

                    <div class="d-flex gap-2 justify-content-center">
                      <span class="fw-normal">{{
                        formatBirthDate(jasa_products.tanggal.berangkat)
                      }}</span>
                    </div>
                  </td>
                  <td class="border text-center py-4 px-3">
                    <template v-for="passenger in jasa_products.passengers">
                      <div>
                        {{ passenger.first_name }} {{ passenger.last_name }}
                        <small class="ms-2 text-muted">{{
                          formatBirthDate(passenger.birth_date)
                        }}</small>
                      </div>
                    </template>
                  </td>
                  <td class="border text-center py-4 px-3">
                    <div class="d-flex justify-content-between">
                      <div>Rp</div>
                      <div>{{ jasa_products.harga_satuan }}</div>
                    </div>
                  </td>
                </tr>
              </template>
              <template v-else-if="jasa_products.type_jasa == 'sewa_kendaraan'">
                <tr>
                  <td class="border text-center py-4 px-3">1</td>
                  <td class="border text-center py-4 px-3">
                    <div class="d-flex prod">
                      <img
                        :src="jasa_products.product.image[0]"
                        class="rounded"
                        width="100"
                        height="50"
                      />
                      <div class="my-auto">
                        <span class="fw-bold">{{ jasa_products.product.name }}</span>
                        <span>{{ jasa_products.product.kapasitas }} Orang</span>
                        <!-- <span>TKDN (%): 100</span> -->
                        <!-- <span>Berat: {{ item.product.berat / 1000 }} kg</span> -->
                      </div>
                    </div>
                  </td>
                  <td class="border text-center py-4 px-3">
                    <div class="d-flex gap-2 justify-content-center fw-bold">
                      <span>{{ jasa_products.product.kota }}</span>
                    </div>
                    <div class="d-flex gap-2 justify-content-center">
                      <span class="fw-normal">{{ jasa_products.tanggal.mulai }}</span>
                      <span class="fw-normal">-</span>
                      <span class="fw-normal">{{ jasa_products.tanggal.selesai }}</span>
                    </div>
                  </td>
                  <td class="border text-center py-4 px-3">
                    <div>
                      {{ jasa_products.passenger.first_name }}
                      {{ jasa_products.passenger.last_name }}
                    </div>
                  </td>
                  <td class="border text-center py-4 px-3">
                    <div class="d-flex justify-content-between">
                      <div>Rp</div>
                      <div>{{ jasa_products.harga_satuan }}</div>
                    </div>
                  </td>
                </tr>
              </template>
              <template v-else-if="jasa_products.type_jasa == 'antar_jemput_bandara'">
                <tr>
                  <td class="border text-center py-4 px-3">1</td>
                  <td class="border text-center py-4 px-3">
                    <div class="d-flex prod">
                      <img
                        :src="jasa_products.product.image[0]"
                        class="rounded"
                        width="100"
                        height="50"
                      />
                      <div class="my-auto">
                        <span class="fw-bold">{{ jasa_products.product.name }}</span>
                        <span>{{ jasa_products.product.kapasitas }} Orang</span>
                        <!-- <span>TKDN (%): 100</span> -->
                        <!-- <span>Berat: {{ item.product.berat / 1000 }} kg</span> -->
                      </div>
                    </div>
                  </td>
                  <td class="border text-center py-4 px-3">
                    <div class="d-flex gap-1 justify-content-center fw-bold">
                      <span>{{ jasa_products.product.bandara }}</span>
                      <span>-</span>
                      <span>{{ jasa_products.product.kota }}</span>
                    </div>
                    <div class="d-flex gap-2 justify-content-center">
                      <span class="fw-normal">{{
                        jasa_products.penjemputan.tanggal
                      }}</span>
                      <span class="fw-normal">-</span>
                      <span class="fw-normal">{{ jasa_products.penjemputan.waktu }}</span>
                    </div>
                  </td>
                  <td class="border text-center py-4 px-3">
                    <div>
                      {{ jasa_products.passenger.first_name }}
                      {{ jasa_products.passenger.last_name }}
                    </div>
                  </td>
                  <td class="border text-center py-4 px-3">
                    <div class="d-flex justify-content-between">
                      <div>Rp</div>
                      <div>{{ jasa_products.harga_satuan }}</div>
                    </div>
                  </td>
                </tr>
              </template>
              <template v-else-if="jasa_products.type_jasa == 'pesan_hotel'">
                <tr>
                  <td class="border text-center py-4 px-3">1</td>
                  <td class="fw-bold border text-center py-4 px-3">
                    <div class="d-flex prod">
                      <img
                        :src="jasa_products.image"
                        class="rounded"
                        width="100"
                        height="50"
                      />
                      <div class="my-auto">
                        <span class="fw-semibold">{{ jasa_products.hotel_name }}</span>
                        <span>{{ jasa_products.room_name }}</span>
                        <span>{{ jasa_products.breakfast }}</span>
                        <!-- <span>TKDN (%): 100</span> -->
                        <!-- <span>Berat: {{ item.product.berat / 1000 }} kg</span> -->
                      </div>
                    </div>
                  </td>
                  <td class="fw-bold border text-center py-4 px-3">
                    <!-- {{ jasa_products.night_count }} Malam -->
                    <span class="d-block fw-normal">{{ jasa_products.checkin }}</span>
                    <span class="d-block fw-normal">{{ jasa_products.checkout }}</span>
                  </td>
                  <td class="border py-4 px-3">
                    <div v-for="guests in jasa_products.guests" :key="guests">
                      {{ guests.title }} <br />{{ guests.name }}
                    </div>
                  </td>
                  <td class="border text-center py-4 px-3">
                    <div class="d-flex justify-content-between">
                      <div>Rp</div>
                      <div>
                        {{
                          parseInt(pesanan.total_harga_barang)
                            .toString()
                            .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                        }}
                      </div>
                    </div>
                  </td>
                </tr>
              </template>
              <template v-else>
                <tr>
                  <td class="border text-center py-4">1</td>
                  <td class="fw-bold border py-4">
                    <div class="d-flex prod">
                      <img
                        :src="
                          require(`@/assets/images/transportasi/${jasa_products.offers.legs[0].carriers[0].display_code}.jpg`)
                        "
                        class="rounded px-2"
                        width="80"
                        height="50"
                      />
                      <div class="my-auto ms-3">
                        <div class="text-dark fw-bold">
                          {{ `${jasa_products.offers.legs[0].carriers[0].name}` }}
                        </div>
                        <div
                          class="mt-1 d-flex justify-content-start align-items-center gap-3"
                        >
                          <div class="text-muted">
                            {{
                              `${jasa_products.destination.from.PlaceId} ${jasa_products.destination.from.CityName}`
                            }}
                          </div>

                          <svg
                            width="16"
                            height="16"
                            viewBox="0 0 16 16"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <path
                              d="M1.54016 6.02001L2.84682 7.57335C3.04682 7.80668 3.04682 8.19335 2.84682 8.42668L1.54016 9.98001C1.36016 10.34 1.54016 10.78 1.92682 10.9133L2.81349 11.2067C3.02682 11.28 3.34016 11.2067 3.50016 11.0467L5.02016 9.53335C5.12682 9.42001 5.34016 9.33335 5.49349 9.33335H7.39349C7.67349 9.33335 7.80682 9.54001 7.70016 9.80001L6.28682 13.0733C6.06682 13.5867 6.34016 14.0067 6.90016 14.0067H7.76016C8.20682 14.0067 8.72016 13.6733 8.89349 13.26L10.5002 9.53335C10.5468 9.42668 10.6868 9.33335 10.8068 9.33335H12.8068C13.4335 9.33335 14.1735 8.87335 14.4602 8.31335C14.5602 8.11335 14.5602 7.88001 14.4602 7.68001C14.1735 7.12001 13.4268 6.66001 12.8002 6.66001L10.8002 6.66001C10.6802 6.66001 10.5402 6.56668 10.4935 6.46001L8.88682 2.74001C8.72016 2.32668 8.20682 1.99335 7.76016 1.99335L6.90016 1.99335C6.34016 1.99335 6.06682 2.41335 6.28682 2.92668L7.70016 6.20001C7.81349 6.45335 7.67349 6.66668 7.39349 6.66668H5.49349C5.34016 6.66668 5.12682 6.58001 5.02016 6.47335L3.50016 4.96001C3.34016 4.80001 3.03349 4.72668 2.81349 4.80001L1.92682 5.09335C1.54016 5.21335 1.35349 5.65335 1.54016 6.02001Z"
                              stroke="#626B79"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                            />
                          </svg>

                          <div class="text-muted">
                            {{
                              `${jasa_products.destination.to.PlaceId} ${jasa_products.destination.to.CityName}`
                            }}
                          </div>
                        </div>

                        <span>{{ jasa_products.room_name }}</span>
                      </div>
                    </div>
                  </td>
                  <td class="fw-bold border text-center py-4">
                    <template v-if="jasa_products.type === 'ONEWAY'">
                      <strong class="d-block">{{
                        `${formatDateDay(jasa_products.offers.legs[0].departure)}`
                      }}</strong>
                      <div class="text-muted">
                        {{
                          `${formatTime(
                            jasa_products.offers.legs[0].departure
                          )} - ${formatTime(jasa_products.offers.legs[0].arrival)}`
                        }}
                      </div>
                    </template>
                    <div
                      v-else
                      class="d-flex justify-content-center align-items-center gap-3"
                    >
                      <span>{{
                        `${departReturnDateFormat(jasa_products.date.depart)}`
                      }}</span>
                      <svg
                        style="width: 1rem"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 24 24"
                      >
                        <path
                          d="M10.5 15.75h12.75a.75.75 0 0 0 0-1.5H10.5a.75.75 0 0 0 0 1.5zm9.22-3.22l3 3v-1.06l-3 3a.75.75 0 1 0 1.06 1.06l3-3a.75.75 0 0 0 0-1.06l-3-3a.75.75 0 1 0-1.06 1.06zM13.5 8.25H.75a.75.75 0 0 0 0 1.5H13.5a.75.75 0 0 0 0-1.5zm-9.22 3.22l-3-3v1.06l3-3a.75.75 0 0 0-1.06-1.06l-3 3a.75.75 0 0 0 0 1.06l3 3a.75.75 0 0 0 1.06-1.06z"
                        ></path>
                      </svg>
                      <span>{{
                        `${departReturnDateFormat(jasa_products.date.return)}`
                      }}</span>
                    </div>
                  </td>
                  <td class="border text-center py-4 px-3">
                    <div
                      class="mb-1"
                      v-for="(adults, adultsIndex) in jasa_products.passengers.adults"
                      :key="adultsIndex"
                    >
                      <strong>{{ adults.first_name }} {{ adults.last_name }}</strong>
                      <div class="text-muted">
                        {{ formatBirthDate(adults.birth_date) }}
                      </div>
                    </div>
                    <div
                      class="mb-1"
                      v-for="(children, childrenIndex) in jasa_products.passengers
                        .children"
                      :key="childrenIndex"
                    >
                      <strong>{{ children.first_name }} {{ children.last_name }}</strong>
                      <div class="text-muted">
                        {{ formatBirthDate(children.birth_date) }}
                      </div>
                    </div>
                  </td>
                  <td class="border text-center py-4 px-3">
                    <div class="d-flex justify-content-between">
                      <div>Rp</div>
                      <div>
                        {{
                          jasa_products.price_alt
                            .toString()
                            .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                        }}
                      </div>
                    </div>
                  </td>
                </tr>
              </template>
            </template>

            <tr
              v-if="
                jasa_products?.type_jasa !== 'pesan_tiket_pesawat' &&
                jasa_products?.type_jasa !== 'pesan_hotel'
              "
            >
              <td class="border text-start py-4 px-5 __bg-light" colspan="4">
                Total Harga Produk
              </td>
              <td class="border text-center py-4 px-3">
                <div class="d-flex justify-content-between">
                  <div>Rp</div>
                  <div>
                    {{
                      parseInt(pesanan.total_harga_barang)
                        .toString()
                        .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                    }}
                  </div>
                </div>
              </td>
            </tr>

            <tr v-if="!isJasaProduct">
              <td class="border text-start py-4 px-5 __bg-light" colspan="4">
                Biaya Pengiriman - ({{ pesanan.kurir }})
              </td>
              <td class="border text-center py-4 px-3">
                <div class="d-flex justify-content-between">
                  <div>Rp</div>
                  <div>
                    {{
                      pesanan.total_harga_kurir
                        ? parseInt(pesanan.total_harga_kurir)
                            .toString()
                            .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                        : 0
                    }}
                  </div>
                </div>
              </td>
            </tr>

            <tr
              v-if="
                jasa_products?.type_jasa !== 'pesan_tiket_pesawat' &&
                jasa_products?.type_jasa !== 'pesan_hotel'
              "
            >
              <td class="border text-start py-4 px-5 __bg-light" colspan="4">
                Sub Total
              </td>
              <td class="border text-center py-4 px-3">
                <div class="d-flex justify-content-between">
                  <div>Rp</div>
                  <div>
                    {{
                      pesanan.subtotal
                        ? parseInt(pesanan.subtotal)
                            .toString()
                            .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                        : 0
                    }}
                  </div>
                </div>
              </td>
            </tr>

            <tr>
              <td class="border text-start py-4 px-5 __bg-light" colspan="4">
                <div class="row align-items-end">
                  <div class="col-10">
                    <div>Jenis Pajak</div>
                    <input
                      type="text"
                      class="__form-control bg-white"
                      :value="pesanan.jenis_pajak"
                      disabled
                    />
                  </div>
                  <div class="col-2">
                    <input
                      type="text"
                      class="__form-control bg-white"
                      :value="pesanan.jenis_pajak_value + '%'"
                      disabled
                    />
                  </div>
                </div>
              </td>
              <td class="border text-center py-4 px-3">
                <div class="d-flex justify-content-between">
                  <div>Rp</div>
                  <div>
                    {{
                      pesanan.total_pajak
                        ? parseInt(pesanan.total_pajak)
                            .toString()
                            .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                        : 0
                    }}
                  </div>
                </div>
              </td>
            </tr>

            <tr>
              <td class="border text-start py-4 px-5 __bg-light" colspan="4">
                <div class="row align-items-end">
                  <div class="col-10">
                    <div>Pajak Penghasilan</div>
                    <input
                      class="__form-control bg-white"
                      :value="
                        pesanan.pajak_penghasilan === 'PPh'
                          ? 'PPh Pasal 22'
                          : pesanan.pajak_penghasilan
                      "
                      disabled
                    />
                  </div>
                  <div class="col-2">
                    <input
                      class="__form-control bg-white"
                      :value="pesanan.pajak_penghasilan_value + '%'"
                      disabled
                    />
                  </div>
                </div>
              </td>
              <td class="border text-center py-4 px-3 text-danger">
                <div class="d-flex justify-content-between">
                  <div>Rp</div>
                  <div>
                    {{
                      pesanan.total_pajak_penghasilan
                        ? parseInt(pesanan.total_pajak_penghasilan)
                            .toString()
                            .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                        : 0
                    }}
                  </div>
                </div>
              </td>
            </tr>

            <tr
              v-if="
                isJasaProduct &&
                (jasa_products.type_jasa == 'pesan_hotel' ||
                  jasa_products.type_jasa == 'pesan_tiket_pesawat')
              "
            >
              <td class="border text-start py-4 px-5 __bg-light" colspan="4">
                Travel Surcharge
              </td>
              <td class="border text-center py-4 px-3">
                <div class="d-flex justify-content-between">
                  <div>Rp</div>
                  <div>
                    {{
                      parseInt(getTotalTravelSurcharge())
                        .toString()
                        .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                    }}
                  </div>
                </div>
              </td>
            </tr>

            <tr class="__bg-primary fw-bold">
              <td class="border text-start py-4 px-5" colspan="4">
                Total Pembayaran Pembeli
              </td>
              <td class="border text-center py-4 px-3">
                <div class="d-flex justify-content-between">
                  <div>Rp</div>
                  <div>
                    {{
                      parseInt(getTotalPembayaran())
                        .toString()
                        .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                    }}
                  </div>
                </div>
              </td>
            </tr>

            <tr class="__bg-primary fw-bold">
              <td class="border text-start py-4 px-5" colspan="4">Biaya Layanan</td>
              <td class="border text-center py-4 px-3">
                <div class="d-flex justify-content-between">
                  <div>Rp</div>
                  <div>
                    {{
                      parseInt(this.pesanan.service_fee)
                        .toString()
                        .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                    }}
                  </div>
                </div>
              </td>
            </tr>

            <tr class="__bg-green fw-bold">
              <td class="border text-start py-4 px-5" colspan="4">Penghasilan Pemasok</td>
              <td class="border text-center py-4 px-3">
                <div class="d-flex justify-content-between">
                  <div>Rp</div>
                  <div>
                    {{
                      pesanan.penghasilan_pemasok
                        ? parseInt(pesanan.penghasilan_pemasok)
                            .toString()
                            .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                        : 0
                    }}
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row px-5">
      <div class="ms-2 col form-check d-flex align-items-center gap-3">
        <input
          :disabled="pesanan.status !== 'pesanan_terbuat'"
          class="form-check-input"
          type="checkbox"
          @change="changeWaitingPayment()"
          v-model="pesanan.wait_payment_buyer"
          id="flexCheckDefault"
        />

        <label class="mt-2 text-muted fw-normal fs-6" for="flexCheckDefault">
          Centang apabila menginginkan pembayaran menggunakan dana talangan dengan biaya
          layanan 10%
        </label>
      </div>
    </div>
  </div>

  <!-- Additional Form -->
  <div class="container-fluid py-4">
    <div class="row px-5">
      <div class="col-lg mb-3" v-if="pesanan.resi">
        <div class="text-muted">Input Nomor Resi (Opsional)</div>
        <textarea
          v-model="pesanan.resi"
          class="__form-control"
          disabled
          placeholder="Input Nomor Resi"
          id=""
          cols="30"
          rows="4"
        ></textarea>
      </div>

      <div class="col-lg-6 mb-3">
        <div class="text-muted">Catatan untuk Pemasok</div>
        <textarea
          v-model="pesanan.catatan"
          :disabled="pesanan.status != 'pesanan_dibuat'"
          class="__form-control"
          placeholder="Ketik Catatan untuk Pemasok"
          id=""
          cols="30"
          rows="4"
        ></textarea>
      </div>

      <div
        class="col-lg mb-3"
        v-if="
          jasa_products &&
          (jasa_products.type_jasa == 'pesan_hotel' ||
            jasa_products.type_jasa == 'pesan_tiket_pesawat')
        "
      >
        <div class="d-flex justify-content-between">
          <div class="text-muted">Voucher Pesanan</div>
        </div>
        <iframe
          v-if="pesanan.voucher_pesanan"
          width="100%"
          height="85%"
          :src="pesanan.voucher_pesanan"
        />
        <input
          v-else
          type="file"
          accept=".pdf"
          @change="changeFile($event, 'voucher_pesanan')"
          class="__form-control form-control text-dark"
        />
      </div>

      <div class="col-lg-6 mb-3" v-else>
        <div class="text-muted">Catatan untuk Pembeli (Opsional)</div>
        <textarea
          v-model="pesanan.catatan_pembeli"
          :disabled="pesanan.status != 'pesanan_terbuat'"
          class="__form-control text-dark"
          placeholder="Ketik Catatan untuk Pembeli"
          cols="30"
          rows="4"
        ></textarea>
      </div>
    </div>
  </div>

  <!-- Action Button -->
  <div class="container-fluid pb-5">
    <div class="row justify-content-center px-5">
      <template v-if="pesanan.status == 'pesanan_terbuat'">
        <div class="col-lg">
          <button
            class="py-3 btn btn-sm btn-outline-danger w-100"
            @click.prevent="tolakTerima('tolak')"
          >
            Tolak Pesanan
          </button>
        </div>

        <div class="col-lg">
          <button
            :disabled="loading.submit_pesanan"
            class="py-3 btn __btn-primary w-100"
            @click.prevent="tolakTerima('terima')"
          >
            Kirim Pesanan
            <span
              v-show="loading.submit_pesanan"
              class="spinner-border text-light"
              style="width: 20px; height: 20px"
              role="status"
            ></span>
          </button>
        </div>
      </template>

      <div class="col-lg-12" v-if="pesanan.status === 'pesanan_dikomplain'">
        <button
          class="py-3 btn __btn-primary w-100"
          v-if="pesanan.status === 'pesanan_dikomplain'"
          data-bs-toggle="modal"
          data-bs-target="#komplainPesan"
        >
          Lihat Laporan Komplain
        </button>
      </div>

      <template
        v-if="pesanan.status === 'pesanan_selesai' && pesanan.type_payment != null"
      >
        <!-- </button>
        <button class="py-3 btn __btn-primary w-100"
          data-bs-toggle="modal"
          data-bs-target="#buktiPembayaran"
        >
        Lihat Bukti Pembayaran dari Pembeli
        </button> -->
        <div
          class="modal fade"
          id="buktiPembayaran"
          data-bs-backdrop="static"
          data-bs-keyboard="false"
          tabindex="-1"
          aria-labelledby="buktiPembayaranLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="buktiPembayaranLabel">
                  {{
                    pesanan.bukti_pembayaran
                      ? "Bukti Pembayaran dari Pembeli"
                      : "Upload Bukti Pembayaran"
                  }}
                </h5>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
                <div class="row justify-content-center">
                  <div class="col-lg-12" v-if="pesanan.bukti_pembayaran == null">
                    <div>
                      <input
                        accept=".pdf"
                        type="file"
                        class="__form-control"
                        @change="buktiPembayaran($event)"
                      />
                      <small>Format File PDF</small>
                    </div>
                    <div class="mt-3" v-if="fileBuktiPembayaran">
                      <iframe
                        height="500px"
                        width="100%"
                        :src="buktiPembayaranImage"
                      ></iframe>
                      <!-- <img :src="buktiPembayaranImage" class="img-fluid" /> -->
                    </div>
                  </div>
                  <div class="col" v-else>
                    <iframe
                      height="500px"
                      width="100%"
                      :src="pesanan.bukti_pembayaran"
                    ></iframe>
                    <!-- <img :src="pesanan.bukti_pembayaran" class="img-fluid" /> -->
                  </div>
                </div>
              </div>
              <div class="modal-footer" v-if="pesanan.bukti_pembayaran == null">
                <button
                  class="btn __btn-primary py-2 px-4"
                  @click.prevent="postBuktiPembayaran"
                >
                  Kirim
                </button>
              </div>
            </div>
          </div>
        </div>
      </template>
    </div>
  </div>

  <div
    class="modal fade"
    id="modalTalangan"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="modalTalanganLabel"
    aria-hidden="true"
    v-if="pesanan.status === 'pesanan_selesai'"
  >
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalTalanganLabel">
            <template v-if="pesanan.bukti_pencairan === null">
              Proses Pengajuan Pembayaran Talangan
            </template>
            <template v-else> Bukti Pembayaran Talangan </template>
          </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>

        <div class="modal-body">
          <template v-if="pesanan.bukti_pencairan === null">
            <img
              :src="require('@/assets/images/ic_dana.png')"
              class="img-fluid d-block mx-auto"
            />
            <div class="row" v-if="pinjaman.length == 0">
              <div class="col-lg-12">
                <div class="form-group mb-3">
                  <label for="">Nomor Pesanan</label>
                  <input
                    type="text"
                    class="__form-control form-control __text-primary"
                    v-model="pesanan.no_pesanan"
                    readonly
                  />
                </div>

                <div class="form-group mb-3">
                  <label for="">Tanggal Pesanan</label>
                  <input
                    type="text"
                    class="__form-control form-control __text-primary"
                    v-model="pesanan.created_at"
                    readonly
                  />
                </div>

                <div class="form-group mb-3">
                  <label for="">Total Pembayaran</label>
                  <input
                    type="text"
                    class="__form-control form-control __text-primary"
                    :value="
                      'Rp ' +
                      parseInt(this.pesanan.total_pembayaran)
                        .toString()
                        .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, '$1\.')
                    "
                    readonly
                  />
                </div>

                <div class="form-group mb-3">
                  <label for="">Biaya Layanan</label>
                  <input
                    type="text"
                    class="__form-control form-control __text-primary"
                    :value="
                      'Rp ' +
                      parseInt(this.pesanan.service_fee)
                        .toString()
                        .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, '$1\.')
                    "
                    readonly
                  />
                </div>

                <div class="form-group mb-3">
                  <label for="">Biaya Administrasi Pembayaran Talangan</label>
                  <input
                    type="text"
                    class="__form-control form-control __text-primary"
                    :value="
                      'Rp ' +
                      parseInt(this.pesanan.service_fee * 2)
                        .toString()
                        .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, '$1\.')
                    "
                    readonly
                  />
                </div>

                <div class="form-group mb-3">
                  <label for="">Penghasilan yang diterima Pemasok</label>
                  <input
                    type="text"
                    class="__form-control form-control __text-primary"
                    :value="
                      'Rp ' +
                      getNomimalPencairan()
                        .toString()
                        .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, '$1\.')
                    "
                    readonly
                  />
                </div>
              </div>
            </div>
            <div v-else-if="pinjaman.status == 'sedang_verifikasi'">
              <p class="text-center">
                Pengajuan pembayaran talangan anda saat ini sedang diverifikasi oleh tim
                terkait, silahkan mengecek status pengajuan anda melalui halaman
                <a
                  href="/dashboard/transaksi/riwayat-pinjaman"
                  style="color: var(--primary-color)"
                  >Riwayat Pembayaran Talangan</a
                >
              </p>
            </div>
            <div v-else-if="pinjaman.status == 'verifikasi'">
              <p class="text-center">
                Pengajuan pembayaran anda berhasil diverifikasi, silahkan mengecek status
                pengajuan anda melalui halaman
                <a
                  href="/dashboard/transaksi/riwayat-pinjaman"
                  style="color: var(--primary-color)"
                  >Riwayat Pembayaran Talangan</a
                >
              </p>
            </div>
          </template>

          <img v-else :src="pesanan.bukti_pencairan" class="img-fluid d-block mx-auto" />
        </div>

        <div class="modal-footer" v-if="pesanan.status === 'pesanan_selesai'">
          <button type="button" class="btn __btn-outline-primary" data-bs-dismiss="modal">
            Kembali
          </button>
          <button
            type="button"
            class="btn __btn-primary"
            v-if="pinjaman.length == 0 && pesanan.bukti_pencairan === null"
            style="background-color: var(--primary-color)"
            @click.prevent="submitPinjaman"
          >
            Ajukan Pembayaran Talangan
          </button>
        </div>

        <div class="px-3 pb-4">
          <div class="text-dark fw-bold ps-1">Harap Diperhatikan :</div>
          <ul class="ps-4">
            <li class="__text-red fw-bold">
              Setiap pengajuan dana talangan, akan dikenakan tambahan potongan biaya
              administrasi sebesar 10% dari total pembayaran pembeli
            </li>
            <li>
              Pilih tombol ‘Kembali’ atau tutup halaman ini untuk membatalkan pengajuan
              pembayaran talangan
            </li>
            <li>
              Status Pesanan akan berubah secara otomatis, setelah diterimanya pembayaran
              dari pihak pembeli
            </li>
            <li>
              Penerusan pembayaran dari pihak pembeli ke rekening pihak pemasok dilakukan
              di hari yang sama
            </li>
            <li>
              Anda dapat melihat ‘Bukti Transfer’ pada form pesanan ini, setelah
              diterimanya pembayaran dari pihak pembeli
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Laporan Komplain Pesanan -->
  <Modal id="komplainPesan" title="Laporan Komplain Pesanan">
    <div class="row">
      <div class="col-lg-12 mb-3">
        <div class="text-muted mb-2">Permintaan Komplain Pembeli</div>
        <select
          class="form-select __form-control"
          v-model="komplain.permintaan"
          :disabled="pesanan.status === 'pesanan_dikomplain'"
        >
          <option value="Penukaran Produk">Penukaran Produk</option>
          <option value="Pengembalian Dana">Pengembalian Dana</option>
        </select>
      </div>

      <div class="col-lg-12 mb-3">
        <div class="text-muted mb-2">Alasan Komplain</div>
        <textarea
          v-model="komplain.alasan"
          class="__form-control"
          rows="5"
          placeholder="Ketik alasan komplain"
          :disabled="pesanan.status === 'pesanan_dikomplain'"
        ></textarea>
      </div>

      <div class="col-12 mb-3">
        <div class="d-flex align-items-center justify-content-between w-100 gap-3">
          <div class="text-muted mb-2">Foto Komplain (format PDF)</div>
          <button
            @click="downloadDocuments(komplain.foto, 'foto-komplain')"
            class="btn btn-sm __btn-primary"
          >
            Download <i class="ms-3 fas fa-download"></i>
          </button>
        </div>

        <iframe
          :src="komplain.foto"
          v-if="pesanan.status === 'pesanan_dikomplain'"
          class="w-100 mt-3"
          style="height: 200px"
        />
      </div>
    </div>
  </Modal>

  <ReportPesanan
    ref="report"
    :title="`Pesanan-${pesanan.no_pesanan}`"
    :isJasaProduct="isJasaProduct"
    :pesanan="pesanan"
    :penjual="penjual"
    :pembeli="pembeli"
    :alamat_penjual="alamat"
    :alamat="alamat"
    :products="products"
    :jasa_products="jasa_products"
  />
</template>

<script>
import axios from "axios";
import dayjs from "dayjs";
import id from "dayjs/locale/id";
import VueNumberFormat from "vue-number-format";

import Navbar from "@/v2/components/Navbar.vue";
import Modal from "@/v2/components/Modal.vue";
import ReportPesanan from "@/components/print/ReportPesanan.vue";

import PaymentMethodSelected from "@/v2/components/PaymentMethodSelected.vue";

export default {
  components: {
    Navbar,
    ReportPesanan,
    VueNumberFormat,
    Modal,
    PaymentMethodSelected,
  },
  data() {
    return {
      loader: null,
      error: {},
      isJasaProduct: false,
      jasa_products: {
        type_jasa: null,
      },
      token: localStorage.getItem("token"),
      pesanan: [],
      penjual: [],
      pembeli: [],
      alamat: [],
      komplain: [],
      hari: 0,
      form: {
        untuk_keperluan: "",
        metode_pembayaran: "",
        hari: "",
        catatan: "",
      },
      bastFile: null,
      voucher_pesanan: null,
      pinjaman: [],
      loading: {
        submit_pesanan: false,
      },
    };
  },
  setup() {
    const formatBirthDate = (date) => {
      return "";
      return dayjs(date).format("DD MMMM YYYY");
    };

    return {
      formatBirthDate,
    };
  },
  methods: {
    parseText(status) {
      return "status";
    },
    generateReport() {
      this.$refs.report.generateReport();
    },
    submitPinjaman() {
      const formData = new FormData();
      // formData.append('nominal_pencairan', (parseInt(this.pesanan.total_harga_barang) * 80 / 100) + parseInt(this.pesanan.total_harga_kurir));
      formData.append("nominal_pencairan", this.getNomimalPencairan());
      formData.append("tanggal_pesanan", this.pesanan.created_at);
      if (this.bastFile) {
        formData.append("bast", this.bastFile);
      }
      axios
        .post("/api/v1/pinjaman/" + this.$route.params.id, formData, {
          headers: {
            Authorization: "Bearer " + this.token,
            "Content-Type": "multipart/form-data",
          },
        })
        .then((resp) => {
          // console.log(resp);
          this.$swal({
            icon: "success",
            title: resp.data.message,
          });
          location.href = "/dashboard/transaksi/pesanan";
        })
        .catch((err) => {
          this.$swal({
            icon: "error",
            title: err.response.data.message,
          });
        });
    },
    changeFileBAST(e) {
      this.bastFile = e.target.files[0];
    },
    changeFile(event, model) {
      if (model == "voucher_pesanan") {
        this.voucher_pesanan = event.target.files[0];
      }
    },
    async tolakTerima(tolakTerima) {
      this.loading.submit_pesanan = true;
      this.loader = this.$loading.show();

      if (this.voucher_pesanan) {
        let formData = new FormData();
        formData.append("file", this.voucher_pesanan);
        var voucher_pesanan = await axios.post("/api/upload", formData, {
          headers: {
            "Content-Type": "multipart/form-data",
          },
        });
      }

      let obj = [];
      if (
        this.isJasaProduct &&
        (this.jasa_products.type_jasa == "pesan_hotel" ||
          this.jasa_products.type_jasa == "pesan_tiket_pesawat")
      ) {
        obj = JSON.stringify({
          resi: this.pesanan.resi,
          catatan_pembeli: this.pesanan.catatan_pembeli,
          status: tolakTerima,
          total_harga_barang: this.pesanan.total_harga_barang,
          subtotal: this.pesanan.total_harga_barang,
          total_pembayaran: this.pesanan.total_harga_barang,
          total_transaksi: this.pesanan.total_harga_barang,
          voucher_pesanan: this.voucher_pesanan ? voucher_pesanan.data.file_url : "",
        });
      } else {
        obj = JSON.stringify({
          resi: this.pesanan.resi,
          catatan_pembeli: this.pesanan.catatan_pembeli,
          status: tolakTerima,
          voucher_pesanan: this.voucher_pesanan ? voucher_pesanan.data.file_url : "",
        });
      }

      axios
        .post("/api/v1/pesanan/tolak-terima/" + this.$route.params.id, obj, {
          headers: {
            Authorization: "Bearer " + this.token,
            "Content-Type": "application/json",
          },
        })
        .then((resp) => {
          const imgSuccess = require("@/v2/assets/images/success/ecommerce-checkout-laptop-rafiki.png");
          this.$swal({
            confirmButtonText: "Kembali",
            customClass: {
              actions: "w-100",
              confirmButton: "btn __btn-primary w-100 mx-5 py-3 mt-3 mb-3",
            },
            html: `
                <img src="${imgSuccess}" />
                <div class="text-dark fw-bold fs-4">${resp.data.message}</div>
                <div class="text-muted mt-3">Pesanan anda sudah berhasil ${resp.data.message.replace(
                  "Pesanan",
                  ""
                )}, terimakasih sudah melakukan transaksi di beliumkm.co.id</div>
            `,
          }).then(() => {
            this.$router.push({ path: "/dashboard/transaksi/pesanan" });
          });
        })
        .catch((err) => {
          const imgWrong = require("@/v2/assets/images/auth/wrong-email.png");
          this.$swal({
            confirmButtonText: "Kembali",
            customClass: {
              actions: "w-100",
              confirmButton: "btn __btn-primary w-100 mx-5 py-3 mt-3 mb-3",
            },
            html: `
                <img src="${imgWrong}" />
                <div class="text-dark fw-bold fs-4">${err.response.data.message}</div>
                <div class="text-muted mt-3">Silahkan periksa kembali inputan form yang anda masukkan.</div>
            `,
          }).then(() => {
            // this.$router.push({ path: "/dashboard/transaksi/pesanan" });
          });
        })
        .then(() => {
          this.loading.submit_pesanan = false;
          this.loader.hide();
        });
    },

    changeWaitingPayment() {
      axios
        .post(`/api/v1/pesanan/${this.$route.params.id}/waiting-payment`, [], {
          headers: {
            Authorization: "Bearer " + this.token,
            "Content-Type": "multipart/form-data",
          },
        })
        .then((resp) => {
          this.pesanan = resp.data.data;

          if (resp.data.data.jasa != null) {
            this.isJasaProduct = true;
            this.jasa_products = resp.data.data.jasa;
          }
        })
        .catch((err) => {
          //
        });
    },

    isHotelOrTiketPesawat() {
      if (
        this.isJasaProduct &&
        (this.jasa_products.type_jasa == "pesan_hotel" ||
          this.jasa_products.type_jasa == "pesan_tiket_pesawat")
      ) {
        return true;
      }

      return false;
    },

    getTotalTransaksi() {
      if (this.isHotelOrTiketPesawat()) {
        return this.pesanan.subtotal + this.getTotalTravelSurcharge();
      }

      return this.pesanan.total_transaksi;
    },

    getTotalPembayaran() {
      if (this.isHotelOrTiketPesawat()) {
        return this.pesanan.total_pembayaran;
      }

      return this.pesanan.total_pembayaran;
    },

    getTotalServiceFee() {
      return parseInt(this.getTotalPembayaran() * (2 / 100));
    },

    getTotalTravelSurcharge() {
      if (this.isHotelOrTiketPesawat()) {
        if (this.pesanan.metode_pembayaran === "Pembayaran Langsung") {
          return 0;
          // return parseInt(this.pesanan.subtotal * (2 / 100));
        }

        // if (this.pesanan?.penjual?.id_user == 14) {
        //   return parseInt(this.pesanan.subtotal * (10 / 100));
        // }

        return parseInt(this.pesanan.subtotal * (10 / 100));
      }

      return 0;
    },

    getTotalPajak() {
      return parseInt(this.pesanan.total_pajak);
    },

    getTotalPajakPenghasilan() {
      return parseInt(this.pesanan.total_pajak_penghasilan);
    },

    formatDateDay(dateString) {
      const date = dayjs(dateString).locale("id");
      return date.format("dddd, DD MMMM YYYY");
    },

    formatTime(dateString) {
      const date = dayjs(dateString).locale("id");
      return date.format("HH:mm");
    },

    getNomimalPencairan() {
      return parseInt(
        this.pesanan.total_pembayaran -
          (this.pesanan.service_fee * 2 + this.pesanan.service_fee)
      );
    },

    penghasilanPemasok() {
      if (this.pesanan.jenis_pajak === "Pajak Daerah – Dipungut Ritel Daring") {
        if (this.pesanan.pajak_penghasilan === "Tidak Dipungut PPh") {
          return this.getTotalPembayaran() - this.getTotalServiceFee();
        } else if (this.pesanan.pajak_penghasilan === "PPh Pasal 22 (LS)") {
          return this.getTotalPembayaran() - this.getTotalServiceFee();
        } else if (this.pesanan.pajak_penghasilan === "PPh Pasal 23 (LS)") {
          return this.getTotalPembayaran() - this.getTotalServiceFee();
        }
      }

      return this.pesanan.penghasilan_pemasok;
    },

    downloadDocuments(url, name) {
      const download_name = `${name}-${this.pesanan.no_pesanan}`;
      const download_url = `${process.env.VUE_APP_ENDPOINT_API}/api/v1/download?url=${url}&name=${download_name}`;
      location.href = download_url;
    },

    isHotelOrTiketPesawat() {
      if (
        this.isJasaProduct &&
        (this.jasa_products.type_jasa == "pesan_hotel" ||
          this.jasa_products.type_jasa == "pesan_tiket_pesawat")
      ) {
        return true;
      }

      return false;
    },
  },
  mounted() {
    this.loader = this.$loading.show();
    // axios.get("/api/v1/pesanan/get-komplain/" + this.$route.params.id, {
    //     headers: {
    //         "Authorization": "Bearer " + this.token,
    //     }
    // }).then((resp) => {
    //     console.log(resp.data.data);
    //     this.komplain = resp.data.data;
    // });
    axios
      .get("/api/v1/pesanan/" + this.$route.params.id, {
        params: {
          image_base64: true,
        },
        headers: {
          Authorization: "Bearer " + this.token,
        },
      })
      .then((resp) => {
        // console.log(resp.data.data);
        this.pesanan = resp.data.data;
        this.penjual = resp.data.data.penjual;
        this.pembeli = resp.data.data.pembeli;
        this.alamat = resp.data.data.alamat;
        this.products = resp.data.data.products;

        if (resp.data.data.jasa != null) {
          this.isJasaProduct = true;
          this.jasa_products = resp.data.data.jasa;
        }

        if (resp.data.data.status == "pesanan_dikomplain") {
          axios
            .get("/api/v1/pesanan/get-komplain/" + this.$route.params.id, {
              headers: {
                Authorization: "Bearer " + this.token,
              },
            })
            .then((resp) => {
              this.komplain = resp.data.data;
            });
        }
      })
      .then(() => this.loader.hide())
      .catch((err) => {
        if(err.response.status == 404) {
            location.href = '/not-found';
        }
      });

    // if (this.pinjaman) {
    // axios.get("api/v1/pinjaman/detail/" + this.$route.params.id, {
    //     headers: {
    //         'Authorization': 'Bearer ' + this.token
    //     }
    // }).then((resp) => {
    //     // console.log(resp);
    //     this.pinjaman = resp.data.data
    // })
    // }
  },
};
</script>

<style scoped>
.documents-file {
  width: 100%;
  height: 100%;
  object-fit: fill;
  object-position: center;
}
</style>

<style scope>
label {
  color: black;
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 5px;
}

.text-14 {
  font-size: 14px;
}

.h-150px {
  height: 150px;
}

.title {
  font-weight: 600;
  font-size: 18px;
}

.__table-pesanan {
  border: 1px solid #b0b0b0;
}

.__table-pesanan thead {
  background-color: #82c4f3;
  text-align: center;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
}

.__table-pesanan thead th {
  padding: 15px 10px;
  font-weight: 500;
}

.__table-pesanan tbody td {
  text-align: center;
  font-weight: 500;
  vertical-align: middle;
}

.prod span {
  display: block;
  margin-left: 10px;
  font-size: 14px;
  text-align: left;
  font-weight: 400;
}
</style>
