<template>
  <Navbar />

  <!-- Breadcrumb -->
  <div class="bg-breadcrumb">
    <nav class="container-fluid" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a class="text-decoration-none text-muted" href="/">Home</a>
        </li>
        <li class="breadcrumb-item active">
          Penjual
        </li>
        <li class="breadcrumb-item active" aria-current="page">
          Permintaan RFQ
        </li>
      </ol>
    </nav>
  </div>

  <!-- Data Pesanan -->
  <div class="container-fluid">
    <div class="banner-section py-4 px-5">
      <h4 class="section-title">Pesanan</h4>
      <div class="d-flex align-items-end justify-content-between">
        <div class="fw-bold __text-yellow">
          <template v-if="pesanan.status == 'pesanan_selesai'">
            <div v-if="pesanan.payment_status == 'waiting_for_payment'">
              Menunggu Pembayaran
            </div>
            <div v-else-if="pesanan.payment_status == 'paid'">
              Pembayaran Diterima
            </div>
            <div v-else> Pesanan Selesai </div>
          </template>
          <div v-else-if="pesanan.status === 'permintaan_rfq'">
            Permintaan RFQ
          </div>
          <div v-else-if="pesanan.status === 'proses_permintaan_rfq'">
            Permintaan RFQ
          </div>
          <div v-else-if="pesanan.status === 'pesanan_dibuat'">
            Permintaan Pesanan
          </div>
          <div v-else-if="pesanan.status === 'pesanan_terbuat'">
            Permintaan Pesanan
          </div>
          <div v-else-if="pesanan.status === 'pesanan_ditolak'">
            Ditolak Pemasok
          </div>
          <div v-else-if="pesanan.status === 'pesanan_diterima'">
            Konfirmasi Terima Pesanan
          </div>
          <div v-else-if="pesanan.status === 'pesanan_dikomplain'">
            Pesanan Dikomplain
          </div>
          <div v-else-if="pesanan.status === 'permintaan_rfq_diterima'">
            Menunggu Persetujuan Pembeli
          </div>
          <div v-else-if="pesanan.status == 'permintaan_rfq_ditolak'">
            Permintaan RFQ Ditolak Pemasok
          </div>
        </div>
        <button
            :class="`btn btn-primary d-flex gap-3 align-items-center py-2 ${(pesanan.status !== 'proses_permintaan_rfq' && pesanan.status !== 'permintaan_rfq_diterima' && pesanan.status !== 'pesanan_selesai') ? 'd-none' : ''}`"
            style="right: 0; top: 0"
            @click="generateReport()"
        >
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M16.4405 8.90039C20.0405 9.21039 21.5105 11.0604 21.5105 15.1104V15.2404C21.5105 19.7104 19.7205 21.5004 15.2505 21.5004H8.74047C4.27047 21.5004 2.48047 19.7104 2.48047 15.2404V15.1104C2.48047 11.0904 3.93047 9.24039 7.47047 8.91039" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M12 2V14.88" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M15.3504 12.6504L12.0004 16.0004L8.65039 12.6504" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>

          Download PDF
        </button>
      </div>

      <div class="row mt-4 text-start">
          <div class="col-md">
              <small class="d-block">Nomor Pesanan</small>
              <div class="fs-4">{{ pesanan.no_pesanan }}</div>
          </div>
          <div class="col-md">
              <small class="d-block">Tanggal Pesanan</small>
              <div class="fs-4">{{ pesanan.created_at }}</div>
          </div>
          <div class="col-md">
              <small class="d-block">Nama Pemasok</small>
              <div class="fs-4">{{ penjual.nama_usaha }}</div>
          </div>
          <div class="col-md-2">
              <small class="d-block">Lokasi Pemasok</small>
              <div class="fs-4">{{ pesanan.alamat_penjual ? pesanan.alamat_penjual.city_name : '-' }}</div>
          </div>
      </div>
    </div>
  </div>

  <!-- Informasi Pembeli -->
  <div class="container-fluid py-4">
    <div class="row">
      <div class="col-md-4 ps-5">
        <h2 class="position-relative">
          Informasi Pembeli
          <svg class="position-absolute top-0 ms-1" width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="6" cy="6" r="6" fill="#4C2A86"/>
          </svg>
        </h2>
        <small class="text-muted">
          Detail data informasi pembeli.
        </small>
      </div>

      <div class="col-md-8 pe-5">
        <div class="row">
          <div class="mb-4 pe-3 col-md-6">
            <div class="text-muted">Nama</div>
            <input type="text" v-model="pesanan.nama_pemesan" :class="`__form-control form-control text-dark`" :disabled="pesanan.status != 'permintaan_rfq'" placeholder="Ketik nama anda"/>
          </div>

          <div class="mb-4 ps-3 col-md-6">
            <div class="text-muted">Jabatan</div>
            <input type="text" v-model="pesanan.email_pemesan" :class="`__form-control form-control text-dark`" :disabled="pesanan.status != 'permintaan_rfq'" placeholder="Ketik jabatan anda"/>
          </div>

          <div class="mb-4 pe-3 col-md-6">
            <div class="text-muted">Telepon Pemesan</div>
            <input type="text" v-model="pesanan.no_telp_pemesan" :class="`__form-control form-control text-dark`" :disabled="pesanan.status != 'permintaan_rfq'" placeholder="Ketik nomor telepon anda" />
          </div>

          <div class="mb-4 ps-3 col-md-6">
            <div class="text-muted">Informasi Transaksi</div>
            <input type="text" v-model="pesanan.untuk_keperluan" :class="`__form-control form-control text-dark`" :disabled="pesanan.status != 'permintaan_rfq'" placeholder="Ketik informasi transaksi anda" />
          </div>

          <div class="mb-4 pe-3 col-md-6">
            <div class="text-muted">Asal Instansi</div>
            <textarea
                rows="3"
                v-model="pesanan.asal_pemesan"
                :class="`__form-control form-control text-dark`"
                :disabled="pesanan.status != 'permintaan_rfq'"
                placeholder="Ketik nama instansi anda"
            ></textarea>
          </div>

          <div class="mb-4 ps-3 col-md-6">
            <div class="text-muted">Alamat Instansi</div>
            <textarea
                rows="3"
                v-model="pesanan.alamat_pemesan"
                :class="`__form-control form-control text-dark`"
                :disabled="pesanan.status != 'permintaan_rfq'"
                placeholder="Ketik alamat instansi anda"
            ></textarea>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Informasi Pembayaran -->
  <div class="container-fluid py-4">
    <div class="row">
      <div class="col-md-4 ps-5">
        <h2 class="position-relative">
          Informasi Pembayaran
          <svg class="position-absolute top-0 ms-1" width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="6" cy="6" r="6" fill="#4C2A86"/>
          </svg>
        </h2>
        <small class="text-muted">
          Metode pembayaran dan rentang hari melakukan pembayaran
        </small>
      </div>

      <div class="col-md-8 pe-5">
        <div class="row">
          <div class="mb-4 pe-3 col-md-6">
            <div class="text-muted">Metode Pembayaran</div>
            <select
              v-model="pesanan.metode_pembayaran"
              :class="`__form-control rounded form-select text-dark`"
              :disabled="pesanan.status != 'permintaan_rfq'"
            >
              <option value="Pembayaran Bertempo">Pembayaran Bertempo</option>
            </select>
          </div>
          <div class="mb-4 ps-3 col-md-6" v-if="pesanan.metode_pembayaran === 'Pembayaran Bertempo'">
            <div class="text-muted">Hari</div>
            <input type="number" v-model="pesanan.hari" :class="`__form-control form-control text-dark`" style="width: 100px" :disabled="pesanan.status != 'permintaan_rfq'" />
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Pilihan Pembayaran -->
  <div class="container-fluid py-4">
    <div class="row">
      <div class="col-md-4 ps-5">
        <h2 class="position-relative">
          Pilihan Pembayaran
          <svg class="position-absolute top-0 ms-1" width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="6" cy="6" r="6" fill="#4C2A86"/>
          </svg>
        </h2>
        <small class="text-muted">
          Pilihan pembayaran yang anda pilih
        </small>
      </div>

      <div class="col-md-8 pe-5">
        <div class="row">
          <div class="mb-4 pe-3 col-md-12">
            <PaymentMethodSelected :pesanan="pesanan" />
          </div>
        </div>
        <!-- <div class="text-danger" v-show="!pesanan.type_payment" v-text="error.type_payment"></div> -->
      </div>
    </div>
  </div>

  <!-- Data Pesanan -->
  <div class="container-fluid py-4">
    <div class="row px-5">
      <div class="col-md-12">
        <table class="w-100">
          <thead class="__bg-primary">
            <th width="2%" class="border text-center py-4 px-2">NO</th>
            <th class="border text-center py-4 px-1">PRODUK</th>
            <th width="5%" class="border text-center py-4 px-1">KUANTITAS</th>
            <th width="16%" class="border text-center py-4 px-1">HARGA SATUAN</th>
            <th width="16%" class="border text-center py-4 px-1">TOTAL HARGA</th>
            <th width="16%" class="border text-center py-4 px-1">PERMINTAAN NEGOSIASI</th>
            <th width="16%" class="border text-center py-4 px-1">TOTAL HARGA NEGOSIASI</th>
          </thead>
          <tbody>
            <tr v-for="(item, index) in products" v-bind:key="item">
              <td class="border text-center py-4">{{ index + 1 }}</td>
              <td class="border py-4">
                <div class="d-flex prod ">
                  <img :src="item.product.image[0]" class="rounded mx-3" width="100" style="object-fit: contain;" />
                  <div class="ms-2 my-auto">
                    <div class="text-dark fw-bold">{{ item.product.title }}</div>
                    <small class="d-block text-muted mb-3">Produk Dalam Negeri</small>
                    <div class="text-muted">Berat: {{ item.product.berat / 1000 }} kg</div>
                  </div>
                </div>
              </td>
              <td class="border text-center py-4">{{ item.qty }}</td>
              <td class="border text-center py-4 px-3">
                <div class="d-flex justify-content-between">
                  <div>Rp</div>
                  <div>
                    {{
                      item.harga_jual
                        .toString()
                        .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                    }}
                  </div>
                </div>
              </td>
              <td class="border text-center py-4 px-3">
                <div class="d-flex justify-content-between">
                  <div>Rp</div>
                  <div>
                    {{
                      (item.harga_jual * item.qty)
                        .toString()
                        .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                    }}
                  </div>
                </div>
              </td>
              <td class="border text-center py-4 px-3">
                <div class="d-flex justify-content-between border p-2 rounded">
                  <div>Rp</div>
                  <div>
                    {{
                      item.new_price > 0
                        ? (parseInt(item.new_price))
                            .toString()
                            .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                        : 0
                    }}
                  </div>
                </div>
              </td>
              <td class="border text-center py-4 px-3">
                <div class="d-flex justify-content-between">
                  <div>Rp</div>
                  <div>
                    {{
                      item.new_price > 0
                        ? (parseInt(item.new_price) * parseInt(item.qty))
                            .toString()
                            .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                        : 0
                    }}
                  </div>
                </div>
              </td>
            </tr>

            <tr>
              <td class="border text-start py-4 px-5 __bg-light" colspan="6">Total Harga Produk</td>
              <td class="border text-center py-4 px-3">
                <div class="d-flex justify-content-between">
                  <div>Rp</div>
                  <div>
                    {{
                      parseInt(pesanan.total_harga_barang)
                        .toString()
                        .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                    }}
                  </div>
                </div>
              </td>
            </tr>

            <tr>
              <td class="border text-start py-4 px-5 __bg-light" colspan="6">
                Biaya Pengiriman - ({{ pesanan.kurir }})
              </td>
              <td class="border text-center py-4 px-3">
                <div class="d-flex justify-content-between">
                  <div>Rp</div>
                  <div>
                    {{
                      parseInt(pesanan.total_harga_kurir)
                        .toString()
                        .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                    }}
                  </div>
                </div>
              </td>
            </tr>

            <tr>
              <td class="border text-start py-4 px-5 __bg-light" colspan="6">Subtotal</td>
              <td class="border text-center py-4 px-3">
                <div class="d-flex justify-content-between">
                  <div>Rp</div>
                  <div>
                    {{
                      parseInt(pesanan.subtotal)
                        .toString()
                        .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                    }}
                  </div>
                </div>
              </td>
            </tr>

            <tr>
              <td class="border text-start py-4 px-5 __bg-light" colspan="6">
                <div class="row align-items-end">
                  <div class="col-10">
                    <div>Jenis Pajak</div>
                    <input type="text" class="__form-control  bg-white" :value="pesanan.jenis_pajak" disabled/>
                  </div>
                  <div class="col-2">
                    <input type="text" class="__form-control  bg-white" :value="pesanan.jenis_pajak_value + '%'" disabled />
                  </div>
                </div>
              </td>
              <td class="border text-center py-4 px-3">
                <div class="d-flex justify-content-between">
                  <div>Rp</div>
                  <div>
                    {{
                      pesanan.total_pajak
                        ? parseInt(pesanan.total_pajak)
                            .toString()
                            .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                        : 0
                    }}
                  </div>
                </div>
              </td>
            </tr>

            <tr>
              <td class="border text-start py-4 px-5 __bg-light" colspan="6">
                <div class="row align-items-end">
                  <div class="col-10">
                    <div>Pajak Penghasilan </div>
                    <input class="__form-control bg-white" :value=" pesanan.pajak_penghasilan === 'PPh' ? 'PPh Pasal 22' : pesanan.pajak_penghasilan" disabled />
                  </div>
                  <div class="col-2">
                    <input class="__form-control bg-white" :value="pesanan.pajak_penghasilan_value + '%'" disabled />
                  </div>
                </div>
              </td>
              <td class="border text-center py-4 px-3 text-danger">
                <div class="d-flex justify-content-between">
                  <div>Rp</div>
                  <div>
                    {{
                      pesanan.total_pajak_penghasilan
                        ? parseInt(pesanan.total_pajak_penghasilan)
                            .toString()
                            .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                        : 0
                    }}
                  </div>
                </div>
              </td>
            </tr>

            <!-- <tr class="__bg-primary fw-bold">
              <td class="border text-start py-4 px-5" colspan="6">Total Transaksi</td>
              <td class="border text-center py-4 px-3">
                <div class="d-flex justify-content-between">
                  <div>Rp</div>
                  <div>
                    {{
                      parseInt(pesanan.total_transaksi)
                        .toString()
                        .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                    }}
                  </div>
                </div>
              </td>
            </tr> -->

            <tr class="__bg-primary fw-bold">
              <td class="border text-start py-4 px-5" colspan="6">Total Pembayaran Pembeli</td>
              <td class="border text-center py-4 px-3">
                <div class="d-flex justify-content-between">
                  <div>Rp</div>
                  <div>
                    {{
                      parseInt(pesanan.total_pembayaran)
                        .toString()
                        .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                    }}
                  </div>
                </div>
              </td>
            </tr>

            <tr class="__bg-orange fw-bold">
              <td class="border text-start py-4 px-5" colspan="6">Biaya Layanan</td>
              <td class="border text-center py-4 px-3">
                <div class="d-flex justify-content-between">
                  <div>Rp</div>
                  <div>
                    {{
                      pesanan.service_fee
                        ? parseInt(pesanan.service_fee)
                            .toString()
                            .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                        : 0
                    }}
                  </div>
                </div>
              </td>
            </tr>

            <tr class="__bg-green fw-bold">
              <td class="border text-start py-4 px-5" colspan="6">Penghasilan Pemasok</td>
              <td class="border text-center py-4 px-3">
                <div class="d-flex justify-content-between">
                  <div>Rp</div>
                  <div>
                    {{
                      pesanan.penghasilan_pemasok
                        ? parseInt(pesanan.penghasilan_pemasok)
                            .toString()
                            .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                        : 0
                    }}
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!-- Additional Form -->
  <div class="container-fluid py-4">
    <div class="row px-5">
      <div class="col-lg-6 mb-3" v-if="pesanan.resi">
        <div class="text-muted">Input Nomor Resi (Opsional)</div>
        <textarea
          v-model="pesanan.resi"
          class="__form-control"
          disabled
          placeholder="Input Nomor Resi"
          id=""
          cols="30"
          rows="4"
        ></textarea>
      </div>

      <div class="col-lg-6 mb-3">
        <div class="text-muted">Catatan untuk Pemasok</div>
        <textarea
          v-model="pesanan.catatan"
          :disabled="pesanan.status != 'permintaan_rfq'"
          class="__form-control"
          placeholder="Ketik Catatan untuk Pemasok"
          id=""
          cols="30"
          rows="4"
        ></textarea>
      </div>

      <div class="col-lg-6 mb-3" v-if="pesanan.voucher_pesanan && jasa_products && (jasa_products.type_jasa == 'pesan_hotel' || jasa_products.type_jasa == 'pesan_tiket_pesawat')">
        <div class="d-flex justify-content-between mb-2">
          <div class="text-muted">Voucher Pesanan</div>
          <button @click="downloadDocuments(pesanan.voucher_pesanan, 'voucher-pesanan')" class="btn btn-sm __btn-primary">
            <i class="fas fa-download"></i>
          </button>
        </div>
        <iframe width="100%" height="70%" :src="pesanan.voucher_pesanan" />
      </div>

      <div class="col-lg-6 mb-3">
        <div class="text-muted">Catatan untuk Pembeli (Opsional)</div>
        <textarea
          v-model="pesanan.catatan_pembeli"
          class="__form-control text-dark"
          placeholder="Ketik Catatan untuk Pembeli"
          cols="30"
          rows="4"
        ></textarea>
      </div>
    </div>
  </div>

  <!-- Action Button -->
  <div class="container-fluid py-4">
    <div class="row justify-content-between px-5">
      <template v-if="pesanan.status === 'proses_permintaan_rfq'">
        <div class="col-lg-6">
          <button
            class="py-3 btn btn-sm btn-outline-danger w-100"
            @click.prevent="tolakTerima('tolak')"
          >
            Tolak Pesanan
          </button>
        </div>

        <div class="col-lg-6">
          <button class="py-3 btn __btn-primary w-100" @click.prevent="tolakTerima('terima')">
            Kirim Pesanan
          </button>
        </div>
      </template>

      <div class="col-lg-6" v-if="pesanan.status === 'pesanan_dikomplain'">
        <button
          class="btn __btn-primary w-100"
          v-if="pesanan.status === 'pesanan_dikomplain'"
          data-bs-toggle="modal"
          data-bs-target="#komplainPesan"
        >
          Lihat Laporan Komplain
        </button>
      </div>

      <div class="col-lg-6 d-none" v-if="pesanan.payment_status !== 'paid' && pesanan.status === 'pesanan_selesai'">
        <button
          class="btn __btn-primary w-100"
          data-bs-toggle="modal"
          data-bs-target="#modalTalangan"
        >
          Ajukan Pembayaran Talangan
        </button>
      </div>
    </div>
  </div>

  <!-- Modal Talangan -->
  <div
    class="modal fade"
    id="modalTalangan"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="modalTalanganLabel"
    aria-hidden="true"
    v-if="pesanan.status === 'pesanan_selesai'"
  >
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalTalanganLabel">
            Proses Pengajuan Pembayaran Talangan
          </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <img
            :src="require('@/assets/images/ic_dana.png')"
            class="img-fluid d-block mx-auto"
          />
          <div class="row" v-if="pinjaman.length == 0">
            <div class="col-lg-12">
              <div class="form-group mb-3">
                <label for="">Nomor Pesanan</label>
                <input
                  type="text"
                  class="__form-control form-control __text-primary"
                  v-model="pesanan.no_pesanan"
                  readonly
                />
              </div>

              <div class="form-group mb-3">
                <label for="">Tanggal Pesanan</label>
                <input
                  type="text"
                  class="__form-control form-control __text-primary"
                  v-model="pesanan.created_at"
                  readonly
                />
              </div>

              <div class="form-group mb-3">
                <label for="">Total Pembayaran</label>
                <input
                  type="text"
                  class="__form-control form-control __text-primary"
                  :value="
                    'Rp ' +
                    parseInt(this.pesanan.total_pembayaran)
                      .toString()
                      .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, '$1\.')
                  "
                  readonly
                />
              </div>

              <div class="form-group mb-3">
                <label for="">Biaya Layanan</label>
                <input
                  type="text"
                  class="__form-control form-control __text-primary"
                  :value="
                    'Rp ' +
                    parseInt(this.pesanan.service_fee)
                      .toString()
                      .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, '$1\.')
                  "
                  readonly
                />
              </div>

              <div class="form-group mb-3">
                <label for="">Biaya Administrasi Pembayaran Talangan</label>
                <input
                  type="text"
                  class="__form-control form-control __text-primary"
                  :value="
                    'Rp ' +
                    parseInt(this.pesanan.service_fee * 2)
                      .toString()
                      .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, '$1\.')
                  "
                  readonly
                />
              </div>

              <div class="form-group mb-3">
                <label for="">Penghasilan yang diterima Pemasok</label>
                <input
                  type="text"
                  class="__form-control form-control __text-primary"
                  :value="
                    'Rp ' +
                    getNomimalPencairan()
                      .toString()
                      .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, '$1\.')
                  "
                  readonly
                />
              </div>
            </div>
          </div>

          <div v-else-if="pinjaman.status == 'sedang_verifikasi'">
            <p class="text-center">
              Pengajuan pembayaran talangan anda saat ini sedang diverifikasi oleh
              tim terkait, silahkan mengecek status pengajuan anda melalui halaman
              <a
                href="/dashboard/transaksi/riwayat-pinjaman"
                style="color: var(--primary-color)"
                >Riwayat Pembayaran Talangan</a
              >
            </p>
          </div>
          <div v-else-if="pinjaman.status == 'verifikasi'">
            <p class="text-center">
              Pengajuan pembayaran anda berhasil diverifikasi, silahkan mengecek
              status pengajuan anda melalui halaman
              <a
                href="/dashboard/transaksi/riwayat-pinjaman"
                style="color: var(--primary-color)"
                >Riwayat Pembayaran Talangan</a
              >
            </p>
          </div>
        </div>
        <div class="modal-footer" v-if="pesanan.status === 'pesanan_selesai'">
          <button
            type="button"
            class="btn __btn-outline-primary"
            data-bs-dismiss="modal"
          >
            Kembali
          </button>
          <button
            type="button"
            class="btn __btn-primary"
            v-if="pinjaman.length == 0"
            style="background-color: var(--primary-color)"
            @click.prevent="submitPinjaman"
          >
            Ajukan Pembayaran Talangan
          </button>
        </div>

        <div class="px-3 pb-4">
          <div class="text-dark fw-bold ps-1">Harap Diperhatikan :</div>
          <ul class="ps-4">
            <li class="__text-red fw-bold">
              Setiap pengajuan dana talangan, akan dikenakan tambahan potongan biaya
              administrasi sebesar 10% dari total pembayaran pembeli
            </li>
            <li>
              Pilih tombol ‘Kembali’ atau tutup halaman ini untuk membatalkan
              pengajuan pembayaran talangan
            </li>
            <li>
              Status Pesanan akan berubah secara otomatis, setelah diterimanya
              pembayaran dari pihak pembeli
            </li>
            <li>
              Penerusan pembayaran dari pihak pembeli ke rekening pihak pemasok
              dilakukan di hari yang sama
            </li>
            <li>
              Anda dapat melihat ‘Bukti Transfer’ pada form pesanan ini, setelah
              diterimanya pembayaran dari pihak pembeli
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- Komplain Pesanan -->
  <div
    class="modal fade"
    id="komplainPesan"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="komplainPesanLabel"
    aria-hidden="true"
    v-if="
      pesanan.status === 'pesanan_dikomplain' ||
      pesanan.status === 'pesanan_diterima'
    "
  >
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="komplainPesanLabel">Laporan Komplain</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-lg-6 mb-3">
              <label for="">Permintaan Komplain Pembeli</label>
              <select
                class="form-select __form-select"
                v-model="komplain.permintaan"
                :disabled="pesanan.status === 'pesanan_dikomplain'"
              >
                <option value="Penukaran Produk">Penukaran Produk</option>
                <option value="Pengembalian Dana">Pengembalian Dana</option>
              </select>
            </div>

            <div class="col-lg-12 mb-3">
              <label for="">Alasan Komplain</label>
              <textarea
                v-model="komplain.alasan"
                class="__form-control"
                rows="5"
                placeholder="Ketik alasan komplain"
                :disabled="pesanan.status === 'pesanan_dikomplain'"
              ></textarea>
            </div>

            <div class="col mb-3">
              <label for="">Foto Komplain (format PDF)</label>
              <div class="d-flex justify-content-between w-100 gap-3">
                <!-- <input
                  type="file"
                  class="form-control"
                  @change="uploadFoto($event)"
                  :disabled="pesanan.status === 'pesanan_dikomplain'"
                /> -->

                <button @click="downloadDocuments(komplain.foto, 'foto-komplain')" class="btn btn-sm __btn-primary">
                  Download <i class="ms-3 fas fa-download"></i>
                </button>
              </div>

              <iframe
                :src="komplain.foto"
                alt=""
                v-if="pesanan.status === 'pesanan_dikomplain'"
                class="w-100 mt-3"
              />
            </div>
          </div>
        </div>
        <div class="modal-footer" v-if="pesanan.status !== 'pesanan_dikomplain'">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            Close
          </button>
          <button
            type="button"
            class="btn btn-primary"
            style="background-color: var(--primary-color)"
            @click.prevent="komplainSubmit"
          >
            Kirim Laporan
          </button>
        </div>
      </div>
    </div>
  </div>

  <div
    class="modal fade"
    id="ulasanModal"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="ulasanModalLabel"
    aria-hidden="true"
    v-if="pesanan.status === 'pesanan_diterima'"
  >
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="ulasanModalLabel">Ulasan</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-lg-12 mb-3">
              <div class="row justify-content-center">
                <div class="col-lg-6 text-center">
                  <div id="full-stars-example">
                    <div class="rating-group">
                      <input
                        class="rating__input rating__input--none"
                        name="rating"
                        v-model="ulasan.rating"
                        id="rating-none"
                        value="0"
                        type="radio"
                      />
                      <label
                        aria-label="No rating"
                        class="rating__label"
                        for="rating-none"
                        ><i class="rating__icon rating__icon--none fa fa-ban"></i
                      ></label>
                      <label
                        aria-label="1 star"
                        class="rating__label"
                        for="rating-1"
                        ><i class="rating__icon rating__icon--star fa fa-star"></i
                      ></label>
                      <input
                        class="rating__input"
                        name="rating"
                        v-model="ulasan.rating"
                        id="rating-1"
                        value="1"
                        type="radio"
                      />
                      <label
                        aria-label="2 stars"
                        class="rating__label"
                        for="rating-2"
                        ><i class="rating__icon rating__icon--star fa fa-star"></i
                      ></label>
                      <input
                        class="rating__input"
                        name="rating"
                        v-model="ulasan.rating"
                        id="rating-2"
                        value="2"
                        type="radio"
                      />
                      <label
                        aria-label="3 stars"
                        class="rating__label"
                        for="rating-3"
                        ><i class="rating__icon rating__icon--star fa fa-star"></i
                      ></label>
                      <input
                        class="rating__input"
                        name="rating"
                        v-model="ulasan.rating"
                        id="rating-3"
                        value="3"
                        type="radio"
                      />
                      <label
                        aria-label="4 stars"
                        class="rating__label"
                        for="rating-4"
                        ><i class="rating__icon rating__icon--star fa fa-star"></i
                      ></label>
                      <input
                        class="rating__input"
                        name="rating"
                        v-model="ulasan.rating"
                        id="rating-4"
                        value="4"
                        type="radio"
                      />
                      <label
                        aria-label="5 stars"
                        class="rating__label"
                        for="rating-5"
                        ><i class="rating__icon rating__icon--star fa fa-star"></i
                      ></label>
                      <input
                        class="rating__input"
                        name="rating"
                        v-model="ulasan.rating"
                        id="rating-5"
                        value="5"
                        type="radio"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-12 mb-3">
              <label for="">Ulasan Tentang Produk</label>
              <textarea
                v-model="ulasan.ulasan"
                class="__form-control"
                rows="5"
                placeholder="Ketik alasan komplain"
                :disabled="pesanan.status === 'pesanan_dikomplain'"
              ></textarea>
            </div>

            <div class="col-lg-6 mb-3">
              <label for="">Upload Foto</label>
              <input
                type="file"
                class="form-control"
                @change="uploadFoto($event)"
              />
            </div>
          </div>
        </div>
        <div class="modal-footer" v-if="pesanan.status !== 'pesanan_dikomplain'">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            Close
          </button>
          <button
            type="button"
            class="btn btn-primary"
            style="background-color: var(--primary-color)"
            @click.prevent="komplainSubmit"
          >
            Kirim Laporan
          </button>
        </div>
      </div>
    </div>
  </div>

  <ReportPesanan
    ref="report"
    :title="`Pesanan-${pesanan.no_pesanan}`"
    :isJasaProduct="isJasaProduct"
    :pesanan="pesanan"
    :penjual="penjual"
    :pembeli="pembeli"
    :alamat_penjual="alamat"
    :alamat="alamat"
    :products="products"
    :jasa_products="jasa_products"
  />
</template>

<script>
import axios from "axios";
import Navbar from "@/v2/components/Navbar.vue";
import ReportPesanan from "@/components/print/ReportPesanan.vue";
import VueNumberFormat from "vue-number-format";

import PaymentMethodSelected from "@/v2/components/PaymentMethodSelected.vue";

export default {
  components: {
    Navbar,
    ReportPesanan,
    VueNumberFormat,
    PaymentMethodSelected,
  },
  data() {
    return {
      token: localStorage.getItem("token"),
      pesanan: [],
      penjual: [],
      pembeli: [],
      alamat: [],
      products: [],
      komplains: [],
      hari: 0,
      komplain: {
        permintaan: "",
        alasan: "",
        foto: "",
      },
      ulasan: {
        rating: "",
        ulasan: "",
      },
      foto_komplain: null,
      ulasans: [],
      new_pesanan: {
        product_id: [],
      },
      bastFile: null,
      pinjaman: [],
    };
  },
  methods: {
    generateReport() {
      this.$refs.report.generateReport();
    },
    submitPinjaman() {
      const formData = new FormData();
      // formData.append('nominal_pencairan', (parseInt(this.pesanan.total_harga_barang) * 80 / 100) + parseInt(this.pesanan.total_harga_kurir));
      formData.append("nominal_pencairan", this.getNomimalPencairan());
      formData.append("tanggal_pesanan", this.pesanan.created_at);
      if (this.bastFile) {
        formData.append("bast", this.bastFile);
      }
      axios
        .post("/api/v1/pinjaman/" + this.$route.params.id, formData, {
          headers: {
            Authorization: "Bearer " + this.token,
            "Content-Type": "multipart/form-data",
          },
        })
        .then((resp) => {
          // console.log(resp);
          this.$swal({
            icon: "success",
            title: resp.data.message,
          });
          location.href = "/dashboard/transaksi/pesanan";
        })
        .catch((err) => {
          this.$swal({
            icon: "error",
            title: err.response.data.message,
          });
        });
    },
    changeFileBAST(e) {
      this.bastFile = e.target.files[0];
    },
    buatPesanan() {
      const obj = JSON.stringify({
        untuk_keperluan: this.pesanan.untuk_keperluan,
        metode_pembayaran: this.pesanan.metode_pembayaran,
        hari: this.pesanan.hari,
        catatan: this.pesanan.catatan,
      });
      axios
        .post("/api/v1/pesanan/buat-pesanan/" + this.$route.params.id, obj, {
          headers: {
            Authorization: "Bearer " + this.token,
            "Content-Type": "application/json",
          },
        })
        .then((resp) => {
          // console.log(resp);
          this.$swal({
            icon: "success",
            title: resp.data.message,
          });
          location.href = "/dashboard/transaksi/pesanan";
        })
        .catch((err) => {
          this.$swal({
            icon: "error",
            title: err.response.data.message,
          });
        });
    },
    uploadFoto(event) {
      this.foto_komplain = event.target.files[0];
    },
    async komplainSubmit() {
      if (this.foto_komplain) {
        let formData = new FormData();
        formData.append("file", this.foto_komplain);
        var foto_komplain = await axios.post("/api/upload", formData, {
          headers: {
            "Content-Type": "multipart/form-data",
          },
        });
      }
      const obj = JSON.stringify({
        permintaan: this.komplain.permintaan,
        alasan: this.komplain.alasan,
        foto: this.foto_komplain ? foto_komplain.data.file_url : "",
      });
      axios
        .post("/api/v1/pesanan/komplain/" + this.$route.params.id, obj, {
          headers: {
            Authorization: "Bearer " + this.token,
            "Content-Type": "application/json",
          },
        })
        .then((resp) => {
          this.$swal({
            icon: "success",
            title: resp.data.message,
          });
          location.href = "/dashboard/transaksi/pesanan";
        })
        .catch((err) => {
          this.$swal({
            icon: "error",
            title: err.response.data.message,
          });
        });
    },

    tolakTerimaRfq(type) {
      this.loader = this.$loading.show()
      const obj = JSON.stringify({
        total_harga_barang: this.totalPrice,
        subtotal: this.totalPrice + this.pesanan.total_harga_kurir,
        total_pajak:
          ((this.totalPrice + this.pesanan.total_harga_kurir) *
            this.pesanan.jenis_pajak_value) /
          100,
        total_pajak_penghasilan:
          ((this.totalPrice + this.pesanan.total_harga_kurir) *
            this.pesanan.pajak_penghasilan_value) /
          100,
        total_pembayaran:
          this.totalPrice +
          this.pesanan.total_harga_kurir +
          ((this.totalPrice + this.pesanan.total_harga_kurir) *
            this.pesanan.jenis_pajak_value) /
            100 +
          ((this.totalPrice + this.pesanan.total_harga_kurir) *
            this.pesanan.pajak_penghasilan_value) /
            100,
        status: type,
        catatan_pembeli: this.pesanan.catatan_pembeli,
        id_cart: this.products,
      });

      axios
        .post("api/v1/pesanan/rfq/penawaran/" + this.$route.params.id + "/penjual", obj, {
          headers: {
            Authorization: "Bearer " + this.token,
            "Content-Type": "application/json",
          },
        })
        .then((resp) => {
          console.log(resp);
          this.$swal({
            icon: "success",
            title: resp.data.message,
          }).then(() => (location.href = "/dashboard/transaksi/pesanan"));
        })
        .then(() => this.loader.hide())
    },

    tolakTerima(tolakTerima) {
      this.loader = this.$loading.show()
      const obj = JSON.stringify({
        resi: this.pesanan.resi,
        catatan_pembeli: this.pesanan.catatan_pembeli,
        status: tolakTerima,
      });
      axios
        .post("/api/v1/pesanan/tolak-terima/" + this.$route.params.id, obj, {
          headers: {
            Authorization: "Bearer " + this.token,
            "Content-Type": "application/json",
          },
        })
        .then((resp) => {
          const imgSuccess = require("@/v2/assets/images/success/ecommerce-checkout-laptop-rafiki.png");
          this.$swal({
            confirmButtonText: "Kembali",
            customClass: {
              actions: "w-100",
              confirmButton: "btn __btn-primary w-100 mx-5 py-3 mt-3 mb-3",
            },
            html: `
                <img src="${imgSuccess}" />
                <div class="text-dark fw-bold fs-4">Pesanan Anda Berhasil Dikirimkan</div>
                <div class="text-muted mt-3">Pesanan anda sudah berhasil dikirimkan, selanjutnya menunggu konfirmasi terima pesanan dari pihak pembeli</div>
            `,
          }).then(() => {
            location.href = "/dashboard/transaksi/pesanan"
          });
        })
        .catch((err) => {
          const imgWrong = require('@/v2/assets/images/auth/wrong-email.png')
          this.$swal({
            confirmButtonText: "Kembali",
            customClass: {
              actions: "w-100",
              confirmButton: "btn __btn-primary w-100 mx-5 py-3 mt-3 mb-3",
            },
            html: `
                <img src="${imgWrong}" />
                <div class="text-dark fw-bold fs-4">${err.response.data.message}</div>
                <div class="text-muted mt-3">Silahkan periksa kembali inputan form yang anda masukkan.</div>
            `,
          }).then(() => {
            // this.$router.push({ path: "/dashboard/transaksi/pesanan" });
          });
        })
        .then(() => this.loader.hide())
    },

    getNomimalPencairan() {
      return parseInt(
        this.pesanan.total_pembayaran -
          (this.pesanan.service_fee * 2 + this.pesanan.service_fee)
      );
    },

    // async ulasanSubmit() {
    //     const obj = JSON.stringify({
    //     });
    //     axios.post("/api/v1/pesanan/ulasan/")
    // },

    downloadDocuments(url, name) {
      const download_name = `${name}-${this.pesanan.no_pesanan}`
      const download_url = `${process.env.VUE_APP_ENDPOINT_API}/api/v1/download?url=${url}&name=${download_name}`
      location.href = download_url
    },
  },
  mounted() {
    this.loader = this.$loading.show()
    this.ulasans.push({ ...this.ulasan });
    axios
      .get("/api/v1/pesanan/" + this.$route.params.id, {
        params: {
          image_base64: true,
        },
        headers: {
          Authorization: "Bearer " + this.token,
        },
      })
      .then((resp) => {
        // console.log(resp.data.data.products);
        this.pesanan = resp.data.data;
        this.penjual = resp.data.data.penjual;
        this.pembeli = resp.data.data.pembeli;
        this.alamat = resp.data.data.alamat;
        this.products = resp.data.data.products;

        if (resp.data.data.status == "pesanan_dikomplain") {
          axios
            .get("/api/v1/pesanan/get-komplain/" + this.$route.params.id, {
              headers: {
                Authorization: "Bearer " + this.token,
              },
            })
            .then((resp) => {
              this.komplain = resp.data.data;
            });
        }
      })
      .then(() => this.loader.hide())
  },
  computed: {
    totalPrice() {
      return this.products.reduce(function (items, data) {
        return items + data.product.show_price * data.qty;
      }, 0);
    },
  }
};
</script>

<style scope>
label {
  color: black;
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 5px;
}

.title {
  font-weight: 600;
  font-size: 18px;
}

.__table-pesanan {
  border: 1px solid #b0b0b0;
}

.__table-pesanan thead {
  background-color: #82c4f3;
  text-align: center;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
}

.__table-pesanan thead th {
  padding: 15px 10px;
  font-weight: 500;
}

.__table-pesanan tbody td {
  text-align: center;
  font-weight: 500;
  vertical-align: middle;
}

.prod span {
  display: block;
  margin-left: 10px;
  font-size: 14px;
  text-align: left;
  font-weight: 400;
}

#full-stars-example .rating-group {
  display: inline-flex;
}

#full-stars-example .rating__icon {
  pointer-events: none;
}

#full-stars-example .rating__input {
  position: absolute !important;
  left: -9999px !important;
}

#full-stars-example .rating__label {
  cursor: pointer;
  padding: 0 0.1em;
  font-size: 2rem;
}

#full-stars-example .rating__icon--star {
  color: orange;
}

#full-stars-example .rating__icon--none {
  color: #eee;
}

#full-stars-example .rating__input--none:checked + .rating__label .rating__icon--none {
  color: red;
}

#full-stars-example .rating__input:checked ~ .rating__label .rating__icon--star {
  color: #ddd;
}

#full-stars-example .rating-group:hover .rating__label .rating__icon--star {
  color: orange;
}

#full-stars-example .rating__input:hover ~ .rating__label .rating__icon--star {
  color: #ddd;
}

#full-stars-example
  .rating-group:hover
  .rating__input--none:not(:hover)
  + .rating__label
  .rating__icon--none {
  color: #eee;
}

#full-stars-example .rating__input--none:hover + .rating__label .rating__icon--none {
  color: red;
}

#half-stars-example {
  /* use display:inline-flex to prevent whitespace issues. alternatively, you can put all the children of .rating-group on a single line */
  /* make hover effect work properly in IE */
  /* hide radio inputs */
  /* set icon padding and size */
  /* add padding and positioning to half star labels */
  /* set default star color */
  /* set color of none icon when unchecked */
  /* if none icon is checked, make it red */
  /* if any input is checked, make its following siblings grey */
  /* make all stars orange on rating group hover */
  /* make hovered input's following siblings grey on hover */
  /* make none icon grey on rating group hover */
  /* make none icon red on hover */
}

#half-stars-example .rating-group {
  display: inline-flex;
}

#half-stars-example .rating__icon {
  pointer-events: none;
}

#half-stars-example .rating__input {
  position: absolute !important;
  left: -9999px !important;
}

#half-stars-example .rating__label {
  cursor: pointer;
  /* if you change the left/right padding, update the margin-right property of .rating__label--half as well. */
  padding: 0 0.1em;
  font-size: 2rem;
}

#half-stars-example .rating__label--half {
  padding-right: 0;
  margin-right: -0.6em;
  z-index: 2;
}

#half-stars-example .rating__icon--star {
  color: orange;
}

#half-stars-example .rating__icon--none {
  color: #eee;
}

#half-stars-example .rating__input--none:checked + .rating__label .rating__icon--none {
  color: red;
}

#half-stars-example .rating__input:checked ~ .rating__label .rating__icon--star {
  color: #ddd;
}

#half-stars-example .rating-group:hover .rating__label .rating__icon--star,
#half-stars-example .rating-group:hover .rating__label--half .rating__icon--star {
  color: orange;
}

#half-stars-example .rating__input:hover ~ .rating__label .rating__icon--star,
#half-stars-example .rating__input:hover ~ .rating__label--half .rating__icon--star {
  color: #ddd;
}

#half-stars-example
  .rating-group:hover
  .rating__input--none:not(:hover)
  + .rating__label
  .rating__icon--none {
  color: #eee;
}

#half-stars-example .rating__input--none:hover + .rating__label .rating__icon--none {
  color: red;
}

#full-stars-example-two .rating-group {
  display: inline-flex;
}

#full-stars-example-two .rating__icon {
  pointer-events: none;
}

#full-stars-example-two .rating__input {
  position: absolute !important;
  left: -9999px !important;
}

#full-stars-example-two .rating__input--none {
  display: none;
}

#full-stars-example-two .rating__label {
  cursor: pointer;
  padding: 0 0.1em;
  font-size: 2rem;
}

#full-stars-example-two .rating__icon--star {
  color: orange;
}

#full-stars-example-two .rating__input:checked ~ .rating__label .rating__icon--star {
  color: #ddd;
}

#full-stars-example-two .rating-group:hover .rating__label .rating__icon--star {
  color: orange;
}

#full-stars-example-two .rating__input:hover ~ .rating__label .rating__icon--star {
  color: #ddd;
}
</style>
