<template>
    <Navbar />
    <div class="container-fluid">
        <div class="row position-relative" style="margin-left: 0">
            <div class="bg-light position-absolute col-lg-9 offset-3 ps-4 py-2 d-flex align-items-center gap-3 __text-primary justify-content-between" style="z-index: 100">
                <div class="fs-5 fw-semibold">Edit Produk</div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3">
                <Sidebar />
            </div>
            <div class="ps-4 col-lg-9">
                <div class="mt-5 py-3">
                    <div class="fs-5 fw-semibold mt-3">Informasi Produk</div>
                    <div class="row mt-4">
                        <div class="col-lg-4 mb-3">
                            <label class="text-muted mb-2">Komoditas Produk</label>
                            <select v-model="product.komoditas" class="__form-control form-control __text-primary form-select" required @change="categoryChange($event)">
                                <option value="barang">Barang</option>
                                <option value="jasa">Jasa</option>
                            </select>
                        </div>

                        <div class="col-lg-4 mb-3">
                            <label class="text-muted mb-2">Kategori Produk</label>
                            <select v-model="product.kategori" class="__form-control form-control __text-primary form-select" required @change="category($event)">
                                <option :value="item.id" v-for="item in kategori" v-bind:key="item">{{ item.name }}</option>
                            </select>
                        </div>

                        <div class="col-lg-4 mb-3">
                            <label class="text-muted mb-2">Subkategori Produk</label>
                            <select v-model="product.sub_kategori" class="__form-control form-control __text-primary form-select" required>
                                <option :value="item.id" v-for="item in sub_kategori" v-bind:key="item">{{ item.name }}</option>
                            </select>
                        </div>

                        <div class="col-lg-12 mb-3">
                            <label class="text-muted mb-2">Nama {{ getTitleProduct() }}</label>
                            <input v-model="product.title" class="__form-control form-control __text-primary" :placeholder="`Ketik nama ${getTitleProduct().toLowerCase()}`">
                            <small class="text-muted mb-2">Penamaan {{ getTitleProduct() }} tidak boleh lebih dari 40 karakter</small>
                        </div>

                        <div class="col-lg-12 mb-3">
                            <label class="text-muted mb-2">Informasi {{ getTitleProduct() }}</label>
                            <textarea v-model="product.deskripsi" class="__form-control form-control __text-primary" id="" :placeholder="`Ketik informasi ${getTitleProduct().toLowerCase()}`" rows="3"></textarea>
                        </div>

                        <div class="col-lg-4 mb-3" v-if="product.komoditas == 'barang' || product.kategori == 10">
                            <label class="text-muted mb-2">Garansi</label>
                            <select v-model="product.garansi" class="__form-control form-control __text-primary form-select">
                                <option :value="item" v-for="item in garansiData" v-bind:key="item">{{ item }}</option>
                            </select>
                        </div>

                        <template v-if="product.sub_kategori < 160">
                            <div
                                v-if="product.komoditas === 'barang'"
                                :class="`${
                                    product.kategori !== 10 ?
                                    'col-lg' :
                                    'col-lg-2'
                                } mb-3`
                                ">
                                <label class="text-muted mb-2">Satuan</label>
                                <select v-model="product.satuan" class="__form-control form-control __text-primary form-select">
                                    <option :value="item" v-for="item in satuanData" v-bind:key="item">{{ item }}</option>
                                </select>
                            </div>

                            <div class="col-lg mb-3" v-if="product.kategori !== 10">
                                <label class="text-muted mb-2">Stok {{ product.komoditas == 'barang' ? 'Produk' : 'Penginapan' }}</label>
                                <input type="number" v-model="product.stok" class="__form-control form-control __text-primary" placeholder="Stok">
                                <small class="text-muted mb-2">Max. 4 digit</small>
                            </div>

                            <div class="col-lg mb-3" v-if="product.komoditas == 'barang'">
                                <label class="text-muted mb-2">Berat (gram)</label>
                                    <VueNumberFormat
                                        v-model:value="product.berat"
                                        :options="{
                                            precision: 0,
                                            prefix: '',
                                            suffix: '',
                                            decimal: ',',
                                            thousand: '.',
                                            acceptNegative: false,
                                            isInteger: false,
                                        }"
                                        placeholder="Berat (gram)"
                                        class="form-control __form-control __text-primary"
                                        :disabled="product.komoditas == 'jasa'"
                                    ></VueNumberFormat>
                            </div>

                            <div class="col-lg mb-3" v-if="product.komoditas == 'barang'">
                                <label class="text-muted mb-2">TKDN % (Opsional)</label>
                                <VueNumberFormat
                                    v-model:value="product.tkdn"
                                    :options="{
                                        precision: 0,
                                        prefix: '',
                                        suffix: '',
                                        decimal: ',',
                                        thousand: '.',
                                        acceptNegative: false,
                                        isInteger: false,
                                    }"
                                    placeholder="TKDN %"
                                    class="form-control __form-control __text-primary"
                                ></VueNumberFormat>
                            </div>
                        </template>

                        <template v-else-if="product.kategori !== 10">
                            <template v-if="product.sub_kategori !== 162">
                                <div :class="`col-lg mb-3`" v-if="product.sub_kategori == 161">
                                    <label class="text-muted mb-2">Pilihan Driver</label>
                                    <select class="__form-control form-select __text-primary" v-model="product.pilihan_driver">
                                        <option value="Tanpa Driver">Tanpa Driver</option>
                                        <option value="Dengan Driver">Dengan Driver</option>
                                    </select>
                                </div>

                                <div :class="`col-lg mb-3`" v-if="product.sub_kategori !== 160">
                                    <label class="text-muted mb-2">Lokasi {{ product.sub_kategori == 160 ? 'Bandara' : 'Province' }}</label>
                                    <select class="__form-control form-select __text-primary" @change="getCity(product.lokasi_bandara)" v-model="product.lokasi_bandara">
                                        <option value="0">Pilih Lokasi {{ product.sub_kategori == 160 ? 'Bandara' : 'Province' }}</option>
                                        <option :value="province.id" v-for="province in collection.provinces" :key="province.id">
                                            {{ province.name }}
                                        </option>
                                    </select>
                                </div>

                                <div :class="`col-lg mb-3`" v-else>
                                    <label class="text-muted mb-2">Lokasi Bandara</label>
                                    <select class="__form-control form-select __text-primary" @change="getCity(product.lokasi_bandara)" v-model="product.lokasi_bandara">
                                        <option value="0">Pilih Lokasi Bandara</option>
                                        <option :value="bandara.id" v-for="bandara in collection.bandara" :key="bandara.id">
                                            {{ bandara.name }}
                                        </option>
                                    </select>
                                </div>

                                <div :class="`col-lg mb-3`" v-if="product.sub_kategori !== 160">
                                    <label class="text-muted mb-2">Lokasi Kabupaten/Kota</label>
                                    <select
                                        class="__form-control form-select __text-primary"
                                        name=""
                                        v-model="product.lokasi_kota"
                                    >
                                        <option value="0">Pilih Lokasi Kabupaten/Kota</option>
                                        <option
                                        :value="city.id"
                                        v-for="city in collection.cities"
                                        v-bind:key="city.id"
                                        >
                                        {{ city.name }}
                                        </option>
                                    </select>
                                </div>
                            </template>

                            <template v-else>
                                <div :class="`col-lg mb-3`">
                                    <label class="text-muted mb-2">Lokasi Keberangkatan</label>
                                    <!-- <input v-model="product.lokasi_keberangkatan" type="text" class="__form-control form-control __text-primary" id="" placeholder="Masukkan kabupaten/kota" /> -->
                                    <select class="__form-control form-select __text-primary" name="" v-model="product.lokasi_keberangkatan">
                                        <option value="0">Pilih Lokasi Kabupaten/Kota</option>
                                        <option :value="city.city_id" v-for="city in location.cities" v-bind:key="city.id">
                                            {{ city.name }}
                                        </option>
                                    </select>
                                </div>

                                <div :class="`col-lg mb-3`">
                                    <label class="text-muted mb-2">Lokasi Tujuan</label>
                                    <!-- <input v-model="product.lokasi_tujuan" type="text" class="__form-control form-control __text-primary" id="" placeholder="Masukkan kabupaten/kota" /> -->
                                    <select class="__form-control form-select __text-primary" name="" v-model="product.lokasi_tujuan">
                                        <option value="0">Pilih Lokasi Kabupaten/Kota</option>
                                        <option :value="city.city_id" v-for="city in location.cities" v-bind:key="city.id">
                                            {{ city.name }}
                                        </option>
                                    </select>
                                </div>
                            </template>

                            <div v-show="product.sub_kategori !== 162" :class="`${product.sub_kategori !== 160 ? 'col-lg-2' : 'col-lg-6'} mb-3`">
                                <label class="text-muted mb-2">Kapasitas</label>
                                <select v-model="product.kapasitas" class="__form-control form-control __text-primary form-select">
                                    <option :value="item" v-for="item in 8" v-bind:key="item">{{ item }} Orang</option>
                                </select>
                            </div>
                        </template>
                    </div>

                    <div class="fs-5 fw-semibold mt-4">Harga Produk</div>
                    <div class="row mt-4 bg-light text-muted fw-semibold py-3">
                        <div class="col-lg">Masukkan harga</div>
                        <div class="col-lg ps-5">Harga Ditampilkan</div>
                    </div>
                    <div class="row mt-3 align-items-center">
                        <div class="col-lg">
                            <VueNumberFormat
                                v-model:value="product.price"
                                :options="{
                                    precision: 0,
                                    prefix: 'Rp. ',
                                    suffix: '',
                                    decimal: ',',
                                    thousand: '.',
                                    acceptNegative: false,
                                    isInteger: false,
                                }"
                                placeholder="Ketik Harga Jual"
                                class="form-control __form-control __text-primary"
                            ></VueNumberFormat>
                        </div>

                        <div class="col-lg ps-5">
                            <span class="text-center __text-primary">
                                Rp. {{ product.show_price.toString().replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.") }}
                            </span>
                        </div>
                    </div>

                    <div class="border my-3"></div>

                    <div class="d-flex align-items-top gap-3">
                        <svg class="mt-1" width="20" height="20" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_967_16960)">
                                <path d="M8 0C3.57841 0 0 3.578 0 8C0 12.4215 3.578 16 8 16C12.4216 16 16 12.422 16 8C16 3.57847 12.422 0 8 0ZM8.82153 11.1757C8.82153 11.4284 8.45297 11.6811 8.00016 11.6811C7.52628 11.6811 7.18934 11.4284 7.18934 11.1757V7.16356C7.18934 6.86872 7.52631 6.66859 8.00016 6.66859C8.45297 6.66859 8.82153 6.86872 8.82153 7.16356V11.1757ZM8.00019 5.69987C7.51578 5.69987 7.13672 5.34184 7.13672 4.94166C7.13672 4.5415 7.51581 4.194 8.00019 4.194C8.47406 4.194 8.85319 4.5415 8.85319 4.94166C8.85319 5.34184 8.47403 5.69987 8.00019 5.69987Z" fill="#0D6EFD"/>
                            </g>
                            <defs>
                                <clipPath id="clip0_967_16960">
                                    <rect width="16" height="16" fill="white"/>
                                </clipPath>
                            </defs>
                        </svg>

                        <div class="text-muted">
                            <strong class="__text-primary">Keterangan :</strong> Setiap pemasok akan dikenakan <router-link :to="'/biaya-layanan'" class="text-primary">Biaya Layanan</router-link> sesuai ketentuan yang berlaku
                        </div>
                    </div>

                    <div class="fs-5 fw-semibold mt-5">Gambar Produk</div>

                    <div class="row mt-4">
                        <div class="col-lg mb-3">
                            <label class="text-muted mb-2">Upload Gambar Produk</label>
                            <!-- <input id="uploadGambar" type="file" @change="onFileChange" class="__form-control form-control __text-primary" multiple /> -->
                            <input id="uploadGambar" ref="input" type="file" accept="image/*" @change="setImage" class="__form-control form-control __text-primary d-none" multiple />
                        </div>
                    </div>

                    <div class="border mb-2 py-5 rounded">
                        <div class="d-flex justify-content-center gap-3">
                            <div class="mb-3 position-relative" :style="`object-fit: contain; ${product.kategori !== 14 ? ('width: 150px; height: 150px;') : ('width: 150px; height: 150px;')}`" v-for="(image, key) in images_link" v-bind:key="key">
                                <template v-if="image !== ''">
                                    <div v-if="key == 0" class="position-absolute __bg-primary py-2 w-100 text-center">Gambar utama</div>
                                    <img style="height: 80%; object-fit: contain;" class="preview border rounded w-100" :src="image" />
                                    <!-- <div class="text-center">{{ images[key].name }}</div> -->
                                    <button type="button" class="btn btn-danger w-100 mt-2" @click.prevent="deleteImage(key)">
                                        Hapus Gambar
                                    </button>
                                </template>

                                <div @click.prevent="showFileChooser" v-else class="cursor-pointer bg-light w-100 h-100 d-flex flex-column align-items-center justify-content-center border">
                                    <svg width="32" height="30" viewBox="0 0 32 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M30.1069 18.1145C29.0687 17.1374 27.7557 16.4962 26.3206 16.3129V5.13737C26.3206 3.94654 25.8321 2.87783 25.0687 2.08394C24.2748 1.29005 23.2061 0.832031 22.0153 0.832031H4.30534C3.1145 0.832031 2.0458 1.32058 1.25191 2.08394C0.458015 2.87783 0 3.94654 0 5.13737V19.2137V20.5267V23.3664C0 24.5572 0.48855 25.6259 1.25191 26.4198C2.0458 27.2137 3.1145 27.6717 4.30534 27.6717H21.4351C22.5649 28.5878 23.9695 29.1679 25.5267 29.1679C27.3282 29.1679 28.9466 28.4351 30.1069 27.2748C31.2672 26.1145 32 24.4962 32 22.6946C32 20.8931 31.2672 19.2748 30.1069 18.1145ZM1.61832 5.13737C1.61832 4.40455 1.92366 3.73279 2.41221 3.27478C2.90076 2.78623 3.57252 2.48089 4.30534 2.48089H22.0153C22.7481 2.48089 23.4198 2.78623 23.9084 3.27478C24.3969 3.76333 24.7023 4.43508 24.7023 5.16791V14.6946L20.1832 10.1755C19.8779 9.8702 19.3588 9.83966 19.0229 10.1755L12.2137 17.0152L7.60305 12.374C7.29771 12.0687 6.77863 12.0381 6.44275 12.374L1.61832 17.2595V5.13737V5.13737ZM4.27481 26.1145V26.0534C3.54198 26.0534 2.87023 25.7481 2.38168 25.2595C1.92366 24.771 1.61832 24.0992 1.61832 23.3664V20.5267V19.5801L7.0229 14.145L11.6336 18.7557C11.9389 19.061 12.458 19.061 12.7939 18.7557L19.6031 11.916L24.0611 16.4046C23.9695 16.4351 23.8779 16.4656 23.7863 16.4962C23.6641 16.5267 23.542 16.5572 23.3893 16.6183C23.2672 16.6488 23.145 16.7099 23.0229 16.7404C22.9313 16.771 22.8702 16.8015 22.7786 16.8626C22.6565 16.9236 22.5649 16.9542 22.4733 17.0152C22.3206 17.1068 22.1679 17.1984 22.0153 17.29C21.9237 17.3511 21.8626 17.3816 21.771 17.4427C21.7099 17.4733 21.6794 17.5038 21.6183 17.5343C21.3435 17.7175 21.0992 17.9313 20.8855 18.1755C19.7252 19.3358 18.9924 20.9542 18.9924 22.7557C18.9924 23.2137 19.0534 23.6412 19.145 24.0992C19.1756 24.2213 19.2061 24.3129 19.2366 24.4351C19.3282 24.7404 19.4198 25.0458 19.542 25.3511V25.3816C19.6641 25.6259 19.7863 25.9007 19.9389 26.1145H4.27481V26.1145ZM28.916 26.1145C28.0305 27 26.8397 27.5191 25.4962 27.5191C24.2137 27.5191 23.0229 27 22.1679 26.1755C22.0458 26.0534 21.9237 25.9007 21.8015 25.7786C21.7099 25.687 21.6183 25.5649 21.5267 25.4733C21.4046 25.3206 21.313 25.1374 21.2214 24.9542C21.1603 24.832 21.0992 24.7404 21.0382 24.6183C20.9771 24.4656 20.916 24.2824 20.8855 24.0992C20.855 23.9771 20.7939 23.8244 20.7634 23.7023C20.7023 23.3969 20.6718 23.061 20.6718 22.7252C20.6718 21.3816 21.2214 20.1908 22.0763 19.3053C22.9313 18.4198 24.1527 17.9007 25.4962 17.9007C26.8397 17.9007 28.0305 18.4504 28.916 19.3053C29.8015 20.1908 30.3206 21.3816 30.3206 22.7252C30.3206 24.0381 29.771 25.229 28.916 26.1145Z" fill="#D0D6DD"/>
                                    </svg>
                                    <div style="color: #D0D6DD;">Gambar {{ key + 1 }}</div>
                                </div>
                            </div>
                        </div>

                        <!-- <div class="d-flex justify-content-center">
                            <div class="mb-3" style="width: 150px;">
                                <label for="uploadGambar" type="button" class="btn __btn-outline-primary w-100 mt-2">
                                    Tambah Gambar
                                </label>
                            </div>
                        </div> -->
                    </div>

                    <ul class="text-muted ms-4 p-0">
                        <li>Format gambar .jpg, .jpeg, .png</li>
                        <li>Ukuran min. 300x300 px (untuk gambar optimal gunakan ukuran min. 700x700 px)</li>
                        <li>Gunakan foto yang baik dan jelas dan usahakan menggunakan background putih untuk gambar utama</li>
                        <li>Hindari penambahan teks atau watermark pada foto produk</li>
                        <li>Maksimal upload gambar produk yaitu 5 gambar</li>
                    </ul>

                    <button @click.prevent="submit" type="submit" class="btn __btn-primary w-100 mt-4 py-3 d-flex align-items-center gap-3 justify-content-center" :disabled="loading">
                        <span v-if="loading" class="spinner-border __text-primary" role="status"></span>
                        <span>Edit Produk</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Button trigger modal -->
    <button ref="croppedModalBtn" class="d-none" type="button" data-bs-toggle="modal" data-bs-target="#croppedModal"></button>

    <!-- Modal -->
    <div class="modal fade" id="croppedModal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="croppedModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="croppedModalLabel">Crop Image</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body" style="height: auto">
                    <vue-cropper ref="cropper" :src="imgSrc" :aspect-ratio="product.kategori == 14 ? (1.5 / 1.5) : (1.5 / 1.5)" :view-mode="1" :center="true" :min-container-width="766" :min-container-height="500" />
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn __btn-primary py-2" @click.prevent="cropImage" data-bs-dismiss="modal">
                        <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="12px" height="12px" viewBox="0 0 956.815 956.815" style="margin-right: 10px; enable-background:new 0 0 956.815 956.815;" xml:space="preserve">
                            <g>
                                <path fill="#fff" d="M137.621,162.622H20c-11.046,0-20,8.954-20,20v72.919c0,11.046,8.954,20,20,20h117.622L137.621,162.622L137.621,162.622z" />
                                <path fill="#fff" d="M774.193,956.815c11.046,0,20-8.954,20-20V819.193H681.274v117.621c0,11.046,8.954,20,20,20L774.193,956.815 L774.193,956.815z"/>
                                <path fill="#fff" d="M794.193,656.275V182.622c0-11.046-8.954-20-20-20H300.54v112.919h380.734v380.734H794.193z"/>
                                <path fill="#fff" d="M936.814,681.275H794.193H681.274H275.54V275.541V162.622V20c0-11.046-8.954-20-20-20h-72.918c-11.046,0-20,8.954-20,20 v142.622v112.919v498.653c0,11.046,8.954,20,20,20h498.653h112.918h142.622c11.045,0,20-8.954,20-20v-72.918 C956.814,690.229,947.86,681.275,936.814,681.275z"/>
                            </g>
                        </svg>

                        Crop
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import axios from "axios";

import VueNumberFormat from "vue-number-format";
import VueCropper from 'vue-cropperjs';
import 'cropperjs/dist/cropper.css';

import Navbar from "@/v2/components/Navbar";
import Sidebar from "@/v2/components/Sidebar";

export default {
    name: "edit-product",
    components: {
        Navbar,
        Sidebar,
        VueNumberFormat,
        VueCropper,
    },

    data() {
        return {
            token: localStorage.getItem("token"),
            loading: false,
            user: [],
            setuju: "",
            percentage: 20,
            product_id: this.$route.params.id,
            product: {
                komoditas: "barang",
                kategori: "",
                sub_kategori: "",
                satuan: "-",
                title: "",
                deskripsi: "",
                garansi: "",
                berat: "",
                tkdn: "",
                stok: "",
                info_stok: "-",
                price: "",
                show_price: "",
                biaya_layanan: "",
                harga_ditampilkan: "",
                lokasi_bandara: "",
                lokasi_provinsi: "",
                lokasi_kota: "",
                kapasitas: "",
                pilihan_driver: "",
                lokasi_keberangkatan: "",
                lokasi_tujuan: "",
            },
            imgSrc: null,
            images: ['', '', '', '', ''],
            images_link: ['', '', '', '', ''],
            satuanData: ["Biji", "Buah", "Butir Box", "Butir", "Box", "Galon", "Gram", "Gros", "Kantong", "Karton", "Kilogram", "Kodi", "Kotak", "Lembar", "Liter", "Lump Sum", "Lusin", "Meter", "Ons", "Pak", "Paket", "Pasang", "Porsi", "Rantai", "Rim", "Set", "Ton", "Unit", "Kubik", "Per Malam", "Per Orang", "Per Jam", "Per Hari"],
            garansiData: ['Tanpa Garansi', 'Garansi Distributor', 'Garansi Resmi', 'Garansi Internasional', 'Garansi Toko'],
            kategori: [],
            sub_kategori: [],
            collection: {
                bandara: [],
                provinces: [],
                cities: [],
            },
            location: {
                bandara: [],
                provinces: [],
                cities: [],
            },
        };
    },

    watch: {
        'product.price'(price) {
            this.generateShowPrice((price * process.env.VUE_APP_PRICE_PERCENTAGE) + price);
        }
    },

    methods: {
        generateShowPrice(price) {
            console.log(price);
            this.product.show_price = price;
        },

        async getProvinces() {
            this.loading_provinces = true;
            await axios.get('/api/v1/shipper/provinces')
            .then(res => {
                this.collection.provinces = res.data;
                this.loading_provinces = false;
            })
        },

        async getBandara() {
            await axios.get("/api/v1/location/bandara").then((res) => {
                this.collection.bandara = res.data.data;
            });
        },

        //mengambil data kota berdasar provinsi yang dipilih pengguna dari shipper
        async getCity(id) {
            this.loading_city = true;
            await axios.get(`/api/v1/shipper/province/${id}/cities`)
            .then(res => {
                this.collection.cities = res.data;
                this.product.lokasi_provinsi = res.data[0].province.id;
                this.loading_city = false;
            })
        },

        async getCityLocalApi() {
            this.loading_city = true;
            await axios.get(`/api/v1/location/cities`)
            .then(res => {
                this.location.cities = res.data.data;
                this.loading_city = false;
            })
        },

        subCategoryChange(e) {
            if(this.product.sub_kategori == 155) {
                this.satuanData = ["Per Tahun", "Per Bulan"];
            }
        },

        categoryChange(e) {
            this.product.kategori = "";
            axios.get("/api/v1/product/category", {
                params: {
                    type: e.target.value
                }
            }).then((resp) => {
                this.kategori = resp.data.data;
            });
        },

        deleteImage(key) {
            this.images.splice(this.images.indexOf(key), 1);
            this.images[key] = '';
            this.images_link[key] = '';
        },

        category(e) {
            const id = this.product.kategori || e.target.value
            axios.get("/api/v1/product/category/" + id).then((resp) => {
                // this.sub_kategori = resp.data.data;
                this.sub_kategori = resp.data.data.filter(data => data.name !== 'Tiket Pesawat');
            });
        },

        onFileChange(e) {
            var selectedFiles = e.target.files;
            const isNoValue = (value) => value === '';
            const arrayIndex = this.images.findIndex(isNoValue);

            for (var i = 0; i < selectedFiles.length; i++) {
                this.images[arrayIndex] = selectedFiles[i];
            }

            for (var i = 0; i < this.images.length; i++) {
                let reader = new FileReader(); //instantiate a new file reader
                reader.addEventListener('load', function () {
                    this.$refs['image' + parseInt(i - 1)][0].src = reader.result;
                }.bind(this), false);  //add event listener

                reader.readAsDataURL(this.images[i]);
            }
        },

        cropImage() {
            // get image data for post processing, e.g. upload or setting image src
            const canvas = this.$refs.cropper.getCroppedCanvas();
            const cropImg = canvas.toDataURL();

            const isNoValue = (value) => value === '';
            const arrayIndex = this.images.findIndex(isNoValue);

            let images = this.images
            let images_link = this.images_link
            canvas.toBlob((blob) => {
                images[arrayIndex] = new File([blob], `Product ${arrayIndex + 1}`, { type: blob.type });
            });

            images_link[arrayIndex] = cropImg;
        },

        setImage(e) {
            const file = e.target.files[0];
            if (file.type.indexOf('image/') === -1) {
                alert('Please select an image file');
                return;
            }

            const isNoValue = (value) => value === "";
            const arrayIndex = this.images_link.findIndex(isNoValue);
            this.images[arrayIndex] = file;
            this.images_link[arrayIndex] = URL.createObjectURL(file);

            // if (typeof FileReader === 'function') {
            //     const reader = new FileReader();
            //     reader.onload = (event) => {
            //         this.imgSrc = event.target.result;
            //         // rebuild cropperjs with the updated source
            //         this.$refs.cropper.replace(event.target.result);
            //     };
            //     reader.readAsDataURL(file);
            //     this.$refs.croppedModalBtn.click();
            // } else {
            //     alert('Sorry, FileReader API not supported');
            // }
        },

        showFileChooser() {
            this.$refs.input.click();
        },

        async submit() {
            this.loading = true;

            // if (this.images) {
            //     let formData = new FormData();
            //     for (var index = 0; index < this.images.length; index++)
            //         formData.append('file[]', this.images[index]);


            //     var images = await axios.post("/api/upload-multiple", formData, {
            //         headers: {
            //             'Content-Type': 'multipart/form-data',
            //         }
            //     });
            // }

            let formData = new FormData();
            for (var index = 0; index < this.images_link.length; index++) {
                formData.append('images_link[]', this.images_link[index])
            }

            for (var index = 0; index < this.images.length; index++) {
                if(this.images[index] !== '') {
                    formData.append('image[]', this.images[index])
                }
            }

            formData.append('komoditas', this.product.komoditas);
            formData.append('kategori', this.product.kategori);
            formData.append('sub_kategori', this.product.sub_kategori);
            formData.append('title', this.product.title);

            if(this.product.berat) {
                formData.append('berat', this.product.berat);
            }

            formData.append('info_stok', this.product.info_stok);

            let stok = this.product.stok
            if(this.product.stok == "" || this.product.stok < 1) {
                stok = 1000
            }
            formData.append('stok', stok);

            if(this.product.tkdn) {
                formData.append('tkdn', this.product.tkdn);
            }

            formData.append('deskripsi', this.product.deskripsi);
            formData.append('garansi', this.product.garansi);
            formData.append('satuan', this.product.satuan);
            formData.append('price', this.product.price);
            formData.append('biaya_layanan', 0);
            formData.append('show_price', this.product.price);
            if(this.product.lokasi_bandara) {
                formData.append('lokasi_bandara', this.product.lokasi_bandara);
            }

            if(this.product.lokasi_kota) {
                formData.append('lokasi_kota', this.product.lokasi_kota);
            }

            if(this.product.kapasitas) {
                formData.append('kapasitas', this.product.kapasitas);
            }

            if(this.product.pilihan_driver) {
                formData.append('pilihan_driver', this.product.pilihan_driver);
            }

            if(this.product.lokasi_keberangkatan) {
                formData.append('lokasi_keberangkatan', this.product.lokasi_keberangkatan);
            }

            if(this.product.lokasi_tujuan) {
                formData.append('lokasi_tujuan', this.product.lokasi_tujuan);
            }

            axios.post(`/api/v1/product/update/${this.product_id}`, formData, {
                headers: {
                    'Authorization': 'Bearer ' + this.token,
                    'Content-Type': 'multipart/form-data',
                }
            }).then((resp) => {
                this.loading = false;
                this.$swal({
                    icon: 'success',
                    title: resp.data.message
                }).then(() => {
                    this.$router.push({ path: '/dashboard/produk' })
                });
            }).catch((err => {
                this.loading = false;
                this.$swal({
                    icon: 'error',
                    title: err.response.data.message
                });
            }))
        },

        getPercentage() {
            return this.product.kategori == 6 ? 20 : 5
        },

        getTitleProduct() {
            if(this.product.komoditas == 'jasa') {
                if(this.product.sub_kategori == 133) {
                    return 'Penginapan'
                }

                /** Jasa Travel */
                // else if (this.product.sub_kategori == 144) {
                //   return "Kendaraan";
                // }

                else if (this.product.sub_kategori >= 160 && this.product.sub_kategori <= 163) {
                    return 'Kendaraan'
                }
            }

            return 'Produk';
        },
    },

    async mounted() {
        axios.get(`/api/user`, {
            headers: {
                'Authorization': 'Bearer ' + this.token
            }
        }).then((resp) => {
            this.user = resp.data;
        }).catch((err) => {
            if (err.response.status === 401) {
                localStorage.clear();
            }
        })

        axios.get(`/api/v1/product/${this.product_id}`).then((resp) => {
            this.product = resp.data.data;
            this.product.kategori = resp.data.data.id_categories;
            this.product.sub_kategori = resp.data.data.id_sub_categories;

            /** Get category */
            axios.get(`/api/v1/product/category`, {
                params: {
                    type: this.product.komoditas
                }
            }).then((resp) => {
                this.kategori = resp.data.data;
            });

            /** Get sub category */
            this.category()

            this.getProvinces();
            this.getBandara();

            if(this.product.lokasi_kota) {
                this.getCity(this.product.lokasi_kota);
            }
        });

        axios.get(`/api/v1/product/image/${this.product_id}`).then((resp) => {
            const images_link = resp.data.data.map((data) => data.image);

            if(resp.data.data.length < 5) {
                const pushLenght = 5 - resp.data.data.length;
                for (let index = 0; index < pushLenght; index++) {
                    images_link.push('')
                }
            }

            this.images_link = images_link;
        });

        this.getCityLocalApi();
    },
};
</script>

<style scoped>
.icon-prev,
.icon-next {
  width: 12px;
  height: 14px;
}

.btn-next,
.btn-prev,
.btn-next:hover,
.btn-prev:hover {
  width: 13%;
  color: #4c2a86;
  background: #ffffff;
  border: 1px solid #4c2a86;
}

.btn-link {
  color: #8b95a5;
}

.btn-active,
.btn-link:hover,
.btn-active:hover {
  color: rgba(76, 42, 134, 1);
  background-color: rgba(76, 42, 134, 0.1);
}

.btn-disabled,
.btn-disabled:hover {
  color: rgba(208, 214, 221, 1);
  background-color: #f5f5fb;
  border: 1px solid #d0d6dd;
}
</style>
