<template>
  <Navbar />
  <div class="container-fluid">
    <div class="row position-relative" style="margin-left: 0">
      <div
        class="bg-light position-absolute col-lg-9 offset-3 ps-4 py-2 d-flex align-items-center gap-3 __text-primary justify-content-between"
        style="z-index: 100"
      >
        <div class="fs-5 fw-semibold w-50">Produk Usaha</div>

        <div class="d-flex gap-3 align-items-center w-50">
          <input
            v-model="searchingProduct"
            type="text"
            placeholder="Cari produk"
            class="form-control __form-control bg-light text-dark"
            style="width: 65%; height: 40px"
          />
          <router-link
            to="/dashboard/tambah-produk"
            class="btn btn-primary"
            style="width: 35%"
          >
            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M6 12H18"
                stroke="white"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M12 18V6"
                stroke="white"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
            Tambah Produk
          </router-link>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3">
        <Sidebar />
      </div>
      <div class="ps-4 col-lg-9">
        <div class="mt-5 py-3">
          <b-skeleton-wrapper :loading="loading">
            <template #loading>
              <table class="table">
                <thead class="bg-light text-muted">
                  <tr>
                    <th><b-skeleton></b-skeleton></th>
                    <th><b-skeleton></b-skeleton></th>
                    <th><b-skeleton></b-skeleton></th>
                    <th><b-skeleton></b-skeleton></th>
                    <th><b-skeleton></b-skeleton></th>
                    <th style="width: 5%"><b-skeleton></b-skeleton></th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="i in 10">
                    <td><b-skeleton></b-skeleton></td>
                    <td><b-skeleton></b-skeleton></td>
                    <td><b-skeleton></b-skeleton></td>
                    <td><b-skeleton></b-skeleton></td>
                    <td><b-skeleton></b-skeleton></td>
                    <td><b-skeleton></b-skeleton></td>
                  </tr>
                </tbody>
              </table>
              <div class="d-flex align-items-center justify-content-between">
                <b-skeleton style="width: 125px; height: 25px"></b-skeleton>
                <b-skeleton style="width: 25px; height: 25px"></b-skeleton>
                <b-skeleton style="width: 125px; height: 25px"></b-skeleton>
              </div>
            </template>
            <table class="table" style="font-size: 14px">
              <thead class="bg-light text-muted">
                <tr>
                  <th class="text-center" width="10%">THUMBNAIL</th>
                  <th width="50%">NAMA PRODUK</th>
                  <th width="10%">STOK</th>
                  <th width="20%">PRICE</th>
                  <th>AKSI</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  v-if="produk.length"
                  v-for="item in produk"
                  v-bind:key="item"
                  class="align-middle fs-6"
                >
                  <td class="text-center">
                    <img
                      :src="item.image[0]"
                      width="60"
                      height="40"
                      class="border"
                      style="object-fit: contain"
                    />
                  </td>
                  <td class="text-start">
                    {{ item.title }}
                    <b-badge
                      class="ms-2"
                      pill
                      variant="success"
                      v-if="item.show_status == 'Tampil'"
                    >
                      {{ item.show_status }}
                    </b-badge>
                    <b-badge class="ms-2" pill variant="warning" v-else>
                      {{ item.show_status }}
                    </b-badge>
                  </td>
                  <td>{{ item.stok }}</td>
                  <td>
                    Rp.
                    {{
                      item.show_price
                        .toString()
                        .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                    }}
                  </td>
                  <td>
                    <div class="dropdown">
                      <div
                        class="cursor-pointer"
                        type="button"
                        id="dropdownMenuButton"
                        data-bs-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false"
                      >
                        <svg
                          width="24"
                          height="25"
                          viewBox="0 0 24 25"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            d="M5 10.3333C3.9 10.3333 3 11.2333 3 12.3333C3 13.4333 3.9 14.3333 5 14.3333C6.1 14.3333 7 13.4333 7 12.3333C7 11.2333 6.1 10.3333 5 10.3333Z"
                            stroke="#232933"
                            stroke-width="1.5"
                          />
                          <path
                            d="M19 10.3333C17.9 10.3333 17 11.2333 17 12.3333C17 13.4333 17.9 14.3333 19 14.3333C20.1 14.3333 21 13.4333 21 12.3333C21 11.2333 20.1 10.3333 19 10.3333Z"
                            stroke="#232933"
                            stroke-width="1.5"
                          />
                          <path
                            d="M12 10.3333C10.9 10.3333 10 11.2333 10 12.3333C10 13.4333 10.9 14.3333 12 14.3333C13.1 14.3333 14 13.4333 14 12.3333C14 11.2333 13.1 10.3333 12 10.3333Z"
                            stroke="#232933"
                            stroke-width="1.5"
                          />
                        </svg>
                      </div>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <router-link
                          :to="'/dashboard/edit-produk/' + item.id"
                          class="dropdown-item py-2 __text-primary d-flex gap-3"
                        >
                          <svg
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <path
                              d="M13.2601 3.59997L5.0501 12.29C4.7401 12.62 4.4401 13.27 4.3801 13.72L4.0101 16.96C3.8801 18.13 4.7201 18.93 5.8801 18.73L9.1001 18.18C9.5501 18.1 10.1801 17.77 10.4901 17.43L18.7001 8.73997C20.1201 7.23997 20.7601 5.52997 18.5501 3.43997C16.3501 1.36997 14.6801 2.09997 13.2601 3.59997Z"
                              stroke="#4C2A86"
                              stroke-width="1.5"
                              stroke-miterlimit="10"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                            />
                            <path
                              d="M11.8899 5.05005C12.3199 7.81005 14.5599 9.92005 17.3399 10.2"
                              stroke="#4C2A86"
                              stroke-width="1.5"
                              stroke-miterlimit="10"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                            />
                            <path
                              d="M3 22H21"
                              stroke="#4C2A86"
                              stroke-width="1.5"
                              stroke-miterlimit="10"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                            />
                          </svg>
                          <div>Edit</div>
                        </router-link>
                        <router-link
                          to="/dashboard/produk"
                          @click.prevent="deleteProduk(item.id)"
                          class="dropdown-item py-2 __bg-danger-no-hover d-flex gap-3"
                        >
                          <svg
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <path
                              d="M9 22H15C20 22 22 20 22 15V9C22 4 20 2 15 2H9C4 2 2 4 2 9V15C2 20 4 22 9 22Z"
                              stroke="#F44336"
                              stroke-width="1.5"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                            />
                            <path
                              d="M17.9001 9.04997C15.7201 8.82997 13.5201 8.71997 11.3301 8.71997C10.0301 8.71997 8.73009 8.78997 7.44009 8.91997L6.1001 9.04997"
                              stroke="#F44336"
                              stroke-width="1.5"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                            />
                            <path
                              d="M9.71021 8.38994L9.8502 7.52994C9.9502 6.90994 10.0302 6.43994 11.1402 6.43994H12.8602C13.9702 6.43994 14.0502 6.92994 14.1502 7.52994L14.2902 8.37994"
                              stroke="#F44336"
                              stroke-width="1.5"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                            />
                            <path
                              d="M16.49 9.12988L16.06 15.7299C15.99 16.7599 15.93 17.5599 14.1 17.5599H9.89C8.06 17.5599 7.99999 16.7599 7.92999 15.7299L7.5 9.12988"
                              stroke="#F44336"
                              stroke-width="1.5"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                            />
                          </svg>
                          <div>Hapus</div>
                        </router-link>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
            <nav class="d-flex justify-content-between" aria-label="page navigation">
              <button
                :disabled="pagination.current_page <= 1 ? true : false"
                @click.prevent="getProducts(page - 1)"
                :class="`btn px-2 d-flex justify-content-between border align-items-center btn-prev ${
                  pagination.current_page <= 1 && 'btn-disabled'
                }`"
              >
                <svg
                  class="icon-prev"
                  width="9"
                  height="18"
                  viewBox="0 0 9 18"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M7.99984 16.9201L1.47984 10.4001C0.709844 9.63008 0.709844 8.37008 1.47984 7.60008L7.99984 1.08008"
                    stroke="#4C2A86"
                    stroke-width="1.5"
                    stroke-miterlimit="10"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
                <span>Sebelumnya</span>
              </button>
              <div class="d-flex align-self-center">
                <a
                  v-if="pagination.current_page > 1"
                  @click.prevent="getProducts(pagination.current_page - 1)"
                  :class="`btn mx-1 btn-link text-decoration-none fw-bold`"
                  href="#"
                >
                  {{ pagination.current_page - 1 }}
                </a>

                <a :class="`btn mx-1 btn-active text-decoration-none fw-bold`" href="#">
                  {{ pagination.current_page }}
                </a>

                <a
                  v-if="
                    pagination.total_pages > 1 &&
                    pagination.total_pages != pagination.current_page
                  "
                  @click.prevent="getProducts(pagination.current_page + 1)"
                  :class="`btn mx-1 btn-link text-decoration-none fw-bold`"
                  href="#"
                >
                  {{ pagination.current_page + 1 }}
                </a>
              </div>
              <button
                :disabled="page == pagination.total_pages ? true : false"
                @click.prevent="getProducts(page + 1)"
                :class="`btn px-2 d-flex justify-content-between border align-items-center btn-next ${
                  page == pagination.total_pages && 'btn-disabled'
                }`"
              >
                <span>Selanjutnya</span>
                <svg
                  class="icon-next"
                  width="9"
                  height="18"
                  viewBox="0 0 9 18"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M0.910156 16.9201L7.43016 10.4001C8.20016 9.63008 8.20016 8.37008 7.43016 7.60008L0.910156 1.08008"
                    stroke="#4C2A86"
                    stroke-width="1.5"
                    stroke-miterlimit="10"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </button>
            </nav>
          </b-skeleton-wrapper>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";

import Navbar from "@/v2/components/Navbar";
import Sidebar from "@/v2/components/Sidebar";
import { useDebouncedRef } from "@/utils/debounce";

export default {
  name: "product",
  components: {
    Navbar,
    Sidebar,
  },
  data() {
    return {
      token: localStorage.getItem("token"),
      loading: true,
      produk: [],
      pagination: [],
      page: 1,
      searchingProduct: useDebouncedRef("", 1000),
    };
  },

  watch: {
    searchingProduct(newSearch, oldSearch) {
      this.getProducts(1);
    },
  },

  methods: {
    deleteProduk(id) {
      this.$swal({
        title: "Are you sure?",
        text: "You won't be able to revert this!",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Yes, delete it!",
      }).then((result) => {
        if (result.isConfirmed) {
          axios
            .delete("/api/v1/product/delete/" + id, {
              headers: {
                Authorization: "Bearer " + this.token,
              },
            })
            .then((resp) => {
              if (result.isConfirmed) {
                this.$swal("Deleted!", "Your product has been deleted.", "success");
              }

              axios
                .get("/api/v1/product/user/prod", {
                  headers: {
                    Authorization: "Bearer " + this.token,
                  },
                })
                .then((resp) => {
                  this.produk = resp.data.data;
                });
            });
        }
      });
    },

    getProducts(page) {
      this.loading = true;
      this.page = page ?? this.page;
      axios
        .get(`/api/v1/product/user/prod`, {
          params: {
            page: this.page,
            search: this.searchingProduct,
          },
          headers: {
            Authorization: "Bearer " + this.token,
          },
        })
        .then((resp) => {
          this.produk = resp.data.data;
          this.pagination = resp.data.pagination;
          this.loading = false;
        });
    },
  },

  async mounted() {
    this.getProducts(true);
  },
};
</script>

<style scoped>
.icon-prev,
.icon-next {
  width: 12px;
  height: 14px;
}

.btn-next,
.btn-prev,
.btn-next:hover,
.btn-prev:hover {
  width: 13%;
  color: #4c2a86;
  background: #ffffff;
  border: 1px solid #4c2a86;
}

.btn-link {
  color: #8b95a5;
}

.btn-active,
.btn-link:hover,
.btn-active:hover {
  color: rgba(76, 42, 134, 1);
  background-color: rgba(76, 42, 134, 0.1);
}

.btn-disabled,
.btn-disabled:hover {
  color: rgba(208, 214, 221, 1);
  background-color: #f5f5fb;
  border: 1px solid #d0d6dd;
}
</style>
