<template>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <Sidebar />
            </div>
            <div class="col-lg-9 my-3">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-12 my-3">
                                <div class="row align-items-center justify-content-between">
                                    <div class="col-md-5 text-start my-auto">
                                        <h6>Permintaan RFQ</h6>
                                    </div>
                                    <div class="col-md-5 text-end">
                                        <button class="btn btn-success btn-sm"><i class="fa-solid fa-download pe-2"></i>
                                            Simpan Data</button>
                                    </div>
                                </div>
                            </div>

                            <table class="table table-bordered __table-pesanan">
                                <thead>
                                    <tr>
                                        <th>Nomor Permintaan</th>
                                        <th>Tanggal Permintaan</th>
                                        <th>Nama Pembeli</th>
                                        <th>Total Transaksi</th>
                                        <th>Status Pesanan</th>
                                        <th>Aksi</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-if="rfq.length" v-for="item in rfq" v-bind:key="item.id">
                                        <td>{{  item.no_pesanan  }}</td>
                                        <td>{{  item.created_at  }}</td>
                                        <td>{{  item.pembeli && item.pembeli.name  }}</td>
                                        <td>Rp. {{
                                             item.total_pembayaran.toString().replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g,
                                             "$1\.")







                                            }}</td>
                                        <td class="text-center"><span class="badge __badge-primary">{{
                                                 item.status == 'pesanan_dikomplain' ? 'Pesanan Dikomplain' :
                     (item.status == 'pesanan_dibuat' ? 'Permintaan Pesanan' : (item.status
                         == 'pesanan_diterima' ? 'Sedang Dikirim' : item.status ==
                             'permintaan_rfq' ? 'Permintaan RFQ' : item.status ==
                                 'proses_permintaan_rfq' ? 'Permintaan RFQ' : item.status ==
                                     'pesanan_terbuat' ? 'Permintaan Pesanan' : item.status ==
                                         'permintaan_rfq_diterima' ? 'Menunggu Persetujuan Pembeli' : item.status
                                             == 'permintaan_rfq_ditolak' ? 'Permintaan RFQ Ditolak' : item.status ==
                                                 'rfq_ditolak_pembeli' ? 'Permintaan RFQ Ditolak' : '-'))









                                                }}</span></td>
                                        <td>
                                            <router-link :to="'/penjual/rfq/' + item.id" class="btm __btn-primary"
                                                style="background-color:#EFDD00!important">
                                                <img :src="require('@/assets/images/icon/edit.svg')" alt="">
                                            </router-link>
                                        </td>
                                    </tr>

                                    <tr v-else-if="!rfq.length">
                                        <td class="text-center" colspan="6">Data Kosong</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
import axios from 'axios'
import Sidebar from '../../component/Sidebar.vue';
export default {
    components: { Sidebar },
    data() {
        return {
            rfq: [],
            token: localStorage.getItem("token"),
        }
    },

    mounted() {
        axios.get("/api/transaction", {
            params: {
                type: "rfq",
                transaction_as: "Penjual",
            }, headers: {
                'Authorization': 'Bearer ' + this.token,
            }
        }).then((resp) => {
            this.rfq = resp.data.data;
        })
    },
}
</script>



<style scope>
.__table-pesanan {
    border: 1px solid #B0B0B0;
}

.__table-pesanan thead {
    background-color: #F5F5F5;
    color: var(--primary-color);
    text-align: center;


    font-size: 14px
}

.__table-pesanan thead th {
    font-weight: 500;
}

.__table-pesanan tbody td {
    font-size: 13px;
    vertical-align: middle;
}
</style>
