<template>
    <Navbar />
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <Sidebar />
            </div>
            <div class="col-lg-9 my-3">
                <div class="row">
                    <div class="col-lg-12 my-3">
                        <div class="row align-items-center justify-content-between">
                            <div class="col-md-5 text-start">
                                <h6>Riwayat Pembayaran</h6>
                            </div>
                            <div class="col-md-5 text-end">
                                <button class="btn btn-success btn-sm"><i class="fa-solid fa-download pe-2"></i> Simpan
                                    Data</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <table class="table table-bordered __table-pinjaman">
                            <thead>
                                <tr>
                                    <th>Nomor Pesanan</th>
                                    <th>Tanggal Pengajuan</th>
                                    <th>Nominal Pembayaran</th>
                                    <th>Status Pembayaran</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-if="pinjaman.length" v-for="item in pinjaman" v-bind:key="item.id">
                                    <td>{{ item.pesanan.no_pesanan }}</td>
                                    <td>{{ item.tanggal_pesanan }}</td>
                                    <td>Rp. {{ parseInt(item.nominal_pencairan).toString().replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.") }}</td>
                                    <td>
                                        <span v-if="item.status == 'sedang_verifikasi'" class="badge __badge-primary d-block w-100">Sedang Diverifikasi</span>
                                        <span v-else-if="item.status == 'ditolak'" class="badge __badge-danger d-block w-100">Ditolak</span>
                                        <span v-else-if="item.status == 'telah_dicairkan'" class="badge __badge-info d-block w-100">Telah Dicairkan</span>
                                        <span v-else-if="item.status == 'disetujui'" class="badge __badge-success d-block w-100">Telah Disetujui</span>
                                        <span v-else class="badge __badge-primary d-block w-100">-</span>
                                    </td>
                                </tr>

                                <tr v-else-if="!pinjaman.length">
                                    <td class="text-center" colspan="4">Data Kosong</td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                <li class="page-item">
                                    <button class="page-link" @click="prevPage" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                        <span class="sr-only">Previous</span>
                                    </button>
                                </li>
                                <li class="page-item">
                                    <button class="page-link" @click="nextPage" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                        <span class="sr-only">Next</span>
                                    </button>
                                </li>
                            </ul>
                        </nav> -->
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
import axios from 'axios'
import Sidebar from '../../component/Sidebar.vue';
import Navbar from '@/v2/components/Navbar.vue';
export default {
    components: { Sidebar, Navbar },
    data() {
        return {
            pinjaman: [],
            pagination: [],
            search: "",
            page: 1,
            token: localStorage.getItem("token"),
        }
    },


    methods: {
        prevPage() {
            if (this.page === 1) {
                alert("page tidak boleh kurang dari 1")
            } else {
                this.page--;
            }
        },
        nextPage() {
            this.page++;
        },

        getResults(page) {
            axios.get("/api/v1/pinjaman",
                {
                    headers: {
                        'Authorization': 'Bearer ' + this.token,
                    },
                    params: {
                        limit: 10,
                        page: page,
                        no_pesanan: this.search ? this.search : '',
                    },
                }).then((resp) => {
                    this.pagination = resp.data.pagination;
                    this.pinjaman = resp.data.data;
                });
        }
    },

    mounted() {
        this.getResults(this.page)
    },


}
</script>



<style scope>
.__table-pinjaman {
    border: 1px solid #B0B0B0;
}

.__table-pinjaman thead {
    background-color: #F5F5F5;
    color: var(--primary-color);
    text-align: center;


    font-size: 14px
}

.__table-pinjaman thead th {
    font-weight: 500;
}

.__table-pinjaman tbody td {
    font-size: 13px;
    vertical-align: middle;
}
</style>
