<template>
    <Navbar />
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <SidebarPembeli v-if="user.role == 'Pembeli'" />
                <Sidebar v-if="user.role == 'Pemasok' || user.role === 'Penjual'" />
            </div>
            <div class="col-lg-9 my-3">
                <div class="row">
                    <div class="col-lg-5 mb-3">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card" style="background-color:var(--primary-color);color:white;">
                                    <div class="card-body">
                                        <h6>PT Rumah UMKM Indonesia</h6>
                                        <div class="mt-4">
                                            <div class="row text-start align-items-baseline">
                                                <div class="col-1 mb-3">
                                                    <i class="fa-brands fa-whatsapp"></i>
                                                </div>
                                                <div class="col-11">
                                                    <h6> 081-23456-6706</h6>
                                                </div>
                                                <div class="col-1 mb-3">
                                                    <i class="fa-solid fa-location-dot"></i>
                                                </div>
                                                <div class="col-11">
                                                    <h6> Jl. Sultan Botutihe Nomor 99 Kota Gorontalo</h6>
                                                </div>
                                                <div class="col-1 mb-3">
                                                    <i class="fa-solid fa-envelope"></i>
                                                </div>
                                                <div class="col-11">
                                                    <h6> cs@beliumkm.co.id</h6>
                                                </div>
                                                <div class="col-1 mb-3">
                                                    <i class="fa-solid fa-clock"></i>
                                                </div>
                                                <div class="col-11">
                                                    <h6> Jam Operasional: Waktu Hari Kerja</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 mt-4">
                                    <h6>Layanan Pengaduan Konsumen:</h6>
                                    <img src="@/assets/images/kpri.png" class="img-fluid w-75"
                                        alt="Kementrian Perdagangan Republic Indonesia">
                                    <p class="pt-2" style="font-size: 15px;">Ditjen Perlindungan Konsumen dan Tertib
                                        Niaga Kementerian Perdagangan RI (Ditjen PKTN) pada nomor 0853 - 1111 - 1010</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="auth-section my-2">
                            <div class="mb-3">
                                <label for="">Nama Lengkap</label>
                                <input v-model="contact.name" type="text" class="__form-control form-control-sm py-2"
                                    placeholder="Ketik nama lengkap Anda">
                            </div>
                            <div class="mb-3">
                                <label for="">Email</label>
                                <input v-model="contact.email" type="email" class="__form-control form-control-sm py-2"
                                    placeholder="Ketik email">
                            </div>

                            <div class="mb-3">
                                <label for="">Pesan</label>
                                <textarea v-model="contact.message" name="message" id="message" cols="30" rows="5"
                                    class="__form-control form-control-sm py-2" placeholder="Ketik pesan"></textarea>
                            </div>

                            <button @click.prevent="send" type="button" class="btn text-center w-100 mt-2 py-3"
                                style="background-color:var(--primary-color);color:white;">Kirim</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import axios from 'axios';
import Navbar from '@/v2/components/Navbar.vue';
import Sidebar from './Sidebar.vue';
import SidebarPembeli from './SidebarPembeli.vue';
export default {
    components: { Sidebar, Navbar, Sidebar, SidebarPembeli },

    data() {
        return {
            contact: {
                name: '',
                email: '',
                message: ''
            },
            user: [],
            token: localStorage.getItem("token")
        }
    },

    methods: {
        getUser() {
            axios.get("/api/user", {
                headers: {
                    Authorization: "Bearer " + this.token
                }
            }).then((resp) => {
                this.user = resp.data;
            });
        },
        send() {
            axios.post('/api/v1/contact/send', {
                name: this.contact.name,
                email: this.contact.email,
                message: this.contact.message
            }).then(res => {
                this.contact = {
                    name: '',
                    email: '',
                    message: ''
                }

                this.$swal({
                    icon: 'success',
                    title: "Pesan Berhasil Dikirim"
                })
            }).catch(err => {
                this.$swal({
                    icon: 'error',
                    title: "Gagal Mengirimkan Pesan"
                })
            })
        },
    },
    mounted() {
        this.getUser();
    }
}
</script>
