<template>
    <Navbar />
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <SidebarPembeli />
            </div>
            <div class="col-lg-9 my-3">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="d-flex">
                            <h3 class="m-0 my-auto me-3">Selamat Datang Di</h3>
                            <img :src="require('@/assets/images/icon/logo.svg')" class="img-fluid my-auto">
                        </div>
                    </div>
                </div>

                <!-- <div class="card mb-3">
                    <div class="card-body">
                        <h6>Riwayat Transaksi</h6>
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="card" style="background-color:#F6F6F6">
                                    <div class="card-body">
                                        <div class="text-center">
                                            <span>Permintaan RFQ</span>
                                            <h2>{{  dashboard.permintaan_rfq  }}</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="card" style="background-color:#F6F6F6">
                                    <div class="card-body">
                                        <div class="text-center">
                                            <span>Pesanan</span>
                                            <h2>{{  dashboard.permintaan_pemesanan  }}</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="card" style="background-color:#F6F6F6">
                                    <div class="card-body">
                                        <div class="text-center">
                                            <span>Tagihan</span>
                                            <h2>{{  dashboard.count_tagihan  }}</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->

                <!-- <div class="card mb-3">
                    <div class="card-body">
                        <h6>Rangkuman Transaksi</h6>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="card" style="background-color:#F6F6F6">
                                    <div class="card-body">
                                        <div class="text-center">
                                            <span>Total Pembelian Selesai</span>
                                            <h2>{{  dashboard.count_tagihan  }}</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="card" style="background-color:#F6F6F6">
                                    <div class="card-body">
                                        <div class="text-center">
                                            <span>Total Nilai Pembelian Selesai</span>
                                            <h2>Rp {{ parseInt(dashboard.total_nilai_penjualan).toString().replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.") }}</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->

                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-4">
                                <img :src="pembeli.logo" class="img-fluid">
                            </div>
                            <div class="col-lg-6">
                                <div class="mb-3">
                                    <label class="d-block" style="font-weight:500;font-size:14px">Nama Instansi</label>
                                    <span class="d-block" style="font-weight:400;font-size:14px">{{ dashboard.name }}</span>
                                </div>

                                <div class="mb-3">
                                    <label class="d-block" style="font-weight:500;font-size:14px">Alamat Instansi</label>
                                    <span class="d-block" style="font-weight:400;font-size:14px">{{ pembeli.alamat }}</span>
                                </div>

                                <div class="mb-3">
                                    <label class="d-block" style="font-weight:500;font-size:14px">Alamat Instansi</label>
                                    <span class="d-block" style="font-weight:400;font-size:14px">{{ alamat.alamat }}</span>
                                </div>

                                <div class="mb-3">
                                    <label class="d-block" style="font-weight:500;font-size:14px">Telepon Instansi</label>
                                    <span class="d-block" style="font-weight:400;font-size:14px">{{ pembeli.telp_instansi }}</span>
                                </div>

                                <div class="mb-3">
                                    <label class="d-block" style="font-weight:500;font-size:14px">Nama Lengkap</label>
                                    <span class="d-block" style="font-weight:400;font-size:14px">{{ dashboard.name }}</span>
                                </div>

                                <div class="mb-3">
                                    <label class="d-block" style="font-weight:500;font-size:14px">Jabatan</label>
                                    <span class="d-block" style="font-weight:400;font-size:14px">{{ pembeli.jabatan }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import axios from 'axios'
import Sidebar from './Sidebar.vue';
import SidebarPembeli from './SidebarPembeli.vue';
import Navbar from '@/v2/components/Navbar.vue';
export default {
    data() {
        return {
            token: localStorage.getItem("token"),
            product: {
                komoditas: "",
                kategori: "",
                sub_kategori: "",
                satuan: "",
                nama_produk: "",
                deskripsi: "",
                garansi: "",
                berat: "",
                stok: "",
                price: "",
                biaya_layanan: "",
                harga_ditampilkan: "",
            },
            dashboard: [],
            satuanData: ["Biji", "Buah", "Butir Box", "Butir", "Box", "Galon", "Gram", "Gros", "Kantong", "Karton", "Kilogram", "Kodi", "Kotak", "Lembar", "Liter", "Lump Sum", "Lusin", "Ons", "Pak", "Paket", "Pasang", "Porsi", "Rantai", "Rim", "Set", "Ton", "Unit", "Kubik", "Per Malam", "Per Orang", "Per Jam", "Per Hari"],
            kategori: [],
            sub_kategori: [],
            pembeli: [],
            alamat: [],
        };
    },
    mounted() {
        axios.get("/api/v1/product/category").then((resp) => {
            this.kategori = resp.data.data;
        });

        axios.get("/api/user/pembeli/dashboard", {
            headers: {
                'Authorization': 'Bearer ' + this.token,
            }
        }).then((resp) => {
            this.dashboard = resp.data.data;
            this.pembeli = resp.data.data.data;
            this.alamat = resp.data.data.alamat;
        })
    },
    methods: {
        category(id) {
            axios.get("/api/v1/product/category/" + id).then((resp) => {
                this.sub_kategori = resp.data.data;
            });
        },
    },
    components: { Sidebar, SidebarPembeli, Navbar }
}
</script>
