<template>
    <div class="side-bar p-1 pt-5 nav flex-column h-100" style="background-color:var(--primary-color)">
        <router-link class="nav-link active" aria-current="page" to="/dashboard">Dashboard</router-link>
        <!-- <router-link class="nav-link" to="/dashboard/saldo">Saldo</router-link> -->
        <router-link class="nav-link" to="/dashboard/produk">Produk Usaha</router-link>
        <router-link class="nav-link" to="/dashboard/chat-room">Chat</router-link>
        <a href="#" class="nav-link" data-collapse="trx">Transaksi <i class="fa-solid fa-angle-down ps-2"></i></a>
        <div id="wrapper" class="text-white ps-5">
            <ul id="list" class="list-unstyled">
                <!-- <li>
                    <router-link to="/dashboard/history/rfq" class="nav-link collapsed-trx">Permintaan RFQ</router-link>
                </li> -->
                <li>
                    <router-link to="/dashboard/transaksi/pesanan" class="nav-link collapsed-trx">Pesanan</router-link>
                </li>
                <!-- <li>
                    <router-link to="/dashboard/transaksi/penjual/tagihan" class="nav-link collapsed-trx">Tagihan
                    </router-link>
                </li> -->
            </ul>
        </div>
        <!-- <a class="nav-link" href="#">Riwayat Pembayaran Talangan</a> -->
        <router-link class="nav-link" to="/dashboard/transaksi/riwayat-pinjaman">Riwayat Pembayaran
        </router-link>
        <router-link class="nav-link" to="/dashboard/penjual/edit-profile">Edit Profile</router-link>
        <router-link class="nav-link" to="/dashboard/kontak">Hubungi Kami</router-link>
    </div>
</template>


<script>
import $ from "jquery";

export default {
    mounted() {
        var b = $(".nav-link[data-collapse='trx']");
        var w = $("div#wrapper");
        var l = $("#list");

        if ($("a.router-link-active.collapsed-trx")[0]) {
            w.addClass('open');
            w.height(l.outerHeight(true));
        } else {
            w.height(1);
        }

        b.click(function () {

            if (w.hasClass('open')) {
                w.removeClass('open');
                w.height(1);
            } else {
                w.addClass('open');
                w.height(l.outerHeight(true));
            }

        });
    }
}
</script>

<style scope>
div.side-bar {
    list-style-type: none;
    margin: 0;
    padding: 10px;
}

div.side-bar a.nav-link {
    color: white;
    margin-bottom: 10px;
}

div.side-bar a.nav-link.router-link-active.router-link-exact-active {
    color: #FFA200;
}

ul.side-bar {
    height: auto;
}

#wrapper {
    overflow: hidden;
    transition: height 200ms;
}
</style>
