<template>
    <Navbar @changeSearch="clickFilter(true, $event)" />

    <div class="bg-breadcrumb">
        <nav class="container-fluid" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a class="text-decoration-none text-muted" href="/">Home</a></li>
                <li class="breadcrumb-item"><a class="text-decoration-none text-muted" href="/pemasok">Semua pemasok</a></li>
                <li class="breadcrumb-item active" aria-current="page">Detail Pemasok</li>
            </ol>
        </nav>
    </div>

    <div class="container-fluid banner">
        <img :src="require('@/assets/images/banner/mesin-edc.jpg')" class="img-fluid" alt="Waktunya Umkm Untuk Maju">
    </div>

    <div class="container-fluid row row-pemasok justify-content-between">
        <div class="col-lg-3 mt-2">
            <b-skeleton-wrapper :loading="loading">
                <template #loading>
                    <b-skeleton class="mx-auto" height="251px"></b-skeleton>
                    <b-skeleton class="mx-auto"></b-skeleton>
                    <b-skeleton class="mx-auto"></b-skeleton>
                    <b-skeleton class="mx-auto"></b-skeleton>
                </template>

                <div class="card border-0 my-4">
                    <img :src="pemasok.logo_usaha" class="card-img-top" :alt="pemasok.nama_usaha" height="351">
                    <div class="card-body">
                        <div class="card-text detail-pemasok-title">{{ pemasok.nama_usaha }}</div>
                        <div class="text-muted mt-4" style="font-size: 14px;">Lokasi Pemasok: <strong>{{ pemasok.lokasi_penjual }}</strong>&nbsp;</div>
                        <div class="text-muted mt-1" style="font-size: 14px;">Produk Terjual: <strong>{{ pemasok.produk_terjual }}</strong>&nbsp;</div>
                        <div class="text-muted mt-1" style="font-size: 14px;">Transaksi: <strong>{{ pemasok.transaksi }}</strong>&nbsp;</div>
                        <div class="text-muted mt-1" style="font-size: 14px;">Nomor Telepon: <strong>{{ pemasok.telepon }}</strong>&nbsp;</div>

                        <Rating class="mt-1" :count="pemasok.rating"/>

                        <button class="btn __btn-outline-primary w-100 mt-4" @click.prevent="sendChat">Chat Pemasok</button>
                    </div>
                </div>
            </b-skeleton-wrapper>
        </div>
        <div class="col-lg-9">
            <div class="fw-semibold fs-4 text-dark mt-4 d-flex align-items-center justify-content-between">
                Semua Produk
                <input class="form-control __form-control w-50" type="text" @input="searchingProducts()" v-model="search" placeholder="Cari produk">
            </div>


            <div class="row mt-2">
                <div class="col-12 mb-3 text-center py-5" v-if="!products.length">
                    <img class="d-block mx-auto" :src="require('@/assets/images/notfound.png')" />
                    <small class="text-muted">Pemasok ini belum memasukkan product apapun</small>
                </div>

                <div class="col-6 col-md-4 col-lg-3 mb-4" v-for="product in products">
                    <CardProduct :product="product" />
                </div>

                <Pagination class="me-5 mb-5" @getPagination="loadProductPage($event)" :meta="pagination" v-if="pagination" />
            </div>
        </div>
    </div>
</template>

<script>
import axios from "axios";
import { useDebouncedRef } from "@/utils/debounce";

import Navbar from '@/v2/components/Navbar'
import CardProduct from '@/v2/components/CardProduct'
import Rating from '@/v2/components/Rating'
import Pagination from '@/v2/components/Pagination'

export default {
    name: 'pemasok-detail',
    components: {
        Navbar,
        CardProduct,
        Rating,
        Pagination,
    },
    data() {
        return {
            token: localStorage.getItem("token"),
            loading: true,
            pemasok: {
                id_user: null,
                logo_usaha: null,
                nama_usaha: null,
                lokasi_penjual: null,
                telepon: null,
                produk_terjual: 0,
                transaksi: 0,
                rating: 0,
                rating_count: 0,
            },
            search: '',
            products: [],
            pagination: [],
            debounce: null,
        }
    },

    methods: {
        async searchingProducts() {
            if(this.search.length > 2) {
                clearTimeout(this.debounce);
                this.debounce = setTimeout(() => {
                    this.getProducts()
                }, 600)
            }
        },

        async getPenjual() {
            this.loading = true;
            const id = this.$route.params.id;
            await axios.get(`/api/v1/penjual/${id}`, {
            }).then((resp) => {
                this.pemasok = resp.data.data;
                this.loading = false;
            })
        },

        async loadProductPage(page) {
            this.page = page;
            this.loading = true;
            this.getProducts();
            const id = this.$route.params.id;
            return this.$router.push({
                path: `/pemasok/${id}`,
                query: {
                    ...this.$route.query,
                    page: page
                }
            });
        },

        async getProducts() {
            await axios.get(`/api/v1/product`, {
                params: {
                    toko: this.pemasok.id_user,
                    page: this.page,
                    search: this.search,
                    limit: 12,
                },
            }).then((resp) => {
                this.products = resp.data.data;
                this.pagination = resp.data.meta;
                this.loading = false;
            })
        },

        toLoginPage() {
            return this.$router.push({ name: "login" });
        },

        sendChat() {
            if (this.token) {
                this.$router.push({ name: "dashboardChatRoom", query: { target_id: this.pemasok.id_user } })
            } else {
                this.$swal({
                    icon: 'warning',
                    title: 'Gagal Mengirim Pesan',
                    html: 'Harus login sebelum chat penjual.',
                    confirmButtonText: 'Masuk',
                    confirmButtonClass: 'btn __btn-outline-primary py-2 px-4 rounded-pill',
                    buttonsStyling: false,
                }).then(() => {
                    this.toLoginPage()
                });

            }
        }
    },

    async mounted() {
        await this.getPenjual();
        await this.getProducts();
    },

}
</script>

<style scoped>
.detail-pemasok-title {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 45px;
}
.bg-breadcrumb {
    background-color: #F5F5FB;
    color: white;
}
.breadcrumb {
    padding: 0.5rem 6rem;
}
.banner {
    padding: 0 6rem;
}
.row-pemasok {
    padding: 0 6rem;
}
</style>
