<template>
    <Navbar @changeSearch="clickFilter(true, $event)" />

    <div class="container-fluid d-flex justify-content-between mb-5">
        <div class="col-lg-3 pe-4 mt-3" style="padding-left: 1rem !important;">
            <div class="d-flex justify-content-between">
                <div class="text-dark fw-bold fs-5">Filter</div>
                <a @click.prevent="resetFilter()" href="javascript:void(0)" class="text-decoration-none">Reset</a>
            </div>

            <div class="text-dark fw-bold fs-4 mt-4">Lokasi Pemasok</div>

            <div class="position-relative">
                <select class="__form-control form-select mt-3" @change="getCity(filter.id_provinces)" v-model="filter.id_provinces" :disabled="collection.provinces.length == 0 || loading_provinces">
                    <option value="0">Pilih provinsi</option>
                    <option :value="province.id" v-for="province in collection.provinces" :key="province.id">
                        {{ province.name }}
                    </option>
                </select>
                <div v-show="loading_provinces" class="spinner-border spinner-border-sm position-absolute bg-white" style="top: 30%; right: 5%;" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>

            <div class="position-relative">
                <select name="" v-model="filter.id_cities" :disabled="collection.cities.length == 0 || loading_city" class="__form-control form-select mt-3">
                    <option value="0">Pilih kabupaten/kota</option>
                    <option :value="city.id" v-for="city in collection.cities" v-bind:key="city.id">
                        {{ city.name }}
                    </option>
                </select>
                <div v-show="loading_city" class="spinner-border spinner-border-sm position-absolute bg-white" style="top: 30%; right: 5%;" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>

            <Button class="btn __btn-primary w-100 mt-4" @click.prevent="terapkanFilter(true)">
                Terapkan
            </Button>
        </div>

        <div class="col-lg-9" style="min-height: 800px;">
            <img :src="require('@/assets/images/banner/mesin-edc.jpg')" class="img-fluid" alt="Waktunya Umkm Untuk Maju">

            <b-skeleton-wrapper :loading="loading">
                <template #loading>
                    <div v-if="isFiltered" class="d-flex justify-content-between align-items-center pe-5 mt-4">
                        <b-skeleton width="23%"></b-skeleton>
                        <b-skeleton width="10%"></b-skeleton>
                    </div>
                    <div v-else class="mt-4 mx-auto w-50">
                        <b-skeleton width="80%" class="mx-auto"></b-skeleton>
                        <b-skeleton width="80%" class="mx-auto"></b-skeleton>
                    </div>

                    <div class="row pe-5 mt-4">
                        <div class="col-6 col-md-4 col-lg-3 mb-4" v-for="i in 12">
                            <b-skeleton class="mx-auto" height="251px"></b-skeleton>
                            <b-skeleton class="mx-auto"></b-skeleton>
                            <b-skeleton class="mx-auto"></b-skeleton>
                            <b-skeleton class="mx-auto"></b-skeleton>
                        </div>
                    </div>
                </template>

                <div class="d-flex justify-content-center gap-2 mt-4" v-if="!isFiltered">
                    <TabNavigation :tab="tabs.active" />
                </div>

                <div class="fw-semibold fs-4 text-dark text-center mt-4">Semua Pemasok (<span v-text="pemasok.count"></span>)</div>
                <div class="text-muted text-center mt-1">Jelajahi <span v-text="pemasok.count"></span> detail produk dan toko untuk mendapatkan kebutuhan anda</div>

                <div class="row pe-5 mt-4">
                    <div class="col-6 col-md-4 col-lg-3 mb-4" v-for="pemasok in pemasok.data">
                        <CardPemasok :pemasok="pemasok" />
                    </div>
                </div>
            </b-skeleton-wrapper>

            <Pagination @getPagination="loadPemasokPage($event)" :meta="pemasok.meta" v-if="pemasok.meta && tabs.active == 'Pemasok'" />
        </div>
    </div>
</template>

<script>
import axios from "axios";

import Navbar from '@/v2/components/Navbar'
import Button from '@/v2/components/Button'
import TabNavigation from '@/v2/components/TabNavigation'
import CardPemasok from '@/v2/components/CardPemasok'
import Pagination from '@/v2/components/Pagination'

export default {
    name: 'pemasok',
    components: {
        Navbar,
        Button,
        TabNavigation,
        CardPemasok,
        Pagination,
    },
    data() {
        return {
            isNotFound: true,
            loading: true,
            loading_category: true,
            loading_provinces: false,
            loading_city: false,
            products: {
                data: [],
                count: 0,
                meta: null,
            },
            pemasok: {
                data: [],
                count: 0,
                meta: null,
            },
            categories_barang: [],
            categories_jasa: [],
            collection: {
                provinces: [],
                cities: [],
            },
            filter: {
                id_provinces: this.$route.query.province || 0,
                id_cities: this.$route.query.city || 0,
                category: [],
            },
            tabs: {
                active: 'Pemasok'
            },
            search: "",

            filterCategory: this.$route.query.category ? [this.$route.query.category] : [],
            isFiltered: false,
            page: this.$route.query.page || 1,
            isShowButtonLoadMore: true,
        }
    },
    methods: {
        async getProvinces() {
            this.loading_provinces = true;
            await axios.get('/api/v1/shipper/provinces')
            .then(res => {
                this.collection.provinces = res.data;
                this.loading_provinces = false;
            })
        },

        //mengambil data kota berdasar provinsi yang dipilih pengguna dari shipper
        async getCity(id) {
            this.loading_city = true;
            await axios.get(`/api/v1/shipper/province/${id}/cities`)
            .then(res => {
                this.collection.cities = res.data;
                this.loading_city = false;
            })
        },

        async clickFilter(reset = true, event) {
            if(reset) {
                await this.$nextTick(() => {
                    this.pemasok.data = [];
                })
            }

            this.loading = true;
            this.search = event !== undefined ? event : this.$route.query.search;
            this.isFiltered = this.filterCategory.length > 0 || this.search || this.filter.id_cities != 0;
            this.getPenjual();
        },

        async getPenjual() {
            this.loading = true;
            await axios.get("/api/v1/penjual", {
                params: {
                    province: this.filter.id_provinces,
                    city: this.filter.id_cities,
                    page: this.page,
                    limit: 12,
                },
            }).then((resp) => {
                this.pemasok.data = resp.data.data;
                this.pemasok.meta = resp.data.meta;
                this.pemasok.count = resp.data.pagination.total;
                this.loading = false;
            })
        },

        async terapkanFilter() {
            this.page = 1;
            this.clickFilter(true);
            return this.$router.push({
                path: '/pemasok',
                query: {
                    province: this.filter.id_provinces,
                    city: this.filter.id_cities,
                }
            });
        },

        async resetFilter() {
            this.filter = {
                id_provinces: 0,
                id_cities: 0,
                category: [],
            }
            this.filterCategory = [];

            this.clickFilter(true);
            return this.$router.push({ path: '/pemasok' });
        },

        async loadPemasokPage(page) {
            this.page = page;
            this.getPenjual();
            return this.$router.push({
                path: '/pemasok',
                query: {
                    ...this.$route.query,
                    page: page
                }
            });
        },
    },

    mounted() {
        this.getProvinces();
        if(this.filter.id_provinces > 0) {
            this.getCity(this.filter.id_provinces);
        }
        this.getPenjual();
    },

}
</script>

<style scoped>
.slide-fade-enter-active {
    transition: all 0.3s ease-in-out;
}

.slide-fade-leave-active {
    transition: all 0.3s ease-in-out;
}

.slide-fade-enter-from,
.slide-fade-leave-to {
    transform: translateY(-20px);
}
</style>
