<template>
    <Navbar />

    <b-container class="py-5">
        <b-row>
            <b-col lg="12">
                <div class="title __text-primary">
                    <h2>{{ hotel && hotel.name }}</h2>
                </div>
                <div class="d-flex align-items-center gap-2">
                    <div>{{ hotel && `${hotel.address}, ${hotel.city}, ${hotel.country}` }}</div>

                    <div class="mx-2">
                        <svg width="1" height="27" viewBox="0 0 1 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <line x1="0.25" y1="1.09279e-08" x2="0.249999" y2="27" stroke="#B0B0B0"
                                stroke-width="0.5" />
                        </svg>
                    </div>

                    <!-- Hotel Score Review -->
                    <div class="d-flex align-items-center gap-1" v-if="hotel && hotel.review_score">
                        <template v-for="index in (Math.floor(Math.floor(parseInt(hotel.review_score)) / 2))"
                            :key="index">
                            <b-img width="20" height="16" :src="require('@/assets/images/icon/star.svg')" fluid></b-img>
                        </template>
                        <template v-for="index in (5 - (Math.floor(Math.floor(parseInt(hotel.review_score)) / 2)))"
                            :key="index">
                            <b-img width="20" height="16" :src="require('@/assets/images/icon/star-muted.svg')" fluid>
                            </b-img>
                        </template>
                    </div>

                    <div>{{ hotel && hotel.review_nr }} Penilaian</div>
                </div>
            </b-col>
        </b-row>

        <b-row class="mt-4 justify-content-between align-items-center">
            <b-col lg="7">
                <b-img class="w-100" :src="photos && photos[0].url_1440" style="object-fit: cover; height: 33rem;"
                    rounded fluid></b-img>
            </b-col>
            <b-col lg="5" class="mt-3 mt-lg-0">
                <div class="d-flex flex-column gap-3">
                    <b-img :src="photos && photos[1].url_1440" style="object-fit: cover; height: 16rem;" rounded>
                    </b-img>
                    <b-img :src="photos && photos[2].url_1440" style="object-fit: cover; height: 16rem;" rounded>
                    </b-img>
                </div>
            </b-col>
        </b-row>

        <b-row class="mt-5">
            <b-col lg="7">
                <div class="title __text-primary">
                    <h5>Informasi Penginapan</h5>
                </div>

                <div class="my-4 pe-5">
                    {{ description && description.description }}
                </div>

                <div class="mb-4">
                    <a href="#" class="text-decoration-none fs-6 __text-primary">
                        Lihat Selengkapnya
                        <svg width="10" height="14" viewBox="0 0 10 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M0.290562 1.70556C0.197981 1.61232 0.12467 1.50176 0.074816 1.38019C0.0249623 1.25862 -0.000457806 1.12842 6.48542e-06 0.997027C0.000470777 0.865632 0.0268105 0.735615 0.0775221 0.6144C0.128234 0.493184 0.202324 0.383144 0.295563 0.290562C0.388801 0.19798 0.499362 0.12467 0.620933 0.0748161C0.742504 0.0249624 0.872703 -0.000458047 1.0041 6.24709e-06C1.13549 0.000470541 1.26551 0.0268104 1.38673 0.077522C1.50794 0.128234 1.61798 0.202324 1.71056 0.295562L9.71056 8.29556C9.89681 8.48293 10.0014 8.73638 10.0014 9.00056C10.0014 9.26475 9.89681 9.5182 9.71056 9.70556L1.71056 17.7056C1.61798 17.7988 1.50794 17.8729 1.38673 17.9236C1.26551 17.9743 1.13549 18.0007 1.0041 18.0011C0.872703 18.0016 0.742504 17.9762 0.620933 17.9263C0.499362 17.8765 0.388801 17.8031 0.295563 17.7106C0.202324 17.618 0.128234 17.5079 0.0775221 17.3867C0.0268105 17.2655 0.000470538 17.1355 6.247e-06 17.0041C-0.000458044 16.8727 0.0249623 16.7425 0.074816 16.6209C0.12467 16.4994 0.197981 16.3888 0.290562 16.2956L7.58056 9.00556L0.290562 1.70556Z"
                                fill="#4C2A86" />
                        </svg>
                    </a>
                </div>
            </b-col>
            <b-col lg="5" class="d-flex flex-column gap-2">
                <b-card class="__card bg-secondary border-0 mb-5" style="--bs-bg-opacity: .12;">
                    <div><strong>Check-in</strong></div>
                    <div class="mt-2">{{ formatDate(checkin_date) }}</div>

                    <div class="mt-4"><strong>Check-out</strong></div>
                    <div class="mt-2">{{ formatDate(checkout_date) }}</div>

                    <div class="mt-4"><strong>Jumlah Kamar</strong></div>
                    <div class="mt-2">{{ room_number }} Kamar</div>

                    <div class="mt-4"><strong>Alamat Penginapan</strong></div>
                    <div class="mt-2">{{ hotel && `${hotel.address}, ${hotel.city}, ${hotel.country}` }}</div>

                    <div class="mt-4"><strong>Telepon Penginapan</strong></div>
                    <div class="mt-2">-</div>
                </b-card>
            </b-col>
        </b-row>

        <div class="border-top"></div>

        <div class="my-3 __text-primary fs-5">Pilihan Kamar</div>
        <div v-for="(mainRoom, mainIndex) in rooms" :key="mainIndex">
            <b-card v-for="(room, index) in mainRoom.block" :key="index" class="mt-4">
                <b-row>
                    <b-col lg="3">
                        <b-img class="w-100 h-50" :src="mainRoom.rooms[room.room_id].photos[0].url_640x200"
                            style="object-fit: cover; object-position: center;" rounded></b-img>
                        <b-row class="mt-2 justify-content-between">
                            <template v-for="(photo, indexPhoto) in mainRoom.rooms[room.room_id].photos" :key="photo">
                                <b-col v-if="indexPhoto < 3">
                                    <b-img :src="photo.url_square60" rounded fluid></b-img>
                                </b-col>
                            </template>
                        </b-row>
                    </b-col>

                    <b-col lg="6">
                        <div>
                            <strong class="me-2">Tipe Kamar:</strong> <span class="__text-primary fw-semibold">{{
                            room.name_without_policy }}</span> <br>
                        </div>
                        <div class="mt-4"><strong class="me-2">Kapasitas Tamu:</strong> {{ room.max_occupancy }} Orang
                        </div>
                        <div class="mt-4"><strong class="me-2">Pilihan Ranjang:</strong> {{
                        mainRoom.rooms[room.room_id].bed_configurations[0].bed_types[0].name_with_count }}</div>
                        <div class="mt-4"><strong class="me-2">Luas Kamar:</strong> {{ room.room_surface_in_m2 }} m2
                        </div>

                        <div class="mt-4"><strong>Fasilitas:</strong></div>
                        <div class="row row-cols-2 mt-3">
                            <div class="col py-1"
                                v-for="facility in (mainRoom.rooms[room.room_id].facilities.filter((fac) => fac.facilitytype_id == 6))"
                                :key="facility">
                                <svg width="24" height="24" viewBox="0 0 38 38" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M20.3546 0V5.10467L25.8084 2.16093L27.163 4.3548L20.3546 8.0294V16.8049L28.4824 12.4171V5.06667H31.1916V10.9541L35.9193 8.40307L37.2739 10.5969L32.5463 13.1493L38 16.0943L36.6454 18.2881L29.837 14.611L21.7093 18.9987L29.837 23.3877L36.6454 19.7119L38 21.9057L32.5463 24.8495L37.2739 27.4031L35.9193 29.5969L31.1916 27.0446V32.9333H28.4824V25.5816L20.3546 21.1926V29.9693L27.163 33.6452L25.8084 35.8391L20.3546 32.8953V38H17.6454V32.8941L12.1916 35.8391L10.837 33.6452L17.6454 29.9693V21.1926L9.51761 25.5803V32.9333H6.80836V27.0433L2.08071 29.5969L0.72608 27.4031L5.45237 24.8495L0 21.9057L1.35463 19.7119L8.16163 23.3865L16.2894 18.9987L8.16163 14.611L1.35463 18.2881L0 16.0943L5.45373 13.148L0.72608 10.5969L2.08071 8.40307L6.80836 10.9541V5.06667H9.51761V12.4171L17.6454 16.8049V8.0294L10.837 4.3548L12.1916 2.16093L17.6454 5.10467V0H20.3546Z"
                                        fill="#505E6B" />
                                </svg>
                                <span class="ms-2">{{ facility.name }}</span>
                            </div>
                        </div>
                    </b-col>

                    <b-col lg="3" class="text-center">
                        <div class="fw-bold">{{ rupiah(percent(room.min_price.price), room.min_price.currency) }}</div>
                        <div class="text-muted mb-4">{{ getDates(checkin_date, checkout_date) }} malam</div>

                        <b-button
                            @click="setSelectedRoom(room.name_without_policy, percent(room.min_price.price) * parseInt(room_number), mainRoom.rooms[room.room_id].photos[0].url_640x200)"
                            pill :class="`__btn-primary px-5 position-relative mt-5`" data-bs-toggle="modal"
                            data-bs-target="#selectRoom">
                            <div>Pilih</div>
                        </b-button>
                    </b-col>
                </b-row>
            </b-card>
        </div>

        <div class="border-top mt-5"></div>

        <b-row class="mt-4">
            <b-col class="d-flex gap-2 align-items-center">
                <!-- Hotel Score Review -->
                <div class="d-flex align-items-center gap-1" v-if="hotel && hotel.review_score">
                    <template v-for="index in (Math.floor(Math.floor(parseInt(hotel.review_score)) / 2))" :key="index">
                        <b-img width="20" height="16" :src="require('@/assets/images/icon/star.svg')" fluid></b-img>
                    </template>
                    <template v-for="index in (5 - (Math.floor(Math.floor(parseInt(hotel.review_score)) / 2)))"
                        :key="index">
                        <b-img width="20" height="16" :src="require('@/assets/images/icon/star-muted.svg')" fluid>
                        </b-img>
                    </template>
                </div>

                <div class="ms-2 __text-primary fw-semibold">
                    {{ hotel && hotel.review_nr }} Penilaian
                </div>
            </b-col>
        </b-row>

        <b-row class="mt-4" v-if="reviews">
            <b-col lg="6" class="mb-4" v-for="review in reviews.result" :key="review">
                <div class="d-flex gap-3 align-items-center">
                    <b-img :onerror="`this.src='${default_image}'`"
                        :src="review && (review.author.avatar || default_image)" style="width: 85px; height: 85px;"
                        rounded="circle"></b-img>
                    <div>
                        <div class="text-black">{{ review && review.author.name }}</div>
                        <div class="mt-2 text-muted">{{ review && formatDateTime(review.date) }}</div>
                    </div>
                </div>
                <div class="mt-4">
                    {{ review && review.pros }}
                </div>
            </b-col>
        </b-row>

        <div class="modal fade" id="selectRoom" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="selectRoomLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg position-relative">
                <div class="modal-content">
                    <div class="modal-header border-0">
                        <h5 class="modal-title __text-primary w-100 text-center" id="selectRoomLabel">Detail Tamu</h5>
                        <button type="button" class="btn-close position-absolute" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                    </div>

                    <div class="modal-body">

                        <b-row v-for="(guest, index) in guests" :key="index" class="mb-3">
                            <b-col lg="6">
                                <div class="bg-secondary px-2 py-3 text-muted w-100" style="--bs-bg-opacity: 0.2">Kamar
                                    {{ index + 1 }}</div>
                            </b-col>

                            <b-col lg="6"></b-col>

                            <b-col lg="6" class="mt-3">
                                <label class="fw-semibold">Titel</label>
                                <v-select v-model="guest.title" :name="`guest[${index}]['title']`" class="__v-select"
                                    :options="['Tuan', 'Nyonya']"></v-select>
                            </b-col>
                            <b-col lg="6" class="mt-3">
                                <label class="fw-semibold">Nama Tamu</label>
                                <input v-model="guest.name" :name="`guest[${index}]['name']`" type="text"
                                    class="form-control">
                            </b-col>
                        </b-row>

                        <b-row class="mt-5">
                            <b-col>
                                <h5 class="__text-primary w-100 text-center">Detail Pesanan</h5>
                                <b-card>
                                    <b-row>
                                        <b-col lg="3">
                                            <b-img class="w-100" :src="selected_room.image" fluid rounded></b-img>
                                        </b-col>
                                        <b-col lg="9">
                                            <div class="fw-semibold mb-3">{{ hotel && hotel.name }}</div>
                                            {{ getDates(checkin_date, checkout_date) }} Malam
                                            <b-row class="my-3">
                                                <b-col>
                                                    <div class="fw-semibold">Check-in</div>
                                                    {{ formatDate(checkin_date) }}
                                                </b-col>
                                                <b-col>
                                                    <div class="fw-semibold">Check-out</div>
                                                    {{ formatDate(checkout_date) }}
                                                </b-col>
                                            </b-row>
                                            {{ parseInt(room_number) }}x {{ selected_room.name }}
                                            <div class="fw-semibold mt-5 fs-4">
                                                {{ selected_room.price }}
                                            </div>
                                        </b-col>
                                    </b-row>
                                </b-card>
                            </b-col>
                        </b-row>
                    </div>

                    <div class="modal-footer border-0 text-center d-flex flex-column">
                        <button @click="makeAnOrder()" data-bs-dismiss="modal" pill
                            class="btn __btn-primary w-25 rounded-pill">Pilih</button>
                        <a href="#" class="text-danger" data-bs-dismiss="modal">Batal</a>
                    </div>
                </div>
            </div>
        </div>
    </b-container>
</template>

<script>
import axios from 'axios';
import Navbar from '@/v2/components/Navbar.vue';
import id from 'dayjs/locale/id';
import dayjs from 'dayjs';

import vSelect from 'vue-select';
import 'vue-select/dist/vue-select.css';

const now_date = new Date();
export default {
    components: { Navbar, vSelect },
    data() {
        return {
            token: localStorage.getItem("token"),
            checkin_date: localStorage.getItem("checkin_date") || dayjs(now_date).format('YYYY-MM-DD'),
            checkout_date: localStorage.getItem("checkout_date") || dayjs(now_date.setDate(now_date.getDate() + 1)).format('YYYY-MM-DD'),
            room_number: localStorage.getItem("room_number") || 1,
            hotel: null,
            photos: null,
            description: null,
            rooms: null,
            reviews: null,
            hotel_id: this.$route.params.id,
            default_image: 'https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50?f=y&d=mp',
            open: true,
            selected_room: {
                hotel_name: null,
                room_name: null,
                price: null,
                price_alt: null,
                image: null,
                night_count: null,
                checkin: null,
                checkout: null,
                guests: null,
            },
            guests: []
        }
    },
    mounted() {
        this.getHotelDetail(this.hotel_id);
        this.getHotelPhotos(this.hotel_id);

        setTimeout(() => {
            this.getHotelDescription(this.hotel_id);
            this.getHotelRooms(this.hotel_id);
            this.getHotelReviews(this.hotel_id);
        }, 2000);
    },
    methods: {
        async getHotelDetail(hotel_id) {
            await fetch(`${process.env.VUE_APP_ENDPOINT_HOTELS_API}/hotels/data?hotel_id=${hotel_id}&locale=id`, {
                headers: {
                    'X-RapidAPI-Key': process.env.VUE_APP_X_RAPIDAPI_HOTELS_KEY,
                    'X-RapidAPI-Host': process.env.VUE_APP_X_RAPIDAPI_HOTELS_HOST
                }
            })
                .then(response => response.json())
                .then(response => (this.hotel = response))
                .catch(err => console.error(err));
        },
        async getHotelPhotos(hotel_id) {
            await fetch(`${process.env.VUE_APP_ENDPOINT_HOTELS_API}/hotels/photos?locale=id&hotel_id=${hotel_id}`, {
                headers: {
                    'X-RapidAPI-Key': process.env.VUE_APP_X_RAPIDAPI_HOTELS_KEY,
                    'X-RapidAPI-Host': process.env.VUE_APP_X_RAPIDAPI_HOTELS_HOST
                }
            })
                .then(response => response.json())
                .then(response => (this.photos = response))
                .catch(err => console.error(err));
        },
        async getHotelDescription(hotel_id) {
            await fetch(`${process.env.VUE_APP_ENDPOINT_HOTELS_API}/hotels/description?locale=id&hotel_id=${hotel_id}`, {
                headers: {
                    'X-RapidAPI-Key': process.env.VUE_APP_X_RAPIDAPI_HOTELS_KEY,
                    'X-RapidAPI-Host': process.env.VUE_APP_X_RAPIDAPI_HOTELS_HOST
                }
            })
                .then(response => response.json())
                .then(response => (this.description = response))
                .catch(err => console.error(err));
        },
        async getHotelRooms(hotel_id) {
            await fetch(`${process.env.VUE_APP_ENDPOINT_HOTELS_API}/hotels/room-list?checkin_date=${this.checkin_date}&checkout_date=${this.checkout_date}&units=metric&currency=IDR&locale=id&adults_number_by_rooms=2&hotel_id=${hotel_id}`, {
                headers: {
                    'X-RapidAPI-Key': process.env.VUE_APP_X_RAPIDAPI_HOTELS_KEY,
                    'X-RapidAPI-Host': process.env.VUE_APP_X_RAPIDAPI_HOTELS_HOST
                }
            })
                .then(response => response.json())
                .then(response => (this.rooms = response))
                .catch(err => console.error(err));
        },
        async getHotelReviews(hotel_id) {
            await fetch(`${process.env.VUE_APP_ENDPOINT_HOTELS_API}/hotels/reviews?hotel_id=${hotel_id}&sort_type=SORT_MOST_RELEVANT&locale=id&language_filter=id&customer_type=solo_traveller%2Creview_category_group_of_friends`, {
                headers: {
                    'X-RapidAPI-Key': process.env.VUE_APP_X_RAPIDAPI_HOTELS_KEY,
                    'X-RapidAPI-Host': process.env.VUE_APP_X_RAPIDAPI_HOTELS_HOST
                }
            })
                .then(response => response.json())
                .then(response => (this.reviews = response))
                .catch(err => console.error(err));
        },

        setSelectedRoom(name, price, image) {
            this.guests = [];

            for (let index = 0; index < parseInt(this.room_number); index++) {
                this.guests.push({ title: '', name: '' })
            }

            this.open = true;
            this.selected_room = {
                type_jasa: "pesan_hotel",
                hotel_name: this.hotel.name,
                room_name: name,
                price: this.rupiah(price, 'IDR'),
                price_alt: price,
                image: image,
                night_count: this.getDates(this.checkin_date, this.checkout_date),
                checkin: this.formatDate(this.checkin_date),
                checkout: this.formatDate(this.checkout_date),
                guests: this.guests,
            }
        },

        makeAnOrder() {
            const obj = JSON.stringify({
                id_penjual: process.env.VUE_APP_ID_PENJUAL_JASA,
                id_alamat: null,
                id_cart: null,
                total_harga_barang: this.selected_room.price_alt,
                total_harga_kurir: null,
                subtotal: this.selected_room.price_alt,
                jenis_pajak: "Bebas Pajak",
                jenis_pajak_value: 0,
                pajak_penghasilan: "Bebas Pajak",
                pajak_penghasilan_value: 0,
                total_pajak: 0,
                total_pajak_penghasilan: 0,
                kurir: null,
                etd: null,
                total_pembayaran: this.selected_room.price_alt,
                jasa: JSON.stringify(this.selected_room)
            });

            axios.post(`/api/v1/pesanan/pesanan_langsung`, obj, {
                headers: {
                    'Authorization': `Bearer ${this.token}`,
                    'Content-Type': 'application/json',
                }
            }).then((resp) => {
                this.$swal({
                    icon: 'success',
                    title: resp.data.message,
                });

                return this.$router.push({ path: `/pembeli/pesanan-langsung/${resp.data.data.id}` });
            });
        },
        rupiah(number, currency) {
            return new Intl.NumberFormat("id-ID", {
                style: "currency",
                currency: currency || 'IDR',
                minimumFractionDigits: 0
            }).format(Math.round(number));
        },
        percent(price) {
            price = parseInt(price)
            return (parseInt(process.env.VUE_APP_PRICE_PERCENTAGE) / 100 * price) + price
        },
        formatDate(dateString) {
            const date = dayjs(dateString).locale('id');
            return date.format('dddd, DD MMMM YYYY');
        },
        formatDateTime(dateString) {
            const date = dayjs(dateString).locale('id');
            return date.format('DD MMMM YYYY HH:mm:ss');
        },
        getDates(startDate, endDate) {
            if (!startDate) {
                return 0;
            }

            if (!endDate) {
                return 1;
            }

            const date1 = new Date(startDate);
            const date2 = new Date(endDate);

            const DifferenceInTime = date2.getTime() - date1.getTime();
            return Math.round(DifferenceInTime / (1000 * 3600 * 24));
        }
    },
    computed: {
        //
    }
}
</script>

<style scope>
.__card {
    border: 1px solid var(--primary-color);
    border-radius: 8px;
}

.__card .card-body {
    padding: 10px;
}

.__card .card-body h6 {
    font-weight: 600;
    font-size: 16px;
}

.__card .card-body h5 {
    font-size: 17px;
    font-weight: 600;
}

.__w-15 {
    width: 15%;
}

div.title h2 {
    font-size: 24px;
}

div.title>div h6 {
    display: inline-block;
    font-size: 15px;
    font-weight: 600;
}

div.title>div select {
    display: inline-block;
}
</style>
