<template>
    <Navbar />

    <img :src="require('@/assets/images/banner/banner-akomodasi.jpg')" class="img-fluid w-100">

    <div class="container my-4">
        <b-card class="__card bg-secondary border-0 mb-5" style="--bs-bg-opacity: .12;">
            <b-row>
                <b-col lg="5" class="mt-2">
                    <label class="fw-bold">Lokasi Menginap</label>
                    <v-select class="__v-select" v-model="destination" label="name" :filterable="false" :options="cities" @search="getLocations">
                        <template #no-options>
                            search locations or hotels by name.
                        </template>
                        <template #option="{ name, label }">
                            <div class="py-1">
                                <small class="text-muted d-block">{{ label }}</small>
                                {{ name }}
                            </div>
                        </template>
                        <template #selected-option="{ name }">
                            {{ name }}
                        </template>
                    </v-select>
                </b-col>
                <b-col lg="7" class="mt-2">
                    <b-row class="align-items-center">
                        <b-col lg="5" class="mt-2 mt-lg-0">
                            <label class="fw-bold">Check-in</label>
                            <Datepicker v-model="checkin_date" :enableTimePicker="false" :minDate="new Date()" :maxDate="checkout_date ?? ''" autoApply monthNameFormat="long" placeholder="Pilih tanggal checkin"></Datepicker>
                        </b-col>
                        <b-col lg="2" class="mt-2 mt-lg-0">
                            <label class="fw-bold d-none d-lg-block">&nbsp;</label>
                            <div class="text-lg-center">
                                <svg width="15" height="22" viewBox="0 0 20 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0 11C0 4.92054 5.01516 0 11.1904 0C11.7584 0 12.6754 0.0819106 13.2354 0.183955C13.7163 0.271219 13.823 0.902393 13.3994 1.1386C10.6503 2.67634 8.96029 5.52946 8.96029 8.63304C8.96029 14.0201 13.946 18.1107 19.3756 17.0942C19.8537 17.0056 20.1897 17.5521 19.8812 17.9266C17.7956 20.458 14.6405 22 11.1904 22C5.00516 22 0 17.0696 0 11Z" fill="#B0B0B0"/>
                                </svg>
                                {{ getDates(checkin_date, checkout_date) }} Malam
                            </div>
                        </b-col>
                        <b-col lg="5" class="mt-2 mt-lg-0">
                            <label class="fw-bold">Check-out</label>
                            <Datepicker v-model="checkout_date" :enableTimePicker="false" :minDate="checkin_date ?? new Date()" autoApply monthNameFormat="long" placeholder="Pilih tanggal checkout"></Datepicker>
                        </b-col>
                    </b-row>
                </b-col>
                <b-col lg="5" class="mt-2">
                    <label class="fw-bold">Jumlah Kamar</label>
                    <v-select class="__v-select" v-model="rooms.selected" :options="rooms.data"></v-select>
                </b-col>
            </b-row>

            <div class="text-center mt-5 mb-3">
                <b-button @click="searchingHotels" pill :class="`${(!rooms.selected || !destination || !checkin_date || !checkout_date) && 'disabled'} __btn-primary mt-3 px-5 position-relative`">
                    <div v-show="searching" class="lds-dual-ring position-absolute" style="top: 0; left: 0;"></div>
                    <div class="px-3">Cari</div>
                </b-button>
            </div>
        </b-card>

        <div v-for="hotel in hotels" :key="hotel.id">
            <b-card class="__card mt-4">
                <b-row class="align-items-center">
                    <b-col lg="4">
                        <b-img class="w-100" height="250" :src="hotel.max_photo_url" style="object-fit: cover;" rounded></b-img>
                    </b-col>
                    <b-col lg="6">
                        <div class="fs-5 fw-bold">{{ hotel.hotel_name }}</div>
                        <div>{{ hotel.city }}</div>

                        <!-- Hotel Score Review -->
                        <div class="d-flex mt-2 align-items-center gap-1" v-if="hotel.review_score">
                            <template v-for="index in (Math.floor(Math.floor(parseInt(hotel.review_score)) / 2))" :key="index">
                                <b-img width="20" height="16" :src="require('@/assets/images/icon/star.svg')" fluid></b-img>
                            </template>
                            <template v-for="index in (5 - (Math.floor(Math.floor(parseInt(hotel.review_score)) / 2)))" :key="index">
                                <b-img width="20" height="16" :src="require('@/assets/images/icon/star-muted.svg')" fluid></b-img>
                            </template>
                        </div>

                        <!-- Hotel Class -->
                        <!-- <div class="d-flex mt-2 align-items-center gap-1" v-if="hotel.class">
                            <template v-if="parseInt(hotel.class) < 1">
                                <b-img width="20" height="16" :src="require('@/assets/images/icon/star-muted.svg')" fluid></b-img>
                            </template>
                            <template v-else>
                                <b-img width="20" height="16" v-for="star in hotel.class" :key="star" :src="require('@/assets/images/icon/star.svg')" fluid></b-img>
                            </template>
                        </div> -->

                        <div class="mt-4 fs-5">Harga Mulai Dari</div>
                        <div class="fs-5">{{ rupiah(percent(hotel.min_total_price), hotel.price_breakdown.currency) }}</div>
                        <div class="text-muted">{{ total_night }} malam</div>
                        <div class="mt-1 text-success">Tersedia</div>
                    </b-col>
                    <b-col lg="2">
                        <router-link :to="`/product/jasa/akomodasi/${hotel.hotel_id}`" class="btn __btn-primary rounded-pill px-5">Lihat Detail</router-link>
                    </b-col>
                </b-row>
            </b-card>
        </div>
    </div>
</template>

<script>
import Navbar from '@/v2/components/Navbar.vue';
import Datepicker from '@vuepic/vue-datepicker';
import vSelect from 'vue-select';
import dayjs from 'dayjs';

import '@vuepic/vue-datepicker/dist/main.css';
import 'vue-select/dist/vue-select.css';

export default {
    components: { Navbar, Datepicker, vSelect },
    data() {
        return {
            debounce: null,
            total_night: 0,
            destination: null,
            cities: [],
            hotels: [],
            rooms: {
                data: [1, 2, 3, 4, 5],
                selected: null,
            },
            checkin_date: null,
            checkout_date: null,
            searching: false,
        }
    },
    mounted() {
        //
    },
    methods: {
        searchLocations: (loading, search, vm) => {
            fetch(`${process.env.VUE_APP_ENDPOINT_HOTELS_API}/hotels/locations?locale=id&name=${escape(search)}`, {
                headers: {
                    'X-RapidAPI-Key': process.env.VUE_APP_X_RAPIDAPI_HOTELS_KEY,
                    'X-RapidAPI-Host': process.env.VUE_APP_X_RAPIDAPI_HOTELS_HOST
                }
            }).then(res => {
                res.json().then(json => {
                    vm.cities = json.filter((data) => data.country == 'Indonesia')
                });
                loading(false);
            });
        },
        async getLocations(search, loading) {
            if(search.length > 2) {
                loading(true);
                clearTimeout(this.debounce);
                this.debounce = setTimeout(() => {
                    this.searchLocations(loading, search, this);
                }, 600)
            }
        },
        async searchingHotels() {
            this.searching = true
            this.total_night = this.getDates(this.checkin_date, this.checkout_date)
            const options = {
                method: 'GET',
                headers: {
                    'X-RapidAPI-Key': process.env.VUE_APP_X_RAPIDAPI_HOTELS_KEY,
                    'X-RapidAPI-Host': process.env.VUE_APP_X_RAPIDAPI_HOTELS_HOST
                }
            };

            const dest_id       = this.destination.dest_id
            const dest_type     = this.destination.dest_type
            const room_number   = this.rooms.selected
            const checkin_date  = this.formatDate(this.checkin_date)
            const checkout_date = this.formatDate(this.checkout_date)

            localStorage.setItem("room_number", room_number)
            localStorage.setItem("checkin_date", checkin_date)
            localStorage.setItem("checkout_date", checkout_date)

            fetch(`${process.env.VUE_APP_ENDPOINT_HOTELS_API}/hotels/search?dest_id=${dest_id}&dest_type=${dest_type}&checkin_date=${checkin_date}&checkout_date=${checkout_date}&room_number=${room_number}&units=metric&locale=id&adults_number=1&order_by=popularity&filter_by_currency=IDR&include_adjacency=true`, options)
                .then(response => response.json())
                .then(response => {
                    if(response.count > 0) {
                        this.hotels = response.result
                    } else {
                        this.$swal({
                            icon: 'warning',
                            title: 'Data tidak ditemukan',
                            showConfirmButton: false,
                            html: "Tidak menemukan data dengan pencarian tersebut.",
                        });
                    }
                    this.searching = false
                })
                .catch(err => console.error(err))
        },
        rupiah(number, currency) {
            return new Intl.NumberFormat("id-ID", {
                style: "currency",
                currency: currency,
                minimumFractionDigits: 0
            }).format(Math.round(number));
        },
        percent(price) {
            price = parseInt(price)
            return (parseInt(process.env.VUE_APP_PRICE_PERCENTAGE) / 100 * price) + price
        },
        formatDate(dateString) {
          const date = dayjs(dateString);
          return date.format('YYYY-MM-DD');
        },
        getDates (startDate, endDate) {
          if(!startDate) {
            return 0;
          }

          if(!endDate) {
            return 1;
          }

          const date1 = new Date(startDate);
          const date2 = new Date(endDate);

          const DifferenceInTime = date2.getTime() - date1.getTime();
          let night_count = Math.round(DifferenceInTime / (1000 * 3600 * 24));

          if(night_count < 1) {
            night_count = 1
          }

          return parseInt(night_count);
        }
    },
    computed: {
        //
    }
}
</script>

<style scope>
.lds-dual-ring {
    display: inline-block;
    width: 20px;
    height: 20px;
}
.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 20px;
    height: 20px;
    margin: 8px;
    border-radius: 50%;
    border: 3px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.__card {
    border: 1px solid var(--primary-color);
    border-radius: 8px;
}

.__card .card-body {
    padding: 10px;
}

.__card .card-body h6 {
    font-weight: 600;
    font-size: 16px;
}

.__card .card-body h5 {
    font-size: 17px;
    font-weight: 600;
}

div.title h2 {
    font-size: 24px;
}

div.title>div h6 {
    display: inline-block;
    font-size: 15px;
    font-weight: 600;
}

div.title>div select {
    display: inline-block;
}
</style>
