<template>
    <Navbar />

    <img :src="require('@/assets/images/banner/banner-transportasi.jpg')" class="img-fluid w-100">

    <div class="container my-4">
        <b-card v-if="inputPassengers == false" class="__card bg-secondary border-0 mb-5 px-5 py-2"
            style="--bs-bg-opacity: .12;">
            <b-row>
                <b-col lg="12" class="mt-3 d-flex gap-3 align-items-center">
                    <b-form-radio @change="() => flights = []" class="cursor-pointer" v-model="type" name="type"
                        value="ONEWAY">
                        <div class="cursor-pointer">Sekali jalan</div>
                    </b-form-radio>
                    <b-form-radio @change="() => flights = []" class="cursor-pointer d-none" v-model="type" name="type"
                        value="ROUNDTRIP">
                        <div class="cursor-pointer">Pulang-pergi</div>
                    </b-form-radio>
                </b-col>

                <b-col md="6" class="mt-3">
                    <label class="fw-semibold mb-1">Kelas</label>
                    <select @change="() => flights = []" class="form-select w-100" v-model="cabinClass">
                        <option value="economy">Ekonomi</option>
                        <!-- <option value="premium_economy">Ekonomi Premium</option> -->
                        <option value="business">Bisnis</option>
                        <!-- <option value="first">Kelas Satu</option> -->
                    </select>
                </b-col>

                <b-col class="mt-3">
                    <label class="fw-semibold mb-1">Dewasa <small class="fw-normal text-muted">Usia 18+</small></label>
                    <select @change="() => flights = []" class="form-select w-100" v-model="adults">
                        <option v-for="index in 8" :key="index" :value="index">{{ index }}</option>
                    </select>
                </b-col>

                <b-col class="mt-3">
                    <label class="fw-semibold mb-1">Anak <small class="fw-normal text-muted">Usia 0 - 17</small></label>
                    <select @change="() => flights = []" class="form-select w-100" v-model="children">
                        <option v-for="(n, index) in 8" :key="index" :value="index">{{ index }}</option>
                    </select>
                </b-col>

                <b-col lg="12" class="mt-3">
                    <b-row>
                        <b-col md="6">
                            <label class="fw-semibold mb-1">Dari</label>
                            <v-select @change="() => flights = []" class="__v-select" v-model="destination.from"
                                label="name" :filterable="false" :options="airports" @search="getLocations">
                                <template #no-options>
                                    search airport by name.
                                </template>
                                <template #option="{ PlaceId, PlaceName, CityName }">
                                    <div class="py-1">
                                        <small class="text-muted d-block">{{ CityName }}</small>
                                        <strong>{{ PlaceId }}</strong> {{ PlaceName }}
                                    </div>
                                </template>
                                <template #selected-option="{ PlaceId, PlaceName }">
                                    <strong class="me-1">({{ PlaceId }})</strong> {{ PlaceName }}
                                </template>
                            </v-select>
                        </b-col>

                        <b-col md="6">
                            <label class="fw-semibold mb-1">Ke</label>
                            <v-select @change="() => flights = []" class="__v-select" v-model="destination.to"
                                label="name" :filterable="false" :options="airports" @search="getLocations">
                                <template #no-options>
                                    search airport by name.
                                </template>
                                <template #option="{ PlaceId, PlaceName, CityName }">
                                    <div class="py-1">
                                        <small class="text-muted d-block">{{ CityName }}</small>
                                        <strong>{{ PlaceId }}</strong> {{ PlaceName }}
                                    </div>
                                </template>
                                <template #selected-option="{ PlaceId, PlaceName }">
                                    <strong class="me-1">({{ PlaceId }})</strong> {{ PlaceName }}
                                </template>
                            </v-select>
                        </b-col>

                        <b-col md="6" class="mt-md-3">
                            <label class="fw-semibold mb-1">Tanggal Berangkat</label>
                            <Datepicker @change="() => flights = []" v-model="date.depart" :enableTimePicker="false"
                                :format="format" :minDate="new Date()" :maxDate="date.return ?? ''" autoApply
                                monthNameFormat="long" placeholder="Pilih tanggal berangkat"></Datepicker>
                        </b-col>

                        <b-col md="6" class="mt-md-3" v-if="type === 'ROUNDTRIP'">
                            <label class="fw-semibold mb-1">Tanggal Pulang</label>
                            <Datepicker @change="() => flights = []" v-model="date.return" :enableTimePicker="false"
                                :format="format" :minDate="date.depart ?? new Date()" autoApply monthNameFormat="long"
                                placeholder="Pilih tanggal pulang"></Datepicker>
                        </b-col>
                    </b-row>
                </b-col>
            </b-row>

            <div class="text-center mt-5 mb-3">
                <b-button @click="searchingFlights" pill :class="`__btn-primary mt-3 px-5 position-relative`">
                    <div v-show="searching" class="lds-dual-ring position-absolute" style="top: 0; left: 0;"></div>
                    <div class="px-3">Cari</div>
                </b-button>
            </div>
        </b-card>

        <div v-if="inputPassengers == false">
            <div v-for="(flight, mainIndex) in flights" :key="mainIndex">
                <b-card class="__card mt-4">
                    <div class="row align-items-center">
                        <div class="col-lg-10">
                            <b-row v-for="(leg, index) in flight.legs" :key="index" class="align-items-center my-4">
                                <b-col lg="4" class="text-center">
                                    <b-img class="w-25" :onerror="`this.src='${default_image}'`"
                                        :src="require(`@/assets/images/transportasi/${leg.carriers[0].display_code}.jpg`)">
                                    </b-img>
                                </b-col>
                                <b-col lg="8">
                                    <div class="fs-5 fw-semibold __text-primary">{{ `${leg.carriers[0].name}` }}</div>

                                    <b-row>
                                        <b-col class="text-start">{{ formatTime(leg.departure) }}</b-col>
                                        <b-col class="text-end">{{ formatTime(leg.arrival) }}</b-col>
                                    </b-row>
                                    <b-row>
                                        <b-col class="text-start">
                                            <strong class="me-2">{{ leg.origin.display_code }}</strong>
                                            <small>{{ formatDateShort(leg.departure) }}</small>
                                        </b-col>
                                        <b-col class="text-center">{{ Math.floor(leg.duration / 60) }} Jam {{ Math.floor(leg.duration % 60) }} Menit</b-col>
                                        <b-col class="text-end">
                                            <small>{{ formatDateShort(leg.arrival) }}</small>
                                            <strong class="ms-2">{{ leg.destination.display_code }}</strong>
                                        </b-col>
                                    </b-row>
                                    <b-row>
                                        <b-col class="text-start"><small>{{ formatDateDay(leg.departure) + ' ' + formatTime(leg.departure) }}</small></b-col>
                                        <b-col class="text-end"><small>{{ formatDateDay(leg.arrival) + ' ' + formatTime(leg.arrival) }}</small></b-col>
                                    </b-row>
                                </b-col>
                            </b-row>
                        </div>

                        <div class="col-lg-2 text-center">
                            <small>Harga</small>
                            <div class="fs-5 fw-semibold">{{ rupiah(percent(flight.price.amount), 'IDR') }}</div>

                            <b-button @click="selectedOffers(flight)" pill
                                :class="`${(!destination.from || !destination.to || !date.depart || !date.return) ?? 'disabled'} __btn-primary px-5 position-relative mt-4`"
                                data-bs-toggle="modal" data-bs-target="#selectRoom">
                                <div>Pilih</div>
                            </b-button>
                        </div>
                    </div>
                </b-card>
            </div>
        </div>

        <div class="text-center" v-if="inputPassengers == true">
            <div class="fs-4 fw-semibold">Siapa Penumpang nya?</div>
            <div v-for="(passenger_adults, n_adults) in passengers.adults" :key="n_adults"
                class="my-3 p-4 border rounded">
                <label class="fw-normal mb-1 fs-4 d-block">Dewasa {{ n_adults + 1 }}</label>
                <small class="d-block mb-3" style="font-size: .8rem;"><span class="text-danger">*</span> Wajib
                    diisi</small>
                <b-row>
                    <b-col lg="6" class="my-2">
                        <label class="fw-normal mb-1 fs-6 d-block text-start">Nama Depan <span
                                class="text-danger">*</span></label>
                        <input v-model="passenger_adults.first_name"
                            :name="`passenger['adults'][${n_adults}]['first_name']`" type="text" class="form-control">
                        <small class="d-block text-muted text-start">Ketik nama anda persis seperti yang tertulis di kartu
                            identitas penumpang</small>
                    </b-col>
                    <b-col lg="6" class="my-2">
                        <label class="fw-normal mb-1 fs-6 d-block text-start">Nama Belakang <span
                                class="text-danger">*</span></label>
                        <input v-model="passenger_adults.last_name"
                            :name="`passenger['adults'][${n_adults}]['last_name']`" type="text" class="form-control">
                        <small class="d-block text-muted text-start">Ketik nama anda persis seperti yang tertulis di kartu
                            identitas penumpang</small>
                    </b-col>
                    <b-col lg="6" class="my-2">
                        <label class="fw-normal mb-1 fs-6 d-block text-start">Jenis kelamin yang tertera di identitas
                            Anda <span class="text-danger">*</span></label>
                        <select v-model="passenger_adults.gender" :name="`passenger['adults'][${n_adults}]['gender']`"
                            class="form-select w-100">
                            <option value="">Pilih</option>
                            <option value="Laki-laki">Laki-laki</option>
                            <option value="Perempuan">Perempuan</option>
                        </select>
                        <small class="d-block text-muted text-start">Maskapai dan penyedia layanan mewajibkan kami untuk
                            meminta informasi ini</small>
                    </b-col>
                    <b-col lg="6" class="my-2">
                        <label class="fw-normal mb-1 fs-6 d-block text-start">Tanggal lahir <span
                                class="text-danger">*</span></label>
                        <Datepicker v-model="passenger_adults.birth_date" :enableTimePicker="false" :format="format"
                            autoApply :name="`passenger['adults'][${n_adults}]['birth_date']`"></Datepicker>
                    </b-col>
                </b-row>
            </div>

            <div v-for="(passenger_children, n_children) in passengers.children" :key="n_children"
                class="my-3 p-4 border rounded">
                <label class="fw-normal mb-1 fs-4 d-block">Anak {{ n_children + 1 }}</label>
                <small class="d-block mb-3" style="font-size: .8rem;"><span class="text-danger">*</span> Wajib
                    diisi</small>
                <b-row>
                    <b-col lg="6" class="my-2">
                        <label class="fw-normal mb-1 fs-6 d-block text-start">Nama Depan <span
                                class="text-danger">*</span></label>
                        <input v-model="passenger_children.first_name"
                            :name="`passenger['children'][${n_children}]['first_name']`" type="text"
                            class="form-control">
                        <small class="d-block text-muted text-start">Ketik nama anda persis seperti yang tertulis di kartu
                            identitas penumpang</small>
                    </b-col>
                    <b-col lg="6" class="my-2">
                        <label class="fw-normal mb-1 fs-6 d-block text-start">Nama Belakang <span
                                class="text-danger">*</span></label>
                        <input v-model="passenger_children.last_name"
                            :name="`passenger['children'][${n_children}]['last_name']`" type="text"
                            class="form-control">
                        <small class="d-block text-muted text-start">Ketik nama anda persis seperti yang tertulis di kartu
                            identitas penumpang</small>
                    </b-col>
                    <b-col lg="6" class="my-2">
                        <label class="fw-normal mb-1 fs-6 d-block text-start">Jenis kelamin yang tertera di identitas
                            Anda <span class="text-danger">*</span></label>
                        <select v-model="passenger_children.gender"
                            :name="`passenger['children'][${n_children}]['gender']`" class="form-select w-100">
                            <option value="">Pilih</option>
                            <option value="Laki-laki">Laki-laki</option>
                            <option value="Perempuan">Perempuan</option>
                        </select>
                        <small class="d-block text-muted text-start">Maskapai dan penyedia layanan mewajibkan kami untuk
                            meminta informasi ini</small>
                    </b-col>
                    <b-col lg="6" class="my-2">
                        <label class="fw-normal mb-1 fs-6 d-block text-start">Tanggal lahir <span
                                class="text-danger">*</span></label>
                        <Datepicker v-model="passenger_children.birth_date" :enableTimePicker="false" :format="format"
                            autoApply :name="`passenger['children'][${n_children}]['birth_date']`"></Datepicker>
                    </b-col>
                </b-row>
            </div>

            <button @click="makeAnOrder" data-bs-dismiss="modal"
                class="btn __btn-primary px-5 rounded-pill">Pesan</button>
        </div>
    </div>

    <div class="modal fade" id="selectRoom" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="1"
        aria-labelledby="selectRoomLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl position-relative">
            <div class="modal-content">
                <div class="modal-header border-0">
                    <h5 class="modal-title __text-primary w-100 text-center" id="selectRoomLabel">Konfirmasi pilihan
                    </h5>
                    <button type="button" class="btn-close position-absolute" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body px-4">
                    <small class="text-muted">
                        {{ type === 'ONEWAY' ? 'Sekali jalan' : 'Pulang Pergi' }} ·
                        {{ parseInt(adults) + parseInt(children) }} penumpang · {{ formatDateDay(date.depart) }}
                        <span v-if="type !== 'ONEWAY'">- {{ formatDateDay(date.return) }}</span>
                    </small>
                    <div class="d-flex justify-content-start align-items-center gap-3 fs-3">
                        <span>{{ destination.from && destination.from.CityName }}</span>
                        <svg v-if="type === 'ONEWAY'" style="width: 2rem;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" data-rtl-flip="true">
                            <path d="M23.25 11.747H.75a.75.75 0 0 0 0 1.5h22.5a.75.75 0 0 0 0-1.5zm-3.22 5.03l3.75-3.75a.75.75 0 0 0 0-1.06l-3.75-3.75a.75.75 0 1 0-1.06 1.06l3.75 3.75v-1.06l-3.75 3.75a.75.75 0 1 0 1.06 1.06z"></path>
                        </svg>
                        <svg v-else style="width: 2rem;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                            <path d="M10.5 15.75h12.75a.75.75 0 0 0 0-1.5H10.5a.75.75 0 0 0 0 1.5zm9.22-3.22l3 3v-1.06l-3 3a.75.75 0 1 0 1.06 1.06l3-3a.75.75 0 0 0 0-1.06l-3-3a.75.75 0 1 0-1.06 1.06zM13.5 8.25H.75a.75.75 0 0 0 0 1.5H13.5a.75.75 0 0 0 0-1.5zm-9.22 3.22l-3-3v1.06l3-3a.75.75 0 0 0-1.06-1.06l-3 3a.75.75 0 0 0 0 1.06l3 3a.75.75 0 0 0 1.06-1.06z"></path>
                        </svg>
                        <span>{{ destination.to && destination.to.CityName }}</span>
                    </div>

                    <b-card class="__card mt-4" v-if="selected_offers.legs !== undefined && selected_offers.legs.length > 0">
                        <div class="row align-items-center">
                            <div class="col-lg-9">
                                <b-row v-for="(leg, index) in selected_offers.legs" :key="index"
                                    class="align-items-center my-2">
                                    <b-col lg="3" class="text-center">
                                        <b-img class="w-50" :onerror="`this.src='${default_image}'`" :src="require(`@/assets/images/transportasi/${leg.carriers[0].display_code}.jpg`)">
                                        </b-img>
                                    </b-col>
                                    <b-col lg="9">
                                        <div class="fs-5 fw-semibold __text-primary">{{ leg.carriers[0].name }}</div>

                                        <b-row>
                                            <b-col class="text-start">{{ formatTime(leg.departure) }}</b-col>
                                            <b-col class="text-end">{{ formatTime(leg.arrival) }}</b-col>
                                        </b-row>
                                        <b-row>
                                            <b-col class="text-start">
                                                <strong class="me-2">{{ leg.origin.display_code }}</strong>
                                                <small>{{ formatDateShort(leg.departure) }}</small>
                                            </b-col>
                                            <b-col class="text-center">{{ Math.floor(leg.duration / 60) }} Jam {{ Math.floor(leg.duration % 60) }} Menit</b-col>
                                            <b-col class="text-end">
                                                <small>{{ formatDateShort(leg.arrival) }}</small>
                                                <strong class="ms-2">{{ leg.destination.display_code }}</strong>
                                            </b-col>
                                        </b-row>
                                        <b-row>
                                            <b-col class="text-start"><small>{{ formatDateDay(leg.departure) + ' ' + formatTime(leg.departure) }}</small></b-col>
                                            <b-col class="text-end"><small>{{ formatDateDay(leg.arrival) + ' ' + formatTime(leg.arrival) }}</small></b-col>
                                        </b-row>
                                    </b-col>
                                </b-row>
                            </div>

                            <div class="col-lg-3 text-center">
                                <small>Harga</small>
                                <div class="fs-5 fw-semibold">{{ rupiah(percent(selected_offers.price.amount), 'IDR') }}
                                </div>
                            </div>
                        </div>
                    </b-card>
                </div>

                <div class="modal-footer border-0 text-center d-flex flex-column">
                    <button @click="() => inputPassengers = true" data-bs-dismiss="modal"
                        class="btn __btn-primary px-5 rounded-pill">Lanjutkan</button>
                    <a href="#" class="text-danger" data-bs-dismiss="modal">Batal</a>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import axios from 'axios';
import Navbar from '@/v2/components/Navbar.vue';
import Datepicker from '@vuepic/vue-datepicker';
import vSelect from 'vue-select';
import dayjs from 'dayjs';
import id from 'dayjs/locale/id';

import '@vuepic/vue-datepicker/dist/main.css';
import 'vue-select/dist/vue-select.css';

export default {
    components: { Navbar, Datepicker, vSelect },
    setup() {
        const format = (date) => {
            return dayjs(date).format('DD MMMM YYYY')
        }

        return {
            format,
        }
    },
    data() {
        return {
            token: localStorage.getItem("token"),
            debounce: null,
            searching: false,
            type: 'ONEWAY',
            cabinClass: 'economy',
            adults: 1,
            children: 0,
            destination: {
                from: '',
                to: '',
            },
            date: {
                depart: this.getNowDate(),
                return: ''
            },
            airports: [],
            flights: [],
            default_image: require('@/assets/images/icon/transportasi/airplane-ticket.jpg'),
            selected_offers: {},
            flight_offers: {
                type_jasa: "pesan_tiket_pesawat",
                price: '',
                price_alt: '',
                type: '',
                cabinClass: '',
                adults: '',
                children: '',
                destination: '',
                date: '',
                passengers: '',
                offers: ''
            },
            passengers: {
                adults: [],
                children: []
            },
            inputPassengers: false,
        }
    },
    mounted() {
        // this.searchingFlights()
    },
    methods: {
        searchLocations: (loading, search, vm) => {
            fetch(`${process.env.VUE_APP_ENDPOINT_FLIGHTS_API}/searchAirport?query=${escape(search)}`, {
                headers: {
                    "Authorization": `Bearer ${process.env.VUE_APP_X_RAPIDAPI_FLIGHTS_KEY}`,
                }
            }).then(res => {
                res.json().then(json => {
                    vm.airports = json.data.filter((data) => data.CountryName == 'Indonesia')
                });
                loading(false);
            });
        },
        async getLocations(search, loading) {
            if (search.length > 2) {
                loading(true);
                clearTimeout(this.debounce);
                this.debounce = setTimeout(() => {
                    this.searchLocations(loading, search, this);
                }, 600)
            }
        },
        async searchingFlights() {
            this.searching = true

            const type = this.type
            const adults = this.adults
            const cabinClass = this.cabinClass
            const children = this.children
            const from = this.destination.from
            const to = this.destination.to
            const depart_date = this.formatDate(this.date.depart)
            const return_date = type !== 'ONEWAY' ? (this.date.return != '' ? this.formatDate(this.date.return) : '') : ''

            await fetch(`${process.env.VUE_APP_ENDPOINT_FLIGHTS_API}/searchFlights?origin=${from.PlaceId}&destination=${to.PlaceId}&date=${depart_date}&returnDate=${return_date}&adults=${adults}&children=${children}&cabinClass=${cabinClass}&filter=best&currency=IDR&countryCode=ID&market=id-ID`, {
                headers: {
                    "Authorization": `Bearer ${process.env.VUE_APP_X_RAPIDAPI_FLIGHTS_KEY}`,
                }
            })
                .then(response => response.json())
                .then(response => {
                    this.searching = false
                    if (response.status == false) {
                        return this.$swal({
                            icon: 'warning',
                            title: 'Data tidak ditemukan',
                            showConfirmButton: false,
                            html: "Ada kesalahan di pihak penyedia layanan",
                        });
                    }

                    if (response.data.length == 0) {
                        // return this.$swal({
                        //     icon: 'warning',
                        //     title: 'Data tidak ditemukan',
                        //     showConfirmButton: false,
                        //     html: "Tidak dapat menemukan penerbangan...<br>Coba lagi!",
                        // });
                        this.searchingFlights()
                    }

                    this.flights = response.data
                })
                .catch(err => console.error(err))
        },
        async selectedOffers(offers) {
            this.selected_offers = offers;
            this.passengers.adults = [];
            this.passengers.children = [];

            for (let index = 0; index < parseInt(this.adults); index++) {
                this.passengers.adults.push({ firt_name: '', last_name: '', gender: '', birth_date: '' })
            }

            for (let index = 0; index < parseInt(this.children); index++) {
                this.passengers.children.push({ firt_name: '', last_name: '', gender: '', birth_date: '' })
            }

            this.flight_offers = {
                type_jasa: "pesan_tiket_pesawat",
                price: this.rupiah(this.percent(this.selected_offers.price.amount), 'IDR'),
                price_alt: this.percent(this.selected_offers.price.amount),
                type: this.type,
                cabinClass: this.cabinClass,
                adults: this.adults,
                children: this.children,
                destination: this.destination,
                date: this.date,
                passengers: this.passengers,
                offers: offers,
            }
            console.log(this.flight_offers);
        },

        makeAnOrder() {
            const flightOffers = this.flight_offers;
            const obj = JSON.stringify({
                id_penjual: process.env.VUE_APP_ID_PENJUAL_JASA,
                id_alamat: null,
                id_cart: null,
                total_harga_barang: flightOffers.price_alt,
                total_harga_kurir: null,
                subtotal: flightOffers.price_alt,
                jenis_pajak: "Bebas Pajak",
                jenis_pajak_value: 0,
                pajak_penghasilan: "Bebas Pajak",
                pajak_penghasilan_value: 0,
                total_pajak: 0,
                total_pajak_penghasilan: 0,
                kurir: null,
                etd: null,
                total_pembayaran: flightOffers.price_alt,
                jasa: JSON.stringify(flightOffers)
            });

            axios.post(`/api/v1/pesanan/pesanan_langsung`, obj, {
                headers: {
                    'Authorization': `Bearer ${this.token}`,
                    'Content-Type': 'application/json',
                }
            }).then((resp) => {
                this.$swal({
                    icon: 'success',
                    title: resp.data.message,
                });

                return this.$router.push({ path: `/pembeli/pesanan-langsung/${resp.data.data.id}` });
            });
        },
        rupiah(number, currency) {
            return new Intl.NumberFormat("id-ID", {
                style: "currency",
                currency: currency,
                minimumFractionDigits: 0
            }).format(Math.round(number));
        },
        percent(price) {
            price = parseInt(price)
            return (parseInt(process.env.VUE_APP_PRICE_PERCENTAGE) / 100 * price) + price
        },
        formatDate(dateString) {
            const date = dayjs(dateString).locale('id');
            return date.format('YYYY-MM-DD');
        },
        formatTime(dateString) {
            const date = dayjs(dateString).locale('id');
            return date.format('HH:mm');
        },
        formatDateShort(dateString) {
            const date = dayjs(dateString).locale('id');
            return date.format('DD MMM');
        },
        formatDateDay(dateString) {
            const date = dayjs(dateString).locale('id');
            return date.format('dddd, DD MMMM YYYY');
        },
        getDates(startDate, endDate) {
            if (!startDate) {
                return 0;
            }

            if (!endDate) {
                return 1;
            }

            const date1 = new Date(startDate);
            const date2 = new Date(endDate);

            const DifferenceInTime = date2.getTime() - date1.getTime();
            return Math.round(DifferenceInTime / (1000 * 3600 * 24));
        },
        getNowDate() {
            const date = new Date()
            return dayjs(date.setDate(date.getDate() + 2)).format('YYYY-MM-DD')
        },
        requireFile() {
            return (this.imgError) ? "url-to-the-default-img-file" : "url-to-the-custom-img";
        }
    },
    computed: {
        //
    }
}
</script>

<style scope>
.lds-dual-ring {
    display: inline-block;
    width: 20px;
    height: 20px;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 20px;
    height: 20px;
    margin: 8px;
    border-radius: 50%;
    border: 3px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.__card {
    border: 1px solid var(--primary-color);
    border-radius: 8px;
}

.__card .card-body {
    padding: 10px;
}

.__card .card-body h6 {
    font-weight: 600;
    font-size: 16px;
}

.__card .card-body h5 {
    font-size: 17px;
    font-weight: 600;
}

div.title h2 {
    font-size: 24px;
}

div.title>div h6 {
    display: inline-block;
    font-size: 15px;
    font-weight: 600;
}

div.title>div select {
    display: inline-block;
}
</style>
