<template>
    <Navbar />

    <img :src="require('@/assets/images/banner/banner-transportasi.jpg')" class="img-fluid w-100">

    <div class="container my-4">
        <b-card class="__card bg-secondary border-0 my-5 py-5" style="--bs-bg-opacity: .12;">
            <b-row class="text-center">
                <b-col lg="12">
                    <div class="w-100 fs-5 fw-semibold">Pilih Jasa Transportasi</div>
                    <div class="mt-4">
                        <router-link to="/product/jasa/transportasi/antar-jemput-bandara" class="text-dark d-inline-block text-decoration-none mx-4">
                            <div class="px-3 py-2 bg-white mx-2 rounded shadow">
                                <b-img class="mx-2" style="width: 78px;" :src="require('@/assets/images/icon/transportasi/airplane-bus.jpg')" fluid ></b-img>
                            </div>
                            <div class="mt-3 fw-semibold">
                                Antar Jemput<br>Bandara
                            </div>
                        </router-link>
                        <router-link to="/product/jasa/transportasi/sewa-kendaraan" class="text-dark d-inline-block text-decoration-none mx-4">
                            <div class="px-3 py-2 bg-white mx-2 rounded shadow">
                                <b-img class="mx-2" style="width: 78px;" :src="require('@/assets/images/icon/transportasi/rent-a-car.jpg')" fluid ></b-img>
                            </div>
                            <div class="mt-3 fw-semibold">
                                Sewa<br>Kendaraan
                            </div>
                        </router-link>
                        <router-link to="/product/jasa/transportasi/tiket-bus-travel" class="text-dark d-inline-block text-decoration-none mx-4">
                            <div class="px-3 py-2 bg-white mx-2 rounded shadow">
                                <b-img class="mx-2" style="width: 78px;" :src="require('@/assets/images/icon/transportasi/bus-ticket.jpg')" fluid ></b-img>
                            </div>
                            <div class="mt-3 fw-semibold">
                                Tiket<br>Bus & Travel
                            </div>
                        </router-link>
                        <router-link to="/product/jasa/transportasi/tiket-pesawat" class="text-dark d-inline-block text-decoration-none mx-4">
                            <div class="px-3 py-2 bg-white mx-2 rounded shadow">
                                <b-img class="mx-2" style="width: 78px;" :src="require('@/assets/images/icon/transportasi/airplane-ticket.jpg')" fluid ></b-img>
                            </div>
                            <div class="mt-3 fw-semibold">
                                Tiket<br>Pesawat
                            </div>
                        </router-link>
                    </div>
                </b-col>
            </b-row>
        </b-card>
    </div>
</template>

<script>
import Navbar from '@/v2/components/Navbar.vue';

export default {
    components: { Navbar },
}
</script>

<style scope>
.__card {
    border: 1px solid var(--primary-color);
    border-radius: 8px;
}

.__card .card-body {
    padding: 10px;
}

.__card .card-body h6 {
    font-weight: 600;
    font-size: 16px;
}

.__card .card-body h5 {
    font-size: 17px;
    font-weight: 600;
}

div.title h2 {
    font-size: 24px;
}

div.title>div h6 {
    display: inline-block;
    font-size: 15px;
    font-weight: 600;
}

div.title>div select {
    display: inline-block;
}
</style>
