@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");

* {
  box-shadow: none !important;
}

body {
  font-family: "Manrope", sans-serif;
  overflow-x: hidden;
}

.container-fluid {
  max-width: 1440px;
  margin: 0 auto;
}

:root {
  --primary-color: #4c2a86;
  --success-color: #34c240;
  --danger-color: #d84224;
  --gray-color: #efe7e7;
  --secondary-blue-color: #0d6efd;
  --primary-color-rgb: 76, 42, 134;
  --star-size: 17px;
  --star-color: #fff;
  --star-background: #fbbc04;
  --bs-gutter-x: 0.5rem;
  --bs-gutter-y: 0;
  --input-radio-color: #4c2a86;
  --bs-link-color: var(--primary-color);
  --bs-link-hover-color: rgba(var(--primary-color-rgb), 0.7);
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(var(--primary-color-rgb), 0.3);
  border-radius: 5rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(var(--primary-color-rgb), 0.5);
  border-radius: 5rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(var(--primary-color-rgb), 1);
}

.row {
  --bs-gutter-x: 0.5rem;
  --bs-gutter-y: 0;
}

.auth-section h5 {
  color: black;
  font-size: 28px;
  font-weight: 700;
}

.auth-section p {
  font-size: 15px;
}

.auth-section label {
  color: black;
  font-size: 14px;
  font-weight: 500;
}

.__form-control {
  background-color: white;
  color: #8b95a5;
  border: 1px solid #b0b0b0;
  border-radius: 4px;
  width: 100%;
  display: block;
  padding-left: 18px;
  padding-right: 18px;
  line-height: 2.3rem;
}

input[type="file"].__form-control {
  padding-left: 10px;
  padding-right: 10px;
}

.vs__search {
  padding: 4px 18px;
}

.dp__pointer.dp__input_readonly.dp__input.dp__input_icon_pad.dp__input_reg {
  background-color: white;
  color: #8b95a5;
  border: 1px solid #b0b0b0;
  border-radius: 4px;
  width: 100%;
  display: block;
  line-height: 2.3rem;
}

.__form-control:focus {
  border: 1px solid var(--primary-color);
  color: #4c2a86;
}

.__form-control::placeholder {
  color: #b0b0b0;
  font-weight: 400;
}

.__form-control:disabled {
  background-color: #f6f6f6;
  /* color: #B0B0B0; */
  color: black;
}

.__form-check-input:checked {
  background-color: #4c2a86;
  border-color: #4c2a86;
}

.swal2-styled.swal2-confirm,
.__btn-primary {
  background-color: var(--primary-color);
  color: white;
  font-weight: 500;
  font-size: 15px;
  border: 1px solid var(--primary-color);
}

.swal2-styled.swal2-confirm:hover,
.__btn-primary:hover {
  background-color: #361b65;
  color: white;
  font-weight: 500;
  font-size: 15px;
  border: 1px solid var(--primary-color);
}

.__btn-light {
  background-color: rgba(245, 245, 251, 1);
  color: rgba(139, 149, 165, 1);
  font-weight: 500;
  font-size: 15px;
  border: 1px solid rgba(245, 245, 251, 1);
}

.__btn-light:hover {
  background-color: rgb(179, 179, 182);
  color: rgba(139, 149, 165, 1);
  border: 1px solid rgba(179, 179, 182);
}

.__btn-danger {
  background-color: rgb(205, 36, 21);
  color: rgb(235, 235, 236);
  font-weight: 500;
  font-size: 15px;
  border: 1px solid rgba(157, 45, 11, 1);
}

.__btn-danger:hover {
  background-color: rgb(190, 31, 16);
  color: rgb(235, 235, 236);
}

.__btn-outline-primary {
  background-color: white;
  color: var(--primary-color);
  font-weight: 500;
  font-size: 15px;
  border: 1px solid var(--primary-color);
}

.__btn-outline-primary:hover {
  color: #8b8a8e;
  border: 1px solid #61587a;
}

.__border-primary {
  border: 1px solid var(--primary-color) !important;
}

.__btn-success {
  background-color: var(--success-color) !important;
  color: white;
  font-weight: 500;
  font-size: 15px;
  border-radius: 10px;
  border: 1px solid var(--success-color);
}

.__btn-success:hover {
  background-color: var(--success-color);
  color: white;
  font-weight: 500;
  font-size: 15px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  border-radius: 10px;
}

.nav-pills .nav-link {
  color: var(--primary-color);
  background-color: white;
  border: 2px solid var(--primary-color);
  font-size: 15px;
  border-radius: 22px;
}

.nav-pills .nav-link.active.cat-active-pills {
  color: white;
  background-color: var(--primary-color);
  border: 2px solid var(--primary-color);
}

section .title h5 {
  font-size: 18px;
}

section .title a {
  text-decoration: none;
  color: #505e6b;
  font-size: 14px;
}

.__form-select {
  font-family: "Poppins", sans-serif;
  border: 1px solid #b0b0b0;
  border-radius: 8px;
  font-size: 13px;
  width: 100%;
}

.__form-select::placeholder {
  color: #b0b0b0;
}

.__form-check {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  pointer-events: none;
}

.__card-radio {
  border: 1px solid #b0b0b0;
  border-radius: 8px;
  padding: 3px;
  font-size: 13px;
  width: 100%;
}

.__card-radio h6 {
  text-align: center;
  font-size: 15px !important;
  margin: 0;
  color: black !important;
}

.__form-check:checked+.__card-radio {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}

.__form-check:checked+.__card-radio h6 {
  color: var(--primary-color) !important;
}

.__badge {
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  border-radius: 4px;
}

.__badge-primary {
  background-color: #f5eeff;
  color: #4c2a86;
}

.__badge-secondary {
  background-color: #dfdfdf;
  color: #727171;
}

.__badge-danger {
  background-color: var(--danger-color);
  font-size: 14px;
  font-weight: 500;
}

.__badge-yellow {
  background-color: #fffee9;
  color: #f5e707;
}

.__badge-red {
  background-color: #ffe1de;
  color: #f44336;
}

.__badge-green {
  background-color: #ecfdf5;
  color: #064e3b;
}

.__badge-blue {
  background-color: #e3eeff;
  color: #0d6efd;
}

.__badge-orange {
  background-color: #fff2e6;
  color: #f2994a;
}

.nav-link.__text-primary:focus,
.__text-primary {
  color: var(--primary-color);
}

a.__text-primary:hover {
  color: rgba(var(--primary-color-rgb), 0.8);
}

.nav-link.__text-yellow:focus,
.__text-yellow {
  color: #f5e707;
}

a.__text-yellow:hover {
  color: rgba(245, 231, 7, 0.9) !important;
}

.nav-link.__text-red:focus,
.__text-red {
  color: #f44336;
}

a.__text-red:hover {
  color: rgb(244, 67, 54, 0.9) !important;
}

.__text-muted {
  color: rgba(var(--bs-dark-rgb), 0.5);
}

a.__text-muted:hover {
  color: rgba(var(--bs-dark-rgb), 0.9);
}

.__text-dark {
  color: rgba(var(--bs-dark-rgb), 1);
}

.__text-dark:hover,
a.__text-dark:hover {
  color: rgba(var(--bs-dark-rgb), 0.8);
}

.__v-select .vs__search::placeholder,
.__v-select .vs__dropdown-toggle,
.__v-select .vs__dropdown-menu {
  background: white;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  width: 100%;
  padding: 0.21rem 0;
  border: 1px solid #ddd;
}

.__v-select .vs__clear,
.__v-select .vs__open-indicator {
  fill: #394066;
  background: white;
}

.cursor-pointer {
  cursor: pointer;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;
}

.spinner-border {
  width: 20px;
  height: 20px;
  color: #4c2a86;
}

a.active-link {
  color: #4c2a86 !important;
  font-weight: bold;
}

.__bg-primary {
  background-color: var(--primary-color);
  color: #efe7e7;
}

.__bg-orange {
  background-color: rgba(242, 153, 74, 1);
  color: rgba(255, 255, 255, 1);
}

.__bg-light {
  background-color: #f5f5fb;
}

.__bg-info {
  background-color: #0d6efd;
  color: #ffffff;
}

.__bg-danger {
  background: rgba(244, 67, 54, 0.4);
  color: #f44336;
}

a.__bg-danger-no-hover {
  background: rgba(244, 67, 54, 0.4);
  color: #f44336;
}

a.__bg-danger-no-hover:hover {
  background: rgba(244, 67, 54, 0.4);
  color: #f44336;
}

.__bg-green {
  background: rgba(33, 150, 83, 1);
  color: #ffffff;
}

a.__bg-green-no-hover {
  background: rgba(33, 150, 83, 0.4);
  color: #ffffff;
}

a.__bg-green-no-hover:hover {
  background: rgba(33, 150, 83, 0.4);
  color: #ffffff;
}

.dropdown-item.active,
.dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: rgba(var(--primary-color-rgb), 1);
}

.bg-breadcrumb {
  background-color: #f5f5fb;
  color: white;
}

.breadcrumb {
  padding: 0.5rem 6rem;
}

.form-check-input {
  padding: 10px;
}

.form-check-input:checked {
  background-color: rgba(var(--primary-color-rgb), 1);
  border-color: rgba(var(--primary-color-rgb), 1);
}

.form-check-input:focus {
  border-color: rgba(var(--primary-color-rgb), 1);
}

.pac-container {
  z-index: 10051 !important;
}

.banner-section {
  width: 100%;
  min-height: 190px;
  background: #4c2a86;
  text-align: center;
  color: white;
}

.section-title {
  font-family: "Manrope";
  font-style: normal;
  font-size: 28px;
  line-height: 60px;
  color: #ffffff;
}

.radio {
  margin: 0.5rem;
}

.radio input[type="radio"] {
  position: absolute;
  opacity: 0;
}

.radio input[type="radio"]+.radio-label:before {
  content: "";
  background: #f4f4f4;
  border-radius: 100%;
  border: 1px solid #b4b4b4;
  display: inline-block;
  width: 1.6em;
  height: 1.6em;
  position: relative;
  top: -0.2em;
  margin-right: 1em;
  vertical-align: top;
  cursor: pointer;
  text-align: center;
  transition: all 250ms ease;
}

.radio input[type="radio"]:checked+.radio-label:before {
  background-color: rgba(var(--primary-color-rgb), 1);
  box-shadow: inset 0 0 0 4px #f4f4f4;
}

.radio input[type="radio"]:focus+.radio-label:before {
  outline: none;
  border-color: rgba(var(--primary-color-rgb), 1);
}

.radio input[type="radio"]:disabled+.radio-label:before {
  box-shadow: inset 0 0 0 4px #f4f4f4;
  border-color: #b4b4b4;
  background: #b4b4b4;
}

.radio input[type="radio"]+.radio-label:empty:before {
  margin-right: 0;
}
