<template>
    <Navbar />

    <InlineCategory />

    <HomeSlider />

    <div class="section-komoditas text-center overflow-hidden">
        <h1 class="text-dark title">Jenis Komoditas</h1>

        <div>
            <button @click.prevent="active_tab = 'barang'" class="btn mx-1 px-4 py-2" :class="active_tab == 'barang' ? '__btn-primary' : '__btn-light'">
                Komoditas Barang
            </button>
            <button @click.prevent="active_tab = 'jasa'" class="btn mx-1 px-4 py-2" :class="active_tab == 'jasa' ? '__btn-primary' : '__btn-light'">
                Komoditas Jasa
            </button>
        </div>

        <div class="animate__animated animate__slideInRight animate__faster" v-if="active_tab == 'barang'">
            <div class="d-flex justify-content-center mt-4">
                <div class="image-category col position-relative overflow-hidden">
                    <img :src="require('@/v2/assets/images/category/fashion.png')" width="252" height="198" alt="">
                    <div class="image-category-overlay animate__animated animate__slideInUp animate__faster">
                        <div class="animate__animated animate__slideInUp">
                            <div class="text-white fs-5 fw-bold mb-2">Fashion</div>
                            <button @click.prevent="this.$router.push({name: 'categoryFashion'})" class="btn __btn-primary mx-1 px-4 py-2">
                                Lihat selengkapnya
                            </button>
                        </div>
                    </div>
                </div>
                <div class="image-category col position-relative overflow-hidden">
                    <img :src="require('@/v2/assets/images/category/furniture.png')" width="252" height="198" alt="">
                    <div class="image-category-overlay animate__animated animate__slideInUp animate__faster">
                        <div class="animate__animated animate__slideInUp">
                            <div class="text-white fs-5 fw-bold mb-2">Furniture</div>
                            <button @click.prevent="this.$router.push({name: 'categoryFurniture'})" class="btn __btn-primary mx-1 px-4 py-2">
                                Lihat selengkapnya
                            </button>
                        </div>
                    </div>
                </div>
                <div class="image-category col position-relative overflow-hidden">
                    <img :src="require('@/v2/assets/images/category/souvenir.png')" width="252" height="198" alt="">
                    <div class="image-category-overlay animate__animated animate__slideInUp animate__faster">
                        <div class="animate__animated animate__slideInUp">
                            <div class="text-white fs-5 fw-bold mb-2">Souvenir</div>
                            <button @click.prevent="this.$router.push({name: 'categorySuvenir'})" class="btn __btn-primary mx-1 px-4 py-2">
                                Lihat selengkapnya
                            </button>
                        </div>
                    </div>
                </div>
                <div class="image-category col position-relative overflow-hidden">
                    <img :src="require('@/v2/assets/images/category/elektronik.png')" width="252" height="198" alt="">
                    <div class="image-category-overlay animate__animated animate__slideInUp animate__faster">
                        <div class="animate__animated animate__slideInUp">
                            <div class="text-white fs-5 fw-bold mb-2">Elektronik</div>
                            <button @click.prevent="this.$router.push({name: 'categoryElektronik'})" class="btn __btn-primary mx-1 px-4 py-2">
                                Lihat selengkapnya
                            </button>
                        </div>
                    </div>
                </div>
                <div class="image-category col position-relative overflow-hidden">
                    <img :src="require('@/v2/assets/images/category/makanan.png')" width="252" height="198" alt="">
                    <div class="image-category-overlay animate__animated animate__slideInUp animate__faster">
                        <div class="animate__animated animate__slideInUp">
                            <div class="text-white fs-5 fw-bold mb-2">Makanan & <br>Minuman</div>
                            <button @click.prevent="this.$router.push({name: 'categoryFood'})" class="btn __btn-primary mx-1 px-4 py-2">
                                Lihat selengkapnya
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-center mt-4">
                <div class="image-category col position-relative overflow-hidden">
                    <img :src="require('@/v2/assets/images/category/alat-kesehatan.png')" width="252" height="198" alt="">
                    <div class="image-category-overlay animate__animated animate__slideInUp animate__faster">
                        <div class="animate__animated animate__slideInUp">
                            <div class="text-white fs-5 fw-bold mb-2">Alat Kesehatan</div>
                            <button @click.prevent="this.$router.push({name: 'categoryAlkes'})" class="btn __btn-primary mx-1 px-4 py-2">
                                Lihat selengkapnya
                            </button>
                        </div>
                    </div>
                </div>
                <div class="image-category col position-relative overflow-hidden">
                    <img :src="require('@/v2/assets/images/category/perkakas.png')" width="252" height="198" alt="">
                    <div class="image-category-overlay animate__animated animate__slideInUp animate__faster">
                        <div class="animate__animated animate__slideInUp">
                            <div class="text-white fs-5 fw-bold mb-2">Perkakas</div>
                            <button @click.prevent="this.$router.push({name: 'categoryPerkakas'})" class="btn __btn-primary mx-1 px-4 py-2">
                                Lihat selengkapnya
                            </button>
                        </div>
                    </div>
                </div>
                <div class="image-category col position-relative overflow-hidden">
                    <img :src="require('@/v2/assets/images/category/alat-tulis-kantor.png')" width="252" height="198" alt="">
                    <div class="image-category-overlay animate__animated animate__slideInUp animate__faster">
                        <div class="animate__animated animate__slideInUp">
                            <div class="text-white fs-5 fw-bold mb-2">Alat Tulis Kantor</div>
                            <button @click.prevent="this.$router.push({name: 'categoryATK'})" class="btn __btn-primary mx-1 px-4 py-2">
                                Lihat selengkapnya
                            </button>
                        </div>
                    </div>
                </div>
                <div class="image-category col position-relative overflow-hidden">
                    <img :src="require('@/v2/assets/images/category/pertanian-dan-peternakan.png')" width="252" height="198" alt="">
                    <div class="image-category-overlay animate__animated animate__slideInUp animate__faster">
                        <div class="animate__animated animate__slideInUp">
                            <div class="text-white fs-5 fw-bold mb-2">Pertanian & <br>Peternakan</div>
                            <button @click.prevent="this.$router.push({name: 'categoryPertanianPeternakan'})" class="btn __btn-primary mx-1 px-4 py-2">
                                Lihat selengkapnya
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col"></div>
            </div>
        </div>
        <div class="animate__animated animate__slideInLeft animate__faster" v-if="active_tab == 'jasa'">
            <div class="d-flex justify-content-center mt-4">
                <div class="image-category col position-relative overflow-hidden">
                    <img :src="require('@/v2/assets/images/category/akomodasi.jpg')" width="252" height="198" alt="">
                    <div class="image-category-overlay animate__animated animate__slideInUp animate__faster">
                        <div class="animate__animated animate__slideInUp">
                            <div class="text-white fs-5 fw-bold mb-2">Akomodasi</div>
                            <button @click.prevent="this.$router.push({name: 'categoryAkomodasi'})" class="btn __btn-primary mx-1 px-4 py-2">
                                Lihat selengkapnya
                            </button>
                        </div>
                    </div>
                </div>
                <div class="image-category col position-relative overflow-hidden">
                    <img :src="require('@/v2/assets/images/category/jasa-transportasi.png')" width="252" height="198" alt="">
                    <div class="image-category-overlay animate__animated animate__slideInUp animate__faster">
                        <div class="animate__animated animate__slideInUp">
                            <div class="text-white fs-5 fw-bold mb-2">Jasa Transportasi</div>
                            <button @click.prevent="this.$router.push({name: 'categoryTransportasi'})" class="btn __btn-primary mx-1 px-4 py-2">
                                Lihat selengkapnya
                            </button>
                        </div>
                    </div>
                </div>
                <div class="image-category col position-relative overflow-hidden">
                    <img :src="require('@/v2/assets/images/category/sewa-peralatan-dan-ruangan.png')" width="252" height="198" alt="">
                    <div class="image-category-overlay animate__animated animate__slideInUp animate__faster">
                        <div class="animate__animated animate__slideInUp">
                            <div class="text-white fs-5 fw-bold mb-2">Sewa Peralatan & <br>Ruangan</div>
                            <button @click.prevent="this.$router.push({name: 'categorySewaAlat'})" class="btn __btn-primary mx-1 px-4 py-2">
                                Lihat selengkapnya
                            </button>
                        </div>
                    </div>
                </div>
                <div class="image-category col position-relative overflow-hidden">
                    <img :src="require('@/v2/assets/images/category/kurir.png')" width="252" height="198" alt="">
                    <div class="image-category-overlay animate__animated animate__slideInUp animate__faster">
                        <div class="animate__animated animate__slideInUp">
                            <div class="text-white fs-5 fw-bold mb-2">Kurir</div>
                            <button @click.prevent="this.$router.push({name: 'categoryTransportasi'})" class="btn __btn-primary mx-1 px-4 py-2">
                                Lihat selengkapnya
                            </button>
                        </div>
                    </div>
                </div>
                <div class="image-category col position-relative overflow-hidden">
                    <img :src="require('@/v2/assets/images/category/jasa-kreatif-dan-kebutuhan-kantor.png')" width="252" height="198" alt="">
                    <div class="image-category-overlay animate__animated animate__slideInUp animate__faster">
                        <div class="animate__animated animate__slideInUp">
                            <div class="text-white fs-5 fw-bold mb-2">Jasa Kreatif<br>Kebutuhan Kantor</div>
                            <button @click.prevent="this.$router.push({name: 'categoryJasaKreatif'})" class="btn __btn-primary mx-1 px-4 py-2">
                                Lihat selengkapnya
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid text-center">
        <img :src="require('@/assets/images/banner/mesin-edc.jpg')" alt="Waktunya umkm untuk maju" width="1280" height="300">
    </div>

    <div class="section-product row mt-5 mx-auto justify-content-center">
        <div class="d-flex justify-content-between align-items-center">
            <h1 class="text-dark title-2">Produk Terbaru</h1>
            <router-link class="text-decoration-none" to="/product">Lihat semua produk</router-link>
        </div>

        <div class="col mb-4" v-for="product in products" style="min-width: 255px;">
            <CardProduct :product="product" />
        </div>

        <div class="text-center mt-3 mb-5">
            <router-link class="btn __btn-primary mx-1 px-4 py-2" to="/product">
                Lihat semua produk
            </router-link>
        </div>
    </div>

    <div class="section-why-we text-center">
        <div class="title pt-5 mb-3">Kenapa BeliUMKM?</div>
        <div class="section-product row mx-auto justify-content-center pt-4 pb-5">
            <div class="col-md-3 text-center px-2">
                <div class="d-inline-block bg-white rounded-circle border p-3">
                    <svg class="" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_1832_179661)">
                            <path d="M2.06458 13.4191H8.25812V19.6127H2.06458V13.4191Z" fill="#8B95A5"/>
                            <path d="M2.06458 22.1935H8.25812V28.3871H2.06458V22.1935Z" fill="#8B95A5"/>
                            <path d="M15.4839 10.3226H2.06458V5.16129H15.4839V10.3226Z" fill="#8B95A5"/>
                            <path d="M22.7422 16.5161C23.0489 16.5161 23.3455 16.6058 23.6011 16.7762L27.2056 19.1794C27.6316 19.4627 28.1265 19.6129 28.6374 19.6129H32V18.5806H28.6379C28.3314 18.5806 28.034 18.4909 27.7785 18.3206L26.3226 17.3498V0H6.70968V3.09677H0V32H19.6129V28.9032H26.3226V24.561C26.3551 24.5532 26.3886 24.5507 26.4211 24.5428L28.8221 23.9428C29.3548 23.8095 29.903 23.7419 30.4516 23.7419H32V22.7097H30.4516C29.8188 22.7097 29.186 22.7876 28.5718 22.941L26.1709 23.5411C24.9367 23.8493 23.6232 23.7991 22.4176 23.3972L21.5479 23.1071C20.7561 22.8432 19.9315 22.7097 19.0968 22.7097H14.593C14.593 21.8561 15.2878 21.1613 16.1414 21.1613H21.8188C22.6726 21.1613 23.3672 20.4665 23.3672 19.6129C23.3672 18.8211 22.7674 18.1739 22 18.0827L22.4236 16.5161H22.7422ZM22.0902 24.3763C22.8821 24.6406 23.7069 24.7742 24.5413 24.7742C24.7918 24.7742 25.0416 24.7525 25.2903 24.7283V27.871H19.6129V26.1827C19.7941 25.9738 19.9345 25.7266 20.0098 25.4468L20.4325 23.8813C20.6983 23.9355 20.9619 24 21.2208 24.0867L22.0902 24.3763ZM19.3982 23.7538L19.0136 25.1772C18.9136 25.5479 18.5756 25.8065 18.192 25.8065H18.0247C17.5557 25.8065 17.1741 25.4252 17.1741 24.9559C17.1741 24.8805 17.184 24.8062 17.2036 24.7339L17.4715 23.7419H19.0968C19.1973 23.7419 19.2976 23.7498 19.3982 23.7538ZM16.402 23.7419L16.2069 24.464C16.1636 24.624 16.1419 24.7891 16.1419 24.9559C16.1419 25.6537 16.528 26.2571 17.0932 26.5822L16.9312 27.2293L17.9325 27.4798L18.093 26.8387H18.192C18.3251 26.8387 18.4541 26.8201 18.5806 26.7933V30.9677H1.03226V4.12903H7.74194V1.03226H25.2903V16.6618L24.1739 15.9173C23.7482 15.6341 23.2533 15.4839 22.7422 15.4839H22.7024L24.8506 7.53604C24.8939 7.37601 24.9156 7.21094 24.9156 7.0441C24.9156 6.0058 24.0708 5.16129 23.0328 5.16129H22.8654C22.0166 5.16129 21.2692 5.73362 21.0476 6.55318L19.6129 11.8621V3.09677H8.77419V4.12903H18.5806V15.4839H17.5129C16.9511 15.4839 16.4221 15.6701 15.9798 16H10.8387V17.0323H14.8954L13.8632 18.0645H10.8387V19.0968H12.8314L11.969 19.9592C11.6646 20.2631 11.4967 20.6678 11.4967 21.0988C11.4967 21.9871 12.2193 22.7097 13.1081 22.7097C13.2671 22.7097 13.4204 22.6792 13.5691 22.6348C13.5685 22.66 13.5612 22.684 13.5612 22.7097C13.5612 23.279 14.0242 23.7419 14.5935 23.7419H16.402ZM20.3778 20.129H18.4481L20.6275 12.065L22.3979 12.655L20.3778 20.129ZM16.4181 16.9693C16.7067 16.6812 17.1056 16.5161 17.5129 16.5161H18.3551L17.934 18.0738C17.281 18.0975 16.6689 18.3556 16.2044 18.8201L13.5169 21.5076C13.409 21.6154 13.2598 21.6774 13.1076 21.6774C12.7881 21.6774 12.5285 21.4178 12.5285 21.0988C12.5285 20.9441 12.589 20.7989 12.6983 20.6895L16.4181 16.9693ZM16.9342 19.5499C17.1293 19.3548 17.3775 19.2218 17.6424 19.1525L17.3785 20.129H16.3556L16.9342 19.5499ZM23.8538 7.26663L23.2218 9.60509L21.4514 9.01512L22.0439 6.82283C22.1444 6.45212 22.4821 6.19355 22.8654 6.19355H23.0328C23.502 6.19355 23.8833 6.57485 23.8833 7.0441C23.8833 7.11946 23.8735 7.1938 23.8538 7.26663ZM21.182 10.0134L22.9524 10.6033L22.6673 11.6568L20.8969 11.0668L21.182 10.0134ZM21.8188 19.0968C22.1033 19.0968 22.3349 19.3286 22.3349 19.6129C22.3349 19.8972 22.1033 20.129 21.8188 20.129H21.4468L21.7261 19.0968H21.8188Z" fill="#4C2A86"/>
                            <path d="M4.12903 7.22581H5.16129V8.25806H4.12903V7.22581Z" fill="white"/>
                            <path d="M6.1936 7.22581H7.22586V8.25806H6.1936V7.22581Z" fill="white"/>
                            <path d="M8.25806 7.22581H9.29031V8.25806H8.25806V7.22581Z" fill="white"/>
                            <path d="M10.3226 7.22581H11.3549V8.25806H10.3226V7.22581Z" fill="white"/>
                            <path d="M12.3871 7.22581H13.4193V8.25806H12.3871V7.22581Z" fill="white"/>
                            <path d="M10.6875 12.2359L9.95771 11.506L5.16134 16.3024L4.494 15.6351L3.76416 16.3649L5.16134 17.7621L10.6875 12.2359Z" fill="#4C2A86"/>
                            <path d="M9.95771 20.2802L5.16134 25.0766L4.494 24.4093L3.76416 25.1391L5.16134 26.5363L10.6875 21.0101L9.95771 20.2802Z" fill="#4C2A86"/>
                            <path d="M16.5161 28.3867H17.5484V29.419H16.5161V28.3867Z" fill="#4C2A86"/>
                            <path d="M9.80664 28.3867H15.4841V29.419H9.80664V28.3867Z" fill="#4C2A86"/>
                            <path d="M10.8387 13.9355H17.5484V14.9677H10.8387V13.9355Z" fill="#4C2A86"/>
                        </g>
                        <defs>
                            <clipPath id="clip0_1832_179661">
                                <rect width="32" height="32" fill="white"/>
                            </clipPath>
                        </defs>
                    </svg>
                </div>

                <h4 class="mt-4 fw-bold">Gratis Biaya Pendaftaran</h4>
                <div class="text-muted mt-4">Tidak dipungut biaya pendaftaran sebagai pemasok pada platform BeliUMKM</div>
            </div>

            <div class="col-md-3 text-center px-2">
                <div class="d-inline-block bg-white rounded-circle border p-3">
                    <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M24.9836 10.3197C24.7551 10.0337 24.5101 9.75566 24.2551 9.49316L23.5376 10.1892C23.7701 10.4292 23.9941 10.6832 24.2026 10.9442L24.9836 10.3197Z" fill="#4C2A86"/>
                        <path d="M25.303 12.6265L26.1885 12.162C26.0175 11.8365 25.8295 11.5165 25.63 11.212L24.7935 11.762C24.9755 12.038 25.147 12.3295 25.303 12.6265Z" fill="#4C2A86"/>
                        <path d="M23.45 8.74C23.171 8.503 22.878 8.2765 22.5785 8.0675L22.006 8.8865C22.279 9.078 22.547 9.2865 22.802 9.502L23.45 8.74Z" fill="#4C2A86"/>
                        <path d="M26.45 16.46L27.4455 16.36C27.4095 15.9935 27.3555 15.6265 27.285 15.2685L26.304 15.462C26.367 15.7905 26.4165 16.1255 26.45 16.46Z" fill="#4C2A86"/>
                        <path d="M26.0615 14.488L27.0195 14.201C26.915 13.851 26.7915 13.501 26.6535 13.162L25.727 13.539C25.8535 13.85 25.966 14.168 26.0615 14.488Z" fill="#4C2A86"/>
                        <path d="M26.456 18.4705L27.4515 18.562C27.4835 18.212 27.5015 17.8545 27.5015 17.462L26.5 17.5C26.5 17.824 26.485 18.15 26.456 18.4705Z" fill="#4C2A86"/>
                        <path d="M13.55 28.738C13.8705 28.8075 14.1975 28.864 14.5225 28.9055L14.649 27.914C14.353 27.8755 14.0545 27.824 13.7625 27.7605L13.55 28.738Z" fill="#4C2A86"/>
                        <path d="M15.545 27.99L15.5015 28.99C15.6671 28.9967 15.8333 29 16 29C16.1635 29 16.326 28.9965 16.4885 28.9895L16.446 27.9895C16.1465 28.0035 15.8435 28.003 15.545 27.99Z" fill="#4C2A86"/>
                        <path d="M11.665 28.155C11.97 28.279 12.2825 28.391 12.594 28.487L12.889 27.5315C12.6055 27.444 12.3205 27.342 12.042 27.2285L11.665 28.155Z" fill="#4C2A86"/>
                        <path d="M19.1001 27.5349L19.3946 28.4904C19.7076 28.3939 20.0201 28.2819 20.3241 28.1584L19.9501 27.2324C19.6726 27.3449 19.3871 27.4469 19.1001 27.5349Z" fill="#4C2A86"/>
                        <path d="M17.3442 27.9142L17.4707 28.9062C17.7952 28.8647 18.1207 28.8062 18.4432 28.7392L18.2317 27.7617C17.9387 27.8252 17.6402 27.8767 17.3442 27.9142Z" fill="#4C2A86"/>
                        <path d="M5.5435 18.459C5.5145 18.1425 5.5 17.8195 5.5 17.5V17.45L4.5 17.5C4.5 17.85 4.516 18.2025 4.55 18.55L5.5435 18.459Z" fill="#4C2A86"/>
                        <path d="M6.27603 13.531L5.35003 13.1525C5.21203 13.4905 5.08853 13.84 4.98303 14.191L5.94103 14.4785C6.03703 14.158 6.15003 13.8395 6.27603 13.531Z" fill="#4C2A86"/>
                        <path d="M10.0002 8.88348L9.42816 8.06348C9.12816 8.27348 8.83366 8.49998 8.55566 8.73648L9.20016 9.50048C9.45616 9.28198 9.72366 9.07498 10.0002 8.88348Z" fill="#4C2A86"/>
                        <path d="M5.70002 15.454L4.71802 15.26C4.64702 15.619 4.59302 15.986 4.55652 16.35L5.55202 16.45C5.58452 16.1165 5.63452 15.7815 5.70002 15.454Z" fill="#4C2A86"/>
                        <path d="M7.21055 11.753L6.37455 11.203C6.17455 11.5095 5.98555 11.829 5.81555 12.153L6.70055 12.6185C6.85605 12.3245 7.02755 12.033 7.21055 11.753Z" fill="#4C2A86"/>
                        <path d="M8.467 10.1855L7.75 9.4885C7.4955 9.75 7.25 10.028 7.021 10.3135L7.801 10.9395C8.011 10.678 8.235 10.4245 8.467 10.1855Z" fill="#4C2A86"/>
                        <path d="M26.0001 19.5C25.2313 19.5004 24.4712 19.6626 23.7693 19.976C23.0673 20.2894 22.4391 20.7469 21.9256 21.319L18.6641 18.873C18.8814 18.4541 18.9965 17.9898 19.0001 17.5179C19.0036 17.046 18.8954 16.5799 18.6844 16.1578C18.4734 15.7357 18.1654 15.3696 17.7858 15.0893C17.4061 14.809 16.9656 14.6225 16.5001 14.545V12.4745C17.9096 12.3458 19.2152 11.6787 20.1454 10.612C21.0756 9.54521 21.5588 8.16091 21.4944 6.74701C21.43 5.33312 20.823 3.99847 19.7996 3.02069C18.7763 2.04291 17.4154 1.49727 16.0001 1.49727C14.5847 1.49727 13.2238 2.04291 12.2005 3.02069C11.1771 3.99847 10.5702 5.33312 10.5057 6.74701C10.4413 8.16091 10.9245 9.54521 11.8547 10.612C12.7849 11.6787 14.0906 12.3458 15.5001 12.4745V14.545C15.0345 14.6225 14.5939 14.8091 14.2143 15.0895C13.8347 15.3698 13.5268 15.736 13.3157 16.1581C13.1047 16.5803 12.9965 17.0463 13 17.5183C13.0036 17.9902 13.1187 18.4546 13.3361 18.8735L10.0751 21.319C9.12377 20.2651 7.80278 19.6185 6.38691 19.5138C4.97103 19.4091 3.5693 19.8543 2.47332 20.7568C1.37734 21.6593 0.671509 22.9496 0.502667 24.3592C0.333825 25.7689 0.714974 27.1894 1.56682 28.3252C2.41866 29.461 3.67561 30.2246 5.07617 30.4572C6.47672 30.6898 7.91304 30.3735 9.0863 29.5741C10.2596 28.7746 11.0794 27.5536 11.3754 26.1651C11.6713 24.7765 11.4204 23.3273 10.6751 22.119L13.9366 19.6735C14.4921 20.2046 15.231 20.5009 15.9996 20.5009C16.7681 20.5009 17.507 20.2046 18.0626 19.6735L21.3241 22.119C20.6876 23.1553 20.4129 24.3735 20.5431 25.5827C20.6733 26.7919 21.201 27.9237 22.0435 28.8008C22.886 29.6779 23.9957 30.2507 25.1987 30.4294C26.4017 30.6081 27.6299 30.3826 28.691 29.7883C29.7521 29.194 30.586 28.2644 31.0621 27.1453C31.5382 26.0262 31.6295 24.7807 31.3217 23.6041C31.014 22.4276 30.3246 21.3863 29.3615 20.6436C28.3985 19.9009 27.2162 19.4987 26.0001 19.5ZM4.00005 29.025V28C4.00005 27.4696 4.21077 26.9609 4.58584 26.5858C4.96091 26.2107 5.46962 26 6.00005 26C6.53049 26 7.03919 26.2107 7.41427 26.5858C7.78934 26.9609 8.00005 27.4696 8.00005 28V29.025C7.37957 29.3372 6.69464 29.4998 6.00005 29.4998C5.30547 29.4998 4.62053 29.3372 4.00005 29.025ZM5.00005 24V23.5C5.00005 23.2348 5.10541 22.9804 5.29295 22.7929C5.48048 22.6054 5.73484 22.5 6.00005 22.5C6.26527 22.5 6.51962 22.6054 6.70716 22.7929C6.8947 22.9804 7.00005 23.2348 7.00005 23.5V24C7.00005 24.2652 6.8947 24.5196 6.70716 24.7071C6.51962 24.8946 6.26527 25 6.00005 25C5.73484 25 5.48048 24.8946 5.29295 24.7071C5.10541 24.5196 5.00005 24.2652 5.00005 24ZM9.00005 28.3445V28C8.99974 27.4633 8.85544 26.9364 8.5822 26.4745C8.30895 26.0125 7.91677 25.6323 7.44655 25.3735C7.80096 25.004 7.99921 24.512 8.00005 24V23.5C8.00005 22.9696 7.78934 22.4609 7.41427 22.0858C7.03919 21.7107 6.53049 21.5 6.00005 21.5C5.46962 21.5 4.96091 21.7107 4.58584 22.0858C4.21077 22.4609 4.00005 22.9696 4.00005 23.5V24C4.00089 24.512 4.19915 25.004 4.55355 25.3735C4.08333 25.6323 3.69115 26.0125 3.41791 26.4745C3.14467 26.9364 3.00036 27.4633 3.00005 28V28.3445C2.32076 27.7369 1.84196 26.9374 1.62701 26.0518C1.41206 25.1661 1.47108 24.2361 1.79628 23.3847C2.12147 22.5333 2.69751 21.8008 3.44816 21.2839C4.19881 20.7671 5.08869 20.4904 6.00005 20.4904C6.91142 20.4904 7.8013 20.7671 8.55195 21.2839C9.3026 21.8008 9.87863 22.5333 10.2038 23.3847C10.529 24.2361 10.588 25.1661 10.3731 26.0518C10.1581 26.9374 9.67934 27.7369 9.00005 28.3445ZM15.0001 6V5.5C15.0001 5.23478 15.1054 4.98043 15.2929 4.79289C15.4805 4.60536 15.7348 4.5 16.0001 4.5C16.2653 4.5 16.5196 4.60536 16.7072 4.79289C16.8947 4.98043 17.0001 5.23478 17.0001 5.5V6C17.0001 6.26522 16.8947 6.51957 16.7072 6.70711C16.5196 6.89464 16.2653 7 16.0001 7C15.7348 7 15.4805 6.89464 15.2929 6.70711C15.1054 6.51957 15.0001 6.26522 15.0001 6ZM16.0001 8C16.5305 8 17.0392 8.21071 17.4143 8.58579C17.7893 8.96086 18.0001 9.46957 18.0001 10V11.025C17.3796 11.3372 16.6946 11.4998 16.0001 11.4998C15.3055 11.4998 14.6205 11.3372 14.0001 11.025V10C14.0001 9.46957 14.2108 8.96086 14.5858 8.58579C14.9609 8.21071 15.4696 8 16.0001 8ZM11.5001 7C11.4985 6.24897 11.6848 5.50948 12.0423 4.84894C12.3997 4.1884 12.9167 3.62781 13.5463 3.21828C14.1758 2.80875 14.8979 2.56331 15.6466 2.50431C16.3953 2.44532 17.1469 2.57465 17.8328 2.88053C18.5187 3.18641 19.1172 3.65909 19.5736 4.25551C20.03 4.85192 20.33 5.5531 20.446 6.29511C20.562 7.03713 20.4905 7.79638 20.238 8.50368C19.9854 9.21097 19.5598 9.84381 19.0001 10.3445V10C18.9997 9.46327 18.8554 8.93645 18.5822 8.47447C18.309 8.0125 17.9168 7.63229 17.4466 7.3735C17.801 7.00397 17.9992 6.51201 18.0001 6V5.5C18.0001 4.96957 17.7893 4.46086 17.4143 4.08579C17.0392 3.71071 16.5305 3.5 16.0001 3.5C15.4696 3.5 14.9609 3.71071 14.5858 4.08579C14.2108 4.46086 14.0001 4.96957 14.0001 5.5V6C14.0009 6.51201 14.1991 7.00397 14.5536 7.3735C14.0833 7.63229 13.6912 8.0125 13.4179 8.47447C13.1447 8.93645 13.0004 9.46327 13.0001 10V10.3445C12.5286 9.92407 12.1513 9.40881 11.8928 8.83246C11.6343 8.25611 11.5005 7.63166 11.5001 7ZM16.0001 19.5C15.6045 19.5 15.2178 19.3827 14.8889 19.1629C14.56 18.9432 14.3037 18.6308 14.1523 18.2654C14.0009 17.8999 13.9613 17.4978 14.0385 17.1098C14.1157 16.7219 14.3061 16.3655 14.5858 16.0858C14.8655 15.8061 15.2219 15.6156 15.6099 15.5384C15.9978 15.4613 16.4 15.5009 16.7654 15.6522C17.1309 15.8036 17.4432 16.06 17.663 16.3889C17.8828 16.7178 18.0001 17.1044 18.0001 17.5C18.0001 18.0304 17.7893 18.5391 17.4143 18.9142C17.0392 19.2893 16.5305 19.5 16.0001 19.5ZM24.0001 29.025V28C24.0001 27.4696 24.2108 26.9609 24.5858 26.5858C24.9609 26.2107 25.4696 26 26.0001 26C26.5305 26 27.0392 26.2107 27.4143 26.5858C27.7893 26.9609 28.0001 27.4696 28.0001 28V29.025C27.3796 29.3372 26.6946 29.4998 26.0001 29.4998C25.3055 29.4998 24.6205 29.3372 24.0001 29.025ZM25.0001 24V23.5C25.0001 23.2348 25.1054 22.9804 25.2929 22.7929C25.4805 22.6054 25.7348 22.5 26.0001 22.5C26.2653 22.5 26.5196 22.6054 26.7072 22.7929C26.8947 22.9804 27.0001 23.2348 27.0001 23.5V24C27.0001 24.2652 26.8947 24.5196 26.7072 24.7071C26.5196 24.8946 26.2653 25 26.0001 25C25.7348 25 25.4805 24.8946 25.2929 24.7071C25.1054 24.5196 25.0001 24.2652 25.0001 24ZM29.0001 28.3445V28C28.9997 27.4633 28.8554 26.9364 28.5822 26.4745C28.309 26.0125 27.9168 25.6323 27.4466 25.3735C27.801 25.004 27.9992 24.512 28.0001 24V23.5C28.0001 22.9696 27.7893 22.4609 27.4143 22.0858C27.0392 21.7107 26.5305 21.5 26.0001 21.5C25.4696 21.5 24.9609 21.7107 24.5858 22.0858C24.2108 22.4609 24.0001 22.9696 24.0001 23.5V24C24.0009 24.512 24.1991 25.004 24.5536 25.3735C24.0833 25.6323 23.6912 26.0125 23.4179 26.4745C23.1447 26.9364 23.0004 27.4633 23.0001 28V28.3445C22.3208 27.7369 21.842 26.9374 21.627 26.0518C21.4121 25.1661 21.4711 24.2361 21.7963 23.3847C22.1215 22.5333 22.6975 21.8008 23.4482 21.2839C24.1988 20.7671 25.0887 20.4904 26.0001 20.4904C26.9114 20.4904 27.8013 20.7671 28.552 21.2839C29.3026 21.8008 29.8786 22.5333 30.2038 23.3847C30.529 24.2361 30.588 25.1661 30.3731 26.0518C30.1581 26.9374 29.6793 27.7369 29.0001 28.3445Z" fill="#4C2A86"/>
                    </svg>
                </div>

                <h4 class="mt-4 fw-bold">Terhubung Dengan Jutaan Pembeli</h4>
                <div class="text-muted mt-4">Kamu berkesampatan mendapatkan order pesanan dari instansi pemerintah di seluruh wilayah Indonesia</div>
            </div>

            <div class="col-md-3 text-center px-2">
                <div class="d-inline-block bg-white rounded-circle border p-3">
                    <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_1832_179708)">
                            <path d="M25.6831 17.1846C25.5028 17.2702 25.3497 17.4042 25.2409 17.5716C25.1322 17.739 25.072 17.9333 25.0671 18.1329H19.2005C18.9176 18.1329 18.6462 18.2453 18.4462 18.4453C18.2462 18.6454 18.1338 18.9167 18.1338 19.1996V20.2662C18.1338 20.5491 18.2462 20.8204 18.4462 21.0205C18.6462 21.2205 18.9176 21.3329 19.2005 21.3329H25.0671C25.0719 21.5324 25.1319 21.7266 25.2405 21.894C25.349 22.0614 25.5019 22.1954 25.6821 22.2812C25.8753 22.3772 26.0918 22.4166 26.3065 22.3948C26.5212 22.373 26.7254 22.2909 26.8954 22.158L28.9141 20.5761C29.0439 20.4773 29.1492 20.3499 29.2217 20.2037C29.2942 20.0575 29.3319 19.8966 29.3319 19.7334C29.3319 19.5703 29.2942 19.4093 29.2217 19.2632C29.1492 19.117 29.0439 18.9895 28.9141 18.8908L26.8943 17.3062C26.7243 17.1741 26.5205 17.0927 26.3062 17.0712C26.092 17.0496 25.876 17.089 25.6831 17.1846ZM28.2591 19.7329L26.1338 21.3329V20.7996C26.1338 20.6581 26.0776 20.5225 25.9776 20.4224C25.8776 20.3224 25.7419 20.2662 25.6005 20.2662H19.2005V19.1996H25.6005C25.7419 19.1996 25.8776 19.1434 25.9776 19.0434C26.0776 18.9433 26.1338 18.8077 26.1338 18.6662V18.1329L28.2591 19.7329Z" fill="#4C2A86"/>
                            <path d="M16.8396 21.5735L14.8172 23.158C14.6874 23.2568 14.5821 23.3842 14.5096 23.5304C14.4371 23.6766 14.3994 23.8375 14.3994 24.0007C14.3994 24.1638 14.4371 24.3248 14.5096 24.471C14.5821 24.6171 14.6874 24.7446 14.8172 24.8434L16.8359 26.4252C17.0059 26.5582 17.2101 26.6403 17.4248 26.6621C17.6395 26.6839 17.856 26.6445 18.0492 26.5484C18.23 26.463 18.3834 26.3291 18.4925 26.1615C18.6015 25.994 18.6619 25.7995 18.6668 25.5996H24.5335C24.8164 25.5996 25.0877 25.4872 25.2877 25.2872C25.4878 25.0872 25.6002 24.8159 25.6002 24.533V23.4663C25.6002 23.1834 25.4878 22.9121 25.2877 22.712C25.0877 22.512 24.8164 22.3996 24.5335 22.3996H18.6668C18.6619 22.2002 18.6019 22.006 18.4933 21.8386C18.3848 21.6712 18.232 21.5372 18.0519 21.4514C17.8588 21.3556 17.6426 21.3162 17.4282 21.3378C17.2137 21.3594 17.0097 21.4411 16.8396 21.5735ZM15.4748 23.9996L17.6002 22.3996V22.933C17.6002 23.0744 17.6564 23.2101 17.7564 23.3101C17.8564 23.4101 17.992 23.4663 18.1335 23.4663H24.5335V24.533H18.1335C17.992 24.533 17.8564 24.5891 17.7564 24.6892C17.6564 24.7892 17.6002 24.9248 17.6002 25.0663V25.5996L15.4748 23.9996Z" fill="#4C2A86"/>
                            <path d="M21.8667 11.7333C21.6864 11.7333 21.5109 11.7509 21.3333 11.7605V2.34027C21.3332 2.15988 21.2875 1.98245 21.2004 1.82449C21.1133 1.66652 20.9877 1.53315 20.8352 1.4368L18.8357 0.166932C18.6654 0.0573689 18.4671 -0.000885963 18.2645 -0.000885963C18.062 -0.000885963 17.8637 0.0573689 17.6933 0.166932L15.7333 1.41493L13.7701 0.171199C13.599 0.0601932 13.3995 0.000811586 13.1955 0.000149556C12.9915 -0.000512475 12.7916 0.057573 12.6197 0.167466L10.6667 1.41547L8.7024 0.166932C8.53178 0.057528 8.33335 -0.000625466 8.13067 -0.000625466C7.92798 -0.000625466 7.72956 0.057528 7.55894 0.166932L5.6 1.41547L3.6416 0.171199C3.47061 0.0603324 3.27135 0.000982295 3.06756 0.000225787C2.86378 -0.00053072 2.66408 0.0573383 2.49227 0.166932L0.502935 1.4336C0.3493 1.52989 0.222585 1.66356 0.134632 1.82212C0.046679 1.98068 0.000359298 2.15895 1.57234e-06 2.34027V28.0581C-0.000308196 28.239 0.0451578 28.4169 0.132164 28.5755C0.219171 28.734 0.344887 28.8679 0.497602 28.9648L2.49227 30.2341C2.66283 30.3434 2.86116 30.4015 3.06374 30.4015C3.26631 30.4015 3.46464 30.3434 3.6352 30.2341L5.5968 28.9861L7.55894 30.2341C7.72936 30.3438 7.92774 30.4021 8.1304 30.4021C8.33306 30.4021 8.53145 30.3438 8.70187 30.2341L10.6624 28.9856L12.6203 30.2341C12.7907 30.3437 12.9891 30.4019 13.1917 30.4019C13.3944 30.4019 13.5927 30.3437 13.7632 30.2341L15.0933 29.3867C16.3144 30.4859 17.7847 31.2716 19.3772 31.6759C20.9697 32.0801 22.6366 32.0909 24.2342 31.7071C25.8318 31.3233 27.312 30.5567 28.5471 29.4732C29.7822 28.3897 30.7352 27.0219 31.3238 25.488C31.9123 23.954 32.1188 22.2998 31.9254 20.6683C31.732 19.0367 31.1446 17.4766 30.2137 16.1227C29.2828 14.7689 28.0365 13.6618 26.5823 12.8971C25.1281 12.1324 23.5097 11.733 21.8667 11.7333ZM13.1936 29.3333L11.2261 28.0789C11.055 27.9756 10.8586 27.9214 10.6586 27.9225C10.4587 27.9235 10.2629 27.9797 10.0928 28.0848L8.1312 29.3333L6.15787 28.0795C5.98678 27.9759 5.79038 27.9216 5.59037 27.9226C5.39037 27.9237 5.19454 27.98 5.02453 28.0853L3.06507 29.3333L1.06667 28.0581L1.0704 2.33707L3.06294 1.06667L5.03627 2.3216C5.20749 2.42461 5.40375 2.4785 5.60357 2.47737C5.80338 2.47624 5.99902 2.42013 6.16907 2.3152L8.1296 1.06667L10.0971 2.3184C10.269 2.42248 10.4662 2.4772 10.6672 2.47654C10.8682 2.47588 11.065 2.41987 11.2363 2.31467L13.1915 1.06667L15.1648 2.31787C15.3349 2.42301 15.531 2.4787 15.7309 2.4787C15.9309 2.4787 16.127 2.42301 16.2971 2.31787L18.2635 1.06667L20.2667 2.34027V11.8725C18.4698 12.1553 16.7826 12.9178 15.3831 14.0797C13.9835 15.2416 12.9236 16.7598 12.3152 18.4739C11.7067 20.1881 11.5723 22.0348 11.9261 23.819C12.2799 25.6032 13.1088 27.2589 14.3253 28.6112L13.1936 29.3333ZM21.8667 30.9333C20.0735 30.9333 18.3205 30.4016 16.8295 29.4053C15.3385 28.4091 14.1764 26.993 13.4902 25.3363C12.8039 23.6796 12.6244 21.8566 12.9742 20.0978C13.3241 18.3391 14.1876 16.7236 15.4556 15.4556C16.7236 14.1876 18.3391 13.3241 20.0979 12.9742C21.8566 12.6244 23.6796 12.8039 25.3363 13.4902C26.993 14.1764 28.4091 15.3385 29.4053 16.8295C30.4016 18.3205 30.9333 20.0734 30.9333 21.8667C30.9307 24.2705 29.9746 26.5751 28.2748 28.2748C26.5751 29.9746 24.2705 30.9307 21.8667 30.9333Z" fill="#4C2A86"/>
                            <path d="M4.26667 12.8C4.26667 12.6586 4.21048 12.5229 4.11046 12.4229C4.01044 12.3229 3.87478 12.2667 3.73333 12.2667C3.59188 12.2667 3.45623 12.3229 3.35621 12.4229C3.25619 12.5229 3.2 12.6586 3.2 12.8C3.20078 13.4145 3.41338 14.01 3.80198 14.486C4.19058 14.962 4.73142 15.2895 5.33333 15.4133V16C5.33333 16.1414 5.38952 16.2771 5.48954 16.3771C5.58956 16.4771 5.72522 16.5333 5.86667 16.5333C6.00812 16.5333 6.14377 16.4771 6.24379 16.3771C6.34381 16.2771 6.4 16.1414 6.4 16V15.4133C7.00282 15.2909 7.54479 14.9639 7.93407 14.4876C8.32335 14.0113 8.53601 13.4151 8.53601 12.8C8.53601 12.1849 8.32335 11.5887 7.93407 11.1124C7.54479 10.6361 7.00282 10.3091 6.4 10.1867V7.03147C6.71088 7.14138 6.98022 7.34466 7.17115 7.61349C7.36209 7.88233 7.4653 8.20359 7.46667 8.53333C7.46667 8.67478 7.52286 8.81044 7.62288 8.91046C7.7229 9.01048 7.85855 9.06667 8 9.06667C8.14145 9.06667 8.2771 9.01048 8.37712 8.91046C8.47714 8.81044 8.53333 8.67478 8.53333 8.53333C8.53256 7.91882 8.31995 7.32337 7.93135 6.84733C7.54275 6.3713 7.00191 6.04378 6.4 5.92V5.33333C6.4 5.19188 6.34381 5.05623 6.24379 4.95621C6.14377 4.85619 6.00812 4.8 5.86667 4.8C5.72522 4.8 5.58956 4.85619 5.48954 4.95621C5.38952 5.05623 5.33333 5.19188 5.33333 5.33333V5.92C4.73051 6.04241 4.18855 6.36946 3.79927 6.84573C3.40998 7.322 3.19733 7.91821 3.19733 8.53333C3.19733 9.14846 3.40998 9.74466 3.79927 10.2209C4.18855 10.6972 4.73051 11.0243 5.33333 11.1467V14.3024C5.02236 14.1925 4.75297 13.9891 4.56203 13.7202C4.37108 13.4512 4.26792 13.1298 4.26667 12.8ZM7.46667 12.8C7.4653 13.1297 7.36209 13.451 7.17115 13.7198C6.98022 13.9887 6.71088 14.192 6.4 14.3019V11.2981C6.71088 11.408 6.98022 11.6113 7.17115 11.8802C7.36209 12.149 7.4653 12.4703 7.46667 12.8ZM4.26667 8.53333C4.26803 8.20359 4.37124 7.88233 4.56218 7.61349C4.75312 7.34466 5.02245 7.14138 5.33333 7.03147V10.0352C5.02245 9.92529 4.75312 9.72201 4.56218 9.45317C4.37124 9.18434 4.26803 8.86307 4.26667 8.53333Z" fill="#4C2A86"/>
                            <path d="M10.6671 5.86647H18.1338C18.2752 5.86647 18.4109 5.81028 18.5109 5.71026C18.6109 5.61024 18.6671 5.47459 18.6671 5.33314C18.6671 5.19169 18.6109 5.05603 18.5109 4.95601C18.4109 4.856 18.2752 4.7998 18.1338 4.7998H10.6671C10.5257 4.7998 10.39 4.856 10.29 4.95601C10.19 5.05603 10.1338 5.19169 10.1338 5.33314C10.1338 5.47459 10.19 5.61024 10.29 5.71026C10.39 5.81028 10.5257 5.86647 10.6671 5.86647Z" fill="#4C2A86"/>
                            <path d="M10.6671 8.53346H18.1338C18.2752 8.53346 18.4109 8.47727 18.5109 8.37725C18.6109 8.27723 18.6671 8.14158 18.6671 8.00013C18.6671 7.85868 18.6109 7.72303 18.5109 7.62301C18.4109 7.52299 18.2752 7.4668 18.1338 7.4668H10.6671C10.5257 7.4668 10.39 7.52299 10.29 7.62301C10.19 7.72303 10.1338 7.85868 10.1338 8.00013C10.1338 8.14158 10.19 8.27723 10.29 8.37725C10.39 8.47727 10.5257 8.53346 10.6671 8.53346Z" fill="#4C2A86"/>
                            <path d="M10.6671 11.2005H18.1338C18.2752 11.2005 18.4109 11.1443 18.5109 11.0442C18.6109 10.9442 18.6671 10.8086 18.6671 10.6671C18.6671 10.5257 18.6109 10.39 18.5109 10.29C18.4109 10.19 18.2752 10.1338 18.1338 10.1338H10.6671C10.5257 10.1338 10.39 10.19 10.29 10.29C10.19 10.39 10.1338 10.5257 10.1338 10.6671C10.1338 10.8086 10.19 10.9442 10.29 11.0442C10.39 11.1443 10.5257 11.2005 10.6671 11.2005Z" fill="#4C2A86"/>
                            <path d="M10.6671 13.8665H13.8671C14.0086 13.8665 14.1442 13.8103 14.2442 13.7103C14.3443 13.6102 14.4005 13.4746 14.4005 13.3331C14.4005 13.1917 14.3443 13.056 14.2442 12.956C14.1442 12.856 14.0086 12.7998 13.8671 12.7998H10.6671C10.5257 12.7998 10.39 12.856 10.29 12.956C10.19 13.056 10.1338 13.1917 10.1338 13.3331C10.1338 13.4746 10.19 13.6102 10.29 13.7103C10.39 13.8103 10.5257 13.8665 10.6671 13.8665Z" fill="#4C2A86"/>
                            <path d="M12.2671 16.0001C12.2671 15.8587 12.2109 15.723 12.1109 15.623C12.0109 15.523 11.8752 15.4668 11.7338 15.4668H10.6671C10.5257 15.4668 10.39 15.523 10.29 15.623C10.19 15.723 10.1338 15.8587 10.1338 16.0001C10.1338 16.1416 10.19 16.2772 10.29 16.3773C10.39 16.4773 10.5257 16.5335 10.6671 16.5335H11.7338C11.8752 16.5335 12.0109 16.4773 12.1109 16.3773C12.2109 16.2772 12.2671 16.1416 12.2671 16.0001Z" fill="#4C2A86"/>
                            <path d="M9.60033 18.667H3.20033C3.05888 18.667 2.92322 18.7232 2.8232 18.8232C2.72318 18.9232 2.66699 19.0589 2.66699 19.2003C2.66699 19.3418 2.72318 19.4774 2.8232 19.5774C2.92322 19.6775 3.05888 19.7337 3.20033 19.7337H9.60033C9.74177 19.7337 9.87743 19.6775 9.97745 19.5774C10.0775 19.4774 10.1337 19.3418 10.1337 19.2003C10.1337 19.0589 10.0775 18.9232 9.97745 18.8232C9.87743 18.7232 9.74177 18.667 9.60033 18.667Z" fill="#4C2A86"/>
                            <path d="M9.60033 21.333H3.20033C3.05888 21.333 2.92322 21.3892 2.8232 21.4892C2.72318 21.5892 2.66699 21.7249 2.66699 21.8663C2.66699 22.0078 2.72318 22.1434 2.8232 22.2435C2.92322 22.3435 3.05888 22.3997 3.20033 22.3997H9.60033C9.74177 22.3997 9.87743 22.3435 9.97745 22.2435C10.0775 22.1434 10.1337 22.0078 10.1337 21.8663C10.1337 21.7249 10.0775 21.5892 9.97745 21.4892C9.87743 21.3892 9.74177 21.333 9.60033 21.333Z" fill="#4C2A86"/>
                            <path d="M9.60033 24H3.20033C3.05888 24 2.92322 24.0562 2.8232 24.1562C2.72318 24.2562 2.66699 24.3919 2.66699 24.5333C2.66699 24.6748 2.72318 24.8104 2.8232 24.9105C2.92322 25.0105 3.05888 25.0667 3.20033 25.0667H9.60033C9.74177 25.0667 9.87743 25.0105 9.97745 24.9105C10.0775 24.8104 10.1337 24.6748 10.1337 24.5333C10.1337 24.3919 10.0775 24.2562 9.97745 24.1562C9.87743 24.0562 9.74177 24 9.60033 24Z" fill="#4C2A86"/>
                        </g>
                        <defs>
                            <clipPath id="clip0_1832_179708">
                                <rect width="32" height="32" fill="white"/>
                            </clipPath>
                        </defs>
                    </svg>
                </div>

                <h4 class="mt-4 fw-bold">Biaya Layanan Terjangkau</h4>
                <div class="text-muted mt-4">Kamu akan mendapatkan biaya layanan terjangkau dibandingkan marketplace lainnya</div>
            </div>

            <div class="col-md-3 text-center px-2">
                <div class="d-inline-block bg-white rounded-circle border p-3">
                    <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M32 19.3832V12.6168H28.312C28.0307 11.5933 27.6229 10.6113 27.096 9.68852L29.706 7.07857L24.9214 2.29402L22.3115 4.90398C21.3887 4.3771 20.4067 3.96935 19.3832 3.68799V0H12.6168V3.68799C11.5933 3.96935 10.6113 4.3771 9.68852 4.90398L7.07857 2.29402L2.29402 7.07857L4.90398 9.68859C4.75084 9.95695 4.607 10.2317 4.47445 10.509L5.32385 10.9149C5.49581 10.5551 5.68848 10.1997 5.89654 9.85873L6.0894 9.54261L3.6253 7.0785L7.0785 3.6253L9.54261 6.0894L9.85873 5.89654C10.8961 5.2636 12.0199 4.79691 13.1989 4.50947L13.5581 4.42185V0.941407H18.4417V4.42192L18.801 4.50953C19.98 4.79697 21.1038 5.26366 22.1411 5.8966L22.4573 6.08946L24.9214 3.62536L28.3746 7.07857L25.9105 9.54267L26.1033 9.85879C26.7363 10.8962 27.203 12.0199 27.4904 13.199L27.578 13.5582H31.0585V18.4418H27.578L27.4904 18.801C27.203 19.98 26.7363 21.1038 26.1033 22.1412L25.9105 22.4573L28.3746 24.9214L24.9214 28.3746L22.4573 25.9105L22.1411 26.1034C21.1038 26.7363 19.98 27.203 18.801 27.4905L18.4417 27.5781V31.0586H13.5581V27.5781L13.1989 27.4905C12.0199 27.203 10.8961 26.7363 9.85873 26.1034L9.54261 25.9105L7.0785 28.3746L3.6253 24.9214L6.0894 22.4573L5.89654 22.1412C5.2636 21.1038 4.79691 19.98 4.50947 18.801L4.42185 18.4418H0.941407V13.5582H4.42192L4.50953 13.199C4.62978 12.7059 4.78354 12.2158 4.96661 11.7426L4.08866 11.4029C3.9354 11.799 3.80115 12.2058 3.68812 12.6167H0V19.3831H3.68799C3.96935 20.4066 4.3771 21.3886 4.90398 22.3114L2.29402 24.9214L7.07857 29.7059L9.68852 27.096C10.6113 27.6228 11.5933 28.0306 12.6168 28.3119V31.9999H19.3832V28.3119C20.4067 28.0306 21.3887 27.6228 22.3115 27.096L24.9214 29.7059L29.706 24.9214L27.096 22.3114C27.6229 21.3886 28.0307 20.4066 28.312 19.3831H32V19.3832Z" fill="#4C2A86"/>
                        <path d="M10.1478 21.7971L10.8166 21.1345C9.45425 19.7593 8.70401 17.9359 8.70401 16C8.70401 11.977 11.977 8.704 16 8.704C20.023 8.704 23.2959 11.977 23.2959 16C23.2959 20.023 20.023 23.2959 16 23.2959C14.3415 23.2959 12.7786 22.7537 11.4804 21.7279L10.8967 22.4666C12.3628 23.625 14.1275 24.2373 16 24.2373C20.5421 24.2373 24.2374 20.5421 24.2374 16C24.2374 11.4579 20.5421 7.76266 16 7.76266C11.4579 7.76266 7.76266 11.4579 7.76266 16C7.76266 18.1857 8.60974 20.2445 10.1478 21.7971Z" fill="#4C2A86"/>
                        <path d="M13.8569 15.4428L13.0938 15.994L15.1024 18.775L18.8835 14.2936L18.1639 13.6865L15.16 17.2469L13.8569 15.4428Z" fill="#4C2A86"/>
                        <path d="M21.5243 17.1831C21.6067 16.7966 21.6485 16.3985 21.6485 16C21.6485 12.8854 19.1146 10.3515 16 10.3515C12.8855 10.3515 10.3516 12.8854 10.3516 16C10.3516 19.1145 12.8855 21.6484 16 21.6484C18.2922 21.6484 20.3409 20.2804 21.2193 18.1632L20.3498 17.8025C19.6177 19.5669 17.9103 20.707 16 20.707C13.4046 20.707 11.293 18.5954 11.293 16C11.293 13.4045 13.4046 11.2929 16 11.2929C18.5955 11.2929 20.7071 13.4045 20.7071 16C20.7071 16.3327 20.6722 16.6647 20.6036 16.9869L21.5243 17.1831Z" fill="#4C2A86"/>
                        <path d="M12.1456 6.64258C11.8429 6.76772 11.5426 6.90944 11.2529 7.06383L11.6958 7.89452C11.9585 7.75451 12.2308 7.62597 12.5053 7.51256L12.1456 6.64258Z" fill="#4C2A86"/>
                        <path d="M14.0332 6.07129C13.7114 6.13493 13.3891 6.21526 13.0752 6.31016L13.3477 7.21127C13.6321 7.12523 13.9242 7.05242 14.2159 6.99475L14.0332 6.07129Z" fill="#4C2A86"/>
                        <path d="M10.9278 8.35394L10.4061 7.57031C10.1334 7.75188 9.8663 7.94901 9.6123 8.15624L10.2074 8.88565C10.4379 8.69762 10.6802 8.51869 10.9278 8.35394Z" fill="#4C2A86"/>
                    </svg>
                </div>

                <h4 class="mt-4 fw-bold">Anti Ribet</h4>
                <div class="text-muted mt-4">Kamu tidak perlu repot mengurus dokumen administrasi dan pembayaran. Seluruhnya akan kami tangani</div>
            </div>
        </div>
    </div>

    <div class="home-small-title pt-5 text-center">Berita</div>
    <div class="title mb-3 text-center">Liputan Media & Info Bisnis</div>
    <div class="section-product row mx-auto justify-content-center pt-4">
        <div class="col-md-4 px-2 pb-5" v-for="blog in blogs" :key="blog.id">
            <a :href="blog.link" target="_blank" class="text-decoration-none">
                <div class="card border-0">
                    <img :src="blog.image" class="card-img-top" :alt="blog.title">
                    <div class="card-body p-0">
                        <div class="d-inline-block border __border-primary rounded py-2 px-3 my-3 fw-bold __text-primary">
                            {{ blog.date }}
                        </div>
                        <h5 class="card-title fw-bold __text-dark">{{ blog.title }}</h5>
                        <p class="card-text text-muted my-3">{{ blog.description }}</p>
                        <a :href="blog.link" class="text-decoration-none">Selengkapnya</a>
                    </div>
                </div>
            </a>
        </div>
    </div>
</template>

<script>
import axios from "axios";

import Navbar from '@/v2/components/Navbar';
import InlineCategory from '@/v2/components/InlineCategory';
import HomeSlider from '@/v2/components/HomeSlider';
import CardProduct from '@/v2/components/CardProduct';

export default {
    components: {
        Navbar,
        InlineCategory,
        HomeSlider,
        CardProduct
    },
    data() {
        return {
            loading: true,
            products: [],
            active_tab: 'barang',
            blogs: [
                {
                    id: 1,
                    image: require('@/v2/assets/images/blog/Penjagub-Gorontalo-Luncurkan-Toko-Daring-Beliumkm.png'),
                    date: '07 Februari 2023',
                    title: 'Penjagub Gorontalo Luncurkan Toko Daring BeliUMKM',
                    description: 'Penjabat Gubernur Gorontalo, Hamka Hendra Noer, meluncurkan pemanfaatan Toko Daring LKPP BeliUMKM...',
                    link: 'https://www.youtube.com/watch?v=J6DNtLBZPBc',
                },
                {
                    id: 2,
                    image: require('@/v2/assets/images/blog/Menteri-Pariwisata-dan-Ekonomi-Kreatif-RI-ucapkan-selamat-atas-peluncuran-Platform-Toko-Daring-LKPP-Beliumkm.jpg'),
                    date: '07 Februari 2023',
                    title: 'Menteri Pariwisata dan Ekonomi Kreatif Sambut Kehadiran Platform BeliUMKM',
                    description: 'Menteri Pariwisata dan Ekonomi Kreatif RI, Sandiaga Salahuddin Uno menyambut positif kehadiran platform beliumkm...',
                    link: 'https://www.youtube.com/watch?v=wwaNyhsa8aY',
                },
                {
                    id: 3,
                    image: require('@/v2/assets/images/blog/Penjelasan-Mengenai-Platform-Beliumkm.jpg'),
                    date: '07 Februari 2023',
                    title: 'Penjelasan Mengenai Platform BeliUMKM',
                    description: 'Simak video berikut untuk mengetahui lebih lanjut mengenai platform beliumkm...',
                    link: 'https://www.youtube.com/watch?v=qSU16QS47G8',
                },
                {
                    id: 4,
                    image: require('@/v2/assets/images/blog/Program-Beliumkm-Cara-Kejati-Gorontalo-Pulihkan-Ekonomi.png'),
                    date: '07 Februari 2023',
                    title: 'Program BeliUMKM, Cara Kejati Gorontalo Pulihkan Ekonomi',
                    description: 'Program BeliUMKM dipandang sebagai solusi untuk pemberdayaan UMKM dengan cara membeli produk mereka...',
                    link: 'https://gorontalopost.id/2023/01/03/program-beli-umkm-cara-kejati-gorontalo-pulihkan-ekonomi',
                },
                {
                    id: 5,
                    image: require('@/v2/assets/images/blog/Bantu-UMKM-naik-kelas-IKA-UNHAS-Kolaborasi-Dengan-BeliUMKM.jpg'),
                    date: '07 Februari 2023',
                    title: 'Dukung UMKM Naik Kelas, IKA UNHAS Kolaborasi dengan Platform BeliUMKM',
                    description: 'Platform digital BeliUMKM akan menjadi mitra IKA Unhas dalam melibatkan para pelaku UMKM...',
                    link: 'https://fajar.co.id/2023/02/02/gandeng-aas-foundation-business-matching-ika-unhas-bakal-dihadiri-pj-gubernur-gorontalo-dan-pejabat-bumn/',
                },
                {
                    id: 6,
                    image: require('@/v2/assets/images/blog/Wakil-Wali-Kota-Gorontalo-Sebut-Pentingnya-Berdayakan-UMKM-Lokal.jpg'),
                    date: '07 Februari 2023',
                    title: 'Wakil Wali Kota Gorontalo Sebut Pentingnya Berdayakan UMKM Lokal',
                    description: 'Wakil Wali Kota Gorontalo, Ryan Kono mengungkapkan pentingnya memberdayakan UMKM Lokal...',
                    link: 'https://dulohupa.id/ryan-kono-sebut-toko-daring-lkpp-penting-berdayakan-umkm-lokal/',
                },
            ]
        }
    },
    methods: {
        async getProducts() {
            await axios.get(`/api/v1/product`, {
                params: {
                    limit: 10,
                },
            }).then((resp) => {
                this.products = resp.data.data;
                this.loading = false;
            })
        },
    },
    mounted() {
        this.getProducts()
    },
}
</script>

<style scoped>
.section-komoditas {
    margin-top: 80px;
    min-height: 640px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.section-product {
    max-width: 1280px;
}

.section-why-we {
    background-color: #F5F5FB;
}

.title {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 49px;
    line-height: 79px;

    color: #232933;
}
.home-small-title {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;

    text-align: center;

    color: #4C2A86;
}

.title-2 {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 37px;
    line-height: 79px;

    color: #232933;
}

.image-category {
    cursor: pointer;
    width: 252px !important;
    height: 198px !important;
}

.image-category:hover > .image-category-overlay {
    display: flex;
}

.image-category-overlay {
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(35, 41, 51, .2);
    border-radius: 4px;
    top: 0;
    justify-content: center;
    align-items: center;
}
</style>
