<template>
  <Navbar />
  <div class="container my-5 py-5">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <h6 class="text-center mb-4">Kata Founder</h6>
        <div class="card mb-5">
          <div class="row g-0">
            <div class="col-md-4">
              <img
                :src="require('@/assets/images/alham.png')"
                class="img-fluid rounded-start"
                alt="..."
              />
            </div>
            <div class="col-md-8 my-auto">
              <div class="card-body">
                <h5 class="card-title">Alham Prasogo Habibie</h5>
                <p class="card-text">
                  “Berawal dari kegelisahan melihat tumbangnya para UMKM akibat
                  dampak dari pandemik Covid-19, saya terpanggil untuk
                  melahirkan sebuah marketplace yang berfokus membantu para UMKM
                  mendapatkan akses dari transaksi belanja instansi BUMN,
                  Pemerintah, dan Perusahaan Swasta”
                </p>
              </div>
            </div>
          </div>
        </div>

        <div
          class="card mb-5"
          style="background-color: var(--primary-color); color: white"
        >
          <div class="row g-0">
            <div class="col-md-4">
              <img
                :src="require('@/assets/images/taufik.png')"
                class="img-fluid rounded-start"
                alt="..."
              />
            </div>
            <div class="col-md-8 my-auto">
              <div class="card-body">
                <h5 class="card-title">Taufik Akbar</h5>
                <p class="card-text">
                  “beliumkm.co.id menyediakan berbagai macam kemudahan transaksi
                  belanja bagi pembeli dan penjual. Segala macam kebutuhan anda,
                  dapat ditemukan secara mudah pada situs beliumkm.co.id”
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="card mb-5" style="background: rgba(176, 176, 176, 0.12)">
          <div class="card-body desc">
            <h6 class="text-center" style="font-weight: 600">Tentang Kami</h6>

            <p>
              beliumkm.co.id dioperasikan oleh PT. Rumah UMKM Indonesia dengan
              tujuan menghubungkan transaksi kebutuhan belanja operasional
              antara pihak pembeli yang berasal dari instansi BUMN, pemerintah,
              maupun perusahaan swasta dengan pelaku UMKM yang telah bergabung
              sebagai mitra kami pada situs beliumkm.co.id
            </p>

            <p>
              Melalui beliumkm.co.id kami berupaya membantu para UMKM khususnya
              kategori mikro dalam hal pemenuhan administrasi perijinan,
              pemasaran produk, hingga percepatan pembayaran. Sebagai bagian
              dari platform toko daring LKPP kami berusaha menyederhanakan
              proses transaksi belanja antara Pemerintah dan UMKM, dengan tetap
              mengedepankan prinsip bebas korupsi dalam proses pengadaan barang
              dan jasa.
            </p>

            <p>
              Saat ini seluruh transaksi belanja instansi pemerintah melalui
              beliumkm.co.id akan tercatat secara real time pada Lembaga Kebijakan
              Pengadaan Barang/Jasa Pemerintah RI.
            </p>

            <p>
              Semoga dengan kehadiran beliumkm.co.id akan memberikan nilai positif
              bagi kemajuan ekonomi daerah dan UMKM.
            </p>

            <div class="umkm-text">
              <span>BELI UMKM,</span> <span>BELA UMKM!</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Navbar from "@/v2/components/Navbar.vue";

export default {
  components: {
    Navbar,
  },
};
</script>

<style scope>
.desc p {
  font-size: 15px;
}

.umkm-text span {
  font-size: 35px;
  font-weight: 700;
}

.umkm-text span:first-child {
  color: #ffa200;
}

.umkm-text span:last-child {
  color: var(--primary-color);
}
</style>
