<template>
    <Navbar />
    <div class="container my-5">
        <h6 class="text-center">
            Liputan Media & Kerjasama
        </h6>

        <div class="row my-5">
            <div class="col-lg-8">
                <div class="content">
                    <h5>Gandeng Ratusan Brand Lokal, Jakcloth Kembali Gelar
                        Pameran di 3 Kota Besar</h5>
                    <span style="color: #505E6B" class="d-block">29 April 2021, 20:51 WIB</span>

                    <img :src="require('@/assets/images/news-img.png')" class="img-fluid my-3">
                    <div class="desc">
                        <p>Sempat fakum menggelar pameran offline karena pandemi Covid-19, pameran Jakcloth 2021
                            pada tahun ini kembali hadir. Pameran tersebut menghadirkan ratusan brand lokal hasil karya
                            anak bangsa untuk unjuk produk terbaiknya dalam ajang tersebut.
                        </p>
                        <p>
                            Tahun ini, pameran digelar di tiga kota besar di Indonesia. Seperti Jakarta, Bekasi dan
                            Surabaya.
                            Brand besar seperti Heyho, Shining Bright, Crooz, Bloods, Deesree, Roughneck, Erigo, Urbain,
                            FYC,
                            Maxius, HATE, Match Box, Mrjn, Someone, LEAF, Urban Beauty, dan lainnya, akan ikut dalam
                            event
                            tahunan itu.
                        </p>

                        <p>
                            Founder Jakcloth, Ucok Nasution mengatakan, momentum Ramadan 2021 ini jadi momentum
                            pertama kalinya penyelenggaraan Jakcloth setelah sebelumnya rehat demi membatasi
                            penyebaran Covid-19.
                        </p>

                        <p>
                            "Untuk tahun ini, event ini akan berlangsung selama 11 hari, dari 29 April sampai dengan 9
                            Mei 2021
                            mendatang," ujarnya, Kamis (29/4/2021).
                        </p>

                        <p>
                            Lokasi eventnya akan diselenggarakan di tiga tempat, yaitu di Jakarta mengambil lokasi di
                            Senayan Park, lalu Bekasi mengambil lokasi di Avenue Mall, dan Grand City Mall di Surabaya.

                        </p>
                        <p>
                            Untuk konsep yang akan diusung dalam penyelenggaraan event Jakcloth tersebut, disesuaikan
                            dengan kondisi pandemi Covid-19 dengan menerapkan konsep new normal.

                        </p>
                        <p>
                            "Jadi kami berlakukan status buka–tutup untuk pengunjung, maksudnya jika kapasitas di dalam
                            sudah mencapai 500 orang, supaya physical distancing tetap berjalan optimal. Kami gunakan
                            sistem crowd untuk menghitung jumlah pengunjung yang ada di dalam, sehingga terkontrol
                            dengan baik," tutur Ucok.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Navbar from '@/v2/components/Navbar.vue';

export default {
    components: {
        Navbar,
    },
}
</script>
