<template>
    <Navbar />
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <Sidebar />
            </div>
            <div class="col-lg-9 my-5">
                <div class="row">
                    <div class="col-lg-12">
                        <h6>Edit Profile</h6>
                    </div>
                    <div class="col-md-12 py-3">
                        <img :src="profile" class="btn rounded-circle profile-image p-0 me-3"
                            style="background-color: var(--gray-color); color: var(--primary-color);width:90px;height:90px;">
                        <button @click="clickFile" type="button" class="btn rounded-circle profile-image"
                            style="background-color: var(--gray-color); color: var(--primary-color)">
                            <i class="fa-solid fa-cloud-arrow-up"></i>
                        </button>

                        <input id="fileUpload" @change="changeFile($event)" type="file" hidden>
                    </div>
                    <div class="col-md-12 py-3">
                        <div class="form-row row">
                            <div class="col-md-5 mb-4">
                                <label for="validationCustom01" class="fw-bold text-muted">Nama Usaha</label>
                                <input name="regist-from" id="regist-from" class="form-control" disabled
                                    v-model="usaha.nama_usaha">
                            </div>
                            <div class="col-md-5 mb-4">
                                <label for="validationCustom02" class="fw-bold text-muted">Status Usaha</label>
                                <input name="regist-from" id="regist-from" class="form-control" disabled
                                    v-model="usaha.status_usaha">

                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 py-3">
                        <div class="form-row row">
                            <!-- <div class="col-md-5 mb-4">
                                <label for="validationCustom01" class="fw-bold text-muted">Nama Penanggung Jawab</label>
                                <input name="regist-from" id="regist-from" class="form-control" disabled v-model="user.asal">
                            </div> -->
                            <div class="col-md-5 mb-4">
                                <label for="validationCustom02" class="fw-bold text-muted">Jabatan</label>
                                <input name="regist-from" id="regist-from" class="form-control" disabled v-model="usaha.jabatan">
                            </div>
                            <div class="col-md-5 mb-4">
                                <label for="validationCustom02" class="fw-bold text-muted">Email</label>
                                <input name="email-from" id="email-from" class="form-control" v-model="user_data.email">
                            </div>
                        </div>
                    </div>

                    <!-- <div class="col-md-12 py-3">
                        <div class="form-row row">
                            <div class="col-md-5 mb-4">
                                <label for="validationCustom01" class="fw-bold text-muted">Asal Pembeli</label>
                                <input name="regist-from" id="regist-from" class="form-control" v-model="user.asal">
                            </div>
                            <div class="col-md-5 mb-4">
                                <label for="validationCustom02" class="fw-bold text-muted">Asal Instansi</label>
                                <textarea name="instance" id="instance" cols="30" rows="5" disabled class="form-control"
                                    placeholder="Sesuai Registrasi" v-model="user.alamat_instansi"></textarea>
                            </div>
                        </div>
                    </div> -->

                    <div class="col-lg-12 my-4">
                        <h6>Edit Informasi Pembayaran</h6>
                    </div>

                    <div class="col-md-12 py-3">
                        <div class="form-row row">
                            <div class="col-md-5 mb-4">
                                <label for="validationCustom01" class="fw-bold text-muted">Nomor Rekening</label>
                                <input name="regist-from" id="regist-from" class="form-control"
                                    v-model="rekening.no_rekening">
                            </div>
                            <div class="col-md-5 mb-4">
                                <label for="validationCustom02" class="fw-bold text-muted">Nama Pemilik Rekening</label>
                                <input name="regist-from" id="regist-from" class="form-control"
                                    v-model="rekening.nama_pemilik">

                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 py-3">
                        <div class="form-row row">
                            <!-- <div class="col-md-5 mb-4">
                                <label for="validationCustom01" class="fw-bold text-muted">Nama Penanggung Jawab</label>
                                <input name="regist-from" id="regist-from" class="form-control" disabled
                                    v-model="user.asal">
                            </div> -->
                            <div class="col-md-5 mb-4">
                                <label for="validationCustom02" class="fw-bold text-muted">Nama Bank</label>
                                <input name="regist-from" id="regist-from" class="form-control"
                                    v-model="rekening.nama_bank">

                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12 my-4">
                        <h6>Edit Alamat Pengiriman</h6>
                    </div>

                    <div class="col-md-12 py-3">
                        <div class="form-row row">
                            <div class="col-md-5 mb-4">
                                <label for="validationCustom01" class="fw-bold text-muted">Alamat Lengkap</label>
                                <textarea v-model="alamat.alamat" rows="4" class="form-control"
                                    placeholder="Ketik alamat lengkap"></textarea>
                            </div>
                            <div class="col-md-5 mb-4">
                                <label for="validationCustom02" class="fw-bold text-muted">Provinsi</label>
                                <select v-model="alamat.province_id" class="form-select"
                                    @change="getCity(alamat.province_id)">
                                    <option :value="item.id" v-for="item in provinsi" v-bind:key="item.id">
                                        {{ item.name }}</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 py-3">
                        <div class="form-row row">
                            <div class="col-md-5 mb-4">
                                <label for="validationCustom02" class="fw-bold text-muted">Kota/Kabupaten</label>
                                <select v-model="alamat.city_id" id="" class="form-select">
                                    <option :value="item.id" v-for="item in city" v-bind:key="item.id">
                                        {{ item.name }}</option>
                                </select>
                            </div>
                            <div class="col-md-5 mb-4">
                                <label for="validationCustom02" class="fw-bold text-muted">Kode Pos</label>
                                <input v-model="alamat.kodepos" type="number" class="form-control"
                                    placeholder="Ketik kode pos" required>
                            </div>
                        </div>

                    </div>

                    <div class="col-lg-12 mb-3">
                        <label v-text="states.getCoordinates ? 'Memuat Data...' : 'Titik Koordinat'" />
                        <GMapAutocomplete class="form-control mb-2" placeholder="Cari alamat..."
                            @place_changed="setPlace"
                            >
                        </GMapAutocomplete>

                        <GMapMap
                            style="width: 100%; height: 500px"
                            ref="mapRef"
                            :center="user_coordinates"
                            :zoom="15"
                            >
                            <GMapMarker
                                :position="user_coordinates"
                                :draggable="true"
                                :clickable="true"
                                @dragend="updateLocation"
                                />
                        </GMapMap>
                    </div>

                    <!-- <div class="col-md-12 py-3">
                        <div class="form-row row">
                            <div class="col-md-5 mb-4">
                                <label for="validationCustom02" class="fw-bold text-muted">Alamat Instansi</label>
                                <textarea name="instance" id="instance" cols="30" rows="5" class="form-control" placeholder="Sesuai Registrasi"></textarea>
                            </div>
                            <div class="col-md-5 mb-4">
                                <label for="validationCustom01" class="fw-bold text-muted">Provinsi</label>
                                <select name="regist-from" id="regist-from" class="form-control">
                                    <option value="">Sesuai Registrasi</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 py-3">
                        <div class="form-row row">
                            <div class="col-md-5 mb-4">
                                <label for="validationCustom01" class="fw-bold text-muted">Kabupaten atau Kota</label>
                                <select name="regist-from" id="regist-from" class="form-control">
                                    <option value="">Sesuai Registrasi</option>
                                </select>
                            </div>
                            <div class="col-md-5 mb-4">
                                <label for="validationCustom01" class="fw-bold text-muted">Kecamatan</label>
                                <select name="regist-from" id="regist-from" class="form-control">
                                    <option value="">Sesuai Registrasi</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 py-3">
                        <div class="form-row row">
                            <div class="col-md-5 mb-4">
                                <label for="validationCustom01" class="fw-bold text-muted">Kelurahan</label>
                                <select name="regist-from" id="regist-from" class="form-control">
                                    <option value="">Sesuai Registrasi</option>
                                </select>
                            </div>
                            <div class="col-md-5 mb-4">
                                <label for="validationCustom01" class="fw-bold text-muted">Kode Pos</label>
                                <input type="text" name="postal-code" id="postal-code" placeholder="Sesuai Registrasi" class="form-control">
                            </div>
                            <div class="col-md-5 mb-4">
                                <label for="validationCustom01" class="fw-bold text-muted">Telp. Instansi (Opsional)</label>
                                <input type="text" name="postal-code" id="postal-code" placeholder="Sesuai Registrasi" class="form-control">
                            </div>
                        </div>
                    </div> -->
                    <div class="col-lg-12 my-4">
                        <h6>Ubah Kata Sandi</h6>
                    </div>
                    <div class="col-md-12 py-3">
                        <div class="form-row row">
                            <!-- <div class="col-md-5 mb-4">
                                <label for="validationCustom01" class="fw-bold text-muted">Email Lama</label>
                                <select name="regist-from" id="regist-from" class="form-control">
                                    <option value="">Sesuai Registrasi</option>
                                </select>
                            </div>
                            <div class="col-md-5 mb-4">
                                <label for="validationCustom01" class="fw-bold text-muted">Email Baru</label>
                                <input type="text" name="postal-code" id="postal-code" placeholder="Ketik email baru"
                                    class="form-control">
                            </div> -->
                            <div class="col-md-5 mb-4">
                                <label for="validationCustom01" class="fw-bold text-muted">Ubah Kata Sandi</label>
                                <input type="password" name="postal-code" id="postal-code"
                                    placeholder="Ketik kata sandi baru" class="form-control" v-model="pass.pw">
                            </div>
                            <div class="col-md-5 mb-4">
                                <label for="validationCustom01" class="fw-bold text-muted">Konfirmasi Kata Sandi</label>
                                <input type="password" name="postal-code" id="postal-code"
                                    placeholder="Ketik ulang kata sandi baru" class="form-control"
                                    v-model="pass.pw_confir">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-10 my-4 text-center">
                        <button type="button" class="btn py-2 px-5"
                            style="background-color:var(--primary-color); color: white;"
                            @click.prevent="click">Simpan</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
import axios from 'axios'
import Sidebar from '../component/Sidebar.vue';
import Navbar from '@/v2/components/Navbar.vue';
export default {
    components: { Sidebar, Navbar },
    data() {
        return {
            user: {},
            user_data: {
                email: ''
            },
            user_coordinates: {
                lat: 0,
                lng: 0,
            },
            usaha: {},
            rekening: {},
            provinsi: [],
            alamat: {},
            city: [],
            profile: null,
            pass: {
                pw: "",
                pw_confir: "",
            },
            token: localStorage.getItem("token"),
            profileFile: null,
            states: {
                getCoordinates: false
            },
        }
    },

    methods: {
        clickFile() {
            document.getElementById("fileUpload").click();
        },
        changeFile(e) {
            this.profileFile = e.target.files[0];
            this.profile = URL.createObjectURL(e.target.files[0]);
        },
        getCity(id) {
            axios.get("/api/v1/shipper/province/" + id + "/cities").then(resp => {
                this.city = resp.data;
            });
        },

        click() {

            const formData = new FormData();
            formData.append('email', this.user_data.email);
            formData.append('no_rekening', this.rekening.no_rekening);
            formData.append('nama_pemilik', this.rekening.nama_pemilik);
            formData.append('nama_bank', this.rekening.nama_bank);
            formData.append('alamat', this.alamat.alamat);
            formData.append('province_id', this.alamat.province_id);
            formData.append('city_id', this.alamat.city_id);
            formData.append('kodepos', this.alamat.kodepos);
            formData.append('password', this.pass.pw);
            formData.append('password_confirmation', this.pass.pw_confir);
            formData.append('lat', this.user_coordinates.lat);
            formData.append('lng', this.user_coordinates.lng);
            if (this.profileFile) {
                formData.append('file', this.profileFile);
            }
            // const obj = JSON.stringify({
            //     no_rekening: this.rekening.no_rekening,
            //     nama_pemilik: this.rekening.nama_pemilik,
            //     nama_bank: this.rekening.nama_bank,
            //     alamat: this.alamat.alamat,
            //     province_id: this.alamat.province_id,
            //     city_id: this.alamat.city_id,
            //     kodepos: this.alamat.kodepos,
            //     password: this.pass.pw,
            //     password_confirmation: this.pass.pw_confir,
            // });
            axios.post("/api/v1/auth/edit-profile", formData, {
                headers: {
                    'Authorization': 'Bearer ' + this.token,
                    'Content-Type': 'multipart/form-data'
                },
            }).then((resp) => {
                this.$swal({
                    icon: 'success',
                    title: resp.data.message
                });
            }).catch((err) => {
                this.$swal({
                    icon: 'error',
                    title: err.response.data.message
                });
            });
        },

        //mengambil lokasi koordinat setelah penanda (marker) digeser
        updateLocation(evt) {
            let lat = evt.latLng.lat()
            let lng = evt.latLng.lng()
            this.user_coordinates = {lat: lat, lng: lng}
        },

        //mengubah lokasi penanda (marker) pada peta berdasar lokasi koordinat pengguna
        setLocation(loc) {
            let lat = loc.coords.latitude;
            let lng = loc.coords.longitude;
            this.user_coordinates = {lat: lat, lng: lng}
        },
        setPlace(loc) {
            let lat = loc.geometry.location.lat();
            let lng = loc.geometry.location.lng();
            this.user_coordinates = {lat: lat, lng: lng}
        },
        getDashboardData() {
            axios.get("/api/user/penjual/dashboard", {
                headers: {
                    Authorization: "Bearer " + this.token
                }
            }).then((resp) => {
                this.usaha = resp.data.data.data;
                this.rekening = resp.data.data.rekening;
                this.alamat = resp.data.data.alamat;
                this.user = resp.data;
                this.user_data = resp.data.data;
                this.profile = resp.data.data.data.logo_usaha;
                this.user_coordinates = {
                    lat: this.alamat.lat,
                    lng: this.alamat.lng
                }

                axios.get("/api/v1/shipper/province/" + resp.data.data.alamat.province_id + "/cities").then(resp => {
                    this.city = resp.data;
                });
            });
        }
    },

    mounted() {
        this.getDashboardData()

        axios.get("/api/v1/shipper/provinces").then(resp => {
            this.provinsi = resp.data;
        })
    },

    computed() {
    },
}
</script>



<style scope>
button.profile-image {
    width: 90px;
    height: 90px;
    border: 0;
}
</style>
