<template>
    <Navbar />

    <div class="container-fluid my-4">
        <template v-if="cart.length > 0">
            <h5 class="ms-5 px-5">Keranjang</h5>
            <div class="row mt-3">
                <div class="col-lg-8 mb-3">
                    <div class="card mb-3" style="border: 1px solid #B0B0B0" v-for="(item,indexUser) in cart"
                        v-bind:key="item.id">
                        <div class="card-header d-flex justify-content-start bg-white">
                            <div class="me-3">
                                <img :src="item.logo" class="d-block mx-auto img-fluid rounded-circle" style="border:1px solid var(--primary-color);width:71px;height:71px;">
                            </div>

                            <div class="my-auto">
                                <h6>{{item.name}} </h6>
                                <span>{{item.lokasi}}</span>
                            </div>
                        </div>

                        <div class="card-body">

                            <div class="mb-3" v-for="(cart, index) in item.cart" v-bind:key="cart.id">
                                <div class="row">
                                    <div class="col-1 my-auto">
                                        <!-- <input type="checkbox" @click="selectAll" v-model="allSelected" /> -->
                                        <input :id="cart.id" type="checkbox" v-model="idCart" :value="cart" :disabled="id_penjual_selected && ((id_penjual_selected != cart.id_penjual) ? true : false) || isQuantityAvailable(cart.products.stok, cart.qty)" @change="selectAll(cart.id, cart.id_penjual)" />
                                    </div>
                                    <div class="col-2">
                                        <label :for="cart.id" class="cursor-pointer">
                                            <img :src="cart.products.image[0]" class="img-fluid rounded" style="border:1px solid var(--primary-color); width: 120px; height: 120px; object-fit: cover;"/>
                                        </label>
                                    </div>
                                    <div class="col-4 my-auto">
                                        <label :for="cart.id" class="cursor-pointer">
                                            <div class="d-flex align-items-center gap-2">
                                                <div class="fs-6 fw-semibold">{{ cart.products.title }}</div>
                                                <small v-show="isQuantityAvailable(cart.products.stok, cart.qty)" :class="isQuantityAvailable(cart.products.stok, cart.qty) && `text-danger`">( Stok Habis )</small>
                                            </div>

                                            <!-- <span>High, 42 Sisa 5</span> -->
                                            <h6>Rp {{ (parseInt(cart.products.show_price) * cart.qty).toString().replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.") }}</h6>
                                        </label>
                                    </div>
                                    <div class="col-2 my-auto">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="me-3" style="width:20px" fill="#EF144A">
                                            <path d="M0 190.9V185.1C0 115.2 50.52 55.58 119.4 44.1C164.1 36.51 211.4 51.37 244 84.02L256 96L267.1 84.02C300.6 51.37 347 36.51 392.6 44.1C461.5 55.58 512 115.2 512 185.1V190.9C512 232.4 494.8 272.1 464.4 300.4L283.7 469.1C276.2 476.1 266.3 480 256 480C245.7 480 235.8 476.1 228.3 469.1L47.59 300.4C17.23 272.1 .0003 232.4 .0003 190.9L0 190.9z" />
                                        </svg>

                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" style="width:20px;cursor:pointer" fill="#505E6B" @click.prevent="deleteCart(cart.id)">
                                            <path d="M135.2 17.69C140.6 6.848 151.7 0 163.8 0H284.2C296.3 0 307.4 6.848 312.8 17.69L320 32H416C433.7 32 448 46.33 448 64C448 81.67 433.7 96 416 96H32C14.33 96 0 81.67 0 64C0 46.33 14.33 32 32 32H128L135.2 17.69zM31.1 128H416V448C416 483.3 387.3 512 352 512H95.1C60.65 512 31.1 483.3 31.1 448V128zM111.1 208V432C111.1 440.8 119.2 448 127.1 448C136.8 448 143.1 440.8 143.1 432V208C143.1 199.2 136.8 192 127.1 192C119.2 192 111.1 199.2 111.1 208zM207.1 208V432C207.1 440.8 215.2 448 223.1 448C232.8 448 240 440.8 240 432V208C240 199.2 232.8 192 223.1 192C215.2 192 207.1 199.2 207.1 208zM304 208V432C304 440.8 311.2 448 320 448C328.8 448 336 440.8 336 432V208C336 199.2 328.8 192 320 192C311.2 192 304 199.2 304 208z" />
                                        </svg>
                                    </div>
                                    <div class="col-3 my-auto">
                                        <b-input-group>
                                            <b-input-group-prepend>
                                                <b-button variant="outline-secondary" @click="decrement(cart.id, index, indexUser)">-</b-button>
                                            </b-input-group-prepend>
                                            <input class="form-control" type="number" min="0.00" v-model="cart.qty" style="text-align:center" @change="isQuantityAvailable(cart.products.stok, parseInt($event.target.value)) ? alertQuantity('error', 'Inputan jumlah quantity melebihi stok') : changeQuantity(cart.id, parseInt($event.target.value))"/>
                                            <b-input-group-append>
                                                <b-button variant="outline-secondary" @click="increment(cart.id, index, indexUser)">+</b-button>
                                            </b-input-group-append>
                                        </b-input-group>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card" style="border: 1px solid #B0B0B0">
                        <div class="card-body">
                            <div class="d-flex justify-content-between">
                                <span>Total Harga Produk</span>
                                <span style="font-weight:600">Rp {{ parseInt(totalPrice).toString().replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.") }}</span>
                            </div>

                            <div class="row justify-content-center mt-3">
                                <div class="col-lg-8">
                                    <button class="btn __btn-success d-block w-100" @click="submit">
                                        Buat Pesanan
                                    </button>
                                </div>
                            </div>

                        </div>
                    </div>
                    <small class="mt-2 d-block">Buat Pesanan hanya dapat dilakukan dari satu supplier</small>
                </div>
            </div>
        </template>

        <template v-else>
            <div class="text-center py-5">
                <div class="fs-5 fw-bold text-dark">Keranjang belanja anda masih kosong!</div>
            </div>
        </template>
    </div>
</template>

<script>
import axios from 'axios';
import Navbar from '@/v2/components/Navbar.vue';
export default {
    data() {
        return {
            qty: 1,
            token: localStorage.getItem("token"),
            cart: [],
            idCart: [],
            seller: [],
            cartId: [],
            selected: [],
            id_penjual_selected: null,
            id_cart: [],
            // totalPrice: 0,
            quantityInputTimeOut: null,
            quantityInputTime: 3000,
        };
    },
    methods: {
        changeQuantity(id, value) {
            if (value < 1) {
                this.$swal({
                    icon: "error",
                    title: 'Quantity tidak boleh kurang dari 1',
                });
            } else {
                axios.post(`/api/v1/update-qty/${id}`, {
                    qty: value,
                }, {
                    headers: {
                        Authorization: `Bearer ${this.token}`
                    }
                }).then((resp) => {

                });
            }
        },
        decrement(id, index, indexUser) {
            if (this.cart[indexUser].cart[index].qty < 2) {
                this.$swal({
                    icon: "error",
                    title: 'Quantity tidak boleh kurang dari 1',
                });
            } else {
                this.cart[indexUser].cart[index].qty--;

                clearTimeout(this.quantityInputTimeOut)
                this.quantityInputTimeOut = setTimeout(() => {
                    axios.post("/api/v1/update-qty/" + id, {
                        qty: this.cart[indexUser].cart[index].qty,
                    }, {
                        headers: {
                            "Authorization": "Bearer " + this.token
                        }
                    }).then((resp) => {

                    });
                }, this.quantityInputTime);
            }
        },
        increment(id, index, indexUser) {
            if (this.cart[indexUser].cart[index].qty >= this.cart[indexUser].cart[index].products.stok) {
                this.$swal({
                    icon: 'error',
                    title: 'Quantity tidak boleh lebih dari stok'
                });
            } else {
                this.cart[indexUser].cart[index].qty++;

                clearTimeout(this.quantityInputTimeOut)
                this.quantityInputTimeOut = setTimeout(() => {
                    axios.post("/api/v1/update-qty/" + id, {
                        qty: this.cart[indexUser].cart[index].qty,
                    }, {
                        headers: {
                            "Authorization": "Bearer " + this.token
                        }
                    }).then((resp) => {
                    });
                }, this.quantityInputTime);
            }
        },
        selectAll(id, idPemasok) {
            if (this.id_cart.includes(id)) {
                this.id_cart.splice(this.id_cart.indexOf(id), 1);
            } else {
                this.id_cart.push(id);
            }

            if(this.id_cart.length > 0) {
                this.id_penjual_selected = idPemasok
            } else {
                this.id_penjual_selected = null
            }
        },
        async submit() {
            const obj = JSON.stringify({
                id_cart: this.id_cart
            });
            axios.post("/api/v1/move-checkout", obj, {
                headers: {
                    "Authorization": "Bearer " + this.token,
                    "Content-Type": "application/json",
                }
            }).then((resp) => {
                this.$swal({
                    icon: "success",
                    title: resp.data.message,
                });
                return this.$router.push({ path: "/checkout" });
            }).catch((err) => {
                this.$swal({
                    icon: "error",
                    title: err.response.data.message,
                });
            });
        },

        deleteCart(id) {
            this.$swal({
                title: 'Apakah anda yakin?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Ya, Hapus!'
            }).then((result) => {
                if (result.isConfirmed) {
                    axios.post("/api/v1/delete-cart/" + id, {}, {
                        headers: {
                            'Authorization': 'Bearer ' + this.token,
                        }
                    }).then((resp) => {
                        this.$swal(
                            'Deleted!',
                            resp.data.message,
                            'success'
                        );
                        this.getCart();

                    })
                }
            });
        },
        getCart() {
            axios.get("/api/v1/get-cart", {
                headers: {
                    "Authorization": "Bearer " + this.token,
                }
            }).then((resp) => {
                this.cart = resp.data.data;
            });
        },

        isQuantityAvailable(stok, qty) {
            return stok < qty;
        },

        alertQuantity(type, message) {
            this.$swal({
                icon: type,
                title: message,
            });
        },
    },
    mounted() {
        this.getCart();
    },
    computed: {
        totalPrice() {
            return this.idCart.reduce(function (items, data) {
                return items + data.products.show_price * data.qty;
            }, 0);
        },
    },
    components: { Navbar }
}
</script>
