<template>
  <Navbar />

  <div class="container-fluid my-4">
    <h5 class="ms-5 px-5">Checkout</h5>
    <div class="row">
      <div class="col-lg-8 mb-3">
        <div class="card" style="border: 1px solid #b0b0b0">
          <div class="card-header d-flex justify-content-start bg-white">
            <div class="me-3">
              <img
                :src="penjual.logo"
                class="d-block mx-auto img-fluid rounded-circle"
                style="border: 1px solid var(--primary-color); width: 80px; height: 80px;"
              />
            </div>

            <div class="my-auto">
              <h6>{{ penjual.nama_toko }}</h6>
              <span>{{ penjual.lokasi_penjual }}</span>
            </div>
          </div>
          <div class="card-body py-0">
            <template v-for="(item, index) in checkout" v-bind:key="item.id">
              <div
                class="row py-3"
                :class="index !== checkout.length - 1 ? 'border-bottom' : ''"
              >
                <div class="col-4 col-lg-3">
                  <img
                    :src="item.products.image[0]"
                    class="img-fluid rounded w-100"
                    style="height: 130px; object-fit: cover"
                  />
                </div>
                <div class="col-8 col-lg-9">
                  <h6>{{ item.products.title }}</h6>
                  <!-- <span>High, 42 Sisa 5</span> -->
                  <h6>
                    Rp
                    {{
                      parseInt(item.products.show_price)
                        .toString()
                        .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                    }}
                    x {{ item.qty }}
                  </h6>
                </div>
              </div>
            </template>
          </div>
        </div>

        <h5 class="mt-5">Pilihan Alamat Pengiriman</h5>
        <div class="card" style="border: 1px solid #b0b0b0">
          <div class="card-header d-flex justify-content-start bg-white">
            <div class="me-3">
              <img
                :src="require('@/assets/images/icon/home-icon.svg')"
                class="d-block mx-auto img-fluid"
              />
            </div>

            <div class="my-auto">
              <h6 class="m-0">Alamat Pengiriman</h6>
            </div>
          </div>
          <div class="card-body">
            <div
              class="row justify-content-between"
              data-bs-toggle="modal"
              data-bs-target="#selectAddress"
              v-if="alamat_selected"
            >
              <div class="col-10">
                <div>
                  <span class="d-inline-block me-2">{{ user_role.name }}</span>
                  <span class="d-inline-block me-2">{{ user_role.no_telp }}</span>
                  <span class="d-inline-block me-2">{{ user_role.email }}</span>
                </div>
                <span
                  >{{ alamat_selected.alamat }}, {{ alamat_selected.province_name }},
                  {{ alamat_selected.city_name }} {{ alamat_selected.kodepos }}</span
                >
              </div>
              <div class="col-1 offset-1 my-auto">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="ml-auto d-block"
                  viewBox="0 0 320 512"
                  style="width: 15px"
                >
                  <path
                    d="M96 480c-8.188 0-16.38-3.125-22.62-9.375c-12.5-12.5-12.5-32.75 0-45.25L242.8 256L73.38 86.63c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l192 192c12.5 12.5 12.5 32.75 0 45.25l-192 192C112.4 476.9 104.2 480 96 480z"
                  />
                </svg>
              </div>
            </div>

            <div v-else>
              <button
                class="btn __btn-outline-primary w-100"
                data-bs-toggle="modal"
                data-bs-target="#selectAddress"
              >
                Pilih Alamat
              </button>
            </div>

            <div
              class="modal fade"
              id="selectAddress"
              data-bs-backdrop="static"
              data-bs-keyboard="false"
              tabindex="-1"
              aria-labelledby="selectAddressLabel"
              aria-hidden="true"
            >
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="selectAddressLabel">Pilih Alamat</h5>
                    <button
                      type="button"
                      class="btn-close"
                      data-bs-dismiss="modal"
                      aria-label="Close"
                    ></button>
                  </div>
                  <div class="modal-body">
                    <div class="mb-3" v-for="item in alamat" v-bind:key="item">
                      <input
                        type="radio"
                        v-model="alamat_id"
                        class="__form-check"
                        :id="'waktu_' + item.id"
                        :value="item"
                      />
                      <label class="card" :for="'waktu_' + item.id">
                        <div class="card-body">
                          <div>
                            <span class="d-inline-block me-2">{{ user_role.name }}</span>
                            <span class="d-inline-block me-2">{{
                              user_role.no_telp
                            }}</span>
                            <span class="d-inline-block me-2">{{ user_role.email }}</span>
                          </div>
                          <span
                            >{{ item.alamat }}, {{ item.province_name }},
                            {{ item.city_name }} {{ item.kodepos }}</span
                          >
                        </div>
                      </label>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button
                      type="button"
                      class="btn btn-secondary"
                      data-bs-dismiss="modal"
                    >
                      Cancel
                    </button>
                    <button
                      type="button"
                      class="btn btn-primary"
                      data-bs-dismiss="modal"
                      @click="getAlamat(alamat_id)"
                    >
                      Pilih
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="card-footer" style="background-color: transparent">
            <div class="row justify-content-center">
              <div class="col-lg-5">
                <button
                  class="btn __btn-outline-primary w-100"
                  data-bs-toggle="modal"
                  data-bs-target="#addAddress"
                >
                  + Tambah Alamat Baru
                </button>
              </div>
            </div>
          </div>

          <div
            class="modal fade"
            id="addAddress"
            data-bs-backdrop="static"
            data-bs-keyboard="false"
            tabindex="-1"
            aria-labelledby="addAddressLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="addAddressLabel">Tambah Alamat</h5>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>
                <div class="modal-body">
                  <div class="row">
                    <div class="col-lg-6 mb-3">
                      <div>
                        <label for="">Provinsi</label>
                        <select
                          v-model="field.address.province_id"
                          class="__form-control form-control-sm form-select"
                          @change="getCity"
                          required
                        >
                          <option
                            :value="item.id"
                            v-for="item in collection.provinces"
                            v-bind:key="item.id"
                          >
                            {{ item.name }}
                          </option>
                        </select>
                        <div class="invalid-feedback">Provinsi wajib diisi!</div>
                      </div>
                    </div>
                    <div class="col-lg-6 mb-3">
                      <div>
                        <label for="">Kabupaten atau Kota</label>
                        <select
                          @change="getSuburb"
                          v-model="field.address.city_id"
                          id=""
                          class="__form-control form-control-sm form-select"
                          required
                        >
                          <option
                            :value="item.id"
                            v-for="item in collection.cities"
                            v-bind:key="item.id"
                          >
                            {{ item.name }}
                          </option>
                        </select>
                        <div class="invalid-feedback">
                          Kabupaten atau Kota wajib diisi!
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6 mb-3">
                      <div>
                        <label for="">Kecamatan</label>
                        <select
                          @change="getArea"
                          v-model="field.address.suburb_id"
                          id=""
                          class="__form-control form-control-sm form-select"
                          required
                        >
                          <option
                            :value="item.id"
                            v-for="item in collection.suburbs"
                            v-bind:key="item.id"
                          >
                            {{ item.name }}
                          </option>
                        </select>
                        <div class="invalid-feedback">
                          Kabupaten atau Kota wajib diisi!
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6 mb-3">
                      <div>
                        <label for="">Kelurahan/Desa</label>
                        <select
                          v-model="field.address.area_id"
                          id=""
                          class="__form-control form-control-sm form-select"
                          required
                        >
                          <option
                            :value="item.id"
                            v-for="item in collection.areas"
                            v-bind:key="item.id"
                          >
                            {{ item.name }}
                          </option>
                        </select>
                        <div class="invalid-feedback">
                          Kabupaten atau Kota wajib diisi!
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6 mb-3">
                      <div>
                        <label for="">Kode Pos</label>
                        <input
                          v-model="field.address.kodepos"
                          type="number"
                          class="__form-control form-control-sm"
                          placeholder="Ketik kode pos"
                          required
                        />
                        <div class="invalid-feedback">Kode Pos wajib diisi!</div>
                      </div>
                    </div>

                    <div class="col-lg-6 mb-3">
                      <div>
                        <label for="">Alamat</label>
                        <textarea
                          v-model="field.address.alamat"
                          rows="4"
                          class="__form-control form-control-sm"
                          placeholder="Ketik alamat lengkap instansi yang digunakan sebagai Alamat Instansi"
                          required
                        ></textarea>
                        <div class="invalid-feedback">Alamat Instansi wajib diisi!</div>
                      </div>
                    </div>
                    <div class="col-lg-12 mb-3">
                      <label>Titik Koordinat</label>
                      <GMapAutocomplete
                        class="form-control mb-2"
                        placeholder="Cari alamat..."
                        @place_changed="setPlace"
                      >
                      </GMapAutocomplete>
                      <GMapMap
                        ref="mapRef"
                        style="width: 100%; height: 500px"
                        :center="field.address.coordinates"
                        :zoom="15"
                      >
                        <GMapMarker
                          :position="field.address.coordinates"
                          :draggable="true"
                          :clickable="true"
                          @dragend="updateLocation"
                        />
                      </GMapMap>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    Cancel
                  </button>
                  <button
                    type="button"
                    class="btn __btn-primary"
                    data-bs-dismiss="modal"
                    @click="postAlamat"
                  >
                    Tambah
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <template v-if="shipping.length">
          <h5 class="mt-5">Pilihan Pengiriman</h5>
          <div class="card" style="border: 1px solid #b0b0b0">
            <div class="card-body p-0">
              <template v-for="item of shipping" :key="item">
                <div
                  :class="`form-check d-flex items-align-center gap-3 px-5 py-2 ${
                    item.type !== null && item.type === 'manual'
                      ? 'border-bottom py-3'
                      : ''
                  }`"
                >
                  <input
                    :id="'logistic' + item.rate.id"
                    @change="selectLogistic(item)"
                    :class="`form-check-input`"
                    type="radio"
                    name="flexRadioDefault"
                    :value="item"
                  />
                  <label class="form-check-label" :for="'logistic' + item.rate.id">
                    <img
                      :style="
                        item.type !== null && item.type === 'manual'
                          ? 'width: 50px; padding: 0 10px;'
                          : 'width: 50px;'
                      "
                      :src="item.logistic.logo_url"
                    />
                    {{ item.logistic.name == 'Satu Kurir' ? 'Same Day' : item.logistic.name }}
                    <b v-if="item.logistic.name !== 'Satu Kurir'" v-text="item.rate.type + ' '" />
                    <b
                      v-if="item.type !== null && item.type === 'manual'"
                      v-text="item.distance.text"
                    />
                    <b v-if="item.type === undefined">
                      <span v-text="item.min_day" />
                      <span
                        v-if="item.min_day !== item.max_day"
                        v-text="'-' + item.max_day"
                      />
                      hari
                    </b>
                    <b
                      v-text="
                        ' (' + new Intl.NumberFormat('id').format(item.total_price) + ')'
                      "
                    />
                  </label>
                </div>
              </template>
            </div>
          </div>
        </template>

        <div
          class="modal fade"
          id="chooseKurir"
          data-bs-backdrop="static"
          data-bs-keyboard="false"
          tabindex="-1"
          aria-labelledby="chooseKurirLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="chooseKurirLabel">Pilih Kurir</h5>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
                <div class="row">
                  <div class="col-lg-12 mb-3">
                    <div>
                      <label for="">Kurir</label>
                      <select
                        v-model="kurir.courier"
                        class="__form-control form-control-sm form-select"
                        @change="getCost"
                        required
                      >
                        <option value="jne">JNE</option>
                        <option value="pos">POS</option>
                        <option value="tiki">TIKI</option>
                      </select>
                      <div class="invalid-feedback">Provinsi wajib diisi!</div>
                    </div>
                  </div>

                  <div class="col-lg-12 mb-3" v-if="cost.length != 0">
                    <div>
                      <label for="">Cost</label>
                      <select
                        v-model="kurir.list"
                        class="__form-control form-control-sm form-select"
                        required
                      >
                        <option
                          :value="{
                            kurir: kurir.courier,
                            description: item.description,
                            etd: item.cost[0].etd,
                            value: item.cost[0].value,
                          }"
                          v-for="item in cost[0].costs"
                          v-bind:key="item"
                        >
                          {{ item.description }} - {{ item.cost[0].value }} ({{
                            item.cost[0].etd
                          }})
                        </option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                  Cancel
                </button>
                <button
                  type="button"
                  class="btn __btn-primary"
                  data-bs-dismiss="modal"
                  @click="pilihKurir"
                >
                  Pilih
                </button>
              </div>
            </div>
          </div>
        </div>

        <h5 class="mt-5">Pilihan Pajak</h5>
        <div class="row">
          <div class="col-lg-12">
            <div class="row mb-3">
              <div class="col-9">
                <div>
                  <label>Jenis Pajak</label>
                  <select
                    v-model="jenis_pajak"
                    class="__form-control form-control-sm form-select"
                    @change="changePajak($event)"
                    required
                  >
                    <option value="Bebas Pajak">Bebas Pajak</option>
                    <!-- <option value="Pajak Daerah - Dipungut Instansi Pemerintah">Pajak Daerah - Dipungut Instansi Pemerintah</option> -->
                    <option value="Pajak Daerah - Dipungut oleh Ritel Daring">
                      Pajak Daerah - Dipungut oleh Ritel Daring
                    </option>
                    <option value="PPN (LS) - Dipungut Instansi Pemerintah">
                      PPN (LS) - Dipungut Instansi Pemerintah
                    </option>
                    <option value="PPN (UP) - Dipungut oleh Ritel Daring">
                      PPN (UP) - Dipungut oleh Ritel Daring
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-3 mt-auto">
                <div class="input-group">
                  <!-- <input type="number" v-model="jenis_pajak_value" class="form-control" placeholder="0" step="0.1" aria-label="0" aria-describedby="basic-addon2" :readonly="jenis_pajak !== 'Pajak Daerah - Dipungut oleh Ritel Daring'"> -->
                  <input
                    type="number"
                    v-model="jenis_pajak_value"
                    class="form-control __form-control"
                    placeholder="0"
                    step="0.1"
                    aria-label="0"
                    aria-describedby="basic-addon2"
                    :readonly="true"
                  />
                  <span class="input-group-text" id="basic-addon2">%</span>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-9">
                <div>
                  <label>Pajak Penghasilan</label>
                  <select
                    v-model="pajak_penghasilan"
                    @change="pajakPenghasilan"
                    class="__form-control form-control-sm form-select"
                    required
                  >
                    <option value="Bebas Pajak">Bebas Pajak</option>
                    <!-- <option value="PPh Pasal 15 (LS) - Dipungut Instansi Pemerintah">PPh Pasal 15 (LS) - Dipungut Instansi Pemerintah</option>
                    <option value="PPh Pasal 21 (LS) – Dipungut Instansi Pemerintah">PPh Pasal 21 (LS) – Dipungut Instansi Pemerintah</option> -->
                    <option
                      value="PPh Pasal 4 (2) Final (LS) - Dipungut Instansi Pemerintah"
                    >
                      PPh Pasal 4 (2) Final (LS) - Dipungut Instansi Pemerintah
                    </option>
                    <option value="PPh Pasal 22 (LS) - Dipungut Instansi Pemerintah">
                      PPh Pasal 22 (LS) - Dipungut Instansi Pemerintah
                    </option>
                    <option value="PPh Pasal 23 (LS) - Dipungut Instansi Pemerintah">
                      PPh Pasal 23 (LS) - Dipungut Instansi Pemerintah
                    </option>
                    <option value="PPh Pasal 22 (UP) - Dipungut oleh Ritel Daring">
                      PPh Pasal 22 (UP) - Dipungut oleh Ritel Daring
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-3 mt-auto">
                <div class="input-group">
                  <input
                    type="number"
                    v-model="pajak_penghasilan_value"
                    class="form-control __form-control"
                    placeholder="0"
                    step="0.1"
                    aria-label="0"
                    aria-describedby="basic-addon2"
                    :readonly="
                      pajak_penghasilan !==
                      'PPh Pasal 4 (2) Final (LS) - Dipungut Instansi Pemerintah'
                    "
                  />
                  <span class="input-group-text" id="basic-addon2">%</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card" style="border: 1px solid #b0b0b0">
          <div class="card-body">
            <div class="d-flex justify-content-between mb-3">
              <span>Total Harga Produk</span>
              <span style="font-weight: 600"
                >Rp
                {{
                  totalPrice.toString().replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                }}</span
              >
            </div>

            <div class="d-flex justify-content-between mb-3">
              <span>Total Ongkos Kirim</span>
              <span style="font-weight: 600"
                >Rp
                {{
                  parseInt(field.shipping.total_price)
                    .toString()
                    .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                }}</span
              >
            </div>

            <hr />

            <div class="d-flex justify-content-between mb-3">
              <span>Sub Total</span>
              <span style="font-weight: 600"
                >Rp
                {{
                  parseInt(subTotalPrice)
                    .toString()
                    .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                }}</span
              >
            </div>

            <div class="d-flex justify-content-between mb-3">
              <span>Pajak</span>
              <span style="font-weight: 600"
                >Rp
                {{
                  parseInt(totalPajak)
                    .toString()
                    .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                }}</span
              >
            </div>

            <div class="d-flex justify-content-between mb-3">
              <span>Pajak Penghasilan</span>
              <span style="font-weight: 600"
                >Rp
                {{
                  parseInt(totalPajakPenghasilan)
                    .toString()
                    .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                }}</span
              >
            </div>

            <hr />

            <div class="d-flex justify-content-between mb-3">
              <span>Total Transaksi</span>
              <span style="font-weight: 600"
                >Rp
                {{
                  parseInt(totalTransaksiPrice)
                    .toString()
                    .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                }}</span
              >
            </div>
            <div class="d-flex justify-content-between mb-3">
              <span>Total Pembayaran</span>
              <span style="font-weight: 600"
                >Rp
                {{
                  parseInt(totalPembayaranPrice)
                    .toString()
                    .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                }}</span
              >
            </div>

            <div class="row justify-content-center mt-3">
              <div
                class="col-lg-8 mb-2"
                v-if="
                  parseInt(
                    field.shipping.total_price +
                      totalPrice +
                      (field.shipping.total_price * jenis_pajak_value) / 100
                  ) > 50000000
                "
              >
                <button
                  class="btn __btn-success d-block w-100"
                  @click.prevent="buatPesanan('rfq')"
                >
                  Buat Permintaan RFQ
                </button>
              </div>

              <div
                class="col-lg-8"
                v-if="
                  parseInt(
                    field.shipping.total_price +
                      totalPrice +
                      (field.shipping.total_price * jenis_pajak_value) / 100
                  ) < 50000000
                "
              >
                <button
                  class="btn __btn-success d-block w-100"
                  @click.prevent="buatPesanan('pesanan_langsung')"
                >
                  Buat Pesanan
                </button>
              </div>
            </div>
          </div>
        </div>
        <ul>
          <li>
            <small class="mt-2 d-block"
              >Untuk total pembayaran kurang dari Rp 50.000.000, anda dapat mengklik
              tombol buat pesanan</small
            >
          </li>
          <li>
            <small class="mt-2 d-block"
              >Untuk total pembayaran lebih dari Rp 50.000.000, anda wajib melakukan
              negosiasi, dengan mengklik tombol buat Permintaan RFQ</small
            >
          </li>
          <li>
            <small class="mt-2 d-block"
              >Maksimal nilai per transaksi pada situs kami sebesar Rp 200.000.000</small
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import Navbar from "@/v2/components/Navbar.vue";

export default {
  components: {
    Navbar,
  },
  data() {
    return {
      qty: 0,
      token: localStorage.getItem("token"),
      checkout: [],
      alamat_selected: "",
      alamat: [],
      user_role: [],
      alamat_id: "",
      provinsi: [],
      city: [],
      kurir: {
        origin: "",
        destination: "",
        weight: "",
        courier: "",
        klik: false,
        list: [],
      },
      // totalWeight: 0,
      cost: [],
      jenis_pajak: "",
      pajak_penghasilan: "",
      jenis_pajak_value: 0,
      pajak_penghasilan_value: 0,

      pesanan: {
        product_id: [],
      },
      shipping: [],
      field: {
        shipping: {
          rate_id: null,
          total_price: 0,
        },
        address: {
          province_id: "",
          city_id: "",
          kodepos: "",
          alamat: "",
          suburb_id: null,
          area_id: null,
          coordinates: { lat: -6.2297465, lng: 106.829518 },
        },
      },
      collection: {
        provinces: [],
        cities: [],
        suburbs: [],
        areas: [],
      },
      penjual: [],
    };
  },
  methods: {
    getAlamat(loc) {
      this.alamat_selected = loc;
      let data = {
        destination: {
          area_id: loc.area_id,
        },
        address: loc,
        height: 1,
        width: 1,
        length: 1,
        weight: this.totalWeight,
        item_value: this.totalPrice,
      };

      axios
        .post("/api/v1/shipper/pricing", data, {
          headers: {
            Authorization: "Bearer " + this.token,
            "Content-Type": "application/json",
          },
        })
        .then((res) => {
          let data = res.data;
          data.reverse();
          this.shipping = data;
        });
    },
    postAlamat() {
      axios
        .post("/api/v1/address/post", this.field.address, {
          headers: {
            Authorization: "Bearer " + this.token,
            "Content-Type": "application/json",
          },
        })
        .then((resp) => {
          this.$swal({
            icon: "success",
            title: resp.data.message,
          });

          axios
            .get("/api/v1/address", {
              headers: {
                Authorization: "Bearer " + this.token,
              },
            })
            .then((resp) => {
              this.alamat = resp.data.data;
            });
        })
        .catch((err) => {
          this.$swal({
            icon: "error",
            title: err.response.data.message,
          });
        });
    },
    pilihKurir() {
      this.kurir.klik = true;
    },

    getCost(event) {
      axios
        .post("/api/v1/rajaongkir/cost", {
          origin: this.checkout[0].penjual.city_id,
          destination: this.alamat_selected.city_id,
          weight: this.totalWeight,
          courier: event.target.value,
        })
        .then((resp) => {
          this.cost = resp.data.results;
        });
    },

    changePajak(event) {
      if (event.target.value === "Bebas Pajak") {
        this.jenis_pajak_value = 0;
      } else if (event.target.value === "Pajak Daerah - Dipungut Instansi Pemerintah") {
        this.jenis_pajak_value = 0;
      } else if (event.target.value === "Pajak Daerah - Dipungut oleh Ritel Daring") {
        this.jenis_pajak_value = 10;
      } else if (event.target.value === "PPN (LS) - Dipungut Instansi Pemerintah") {
        this.jenis_pajak_value = 11;
      } else if (event.target.value === "PPN (UP) - Dipungut oleh Ritel Daring") {
        this.jenis_pajak_value = 11;
      }
    },
    pajakPenghasilan(event) {
      if (event.target.value === "Bebas Pajak") {
        this.pajak_penghasilan_value = 0;
      } else if (
        event.target.value === "PPh Pasal 15 (LS) - Dipungut Instansi Pemerintah"
      ) {
        this.pajak_penghasilan_value = 10;
      } else if (
        event.target.value === "PPh Pasal 21 (LS) – Dipungut Instansi Pemerintah"
      ) {
        this.pajak_penghasilan_value = 10;
      } else if (
        event.target.value === "PPh Pasal 4 (2) Final (LS) - Dipungut Instansi Pemerintah"
      ) {
        this.pajak_penghasilan_value = 3.5;
      } else if (
        event.target.value === "PPh Pasal 22 (LS) - Dipungut Instansi Pemerintah"
      ) {
        this.pajak_penghasilan_value = 1.5;
      } else if (
        event.target.value === "PPh Pasal 23 (LS) - Dipungut Instansi Pemerintah"
      ) {
        this.pajak_penghasilan_value = 2;
      } else if (
        event.target.value === "PPh Pasal 22 (UP) - Dipungut oleh Ritel Daring"
      ) {
        this.pajak_penghasilan_value = 0.5;
      }
    },

    submitValidate() {
      if (this.kurir.list.value == null) {
        this.$swal({
          icon: "error",
          title: "Pilihan pengiriman belum di tetapkan!",
        });
        return false;
      }

      if (this.jenis_pajak === "") {
        this.$swal({
          icon: "error",
          title: "Jenis Pajak belum di tetapkan!",
        });
        return false;
      }

      if (this.pajak_penghasilan === "") {
        this.$swal({
          icon: "error",
          title: "Jenis Pajak Penghasilan belum di tetapkan!",
        });
        return false;
      }

      return true;
    },

    buatPesanan(type) {
      if (!this.submitValidate()) {
        return;
      }

      const obj = JSON.stringify({
        id_penjual: this.checkout[0].penjual.id_penjual,
        id_alamat: this.alamat_id.id,
        id_cart: this.pesanan.product_id,
        total_harga_barang: this.totalPrice,
        total_harga_kurir: parseInt(this.kurir.list.value),
        subtotal: this.totalPrice + parseInt(this.kurir.list.value),
        jenis_pajak: this.jenis_pajak,
        jenis_pajak_value: this.jenis_pajak_value,
        pajak_penghasilan: this.pajak_penghasilan,
        pajak_penghasilan_value: this.pajak_penghasilan_value,
        // total_pajak: (this.totalPrice + parseInt(this.kurir.list.value)) * this.jenis_pajak_value / 100,
        // total_pajak_penghasilan: (this.totalPrice + parseInt(this.kurir.list.value)) * this.pajak_penghasilan_value / 100,
        // total_pembayaran: (this.totalPrice + parseInt(this.kurir.list.value)) + ((this.totalPrice + parseInt(this.kurir.list.value)) * this.jenis_pajak_value / 100) + ((this.totalPrice + parseInt(this.kurir.list.value)) * this.pajak_penghasilan_value / 100),
        total_pajak: this.totalPajak,
        total_pajak_penghasilan: this.totalPajakPenghasilan,
        total_pembayaran: this.totalPembayaranPrice,
        total_transaksi: this.totalTransaksiPrice,
        kurir: this.kurir.list.kurir,
        etd: this.kurir.list.etd,
      });

      axios
        .post("/api/v1/pesanan/" + type, obj, {
          headers: {
            Authorization: "Bearer " + this.token,
            "Content-Type": "application/json",
          },
        })
        .then((resp) => {
          this.$swal({
            icon: "success",
            title: resp.data.message,
          });
          if (type === "pesanan_langsung") {
            return this.$router.push({
              path: "/pembeli/pesanan-langsung/" + resp.data.data.id,
            });
          } else if (type === "rfq") {
            return this.$router.push({ path: "/pembeli/rfq/" + resp.data.data.id });
          }
        });
    },
    selectLogistic(item) {
      this.field.shipping.rate_id = item.rate.id;
      this.field.shipping.total_price = item.total_price;
      this.kurir.list.kurir = item.logistic.name;
      this.kurir.list.etd =
        item.logistic.name == "Satu Kurir"
          ? "-"
          : item.min_day + "-" + item.max_day + "Hari";
      this.kurir.list.value = item.total_price;
    },
    //mengambil data provinsi dari shipper
    getProvinces() {
      axios.get("/api/v1/shipper/provinces").then((res) => {
        this.collection.provinces = res.data;
      });
    },
    //mengambil data kota berdasar provinsi yang dipilih pengguna dari shipper
    getCity() {
      this.field.address.city_id = null;
      this.field.address.suburb_id = null;
      this.field.address.area_id = null;
      axios
        .get("/api/v1/shipper/province/" + this.field.address.province_id + "/cities")
        .then((res) => {
          this.collection.cities = res.data;
        });
    },
    //mengambil data kecamatan berdasar kota yang dipilih pengguna dari shipper
    getSuburb() {
      this.field.address.suburb_id = null;
      this.field.address.area_id = null;
      axios
        .get("/api/v1/shipper/city/" + this.field.address.city_id + "/suburbs")
        .then((res) => {
          this.collection.suburbs = res.data;
        });
    },
    //mengambil data kelurahan berdasar kecamatan yang dipilih pengguna dari shipper
    getArea() {
      this.field.address.area_id = null;
      axios
        .get("/api/v1/shipper/suburb/" + this.field.address.suburb_id + "/areas")
        .then((res) => {
          this.collection.areas = res.data;
        });
    },
    //mengambil lokasi koordinat setelah penanda (marker) digeser
    updateLocation(evt) {
      let lat = evt.latLng.lat();
      let lng = evt.latLng.lng();
      this.field.address.coordinates = { lat: lat, lng: lng };
    },
    //mengubah lokasi penanda (marker) pada peta berdasar lokasi koordinat pengguna
    setLocation(loc) {
      let lat = loc.coords.latitude;
      ngitude;
      this.field.address.coordinates = { lat: lat, lng: lng };
    },
    setPlace(loc) {
      let lat = loc.geometry.location.lat();
      let lng = loc.geometry.location.lng();
      this.field.address.coordinates = { lat: lat, lng: lng };
    },
  },
  mounted() {
    axios
      .get("/api/user/role", {
        headers: {
          Authorization: "Bearer " + this.token,
        },
      })
      .then((resp) => {
        this.user_role = resp.data.data;
      });
    axios
      .get("/api/v1/address", {
        headers: {
          Authorization: "Bearer " + this.token,
        },
      })
      .then((resp) => {
        this.alamat = resp.data.data;
      });

    axios
      .get("/api/v1/checkout", {
        headers: {
          Authorization: "Bearer " + this.token,
        },
      })
      .then((resp) => {
        this.checkout = resp.data.data;
        this.penjual = resp.data.data[0].products;
        this.checkout.forEach((item, i) => {
          this.pesanan.product_id.push({
            cart_id: item.cart_id,
            id_products: item.products.id,
            qty: item.qty,
          });
        });
      });

    this.getProvinces();
  },
  computed: {
    totalWeight() {
      return this.checkout.reduce(function (items, data) {
        return items + data.products.berat * data.qty;
      }, 0);
    },

    totalPrice() {
      return this.checkout.reduce(function (items, data) {
        return items + data.products.show_price * data.qty;
      }, 0);
    },

    subTotalPrice() {
      return this.field.shipping.total_price + this.totalPrice;
    },

    // Total PPN
    totalPajak() {
      return (this.subTotalPrice * this.jenis_pajak_value) / 100;
    },

    // Total PPH
    totalPajakPenghasilan() {
      if (
        this.pajak_penghasilan === "PPh Pasal 22 (UP) - Dipungut oleh Ritel Daring" ||
        this.pajak_penghasilan === ""
      ) {
        return (this.subTotalPrice * this.pajak_penghasilan_value) / 100;
      }

      return (this.subTotalPrice * this.pajak_penghasilan_value) / 100;
    },

    // Total PPN + PPH
    totalPajakPrice() {
      return this.totalPajak + this.totalPajakPenghasilan;
    },

    totalTransaksiPrice() {
      if (this.jenis_pajak === "Pajak Daerah - Dipungut oleh Ritel Daring") {
        if(this.pajak_penghasilan !== "PPh Pasal 22 (UP) - Dipungut oleh Ritel Daring") {
          return this.subTotalPrice + this.totalPajak;
        } else {
          return this.subTotalPrice + this.totalPajak + this.totalPajakPenghasilan;
        }
      }

      if (
        this.jenis_pajak === "PPN (UP) - Dipungut oleh Ritel Daring" ||
        this.jenis_pajak === "Pajak Daerah - Dipungut oleh Ritel Daring"
      ) {
        return this.subTotalPrice + this.totalPajakPrice;
      }

      return this.subTotalPrice + this.totalPajak;
    },

    totalPembayaranPrice() {
      if (this.jenis_pajak === "Pajak Daerah - Dipungut oleh Ritel Daring") {
        if(this.pajak_penghasilan !== "PPh Pasal 22 (UP) - Dipungut oleh Ritel Daring") {
          return this.totalTransaksiPrice - this.totalPajakPenghasilan;
        } else {
          return this.totalTransaksiPrice;
        }
      }

      if (
        this.jenis_pajak === "PPN (UP) - Dipungut oleh Ritel Daring" ||
        this.jenis_pajak === "Pajak Daerah - Dipungut oleh Ritel Daring"
      ) {
        return this.subTotalPrice + this.totalPajakPrice;
      }

      return this.subTotalPrice - this.totalPajakPenghasilan;
    },
  },
};
</script>

<style scope>
label.card {
  border: 2px solid #b0b0b0;
}

.__form-check:checked + .card {
  border: 2px solid var(--primary-color);
  background-color: var(--primary-color);
  color: #fff;
  /* color: var(--primary-color); */
}

.pac-container {
  background-color: #fff;
  z-index: 20;
  position: fixed;
  display: inline-block;
  float: left;
}

.modal {
  z-index: 20;
}

.modal-backdrop {
  z-index: 10;
}
</style>
