<template>
    <Navbar />
    <div class="container my-4">
        <div class="row">
            <div class="col-lg-4">
                <swiper :style="{
                    '--swiper-navigation-color': '#fff',
                    '--swiper-pagination-color': '#fff',
                }" :loop="true" :spaceBetween="10" :navigation="true" :thumbs="{ swiper: thumbsSwiper }"
                    :modules="modules" class="mySwiper2">
                    <swiper-slide v-for="item in product.image" v-bind:key="item"><img :src="item" /></swiper-slide>
                </swiper>
                <swiper @swiper="setThumbsSwiper" :loop="true" :spaceBetween="10" :slidesPerView="4" :freeMode="true"
                    :watchSlidesProgress="true" :modules="modules" class="mySwiper">
                    <swiper-slide v-for="item in product.image" v-bind:key="item"><img :src="item" /></swiper-slide>
                </swiper>

                <div class="my-2 d-flex justify-content-between">
                    <div class="rating my-auto">
                        <!-- <img :src="require('@/assets/images/icon/star.svg')" class="img-fluid">
                        <img :src="require('@/assets/images/icon/star.svg')" class="img-fluid">
                        <img :src="require('@/assets/images/icon/star.svg')" class="img-fluid">
                        <img :src="require('@/assets/images/icon/star.svg')" class="img-fluid">
                        <img :src="require('@/assets/images/icon/star.svg')" class="img-fluid"> -->
                        <div class="rating my-1">
                            <!-- <span>{{ rating }}</span> -->
                            <span class="Stars" :title="product.rating" :style="'--rating:' + product.rating"
                                :aria-label="'Rating ' + product.rating + ' dari ' + '5'"
                                style="font-size: 25px"></span>
                        </div>
                    </div>
                    <div class="whistlist">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" style="width:30px" fill="#EF144A">

                            <path
                                d="M0 190.9V185.1C0 115.2 50.52 55.58 119.4 44.1C164.1 36.51 211.4 51.37 244 84.02L256 96L267.1 84.02C300.6 51.37 347 36.51 392.6 44.1C461.5 55.58 512 115.2 512 185.1V190.9C512 232.4 494.8 272.1 464.4 300.4L283.7 469.1C276.2 476.1 266.3 480 256 480C245.7 480 235.8 476.1 228.3 469.1L47.59 300.4C17.23 272.1 .0003 232.4 .0003 190.9L0 190.9z" />
                        </svg>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 description">
                <h1>{{ product.title }}</h1>
                <h1>Rp {{ parseInt(product.show_price).toString().replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.") }}
                </h1>


                <div class="row justify-content-between my-4">
                    <div class="col-6 mb-3">
                        <h6>Stok</h6>
                    </div>
                    <div class="col-6 mb-3">
                        <!-- <h6 v-if="product.info_stok === 'Selalu Tersedia'">{{ product.info_stok }}</h6>
                        <h6 v-else-if="product.info_stok === 'Tidak Tersedia'">{{ product.info_stok }}</h6> -->
                        <h6>{{ product.stok < 1 ? 'Habis' : product.stok }}</h6>
                    </div>

                    <!-- <div class="col-6 mb-3">
                        <h6>Variasi</h6>
                    </div>
                    <div class="col-6 mb-3">
                        <div class="row">
                            <div class="col-6">
                                <input type="radio" class="__form-check" id="waktu_1" value="">
                                <label for="waktu_1" class="__card-radio">
                                    <h6>Public Low</h6>
                                </label>
                            </div>
                            <div class="col-6">
                                <input type="radio" class="__form-check" id="waktu_2" value="">
                                <label for="waktu_2" class="__card-radio">
                                    <h6>Public High</h6>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="col-6 mb-3">
                        <h6>Ukuran</h6>
                    </div>
                    <div class="col-6 mb-3">
                        <div class="row">
                            <div class="col-4 mb-2" v-for="(item, index) in 4" v-bind:key="item">
                                <input type="radio" class="__form-check" :id="'waktu_' + index" :value="index">
                                <label :for="'waktu_' + index" class="__card-radio">
                                    <h6>4{{ index }}</h6>
                                </label>
                            </div>
                        </div>
                    </div> -->

                    <div class="col-6 mb-3" v-show="product.stok > 0">
                        <h6>Total Pesanan</h6>
                    </div>
                    <div class="col-6 mb-3" v-show="product.stok > 0">
                        <b-input-group>
                            <b-input-group-prepend>
                                <b-button variant="outline-secondary" @click="decrement">-</b-button>
                            </b-input-group-prepend>
                            <b-form-input type="number" min="0.00" v-model="qty" style="text-align:center" readonly></b-form-input>
                            <b-input-group-append>
                                <b-button variant="outline-secondary" @click="increment">+</b-button>
                            </b-input-group-append>
                        </b-input-group>
                    </div>

                    <div class="col-6 mb-3">
                        <h6>Asal Produk</h6>
                    </div>
                    <div class="col-6 mb-3">
                        <h6>Produk Dalam Negeri</h6>
                    </div>

                    <div class="col-6" v-show="product.stok > 0">
                        <button @click.prevent="simpan" :disabled="product.stok <= 0" class="btn __btn-primary w-100">Tambah ke Keranjang</button>
                    </div>
                    <div class="col-6">
                        <button class="btn __btn-outline-primary w-100" @click="sendChat">Chat Pemasok</button>
                    </div>
                </div>

            </div>

            <div class="col-lg-3">
                <div class="card mb-3" style="border: 1px solid #4C2A86">
                    <div class="card-body">
                        <img :src="product.logo" class="d-block mx-auto rounded-circle mb-2" width="150" height="150" style="border:1px solid var(--primary-color)">

                        <div class="text-center my-2">
                            <router-link style="text-decoration:none;color:black;" :to="'/toko/' + product.id_users">
                                <h6 class="m-0">{{product.nama_toko}}</h6>
                            </router-link>
                            <span style="color:#505E6B">{{product.lokasi_penjual}}</span>
                            <div class="rating my-1">
                                <span class="Stars" :title="toko.rating" :style="'--rating:' + toko.rating"
                                    :aria-label="'Rating ' + toko.rating + ' dari ' + '5'"
                                    style="font-size: 20px"></span>
                                <span style="color:#505E6B">({{toko.rating_count}})</span>
                            </div>
                            <div class="row mt-3">
                                <div class="col-6">
                                    <h6 class="m-0 font-weight-bold">{{toko.produk_terjual}}</h6>
                                    <span style="color:#505E6B">Produk Terjual</span>
                                </div>
                                <div class="col-6">
                                    <h6 class="m-0 font-weight-bold">{{toko.transaksi}}</h6>
                                    <span style="color:#505E6B">Transaksi</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card" style="border: 1px solid #4C2A86">
                    <div class="card-body">
                        <table class="table m-0">
                            <tr>
                                <td>Satuan</td>
                                <td>:</td>
                                <td>{{product.satuan}}</td>
                            </tr>
                            <tr>
                                <td>Berat</td>
                                <td>:</td>
                                <td>{{product.berat}} g</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-lg-12 mt-3">
                <b-tabs content-class="mt-3">
                    <b-tab title="Deskripsi" active>
                        <p>
                            {{ product.deskripsi }}
                        </p>
                    </b-tab>
                    <b-tab title="Garansi">
                        <p>{{ product.garansi }}</p>
                    </b-tab>
                    <b-tab title="Ulasan Pembeli">
                        <div class="mb-3" v-for="item in ulasan" v-bind:key="item.id">
                            <div class="row">
                                <div class="col-lg-1 col-2">
                                    <img :src="item.user_image" class="img-fluid rounded-circle">
                                </div>
                                <div class="col-lg-8 col-8">
                                    <span class="d-block">{{ item.name }}</span>
                                    <div class="rating my-1">
                                        <span>{{ rating }}</span>
                                        <span class="Stars" :title="item.rating" :style="'--rating:' + item.rating"
                                            :aria-label="'Rating ' + item.rating + ' dari ' + '5'"></span>
                                    </div>
                                    <span class="d-block mb-2" style="color:#505E6B;font-size:14px;">{{ item.created_at
                                    }}</span>

                                    <p>{{ item.comment }}</p>

                                    <div class="row">
                                        <div class="col-lg-3">
                                            <div class="d-flex justify-content-between">
                                                <img :src="image" v-for="image in item.image"
                                                    class="img-fluid w-50 rounded me-1" v-bind:key="image">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </b-tab>
                </b-tabs>

            </div>
        </div>
    </div>
</template>
<script>
// Import Swiper Vue.js components
import { Swiper, SwiperSlide } from 'swiper/vue';

// Import Swiper styles
import 'swiper/css';
import "swiper/css/free-mode"
import "swiper/css/navigation"
import "swiper/css/thumbs"

// import required modules
import { FreeMode, Navigation, Thumbs } from 'swiper';
import axios from 'axios';
import Navbar from '@/v2/components/Navbar.vue';

export default {
    data() {
        return {
            qty: 1,
            product: [],
            ulasan: [],
            toko: [],
            token: localStorage.getItem("token"),
        }
    },
    components: {
        Swiper,
        SwiperSlide,
        Navbar
    },
    setup() {
        let thumbsSwiper = null;

        const setThumbsSwiper = (swiper) => {
            thumbsSwiper = swiper;
        }

        return {
            modules: [FreeMode, Navigation, Thumbs],
        };
    },

    methods: {
        decrement() {
            if (this.qty === 0) {
                this.$swal({
                    icon: 'error',
                    title: 'Quantity tidak boleh minus'
                });
            } else {
                this.qty--;
            }

        },

        increment() {
            if (this.qty >= this.product.stok) {
                this.$swal({
                    icon: 'error',
                    title: 'Quantity tidak boleh lebih dari stok'
                });
            } else {
                this.qty++;
            }
        },

        redirectToLogin() {
            window.location.replace = "/login"
        },

        async simpan() {
            axios.post("/api/v1/cart",
                {
                    id_penjual: this.product.id_users,
                    id_products: this.product.id,
                    qty: this.qty,
                    type: "cart",
                }, {
                headers: {
                    'Authorization': 'Bearer ' + this.token
                }
            }).then((resp) => {
                this.$swal({
                    icon: 'success',
                    title: resp.data.message,
                });
                return this.$router.push({ path: '/cart' });
            }).catch((err) => {
                if (err.response.data.message == "Unauthenticated.") {
                    this.$swal({
                        icon: 'warning',
                        title: 'Gagal Menambahkan',
                        showConfirmButton: false,
                        html: "Harus login sebelum menambahkan produk ke keranjang." + '<br><br><a href="/login"><button type="button" class="btn __btn-outline-primary py-2 px-4 rounded-pill">Masuk</button></a>',
                    });
                }
            })
        },

        sendChat() {
            if (this.token) {
                this.$router.push({ name: "dashboardChatRoom", query: { target_id: this.product.id_users } })
            } else {
                this.$swal({
                    icon: 'warning',
                    title: 'Gagal Mengirim Pesan',
                    showConfirmButton: false,
                    html: "Harus login sebelum chat penjual." + '<br><br><a href="/login"><button type="button" class="btn __btn-outline-primary py-2 px-4 rounded-pill">Masuk</button></a>',
                });

            }
        }
    },



    mounted() {
        axios.get("/api/v1/product/" + this.$route.params.id).then((resp) => {
            this.toko = resp.data.data.toko;
            this.product = resp.data.data;
        });


        axios.get("/api/v1/ulasan/" + this.$route.params.id).then((resp) => {
            this.ulasan = resp.data.data;
        })
    },
}
</script>

<style scope>
.whistlist {
    opacity: .5;
    transition: .5s ease;
}

.whistlist:hover {
    opacity: 1;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 24px;
}

.swiper {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

.swiper-slide {
    background-size: cover;
    background-position: center;
}

.mySwiper2 {
    height: auto;
    width: 100%;
}

.mySwiper {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
}

.mySwiper .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
}

.mySwiper .swiper-slide-active {
    opacity: 1;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.description h1 {
    font-size: 20px;
    font-weight: 600;
}

.description .col-6 h6 {
    font-size: 16px;
}

.description .col-6:nth-child(odd) h6 {
    color: #505E6B;
}


.Stars {
    --percent: calc(var(--rating) / 5 * 97%);
    display: inline-block;
    font-size: var(--star-size);
    font-family: Times;
    line-height: 1;
    -webkit-text-stroke: 1px #FFA200;
}

.Stars::before {
    content: "★★★★★";
    letter-spacing: 3px;
    background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
</style>
