<template>
    <Navbar />
    <div class="container my-4">
        <div class="row">
            <div class="col-lg-12">
                <!-- <img :src="require('@/assets/images/slide-8.jpg')" class="img-fluid w-100"> -->

                <div class="card" style="background-color:#FAFAFA;border:1px solid transparent">
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <div class="me-5">
                                <div class="d-flex">
                                    <div class="me-4">
                                        <img :src="product.logo" style="width:91px;height:91px" class="rounded-circle">
                                    </div>
                                    <div class="my-auto">
                                        <h6 class="m-0">{{product.nama_usaha}}</h6>
                                        <span style="color:#505E6B" class="d-block">{{product.alamat}}</span>
                                        <span style="color:#505E6B">{{product.telepon}}</span>
                                    </div>
                                </div>
                            </div>

                            <div class="my-auto">
                                <div>
                                    <h6 class="m-0">Penilaian</h6>
                                    <div class="rating my-1">
                                        <span class="Stars" :title="product.rating"
                                            :style="'--rating:' + product.rating"
                                            :aria-label="'Rating ' + product.rating + ' dari ' + '5'"
                                            style="font-size: 20px"></span>
                                        <span style="color:#505E6B">({{product.rating_count}})</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="title d-flex justify-content-between my-4 title">
                    <h2 class="my-auto">Semua Produk</h2>
                    <div>
                        <h6>Urutkan</h6>
                        <select name="" class="form-select __form-select form-select-sm">
                            <option value="" selected disabled>Paling Sesuai</option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-2 col-6 mb-3" v-for="item in product.products" v-bind:key="item">
                        <ProductCard :slug="item.slug" :id="item.id" :image="item.image[0]" :title="item.title"
                            :toko="item.nama_toko" :price="item.show_price" :lokasi_penjual="item.lokasi_penjual" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import ProductCard from '@/components/card/ProductCard.vue';
import axios from "axios";
import Navbar from '@/v2/components/Navbar.vue';
export default {
    data() {
        return {
            product: [],
            category: [],
        }
    },
    components: { ProductCard, Navbar },
    mounted() {
        axios.get("/api/v1/product/toko/" + this.$route.params.id).then((resp) => {
            this.product = resp.data.data
        });


    },
}
</script>

<style scope>
.__card {
    border: 1px solid var(--primary-color);
    border-radius: 8px;
}

.__card .card-body {
    padding: 10px;
}

.__card .card-body h6 {
    font-weight: 600;
    font-size: 16px;
}

.__card .card-body h5 {
    font-size: 17px;
    font-weight: 600;
}

div.title h2 {
    font-size: 24px;
}

div.title>div h6 {
    display: inline-block;
    font-size: 15px;
    font-weight: 600;
}

div.title>div select {
    display: inline-block;
}

.Stars {
    --percent: calc(var(--rating) / 5 * 97%);
    display: inline-block;
    font-size: var(--star-size);
    font-family: Times;
    line-height: 1;
    -webkit-text-stroke: 1px #FFA200;
}

.Stars::before {
    content: "★★★★★";
    letter-spacing: 3px;
    background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
</style>
