<template>
  <Navbar />

  <div class="container my-5">
    <div class="d-flex justify-content-center position-relative">
      <div class="my-auto me-4">
        <h5 class="text-center" style="color: var(--primary-color)">Pesanan</h5>
        <button
          class="btn btn-primary position-absolute"
          style="right: 0; top: 0"
          @click="generateReport()"
        >
          <i class="fas fa-download px-2"></i> Download PDF
        </button>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-6">
            <table>
              <tr>
                <td style="width: 160px">Nomor Pesanan</td>
                <td>:</td>
                <td>{{ pesanan.no_pesanan }}</td>
              </tr>
              <tr>
                <td style="width: 160px">Tanggal Pesanan</td>
                <td>:</td>
                <td>{{ pesanan.created_at }}</td>
              </tr>
              <tr>
                <td style="width: 160px">Status Pesanan</td>
                <td>:</td>
                <td>
                  <template v-if="pesanan.status == 'pesanan_selesai'">
                    <span v-if="pesanan.payment_status == 'waiting_for_payment'">
                      Pesanan Diterima
                    </span>
                    <span v-else-if="pesanan.payment_status == 'paid'">
                      Pembayaran Diterima
                    </span>
                    <span v-else> Pesanan Selesai </span>
                  </template>
                  <span v-else-if="pesanan.status === 'permintaan_rfq'">
                    Permintaan RFQ
                  </span>
                  <span v-else-if="pesanan.status === 'proses_permintaan_rfq'">
                    Permintaan RFQ
                  </span>
                  <span v-else-if="pesanan.status === 'pesanan_dibuat'">
                    Permintaan Pesanan
                  </span>
                  <span v-else-if="pesanan.status === 'pesanan_terbuat'">
                    Permintaan Pesanan
                  </span>
                  <span v-else-if="pesanan.status === 'pesanan_ditolak'">
                    Ditolak Pemasok
                  </span>
                  <span v-else-if="pesanan.status === 'pesanan_diterima'">
                    Konfirmasi Terima Pesanan
                  </span>
                  <span v-else-if="pesanan.status === 'pesanan_dikomplain'">
                    Pesanan Dikomplain
                  </span>
                  <span v-else-if="pesanan.status === 'permintaan_rfq_diterima'">
                    Menunggu Persetujuan Pembeli
                  </span>
                  <span v-else-if="pesanan.status == 'permintaan_rfq_ditolak'">
                    Permintaan RFQ Ditolak Pemasok
                  </span>
                </td>
              </tr>
            </table>
          </div>

          <div class="col-6">
            <table>
              <tr>
                <td style="width: 160px">Nama Pemasok</td>
                <td>:</td>
                <td>{{ penjual.nama_usaha }}</td>
              </tr>
              <tr v-show="jasa_products.type_jasa !== 'pesan_hotel' && jasa_products.type_jasa !== 'pesan_tiket_pesawat'">
                <td style="width: 160px">Lokasi Pemasok</td>
                <td>:</td>
                <td>{{ alamat_penjual && alamat_penjual.city_name }}</td>
              </tr>
              <!-- <tr>
                                <td style="width: 160px;">Kode Referral</td>
                                <td>:</td>
                                <td>
                                    -
                                </td>
                            </tr> -->
            </table>
          </div>
        </div>
      </div>

      <!--
            <div class="col-6 mb-3">
                <span>Lokasi Pemasok : {{ penjual.penjual }}</span>
            </div> -->
    </div>

    <div class="row mt-4">
      <h6 class="mb-4 title">Informasi Pembeli</h6>
      <div class="col-lg-4 mb-3">
        <label for="">Nama Pemesan</label>
        <input
          type="text"
          v-model="pesanan.nama_pemesan"
          class="__form-control form-control text-dark"
          :disabled="pesanan.status != 'pesanan_dibuat'"
        />
      </div>
      <div class="col-lg-4 mb-3">
        <label for="">Telepon Pemesan</label>
        <input
          type="text"
          v-model="pesanan.no_telp_pemesan"
          class="__form-control form-control text-dark"
          :disabled="pesanan.status != 'pesanan_dibuat'"
        />
      </div>

      <div class="col-lg-4 mb-3">
        <label for="">Email Pemesan</label>
        <input
          type="text"
          v-model="pesanan.email_pemesan"
          class="__form-control form-control text-dark"
          :disabled="pesanan.status != 'pesanan_dibuat'"
        />
      </div>
      <div class="col-lg-4 mb-3">
        <label for="">Asal Instansi</label>
        <textarea
          type="text"
          rows="5"
          v-model="pesanan.asal_pemesan"
          class="__form-control form-control text-dark"
          :disabled="pesanan.status != 'pesanan_dibuat'"
        ></textarea>
      </div>
      <div class="col-lg-4 mb-3">
        <label for="">Alamat Instansi</label>
        <textarea
          type="text"
          rows="5"
          v-model="pesanan.alamat_pemesan"
          class="__form-control form-control text-dark"
          :disabled="pesanan.status != 'pesanan_dibuat'"
        ></textarea>
      </div>
      <div class="col-lg-4 mb-3">
        <label for="">Informasi Transaksi</label>
        <textarea
          type="text"
          rows="5"
          v-model="pesanan.untuk_keperluan"
          class="__form-control form-control text-dark"
          :disabled="pesanan.status != 'pesanan_dibuat'"
        ></textarea>
      </div>

      <template v-if="isJasaProduct && (jasa_products.type_jasa == 'pesan_hotel' || jasa_products.type_jasa == 'pesan_tiket_pesawat')">
        <div class="col-lg-6 mb-3">
          <label for="">Kartu Identitas Pegawai (format pdf)</label>
          <input
            type="file"
            accept=".pdf"
            @change="changeFile($event, 'kartu_identitas_pegawai')"
            class="__form-control form-control text-dark"
            :disabled="pesanan.status != 'pesanan_dibuat'"
          />
        </div>
        <div class="col-lg-6 mb-3">
          <label for="">Surat Dinas (format pdf)</label>
          <input
            type="file"
            accept=".pdf"
            @change="changeFile($event, 'surat_dinas')"
            class="__form-control form-control text-dark"
            :disabled="pesanan.status != 'pesanan_dibuat'"
          />
        </div>
      </template>
    </div>

    <h6 class="title mb-4 mt-3">Informasi Pembayaran</h6>

    <div class="d-flex">
      <div class="me-2">
        <label for="">Metode Pembayaran</label>
        <select
          v-model="pesanan.metode_pembayaran"
          class="__form-control rounded form-select text-dark"
          style="width: 500px"
          :disabled="pesanan.status != 'pesanan_dibuat'"
        >
          <!-- <option v-if="isJasaProduct" value="Selesaikan Pembayaran Dalam 60 Menit">
            Selesaikan Pembayaran Dalam 60 Menit
          </option> -->
          <option value="Pembayaran Bertempo">Pembayaran Bertempo</option>
          <option v-if="isJasaProduct && (
            jasa_products.type_jasa == 'pesan_hotel' ||
            jasa_products.type_jasa == 'pesan_tiket_pesawat'
          )" value="Pembayaran Langsung">
            Pembayaran Langsung
          </option>
          <option v-if="!isJasaProduct" value="Bayar Saat Terima Pesanan (COD)">
            Bayar Saat Terima Pesanan (COD)
          </option>
        </select>
      </div>
      <div v-if="pesanan.metode_pembayaran === 'Pembayaran Bertempo'">
        <label for="">Hari</label>
        <input
          type="number"
          v-model="pesanan.hari"
          class="__form-control rounded form-control text-dark"
          style="width: 100px"
          :disabled="pesanan.status != 'pesanan_dibuat'"
        />
      </div>
    </div>

    <div class="mt-4">
      <table class="table table-bordered __table-pesanan">
        <thead>
          <tr>
            <th scope="col">No.</th>
            <th scope="col">
              <template v-if="!isJasaProduct"> Produk </template>
              <template v-else>
                <template v-if="jasa_products.type_jasa == 'tiket_bus_travel'"
                  >Bus</template
                >
                <template
                  v-else-if="
                    jasa_products.type_jasa == 'antar_jemput_bandara' ||
                    jasa_products.type_jasa == 'sewa_kendaraan'
                  "
                  >Kendaraan</template
                >
                <template v-else-if="jasa_products.type_jasa == 'pesan_hotel'"
                  >Nama Hotel</template
                >
                <template v-else>Penerbangan</template>
              </template>
            </th>
            <th scope="col">
              <template v-if="!isJasaProduct"> Kuantitas </template>
              <template v-else>
                <template v-if="jasa_products.type_jasa == 'tiket_bus_travel'"
                  >Keberangkatan - Tanggal</template
                >
                <template v-else-if="jasa_products.type_jasa == 'sewa_kendaraan'"
                  >Kabupaten/Kota - Tanggal</template
                >
                <template v-else-if="jasa_products.type_jasa == 'antar_jemput_bandara'"
                  >Keberangkatan</template
                >
                <template v-else-if="jasa_products.type_jasa == 'pesan_hotel'"
                  >Checkin - Checkout</template
                >
                <template v-else>
                  Keberangkatan
                  <span v-if="jasa_products.type !== 'ONEWAY'">-Kepulangan</span>
                </template>
              </template>
            </th>
            <th scope="col">
              <template v-if="!isJasaProduct"> Harga Satuan </template>
              <template v-else>
                <template
                  v-if="
                    jasa_products.type_jasa == 'antar_jemput_bandara' ||
                    jasa_products.type_jasa == 'sewa_kendaraan'
                  "
                  >Penumpang</template
                >
                <template v-else-if="jasa_products.type_jasa == 'pesan_hotel'"
                  >Data Tamu</template
                >
                <template v-else>Penumpang - Tanggal Lahir</template>
              </template>
            </th>
            <th scope="col">Total Harga</th>
          </tr>
        </thead>
        <tbody>
          <template v-if="!isJasaProduct">
            <tr v-for="(item, index) in products" v-bind:key="item">
              <td class="fw-bold">{{ index + 1 }}</td>
              <td>
                <div class="d-flex prod">
                  <img :src="item.product.image[0]" class="rounded" width="100" />
                  <div class="my-auto">
                    <span>{{ item.product.title }}</span>
                    <span>Produk Dalam Negeri</span>
                    <!-- <span>TKDN (%): 100</span> -->
                    <span>Berat: {{ item.product.berat / 1000 }} kg</span>
                  </div>
                </div>
              </td>
              <td>{{ item.qty }}</td>
              <td>
                <div class="d-flex justify-content-between">
                  <div>Rp</div>
                  <div>
                    {{
                      item.harga_satuan
                        .toString()
                        .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                    }}
                  </div>
                </div>
              </td>
              <td>
                <div class="d-flex justify-content-between">
                  <div>Rp</div>
                  <div>
                    {{
                      (item.harga_satuan * item.qty)
                        .toString()
                        .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                    }}
                  </div>
                </div>
              </td>
            </tr>
          </template>
          <template v-else>
            <template v-if="jasa_products.type_jasa == 'tiket_bus_travel'">
              <tr>
                <td scope="row">1</td>
                <td>
                  <div class="d-flex prod">
                    <img
                      :src="jasa_products.product.image[0]"
                      class="rounded"
                      width="100"
                      height="50"
                    />
                    <div class="my-auto">
                      <span class="fw-bold">{{ jasa_products.product.name }}</span>
                      <span>{{ jasa_products.passenger_count }} Orang</span>
                      <!-- <span>TKDN (%): 100</span> -->
                      <!-- <span>Berat: {{ item.product.berat / 1000 }} kg</span> -->
                    </div>
                  </div>
                </td>
                <td>
                  <div class="d-flex gap-2 justify-content-center fw-bold">
                    <span>{{ jasa_products.product.keberangkatan.name }}</span>
                    <span class="fw-normal">-</span>
                    <span>{{ jasa_products.product.tujuan.name }}</span>
                  </div>

                  <div class="d-flex gap-2 justify-content-center">
                    <span class="fw-normal">{{
                      formatBirthDate(jasa_products.tanggal.berangkat)
                    }}</span>
                  </div>
                </td>
                <td>
                  <template v-for="passenger in jasa_products.passengers">
                    <div>
                      {{ passenger.first_name }} {{ passenger.last_name }}
                      <small class="ms-2 text-muted">{{
                        formatBirthDate(passenger.birth_date)
                      }}</small>
                    </div>
                  </template>
                </td>
                <td>
                  <div class="d-flex justify-content-between">
                    <div>Rp</div>
                    <div>{{ jasa_products.product.show_price }}</div>
                  </div>
                </td>
              </tr>
            </template>
            <template v-else-if="jasa_products.type_jasa == 'sewa_kendaraan'">
              <tr>
                <td scope="row">1</td>
                <td>
                  <div class="d-flex prod">
                    <img
                      :src="jasa_products.product.image[0]"
                      class="rounded"
                      width="100"
                      height="50"
                    />
                    <div class="my-auto">
                      <span class="fw-bold">{{ jasa_products.product.name }}</span>
                      <span>{{ jasa_products.product.kapasitas }} Orang</span>
                      <!-- <span>TKDN (%): 100</span> -->
                      <!-- <span>Berat: {{ item.product.berat / 1000 }} kg</span> -->
                    </div>
                  </div>
                </td>
                <td>
                  <div class="d-flex gap-2 justify-content-center fw-bold">
                    <span>{{ jasa_products.product.kota }}</span>
                  </div>
                  <div class="d-flex gap-2 justify-content-center">
                    <span class="fw-normal">{{ jasa_products.tanggal.mulai }}</span>
                    <span class="fw-normal">-</span>
                    <span class="fw-normal">{{ jasa_products.tanggal.selesai }}</span>
                  </div>
                </td>
                <td>
                  <div>
                    {{ jasa_products.passenger.first_name }}
                    {{ jasa_products.passenger.last_name }}
                  </div>
                </td>
                <td>
                  <div class="d-flex justify-content-between">
                    <div>Rp</div>
                    <div>{{ jasa_products.product.show_price }}</div>
                  </div>
                </td>
              </tr>
            </template>
            <template v-else-if="jasa_products.type_jasa == 'antar_jemput_bandara'">
              <tr>
                <td scope="row">1</td>
                <td>
                  <div class="d-flex prod">
                    <img
                      :src="jasa_products.product.image[0]"
                      class="rounded"
                      width="100"
                      height="50"
                    />
                    <div class="my-auto">
                      <span class="fw-bold">{{ jasa_products.product.name }}</span>
                      <span>{{ jasa_products.product.kapasitas }} Orang</span>
                      <!-- <span>TKDN (%): 100</span> -->
                      <!-- <span>Berat: {{ item.product.berat / 1000 }} kg</span> -->
                    </div>
                  </div>
                </td>
                <td>
                  <div class="d-flex gap-2 justify-content-center fw-bold">
                    <span>Bandara {{ jasa_products.product.bandara }}</span>
                    <span>-</span>
                    <span>{{ jasa_products.product.kota }}</span>
                  </div>
                  <div class="d-flex gap-2 justify-content-center">
                    <span class="fw-normal">{{ jasa_products.penjemputan.tanggal }}</span>
                    <span class="fw-normal">-</span>
                    <span class="fw-normal">{{ jasa_products.penjemputan.waktu }}</span>
                  </div>
                </td>
                <td>
                  <div>
                    {{ jasa_products.passenger.first_name }}
                    {{ jasa_products.passenger.last_name }}
                  </div>
                </td>
                <td>
                  <div class="d-flex justify-content-between">
                    <div>Rp</div>
                    <div>{{ jasa_products.product.show_price }}</div>
                  </div>
                </td>
              </tr>
            </template>
            <template v-else-if="jasa_products.type_jasa == 'pesan_hotel'">
              <tr>
                <td scope="row">1</td>
                <td>
                  <div class="d-flex prod">
                    <img
                      :src="jasa_products.image"
                      class="rounded"
                      width="100"
                      height="50"
                    />
                    <div class="my-auto">
                      <span class="fw-semibold">{{ jasa_products.hotel_name }}</span>
                      <span>{{ jasa_products.room_name }}</span>
                      <!-- <span>TKDN (%): 100</span> -->
                      <!-- <span>Berat: {{ item.product.berat / 1000 }} kg</span> -->
                    </div>
                  </div>
                </td>
                <td>
                  <!-- {{ jasa_products.night_count }} Malam -->
                  <span class="d-block fw-normal">{{ jasa_products.checkin }}</span>
                  <span class="d-block fw-normal">{{ jasa_products.checkout }}</span>
                </td>
                <td>
                  <div v-for="guests in jasa_products.guests" :key="guests">
                    {{ guests.title }} {{ guests.name }}
                  </div>
                </td>
                <td>
                  <div class="d-flex justify-content-between">
                    <div>Rp</div>
                    <div>
                      {{
                        parseInt(pesanan.total_harga_barang)
                          .toString()
                          .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                      }}
                    </div>
                  </div>
                </td>
              </tr>
            </template>
            <template v-else>
              <tr>
                <td scope="row">1</td>
                <td>
                  <div class="d-flex prod">
                    <img
                      :src="
                        require(`@/assets/images/transportasi/${jasa_products.offers.legs[0].carriers[0].display_code}.jpg`)
                      "
                      class="rounded px-2"
                      width="80"
                      height="50"
                    />
                    <div class="my-auto">
                      <div class="fw-semibold">
                        {{ `${jasa_products.offers.legs[0].carriers[0].name}` }}
                      </div>
                      <div
                        class="d-flex justify-content-start align-items-center gap-3 fs-3"
                      >
                        <span>{{
                          `${jasa_products.destination.from.PlaceId} ${jasa_products.destination.from.CityName}`
                        }}</span>
                        <svg
                          v-if="jasa_products.type === 'ONEWAY'"
                          style="width: 1rem"
                          xmlns="http://www.w3.org/2000/svg"
                          viewBox="0 0 24 24"
                          data-rtl-flip="true"
                        >
                          <path
                            d="M23.25 11.747H.75a.75.75 0 0 0 0 1.5h22.5a.75.75 0 0 0 0-1.5zm-3.22 5.03l3.75-3.75a.75.75 0 0 0 0-1.06l-3.75-3.75a.75.75 0 1 0-1.06 1.06l3.75 3.75v-1.06l-3.75 3.75a.75.75 0 1 0 1.06 1.06z"
                          ></path>
                        </svg>
                        <svg
                          v-else
                          style="width: 1rem"
                          xmlns="http://www.w3.org/2000/svg"
                          viewBox="0 0 24 24"
                        >
                          <path
                            d="M10.5 15.75h12.75a.75.75 0 0 0 0-1.5H10.5a.75.75 0 0 0 0 1.5zm9.22-3.22l3 3v-1.06l-3 3a.75.75 0 1 0 1.06 1.06l3-3a.75.75 0 0 0 0-1.06l-3-3a.75.75 0 1 0-1.06 1.06zM13.5 8.25H.75a.75.75 0 0 0 0 1.5H13.5a.75.75 0 0 0 0-1.5zm-9.22 3.22l-3-3v1.06l3-3a.75.75 0 0 0-1.06-1.06l-3 3a.75.75 0 0 0 0 1.06l3 3a.75.75 0 0 0 1.06-1.06z"
                          ></path>
                        </svg>
                        <span>
                          {{
                            `${jasa_products.destination.to.PlaceId}
                            ${jasa_products.destination.to.CityName}`
                          }}
                        </span>
                      </div>

                      <span>{{ jasa_products.room_name }}</span>
                    </div>
                  </div>
                </td>
                <td>
                  <template v-if="jasa_products.type === 'ONEWAY'">
                    <strong class="d-block">{{
                      `${formatDateDay(jasa_products.offers.legs[0].departure)}`
                    }}</strong>
                    <span>{{
                      `${formatTime(jasa_products.offers.legs[0].departure)} - ${formatTime(jasa_products.offers.legs[0].arrival)}`
                    }}</span>
                  </template>
                  <div
                    v-else
                    class="d-flex justify-content-center align-items-center gap-3"
                  >
                    <span>{{
                      `${departReturnDateFormat(jasa_products.date.depart)}`
                    }}</span>
                    <svg
                      style="width: 1rem"
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 24 24"
                    >
                      <path
                        d="M10.5 15.75h12.75a.75.75 0 0 0 0-1.5H10.5a.75.75 0 0 0 0 1.5zm9.22-3.22l3 3v-1.06l-3 3a.75.75 0 1 0 1.06 1.06l3-3a.75.75 0 0 0 0-1.06l-3-3a.75.75 0 1 0-1.06 1.06zM13.5 8.25H.75a.75.75 0 0 0 0 1.5H13.5a.75.75 0 0 0 0-1.5zm-9.22 3.22l-3-3v1.06l3-3a.75.75 0 0 0-1.06-1.06l-3 3a.75.75 0 0 0 0 1.06l3 3a.75.75 0 0 0 1.06-1.06z"
                      ></path>
                    </svg>
                    <span>{{
                      `${departReturnDateFormat(jasa_products.date.return)}`
                    }}</span>
                  </div>
                </td>
                <td>
                  <div
                    v-for="(adults, adultsIndex) in jasa_products.passengers.adults"
                    :key="adultsIndex"
                  >
                    <strong class="me-2"
                      >{{ adults.first_name }} {{ adults.last_name }}</strong
                    >
                    <span style="font-size: 12px">{{
                      formatBirthDate(adults.birth_date)
                    }}</span>
                  </div>
                  <div
                    v-for="(children, childrenIndex) in jasa_products.passengers.children"
                    :key="childrenIndex"
                  >
                    {{ children.first_name }} {{ children.last_name }}
                    <span style="font-size: 12px">{{
                      formatBirthDate(children.birth_date)
                    }}</span>
                  </div>
                </td>
                <td>
                  <div class="d-flex justify-content-between">
                    <div>Rp</div>
                    <div>
                      {{
                        parseInt(pesanan.total_harga_barang)
                          .toString()
                          .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                      }}
                    </div>
                  </div>
                </td>
              </tr>
            </template>
          </template>

          <tr style="background-color: #fdf6a1">
            <td colspan="4">Total Harga Produk</td>
            <td>
              <div class="d-flex justify-content-between">
                <div>Rp</div>
                <div>
                  {{
                    parseInt(pesanan.total_harga_barang)
                      .toString()
                      .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                  }}
                </div>
              </div>
            </td>
          </tr>

          <tr v-if="!isJasaProduct" style="background-color: #fdf6a1">
            <td colspan="4">
              <div class="row justify-content-center" style="text-align: left">
                <div class="col-lg-12">
                  <div>Biaya Pengiriman - {{ pesanan.kurir }}</div>
                  <div>
                    <strong>{{ pembeli.name }}</strong>
                    <span class="d-inlin-block mx-2">{{ pembeli.no_telp }}</span>
                    <strong>{{ pembeli.email }}</strong>
                  </div>
                  <div v-if="alamat != null">
                    {{ alamat.alamat }}, {{ alamat.province_name }},
                    {{ alamat.city_name }}
                    {{ alamat.kodepos }}
                  </div>
                </div>
              </div>
            </td>
            <td class="align-middle">
              <div class="d-flex justify-content-between">
                <div>Rp</div>
                <div>
                  {{
                    pesanan.total_harga_kurir
                      ? parseInt(pesanan.total_harga_kurir)
                          .toString()
                          .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                      : 0
                  }}
                </div>
              </div>
            </td>
          </tr>

          <tr style="background-color: #e5e5e5">
            <td colspan="4">Sub Total</td>
            <td class="align-middle">
              <div class="d-flex justify-content-between">
                <div>Rp</div>
                <div>
                  {{
                    pesanan.subtotal
                      ? parseInt(pesanan.subtotal)
                          .toString()
                          .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                      : 0
                  }}
                </div>
              </div>
            </td>
          </tr>

          <tr style="background-color: #e5e5e5">
            <td colspan="4">
              <div class="row justify-content-center" style="text-align: left">
                <div class="col-lg-12">
                  <div class="row">
                    <div class="col-10">
                      <label for="">Jenis Pajak</label>
                      <input
                        type="text"
                        class="__form-control"
                        :value="pesanan.jenis_pajak"
                        disabled
                      />
                    </div>
                    <div class="col-2">
                      <label for="" style="color: #e5e5e5">.</label>
                      <input
                        type="text"
                        class="__form-control"
                        :value="pesanan.jenis_pajak_value + '%'"
                        disabled
                      />
                    </div>
                  </div>
                </div>
              </div>
            </td>
            <td class="align-middle">
              <div class="d-flex justify-content-between">
                <div>Rp</div>
                <div>
                  {{
                    pesanan.total_pajak
                      ? parseInt(pesanan.total_pajak)
                          .toString()
                          .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                      : 0
                  }}
                </div>
              </div>
            </td>
          </tr>
          <tr style="background-color: #e5e5e5">
            <td colspan="4">
              <div class="row justify-content-center" style="text-align: left">
                <div class="col-lg-12">
                  <div class="row">
                    <div class="col-10">
                      <label for="">Pajak Penghasilan </label>
                      <input
                        type="text"
                        class="__form-control"
                        :value="
                          pesanan.pajak_penghasilan === 'PPh'
                            ? 'PPh Pasal 22'
                            : pesanan.pajak_penghasilan
                        "
                        disabled
                      />
                    </div>
                    <div class="col-2">
                      <label for="" style="color: #e5e5e5">.</label>
                      <input
                        type="text"
                        class="__form-control"
                        :value="pesanan.pajak_penghasilan_value + '%'"
                        disabled
                      />
                    </div>
                  </div>
                </div>
              </div>
            </td>
            <td class="align-middle" style="color: #e62129">
              <div class="d-flex justify-content-between">
                <div>Rp</div>
                <div>
                  {{
                    pesanan.total_pajak_penghasilan
                      ? parseInt(pesanan.total_pajak_penghasilan)
                          .toString()
                          .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                      : 0
                  }}
                </div>
              </div>
            </td>
          </tr>
          <tr
            v-if="isJasaProduct && (
              jasa_products.type_jasa == 'pesan_hotel' ||
              jasa_products.type_jasa == 'pesan_tiket_pesawat'
            )"
            style="background-color: #fdf6a1"
          >
            <td colspan="4">
              <span v-if="pesanan.metode_pembayaran === 'Pembayaran Bertempo'">
                Biaya Layanan
              </span>
              <span v-else-if="pesanan.metode_pembayaran === 'Pembayaran Langsung'">
                Biaya Layanan
              </span>
              <span v-else>
                Biaya Layanan
              </span>
            </td>
            <td class="align-middle">
              <div class="d-flex justify-content-between">
                <div>Rp</div>
                <div>
                  {{
                    getServiceFee()
                      .toString()
                      .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                  }}
                </div>
              </div>
            </td>
          </tr>
          <tr style="background-color: #ffe5e5">
            <td colspan="4">Total Transaksi</td>
            <td class="align-middle">
              <div class="d-flex justify-content-between">
                <div>Rp</div>
                <div>
                  {{
                    pesanan.total_transaksi
                      ? parseInt(pesanan.total_transaksi)
                          .toString()
                          .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                      : 0
                  }}
                </div>
              </div>
            </td>
          </tr>
          <tr style="background-color: #ffe5e5">
            <td colspan="4">Total Pembayaran</td>
            <td class="align-middle">
              <div class="d-flex justify-content-between">
                <div>Rp</div>
                <div>
                  {{
                    pesanan.total_pembayaran
                      ? parseInt(pesanan.total_pembayaran)
                          .toString()
                          .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                      : 0
                  }}
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="mt-4">
      <div class="row">
        <div class="col-lg-4 mb-3" v-if="pesanan.resi">
          <label for="">Input Nomor Resi (Opsional)</label>
          <textarea
            v-model="pesanan.resi"
            class="__form-control"
            disabled
            placeholder="Input Nomor Resi"
            id=""
            cols="30"
            rows="4"
          ></textarea>
        </div>
        <div class="col-lg-4 mb-3">
          <label for="">Catatan untuk Pemasok (Opsional)</label>
          <textarea
            v-model="pesanan.catatan"
            :disabled="pesanan.status != 'pesanan_dibuat'"
            class="__form-control"
            placeholder="Ketik Catatan untuk Pemasok"
            id=""
            cols="30"
            rows="4"
          ></textarea>
        </div>

        <div class="col-lg-4 mb-3" v-if="pesanan.voucher_pesanan && jasa_products && (jasa_products.type_jasa == 'pesan_hotel' || jasa_products.type_jasa == 'pesan_tiket_pesawat')">
          <div class="d-flex justify-content-between mb-2">
            <label for="">Voucher Pesanan</label>
            <button @click="downloadDocuments(pesanan.voucher_pesanan, 'voucher-pesanan')" class="btn btn-sm __btn-primary">
              <i class="fas fa-download"></i>
            </button>
          </div>
          <iframe width="100%" height="70%" :src="pesanan.voucher_pesanan" />
        </div>

        <div class="col-lg-4 mb-3" v-if="pesanan.catatan_pembeli">
          <label for="">Catatan untuk Pembeli (Opsional)</label>
          <textarea
            v-model="pesanan.catatan_pembeli"
            class="__form-control"
            placeholder="Ketik Catatan untuk Pembeli"
            disabled
            id=""
            cols="30"
            rows="4"
          ></textarea>
        </div>
      </div>
    </div>

    <div class="mt-4">
      <div class="row">
        <div class="col-lg-12">
          <h6>Pelajari Lebih Lanjut</h6>
          <ol class="px-3 text-start" type="number" style="font-size: 15px">
            <li>
              Lakukan pembayaran sesuai dengan nominal yang tercantum pada total
              pembayaran.
            </li>
            <li>
              Jangka waktu pembayaran bertempo terhitung sejak pesanan diterima oleh pihak
              pembeli.
            </li>
            <li>
              Pemungutan/penyetoran/pelaporan PPN dan PPh 22 dilakukan oleh pihak
              marketplace (PMK-58/PMK.03/2022).
            </li>
            <li>
              Pemungutan/penyetoran/pelaporan Pajak Daerah dilakukan oleh pihak
              marketplace, dengan mengacu kepada aturan dan kebijakan pemerintah setempat.
            </li>
            <li>
              Pembeli dan Pemasok wajib menyetujui
              <router-link to="/syarat-ketentuan" style="color: var(--primary-color)"
                >syarat dan ketentuan</router-link
              >
              yang berlaku.
            </li>
          </ol>
        </div>
      </div>
    </div>

    <div class="mt-4">
      <div class="row justify-content-center">
        <div
          class="col-3"
          v-if="
            pesanan.status === 'pesanan_dibuat' || pesanan.status === 'pesanan_terbuat'
          "
        >
          <template v-if="pesanan.metode_pembayaran === 'Pembayaran Langsung'">
            <button
              class="btn __btn-primary w-100"
              @click.prevent="buatPesanan"
              v-if="pesanan.status === 'pesanan_dibuat'"
            >
              Lanjutkan Ke Tagihan
            </button>
          </template>
          <template v-else>
            <button
              class="btn __btn-success w-100"
              @click.prevent="buatPesanan"
              v-if="pesanan.status === 'pesanan_dibuat'"
            >
              Buat Pesanan
            </button>
          </template>

          <button
            class="btn __btn-success w-100"
            @click.prevent="buatPesanan"
            v-if="pesanan.status === 'pesanan_terbuat'"
            disabled
            style="background-color: #b0b0b0 !important; color: white"
          >
            Pesanan Terbuat
          </button>
        </div>

        <div class="col-3" v-if="pesanan.status === 'pesanan_diterima'">
          <button
            class="btn __btn-success w-100"
            style="background-color: #d64242 !important; color: white"
            data-bs-toggle="modal"
            data-bs-target="#komplainPesan"
          >
            Komplain Pesanan
          </button>
        </div>

        <div class="col-3" v-if="pesanan.status === 'pesanan_diterima'">
          <button
            class="btn __btn-success w-100"
            data-bs-toggle="modal"
            data-bs-target="#ulasanModal"
          >
            Pesanan Diterima
          </button>
        </div>

        <div class="col-3" v-if="pesanan.status === 'pesanan_dikomplain'">
          <button
            class="btn __btn-primary w-100"
            v-if="pesanan.status === 'pesanan_dikomplain'"
            data-bs-toggle="modal"
            data-bs-target="#komplainPesan"
          >
            Lihat Laporan Komplain
          </button>
        </div>

        <!-- Komplain Pesanan -->
        <div
          class="modal fade"
          id="komplainPesan"
          data-bs-backdrop="static"
          data-bs-keyboard="false"
          tabindex="-1"
          aria-labelledby="komplainPesanLabel"
          aria-hidden="true"
          v-if="
            pesanan.status === 'pesanan_dikomplain' ||
            pesanan.status === 'pesanan_diterima'
          "
        >
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="komplainPesanLabel">Laporan Komplain</h5>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
                <div class="row">
                  <div class="col-lg-6 mb-3">
                    <label for="">Permintaan Komplain Pembeli </label>
                    <select
                      class="form-select __form-select"
                      v-model="komplainn.permintaan"
                      :disabled="pesanan.status === 'pesanan_dikomplain'"
                    >
                      <option value="Penukaran Produk">Penukaran Produk</option>
                      <!-- <option value="Pengembalian Dana">Pengembalian Dana</option> -->
                    </select>
                  </div>

                  <div class="col-lg-12 mb-3">
                    <label for="">Alasan Komplain</label>
                    <textarea
                      v-model="komplainn.alasan"
                      class="__form-control"
                      rows="5"
                      placeholder="Ketik alasan komplain"
                      :disabled="pesanan.status === 'pesanan_dikomplain'"
                    ></textarea>
                  </div>

                  <div class="col-lg-6 mb-3">
                    <label for="">Upload Foto Detail Komplain (format PDF)</label>
                    <input
                      accept=".pdf"
                      type="file"
                      class="form-control"
                      @change="uploadFoto($event)"
                      :disabled="pesanan.status === 'pesanan_dikomplain'"
                    />

                    <img
                      :src="komplainFileSource"
                      alt=""
                      v-if="komplainFileSource"
                      class="img-fluid"
                    />

                    <iframe
                      :src="komplainn.foto"
                      alt=""
                      v-if="pesanan.status === 'pesanan_dikomplain'"
                      class="w-100"
                    />
                  </div>
                </div>
              </div>
              <div class="modal-footer" v-if="pesanan.status !== 'pesanan_dikomplain'">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                  Close
                </button>
                <button
                  type="button"
                  class="btn btn-primary"
                  style="background-color: var(--primary-color)"
                  @click.prevent="komplainSubmit"
                >
                  Kirim Laporan
                </button>
              </div>
            </div>
          </div>
        </div>

        <div
          class="modal fade"
          id="ulasanModal"
          data-bs-backdrop="static"
          data-bs-keyboard="false"
          tabindex="-1"
          aria-labelledby="ulasanModalLabel"
          aria-hidden="true"
          v-if="pesanan.status === 'pesanan_diterima'"
        >
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="ulasanModalLabel">Ulasan</h5>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
                <div class="row">
                  <div class="col-lg-12 mb-3">
                    <label for="">Ulasan Tentang Produk</label>
                    <textarea
                      v-model="ulasan.ulasan"
                      class="__form-control"
                      rows="5"
                      placeholder="Ketik ulasan produk"
                      :disabled="pesanan.status === 'pesanan_dikomplain'"
                    ></textarea>
                  </div>

                  <div class="col-lg-12">
                    <div class="row">
                      <div
                        class="col-lg-3 col-6 mb-3"
                        v-for="(image, key) in images"
                        v-bind:key="key"
                      >
                        <img
                          class="preview img-fluid"
                          v-bind:ref="'image' + parseInt(key)"
                          src=""
                        />
                        <button
                          class="btn btn-danger btn-sm w-100"
                          @click="deleteImage(key)"
                        >
                          Hapus Foto
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-footer" v-if="pesanan.status !== 'pesanan_dikomplain'">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                  Close
                </button>
                <button
                  type="button"
                  class="btn btn-primary d-flex gap-3 align-items-center justify-content-center"
                  :disabled="ulasan.submit"
                  style="background-color: var(--primary-color)"
                  @click.prevent="ulasanSubmit"
                >
                  <span>{{ ulasan.button }}</span>
                  <span
                    v-if="ulasan.submit"
                    class="spinner-border text-light"
                    style="width: 20px; height: 20px"
                    role="status"
                  ></span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ReportPesanan
    ref="report"
    :title="`Pesanan-${pesanan.no_pesanan}`"
    :isJasaProduct="isJasaProduct"
    :pesanan="pesanan"
    :penjual="penjual"
    :pembeli="pembeli"
    :alamat_penjual="alamat_penjual"
    :alamat="alamat"
    :products="products"
    :jasa_products="jasa_products"
  />
</template>

<script>
import axios from "axios";
import Navbar from "@/v2/components/Navbar.vue";
import ReportPesanan from "@/components/print/ReportPesanan.vue";
import dayjs from "dayjs";
import id from "dayjs/locale/id";
export default {
  components: {
    Navbar,
    ReportPesanan,
  },
  setup() {
    const formatBirthDate = (date) => {
      return dayjs(date).locale(id).format("DD MMMM YYYY");
    };

    return {
      formatBirthDate,
    };
  },
  data() {
    return {
      isJasaProduct: false,
      komplainn: {
        permintaan: "",
        alasan: "",
        foto: "",
      },
      token: localStorage.getItem("token"),
      lkpp_token: localStorage.getItem("tokenTransactionLKPP"),
      pesanan: {},
      penjual: [],
      pembeli: [],
      alamat: [],
      alamat_penjual: [],
      products: [],
      jasa_products: [],
      komplains: [],
      images: [],
      hari: 0,
      ulasan: {
        button: "Kirim Ulasan",
        submit: false,
        rating: "1",
        ulasan: "",
      },
      foto_komplain: null,
      ulasans: [],
      komplainFileSource: null,
      lkpp_items: [],
      percent_service_fee: 15,
      kartu_identitas_pegawai: null,
      surat_dinas: null,
    };
  },
  methods: {
    changeFile(event, model) {
      if(model == 'kartu_identitas_pegawai') {
        this.kartu_identitas_pegawai = event.target.files[0];
      }

      if(model == 'surat_dinas') {
        this.surat_dinas = event.target.files[0];
      }
    },

    generateReport() {
      this.$refs.report.generateReport();
    },

    async buatPesanan() {
      if (this.kartu_identitas_pegawai) {
        let formData = new FormData();
        formData.append("file", this.kartu_identitas_pegawai);
        var kartu_identitas_pegawai = await axios.post("/api/upload", formData, {
          headers: {
            "Content-Type": "multipart/form-data",
          },
        });
      }

      if (this.surat_dinas) {
        let formData = new FormData();
        formData.append("file", this.surat_dinas);
        var surat_dinas = await axios.post("/api/upload", formData, {
          headers: {
            "Content-Type": "multipart/form-data",
          },
        });
      }

      const products = []
      this.products.forEach((cart) => {
        products.push({
          id: cart.id,
          qty: cart.qty,
          new_price: cart.new_price,
          product: {
            id: cart.product.id
          },
        })
      })

      const obj = JSON.stringify({
        untuk_keperluan: this.pesanan.untuk_keperluan,
        metode_pembayaran: this.pesanan.metode_pembayaran,
        hari: this.pesanan.hari,
        catatan: this.pesanan.catatan,
        nama_pemesan: this.pesanan.nama_pemesan,
        no_telp_pemesan: this.pesanan.no_telp_pemesan,
        email_pemesan: this.pesanan.email_pemesan,
        asal_pemesan: this.pesanan.asal_pemesan,
        alamat_pemesan: this.pesanan.alamat_pemesan,
        kartu_identitas_pegawai: this.kartu_identitas_pegawai ? kartu_identitas_pegawai.data.file_url : "",
        surat_dinas: this.surat_dinas ? surat_dinas.data.file_url : "",
        products: products,
      });

      axios
        .post(`/api/v1/pesanan/buat-pesanan/${this.$route.params.id}`, obj, {
          headers: {
            Authorization: "Bearer " + this.token,
            "Content-Type": "application/json",
          },
        })
        .then((resp) => {
          if(this.pesanan.metode_pembayaran === 'Pembayaran Langsung') {
            this.$router.push({ path: `/transaksi/tagihan/${this.$route.params.id}` });
            return;
          }

          this.$swal({
            icon: "success",
            title: 'Harap menunggu balasan selanjutnya dari kami',
          }).then(() => {
            this.$router.push({ path: "/dashboard/transaksi/pesanan" });
          })
          this.reportTransactionLKPP();
        })
        .catch((err) => {
          this.$swal({
            icon: "error",
            title: err.response.data.message,
          });
        });
    },

    uploadFoto(event) {
      this.foto_komplain = event.target.files[0];
      this.komplainFileSource = URL.createObjectURL(event.target.files[0]);
    },

    async reportTransactionLKPP() {
      const pembeli = JSON.parse(localStorage.getItem("userLKPP"));
      const data = {
        order_id: this.pesanan.no_pesanan,
        pembeli: {
          email: this.pembeli.email,
          phone: this.pembeli.no_telp,
          username: this.pembeli.username,
        },
        items: this.lkpp_items,
        alamat_pengiriman: this.alamat
          ? `${this.alamat.alamat} ${this.alamat.province_name} ${this.alamat.city_name}`
          : "Tidak ada alamat",
        ongkos_kirim: this.pesanan.total_harga_kurir || 0,
        ongkos_kirim_ppn:
          (parseFloat(this.pesanan.jenis_pajak_value) / 100) *
          parseInt(this.pesanan.total_harga_kurir),
        ongkos_kirim_ppn_persentase: parseFloat(this.pesanan.jenis_pajak_value),
        ongkos_kirim_pph:
          (parseFloat(this.pesanan.pajak_penghasilan_value) / 100) *
          parseInt(this.pesanan.total_harga_kurir),
        ongkos_kirim_pph_persentase: parseFloat(this.pesanan.pajak_penghasilan_value),
        ppn_total: parseInt(this.pesanan.total_pajak),
        pph_total: parseInt(this.pesanan.total_pajak_penghasilan),
        valuasi: this.pesanan.total_pembayaran,
        metode_bayar: this.pesanan.metode_pembayaran,
        nama_kurir: this.pesanan.kurir,
        token: this.lkpp_token,
      };

      if (this.lkpp_token) {
        await axios
          .post(`${process.env.VUE_APP_ENDPOINT_API}/api/v1/lkpp/report`, data)
          .then((resp) => {
            console.log("Berhasil membuat laporan transaksi ke LKPP", resp.data);

            axios
              .post(`${process.env.VUE_APP_ENDPOINT_API}/api/v1/lkpp/token`, {
                email: pembeli.email,
                token: resp.data.new_token,
              })
              .then((resp) => {
                console.log("Berhasil update token transaksi LKPP", resp.data);
              })
              .catch((err) => {
                console.log("Gagal update token transaksi LKPP", err.response.data);
              });
          })
          .catch((err) => {
            console.log("Gagal membuat laporan transaksi ke LKPP", err.response.data);
          });
      }
    },

    async komplainSubmit() {
      if (this.foto_komplain) {
        let formData = new FormData();
        formData.append("file", this.foto_komplain);
        var foto_komplain = await axios.post("/api/upload", formData, {
          headers: {
            "Content-Type": "multipart/form-data",
          },
        });
      }
      const obj = JSON.stringify({
        permintaan: this.komplainn.permintaan,
        alasan: this.komplainn.alasan,
        foto: this.foto_komplain ? foto_komplain.data.file_url : "",
      });
      axios
        .post("/api/v1/pesanan/komplain/" + this.$route.params.id, obj, {
          headers: {
            Authorization: "Bearer " + this.token,
            "Content-Type": "application/json",
          },
        })
        .then((resp) => {
          this.$swal({
            icon: "success",
            title: resp.data.message,
          });
          location.href = "/dashboard/transaksi/pesanan";
        })
        .catch((err) => {
          this.$swal({
            icon: "error",
            title: err.response.data.message,
          });
        });
    },

    deleteImage(key) {
      this.images.splice(this.images.indexOf(key), 1);
    },

    onFileChange(e) {
      var selectedFiles = e.target.files;
      for (var i = 0; i < selectedFiles.length; i++) {
        this.images.push(selectedFiles[i]);
      }

      // console.log(this.images);

      for (var i = 0; i < this.images.length; i++) {
        let reader = new FileReader(); //instantiate a new file reader
        reader.addEventListener(
          "load",
          function () {
            this.$refs["image" + parseInt(i - 1)][0].src = reader.result;
          }.bind(this),
          false
        ); //add event listener

        reader.readAsDataURL(this.images[i]);
      }
    },

    async ulasanSubmit() {
      this.ulasan.submit = true;
      this.ulasan.button = "Loading...";
      if (this.ulasan.ulasan == "") {
        this.$swal({
          icon: "error",
          title: "Ulasan tentang produk wajib di isi!",
        });
        this.ulasan.submit = false;
        this.ulasan.button = "Kirim Ulasan";
        return;
      }

      if (this.images.length > 0) {
        let formData = new FormData();
        for (var index = 0; index < this.images.length; index++)
          formData.append("file[]", this.images[index]);

        var images = await axios.post("/api/upload-multiple", formData, {
          headers: {
            "Content-Type": "multipart/form-data",
          },
        });
      }

      const products = []
      this.products.forEach((cart) => {
        products.push({
          id: cart.id,
          qty: cart.qty,
          new_price: cart.new_price,
          product: {
            id: cart.product.id
          },
        })
      })

      const obj = JSON.stringify({
        rating: 5,
        id_penjual: this.penjual.id_user,
        ulasan: this.ulasan.ulasan,
        product: products,
        foto: this.images.length > 0 ? images.data.file_url : "",
      });

      const pesanan_id = this.$route.params.id;
      axios
        .post(`/api/v1/pesanan/ulasan/${pesanan_id}`, obj, {
          headers: {
            "Content-Type": "application/json",
            Authorization: "Bearer " + this.token,
          },
        })
        .then((resp) => {
          this.$swal({
            icon: "success",
            title:
              "Ulasan berhasil dikirimkan, silahkan melanjutkan pembayaran pesanan anda",
          }).then(() => {
            location.href = `/transaksi/tagihan/${pesanan_id}`;
          });
        })
        .catch((err) => {
          this.$swal({
            icon: "error",
            title: err.response.data.message,
          });
          this.ulasan.submit = false;
          this.ulasan.button = "Kirim Ulasan";
        });
    },

    departReturnDateFormat(date) {
      return dayjs(date).format("DD MMMM YYYY");
    },

    formatDateDay(dateString) {
      const date = dayjs(dateString).locale("id");
      return date.format("dddd, DD MMMM YYYY");
    },

    formatTime(dateString) {
      const date = dayjs(dateString).locale("id");
      return date.format("HH:mm");
    },

    getServiceFee() {
      if (this.isJasaProduct) {
        if(this.pesanan.metode_pembayaran === "Pembayaran Bertempo") {
          return parseInt(this.pesanan.subtotal * (15 / 100));
        }

        else if(this.pesanan.metode_pembayaran === "Pembayaran Langsung") {
          return parseInt(20000);
        }

        return parseInt(this.pesanan.subtotal * (5 / 100));
      }

      return 0;
    },

    downloadDocuments(url, name) {
      const download_name = `${name}-${this.pesanan.no_pesanan}`
      const download_url = `${process.env.VUE_APP_ENDPOINT_API}/api/v1/download?url=${url}&name=${download_name}`
      location.href = download_url
    },
  },
  mounted() {
    this.ulasans.push({ ...this.ulasan });
    const id = this.$route.params.id;
    axios
      .get(`/api/v1/pesanan/${id}`, {
        params: {
          image_base64: true,
        },
        headers: {
          Authorization: "Bearer " + this.token,
        },
      })
      .then((resp) => {
        this.pesanan = resp.data.data;
        this.penjual = resp.data.data.penjual;
        this.pembeli = resp.data.data.pembeli;
        this.alamat = resp.data.data.alamat;
        this.alamat_penjual = resp.data.data.alamat_penjual;
        this.products = resp.data.data.products;

        if (resp.data.data.jasa != null) {
          this.isJasaProduct = true;
          this.jasa_products = resp.data.data.jasa;
        }

        if (this.isJasaProduct) {
          if (
            this.jasa_products.type_jasa == "antar_jemput_bandara" ||
            this.jasa_products.type_jasa == "sewa_kendaraan"
          ) {
            this.lkpp_items.push({
              product_name:
                this.jasa_products.type_jasa == "antar_jemput_bandara"
                  ? `Layanan Antar Jemput Bandara`
                  : `Layanan Sewa Kendaraan`,
              product_price: this.jasa_products.price,
              is_available: true,
              product_images: [this.jasa_products.image],
              product_thumbnail: this.jasa_products.image,
              product_description: "Layanan Antar Jemput Bandara di BeliUMKM",
              product_category: {
                1: "akomodasi",
                2: "transportasi",
              },
              product_weight: 0,
              tags: ["BeliUMKM", "akomodasi", "penginapan", "transportasi"],
              is_PDN: true,
              is_taxable: parseFloat(this.pesanan.jenis_pajak_value) > 0 ? true : false,
              SKU: `${product.product.sku}`,
              merchant_id: `${this.pesanan.penjual.id}`,
              merchant_name: this.pesanan.penjual.nama_usaha,
              merchant_province: this.pesanan.alamat_penjual.province_name,
              merchant_city: this.pesanan.alamat_penjual.city_name,
              // "merchant_npwp": this.pesanan.penjual.no_npwp,
              merchant_npwp: process.env.VUE_APP_MERCHANT_NPWP ?? "53.601.661.1-822.000",
              merchant_nik: this.pesanan.penjual.nik ?? process.env.VUE_APP_MERCHANT_NIK,
              is_pkp: parseFloat(this.pesanan.pajak_penghasilan_value) > 0 ? true : false,
              merchant_score: product.product.toko.rating,
              max_merchant_score: product.product.toko.rating,
              merchant_type: "kecil",
              kuantitas: this.jasa_products.night_count,
              total: this.jasa_products.price_alt,
              ppn: 0,
              ppn_persentase: 0,
              pph: 0,
              pph_persentase: 0,
            });
          } else if (this.jasa_products.type_jasa == "pesan_hotel") {
            this.lkpp_items.push({
              product_name: `Pemesanan Akomodasi Hotel`,
              product_price: this.jasa_products.price_alt,
              is_available: true,
              product_images: [this.jasa_products.image],
              product_thumbnail: this.jasa_products.image,
              product_description: "Pemesanan Akomodasi Hotel di BeliUMKM",
              product_category: {
                1: "akomodasi",
                2: "transportasi",
              },
              product_weight: 0,
              tags: ["BeliUMKM", "akomodasi", "penginapan", "transportasi"],
              is_PDN: true,
              is_taxable: parseFloat(this.pesanan.jenis_pajak_value) > 0 ? true : false,
              SKU: `${product.product.sku}`,
              merchant_id: `${this.pesanan.penjual.id}`,
              merchant_name: this.pesanan.penjual.nama_usaha,
              merchant_province: this.pesanan.alamat_penjual.province_name,
              merchant_city: this.pesanan.alamat_penjual.city_name,
              // "merchant_npwp": this.pesanan.penjual.no_npwp,
              merchant_npwp: process.env.VUE_APP_MERCHANT_NPWP ?? "53.601.661.1-822.000",
              merchant_nik: this.pesanan.penjual.nik ?? process.env.VUE_APP_MERCHANT_NIK,
              is_pkp: parseFloat(this.pesanan.pajak_penghasilan_value) > 0 ? true : false,
              merchant_score: product.product.toko.rating,
              max_merchant_score: product.product.toko.rating,
              merchant_type: "kecil",
              kuantitas: this.jasa_products.night_count,
              total: this.jasa_products.price_alt,
              ppn: 0,
              ppn_persentase: 0,
              pph: 0,
              pph_persentase: 0,
            });
          } else {
            this.lkpp_items.push({
              product_name: `Pemesanan Tiket Pesawat`,
              product_price: this.jasa_products.price_alt,
              is_available: true,
              product_images: [this.jasa_products.image],
              product_thumbnail: this.jasa_products.image,
              product_description: "Pemesanan Tiket Pesawat di BeliUMKM",
              product_category: {
                1: "akomodasi",
                2: "transportasi",
              },
              product_weight: 0,
              tags: ["BeliUMKM", "akomodasi", "penginapan", "transportasi"],
              is_PDN: true,
              is_taxable: parseFloat(this.pesanan.jenis_pajak_value) > 0 ? true : false,
              SKU: `${product.product.sku}`,
              merchant_id: `${this.pesanan.penjual.id}`,
              merchant_name: this.pesanan.penjual.nama_usaha,
              merchant_province: this.pesanan.alamat_penjual.province_name,
              merchant_city: this.pesanan.alamat_penjual.city_name,
              // "merchant_npwp": this.pesanan.penjual.no_npwp,
              merchant_npwp: process.env.VUE_APP_MERCHANT_NPWP ?? "53.601.661.1-822.000",
              merchant_nik: this.pesanan.penjual.nik ?? process.env.VUE_APP_MERCHANT_NIK,
              is_pkp: parseFloat(this.pesanan.pajak_penghasilan_value) > 0 ? true : false,
              merchant_score: product.product.toko.rating,
              max_merchant_score: product.product.toko.rating,
              merchant_type: "kecil",
              kuantitas: 1,
              total: this.jasa_products.price_alt,
              ppn: 0,
              ppn_persentase: 0,
              pph: 0,
              pph_persentase: 0,
            });
          }
        } else {
          this.products.forEach((product) => {
            const total_harga = parseInt(product.product.show_price * product.qty);
            const ppn = (parseFloat(this.pesanan.jenis_pajak_value) / 100) * total_harga;
            const pph =
              (parseFloat(this.pesanan.pajak_penghasilan_value) / 100) * total_harga;
            this.lkpp_items.push({
              product_name: `${product.product.title}`,
              product_price: product.product.show_price,
              is_available: true,
              product_images: [product.product.image[0][0]],
              product_thumbnail: product.product.image[0][0],
              product_description: product.product.deskripsi,
              product_category: {
                1: product.product.categories.name,
              },
              product_weight: product.product.berat,
              tags: ["BeliUMKM", product.product.categories.name],
              is_PDN: true,
              is_taxable: parseFloat(this.pesanan.jenis_pajak_value) > 0 ? true : false,
              SKU: `${product.product.sku}`,
              merchant_id: `${this.pesanan.penjual.id}`,
              merchant_name: this.pesanan.penjual.nama_usaha,
              merchant_province: this.pesanan.alamat_penjual.province_name,
              merchant_city: this.pesanan.alamat_penjual.city_name,
              // "merchant_npwp": this.pesanan.penjual.no_npwp,
              merchant_npwp: process.env.VUE_APP_MERCHANT_NPWP ?? "53.601.661.1-822.000",
              merchant_nik: this.pesanan.penjual.nik ?? process.env.VUE_APP_MERCHANT_NIK,
              is_pkp: parseFloat(this.pesanan.pajak_penghasilan_value) > 0 ? true : false,
              merchant_score: product.product.toko.rating,
              max_merchant_score: product.product.toko.rating,
              merchant_type: "kecil",
              kuantitas: product.qty,
              total: total_harga,
              // "total": total_harga + ppn + pph,
              ppn: ppn,
              ppn_persentase: parseFloat(this.pesanan.jenis_pajak_value),
              pph: pph,
              pph_persentase: parseFloat(this.pesanan.pajak_penghasilan_value),
            });
          });
        }

        if (resp.data.data.status == "pesanan_dikomplain") {
          axios
            .get("/api/v1/pesanan/get-komplain/" + this.$route.params.id, {
              headers: {
                Authorization: "Bearer " + this.token,
              },
            })
            .then((resp) => {
              this.komplainn = resp.data.data;
            });
        }
      });
  },
};
</script>

<style scope>
label {
  color: black;
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 5px;
}

.text-14 {
  font-size: 14px;
}

.h-150px {
  height: 150px;
}

.title {
  font-weight: 600;
  font-size: 18px;
  line-height: normal;
}

.__table-pesanan {
  border: 1px solid #b0b0b0;
}

.__table-pesanan thead {
  background-color: #82c4f3;
  text-align: center;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
}

.__table-pesanan thead th {
  padding: 15px 10px;
  font-weight: 500;
}

.__table-pesanan tbody td {
  text-align: center;
  font-weight: 500;
  vertical-align: middle;
}

.prod span {
  display: block;
  margin-left: 10px;
  font-size: 14px;
  text-align: left;
  font-weight: 400;
}

#full-stars-example .rating-group {
  display: inline-flex;
}

#full-stars-example .rating__icon {
  pointer-events: none;
}

#full-stars-example .rating__input {
  position: absolute !important;
  left: -9999px !important;
}

#full-stars-example .rating__label {
  cursor: pointer;
  padding: 0 0.1em;
  font-size: 2rem;
}

#full-stars-example .rating__icon--star {
  color: orange;
}

#full-stars-example .rating__icon--none {
  color: #eee;
}

#full-stars-example .rating__input--none:checked + .rating__label .rating__icon--none {
  color: red;
}

#full-stars-example .rating__input:checked ~ .rating__label .rating__icon--star {
  color: #ddd;
}

#full-stars-example .rating-group:hover .rating__label .rating__icon--star {
  color: orange;
}

#full-stars-example .rating__input:hover ~ .rating__label .rating__icon--star {
  color: #ddd;
}

#full-stars-example
  .rating-group:hover
  .rating__input--none:not(:hover)
  + .rating__label
  .rating__icon--none {
  color: #eee;
}

#full-stars-example .rating__input--none:hover + .rating__label .rating__icon--none {
  color: red;
}

#half-stars-example {
  /* use display:inline-flex to prevent whitespace issues. alternatively, you can put all the children of .rating-group on a single line */
  /* make hover effect work properly in IE */
  /* hide radio inputs */
  /* set icon padding and size */
  /* add padding and positioning to half star labels */
  /* set default star color */
  /* set color of none icon when unchecked */
  /* if none icon is checked, make it red */
  /* if any input is checked, make its following siblings grey */
  /* make all stars orange on rating group hover */
  /* make hovered input's following siblings grey on hover */
  /* make none icon grey on rating group hover */
  /* make none icon red on hover */
}

#half-stars-example .rating-group {
  display: inline-flex;
}

#half-stars-example .rating__icon {
  pointer-events: none;
}

#half-stars-example .rating__input {
  position: absolute !important;
  left: -9999px !important;
}

#half-stars-example .rating__label {
  cursor: pointer;
  /* if you change the left/right padding, update the margin-right property of .rating__label--half as well. */
  padding: 0 0.1em;
  font-size: 2rem;
}

#half-stars-example .rating__label--half {
  padding-right: 0;
  margin-right: -0.6em;
  z-index: 2;
}

#half-stars-example .rating__icon--star {
  color: orange;
}

#half-stars-example .rating__icon--none {
  color: #eee;
}

#half-stars-example .rating__input--none:checked + .rating__label .rating__icon--none {
  color: red;
}

#half-stars-example .rating__input:checked ~ .rating__label .rating__icon--star {
  color: #ddd;
}

#half-stars-example .rating-group:hover .rating__label .rating__icon--star,
#half-stars-example .rating-group:hover .rating__label--half .rating__icon--star {
  color: orange;
}

#half-stars-example .rating__input:hover ~ .rating__label .rating__icon--star,
#half-stars-example .rating__input:hover ~ .rating__label--half .rating__icon--star {
  color: #ddd;
}

#half-stars-example
  .rating-group:hover
  .rating__input--none:not(:hover)
  + .rating__label
  .rating__icon--none {
  color: #eee;
}

#half-stars-example .rating__input--none:hover + .rating__label .rating__icon--none {
  color: red;
}

#full-stars-example-two .rating-group {
  display: inline-flex;
}

#full-stars-example-two .rating__icon {
  pointer-events: none;
}

#full-stars-example-two .rating__input {
  position: absolute !important;
  left: -9999px !important;
}

#full-stars-example-two .rating__input--none {
  display: none;
}

#full-stars-example-two .rating__label {
  cursor: pointer;
  padding: 0 0.1em;
  font-size: 2rem;
}

#full-stars-example-two .rating__icon--star {
  color: orange;
}

#full-stars-example-two .rating__input:checked ~ .rating__label .rating__icon--star {
  color: #ddd;
}

#full-stars-example-two .rating-group:hover .rating__label .rating__icon--star {
  color: orange;
}

#full-stars-example-two .rating__input:hover ~ .rating__label .rating__icon--star {
  color: #ddd;
}
</style>
