<template>
  <Navbar />

  <div class="container my-5">
    <div class="d-flex justify-content-center position-relative">
      <div class="my-auto me-4">
        <h5 class="text-center" style="color: var(--primary-color)">Pesanan</h5>
        <button
          class="btn btn-primary position-absolute"
          style="right: 0; top: 0"
          @click="generateReport()"
        >
          <i class="fas fa-download px-2"></i> Download PDF
        </button>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-6">
            <table>
              <tr>
                <td style="width: 160px">Nomor Pesanan</td>
                <td>:</td>
                <td>{{ pesanan.no_pesanan }}</td>
              </tr>
              <tr>
                <td style="width: 160px">Tanggal Pesanan</td>
                <td>:</td>
                <td>{{ pesanan.created_at }}</td>
              </tr>
              <tr>
                <td style="width: 160px">Status Pesanan</td>
                <td>:</td>
                <td>
                  <template v-if="pesanan.status == 'pesanan_selesai'">
                    <span v-if="pesanan.payment_status == 'waiting_for_payment'">
                      Menunggu Pembayaran
                    </span>
                    <span v-else-if="pesanan.payment_status == 'paid'">
                      Pembayaran Diterima
                    </span>
                    <span v-else> Pesanan Selesai </span>
                  </template>
                  <span v-else-if="pesanan.status === 'permintaan_rfq'">
                    Permintaan RFQ
                  </span>
                  <span v-else-if="pesanan.status === 'proses_permintaan_rfq'">
                    Permintaan RFQ
                  </span>
                  <span v-else-if="pesanan.status === 'pesanan_dibuat'">
                    Permintaan Pesanan
                  </span>
                  <span v-else-if="pesanan.status === 'pesanan_terbuat'">
                    Permintaan Pesanan
                  </span>
                  <span v-else-if="pesanan.status === 'pesanan_ditolak'">
                    Ditolak Pemasok
                  </span>
                  <span v-else-if="pesanan.status === 'pesanan_diterima'">
                    Konfirmasi Terima Pesanan
                  </span>
                  <span v-else-if="pesanan.status === 'pesanan_dikomplain'">
                    Pesanan Dikomplain
                  </span>
                  <span v-else-if="pesanan.status === 'permintaan_rfq_diterima'">
                    Menunggu Persetujuan Pembeli
                  </span>
                  <span v-else-if="pesanan.status == 'permintaan_rfq_ditolak'">
                    Permintaan RFQ Ditolak Pemasok
                  </span>
                </td>
              </tr>
            </table>
          </div>

          <div class="col-6">
            <table>
              <tr>
                <td style="width: 160px">Nama Pemasok</td>
                <td>:</td>
                <td>{{ penjual.nama_usaha }}</td>
              </tr>
              <tr>
                <td style="width: 160px">Lokasi Pemasok</td>
                <td>:</td>
                <td>{{ alamat.city_name }}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>

      <!--
            <div class="col-6 mb-3">
                <span>Lokasi Pemasok : {{ penjual.penjual }}</span>
            </div> -->
    </div>

    <div class="row mt-4">
      <h6 class="mb-4 title">Informasi Pembeli</h6>
      <div class="col-lg-4 mb-3">
        <label for="">Nama Pemesan</label>
        <input
          type="text"
          v-model="pesanan.nama_pemesan"
          class="__form-control form-control text-dark"
          :disabled="pesanan.status != 'permintaan_rfq'"
        />
      </div>
      <div class="col-lg-4 mb-3">
        <label for="">Telepon Pemesan</label>
        <input
          type="text"
          v-model="pesanan.no_telp_pemesan"
          class="__form-control form-control text-dark"
          :disabled="pesanan.status != 'permintaan_rfq'"
        />
      </div>

      <div class="col-lg-4 mb-3">
        <label for="">Email Pemesan</label>
        <input
          type="text"
          v-model="pesanan.email_pemesan"
          class="__form-control form-control text-dark"
          :disabled="pesanan.status != 'permintaan_rfq'"
        />
      </div>
      <div class="col-lg-4 mb-3">
        <label for="">Asal Instansi</label>
        <textarea
          rows="6"
          type="text"
          v-model="pesanan.asal_pemesan"
          class="__form-control form-control text-dark"
          :disabled="pesanan.status != 'permintaan_rfq'"
        ></textarea>
      </div>
      <div class="col-lg-4 mb-3">
        <label for="">Alamat Instansi</label>
        <textarea
          rows="6"
          type="text"
          v-model="pesanan.alamat_pemesan"
          class="__form-control form-control text-dark"
          :disabled="pesanan.status != 'permintaan_rfq'"
        ></textarea>
      </div>
      <div class="col-lg-4 mb-3">
        <label for="">Informasi Transaksi</label>
        <textarea
          rows="6"
          type="text"
          v-model="pesanan.untuk_keperluan"
          class="__form-control form-control text-dark"
          :disabled="pesanan.status != 'permintaan_rfq'"
        ></textarea>
      </div>
    </div>

    <div>
      <h6 class="title mb-4">Informasi Pembayaran</h6>

      <div class="d-flex">
        <div class="me-2 w-25">
          <label for="">Metode Pembayaran</label>
          <select
            v-model="pesanan.metode_pembayaran"
            class="__form-select __form-control form-select text-dark"
            :disabled="pesanan.status != 'permintaan_rfq'"
          >
            <!-- <option value="Bayar Sebelum Pengiriman">Bayar Sebelum Pengiriman</option> -->
            <option value="Pembayaran Bertempo">Pembayaran Bertempo</option>
          </select>
        </div>
        <div v-if="pesanan.metode_pembayaran === 'Pembayaran Bertempo'">
          <label for="">Hari</label>
          <input
            type="number"
            v-model="pesanan.hari"
            :disabled="pesanan.status != 'permintaan_rfq'"
            class="__form-control form-control text-dark"
            style="width: 70px"
          />
        </div>
      </div>
    </div>

    <div class="mt-4">
      <table class="table table-bordered __table-pesanan">
        <thead>
          <tr>
            <th scope="col">No.</th>
            <th scope="col">Produk</th>
            <th scope="col">Kuantitas</th>
            <th scope="col">Harga Satuan</th>
            <th scope="col">Total Harga</th>
            <th scope="col">Permintaan Negosiasi</th>
            <th scope="col">Total Harga Negosiasi</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(item, index) in products" v-bind:key="item">
            <td scope="row">{{ index + 1 }}</td>
            <td>
              <div class="d-flex prod">
                <img :src="item.product.image[0]" class="rounded" width="100" />
                <div class="my-auto">
                  <span>{{ item.product.title }}</span>
                  <span>Produk Dalam Negeri</span>
                  <!-- <span>TKDN (%): 100</span> -->
                  <span>Berat: {{ item.product.berat / 1000 }} kg</span>
                </div>
              </div>
            </td>
            <td>{{ item.qty }}</td>
            <td>
              Rp
              {{
                item.harga_satuan
                  .toString()
                  .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
              }}
            </td>
            <td>
              Rp
              {{
                (item.harga_satuan * item.qty)
                  .toString()
                  .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
              }}
            </td>
            <td width="18%">
              <div class="d-flex gap-3 align-items-center">
                Rp
                <VueNumberFormat
                  v-model:value="products[index].new_price"
                  :options="{
                    precision: 0,
                    prefix: '',
                    suffix: '',
                    decimal: ',',
                    thousand: '.',
                    acceptNegative: false,
                    isInteger: false,
                  }"
                  class="form-control __form-control text-end text-dark"
                  :disabled="pesanan.status === 'permintaan_rfq' ? false : true"
                ></VueNumberFormat>
              </div>
            </td>
            <td>
              <div class="d-flex justify-content-between px-1">
                <div>Rp</div>
                <div>
                  {{
                    products[index].new_price > 0
                      ? (parseInt(products[index].new_price) * parseInt(item.qty))
                          .toString()
                          .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                      : 0
                  }}
                </div>
              </div>
            </td>
          </tr>
          <tr style="background-color: #fdf6a1">
            <td colspan="6">Total Harga Produk</td>
            <td>
              <div class="d-flex justify-content-between px-1">
                <div>Rp</div>
                <div>
                  {{
                    getTotalHarga()
                      .toString()
                      .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                  }}
                </div>
              </div>
            </td>
          </tr>
          <tr style="background-color: #fdf6a1">
            <td colspan="6">
              <div class="row justify-content-center" style="text-align: left">
                <div class="col-lg-12">
                  <div>Biaya Pengiriman - {{ pesanan.kurir }}</div>
                  <div>
                    <strong>{{ pembeli.name }}</strong>
                    <span class="d-inlin-block mx-2">
                      {{ pembeli.no_telp }}
                    </span>
                    <strong>{{ pembeli.email }}</strong>
                  </div>
                  <div>
                    {{ alamat.alamat }}, {{ alamat.province_name }},
                    {{ alamat.city_name }}
                    {{ alamat.kodepos }}
                  </div>
                </div>
              </div>
            </td>
            <td class="align-middle">
              <div class="d-flex justify-content-between px-1">
                <div>Rp</div>
                <div>
                  {{
                    parseInt(pesanan.total_harga_kurir)
                      .toString()
                      .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                  }}
                </div>
              </div>
            </td>
          </tr>
          <tr style="background-color: #e5e5e5">
            <td colspan="6">Sub Total</td>
            <td class="align-middle">
              <div class="d-flex justify-content-between px-1">
                <div>Rp</div>
                <div>
                  {{
                    getSubTotalHarga()
                      .toString()
                      .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                  }}
                </div>
              </div>
            </td>
          </tr>
          <tr style="background-color: #e5e5e5">
            <td colspan="6">
              <div class="row justify-content-center" style="text-align: left">
                <div class="col-lg-12">
                  <div class="row">
                    <div class="col-10">
                      <label for="">Jenis Pajak</label>
                      <input
                        type="text"
                        class="__form-control"
                        :value="pesanan.jenis_pajak"
                        disabled
                      />
                    </div>
                    <div class="col-2">
                      <label for="" style="color: #e5e5e5">.</label>
                      <input
                        type="text"
                        class="__form-control"
                        :value="pesanan.jenis_pajak_value + '%'"
                        disabled
                      />
                    </div>
                  </div>
                </div>
              </div>
            </td>
            <td class="align-middle">
              <div class="d-flex justify-content-between px-1">
                <div>Rp</div>
                <div>
                  {{
                    getTotalPajak()
                      .toString()
                      .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                  }}
                </div>
              </div>
            </td>
          </tr>
          <tr style="background-color: #e5e5e5">
            <td colspan="6">
              <div class="row justify-content-center" style="text-align: left">
                <div class="col-lg-12">
                  <div class="row">
                    <div class="col-10">
                      <label for="">Pajak Penghasilan </label>
                      <input
                        type="text"
                        class="__form-control"
                        :value="
                          pesanan.pajak_penghasilan === 'PPh'
                            ? 'PPh Pasal 22'
                            : pesanan.pajak_penghasilan
                        "
                        disabled
                      />
                    </div>
                    <div class="col-2">
                      <label for="" style="color: #e5e5e5">.</label>
                      <input
                        type="text"
                        class="__form-control"
                        :value="pesanan.pajak_penghasilan_value + '%'"
                        disabled
                      />
                    </div>
                  </div>
                </div>
              </div>
            </td>
            <td class="align-middle" style="color: #e62129">
              <div class="d-flex justify-content-between px-1">
                <div>Rp</div>
                <div>
                  {{
                    getTotalPajakPenghasilan()
                      .toString()
                      .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                  }}
                </div>
              </div>
            </td>
          </tr>
          <tr style="background-color: #ffe5e5">
            <td colspan="6">Total Transaksi</td>
            <td class="align-middle">
              <div class="d-flex justify-content-between px-1">
                <div>Rp</div>
                <div>
                  {{
                    getTotalTransaksi()
                      .toString()
                      .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                  }}
                </div>
              </div>
            </td>
          </tr>
          <tr style="background-color: #ffe5e5">
            <td colspan="6">Total Pembayaran</td>
            <td class="align-middle">
              <div class="d-flex justify-content-between px-1">
                <div>Rp</div>
                <div>
                  {{
                    getTotalPembayaran()
                      .toString()
                      .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                  }}
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="mt-4">
      <div class="row">
        <div class="col-lg-8">
          <h6>Pelajari Lebih Lanjut</h6>
          <ol type="number" style="font-size: 15px">
            <li>
              Lakukan pembayaran sesuai dengan nominal yang tercantum pada total
              pembayaran.
            </li>
            <li>
              Jangka waktu pembayaran bertempo terhitung sejak pesanan diterima oleh pihak
              pembeli.
            </li>
            <li>
              Pemungutan/penyetoran/pelaporan PPN dan PPh 22 dilakukan oleh pihak
              marketplace (PMK-58/PMK.03/2022).
            </li>
            <li>
              Pemungutan/penyetoran/pelaporan Pajak Daerah dilakukan oleh pihak
              marketplace, dengan mengacu kepada aturan dan kebijakan pemerintah setempat.
            </li>
            <li>
              Pembeli dan Pemasok wajib menyetujui
              <router-link to="/syarat-ketentuan" style="color: var(--primary-color)"
                >syarat dan ketentuan</router-link
              >
              yang berlaku.
            </li>
          </ol>
        </div>
      </div>
    </div>

    <div class="mt-4">
      <div class="row justify-content-center">
        <div
          class="col-3"
          v-if="
            pesanan.status === 'pesanan_dibuat' ||
            pesanan.status === 'pesanan_terbuat' ||
            pesanan.status === 'permintaan_rfq'
          "
        >
          <button
            class="btn __btn-success w-100"
            @click.prevent="buatPesanan"
            v-if="
              pesanan.status === 'pesanan_dibuat' || pesanan.status === 'permintaan_rfq'
            "
          >
            {{
              pesanan.status == "pesanan_dibuat" ? "Buat Pesanan" : "Buat Permintaan RFQ"
            }}
          </button>
          <button
            class="btn __btn-success w-100"
            @click.prevent="buatPesanan"
            v-if="pesanan.status === 'pesanan_terbuat'"
            disabled
            style="background-color: #b0b0b0 !important; color: white"
          >
            Pesanan Terbuat
          </button>
        </div>

        <div class="col-3" v-if="pesanan.status === 'permintaan_rfq_diterima'">
          <button
            class="btn __btn-success w-100"
            @click.prevent="tolakTerima('tolak')"
            style="background-color: #d64242 !important; color: white"
          >
            Tolak Penawaran
          </button>
        </div>

        <div class="col-3" v-if="pesanan.status === 'permintaan_rfq_diterima'">
          <button class="btn __btn-success w-100" @click.prevent="tolakTerima('terima')">
            Buat Pesanan
          </button>
        </div>

        <div class="col-3" v-if="pesanan.status === 'pesanan_diterima'">
          <button
            class="btn __btn-success w-100"
            style="background-color: #d64242 !important; color: white"
            data-bs-toggle="modal"
            data-bs-target="#komplainPesan"
          >
            Komplain Pesanan
          </button>
        </div>

        <div class="col-3" v-if="pesanan.status === 'pesanan_diterima'">
          <button
            class="btn __btn-success w-100"
            data-bs-toggle="modal"
            data-bs-target="#ulasanModal"
          >
            Pesanan Diterima
          </button>
        </div>

        <div class="col-3" v-if="pesanan.status === 'pesanan_dikomplain'">
          <button
            class="btn __btn-primary w-100"
            v-if="pesanan.status === 'pesanan_dikomplain'"
            data-bs-toggle="modal"
            data-bs-target="#komplainPesan"
          >
            Lihat Laporan Komplain
          </button>
        </div>

        <!-- Komplain Pesanan -->
        <div
          class="modal fade"
          id="komplainPesan"
          data-bs-backdrop="static"
          data-bs-keyboard="false"
          tabindex="-1"
          aria-labelledby="komplainPesanLabel"
          aria-hidden="true"
          v-if="
            pesanan.status === 'pesanan_dikomplain' ||
            pesanan.status === 'pesanan_diterima'
          "
        >
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="komplainPesanLabel">Laporan Komplain</h5>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
                <div class="row">
                  <div class="col-lg-6 mb-3">
                    <label for="">Permintaan Komplain Pembeli</label>
                    <select
                      class="form-select __form-select"
                      v-model="komplain.permintaan"
                      :disabled="pesanan.status === 'pesanan_dikomplain'"
                    >
                      <option value="Penukaran Produk">Penukaran Produk</option>
                    </select>
                  </div>

                  <div class="col-lg-12 mb-3">
                    <label for="">Alasan Komplain</label>
                    <textarea
                      v-model="komplain.alasan"
                      class="__form-control"
                      rows="5"
                      placeholder="Ketik alasan komplain"
                      :disabled="pesanan.status === 'pesanan_dikomplain'"
                    ></textarea>
                  </div>

                  <div class="col-lg-6 mb-3">
                    <label for="">Upload Foto Detail Komplain (format PDF)</label>
                    <input
                      accept=".pdf"
                      type="file"
                      class="form-control"
                      @change="uploadFoto($event)"
                      :disabled="pesanan.status === 'pesanan_dikomplain'"
                    />

                    <iframe
                      :src="komplain.foto"
                      alt=""
                      v-if="pesanan.status === 'pesanan_dikomplain'"
                      class="w-100"
                    />
                  </div>
                </div>
              </div>
              <div class="modal-footer" v-if="pesanan.status !== 'pesanan_dikomplain'">
                <button
                  type="button"
                  class="btn btn-primary"
                  style="background-color: var(--primary-color)"
                  @click.prevent="komplainSubmit"
                >
                  Kirim Laporan
                </button>
              </div>
            </div>
          </div>
        </div>

        <div
          class="modal fade"
          id="ulasanModal"
          data-bs-backdrop="static"
          data-bs-keyboard="false"
          tabindex="-1"
          aria-labelledby="ulasanModalLabel"
          aria-hidden="true"
          v-if="pesanan.status === 'pesanan_diterima'"
        >
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="ulasanModalLabel">Ulasan</h5>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
                <div class="row">
                  <div class="col-lg-12 mb-3">
                    <label for="">Ulasan Tentang Produk</label>
                    <textarea
                      v-model="ulasan.ulasan"
                      class="__form-control"
                      rows="5"
                      placeholder="Ketik ulasan"
                      :disabled="pesanan.status === 'pesanan_dikomplain'"
                    ></textarea>
                  </div>

                  <div class="col-lg-12">
                    <div class="row">
                      <div
                        class="col-lg-3 col-6 mb-3"
                        v-for="(image, key) in images"
                        v-bind:key="key"
                      >
                        <img
                          class="preview img-fluid"
                          v-bind:ref="'image' + parseInt(key)"
                          src=""
                        />
                        <button
                          class="btn btn-danger btn-sm w-100"
                          @click="deleteImage(key)"
                        >
                          Hapus Foto
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-footer" v-if="pesanan.status !== 'pesanan_dikomplain'">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                  Close
                </button>
                <button
                  type="button"
                  class="btn btn-primary"
                  :disabled="ulasan.submit"
                  style="background-color: var(--primary-color)"
                  @click.prevent="ulasanSubmit"
                >
                  <span v-if="!ulasan.submit">{{ ulasan.button }}</span>
                  <span class="spinner-border text-light" role="status" v-else></span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ReportPesanan
    ref="report"
    :title="`Pesanan-${pesanan.no_pesanan}`"
    :isJasaProduct="isJasaProduct"
    :pesanan="pesanan"
    :penjual="penjual"
    :pembeli="pembeli"
    :alamat_penjual="alamat_penjual"
    :alamat="alamat"
    :products="products"
    :jasa_products="jasa_products"
  />
</template>

<script>
import axios from "axios";
import Navbar from "@/v2/components/Navbar.vue";
import ReportPesanan from "@/components/print/ReportPesanan.vue";
import VueNumberFormat from "vue-number-format";

export default {
  components: {
    Navbar,
    ReportPesanan,
    VueNumberFormat,
  },
  data() {
    return {
      isJasaProduct: false,
      token: localStorage.getItem("token"),
      lkpp_token: localStorage.getItem("tokenTransactionLKPP"),
      pesanan: [],
      penjual: [],
      pembeli: [],
      alamat: [],
      alamat_penjual: [],
      products: [],
      images: [],
      jasa_products: [],
      komplains: [],
      hari: 0,
      komplain: {
        permintaan: "",
        alasan: "",
        foto: "",
      },
      ulasan: {
        button: "Kirim Ulasan",
        submit: false,
        rating: "1",
        ulasan: "",
      },
      foto_komplain: null,
      ulasans: [],
      komplainFileSource: null,

      lkpp_items: [],
    };
  },
  methods: {
    generateReport() {
      this.$refs.report.generateReport();
    },

    async ulasanSubmit() {
      this.ulasan.submit = true;
      this.ulasan.button = "Loading...";
      if (this.ulasan.ulasan == "") {
        this.$swal({
          icon: "error",
          title: "Ulasan tentang produk wajib di isi!",
        });
        this.ulasan.submit = false;
        this.ulasan.button = "Kirim Ulasan";
        return;
      }

      const uploadImage = this.images.length > 0;
      if (uploadImage) {
        let formData = new FormData();
        for (var index = 0; index < this.images.length; index++)
          formData.append("file[]", this.images[index]);

        var images = await axios.post("/api/upload-multiple", formData, {
          headers: {
            "Content-Type": "multipart/form-data",
          },
        });
      }

      const products = []
      this.products.forEach((cart) => {
        products.push({
          id: cart.id,
          qty: cart.qty,
          new_price: cart.new_price,
          product: {
            id: cart.product.id
          },
        })
      })

      const obj = JSON.stringify({
        rating: 5,
        id_penjual: this.penjual.id_user,
        ulasan: this.ulasan.ulasan,
        product: products,
        foto: uploadImage ? images.data.file_url : "",
      });

      const pesanan_id = this.$route.params.id;
      axios
        .post(`/api/v1/pesanan/ulasan/${pesanan_id}`, obj, {
          headers: {
            "Content-Type": "application/json",
            Authorization: "Bearer " + this.token,
          },
        })
        .then((resp) => {
          this.$swal({
            icon: "success",
            title:
              "Ulasan berhasil dikirimkan, silahkan melanjutkan pembayaran pesanan anda",
          }).then(() => {
            location.href = `/transaksi/tagihan/${pesanan_id}`;
          });
        })
        .catch((err) => {
          this.$swal({
            icon: "error",
            title: err.response.data.message,
          });
        });
    },

    onFileChange(e) {
      var selectedFiles = e.target.files;
      for (var i = 0; i < selectedFiles.length; i++) {
        this.images.push(selectedFiles[i]);
      }

      // console.log(this.images);

      for (var i = 0; i < this.images.length; i++) {
        let reader = new FileReader(); //instantiate a new file reader
        reader.addEventListener(
          "load",
          function () {
            this.$refs["image" + parseInt(i - 1)][0].src = reader.result;
          }.bind(this),
          false
        ); //add event listener

        reader.readAsDataURL(this.images[i]);
      }
    },

    buatPesanan() {
      const new_prices = this.products.filter((item) => item.new_price === null);

      if (new_prices.length > 0) {
        return this.$swal({
          icon: "error",
          title: "Lengkapi harga di inputan Permintaan Negosiasi",
        });
      } else {
        const products = []
        this.products.forEach((cart) => {
          products.push({
            id: cart.id,
            qty: cart.qty,
            new_price: cart.new_price,
            product: {
              id: cart.product.id
            },
          })
        })

        const obj = JSON.stringify({
          untuk_keperluan: this.pesanan.untuk_keperluan,
          metode_pembayaran: this.pesanan.metode_pembayaran,
          hari: this.pesanan.hari,
          catatan: this.pesanan.catatan,
          nama_pemesan: this.pesanan.nama_pemesan,
          no_telp_pemesan: this.pesanan.no_telp_pemesan,
          email_pemesan: this.pesanan.email_pemesan,
          asal_pemesan: this.pesanan.asal_pemesan,
          alamat_pemesan: this.pesanan.alamat_pemesan,
          products: products,
          total_harga_barang: this.getTotalHarga(),
          subtotal: this.getSubTotalHarga(),
          total_pajak: this.getTotalPajak(),
          total_pajak_penghasilan: this.getTotalPajakPenghasilan(),
          total_pembayaran: this.getTotalPembayaran(),
          total_transaksi: this.getTotalTransaksi(),
        });

        const pesanan_id = this.$route.params.id;
        axios
          .post(`/api/v1/pesanan/buat-pesanan/${pesanan_id}`, obj, {
            headers: {
              Authorization: "Bearer " + this.token,
              "Content-Type": "application/json",
            },
          })
          .then((resp) => {
            this.$swal({
              icon: "success",
              title: resp.data.message,
            }).then(() => {
              location.href = "/dashboard/transaksi/pesanan";
            });
            this.reportTransactionLKPP();
          })
          .catch((err) => {
            this.$swal({
              icon: "error",
              title: err.response.data.message,
            });
          });
      }
    },

    async reportTransactionLKPP() {
      const pembeli = JSON.parse(localStorage.getItem("userLKPP"));
      const data = {
        order_id: this.pesanan.no_pesanan,
        pembeli: {
          email: this.pembeli.email,
          phone: this.pembeli.no_telp,
          username: this.pembeli.username,
        },
        items: this.lkpp_items,
        alamat_pengiriman: this.alamat
          ? `${this.alamat.alamat} ${this.alamat.province_name} ${this.alamat.city_name}`
          : "Tidak ada alamat",
        ongkos_kirim: this.pesanan.total_harga_kurir || 0,
        ongkos_kirim_ppn:
          (parseFloat(this.pesanan.jenis_pajak_value) / 100) *
          parseInt(this.pesanan.total_harga_kurir),
        ongkos_kirim_ppn_persentase: parseFloat(this.pesanan.jenis_pajak_value),
        ongkos_kirim_pph:
          (parseFloat(this.pesanan.pajak_penghasilan_value) / 100) *
          parseInt(this.pesanan.total_harga_kurir),
        ongkos_kirim_pph_persentase: parseFloat(this.pesanan.pajak_penghasilan_value),
        ppn_total: parseInt(this.pesanan.total_pajak),
        pph_total: parseInt(this.pesanan.total_pajak_penghasilan),
        valuasi: this.pesanan.total_pembayaran,
        metode_bayar: this.pesanan.metode_pembayaran,
        nama_kurir: this.pesanan.kurir,
        token: this.lkpp_token,
      };

      if (this.lkpp_token) {
        await axios
          .post(`${process.env.VUE_APP_ENDPOINT_API}/api/v1/lkpp/report`, data)
          .then((resp) => {
            console.log("Berhasil membuat laporan transaksi ke LKPP", resp.data);

            axios
              .post(`${process.env.VUE_APP_ENDPOINT_API}/api/v1/lkpp/token`, {
                email: pembeli.email,
                token: resp.data.new_token,
              })
              .then((resp) => {
                console.log("Berhasil update token transaksi LKPP", resp.data);
              })
              .catch((err) => {
                console.log("Gagal update token transaksi LKPP", err.response.data);
              });
          })
          .catch((err) => {
            console.log("Gagal membuat laporan transaksi ke LKPP", err.response.data);
          });
      }
    },

    uploadFoto(event) {
      this.foto_komplain = event.target.files[0];
    },

    async komplainSubmit() {
      if (this.foto_komplain) {
        let formData = new FormData();
        formData.append("file", this.foto_komplain);
        var foto_komplain = await axios.post("/api/upload", formData, {
          headers: {
            "Content-Type": "multipart/form-data",
          },
        });
      }
      const obj = JSON.stringify({
        permintaan: this.komplain.permintaan,
        alasan: this.komplain.alasan,
        foto: this.foto_komplain ? foto_komplain.data.file_url : "",
      });
      axios
        .post("/api/v1/pesanan/komplain/" + this.$route.params.id, obj, {
          headers: {
            Authorization: "Bearer " + this.token,
            "Content-Type": "application/json",
          },
        })
        .then((resp) => {
          this.$swal({
            icon: "success",
            title: resp.data.message,
          }).then(() => {
            location.href = "/dashboard/transaksi/pesanan";
          });
        })
        .catch((err) => {
          this.$swal({
            icon: "error",
            title: err.response.data.message,
          });
        });
    },

    tolakTerima(type) {
      const obj = JSON.stringify({
        status: type,
      });
      axios
        .post(
          "/api/v1/pesanan/rfq/tolak-terima/" + this.$route.params.id + "/pembeli",
          obj,
          {
            headers: {
              Authorization: "Bearer " + this.token,
              "Content-Type": "application/json",
            },
          }
        )
        .then((resp) => {
          // console.log(resp);
          this.$swal({
            icon: "success",
            title: resp.data.message,
          }).then(() => {
            location.href = "/dashboard/transaksi/pesanan";
          });
        })
        .catch((err) => {
          this.$swal({
            icon: "error",
            title: err.response.data.message,
          });
        });
    },

    getTotalHarga() {
      const new_price = this.products
        .map((item) => item.new_price * item.qty)
        .reduce((prev, next) => prev + next, 0);

      let price = this.pesanan.total_harga_barang;
      if (new_price > 0) {
        price = new_price;
      }

      return parseInt(price);
    },

    getSubTotalHarga() {
      const price = this.getTotalHarga() + this.pesanan.total_harga_kurir;
      return parseInt(price);
    },

    getTotalPajak() {
      return parseInt((this.getSubTotalHarga() * this.pesanan.jenis_pajak_value) / 100);
    },

    getTotalPajakPenghasilan() {
      if (
        this.pajak_penghasilan === "PPh Pasal 22 (UP) - Dipungut oleh Ritel Daring" ||
        this.pajak_penghasilan === ""
      ) {
        return parseInt(
          (this.getSubTotalHarga() * this.pesanan.pajak_penghasilan_value) / 100
        );
      }

      return parseInt(
        (this.getSubTotalHarga() * this.pesanan.pajak_penghasilan_value) / 100
      );
    },

    // Total PPN + PPH
    getTotalHargaPajak() {
      return parseInt(this.getTotalPajak() + this.getTotalPajakPenghasilan());
    },

    getTotalTransaksi() {
      if (this.pesanan.jenis_pajak === "Pajak Daerah - Dipungut oleh Ritel Daring") {
        if (
          this.pesanan.pajak_penghasilan !==
          "PPh Pasal 22 (UP) - Dipungut oleh Ritel Daring"
        ) {
          return parseInt(this.getSubTotalHarga() + this.getTotalPajak());
        } else {
          return parseInt(
            this.getSubTotalHarga() +
              this.getTotalPajak() +
              this.getTotalPajakPenghasilan()
          );
        }
      }

      if (
        this.pesanan.jenis_pajak === "PPN (UP) - Dipungut oleh Ritel Daring" ||
        this.pesanan.jenis_pajak === "Pajak Daerah - Dipungut oleh Ritel Daring"
      ) {
        return parseInt(this.getSubTotalHarga() + this.getTotalHargaPajak());
      }

      return parseInt(this.getSubTotalHarga() + this.getTotalPajak());
    },

    getTotalPembayaran() {
      if (this.pesanan.jenis_pajak === "Pajak Daerah - Dipungut oleh Ritel Daring") {
        if (
          this.pesanan.pajak_penghasilan !==
          "PPh Pasal 22 (UP) - Dipungut oleh Ritel Daring"
        ) {
          return parseInt(this.getTotalTransaksi() - this.getTotalPajakPenghasilan());
        } else {
          return parseInt(this.getTotalTransaksi());
        }
      }

      if (
        this.pesanan.jenis_pajak === "PPN (UP) - Dipungut oleh Ritel Daring" ||
        this.pesanan.jenis_pajak === "Pajak Daerah - Dipungut oleh Ritel Daring"
      ) {
        return parseInt(this.getSubTotalHarga() + this.getTotalHargaPajak());
      }

      return parseInt(this.getSubTotalHarga() - this.getTotalPajakPenghasilan());
    },
  },
  mounted() {
    this.ulasans.push({ ...this.ulasan });
    axios
      .get("/api/v1/pesanan/" + this.$route.params.id, {
        params: {
          image_base64: true,
        },
        headers: {
          Authorization: "Bearer " + this.token,
        },
      })
      .then((resp) => {
        this.pesanan = resp.data.data;
        this.penjual = resp.data.data.penjual;
        this.pembeli = resp.data.data.pembeli;
        this.alamat = resp.data.data.alamat;
        this.alamat_penjual = resp.data.data.alamat_penjual;
        this.products = resp.data.data.products;

        if (resp.data.data.jasa != null) {
          this.isJasaProduct = true;
          this.jasa_products = resp.data.data.jasa;
        }

        if (this.isJasaProduct) {
          if (this.jasa_products.type_jasa == "pesan_hotel") {
            this.lkpp_items.push({
              product_name: `Pemesanan Akomodasi Hotel`,
              product_price: this.jasa_products.price_alt,
              is_available: true,
              product_images: [this.jasa_products.image],
              product_thumbnail: this.jasa_products.image,
              product_description: "Pemesanan Akomodasi Hotel di BeliUMKM",
              product_category: {
                1: "akomodasi",
                2: "transportasi",
              },
              product_weight: 0,
              tags: ["BeliUMKM", "akomodasi", "penginapan", "transportasi"],
              is_PDN: true,
              is_taxable: parseFloat(this.pesanan.jenis_pajak_value) > 0 ? true : false,
              SKU: `${product.product.sku}`,
              merchant_id: `${this.pesanan.penjual.id}`,
              merchant_name: this.pesanan.penjual.nama_usaha,
              merchant_province: this.pesanan.alamat_penjual.province_name,
              merchant_city: this.pesanan.alamat_penjual.city_name,
              // "merchant_npwp": this.pesanan.penjual.no_npwp,
              merchant_npwp: process.env.VUE_APP_MERCHANT_NPWP ?? "53.601.661.1-822.000",
              merchant_nik: this.pesanan.penjual.nik ?? process.env.VUE_APP_MERCHANT_NIK,
              is_pkp: parseFloat(this.pesanan.pajak_penghasilan_value) > 0 ? true : false,
              merchant_score: product.product.toko.rating,
              max_merchant_score: product.product.toko.rating,
              merchant_type: "kecil",
              kuantitas: this.jasa_products.night_count,
              total: this.jasa_products.price_alt,
              ppn: 0,
              ppn_persentase: 0,
              pph: 0,
              pph_persentase: 0,
            });
          } else {
            this.lkpp_items.push({
              product_name: `Pemesanan Tiket Pesawat`,
              product_price: this.jasa_products.price_alt,
              is_available: true,
              product_images: [this.jasa_products.image],
              product_thumbnail: this.jasa_products.image,
              product_description: "Pemesanan Tiket Pesawat di BeliUMKM",
              product_category: {
                1: "akomodasi",
                2: "transportasi",
              },
              product_weight: 0,
              tags: ["BeliUMKM", "akomodasi", "penginapan", "transportasi"],
              is_PDN: true,
              is_taxable: parseFloat(this.pesanan.jenis_pajak_value) > 0 ? true : false,
              SKU: `${product.product.sku}`,
              merchant_id: `${this.pesanan.penjual.id}`,
              merchant_name: this.pesanan.penjual.nama_usaha,
              merchant_province: this.pesanan.alamat_penjual.province_name,
              merchant_city: this.pesanan.alamat_penjual.city_name,
              // "merchant_npwp": this.pesanan.penjual.no_npwp,
              merchant_npwp: process.env.VUE_APP_MERCHANT_NPWP ?? "53.601.661.1-822.000",
              merchant_nik: this.pesanan.penjual.nik ?? process.env.VUE_APP_MERCHANT_NIK,
              is_pkp: parseFloat(this.pesanan.pajak_penghasilan_value) > 0 ? true : false,
              merchant_score: product.product.toko.rating,
              max_merchant_score: product.product.toko.rating,
              merchant_type: "kecil",
              kuantitas: 1,
              total: this.jasa_products.price_alt,
              ppn: 0,
              ppn_persentase: 0,
              pph: 0,
              pph_persentase: 0,
            });
          }
        } else {
          this.products.forEach((product) => {
            const total_harga = parseInt(product.product.show_price * product.qty);
            const ppn = (parseFloat(this.pesanan.jenis_pajak_value) / 100) * total_harga;
            const pph =
              (parseFloat(this.pesanan.pajak_penghasilan_value) / 100) * total_harga;
            this.lkpp_items.push({
              product_name: `${product.product.title}`,
              product_price: product.product.show_price,
              is_available: true,
              product_images: [product.product.image[0][0]],
              product_thumbnail: product.product.image[0][0],
              product_description: product.product.deskripsi,
              product_category: {
                1: product.product.categories.name,
              },
              product_weight: product.product.berat,
              tags: ["BeliUMKM", product.product.categories.name],
              is_PDN: true,
              is_taxable: parseFloat(this.pesanan.jenis_pajak_value) > 0 ? true : false,
              SKU: `${product.product.sku}`,
              merchant_id: `${this.pesanan.penjual.id}`,
              merchant_name: this.pesanan.penjual.nama_usaha,
              merchant_province: this.pesanan.alamat_penjual.province_name,
              merchant_city: this.pesanan.alamat_penjual.city_name,
              // "merchant_npwp": this.pesanan.penjual.no_npwp,
              merchant_npwp: process.env.VUE_APP_MERCHANT_NPWP ?? "53.601.661.1-822.000",
              merchant_nik: this.pesanan.penjual.nik ?? process.env.VUE_APP_MERCHANT_NIK,
              is_pkp: parseFloat(this.pesanan.pajak_penghasilan_value) > 0 ? true : false,
              merchant_score: product.product.toko.rating,
              max_merchant_score: product.product.toko.rating,
              merchant_type: "kecil",
              kuantitas: product.qty,
              total: total_harga,
              // "total": total_harga + ppn + pph,
              ppn: ppn,
              ppn_persentase: parseFloat(this.pesanan.jenis_pajak_value),
              pph: pph,
              pph_persentase: parseFloat(this.pesanan.pajak_penghasilan_value),
            });
          });
        }

        if (resp.data.data.status == "pesanan_dikomplain") {
          axios
            .get("/api/v1/pesanan/get-komplain/" + this.$route.params.id, {
              headers: {
                Authorization: "Bearer " + this.token,
              },
            })
            .then((resp) => {
              this.komplain = resp.data.data;
            });
        }
      });
  },
};
</script>

<style scope>
label {
  color: black;
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 5px;
}

.title {
  font-weight: 600;
  font-size: 18px;
}

.__table-pesanan {
  border: 1px solid #b0b0b0;
}

.__table-pesanan thead {
  background-color: #82c4f3;
  text-align: center;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
}

.__table-pesanan thead th {
  padding: 15px 10px;
  font-weight: 500;
}

.__table-pesanan tbody td {
  text-align: center;
  font-weight: 500;
  vertical-align: middle;
}

.prod span {
  display: block;
  margin-left: 10px;
  font-size: 14px;
  text-align: left;
  font-weight: 400;
}

#full-stars-example .rating-group {
  display: inline-flex;
}

#full-stars-example .rating__icon {
  pointer-events: none;
}

#full-stars-example .rating__input {
  position: absolute !important;
  left: -9999px !important;
}

#full-stars-example .rating__label {
  cursor: pointer;
  padding: 0 0.1em;
  font-size: 2rem;
}

#full-stars-example .rating__icon--star {
  color: orange;
}

#full-stars-example .rating__icon--none {
  color: #eee;
}

#full-stars-example .rating__input--none:checked + .rating__label .rating__icon--none {
  color: red;
}

#full-stars-example .rating__input:checked ~ .rating__label .rating__icon--star {
  color: #ddd;
}

#full-stars-example .rating-group:hover .rating__label .rating__icon--star {
  color: orange;
}

#full-stars-example .rating__input:hover ~ .rating__label .rating__icon--star {
  color: #ddd;
}

#full-stars-example
  .rating-group:hover
  .rating__input--none:not(:hover)
  + .rating__label
  .rating__icon--none {
  color: #eee;
}

#full-stars-example .rating__input--none:hover + .rating__label .rating__icon--none {
  color: red;
}

#half-stars-example {
  /* use display:inline-flex to prevent whitespace issues. alternatively, you can put all the children of .rating-group on a single line */
  /* make hover effect work properly in IE */
  /* hide radio inputs */
  /* set icon padding and size */
  /* add padding and positioning to half star labels */
  /* set default star color */
  /* set color of none icon when unchecked */
  /* if none icon is checked, make it red */
  /* if any input is checked, make its following siblings grey */
  /* make all stars orange on rating group hover */
  /* make hovered input's following siblings grey on hover */
  /* make none icon grey on rating group hover */
  /* make none icon red on hover */
}

#half-stars-example .rating-group {
  display: inline-flex;
}

#half-stars-example .rating__icon {
  pointer-events: none;
}

#half-stars-example .rating__input {
  position: absolute !important;
  left: -9999px !important;
}

#half-stars-example .rating__label {
  cursor: pointer;
  /* if you change the left/right padding, update the margin-right property of .rating__label--half as well. */
  padding: 0 0.1em;
  font-size: 2rem;
}

#half-stars-example .rating__label--half {
  padding-right: 0;
  margin-right: -0.6em;
  z-index: 2;
}

#half-stars-example .rating__icon--star {
  color: orange;
}

#half-stars-example .rating__icon--none {
  color: #eee;
}

#half-stars-example .rating__input--none:checked + .rating__label .rating__icon--none {
  color: red;
}

#half-stars-example .rating__input:checked ~ .rating__label .rating__icon--star {
  color: #ddd;
}

#half-stars-example .rating-group:hover .rating__label .rating__icon--star,
#half-stars-example .rating-group:hover .rating__label--half .rating__icon--star {
  color: orange;
}

#half-stars-example .rating__input:hover ~ .rating__label .rating__icon--star,
#half-stars-example .rating__input:hover ~ .rating__label--half .rating__icon--star {
  color: #ddd;
}

#half-stars-example
  .rating-group:hover
  .rating__input--none:not(:hover)
  + .rating__label
  .rating__icon--none {
  color: #eee;
}

#half-stars-example .rating__input--none:hover + .rating__label .rating__icon--none {
  color: red;
}

#full-stars-example-two .rating-group {
  display: inline-flex;
}

#full-stars-example-two .rating__icon {
  pointer-events: none;
}

#full-stars-example-two .rating__input {
  position: absolute !important;
  left: -9999px !important;
}

#full-stars-example-two .rating__input--none {
  display: none;
}

#full-stars-example-two .rating__label {
  cursor: pointer;
  padding: 0 0.1em;
  font-size: 2rem;
}

#full-stars-example-two .rating__icon--star {
  color: orange;
}

#full-stars-example-two .rating__input:checked ~ .rating__label .rating__icon--star {
  color: #ddd;
}

#full-stars-example-two .rating-group:hover .rating__label .rating__icon--star {
  color: orange;
}

#full-stars-example-two .rating__input:hover ~ .rating__label .rating__icon--star {
  color: #ddd;
}
</style>
