<template>
    <router-link class="w-100 text-decoration-none" @click.prevent="changeProduct(product.id)" :to="{name: 'detailProduct', params: { id: product.id }}">
        <div class="card">
            <img :src="product.image[0]" class="card-img-top img-product w-100" height="300" :alt="product.title" style="object-fit: contain;">
            <div class="card-body">
                <div class="card-text product-title">{{ product.title }}</div>
                <div class="card-title __text-primary fs-4 fw-semibold">Rp. {{ product.show_price_format }}</div>
                <div class="text-muted" style="font-size: 12px;">{{ product.nama_toko }}</div>
                <div class="text-muted" style="font-size: 10px;">{{ product.lokasi_penjual }}</div>
            </div>
        </div>
    </router-link>
</template>

<script>
export default {
    name: 'CardProduct',
    props: [
        'product',
    ],
    methods: {
        changeProduct(id) {
            this.$emit("getProductDetail", id)
        }
    },
}
</script>

<style scoped>
.product-title {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: black;
}
</style>
