<template>
    <router-link :to="{name: 'pemasok-detail', params: {id: pemasok.id}}" style="text-decoration:none">
        <div class="card">
            <img :src="pemasok.logo_usaha" :alt="pemasok.nama_usaha" class="card-img-top img-product w-100" height="245" style="object-fit: contain;">
            <div class="card-body">
                <div class="card-text pemasok-title">{{ pemasok.nama_usaha }}</div>
                <div class="text-muted mt-3" style="font-size: 14px;">{{ pemasok.lokasi_penjual }}&nbsp;</div>
                <div class="text-muted" style="font-size: 12px;">{{ pemasok.telepon }}</div>
                <div class="btn __btn-primary mt-3 w-100 py-2">Lihat Toko</div>
            </div>
        </div>
    </router-link>
</template>

<script>
export default {
    name: 'CardPemasok',
    props: [
        'pemasok',
    ],
}
</script>

<style scoped>
.pemasok-title {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: black;
    font-size: 18px;
    font-weight: bold;
}
</style>
