<template>
    <div class="container-fluid position-relative">
        <swiper
            :slidesPerView="1"
            :spaceBetween="30"
            :loop="true"
            :autoplay="{
                delay: 2500,
                disableOnInteraction: true,
            }"
            :pagination="{
                clickable: true,
            }"
            :navigation="{
                nextEl: '.swiper-custom-button-next',
                prevEl: '.swiper-custom-button-prev',
            }"
            :modules="modules" class="mySwiper">
            <!-- <swiper-slide>
                <img alt="Tersedia pembayaran pemasok - BeliUMKM" :src="require('@/assets/images/slide/4-slide.jpg')"
                    class="img-fluid d-block" />
            </swiper-slide> -->
            <swiper-slide>
                <img alt="Buka tabungan Bank Raya - BeliUMKM" :src="require('@/assets/images/slide/bank-raya.jpg')"
                    class="img-fluid d-block" />
            </swiper-slide>
            <!-- <swiper-slide>
                <img alt="Terima pesanan lebih cepat - BeliUMKM" :src="require('@/assets/images/slide/gosend.jpg')"
                    class="img-fluid d-block" />
            </swiper-slide>
            <swiper-slide>
                <img alt="Kirim dulu bayar nanti - BeliUMKM" :src="require('@/assets/images/slide/grab.jpg')"
                    class="img-fluid d-block" />
            </swiper-slide> -->
            <swiper-slide>
                <img alt="Akomodasi hotel dan tiker pesawat - BeliUMKM"
                    :src="require('@/assets/images/slide/tiket-pesan-sekarang.jpg')" class="img-fluid d-block" />
            </swiper-slide>
            <swiper-slide>
                <img alt="Daftar gratis - BeliUMKM" :src="require('@/assets/images/slide-1.jpg')"
                    class="img-fluid d-block" />
            </swiper-slide>
        </swiper>

        <div class="shadow swiper-custom-button-prev">
            <!--  animate__animated animate__slideInLeft animate__faster -->
            <svg width="14" height="28" viewBox="0 0 14 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M13.0001 27.2L2.1334 16.3333C0.850065 15.05 0.850065 12.95 2.1334 11.6667L13.0001 0.799988"
                    stroke="#4C2A86" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                    stroke-linejoin="round" />
            </svg>
        </div>

        <div class="shadow swiper-custom-button-next">
            <!--  animate__animated animate__slideInRight animate__faster -->
            <svg width="14" height="28" viewBox="0 0 14 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.850098 27.2L11.7168 16.3333C13.0001 15.05 13.0001 12.95 11.7168 11.6667L0.850098 0.799988"
                    stroke="#4C2A86" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                    stroke-linejoin="round" />
            </svg>
        </div>
    </div>
</template>

<script>
import { Swiper, SwiperSlide } from "swiper/vue";

// Import Swiper styles
import "swiper/css";
import "swiper/css/pagination";
import "swiper/css/navigation";

import { Autoplay, Navigation, Pagination } from "swiper";

export default {
    name: "HomeSlider",
    components: {
        Swiper,
        SwiperSlide,
    },
    setup() {
        return {
            modules: [Autoplay, Navigation, Pagination],
        };
    },
};
</script>

<style scoped>
.swiper {
    max-width: 1280px;
    max-height: 704px;
}

.swiper:hover~.swiper-custom-button-prev,
.swiper:hover~.swiper-custom-button-next {
    display: flex;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-pagination {
    text-align: right;
    padding: 10px 48px;
}

.swiper-pagination-bullet {
    width: 16px;
    height: 16px;
    display: inline-block;
    border-radius: 50%;
    background: rgba(255, 255, 255, 1);
    opacity: 0.4;
}

.swiper-pagination-bullet-active {
    opacity: 1;
}

.swiper-custom-button-next,
.swiper-custom-button-prev {
    position: absolute;
    cursor: pointer;
    display: flex;
    /* display: none; */
    align-items: center;
    justify-content: center;
    z-index: 10;
    top: 48%;
    margin-top: calc(0px - (var(--swiper-navigation-size) / 2));
    width: 80px;
    height: 80px;
    color: rgba(76, 42, 134, 1);
    background-color: #fff;
    border-radius: 50%;
}

.swiper-custom-button-next,
.swiper-rtl .swiper-custom-button-prev {
    right: 40px;
    left: auto;
}

.swiper-custom-button-prev,
.swiper-rtl .swiper-custom-button-next {
    left: 40px;
    right: auto;
}

.swiper-custom-button-next:after,
.swiper-custom-button-prev:after {
    font-size: 28px;
}
</style>
