<template>
    <div class="container-fluid">
        <div class="main-block mx-auto">
            <router-link to="/product" class="mx-3 __text-muted text-decoration-none">Semua</router-link>
            <router-link v-for="category in categories" :to="
                    category.name === 'Jasa Transportasi' ?
                    `/product/jasa/transportasi` :
                    (
                        category.name === 'Akomodasi' ?
                        `/product/jasa/akomodasi` :
                        `/product?category=${category.id}`
                    )
                " :class="`mx-3 text-decoration-none ${
                (
                    $route.name === 'productJasaTransportasi' ||
                    $route.name === 'productJasaTransportasiTiketPesawat' ||
                    $route.name === 'categoryTransportasi'
                ) && category.name === 'Jasa Transportasi' ?
                '__text-primary fw-bold' :
                (
                    (
                        $route.name === 'productJasaAkomodasi' ||
                        $route.name === 'productJasaAkomodasiDetail' ||
                        $route.name === 'categoryAkomodasi'
                    ) && category.name === 'Akomodasi' ?
                    '__text-primary fw-bold' :
                    '__text-muted'
                )
                }`">
                {{ category.name }}
            </router-link>
        </div>
    </div>
</template>

<script>
import axios from "axios";

export default {
    name: 'inline-category',
    data() {
        return {
            categories: {},
        }
    },

    methods: {
        async getCategories() {
            await axios.get("/api/v1/product/category")
            .then((resp) => {
                this.categories = resp.data.data;
            });
        },
    },

    mounted() {
        this.getCategories()
    },
}
</script>

<style scoped>
.main-block {
    width: 100%;
    max-width: 1280px;
    display: block;
    white-space: nowrap;
    font-size: 0;
    overflow: auto;
    margin-bottom: 10px;
}

a {
    display: inline-block;
    font-size: 16px;
}

::-webkit-scrollbar {
    width: 1px;
    height: 0;
}

::-webkit-scrollbar-track {
    /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
    /* border-radius: 0; */
}

::-webkit-scrollbar-thumb {
    /* border-radius: 0; */
    /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); */
}
</style>
