<template>
  <div class="p-4">
    <b-container>
      <div class="text-center __text-primary fs-5 fw-bold bg-light py-2">
        Penyedia Layanan
      </div>
    </b-container>

    <b-container>
      <b-row>
        <b-col lg="6" class="my-2">
          <label class="fw-normal mb-1 fs-6 d-block text-start">
            Pilih Pemasok <span class="text-danger">*</span>
          </label>
          <select
            @change="updateIdPenjual($event)"
            class="form-select __form-control w-100"
          >
            <option v-for="pemasok in data_pemasok" :value="pemasok.user_id" v-text="pemasok.name"></option>
          </select>
        </b-col>
        <b-col lg="6" class="my-2 text-start px-3">
          <div class="text-danger fw-bold">Informasi :</div>
          <div>Pemasok selain <strong>PT Rumah UMKM Indonesia</strong> hanya dapat melayani metode pembayaran bertempo</div>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
import axios from 'axios';

export default {
  name: "list-pemasok",
  data() {
    return {
      id_penjual: process.env.VUE_APP_ID_PENJUAL_JASA,
      data_pemasok: null
    }
  },
  methods: {
    getDataPemasok() {
      axios.get("api/v1/travel/agent")
      .then((response) => {
        this.data_pemasok = response.data
      })
    },

    updateIdPenjual(event) {
      this.id_penjual = event.target.value;
      this.$emit("update-id-penjual", event.target.value);
    },
  },
  mounted() {
    this.getDataPemasok()
  },
};
</script>
