<template>
    <div class="modal fade" :id="id" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
        <div :class="`modal-dialog modal-lg position-relative ${isCenter && 'modal-dialog-centered'}`">
            <div class="modal-content">
                <div v-show="headShow" :class="`modal-header border-0 __bg-${variant}`">
                    <h5 class="fw-bold modal-title text-white w-100 text-center">
                        {{ title }}
                    </h5>

                    <button type="button" :class="`position-absolute __bg-${variant} border-0`" data-bs-dismiss="modal">
                        <svg width="30" height="30" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M15.2832 24.7165L24.7165 15.2832" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M24.7165 24.7165L15.2832 15.2832" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M15.0002 36.6668H25.0002C33.3335 36.6668 36.6668 33.3335 36.6668 25.0002V15.0002C36.6668 6.66683 33.3335 3.3335 25.0002 3.3335H15.0002C6.66683 3.3335 3.3335 6.66683 3.3335 15.0002V25.0002C3.3335 33.3335 6.66683 36.6668 15.0002 36.6668Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </button>
                </div>

                <div class="modal-body px-4">
                    <slot></slot>
                </div>

                <div v-show="footerShow" class="modal-body border-0 text-center d-flex flex-column gap-3 px-4">
                    <slot name="footer"></slot>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: {
      isCenter: {
        type: Boolean,
        default: true,
      },
      headShow: {
        type: Boolean,
        default: true,
      },
      footerShow: {
        type: Boolean,
        default: true,
      },
      variant: {
        type: String,
        default: 'primary',
      },
      title: {
        type: String,
        default: false,
      },
      id: {
        type: String,
        default: false,
      },
    },
}
</script>
