<template>
    <nav class="d-flex justify-content-between" aria-label="page navigation">
        <button @click.prevent="changePage(page - 1)" :class="`btn px-2 d-flex justify-content-between border align-items-center btn-prev ${page == meta?.from && 'btn-disabled'}`">
            <svg class="icon-prev" width="9" height="18" viewBox="0 0 9 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path v-if="page == meta?.from" d="M7.99984 16.9201L1.47984 10.4001C0.709844 9.63008 0.709844 8.37008 1.47984 7.60008L7.99984 1.08008" stroke="#D0D6DD" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path v-else d="M7.99984 16.9201L1.47984 10.4001C0.709844 9.63008 0.709844 8.37008 1.47984 7.60008L7.99984 1.08008" stroke="#4C2A86" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>

            <span>Sebelumnya</span>
        </button>

        <div class="d-flex align-self-center">
            <template v-for="link in meta?.links">
                <a @click.prevent="changePage(link.label)" :class="`btn mx-1 ${parseInt(link.label) === page ? 'btn-active' : 'btn-link'} text-decoration-none fw-bold`" href="#" v-if="meta?.links[0].label !== link.label && meta?.links[meta?.links.length - 1].label !== link.label">
                    {{ link.label }}
                </a>
            </template>
        </div>

        <button @click.prevent="changePage(page + 1)" :class="`btn px-2 d-flex justify-content-between border align-items-center btn-next ${page == meta?.last_page && 'btn-disabled'}`">
            <span>Selanjutnya</span>
            <svg class="icon-next" width="9" height="18" viewBox="0 0 9 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path v-if="page < meta?.last_page" d="M0.910156 16.9201L7.43016 10.4001C8.20016 9.63008 8.20016 8.37008 7.43016 7.60008L0.910156 1.08008" stroke="#4C2A86" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path v-else d="M0.910156 16.9201L7.43016 10.4001C8.20016 9.63008 8.20016 8.37008 7.43016 7.60008L0.910156 1.08008" stroke="#D0D6DD" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </button>
    </nav>
</template>

<script>
export default {
    name: 'Pagination',
    props: [
        'meta',
    ],
    data() {
        return {
            page: 1
        }
    },
    methods: {
        changePage(page) {
            this.page = parseInt(page);
            this.$emit("getPagination", parseInt(page));
        },
    },
}
</script>

<style scoped>
.icon-prev,
.icon-next {
    width: 12px;
    height: 14px;
}

.btn-next,
.btn-prev,
.btn-next:hover,
.btn-prev:hover {
    width: 13%;
    color: #4C2A86;
    background: #FFFFFF;
    border: 1px solid #4C2A86;
}
.btn-link {
    color: #8B95A5;
}
.btn-active,
.btn-link:hover,
.btn-active:hover {
    color: rgba(76, 42, 134, 1);
    background-color: rgba(76, 42, 134, 0.1);
}
.btn-disabled,
.btn-disabled:hover {
    color: rgba(208, 214, 221, 1);
    background-color: #F5F5FB;
    border: 1px solid #D0D6DD;
}
</style>
