<template>
    <div class="mb-3" v-if="pesanan.type_payment == 'transfer_ke_pemasok'">
        <div class="fw-bold text-muted d-flex align-items-center gap-3">
            <img width="100" :src="require('@/v2/assets/images/payment-logo/bank_pemasok.png')" />

            <div>
                <div>Pembayaran melalui rekening pemasok</div>
                <div>
                    {{ pesanan.penjual.rekening.nama_bank }}
                    <span class="__text-primary">{{ pesanan.penjual.rekening.no_rekening }}</span>
                </div>
                <div>a.n {{ pesanan.penjual.rekening.nama_pemilik }}</div>
            </div>
        </div>
    </div>

    <div class="mb-3" v-else-if="pesanan.type_payment == 'raya'">
        <div class="fw-bold text-muted d-flex align-items-center gap-3">
            <img width="100" :src="require('@/v2/assets/images/payment-logo/bank_raya_logo.png')" />

            <div>
                Bank Rakyat Indonesia Agroniaga / Bank Raya <span class="__text-primary">3210 01 000179 408</span> <br />
                a.n PT Rumah UMKM Indonesia
            </div>
        </div>
    </div>

    <div class="mb-3" v-else-if="pesanan.type_payment == 'bri'">
        <div class="fw-bold text-muted d-flex align-items-center gap-3">
            <img :src="require('@/v2/assets/images/payment-logo/bri_logo.png')" class="img-fluid" />

            <div>
                Bank Rakyat Indonesia <span class="__text-primary">0027-0100-3430-301</span> <br />
                a.n PT Rumah UMKM Indonesia
            </div>
        </div>
    </div>

    <div class="mb-3" v-else-if="pesanan.type_payment == 'bsg'">
        <div class="fw-bold text-muted d-flex align-items-center gap-3">
            <img :src="require('@/v2/assets/images/payment-logo/bsg_logo.png')" class="img-fluid" />

            <div>
                Bank BSG <span class="__text-primary">0030-152000-8182</span><br />
                a.n PT Rumah UMKM Indonesia
            </div>
        </div>
    </div>

    <div class="mb-3" v-else-if="pesanan.type_payment == 'sulselbar'">
        <div class="fw-bold text-muted d-flex align-items-center gap-3">
            <img :src="require('@/v2/assets/images/payment-logo/sulselbar_logo.jpeg')" class="img-fluid" />

            <div>
                Bank Sulselbar <span class="__text-primary">092-003-000-000-895-1</span><br />
                a.n Rumah UMKM Indonesia
            </div>
        </div>
    </div>

    <div class="mb-3" v-else-if="pesanan.type_payment == 'qris'">
        <div class="fw-bold text-muted">
            <img :src="require('@/assets/images/qris_umkm.png')" class="img-fluid" /> <br>
            Rumah UMKM Indonesia
        </div>
    </div>

    <div class="mb-3" v-else-if="pesanan.type_payment == 'mesin_edc'">
        <div class="fw-bold text-muted d-flex align-items-center gap-3">
            <img :src="require('@/v2/assets/images/payment-logo/edc_logo.png')" class="img-fluid" />

            <div>
                <div>Mesin EDC</div>
                Menggunakan kartu kredit pemerintah<br />
                Sales kami akan menemui anda
            </div>
        </div>
    </div>

    <div class="mb-3" v-else-if="pesanan.type_payment == 'cod'">
        <div class="fw-bold text-muted">
            <img :src="require('@/assets/images/logo-cod.png')" class="img-fluid" /> <br>
            Bayar di tempat melalui sales marketing beliumkm<br>
            (Khusus Pembayaran UP)
        </div>
    </div>

    <div class="col-6" v-if="pesanan.status === 'pesanan_dibuat'">
        <button class="py-3 btn __btn-primary w-100" data-bs-toggle="modal" data-bs-target="#pilihPembayaran">
            Pilih Pembayaran
        </button>
    </div>
</template>

<script>
export default {
    props: {
      pesanan: {
        type: Object,
        default: false,
      },
    },
}
</script>
