<template>
    <div class="row justify-content-center">
        <!-- <div class="col-12 mb-3">
            <label for="pemasok" class="d-block card">
                <div class="d-flex justify-content-between align-items-center card-body" style="height: 126px;">
                    <div class="radio">
                        <input type="radio" value="transfer_ke_pemasok" name="paymentType" v-model="pesanan.type_payment" id="pemasok" />
                        <label for="pemasok" class="radio-label d-flex align-items-center gap-3">
                            <div class="fw-normal">
                                <div class="fs-5">Pembayaran melalui rekening pemasok</div>
                                <div class="text-muted"> Pembayaran langsung ke rekening pihak pemasok </div>
                            </div>
                        </label>
                    </div>
                    <div class="my-auto" style="text-align: end">
                        <img :src="require('@/v2/assets/images/payment-logo/bank_pemasok.png')" style="width: 75%" />
                    </div>
                </div>
            </label>
        </div> -->

        <div class="col-12 mb-3">
            <div class="card py-2 px-3">
                <div class="fw-normal mb-2">
                    <div class="fs-5 fw-bold">Pembayaran melalui Toko Daring BeliUMKM</div>
                    <div>Penerusan dana kepada pihak pemasok</div>
                </div>
                <div class="col-12 mb-3">
                    <!-- <label for="midtrans" class="d-block card">
                        <div class="d-flex justify-content-between align-items-center card-body" style="height: 126px;">
                            <div class="radio">
                                <input type="radio" value="midtrans" name="paymentType" v-model="pesanan.type_payment" id="midtrans" />
                                <label for="midtrans" class="radio-label d-flex align-items-center gap-3">
                                <div class="fw-normal">
                                    <div class="fs-5">Midtrans</div>
                                    <div class="text-muted">Kartu Kredit Pemerintah via Online</div>
                                </div>
                                </label>
                            </div>
                            <div class="my-auto">
                                <img :src="require('@/assets/images/midtrans_logo.png')" class="img-fluid" />
                            </div>
                        </div>
                    </label> -->

                    <!-- <label for="qris" class="d-block card">
                        <div class="d-flex justify-content-between align-items-center card-body" style="height: 126px;">
                            <div class="radio">
                                <input type="radio" value="qris" name="paymentType" v-model="pesanan.type_payment" id="qris" />
                                <label for="qris" class="radio-label d-flex align-items-center gap-3">
                                <div class="fw-normal">
                                    <div class="fs-5">QRIS</div>
                                    <div class="text-muted">Kartu kredit pemerintah domestik via QRIS</div>
                                </div>
                                </label>
                            </div>
                            <div class="my-auto">
                                <img :src="require('@/v2/assets/images/payment-logo/qris_logo.png')" class="img-fluid" />
                            </div>
                        </div>
                    </label> -->

                    <label for="bsg" class="d-block card">
                        <div class="d-flex justify-content-between align-items-center card-body" style="height: 126px;">
                            <div class="radio">
                                <input type="radio" value="bsg" name="paymentType" v-model="pesanan.type_payment"
                                    id="bsg" />
                                <label for="bsg" class="radio-label d-flex align-items-center gap-3">
                                    <div class="fw-normal">
                                        <div class="fs-5">Transfer Bank BSG</div>
                                        <div class="text-muted"> Nomor Rekening: <span class="text-dark">0030 152000
                                                8182</span> <br /> a.n. Rumah UMKM Indonesia </div>
                                    </div>
                                </label>
                            </div>
                            <div class="my-auto">
                                <img :src="require('@/v2/assets/images/payment-logo/bsg_logo.png')" class="img-fluid" />
                            </div>
                        </div>
                    </label>

                    <label for="sulselbar" class="d-block card">
                        <div class="d-flex justify-content-between align-items-center card-body" style="height: 126px;">
                            <div class="radio">
                                <input type="radio" value="sulselbar" name="paymentType" v-model="pesanan.type_payment"
                                    id="sulselbar" />
                                <label for="sulselbar" class="radio-label d-flex align-items-center gap-3">
                                    <div class="fw-normal">
                                        <div class="fs-5">Transfer Bank Sulselbar</div>
                                        <div class="text-muted"> Nomor Rekening: <span class="text-dark">092 003 000 000 895
                                                1</span> <br /> a.n. Rumah UMKM Indonesia </div>
                                    </div>
                                </label>
                            </div>
                            <div class="my-auto">
                                <img :src="require('@/v2/assets/images/payment-logo/sulselbar_logo.jpeg')"
                                    class="img-fluid" />
                            </div>
                        </div>
                    </label>

                    <label for="bri" class="d-block card">
                        <div class="d-flex justify-content-between align-items-center card-body" style="height: 126px;">
                            <div class="radio">
                                <input type="radio" value="bri" name="paymentType" v-model="pesanan.type_payment"
                                    id="bri" />
                                <label for="bri" class="radio-label d-flex align-items-center gap-3">
                                    <div class="fw-normal">
                                        <div class="fs-5">Transfer Bank BRI</div>
                                        <div class="text-muted"> Nomor Rekening: <span class="text-dark">0027 0100 3430
                                                301</span> <br /> a.n. Rumah UMKM Indonesia </div>
                                    </div>
                                </label>
                            </div>
                            <div class="my-auto">
                                <img :src="require('@/v2/assets/images/payment-logo/bri_logo.png')" class="img-fluid" />
                            </div>
                        </div>
                    </label>

                    <label for="raya" class="d-block card">
                        <div class="d-flex justify-content-between align-items-center card-body" style="height: 126px;">
                            <div class="radio">
                                <input type="radio" value="raya" name="paymentType" v-model="pesanan.type_payment"
                                    id="raya" />
                                <label for="raya" class="radio-label d-flex align-items-center gap-3">
                                    <div class="fw-normal">
                                        <div class="fs-5">Transfer Bank Rakyat Indonesia Agroniaga / Bank Raya</div>
                                        <div class="text-muted"> Nomor Rekening: <span class="text-dark">3210 01 000179
                                                408</span> <br /> a.n. PT Rumah UMKM Indonesia </div>
                                    </div>
                                </label>
                            </div>
                            <div class="my-auto">
                                <img width="100" :src="require('@/v2/assets/images/payment-logo/bank_raya_logo.png')" />
                            </div>
                        </div>
                    </label>

                    <label for="mesin_edc" class="d-block card">
                        <div class="d-flex justify-content-between align-items-center card-body" style="height: 126px;">
                            <div class="radio">
                                <input type="radio" value="mesin_edc" name="paymentType" v-model="pesanan.type_payment"
                                    id="mesin_edc" />
                                <label for="mesin_edc" class="radio-label d-flex align-items-center gap-3">
                                    <div class="fw-normal">
                                        <div class="fs-5">Mesin EDC</div>
                                        <div class="text-muted"> Menggunakan kartu kredit pemerintah <br /> Sales kami akan
                                            menemui anda </div>
                                    </div>
                                </label>
                            </div>
                            <div class="my-auto">
                                <img :src="require('@/v2/assets/images/payment-logo/edc_logo.png')" class="img-fluid" />
                            </div>
                        </div>
                    </label>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: {
      pesanan: {
        type: Object,
        default: false,
      },
    },
}
</script>
