<template>
    <div class="container mx-5">
        <div class="d-flex gap-2 align-items-center">
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M8 0C3.57841 0 0 3.578 0 8C0 12.4215 3.578 16 8 16C12.4216 16 16 12.422 16 8C16 3.57847 12.422 0 8 0ZM8.82153 11.1757C8.82153 11.4284 8.45297 11.6811 8.00016 11.6811C7.52628 11.6811 7.18934 11.4284 7.18934 11.1757V7.16356C7.18934 6.86872 7.52631 6.66859 8.00016 6.66859C8.45297 6.66859 8.82153 6.86872 8.82153 7.16356V11.1757ZM8.00019 5.69987C7.51578 5.69987 7.13672 5.34184 7.13672 4.94166C7.13672 4.5415 7.51581 4.194 8.00019 4.194C8.47406 4.194 8.85319 4.5415 8.85319 4.94166C8.85319 5.34184 8.47403 5.69987 8.00019 5.69987Z" fill="#0D6EFD"/>
            </svg>

            <div class="fw-bold">Cara Pembayaran:</div>
        </div>

        <div class="text-muted mb-2">Lakukan pembayaran sesuai dengan yang tercantum pada nominal pembayaran</div>

        <div class="row me-5">
            <div class="mb-3 col" v-if="pesanan.type_payment == 'transfer_ke_pemasok'">
                <div class="fw-bold text-muted">
                    <div>Pembayaran melalui rekening pemasok</div>
                    <div>
                        {{ pesanan.penjual.rekening.nama_bank }}
                        <span class="__text-primary">{{ pesanan.penjual.rekening.no_rekening }}</span>
                    </div>
                    <div>a.n {{ pesanan.penjual.rekening.nama_pemilik }}</div>
                </div>
            </div>

            <div class="mb-3 col" v-else-if="pesanan.type_payment == 'raya'">
                <div class="fw-bold text-muted">
                    Bank Rakyat Indonesia Agroniaga / Bank Raya <span class="__text-primary">3210 01 000179 408</span> <br />
                    a.n PT Rumah UMKM Indonesia
                </div>
            </div>

            <div class="mb-3 col" v-else-if="pesanan.type_payment == 'bri'">
                <div class="fw-bold text-muted">
                    Bank Rakyat Indonesia <span class="__text-primary">0027-0100-3430-301</span> <br />
                    a.n PT Rumah UMKM Indonesia
                </div>
            </div>

            <div class="mb-3 col" v-else-if="pesanan.type_payment == 'bsg'">
                <div class="fw-bold text-muted">
                    Bank BSG <span class="__text-primary">0030-152000-8182</span><br />
                    a.n PT Rumah UMKM Indonesia
                </div>
            </div>

            <div class="mb-3 col" v-else-if="pesanan.type_payment == 'sulselbar'">
                <div class="fw-bold text-muted">
                    Bank Sulselbar <span class="__text-primary">092-003-000-000-895-1</span><br />
                    a.n Rumah UMKM Indonesia
                </div>
            </div>

            <div class="mb-3 col" v-else-if="pesanan.type_payment == 'qris'">
                <div class="fw-bold text-muted">
                    <img :width="qrWidth" :src="require('@/assets/images/qris_umkm.png')" class="img-fluid" /> <br>
                    Rumah UMKM Indonesia
                </div>
            </div>

            <div class="mb-3 col" v-else-if="pesanan.type_payment == 'mesin_edc'">
                <div class="fw-bold text-muted">
                    <div>Mesin EDC</div>
                    Menggunakan kartu kredit pemerintah<br />
                    Sales kami akan menemui anda
                </div>
            </div>

            <div class="mb-3 col" v-else-if="pesanan.type_payment == 'cod'">
                <div class="fw-bold text-muted">
                    <img :src="require('@/assets/images/logo-cod.png')" class="img-fluid" /> <br>
                    Bayar di tempat melalui sales marketing beliumkm<br>
                    (Khusus Pembayaran UP)
                </div>
            </div>

            <div v-if="pesanan.type_payment !== 'transfer_ke_pemasok' && isReport" class="col-3 text-center">
                <img width="120" :src="require('@/v2/assets/images/QrCode/QR-Tagihan.png')" alt="">
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: {
      qrWidth: {
        type: Number,
        default: 120,
      },
      pesanan: {
        type: Object,
        default: false,
      },
      isReport: {
        type: Boolean,
        default: false,
      },
    },
}
</script>
