<template>
    <div>
        <svg v-for="i in Math.round(count)" width="22" height="20" viewBox="0 0 22 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M4.74035 14C4.85035 13.51 4.65035 12.81 4.30035 12.46L1.87035 10.03C1.11035 9.27 0.810347 8.46 1.03035 7.76C1.26035 7.06 1.97035 6.58 3.03035 6.4L6.15035 5.88C6.60035 5.8 7.15035 5.4 7.36035 4.99L9.08035 1.54C9.58035 0.55 10.2603 0 11.0003 0C11.7403 0 12.4203 0.55 12.9203 1.54L14.6403 4.99C14.7703 5.25 15.0403 5.5 15.3303 5.67L4.56035 16.44C4.42035 16.58 4.18035 16.45 4.22035 16.25L4.74035 14Z" fill="#FEEF04"/>
            <path d="M17.6998 12.46C17.3398 12.82 17.1398 13.51 17.2598 14L17.9498 17.01C18.2398 18.26 18.0598 19.2 17.4398 19.65C17.1898 19.83 16.8898 19.92 16.5398 19.92C16.0298 19.92 15.4298 19.73 14.7698 19.34L11.8398 17.6C11.3798 17.33 10.6198 17.33 10.1598 17.6L7.2298 19.34C6.1198 19.99 5.1698 20.1 4.5598 19.65C4.3298 19.48 4.1598 19.25 4.0498 18.95L16.2098 6.79002C16.6698 6.33002 17.3198 6.12002 17.9498 6.23002L18.9598 6.40002C20.0198 6.58002 20.7298 7.06002 20.9598 7.76002C21.1798 8.46002 20.8798 9.27002 20.1198 10.03L17.6998 12.46Z" fill="#FEEF04"/>
        </svg>

        <svg v-for="i in 5 - Math.round(count)" width="22" height="20" viewBox="0 0 22 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M4.74035 14C4.85035 13.51 4.65035 12.81 4.30035 12.46L1.87035 10.03C1.11035 9.27 0.810347 8.46 1.03035 7.76C1.26035 7.06 1.97035 6.58 3.03035 6.4L6.15035 5.88C6.60035 5.8 7.15035 5.4 7.36035 4.99L9.08035 1.54C9.58035 0.55 10.2603 0 11.0003 0C11.7403 0 12.4203 0.55 12.9203 1.54L14.6403 4.99C14.7703 5.25 15.0403 5.5 15.3303 5.67L4.56035 16.44C4.42035 16.58 4.18035 16.45 4.22035 16.25L4.74035 14Z" fill="#D0D6DD"/>
            <path d="M17.6998 12.46C17.3398 12.82 17.1398 13.51 17.2598 14L17.9498 17.01C18.2398 18.26 18.0598 19.2 17.4398 19.65C17.1898 19.83 16.8898 19.92 16.5398 19.92C16.0298 19.92 15.4298 19.73 14.7698 19.34L11.8398 17.6C11.3798 17.33 10.6198 17.33 10.1598 17.6L7.2298 19.34C6.1198 19.99 5.1698 20.1 4.5598 19.65C4.3298 19.48 4.1598 19.25 4.0498 18.95L16.2098 6.79002C16.6698 6.33002 17.3198 6.12002 17.9498 6.23002L18.9598 6.40002C20.0198 6.58002 20.7298 7.06002 20.9598 7.76002C21.1798 8.46002 20.8798 9.27002 20.1198 10.03L17.6998 12.46Z" fill="#D0D6DD"/>
        </svg>
    </div>
</template>

<script>
export default {
    name: 'rating',
    props: [
        'count'
    ]
}
</script>
