<template>
  <div class="h-100 px-4 py-5 __bg-primary">
    <ul class="list-unstyled">
      <li :class="`nav-item`">
        <router-link
          to="/dashboard"
          :class="`nav-link py-3 px-2 rounded w-100 ${
            getRouteName('dashboard') ? 'bg-white __text-primary fw-bold' : ''
          } d-flex`"
          aria-current="page"
        >
          <div class="d-flex">
            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M5.89999 17H18.09C19.99 17 20.99 16 20.99 14.1V2H2.98999V14.1C2.99999 16 3.99999 17 5.89999 17Z"
                :stroke="`${getRouteName('dashboard') ? '#4C2A86' : '#FFFFFF'}`"
                stroke-width="1.5"
                stroke-miterlimit="10"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M2 2H22"
                :stroke="`${getRouteName('dashboard') ? '#4C2A86' : '#FFFFFF'}`"
                stroke-width="1.5"
                stroke-miterlimit="10"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M8 22L12 20V17"
                :stroke="`${getRouteName('dashboard') ? '#4C2A86' : '#FFFFFF'}`"
                stroke-width="1.5"
                stroke-miterlimit="10"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M16 22L12 20"
                :stroke="`${getRouteName('dashboard') ? '#4C2A86' : '#FFFFFF'}`"
                stroke-width="1.5"
                stroke-miterlimit="10"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M7.5 11L10.65 8.37C10.9 8.16 11.23 8.22 11.4 8.5L12.6 10.5C12.77 10.78 13.1 10.83 13.35 10.63L16.5 8"
                :stroke="`${getRouteName('dashboard') ? '#4C2A86' : '#FFFFFF'}`"
                stroke-width="1.5"
                stroke-miterlimit="10"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>

            <div class="ms-3">Dashboard</div>
          </div>
        </router-link>
      </li>

      <li :class="`nav-item`" v-show="user_role !== 'Pembeli'">
        <router-link
          to="/dashboard/produk"
          :class="`nav-link py-3 px-2 rounded w-100 ${
            getRouteName('dashboardProduk') ||
            getRouteName('dashboardTambahProduk') ||
            getRouteName('dashboardEditProduk')
              ? 'bg-white __text-primary fw-bold'
              : ''
          } d-flex`"
          aria-current="page"
        >
          <div class="d-flex">
            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M22 16.7399V4.66994C22 3.46994 21.02 2.57994 19.83 2.67994H19.77C17.67 2.85994 14.48 3.92994 12.7 5.04994L12.53 5.15994C12.24 5.33994 11.76 5.33994 11.47 5.15994L11.22 5.00994C9.44 3.89994 6.26 2.83994 4.16 2.66994C2.97 2.56994 2 3.46994 2 4.65994V16.7399C2 17.6999 2.78 18.5999 3.74 18.7199L4.03 18.7599C6.2 19.0499 9.55 20.1499 11.47 21.1999L11.51 21.2199C11.78 21.3699 12.21 21.3699 12.47 21.2199C14.39 20.1599 17.75 19.0499 19.93 18.7599L20.26 18.7199C21.22 18.5999 22 17.6999 22 16.7399Z"
                :stroke="`${
                  getRouteName('dashboardProduk') ||
                  getRouteName('dashboardTambahProduk') ||
                  getRouteName('dashboardEditProduk')
                    ? '#4C2A86'
                    : '#FFFFFF'
                }`"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M12 5.48999V20.49"
                :stroke="`${
                  getRouteName('dashboardProduk') ||
                  getRouteName('dashboardTambahProduk') ||
                  getRouteName('dashboardEditProduk')
                    ? '#4C2A86'
                    : '#FFFFFF'
                }`"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M7.75 8.48999H5.5"
                :stroke="`${
                  getRouteName('dashboardProduk') ||
                  getRouteName('dashboardTambahProduk') ||
                  getRouteName('dashboardEditProduk')
                    ? '#4C2A86'
                    : '#FFFFFF'
                }`"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M8.5 11.49H5.5"
                :stroke="`${
                  getRouteName('dashboardProduk') ||
                  getRouteName('dashboardTambahProduk') ||
                  getRouteName('dashboardEditProduk')
                    ? '#4C2A86'
                    : '#FFFFFF'
                }`"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>

            <div class="ms-3">Produk Usaha</div>
          </div>
        </router-link>
      </li>

      <li :class="`mt-2 nav-item`">
        <router-link
          to="/dashboard/chat"
          :class="`nav-link py-3 px-2 rounded w-100 ${
            getRouteName('dashboardChatRoom') ? 'bg-white __text-primary fw-bold' : ''
          } d-flex`"
          aria-current="page"
        >
          <div class="d-flex">
            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M8.5 19H8C4 19 2 18 2 13V8C2 4 4 2 8 2H16C20 2 22 4 22 8V13C22 17 20 19 16 19H15.5C15.19 19 14.89 19.15 14.7 19.4L13.2 21.4C12.54 22.28 11.46 22.28 10.8 21.4L9.3 19.4C9.14 19.18 8.77 19 8.5 19Z"
                :stroke="`${getRouteName('dashboardChatRoom') ? '#4C2A86' : '#FFFFFF'}`"
                stroke-width="1.5"
                stroke-miterlimit="10"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M15.9965 11H16.0054"
                :stroke="`${getRouteName('dashboardChatRoom') ? '#4C2A86' : '#FFFFFF'}`"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M11.9955 11H12.0045"
                :stroke="`${getRouteName('dashboardChatRoom') ? '#4C2A86' : '#FFFFFF'}`"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M7.99451 11H8.00349"
                :stroke="`${getRouteName('dashboardChatRoom') ? '#4C2A86' : '#FFFFFF'}`"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>

            <div class="ms-3">Chat</div>
          </div>
        </router-link>
      </li>

      <li :class="`mt-2 nav-item`" v-show="user_role !== 'Pembeli'">
        <router-link
          to="/dashboard/transaksi/pesanan"
          :class="`nav-link py-3 px-2 rounded w-100 ${
            getRouteName('dashboardTransaksiPesanan')
              ? 'bg-white __text-primary fw-bold'
              : ''
          } d-flex`"
          aria-current="page"
        >
          <div class="d-flex">
            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M8.5 14.25C8.5 16.17 10.08 17.75 12 17.75C13.92 17.75 15.5 16.17 15.5 14.25"
                :stroke="`${
                  getRouteName('dashboardTransaksiPesanan') ? '#4C2A86' : '#FFFFFF'
                }`"
                stroke-width="1.5"
                stroke-miterlimit="10"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M8.80994 2L5.18994 5.63"
                :stroke="`${
                  getRouteName('dashboardTransaksiPesanan') ? '#4C2A86' : '#FFFFFF'
                }`"
                stroke-width="1.5"
                stroke-miterlimit="10"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M15.1899 2L18.8099 5.63"
                :stroke="`${
                  getRouteName('dashboardTransaksiPesanan') ? '#4C2A86' : '#FFFFFF'
                }`"
                stroke-width="1.5"
                stroke-miterlimit="10"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M2 7.84961C2 5.99961 2.99 5.84961 4.22 5.84961H19.78C21.01 5.84961 22 5.99961 22 7.84961C22 9.99961 21.01 9.84961 19.78 9.84961H4.22C2.99 9.84961 2 9.99961 2 7.84961Z"
                :stroke="`${
                  getRouteName('dashboardTransaksiPesanan') ? '#4C2A86' : '#FFFFFF'
                }`"
                stroke-width="1.5"
              />
              <path
                d="M3.5 10L4.91 18.64C5.23 20.58 6 22 8.86 22H14.89C18 22 18.46 20.64 18.82 18.76L20.5 10"
                :stroke="`${
                  getRouteName('dashboardTransaksiPesanan') ? '#4C2A86' : '#FFFFFF'
                }`"
                stroke-width="1.5"
                stroke-linecap="round"
              />
            </svg>

            <div class="ms-3">Pesanan</div>
          </div>
        </router-link>
      </li>

      <li :class="`mt-2 nav-item`" v-show="user_role === 'Pembeli'">
        <router-link
          to="#"
          :class="`nav-link py-3 px-2 rounded-top rounded-right w-100 ${
            getRouteName('dashboardTransaksiPesanan') ||
            getRouteName('dashboardPembeliTagihan')
              ? 'bg-white __text-primary fw-bold'
              : ''
          } d-flex justify-content-between`"
          data-bs-toggle="collapse"
          data-bs-target="#collapseTransaksi"
          :aria-expanded="`${
            getRouteName('dashboardTransaksiPesanan') ||
            getRouteName('dashboardPembeliTagihan')
              ? 'true'
              : 'false'
          }`"
          aria-controls="collapseTransaksi"
        >
          <div class="d-flex">
            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M8.5 14.25C8.5 16.17 10.08 17.75 12 17.75C13.92 17.75 15.5 16.17 15.5 14.25"
                :stroke="`${
                  getRouteName('dashboardTransaksiPesanan') ||
                  getRouteName('dashboardPembeliTagihan')
                    ? '#4C2A86'
                    : '#FFFFFF'
                }`"
                stroke-width="1.5"
                stroke-miterlimit="10"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M8.80994 2L5.18994 5.63"
                :stroke="`${
                  getRouteName('dashboardTransaksiPesanan') ||
                  getRouteName('dashboardPembeliTagihan')
                    ? '#4C2A86'
                    : '#FFFFFF'
                }`"
                stroke-width="1.5"
                stroke-miterlimit="10"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M15.1899 2L18.8099 5.63"
                :stroke="`${
                  getRouteName('dashboardTransaksiPesanan') ||
                  getRouteName('dashboardPembeliTagihan')
                    ? '#4C2A86'
                    : '#FFFFFF'
                }`"
                stroke-width="1.5"
                stroke-miterlimit="10"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M2 7.84961C2 5.99961 2.99 5.84961 4.22 5.84961H19.78C21.01 5.84961 22 5.99961 22 7.84961C22 9.99961 21.01 9.84961 19.78 9.84961H4.22C2.99 9.84961 2 9.99961 2 7.84961Z"
                :stroke="`${
                  getRouteName('dashboardTransaksiPesanan') ||
                  getRouteName('dashboardPembeliTagihan')
                    ? '#4C2A86'
                    : '#FFFFFF'
                }`"
                stroke-width="1.5"
              />
              <path
                d="M3.5 10L4.91 18.64C5.23 20.58 6 22 8.86 22H14.89C18 22 18.46 20.64 18.82 18.76L20.5 10"
                :stroke="`${
                  getRouteName('dashboardTransaksiPesanan') ||
                  getRouteName('dashboardPembeliTagihan')
                    ? '#4C2A86'
                    : '#FFFFFF'
                }`"
                stroke-width="1.5"
                stroke-linecap="round"
              />
            </svg>

            <div class="ms-3">Transaksi</div>
          </div>

          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M19.9201 8.94922L13.4001 15.4692C12.6301 16.2392 11.3701 16.2392 10.6001 15.4692L4.08008 8.94922"
              :stroke="`${
                getRouteName('dashboardTransaksiPesanan') ||
                getRouteName('dashboardPembeliTagihan')
                  ? '#4C2A86'
                  : '#FFFFFF'
              }`"
              stroke-width="1.5"
              stroke-miterlimit="10"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </router-link>

        <div
          :class="`collapse ${
            getRouteName('dashboardTransaksiPesanan') ||
            getRouteName('dashboardPembeliTagihan')
              ? 'show'
              : ''
          }`"
          id="collapseTransaksi"
        >
          <router-link
            to="/dashboard/transaksi/pesanan"
            :class="`nav-link sub_item px-4 py-2 ${
              getRouteName('dashboardTransaksiPesanan') ? 'active' : ''
            } d-flex justify-content-between`"
            aria-current="page"
          >
            <div class="d-flex my-2 align-items-center ms-2">
              <svg
                width="6"
                height="6"
                viewBox="0 0 6 6"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <circle
                  cx="3"
                  cy="3"
                  r="3"
                  :fill="`${
                    getRouteName('dashboardTransaksiPesanan') ? '#4C2A86' : '#FFFFFF'
                  }`"
                />
              </svg>

              <div class="ms-3">Pesanan</div>
            </div>
          </router-link>
          <router-link
            to="/dashboard/pembeli/transaksi/tagihan"
            :class="`nav-link sub_item px-4 py-2 ${
              getRouteName('dashboardPembeliTagihan') ? 'active' : ''
            } d-flex justify-content-between`"
            aria-current="page"
          >
            <div class="d-flex my-2 align-items-center ms-2">
              <svg
                width="6"
                height="6"
                viewBox="0 0 6 6"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <circle
                  cx="3"
                  cy="3"
                  r="3"
                  :fill="`${
                    getRouteName('dashboardPembeliTagihan') ? '#4C2A86' : '#FFFFFF'
                  }`"
                />
              </svg>

              <div class="ms-3">Konfirmasi Pembayaran</div>
            </div>
          </router-link>
        </div>
      </li>

      <li :class="`mt-2 nav-item`" v-show="user_role !== 'Pembeli'">
        <router-link
          to="/dashboard/transaksi/riwayat-pinjaman"
          :class="`nav-link py-3 px-2 rounded w-100 ${
            getRouteName('dashboardHistoryRiwayatPinjaman')
              ? 'bg-white __text-primary fw-bold'
              : ''
          } d-flex`"
          aria-current="page"
        >
          <div class="d-flex">
            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M8 12.2H15"
                :stroke="`${
                  getRouteName('dashboardHistoryRiwayatPinjaman') ? '#4C2A86' : '#FFFFFF'
                }`"
                stroke-width="1.5"
                stroke-miterlimit="10"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M8 16.2H12.38"
                :stroke="`${
                  getRouteName('dashboardHistoryRiwayatPinjaman') ? '#4C2A86' : '#FFFFFF'
                }`"
                stroke-width="1.5"
                stroke-miterlimit="10"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M10 6H14C16 6 16 5 16 4C16 2 15 2 14 2H10C9 2 8 2 8 4C8 6 9 6 10 6Z"
                :stroke="`${
                  getRouteName('dashboardHistoryRiwayatPinjaman') ? '#4C2A86' : '#FFFFFF'
                }`"
                stroke-width="1.5"
                stroke-miterlimit="10"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M16 4.02002C19.33 4.20002 21 5.43002 21 10V16C21 20 20 22 15 22H9C4 22 3 20 3 16V10C3 5.44002 4.67 4.20002 8 4.02002"
                :stroke="`${
                  getRouteName('dashboardHistoryRiwayatPinjaman') ? '#4C2A86' : '#FFFFFF'
                }`"
                stroke-width="1.5"
                stroke-miterlimit="10"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>

            <div class="ms-3">Riwayat Pembayaran</div>
          </div>
        </router-link>
      </li>

      <!-- <li :class="`mt-2 nav-item`" v-show="user_role !== 'Pembeli'">
        <router-link
          to="/dashboard/transaksi/tagihan-biaya-layanan"
          :class="`nav-link py-3 px-2 rounded w-100 ${getRouteName('dashboardTagihanBiayaLayanan') ? 'bg-white __text-primary fw-bold' : ''} d-flex`"
          aria-current="page"
        >
          <div class="d-flex">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M5.5 8C6.88071 8 8 6.88071 8 5.5C8 4.11929 6.88071 3 5.5 3C4.11929 3 3 4.11929 3 5.5C3 6.88071 4.11929 8 5.5 8Z" :stroke="`${getRouteName('dashboardTagihanBiayaLayanan') ? '#4C2A86' : '#FFFFFF'}`" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M18.5 21C19.8807 21 21 19.8807 21 18.5C21 17.1193 19.8807 16 18.5 16C17.1193 16 16 17.1193 16 18.5C16 19.8807 17.1193 21 18.5 21Z" :stroke="`${getRouteName('dashboardTagihanBiayaLayanan') ? '#4C2A86' : '#FFFFFF'}`" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M21 3L3 21" :stroke="`${getRouteName('dashboardTagihanBiayaLayanan') ? '#4C2A86' : '#FFFFFF'}`" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>

            <div class="ms-3">Tagihan Biaya Layanan</div>
          </div>
        </router-link>
      </li> -->

      <li :class="`mt-2 nav-item`">
        <router-link
          to="/dashboard/edit-profile"
          :class="`nav-link py-3 px-2 rounded w-100 ${
            getRouteName('dashboardEditProfile') ? 'bg-white __text-primary fw-bold' : ''
          } d-flex`"
          aria-current="page"
        >
          <div class="d-flex">
            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M12 12C14.7614 12 17 9.76142 17 7C17 4.23858 14.7614 2 12 2C9.23858 2 7 4.23858 7 7C7 9.76142 9.23858 12 12 12Z"
                :stroke="`${
                  getRouteName('dashboardEditProfile') ? '#4C2A86' : '#FFFFFF'
                }`"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M19.2101 15.741L15.67 19.281C15.53 19.421 15.4 19.681 15.37 19.871L15.18 21.221C15.11 21.711 15.45 22.051 15.94 21.981L17.29 21.791C17.48 21.761 17.75 21.631 17.88 21.491L21.42 17.951C22.03 17.341 22.32 16.631 21.42 15.731C20.53 14.841 19.8201 15.131 19.2101 15.741Z"
                :stroke="`${
                  getRouteName('dashboardEditProfile') ? '#4C2A86' : '#FFFFFF'
                }`"
                stroke-width="1.5"
                stroke-miterlimit="10"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M18.7002 16.25C19.0002 17.33 19.8402 18.17 20.9202 18.47"
                :stroke="`${
                  getRouteName('dashboardEditProfile') ? '#4C2A86' : '#FFFFFF'
                }`"
                stroke-width="1.5"
                stroke-miterlimit="10"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M3.41016 22C3.41016 18.13 7.26018 15 12.0002 15C13.0402 15 14.0402 15.15 14.9702 15.43"
                :stroke="`${
                  getRouteName('dashboardEditProfile') ? '#4C2A86' : '#FFFFFF'
                }`"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>

            <div class="ms-3">Edit Profil</div>
          </div>
        </router-link>
      </li>

      <li :class="`mt-2 nav-item`" v-show="validateAccountManagement()">
        <router-link
          to="/dashboard/manajemen-akun"
          :class="`nav-link py-3 px-2 rounded w-100 ${
            getRouteName('dashboardManajemenAkun')
              ? 'bg-white __text-primary fw-bold'
              : ''
          } d-flex`"
          aria-current="page"
        >
          <div class="d-flex">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              width="24"
              height="24"
              stroke-width="1.5"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M18 18.72a9.094 9.094 0 0 0 3.741-.479 3 3 0 0 0-4.682-2.72m.94 3.198.001.031c0 .225-.012.447-.037.666A11.944 11.944 0 0 1 12 21c-2.17 0-4.207-.576-5.963-1.584A6.062 6.062 0 0 1 6 18.719m12 0a5.971 5.971 0 0 0-.941-3.197m0 0A5.995 5.995 0 0 0 12 12.75a5.995 5.995 0 0 0-5.058 2.772m0 0a3 3 0 0 0-4.681 2.72 8.986 8.986 0 0 0 3.74.477m.94-3.197a5.971 5.971 0 0 0-.94 3.197M15 6.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm6 3a2.25 2.25 0 1 1-4.5 0 2.25 2.25 0 0 1 4.5 0Zm-13.5 0a2.25 2.25 0 1 1-4.5 0 2.25 2.25 0 0 1 4.5 0Z"
              />
            </svg>

            <div class="ms-3">Akun Management</div>
          </div>
        </router-link>
      </li>

      <li :class="`mt-2 nav-item`" v-show="user_role === 'Pembeli'">
        <router-link
          to="/dashboard/document"
          :class="`nav-link py-3 px-2 rounded w-100 ${
            getRouteName('dashboardDocument') ? 'bg-white __text-primary fw-bold' : ''
          } d-flex`"
          aria-current="page"
        >
          <div class="d-flex">
            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                :stroke="`${getRouteName('dashboardDocument') ? '#4C2A86' : '#FFFFFF'}`"
                d="M9 22H15C20 22 22 20 22 15V9C22 4 20 2 15 2H9C4 2 2 4 2 9V15C2 20 4 22 9 22Z"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                :stroke="`${getRouteName('dashboardDocument') ? '#4C2A86' : '#FFFFFF'}`"
                d="M15.75 9H8.25"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                :stroke="`${getRouteName('dashboardDocument') ? '#4C2A86' : '#FFFFFF'}`"
                d="M15.75 15H8.25"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>

            <div class="ms-3">Unduh Dokumen Kami</div>
          </div>
        </router-link>
      </li>

      <li :class="`mt-2 nav-item`">
        <router-link
          to="/dashboard/kontak"
          :class="`nav-link py-3 px-2 rounded w-100 ${
            getRouteName('dashboardKontak') ? 'bg-white __text-primary fw-bold' : ''
          } d-flex`"
          aria-current="page"
        >
          <div class="d-flex">
            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M21.97 18.33C21.97 18.69 21.89 19.06 21.72 19.42C21.55 19.78 21.33 20.12 21.04 20.44C20.55 20.98 20.01 21.37 19.4 21.62C18.8 21.87 18.15 22 17.45 22C16.43 22 15.34 21.76 14.19 21.27C13.04 20.78 11.89 20.12 10.75 19.29C9.6 18.45 8.51 17.52 7.47 16.49C6.44 15.45 5.51 14.36 4.68 13.22C3.86 12.08 3.2 10.94 2.72 9.81C2.24 8.67 2 7.58 2 6.54C2 5.86 2.12 5.21 2.36 4.61C2.6 4 2.98 3.44 3.51 2.94C4.15 2.31 4.85 2 5.59 2C5.87 2 6.15 2.06 6.4 2.18C6.66 2.3 6.89 2.48 7.07 2.74L9.39 6.01C9.57 6.26 9.7 6.49 9.79 6.71C9.88 6.92 9.93 7.13 9.93 7.32C9.93 7.56 9.86 7.8 9.72 8.03C9.59 8.26 9.4 8.5 9.16 8.74L8.4 9.53C8.29 9.64 8.24 9.77 8.24 9.93C8.24 10.01 8.25 10.08 8.27 10.16C8.3 10.24 8.33 10.3 8.35 10.36C8.53 10.69 8.84 11.12 9.28 11.64C9.73 12.16 10.21 12.69 10.73 13.22C11.27 13.75 11.79 14.24 12.32 14.69C12.84 15.13 13.27 15.43 13.61 15.61C13.66 15.63 13.72 15.66 13.79 15.69C13.87 15.72 13.95 15.73 14.04 15.73C14.21 15.73 14.34 15.67 14.45 15.56L15.21 14.81C15.46 14.56 15.7 14.37 15.93 14.25C16.16 14.11 16.39 14.04 16.64 14.04C16.83 14.04 17.03 14.08 17.25 14.17C17.47 14.26 17.7 14.39 17.95 14.56L21.26 16.91C21.52 17.09 21.7 17.3 21.81 17.55C21.91 17.8 21.97 18.05 21.97 18.33Z"
                :stroke="`${getRouteName('dashboardKontak') ? '#4C2A86' : '#FFFFFF'}`"
                stroke-width="1.5"
                stroke-miterlimit="10"
              />
            </svg>

            <div class="ms-3">Hubungi Kami</div>
          </div>
        </router-link>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: "sidebar",

  data() {
    return {
      user_role: localStorage.getItem("user_role"),
      loggedInLKPP: localStorage.getItem("loggedInLKPP"),
    };
  },

  methods: {
    getRouteName(routeName) {
      return this.$route.name === routeName;
    },

    validateAccountManagement() {
      if (this.user_role == "Pembeli") {
        // if (process.env.VUE_APP_IS_LOCALHOST) {
        //   return true;
        // }

        return this.loggedInLKPP == "true";
      }

      return false;
    },
  },

  mounted() {
    //
  },
};
</script>

<style scoped>
.__bg-dark-light {
  background: rgba(255, 255, 255, 0.8);
}
.sub_item.active {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  color: #4c2a86;
  background: rgba(255, 255, 255, 0.8);
}
</style>
