<template>
    <Button @click.prevent="changeTabs('Produk')" :class="`btn ${tab === 'Produk' ? '__btn-primary' : '__btn-light'} d-flex gap-2 align-items-center`">
        <svg v-if="tab === 'Produk'" width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M17.24 4.58H16.84L13.46 1.2C13.19 0.929998 12.75 0.929998 12.47 1.2C12.2 1.47 12.2 1.91 12.47 2.19L14.86 4.58H5.14L7.53 2.19C7.8 1.92 7.8 1.48 7.53 1.2C7.26 0.929998 6.82 0.929998 6.54 1.2L3.17 4.58H2.77C1.87 4.58 0 4.58 0 7.14C0 8.11 0.2 8.75 0.62 9.17C0.86 9.42 1.15 9.55 1.46 9.62C1.75 9.69 2.06 9.7 2.36 9.7H17.64C17.95 9.7 18.24 9.68 18.52 9.62C19.36 9.42 20 8.82 20 7.14C20 4.58 18.13 4.58 17.24 4.58Z" fill="white"/>
            <path d="M17.0497 11H2.86967C2.24967 11 1.77967 11.55 1.87967 12.16L2.71967 17.3C2.99967 19.02 3.74967 21 7.07967 21H12.6897C16.0597 21 16.6597 19.31 17.0197 17.42L18.0297 12.19C18.1497 11.57 17.6797 11 17.0497 11ZM9.99967 18.5C7.65967 18.5 5.74967 16.59 5.74967 14.25C5.74967 13.84 6.08967 13.5 6.49967 13.5C6.90967 13.5 7.24967 13.84 7.24967 14.25C7.24967 15.77 8.47967 17 9.99967 17C11.5197 17 12.7497 15.77 12.7497 14.25C12.7497 13.84 13.0897 13.5 13.4997 13.5C13.9097 13.5 14.2497 13.84 14.2497 14.25C14.2497 16.59 12.3397 18.5 9.99967 18.5Z" fill="white"/>
        </svg>
        <svg v-else width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M17.24 4.58H16.84L13.46 1.2C13.19 0.929998 12.75 0.929998 12.47 1.2C12.2 1.47 12.2 1.91 12.47 2.19L14.86 4.58H5.14L7.53 2.19C7.8 1.92 7.8 1.48 7.53 1.2C7.26 0.929998 6.82 0.929998 6.54 1.2L3.17 4.58H2.77C1.87 4.58 0 4.58 0 7.14C0 8.11 0.2 8.75 0.62 9.17C0.86 9.42 1.15 9.55 1.46 9.62C1.75 9.69 2.06 9.7 2.36 9.7H17.64C17.95 9.7 18.24 9.68 18.52 9.62C19.36 9.42 20 8.82 20 7.14C20 4.58 18.13 4.58 17.24 4.58Z" fill="#8B95A5"/>
            <path d="M17.0497 11H2.86967C2.24967 11 1.77967 11.55 1.87967 12.16L2.71967 17.3C2.99967 19.02 3.74967 21 7.07967 21H12.6897C16.0597 21 16.6597 19.31 17.0197 17.42L18.0297 12.19C18.1497 11.57 17.6797 11 17.0497 11ZM9.99967 18.5C7.65967 18.5 5.74967 16.59 5.74967 14.25C5.74967 13.84 6.08967 13.5 6.49967 13.5C6.90967 13.5 7.24967 13.84 7.24967 14.25C7.24967 15.77 8.47967 17 9.99967 17C11.5197 17 12.7497 15.77 12.7497 14.25C12.7497 13.84 13.0897 13.5 13.4997 13.5C13.9097 13.5 14.2497 13.84 14.2497 14.25C14.2497 16.59 12.3397 18.5 9.99967 18.5Z" fill="#8B95A5"/>
        </svg>
        <div class="mt-1">Produk</div>
    </Button>
    <Button @click.prevent="changeTabs('Pemasok')" :class="`btn ${tab === 'Pemasok' ? '__btn-primary' : '__btn-light'} d-flex gap-2 align-items-center`">
        <svg v-if="tab === 'Pemasok'" width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M21.3596 7.27L21.0696 4.5C20.6496 1.48 19.2796 0.25 16.3497 0.25H13.9896H12.5097H9.46965H7.98965H5.58965C2.64965 0.25 1.28965 1.48 0.85965 4.53L0.58965 7.28C0.48965 8.35 0.77965 9.39 1.40965 10.2C2.16965 11.19 3.33965 11.75 4.63965 11.75C5.89965 11.75 7.10965 11.12 7.86965 10.11C8.54965 11.12 9.70965 11.75 10.9997 11.75C12.2896 11.75 13.4197 11.15 14.1096 10.15C14.8797 11.14 16.0696 11.75 17.3096 11.75C18.6396 11.75 19.8396 11.16 20.5896 10.12C21.1896 9.32 21.4597 8.31 21.3596 7.27Z" fill="white"/>
            <path d="M10.3501 15.66C9.08012 15.79 8.12012 16.87 8.12012 18.15V20.89C8.12012 21.16 8.34012 21.38 8.61012 21.38H13.3801C13.6501 21.38 13.8701 21.16 13.8701 20.89V18.5C13.8801 16.41 12.6501 15.42 10.3501 15.66Z" fill="white"/>
            <path d="M20.3699 13.4V16.38C20.3699 19.14 18.1299 21.38 15.3699 21.38C15.0999 21.38 14.8799 21.16 14.8799 20.89V18.5C14.8799 17.22 14.4899 16.22 13.7299 15.54C13.0599 14.93 12.1499 14.63 11.0199 14.63C10.7699 14.63 10.5199 14.64 10.2499 14.67C8.46988 14.85 7.11988 16.35 7.11988 18.15V20.89C7.11988 21.16 6.89988 21.38 6.62988 21.38C3.86988 21.38 1.62988 19.14 1.62988 16.38V13.42C1.62988 12.72 2.31988 12.25 2.96988 12.48C3.23988 12.57 3.50988 12.64 3.78988 12.68C3.90988 12.7 4.03988 12.72 4.15988 12.72C4.31988 12.74 4.47988 12.75 4.63988 12.75C5.79988 12.75 6.93988 12.32 7.83988 11.58C8.69988 12.32 9.81988 12.75 10.9999 12.75C12.1899 12.75 13.2899 12.34 14.1499 11.6C15.0499 12.33 16.1699 12.75 17.3099 12.75C17.4899 12.75 17.6699 12.74 17.8399 12.72C17.9599 12.71 18.0699 12.7 18.1799 12.68C18.4899 12.64 18.7699 12.55 19.0499 12.46C19.6999 12.24 20.3699 12.72 20.3699 13.4Z" fill="white"/>
        </svg>
        <svg v-else width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M21.3596 7.27L21.0696 4.5C20.6496 1.48 19.2796 0.25 16.3497 0.25H13.9896H12.5097H9.46965H7.98965H5.58965C2.64965 0.25 1.28965 1.48 0.85965 4.53L0.58965 7.28C0.48965 8.35 0.77965 9.39 1.40965 10.2C2.16965 11.19 3.33965 11.75 4.63965 11.75C5.89965 11.75 7.10965 11.12 7.86965 10.11C8.54965 11.12 9.70965 11.75 10.9997 11.75C12.2896 11.75 13.4197 11.15 14.1096 10.15C14.8797 11.14 16.0696 11.75 17.3096 11.75C18.6396 11.75 19.8396 11.16 20.5896 10.12C21.1896 9.32 21.4597 8.31 21.3596 7.27Z" fill="#8B95A5"/>
            <path d="M20.3699 13.4V16.38C20.3699 19.14 18.1299 21.38 15.3699 21.38C15.0999 21.38 14.8799 21.16 14.8799 20.89V18.5C14.8799 17.22 14.4899 16.22 13.7299 15.54C13.0599 14.93 12.1499 14.63 11.0199 14.63C10.7699 14.63 10.5199 14.64 10.2499 14.67C8.46988 14.85 7.11988 16.35 7.11988 18.15V20.89C7.11988 21.16 6.89988 21.38 6.62988 21.38C3.86988 21.38 1.62988 19.14 1.62988 16.38V13.42C1.62988 12.72 2.31988 12.25 2.96988 12.48C3.23988 12.57 3.50988 12.64 3.78988 12.68C3.90988 12.7 4.03988 12.72 4.15988 12.72C4.31988 12.74 4.47988 12.75 4.63988 12.75C5.79988 12.75 6.93988 12.32 7.83988 11.58C8.69988 12.32 9.81988 12.75 10.9999 12.75C12.1899 12.75 13.2899 12.34 14.1499 11.6C15.0499 12.33 16.1699 12.75 17.3099 12.75C17.4899 12.75 17.6699 12.74 17.8399 12.72C17.9599 12.71 18.0699 12.7 18.1799 12.68C18.4899 12.64 18.7699 12.55 19.0499 12.46C19.6999 12.24 20.3699 12.72 20.3699 13.4Z" fill="#8B95A5"/>
        </svg>
        <div class="mt-1">Pemasok</div>
    </Button>
</template>

<script>
import Button from '@/v2/components/Button'

export default {
    name: 'TabNavigation',

    components: {
        Button,
    },

    props: [
        'tab',
    ],

    methods: {
        changeTabs(tab) {
            const name = (tab === 'Produk' ? 'product' : 'pemasok');
            return this.$router.push({ name: name });
        },
    },
}
</script>
