<template>
  <Navbar />

  <div class="container-fluid">
    <div class="row position-relative" style="margin-left: 0;">
      <div class="bg-light position-absolute col-lg-9 offset-3 ps-4 py-2 d-flex align-items-center gap-3 __text-primary" style="z-index: 100;">
        <div class="fs-5 fw-semibold">Ruang Chat</div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-3">
        <Sidebar />
      </div>

      <div class="col-lg-9">
        <div class="mt-5">
          <b-skeleton-wrapper :loading="loading">
            <template #loading>
              <div class="row">
                <div class="col-lg-4 py-4">
                    <b-skeleton class="w-100 mb-2" height="40px"></b-skeleton>
                    <div class="d-flex align-items-center mb-2" v-for="i in 4">
                        <b-skeleton class="rounded-circle" height="60px" width="60px" circle></b-skeleton>
                        <div class="ms-2 w-75">
                            <b-skeleton class="w-50"></b-skeleton>
                            <b-skeleton class="w-100" height="30px"></b-skeleton>
                        </div>
                    </div>
                </div>

                <div class="col-lg-8 py-4 bg-light d-flex align-items-center justify-content-center flex-column">
                  <b-skeleton width="180px" height="180px"></b-skeleton>
                  <b-skeleton class="w-25 mt-2"></b-skeleton>
                  <b-skeleton class="w-75"></b-skeleton>
                  <b-skeleton class="w-50"></b-skeleton>
                </div>
              </div>
            </template>

            <div class="row">
                <div class="col-lg-4 py-4">
                    <!-- <input type="text" class="form-control __form-control" v-model="messageSearch" placeholder="Cari Obrolan" aria-label="Cari Obrolan" aria-describedby="button-addon2"> -->

                    <div v-if="roomList.length > 0" style="height: 500px; overflow-y: scroll;">
                      <div :class="`d-flex align-items-center border-bottom cursor-pointer py-3 px-3 ${activeRoom?.chat_with.id == item.chat_with.id ? 'chat-active' : ''} ${index == 0 ? 'border-top' : ''}`" v-for="(item, index) in roomList" :key="item.chat_with.id" :ref="'chat-room-' + item.chat_with.id" @click.prevent="chooseChat(item)">
                        <img :src="item.chat_with.image" class="rounded-circle room-img" height="60" width="60" />
                        <div class="ms-2 d-flex w-75 justify-content-between">
                          <div class="w-75">
                            <div class="text-dark">{{ item.chat_with.name }}</div>
                            <small class="text-muted last-message">{{ item.last_message }}</small>
                          </div>
                          <div class="text-muted">{{ item.time }}</div>
                        </div>
                      </div>
                    </div>
                </div>

                <div class="col-lg-8 py-4 position-relative" style="height: 540px;" v-if="this.activeRoom !== null">
                  <div class="__bg-primary w-100 position-absolute d-flex align-items-center" style="height: 65px; top: 0; left: 0;">
                    <img :src="this.activeRoom.chat_with.image" class="rounded-circle room-img ms-3" height="40" width="40" />
                    <div class="ms-3">
                      <div class="text-white">{{ this.activeRoom.chat_with.name }}</div>
                      <div class="text-white" style="font-size: 12px;">Aktif 1 jam yang lalu</div>
                    </div>
                  </div>

                  <div class="row chat-room p-4 my-5 pt-5" style="height: 400px; overflow-y: scroll;" v-if="roomChats.length > 0">
                    <div class="col-md-12 chat-item" v-for="(item, idx) in roomChats">
                        <div class="text-center mt-4">
                          <span class="py-2 px-4 rounded" style="background: #EDF0F2;">
                            {{ item.date }}
                          </span>
                        </div>

                        <div class="row justify-content-center">
                            <div class="col-md-12" v-for="chat in item.chats">

                                <!-- Pesan dari user login -->
                                <div class="col-md-12 chat-by-me text-end mb-3" v-if="chat.sender == this.authUserId">
                                    <div class="row justify-content-end">
                                        <div class="col-md-6">
                                            <div class="row align-items-center justify-content-end">
                                                <div class="col-md-3">
                                                    <span class="text-muted">{{ chat.time }}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <span class="py-2 px-2 d-inline-block __bg-primary text-white" style="border-radius: 8px 0px 8px 8px;">
                                        <span>{{ chat.message }}</span>
                                    </span>
                                </div>

                                <!-- Pesan dari lawan user login -->
                                <div class="col-md-12 chat-by-other text-start mb-3" v-if="chat.sender != this.authUserId">
                                    <div class="row justify-content-start">
                                      <div class="col-md-8 d-flex">
                                        <img :src="this.activeRoom.chat_with.image" class="rounded-circle room-img me-3" height="40" width="40" />

                                        <div>
                                          <div class="text-muted">{{ chat.time }}</div>
                                          <div class="py-2 px-2 d-inline-block" style="border-radius: 0px 8px 8px 8px; background: #EDF0F2;">
                                            <span>{{ chat.message }}</span>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>

                  <!-- Button Kirim Pesan -->
                  <div class="row position-absolute justify-content-start align-items-center w-100 border-top" style="height: 65px; bottom: 0; left: 0;">
                      <div class="col-md-12 ps-4 pt-2">
                          <div class="input-group w-100">
                              <input v-on:keyup.enter="sendChat" type="text" class="form-control border-0" placeholder="Ketik pesan yang ingin anda kirimkan..." v-model="chatMessageForm">
                              <button @click.prevent="sendChat" class="btn bg-none border-0" type="button" id="button-addon2">
                                <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                  <path d="M9.86674 8.42687L21.1867 4.65354C26.2667 2.96021 29.0267 5.73354 27.3467 10.8135L23.5734 22.1335C21.0401 29.7469 16.8801 29.7469 14.3467 22.1335L13.2267 18.7735L9.86674 17.6535C2.25341 15.1202 2.25341 10.9735 9.86674 8.42687Z" stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                  <path d="M13.48 18.2007L18.2533 13.4141" stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                              </button>
                          </div>
                      </div>
                  </div>
                </div>

                <div class="col-lg-8 py-4 bg-light d-flex align-items-center justify-content-center flex-column" style="max-height: 400px;" v-else>
                    <img src="@/v2/assets/images/chat/support.png" style="width: 180px; height: 180px;" />
                    <div class="fw-bold fs-3">Selamat Datang di Ruang Chat</div>
                    <div class="w-75 mt-2 text-muted text-center">Silahkan pilih salah satu chat di samping untuk melihat dan memulai percakapan</div>
                </div>
            </div>
          </b-skeleton-wrapper>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import $ from 'jquery';

import Navbar from "@/v2/components/Navbar";
import Sidebar from "@/v2/components/Sidebar";

// FIREBASE
import { getMessaging, onMessage } from '@firebase/messaging';

export default {
  name: "chat-room",
  components: {
    Navbar,
    Sidebar,
  },
  data() {
    return {
      token: localStorage.getItem("token"),
      loading: true,
      authUserId: localStorage.getItem("user_id"),
      activeRoom: null,
      roomList: [],
      roomChats: [],
      chatMessageForm: '',
      messageSearch: '',
    };
  },

  methods: {
    chooseChat(roomData) {
      this.activeRoom = roomData;
      axios.get('/api/v1/chat/message', {
        headers: {
          'Authorization': 'Bearer ' + this.token,
        }, params: {
          room_id: roomData.id
        }
      }).then(res => {
        this.roomChats = res.data;
      }).then(() => {
        $(".chat-room").scrollTop($(".chat-room").height() * 10);
      }).catch(err => {
        console.log(err)
      })
    },

    sendChat() {
      let data = {
        "room_id": this.activeRoom.id,
        "message": this.chatMessageForm
      }

      this.chatMessageForm = '';

      axios.post('/api/v1/chat/message', data, {
        headers: {
          'Authorization': 'Bearer ' + this.token,
        }
      }).then(() => {
        this.mountChatRoom()
      }).catch(err => {
        console.log(err)
      });
    },

    mountChatRoom() {
      // ambil data room chat
      axios.get('/api/v1/chat/room', {
        headers: {
          'Authorization': 'Bearer ' + this.token,
        }
      }).then(res => {
        this.roomList = res.data.data;
        this.loading = false;
      }).catch(err => {
        console.log(err)
      })
    },

    mountChatParam() {
      let target = this.$route.query.target_id;

      axios.post('/api/v1/chat/room', {
        chat_with: target
      }, {
        headers: {
          'Authorization': 'Bearer ' + this.token,
        }
      }).then(res => {
          this.activeRoom = res.data.data;
          // ambil data room chat
          axios.get('/api/v1/chat/room', {
              headers: {
                  'Authorization': 'Bearer ' + this.token,
              }
          }).then(res => {
              this.roomList = res.data.data;
          }).catch(err => {
              console.log(err)
          })

          this.$forceUpdate()

          axios.get('/api/v1/chat/message', {
              headers: {
                  'Authorization': 'Bearer ' + this.token,
              }, params: {
                  room_id: res.data.data.id
              }
          }).then(res => {
              this.roomChats = res.data;
          }).then(() => {
              $(".chat-room").scrollTop($(".chat-room").height() * 10);
          }).catch(err => {
              console.log(err)
          })

          this.loading = false;
      }).catch(err => {
          console.log(err)
      })
    }
  },

  async mounted() {
    if (this.$route.query.target_id) {
      this.mountChatParam()
    } else {
      this.mountChatRoom()
    }

    // FCM
    const messaging = getMessaging()
    onMessage(messaging, () => {
      let routeLocation = this.$route.name;
      if (routeLocation === 'dashboardChatRoom') {
        axios.get('/api/v1/chat/room', {
          headers: {
            'Authorization': 'Bearer ' + this.token,
          }
        }).then(res => {
          this.roomList = res.data.data;
          if (this.activeRoom) {
            this.chooseChat(this.activeRoom);
          }
        }).catch(err => {
          console.log(err)
        })
      }
    })
  },
};
</script>

<style scoped>
.chat-active {
  background: #EDF0F2;
}

.last-message {
  max-width: 120px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
</style>
