<template>
  <Navbar />

  <div class="container-fluid">
    <!-- <div class="row position-relative" style="margin-left: -1.2rem;">
      <div class="bg-light position-absolute col-lg-9 offset-3 ps-4 py-2 d-flex align-items-center gap-3 __text-primary" style="z-index: 100;">
        <div class="fs-5 fw-semibold">Hubungi Kami</div>
      </div>
    </div> -->

    <div class="row">
      <div class="col-lg-3">
        <Sidebar />
      </div>

      <div class="col-lg-9 row contact-base">
        <h1 class="section-title">Hubungi Kami</h1>
        <div class="section-description">Beritahukan bagaimana kami dapat membantu kebutuhan anda</div>

        <div class="col-lg-9">
            <div class="w-100 mt-4 bg-dark-section">
                <h2 class="section-title">PT Rumah UMKM Indonesia</h2>
                <div class="section-description-icon py-2">
                    <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M36.6173 30.5502C36.6173 31.1502 36.484 31.7668 36.2007 32.3668C35.9173 32.9668 35.5507 33.5335 35.0673 34.0668C34.2507 34.9668 33.3507 35.6168 32.334 36.0335C31.334 36.4502 30.2507 36.6668 29.084 36.6668C27.384 36.6668 25.5673 36.2668 23.6507 35.4502C21.734 34.6335 19.8173 33.5335 17.9173 32.1502C16.0007 30.7502 14.184 29.2002 12.4507 27.4835C10.734 25.7502 9.18398 23.9335 7.80065 22.0335C6.43398 20.1335 5.33398 18.2335 4.53398 16.3502C3.73398 14.4502 3.33398 12.6335 3.33398 10.9002C3.33398 9.76683 3.53398 8.6835 3.93398 7.6835C4.33398 6.66683 4.96732 5.7335 5.85065 4.90016C6.91732 3.85016 8.08398 3.3335 9.31732 3.3335C9.78398 3.3335 10.2507 3.4335 10.6673 3.6335C11.1007 3.8335 11.484 4.1335 11.784 4.56683L15.6507 10.0168C15.9507 10.4335 16.1673 10.8168 16.3173 11.1835C16.4673 11.5335 16.5507 11.8835 16.5507 12.2002C16.5507 12.6002 16.434 13.0002 16.2007 13.3835C15.984 13.7668 15.6673 14.1668 15.2673 14.5668L14.0007 15.8835C13.8173 16.0668 13.734 16.2835 13.734 16.5502C13.734 16.6835 13.7507 16.8002 13.784 16.9335C13.834 17.0668 13.884 17.1668 13.9173 17.2668C14.2173 17.8168 14.734 18.5335 15.4673 19.4002C16.2173 20.2668 17.0173 21.1502 17.884 22.0335C18.784 22.9168 19.6507 23.7335 20.534 24.4835C21.4007 25.2168 22.1173 25.7168 22.684 26.0168C22.7673 26.0502 22.8673 26.1002 22.984 26.1502C23.1173 26.2002 23.2507 26.2168 23.4007 26.2168C23.684 26.2168 23.9007 26.1168 24.084 25.9335L25.3507 24.6835C25.7673 24.2668 26.1673 23.9502 26.5507 23.7502C26.934 23.5168 27.3173 23.4002 27.734 23.4002C28.0507 23.4002 28.384 23.4668 28.7507 23.6168C29.1173 23.7668 29.5007 23.9835 29.9173 24.2668L35.434 28.1835C35.8673 28.4835 36.1673 28.8335 36.3507 29.2502C36.5173 29.6668 36.6173 30.0835 36.6173 30.5502Z" stroke="white" stroke-width="1.5" stroke-miterlimit="10"/>
                    </svg>

                    <span style="text-shadow: 0 4px black;">{{ contact.phone }}</span>
                </div>

                <div class="section-description-icon py-2">
                    <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M20.0008 22.3844C22.8727 22.3844 25.2008 20.0563 25.2008 17.1844C25.2008 14.3125 22.8727 11.9844 20.0008 11.9844C17.1289 11.9844 14.8008 14.3125 14.8008 17.1844C14.8008 20.0563 17.1289 22.3844 20.0008 22.3844Z" stroke="white" stroke-width="1.5"/>
                        <path d="M6.0335 14.1507C9.31683 -0.282678 30.7002 -0.266011 33.9668 14.1673C35.8835 22.634 30.6168 29.8007 26.0002 34.234C22.6502 37.4673 17.3502 37.4673 13.9835 34.234C9.3835 29.8007 4.11683 22.6173 6.0335 14.1507Z" stroke="white" stroke-width="1.5"/>
                    </svg>

                    <span>{{ contact.address }}</span>
                </div>

                <div class="section-description-icon py-2">
                    <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M11.6667 20C5 20 5 22.9833 5 26.6667V28.3333C5 32.9333 5 36.6667 13.3333 36.6667H26.6667C33.3333 36.6667 35 32.9333 35 28.3333V26.6667C35 22.9833 35 20 28.3333 20C26.6667 20 26.2 20.35 25.3333 21L23.6333 22.8C21.6667 24.9 18.3333 24.9 16.35 22.8L14.6667 21C13.8 20.35 13.3333 20 11.6667 20Z" stroke="white" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M31.6673 20.0002V10.0002C31.6673 6.31683 31.6673 3.3335 25.0007 3.3335H15.0007C8.33398 3.3335 8.33398 6.31683 8.33398 10.0002V20.0002" stroke="white" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M17.584 15.3833H23.134" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M16.1992 10.3833H24.5326" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>

                    <span>{{ contact.email }}</span>
                </div>

                <div class="section-description-icon py-2">
                    <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M36.6673 20.0002C36.6673 29.2002 29.2007 36.6668 20.0007 36.6668C10.8007 36.6668 3.33398 29.2002 3.33398 20.0002C3.33398 10.8002 10.8007 3.3335 20.0007 3.3335C29.2007 3.3335 36.6673 10.8002 36.6673 20.0002Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M26.1828 25.2999L21.0161 22.2166C20.1161 21.6833 19.3828 20.3999 19.3828 19.3499V12.5166" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>

                    Jam Operasional: Waktu Hari Kerja
                </div>
            </div>

            <h3 class="section-title mt-4">Layanan Pengaduan Konsumen</h3>
            <div class="bg-light-section">
                <div class="d-flex gap-5 align-items-center">
                    <img :src="require('@/v2/assets/images/auxilary/goverment.png')" alt="">
                </div>
                <div class="text-dark mt-3">
                    Dirjen Perlindungan Konsumen dan Tertib Niaga Kementerian Perdagangan RI (Ditjen PKTN) pada nomor 0853 - IIII - 1010
                </div>
            </div>
        </div>
        <div class="col-lg-6 d-none">
            <div class="w-100 mt-4 bg-dark-section">
                <h2 class="section-title">Kunjungi Kantor Kami</h2>

                <div v-for="office in offices" class="mt-4">
                    <div class="fs-5 fw-normal">{{ office.name }}</div>

                    <div class="d-flex gap-3 align-items-center mt-1">
                        <svg width="18" height="22" viewBox="0 0 18 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M17.62 7.45C16.57 2.83 12.54 0.75 8.99997 0.75C8.99997 0.75 8.99997 0.75 8.98997 0.75C5.45997 0.75 1.41997 2.82 0.369973 7.44C-0.800027 12.6 2.35997 16.97 5.21997 19.72C6.27997 20.74 7.63997 21.25 8.99997 21.25C10.36 21.25 11.72 20.74 12.77 19.72C15.63 16.97 18.79 12.61 17.62 7.45ZM8.99997 12.46C7.25997 12.46 5.84997 11.05 5.84997 9.31C5.84997 7.57 7.25997 6.16 8.99997 6.16C10.74 6.16 12.15 7.57 12.15 9.31C12.15 11.05 10.74 12.46 8.99997 12.46Z" fill="white"/>
                        </svg>

                        <div class="fw-semibold fs-6" v-html="office.address"></div>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Navbar from "@/v2/components/Navbar";
import Sidebar from "@/v2/components/Sidebar";

export default {
    name: "contact-us",
    components: {
        Navbar,
        Sidebar,
    },
    data() {
        return {
            contact: {
                phone: '021 2410 4661',
                email: 'cs@beliumkm.co.id',
                address: '18 Office Park Building, 21th Floor Unit C',
            },
            offices: [
                {
                    name: 'DKI Jakarta',
                    address: '18 Office Park Building, 21th Floor Unit C<br>Jl. TB Simatupang Nomor 18, Jakarta Selatan',
                },
                {
                    name: 'Bali',
                    address: 'Biwi Marine Building Center<br>Jl. Dr. Ir. Soekarno, Banjar Anyar Nomor 131, Tabanan',
                },
                {
                    name: 'Gorontalo',
                    address: 'Jl. Sultan Botutihe Nomor 99 Kota Gorontalo',
                },
                {
                    name: 'Luwu',
                    address: 'Jl. Raya Pelabuhan, Belopa',
                },
            ],
        };
    },

    methods: {
        //
    },

    async mounted() {
        //
    },
};
</script>

<style scoped>
.contact-base {
    min-height: 500px;
    background-image: url('../../assets/images/auxilary/contact-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
    padding: 40px 20px;
    margin-left: -12px;
}

.bg-dark-section {
    width: 100%;
    height: fit-content;
    background: rgba(35, 41, 51, 0.7);
    mix-blend-mode: luminosity;
    border-radius: 4px;
    padding: 2rem;
}

.bg-light-section {
    width: 100%;
    height: fit-content;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 4px;
    padding: 2rem;
}

.bg-light-section > .text-dark {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #232933;
}

h1.section-title {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 37px;
    line-height: 60px;
}

h2.section-title {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 45px;
}

h3.section-title {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 34px;
}

.section-description {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
}

.section-description-icon {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 21px;
    line-height: 34px;
    display: flex;
    gap: 22px;
    align-items: center;
}
</style>
