<template>
  <Navbar />

  <div class="container-fluid">
    <div class="row position-relative" style="margin-left: 0;">
      <div class="bg-light position-absolute col-lg-9 offset-3 ps-4 py-2 d-flex align-items-center gap-3 __text-primary" style="z-index: 100;">
        <div class="fs-5 fw-semibold">Selamat datang di</div>
        <img :src="require('@/v2/assets/images/logo.svg')" style="width: 146.21px" />
      </div>
    </div>

    <div class="row">
      <div class="col-lg-3">
        <Sidebar />
      </div>

      <div class="ps-4 col-lg-9">
        <div class="mt-5">
          <b-skeleton-wrapper :loading="loading">
            <template #loading>
              <div class="row py-4">
                <div class="col-lg-4">
                  <b-skeleton height="120px" width="120px"></b-skeleton>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-6 mb-3" v-for="i in 6">
                  <b-skeleton width="120px"></b-skeleton>
                  <b-skeleton class="w-100"></b-skeleton>
                </div>
              </div>
            </template>

            <div class="row py-4">
              <div class="col-lg-4">
                <img :src="pembeli?.logo || penjual?.logo_usaha" class="img-fluid rounded border" style="width: 150px; height: 150px;" />
              </div>
            </div>

            <div class="row">
              <div class="col-lg-6 mb-3">
                <label class="text-muted mb-2 d-block">Nama <span v-text="user_role === 'Pembeli' ? 'Instansi' : 'Usaha'"></span></label>
                <input type="text" class="form-control __form-control bg-light text-dark" :value="pembeli?.asal || penjual?.nama_usaha" readonly>
              </div>

              <div class="col-lg-6 mb-3">
                <label class="text-muted mb-2 d-block">Nama Lengkap</label>
                <input type="text" class="form-control __form-control bg-light text-dark" :value="dashboard.name" readonly>
              </div>

              <div class="col-lg-6 mb-3">
                <label class="text-muted mb-2 d-block">Telepon</label>
                <input type="text" class="form-control __form-control bg-light text-dark" :value="pembeli?.telp_instansi || penjual?.telepon" readonly>
              </div>

              <div class="col-lg-6 mb-3">
                <label class="text-muted mb-2 d-block">Jabatan</label>
                <input type="text" class="form-control __form-control bg-light text-dark" :value="pembeli?.jabatan || penjual?.jabatan" readonly>
              </div>

              <div class="col-lg-6 mb-3" v-show="user_role === 'Pembeli'">
                <label class="text-muted mb-2 d-block">Alamat Instansi</label>
                <textarea  class="form-control __form-control bg-light text-dark" cols="30" rows="3" readonly>{{ pembeli?.alamat_instansi }}</textarea>
              </div>

              <div class="col-lg-6 mb-3">
                <label class="text-muted mb-2 d-block">Alamat <span v-text="user_role === 'Pembeli' ? 'Tagihan' : 'Lengkap'"></span></label>
                <textarea  class="form-control __form-control bg-light text-dark" cols="30" rows="3" readonly>{{ alamat?.alamat }}</textarea>
              </div>
            </div>
          </b-skeleton-wrapper>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";

import Navbar from "@/v2/components/Navbar";
import Sidebar from "@/v2/components/Sidebar";

export default {
  name: "dashboard",
  components: {
    Navbar,
    Sidebar,
  },
  data() {
    return {
      token: localStorage.getItem("token"),
      loading: true,
      user_role: localStorage.getItem("user_role"),
      dashboard: [],
      pembeli: [],
      penjual: [],
      alamat: [],
    };
  },

  methods: {
    getPembeliData() {
      axios.get("/api/user/pembeli/dashboard", {
        headers: {
          Authorization: "Bearer " + this.token,
        },
      })
      .then((resp) => {
        this.dashboard = resp.data.data;
        this.pembeli = resp.data.data.data;
        this.alamat = resp.data.data.alamat;
        this.loading = false;
      });
    },

    getPenjualData() {
      axios.get("/api/user/penjual/dashboard", {
        headers: {
          'Authorization': 'Bearer ' + this.token,
        }
      }).then((resp) => {
        this.dashboard = resp.data.data;
        this.penjual = resp.data.data.data;
        this.alamat = resp.data.data.alamat;
        this.loading = false;
      })
    }
  },

  async mounted() {
    if(this.user_role === 'Pembeli') {
      this.getPembeliData()
    } else {
      this.getPenjualData()
    }
  },
};
</script>
