<template>
  <Navbar />

  <div class="container-fluid">
    <div class="row position-relative" style="margin-left: 0;">
      <div class="bg-light position-absolute col-lg-9 offset-3 ps-4 py-2 d-flex align-items-center gap-3 __text-primary" style="z-index: 100;">
        <div class="fs-5 fw-semibold">Edit Profil</div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-3">
        <Sidebar />
      </div>

      <div class="ps-4 col-lg-9">
        <div class="mt-5 py-3">
          <b-skeleton-wrapper :loading="loading">
            <template #loading>
                <b-skeleton width="120px" height="120px"></b-skeleton>
            </template>

            <input ref="input" type="file" name="image" accept="image/*" @change="setImage" hidden />
            <div @click.prevent="showFileChooser" class="image-profile rounded position-relative border cursor-pointer overflow-hidden" style="width: 120px; height: 120px;">
                <div class="cropped-image">
                    <img :src="user_role == 'Pembeli' ? instansi.logo : usaha.logo_usaha" alt="Cropped Image"  style="width: 120px; height: 120px; object-fit: contain;" />
                </div>
                <div class="image-profile-overlay animate__animated animate__slideInUp align-items-center justify-content-center animate__faster position-absolute bg-dark w-100 top-0 right-0 bottom-0 rounded" style="opacity: 0.6;">
                    <div class="animate__animated animate__slideInUp d-flex align-items-center justify-content-center flex-column">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M13.2603 3.59924L5.05034 12.2892C4.74034 12.6192 4.44034 13.2692 4.38034 13.7192L4.01034 16.9592C3.88034 18.1292 4.72034 18.9292 5.88034 18.7292L9.10034 18.1792C9.55034 18.0992 10.1803 17.7692 10.4903 17.4292L18.7003 8.73924C20.1203 7.23924 20.7603 5.52924 18.5503 3.43924C16.3503 1.36924 14.6803 2.09924 13.2603 3.59924Z" stroke="white" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M11.8896 5.05078C12.3196 7.81078 14.5596 9.92078 17.3396 10.2008" stroke="white" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M3 22H21" stroke="white" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        <div class="text-white mt-2">Ubah Foto</div>
                    </div>
                </div>
            </div>

            <!-- <div @click.prevent="clickFile" class="image-profile rounded position-relative border cursor-pointer overflow-hidden" style="width: 120px; height: 120px;">
                <img :src="instansi.logo" class="btn profile-image" v-if="user_role == 'Pembeli'" style="width: 120px; height: 120px; object-fit: contain;" />
                <img :src="usaha.logo_usaha" class="btn profile-image" v-else style="width: 120px; height: 120px; object-fit: contain;" />
                <input id="fileUpload" @change="changeFile($event)" type="file" hidden>
                <div class="image-profile-overlay animate__animated animate__slideInUp align-items-center justify-content-center animate__faster position-absolute bg-dark w-100 top-0 right-0 bottom-0 rounded" style="opacity: 0.6;">
                    <div class="animate__animated animate__slideInUp d-flex align-items-center justify-content-center flex-column">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M13.2603 3.59924L5.05034 12.2892C4.74034 12.6192 4.44034 13.2692 4.38034 13.7192L4.01034 16.9592C3.88034 18.1292 4.72034 18.9292 5.88034 18.7292L9.10034 18.1792C9.55034 18.0992 10.1803 17.7692 10.4903 17.4292L18.7003 8.73924C20.1203 7.23924 20.7603 5.52924 18.5503 3.43924C16.3503 1.36924 14.6803 2.09924 13.2603 3.59924Z" stroke="white" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M11.8896 5.05078C12.3196 7.81078 14.5596 9.92078 17.3396 10.2008" stroke="white" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M3 22H21" stroke="white" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        <div class="text-white mt-2">Ubah Foto</div>
                    </div>
                </div>
            </div> -->

            <template v-if="user_role == 'Pembeli'">
                <div class="fs-5 fw-semibold mt-5">Ubah Data</div>
                <div class="row mt-4">
                    <div class="col-lg-6 mb-3">
                        <label class="text-muted mb-2">Nama Lengkap</label>
                        <input class="form-control __form-control __text-primary" v-model="user.name">
                    </div>

                    <div class="col-lg-6 mb-3">
                        <label class="text-muted mb-2">Jabatan</label>
                        <input class="form-control __form-control __text-primary" v-model="instansi.jabatan">
                    </div>

                    <div class="col-lg-6 mb-3">
                        <label class="text-muted mb-2">Email Pembeli</label>
                        <input class="form-control __form-control __text-primary" v-model="user.email">
                    </div>

                    <div class="col-lg-6 mb-3">
                        <label class="text-muted mb-2">Asal Pembeli</label>
                        <input class="form-control __form-control __text-primary" v-model="instansi.asal">
                    </div>

                    <div class="col-lg-6 mb-3">
                        <label class="text-muted mb-2">Asal Instansi</label>
                        <textarea class="form-control __form-control __text-primary" cols="30" rows="3" v-model="instansi.alamat_instansi"></textarea>
                    </div>

                    <div class="col-lg-6 mb-3">
                        <label class="text-muted mb-2">Nomor Telepon</label>
                        <input class="form-control __form-control __text-primary" v-model="instansi.telp_instansi">
                    </div>
                </div>
            </template>
            <template v-else>
                <div class="fs-5 fw-semibold mt-5">Ubah Informasi Usaha</div>
                <div class="row mt-4">
                    <div class="col-lg-6 mb-3">
                        <label class="text-muted mb-2">Nama Usaha</label>
                        <input class="form-control __form-control text-muted" :value="usaha.nama_usaha" disabled>
                    </div>

                    <div class="col-lg-6 mb-3">
                        <label class="text-muted mb-2">Status Usaha</label>
                        <input class="form-control __form-control text-muted" :value="usaha.status_usaha" disabled>
                    </div>

                    <div class="col-lg-4 mb-3">
                        <label class="text-muted mb-2">Jabatan</label>
                        <input class="form-control __form-control text-muted" :value="usaha.jabatan" disabled>
                    </div>

                    <div class="col-lg-4 mb-3">
                        <label class="text-muted mb-2">Email</label>
                        <input class="form-control __form-control __text-primary" v-model="user.email">
                    </div>

                    <div class="col-lg-4 mb-3">
                        <label class="text-muted mb-2">No Handphone (Whatsapp)</label>
                        <input class="form-control __form-control __text-primary" v-model="user.data.telepon">
                    </div>
                </div>
            </template>

            <template v-if="user_role == 'Penjual'">
                <div class="fs-5 fw-semibold mt-5">Ubah Informasi Pembayaran</div>
                <div class="row mt-4">
                    <div class="col-lg-6 mb-3">
                        <label class="text-muted mb-2">Nomor Rekening</label>
                        <input class="form-control __form-control __text-primary" v-model="rekening.no_rekening">
                    </div>

                    <div class="col-lg-6 mb-3">
                        <label class="text-muted mb-2">Nama Pemilik Rekening</label>
                        <input class="form-control __form-control __text-primary" v-model="rekening.nama_pemilik">
                    </div>

                    <div class="col-lg-6 mb-3">
                        <label class="text-muted mb-2">Nama Bank</label>
                        <input class="form-control __form-control __text-primary" v-model="rekening.nama_bank">
                    </div>
                </div>
            </template>

            <div class="fs-5 fw-semibold mt-5">Ubah Alamat Pengiriman</div>
            <div class="row mt-4">
                <div class="col-lg-12 mb-3">
                    <label class="text-muted mb-2">Alamat Lengkap</label>
                    <textarea class="form-control __form-control __text-primary" cols="30" rows="3" v-model="address.alamat"></textarea>
                </div>

                <div class="col-lg-6 mb-3">
                    <label class="text-muted mb-2">Provinsi</label>
                    <select @change="getCity(address.province_id)" v-model="address.province_id" class="__form-control form-control form-select __text-primary" required>
                        <option :value="item.id" v-for="item in collection.provinces" v-bind:key="item.id">
                            {{ item.name }}
                        </option>
                    </select>
                </div>

                <div class="col-lg-6 mb-3">
                    <label class="text-muted mb-2">Kabupaten/Kota</label>
                    <select @change="getSuburb(address.city_id)" v-model="address.city_id" class="__form-control form-control form-select __text-primary" required>
                        <option :value="item.id" v-for="item in collection.cities" v-bind:key="item.id">
                            {{ item.name }}
                        </option>
                    </select>
                </div>

                <div class="col-lg-6 mb-3">
                    <label class="text-muted mb-2">Kecamatan</label>
                    <select @change="getArea(address.suburb_id)" v-model="address.suburb_id" id="" class="__form-control form-control form-select __text-primary" required>
                        <option :value="item.id" v-for="item in collection.suburbs" v-bind:key="item.id">
                            {{ item.name }}
                        </option>
                    </select>
                    <div class="invalid-feedback">Kecamatan wajib diisi!</div>
                </div>

                <div class="col-lg-6 mb-3">
                    <label class="text-muted mb-2">Kelurahan/Desa</label>
                    <select v-model="address.area_id" id="" class="__form-control form-control form-select __text-primary" required>
                        <option :value="item.id" v-for="item in collection.areas" v-bind:key="item.id">
                            {{ item.name }}
                        </option>
                    </select>
                    <div class="invalid-feedback">Kelurahan/Desa wajib diisi!</div>
                </div>

                <div class="col-lg-6 mb-3">
                    <label class="text-muted mb-2">Kode Pos</label>
                    <input class="form-control __form-control __text-primary" v-model="address.kodepos">
                </div>

                <div class="col-lg-6 mb-3">
                    <label class="text-muted mb-2">Titik Koordinat</label>
                    <input class="form-control __form-control __text-primary" @keyup="getCoordinates" v-model="parsing_coordinates">
                </div>

                <div class="col-lg-12 mb-3 position-relative">
                    <GMapAutocomplete class="form-control __form-control position-absolute border-0" style="z-index: 100; top: 10px; left: 20px; width: 90%; height: 40px;" placeholder="Cari alamat..." @place_changed="setPlace"></GMapAutocomplete>
                    <GMapMap ref="mapRef" style="width: 100%; height: 300px" :center="user_coordinates" :zoom="15">
                        <GMapMarker :position="user_coordinates" :draggable="true" :clickable="true" @dragend="updateLocation" />
                    </GMapMap>
                </div>
            </div>

            <div class="fs-5 fw-semibold mt-5">Ubah Kata Sandi</div>
            <div class="row mt-4">
                <div class="col-lg-6 mb-3">
                    <label class="text-muted mb-2">Ubah Kata Sandi</label>
                    <input class="form-control __form-control __text-primary" v-model="pass.pw">
                </div>

                <div class="col-lg-6 mb-3">
                    <label class="text-muted mb-2">Konfirmasi Kata Sandi</label>
                    <input class="form-control __form-control __text-primary" v-model="pass.pw_confir">
                </div>
            </div>

            <hr class="border">

            <button type="button" class="btn py-3 px-5 border me-3">
                Batal
            </button>

            <button :disabled="update_proses" type="button" class="btn py-3 px-5" style="background-color:var(--primary-color); color: white;" @click.prevent="submitUpdateProfile()">
                <div class="d-flex gap-3 align-items-center justify-content-center">
                    <div class="animate__animated animate__faster animate__fadeInRight mt-1" v-if="update_proses">
                        <div class="spinner-border text-white" role="status"></div>
                    </div>
                    <span>Ubah Profil</span>
                </div>
            </button>
          </b-skeleton-wrapper>
        </div>
      </div>
    </div>
  </div>


<!-- Button trigger modal -->
<button ref="croppedModalBtn" class="d-none" type="button" data-bs-toggle="modal" data-bs-target="#croppedModal"></button>

<!-- Modal -->
<div class="modal fade" id="croppedModal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="croppedModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="croppedModalLabel">Crop Image</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body" style="height: auto">
        <vue-cropper ref="cropper" :src="imgSrc" :aspect-ratio="1 / 1" :view-mode="1" :center="true" :min-container-width="766" :min-container-height="500" />
      </div>

      <div class="modal-footer">
        <button type="button" class="btn __btn-primary py-2" @click.prevent="cropImage" data-bs-dismiss="modal">
            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="12px" height="12px" viewBox="0 0 956.815 956.815" style="margin-right: 10px; enable-background:new 0 0 956.815 956.815;" xml:space="preserve">
                <g>
                    <path fill="#fff" d="M137.621,162.622H20c-11.046,0-20,8.954-20,20v72.919c0,11.046,8.954,20,20,20h117.622L137.621,162.622L137.621,162.622z" />
                    <path fill="#fff" d="M774.193,956.815c11.046,0,20-8.954,20-20V819.193H681.274v117.621c0,11.046,8.954,20,20,20L774.193,956.815 L774.193,956.815z"/>
                    <path fill="#fff" d="M794.193,656.275V182.622c0-11.046-8.954-20-20-20H300.54v112.919h380.734v380.734H794.193z"/>
                    <path fill="#fff" d="M936.814,681.275H794.193H681.274H275.54V275.541V162.622V20c0-11.046-8.954-20-20-20h-72.918c-11.046,0-20,8.954-20,20 v142.622v112.919v498.653c0,11.046,8.954,20,20,20h498.653h112.918h142.622c11.045,0,20-8.954,20-20v-72.918 C956.814,690.229,947.86,681.275,936.814,681.275z"/>
                </g>
            </svg>

            Crop
        </button>
      </div>
    </div>
  </div>
</div>
</template>

<script>
import axios from "axios";

import VueCropper from 'vue-cropperjs';
import 'cropperjs/dist/cropper.css';

import Navbar from "@/v2/components/Navbar";
import Sidebar from "@/v2/components/Sidebar";

import { GoogleMap, Marker } from "vue3-google-map";

export default {
    name: "edit-profile",
    components: {
        Navbar,
        Sidebar,
        GoogleMap,
        Marker,
        VueCropper,
    },
    data() {
        return {
            user_role: localStorage.getItem("user_role"),
            token: localStorage.getItem("token"),
            loading: true,
            update_proses: false,
            user: [],
            rekening: [],
            alamat: [],
            user_coordinates: { lat: -6.2297465, lng: 106.829518 },
            instansi: [],
            usaha: [],
            pass: {
                pw: "",
                pw_confir: "",
            },
            profileFile: null,
            address: [],
            collection: {
                provinces: [],
                cities: [],
                suburbs: [],
                areas: [],
            },
            parsing_coordinates: '',
        };
    },

    methods: {
        cropImage() {
            // get image data for post processing, e.g. upload or setting image src
            const canvas = this.$refs.cropper.getCroppedCanvas();
            const cropImg = canvas.toDataURL();

            let _self = this
            canvas.toBlob((blob) => {
                _self.profileFile = new File([blob], `profile-user.png`, { type: blob.type });
            });

            if(this.instansi) {
                this.instansi.logo = cropImg;
            }

            if(this.usaha) {
                this.usaha.logo_usaha = cropImg;
            }
        },

        setImage(e) {
            const file = e.target.files[0];
            if (file.type.indexOf('image/') === -1) {
                alert('Please select an image file');
                return;
            }

            if (typeof FileReader === 'function') {
                const reader = new FileReader();
                reader.onload = (event) => {
                    this.imgSrc = event.target.result;
                    // rebuild cropperjs with the updated source
                    this.$refs.cropper.replace(event.target.result);
                };
                reader.readAsDataURL(file);
                this.$refs.croppedModalBtn.click();
            } else {
                alert('Sorry, FileReader API not supported');
            }
        },

        showFileChooser() {
            this.$refs.input.click();
        },

        clickFile() {
            document.getElementById("fileUpload").click();
        },

        changeFile(e) {
            this.profileFile = e.target.files[0];
            if(this.instansi) {
                this.instansi.logo = URL.createObjectURL(e.target.files[0]);
            }

            if(this.usaha) {
                this.usaha.logo_usaha = URL.createObjectURL(e.target.files[0]);
            }
        },

        submitUpdateProfile() {
            const formData = new FormData();
            this.update_proses = true;

            formData.append('name', this.user.name);
            formData.append('email', this.user.email);
            formData.append('telepon', this.user.data.telepon);

            formData.append('jabatan', this.instansi.jabatan);
            formData.append('asal', this.instansi.asal);
            formData.append('alamat_instansi', this.instansi.alamat_instansi);
            formData.append('telp_instansi', this.instansi.telp_instansi);

            formData.append('alamat_id', this.address.id);
            formData.append('alamat', this.address.alamat);
            formData.append('province_id', this.address.province_id);
            formData.append('city_id', this.address.city_id);
            formData.append('suburb_id', this.address.suburb_id);
            formData.append('area_id', this.address.area_id);
            formData.append('kodepos', this.address.kodepos);
            formData.append('lat', this.user_coordinates.lat);
            formData.append('lng', this.user_coordinates.lng);

            formData.append('password', this.pass.pw);
            formData.append('password_confirmation', this.pass.pw_confir);

            formData.append('no_rekening', this.rekening.no_rekening);
            formData.append('nama_pemilik', this.rekening.nama_pemilik);
            formData.append('nama_bank', this.rekening.nama_bank);

            if (this.profileFile) {
                formData.append('logo', this.profileFile);
            }

            axios.post("/api/v1/auth/edit-profile", formData, {
                headers: {
                    'Authorization': 'Bearer ' + this.token,
                    'Content-Type': 'multipart/form-data'
                },
            }).then((resp) => {
                this.$swal({
                    icon: 'success',
                    title: resp.data.message
                });
                this.update_proses = false;
            }).catch((err) => {
                this.$swal({
                    icon: 'error',
                    title: err.response.data.message
                });
                this.update_proses = false;
            });
        },

        getUser() {
            axios.get(`/api/user/${this.user_role.toLowerCase()}/dashboard`, {
                headers: {
                    Authorization: "Bearer " + this.token
                }
            }).then((resp) => {
                if(this.user_role == 'Pembeli') {
                    this.user = resp.data.data;
                    this.instansi = resp.data.data.data;
                } else {
                    this.usaha = resp.data.data.data;
                    this.rekening = resp.data.data.rekening;
                    this.alamat = resp.data.data.alamat;
                    this.user = resp.data.data;
                    this.user_coordinates = {
                        lat: this.alamat.lat,
                        lng: this.alamat.lng
                    }
                }

                this.loading = false;
            });
        },

        getAddress() {
            axios.get("/api/v1/address", {
                headers: {
                    Authorization: "Bearer " + this.token
                },
                params: {
                    first: true
                }
            }).then((resp) => {
                this.address = resp.data.data;
                this.user_coordinates = { lat: resp.data.data.lat, lng: resp.data.data.lng };
            });
        },

        getProvinces() {
            axios.get('/api/v1/shipper/provinces').then(res => {
                this.collection.provinces = res.data
            })
        },

        getCity(province_id = null) {
            if(province_id || this.address.province_id) {
                axios.get(`/api/v1/shipper/province/${province_id || this.address.province_id}/cities`).then(res => {
                    this.collection.cities = res.data
                })
            }
        },

        getSuburb(city_id = null) {
            axios.get(`/api/v1/shipper/city/${city_id || this.address.city_id}/suburbs`).then(res => {
                this.collection.suburbs = res.data
            })
        },

        getArea(suburb_id = null) {
            axios.get(`/api/v1/shipper/suburb/${suburb_id || this.address.suburb_id}/areas`).then(res => {
                this.collection.areas = res.data
            })
        },

        async getFirstData() {
            this.getUser()

            axios.get("/api/v1/address", {
                headers: {
                    Authorization: "Bearer " + this.token
                },
                params: {
                    first: true
                }
            }).then((resp) => {
                const address = resp.data.data
                this.address = address;
                this.user_coordinates = { lat: address.lat, lng: address.lng };
                this.getProvinces()
                this.getCity(address.province_id)
                this.getSuburb(address.city_id)
                this.getArea(address.suburb_id)
                this.parsingCoordinates()
            });
        },

        updateLocation(evt) {
            let lat = evt.latLng.lat()
            let lng = evt.latLng.lng()
            this.user_coordinates = { lat: lat, lng: lng }
            this.parsingCoordinates()
        },

        setLocation(loc) {
            let lat = loc.coords.latitude;
            let lng = loc.coords.longitude;
            this.user_coordinates = { lat: lat, lng: lng }
            this.parsingCoordinates()
        },

        setPlace(loc) {
            let lat = loc.geometry.location.lat();
            let lng = loc.geometry.location.lng();
            this.user_coordinates = { lat: lat, lng: lng }
            this.parsingCoordinates()
        },

        parsingCoordinates() {
            this.parsing_coordinates = `${this.user_coordinates.lat.toFixed(7)},${this.user_coordinates.lng.toFixed(7)}`
        },
    },

    async mounted() {
        this.getFirstData()
    },
};
</script>

<style scoped>
.image-profile:hover > .image-profile-overlay {
    display: flex;
}

.image-profile-overlay {
    display: none;
}
</style>
