<template>
  <Navbar />

    <div class="container-fluid">
        <div class="row position-relative" style="margin-left: 0;">
            <div class="bg-light position-absolute col-lg-9 offset-3 ps-4 py-2 d-flex align-items-center gap-3 __text-primary" style="z-index: 100;">
                <div class="fs-5 fw-semibold">Notifikasi</div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3">
                <Sidebar />
            </div>

            <div class="col-lg-9">
                <div class="mt-5">
                    <b-skeleton-wrapper :loading="loading">
                        <template #loading>
                            <div :class="`d-flex p-4 align-items-center ${i % 2 == 0 ? '__bg-light' : ''}`" v-for="i in 6">
                                <b-skeleton height="60px" width="60px" class="rounded-circle"></b-skeleton>
                                <div class="ms-4">
                                    <b-skeleton width="220px"></b-skeleton>
                                    <b-skeleton width="720px"></b-skeleton>
                                </div>
                            </div>
                        </template>

                        <div @click.prevent="readMessage(notification.id)" :class="`cursor-pointer d-flex p-4 align-items-center ${notification.read_at == null ? '__bg-light' : ''}`" v-for="notification in notifications.data">
                            <svg v-if="notification.module_type == 'product'" width="100" height="50" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg" style="width: 5%;">
                                <circle cx="20" cy="20" r="20" fill="#4C2A86"/>
                                <path d="M13.3333 13.3334H14.4933C15.2133 13.3334 15.78 13.9534 15.72 14.6667L15.1666 21.3067C15.0733 22.3934 15.9333 23.3267 17.0266 23.3267H24.1266C25.0866 23.3267 25.9266 22.54 26 21.5867L26.36 16.5867C26.44 15.48 25.6 14.58 24.4866 14.58H15.88" stroke="white" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M22.8333 26.6667C23.2936 26.6667 23.6667 26.2936 23.6667 25.8333C23.6667 25.3731 23.2936 25 22.8333 25C22.3731 25 22 25.3731 22 25.8333C22 26.2936 22.3731 26.6667 22.8333 26.6667Z" stroke="white" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M17.5 26.6667C17.9603 26.6667 18.3334 26.2936 18.3334 25.8333C18.3334 25.3731 17.9603 25 17.5 25C17.0398 25 16.6667 25.3731 16.6667 25.8333C16.6667 26.2936 17.0398 26.6667 17.5 26.6667Z" stroke="white" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M18 17.3334H26" stroke="white" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>

                            <svg v-if="notification.module_type == 'chat'" width="100" height="50" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg" style="width: 5%;">
                                <circle cx="20" cy="20" r="20" fill="#0D6EFD"/>
                                <path d="M23.3333 25.6667H16.6666C14.6666 25.6667 13.3333 24.6667 13.3333 22.3334V17.6667C13.3333 15.3334 14.6666 14.3334 16.6666 14.3334H23.3333C25.3333 14.3334 26.6666 15.3334 26.6666 17.6667V22.3334C26.6666 24.6667 25.3333 25.6667 23.3333 25.6667Z" stroke="white" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M23.3334 18L21.2467 19.6667C20.56 20.2133 19.4334 20.2133 18.7467 19.6667L16.6667 18" stroke="white" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>

                            <div class="ms-4" style="width: 95%;">
                                <div class="text-dark fs-6 fw-semibold">{{ notification.title }}</div>
                                <div class="text-muted">{{ notification.message }}</div>
                            </div>
                        </div>
                    </b-skeleton-wrapper>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import axios from "axios";

import Navbar from "@/v2/components/Navbar";
import Sidebar from "@/v2/components/Sidebar";

export default {
  name: "dashboard",
  components: {
    Navbar,
    Sidebar,
  },
  data() {
    return {
      token: localStorage.getItem("token"),
      loading: true,
      notifications: [],
    };
  },

  methods: {
      getNotification() {
          axios.get(`/api/v1/notifications`, {
              headers: {
                  'Authorization': `Bearer ${this.token}`
              }
          }).then((resp) => {
              this.notifications = resp.data
              this.loading = false
          })
      },

      readMessage(id) {
        axios.post(`/api/v1/notification/${id}`, {}, {
            headers: {
                'Authorization': `Bearer ${this.token}`
            }
        }).then((resp) => {
            this.getNotification()
        })
      },
  },

  async mounted() {
    this.getNotification()
  },
};
</script>
