<template>
  <Navbar />

  <div class="container-fluid">
    <div class="row position-relative" style="margin-left: 0;">
      <div class="bg-light position-absolute col-lg-9 offset-3 ps-4 py-2 d-flex align-items-center gap-3 __text-primary" style="z-index: 100;">
        <div class="fs-5 fw-semibold">Unduh Dokumen Kami</div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-3">
        <Sidebar />
      </div>

      <div class="ps-4 col-lg-9">
        <div class="text-muted mt-5 pt-3 pb-5">
            Silahkan mengunduh dokumen perusahaan kami untuk <br>melengkapi berkas administrasi pembayaran anda.
        </div>

        <div class="row justify-content-center gap-3">
          <div class="col">
            <a @click="downloadDocuments('profil-perusahaan')" href="#" class="text-center fw-bold">
                <IconPDF />

                <div class="mt-3 text-black">Profil Perusahaan<span class="fw-normal">.pdf</span></div>
            </a>
          </div>

          <div class="col">
            <a @click="downloadDocuments('rekening-koran-bank-bsg')" href="#" class="text-center fw-bold">
                <IconPDF />

                <div class="mt-3 text-black">Rekening Koran <br>Bank BSG<span class="fw-normal">.pdf</span></div>
            </a>
          </div>

          <div class="col">
            <a @click="downloadDocuments('rekening-koran-bank-bri')" href="#" class="text-center fw-bold">
                <IconPDF />

                <div class="mt-3 text-black">Rekening Koran <br>Bank BRI<span class="fw-normal">.pdf</span></div>
            </a>
          </div>

          <div class="col">
            <a @click="downloadDocuments('rekening-koran-bank-sulselbar')" href="#" class="text-center fw-bold">
                <IconPDF />

                <div class="mt-3 text-black">Rekening Koran <br>Bank Sulselbar<span class="fw-normal">.pdf</span></div>
            </a>
          </div>

          <div class="col">
            <a @click="downloadDocuments('rekening-koran-bank-raya')" href="#" class="text-center fw-bold">
                <IconPDF />

                <div class="mt-3 text-black">Rekening Koran <br>Bank Raya<span class="fw-normal">.pdf</span></div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'

import Navbar from "@/v2/components/Navbar";
import Sidebar from "@/v2/components/Sidebar";
import IconPDF from "@/v2/components/Icon/Pdf";

export default {
    name: "dashboardDocument",
    components: {
        Navbar,
        Sidebar,
        IconPDF,
    },
    data() {
        return {
            loader: false,
            user_id: localStorage.getItem("user_id"),
            user_role: localStorage.getItem("user_role"),
            token: localStorage.getItem("token"),
        };
    },

    methods: {
      downloadDocuments(document_type) {
        this.loader = this.$loading.show()
        const download_url = `${process.env.VUE_APP_ENDPOINT_API}/api/v1/document/${document_type}/download`
        const user_id = this.user_id

        axios.post(download_url, {user_id}, {
          headers: {
            'Authorization': 'Bearer ' + this.token
          },
        })
        .then((response) => {
          const imgSuccess = require("@/v2/assets/images/success/mailbox-rafiki.png");
          this.$swal({
            confirmButtonText: "Download Dokumen",
            customClass: {
              actions: "w-100",
              confirmButton: "btn __btn-primary w-100 mx-5 py-3 mt-3 mb-3",
            },
            html: `
                <img src="${imgSuccess}" />
                <div class="text-dark fw-bold fs-4">Download Dokumen</div>
                <div class="text-muted mt-3">Pesan berisikan link dokumen sudah kami kirimkan ke nomor WhatsApp yang terdaftar</div>
            `,
          }).then(() => location.href = response.data.data.link);
        })
        .catch((error) => {
          const message = error.response.data.message;
          const imgError = require("@/v2/assets/images/error/validation-error.png");
          this.$swal({
            confirmButtonText: "Tutup",
            customClass: {
              actions: "w-100",
              confirmButton: "btn __btn-primary w-100 mx-5 py-3 mt-3 mb-3",
            },
            html: `
              <img src="${imgError}" />
              <div class="text-dark fw-bold fs-4">Permintaan Gagal!</div>
              <div class="text-muted mt-3">${message}</div>
            `,
          })
        })
        .then(() => this.loader.hide())
      },
    },

    async mounted() {
        //
    },
};
</script>
