<template>
  <Navbar />

  <!-- Breadcrumb -->
  <div class="bg-breadcrumb">
    <nav class="container-fluid" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a class="text-decoration-none text-muted" href="/">Home</a>
        </li>
        <li class="breadcrumb-item active">Pembeli</li>
        <li class="breadcrumb-item active" aria-current="page">Pemesanan Langsung</li>
      </ol>
    </nav>
  </div>

  <!-- Data Pesanan -->
  <div class="container-fluid">
    <div class="banner-section py-4 px-5">
      <h4 class="section-title">Pesanan</h4>
      <div class="d-flex align-items-end justify-content-between">
        <div class="fw-bold __text-yellow">
          <template v-if="pesanan.status == 'pesanan_dibuat'">
            Permintaan Pesanan
          </template>
          <template v-else-if="pesanan.status == 'pesanan_terbuat'">
            Pesanan Terbuat
          </template>
          <template v-else-if="pesanan.status == 'pesanan_diterima'">
            Konfirmasi Terima Pesanan
          </template>
          <template v-else-if="pesanan.status == 'pesanan_dikomplain'">
            Pesanan Dikomplain
          </template>
          <template v-else-if="pesanan.status == 'pesanan_selesai'">
            Pesanan Selesai
          </template>
          <template v-else-if="pesanan.status == 'pesanan_ditolak'">
            Pesanan Ditolak
          </template>
          <template v-else> - </template>
        </div>
        <button
          :class="`btn btn-primary gap-3 align-items-center py-2 ${
            pesanan.status == 'pesanan_selesai' ? 'd-flex' : 'd-none'
          }`"
          style="right: 0; top: 0"
          @click="generateReport()"
        >
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M16.4405 8.90039C20.0405 9.21039 21.5105 11.0604 21.5105 15.1104V15.2404C21.5105 19.7104 19.7205 21.5004 15.2505 21.5004H8.74047C4.27047 21.5004 2.48047 19.7104 2.48047 15.2404V15.1104C2.48047 11.0904 3.93047 9.24039 7.47047 8.91039"
              stroke="white"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M12 2V14.88"
              stroke="white"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M15.3504 12.6504L12.0004 16.0004L8.65039 12.6504"
              stroke="white"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>

          Download Tagihan
        </button>
      </div>

      <div class="row mt-4 text-start">
        <div class="col-md">
          <small class="d-block">Nomor Pesanan</small>
          <div class="fs-4">{{ pesanan.no_pesanan }}</div>
        </div>
        <div class="col-md">
          <small class="d-block">Tanggal Pesanan</small>
          <div class="fs-4">{{ pesanan.created_at }}</div>
        </div>
        <div class="col-md">
          <small class="d-block">Nama Pemasok</small>
          <div class="fs-4">{{ penjual.nama_usaha }}</div>
        </div>
        <div class="col-md-2">
          <small class="d-block">Lokasi Pemasok</small>
          <div class="fs-4">{{ alamat_penjual && alamat_penjual.city_name }}</div>
        </div>
      </div>
    </div>
  </div>

  <!-- Informasi Pembeli -->
  <div class="container-fluid py-4">
    <div class="row">
      <div class="col-md-4 ps-5">
        <h2 class="position-relative">
          Informasi Pembeli
          <svg
            class="position-absolute top-0 ms-1"
            width="12"
            height="12"
            viewBox="0 0 12 12"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <circle cx="6" cy="6" r="6" fill="#4C2A86" />
          </svg>
        </h2>
        <small class="text-muted">
          Masukkan detail data informasi pembeli untuk melanjutkan proses selanjutnya.
        </small>
      </div>

      <div class="col-md-8 pe-5">
        <div class="row">
          <div class="mb-4 pe-3 col-md-6">
            <div class="text-muted">Nama</div>
            <input
              type="text"
              v-model="pesanan.nama_pemesan"
              :class="`__form-control form-control __text-primary ${
                error.nama_pemesan && !pesanan.nama_pemesan ? 'border-danger' : ''
              }`"
              :disabled="pesanan.status != 'pesanan_dibuat'"
              placeholder="Ketik nama anda"
            />
            <div
              class="text-danger"
              v-show="!pesanan.nama_pemesan"
              v-text="error.nama_pemesan"
            ></div>
          </div>
          <div class="mb-4 ps-3 col-md-6">
            <div class="text-muted">Jabatan</div>
            <input
              type="text"
              v-model="pesanan.email_pemesan"
              :class="`__form-control form-control __text-primary ${
                error.email_pemesan && !pesanan.email_pemesan ? 'border-danger' : ''
              }`"
              :disabled="pesanan.status != 'pesanan_dibuat'"
              placeholder="Ketik jabatan anda"
            />
            <div
              class="text-danger"
              v-show="!pesanan.email_pemesan"
              v-text="error.email_pemesan"
            ></div>
          </div>
          <div class="mb-4 pe-3 col-md-6">
            <div class="text-muted">Telepon Pemesan</div>
            <input
              v-maska
              data-maska="08##########"
              type="text"
              v-model="pesanan.no_telp_pemesan"
              :class="`__form-control form-control __text-primary ${
                error.no_telp_pemesan && !pesanan.no_telp_pemesan ? 'border-danger' : ''
              }`"
              :disabled="pesanan.status != 'pesanan_dibuat'"
              placeholder="Ketik nomor telepon anda"
            />
            <div class="text-muted">(Pastikan nomor telepon dapat di hubungi)</div>
            <div
              class="text-danger"
              v-show="error.no_telp_pemesan"
              v-text="error.no_telp_pemesan"
            ></div>
          </div>
          <div class="mb-4 ps-3 col-md-6">
            <div class="text-muted">Informasi Transaksi</div>
            <input
              type="text"
              v-model="pesanan.untuk_keperluan"
              :class="`__form-control form-control __text-primary ${
                error.untuk_keperluan && !pesanan.untuk_keperluan ? 'border-danger' : ''
              }`"
              :disabled="pesanan.status != 'pesanan_dibuat'"
              placeholder="Ketik informasi transaksi anda"
            />
            <div
              class="text-danger"
              v-show="!pesanan.untuk_keperluan"
              v-text="error.untuk_keperluan"
            ></div>
          </div>
          <div class="mb-4 pe-3 col-md-6">
            <div class="text-muted">Asal Instansi</div>
            <textarea
              rows="3"
              v-model="pesanan.asal_pemesan"
              :class="`__form-control form-control __text-primary ${
                error.asal_pemesan && !pesanan.asal_pemesan ? 'border-danger' : ''
              }`"
              :disabled="pesanan.status != 'pesanan_dibuat'"
              placeholder="Ketik nama instansi anda"
            ></textarea>
            <div
              class="text-danger"
              v-show="!pesanan.asal_pemesan"
              v-text="error.asal_pemesan"
            ></div>
          </div>
          <div class="mb-4 ps-3 col-md-6">
            <div class="text-muted">Alamat Instansi</div>
            <textarea
              rows="3"
              v-model="pesanan.alamat_pemesan"
              :class="`__form-control form-control __text-primary ${
                error.alamat_pemesan && !pesanan.alamat_pemesan ? 'border-danger' : ''
              }`"
              :disabled="pesanan.status != 'pesanan_dibuat'"
              placeholder="Ketik alamat instansi anda"
            ></textarea>
            <div
              class="text-danger"
              v-show="!pesanan.alamat_pemesan"
              v-text="error.alamat_pemesan"
            ></div>
          </div>

          <template
            v-if="
              isJasaProduct &&
              (jasa_products.type_jasa == 'pesan_hotel' ||
                jasa_products.type_jasa == 'pesan_tiket_pesawat')
            "
          >
            <template v-if="pesanan.status == 'pesanan_dibuat'">
              <div class="mb-4 pe-3 col-md-6">
                <div class="text-muted">
                  <template v-if="jasa_products.type_jasa == 'pesan_tiket_pesawat'"
                    >KTP Penumpang</template
                  >
                  <template v-else>KTP Tamu</template>
                </div>
                <input
                  type="file"
                  accept=".pdf"
                  @change="changeFile($event, 'kartu_identitas_pegawai')"
                  :class="`__form-control form-control __text-primary ${
                    error.kartu_identitas_pegawai && !kartu_identitas_pegawai
                      ? 'border-danger'
                      : ''
                  }`"
                  :disabled="pesanan.status != 'pesanan_dibuat'"
                />
                <small class="text-muted">(Format .PDF)</small>
                <div
                  class="text-danger"
                  v-show="!kartu_identitas_pegawai"
                  v-text="error.kartu_identitas_pegawai"
                ></div>
              </div>
              <div class="mb-4 ps-3 col-md-6">
                <div class="text-muted">Surat Tugas</div>
                <input
                  type="file"
                  accept=".pdf"
                  @change="changeFile($event, 'surat_dinas')"
                  :class="`__form-control form-control __text-primary ${
                    error.surat_dinas && !surat_dinas ? 'border-danger' : ''
                  }`"
                  :disabled="pesanan.status != 'pesanan_dibuat'"
                />
                <small class="text-muted">(Format .PDF)</small>
                <div
                  class="text-danger"
                  v-show="!surat_dinas"
                  v-text="error.surat_dinas"
                ></div>
              </div>
            </template>

            <template v-else>
              <div class="mb-4 pe-3 col-md-6">
                <div class="d-flex justify-content-between mb-2">
                  <div class="text-muted">
                    <template v-if="jasa_products.type_jasa == 'pesan_tiket_pesawat'"
                      >KTP Penumpang</template
                    >
                    <template v-else>KTP Tamu</template>
                    (format pdf)
                  </div>
                  <!-- <button @click="downloadDocuments(pesanan.kartu_identitas_pegawai, 'kartu-identitas-pegawai')" class="btn __btn-primary">
                              <i class="fas fa-download"></i>
                            </button> -->
                </div>
                <iframe
                  width="100%"
                  height="100%"
                  :src="pesanan.kartu_identitas_pegawai"
                  class="documents-file"
                />
                <!-- <img :src="pesanan.kartu_identitas_pegawai" class="documents-file"> -->
              </div>

              <div class="mb-4 ps-3 col-md-6">
                <div class="d-flex justify-content-between mb-2">
                  Surat Tugas (format pdf)
                  <!-- <button @click="downloadDocuments(pesanan.surat_dinas, 'surat-dinas')" class="btn __btn-primary">
                              <i class="fas fa-download"></i>
                            </button> -->
                </div>
                <iframe
                  width="100%"
                  height="100%"
                  :src="pesanan.surat_dinas"
                  class="documents-file"
                />
                <!-- <img :src="pesanan.surat_dinas" class="documents-file"> -->
              </div>
            </template>
          </template>
        </div>
      </div>
    </div>
  </div>

  <!-- Informasi Pembayaran -->
  <div class="container-fluid py-4">
    <div class="row">
      <div class="col-md-4 ps-5">
        <h2 class="position-relative">
          Informasi Pembayaran
          <svg
            class="position-absolute top-0 ms-1"
            width="12"
            height="12"
            viewBox="0 0 12 12"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <circle cx="6" cy="6" r="6" fill="#4C2A86" />
          </svg>
        </h2>
        <small class="text-muted">
          Terhitung sejak pembeli mengkonfirmasi terima pesanan
        </small>
      </div>

      <div class="col-md-8 pe-5">
        <div class="row">
          <div class="mb-4 pe-3 col-md-6">
            <div class="text-muted">Metode Pembayaran</div>
            <select
              @change="updateMetodePembayaran($event)"
              v-model="pesanan.metode_pembayaran"
              :class="`__form-control rounded form-select __text-primary ${
                error.metode_pembayaran && !pesanan.metode_pembayaran
                  ? 'border-danger'
                  : ''
              }`"
              :disabled="pesanan.status != 'pesanan_dibuat'"
            >
              <template v-if="pesanan?.penjual?.id_user == '14'">
                <option
                  v-if="
                    isJasaProduct &&
                    (jasa_products.type_jasa == 'pesan_hotel' ||
                      jasa_products.type_jasa == 'pesan_tiket_pesawat')
                  "
                  value="Pembayaran Langsung"
                >
                  Pembayaran Langsung
                </option>
              </template>
              <option value="Pembayaran Bertempo">Pembayaran Bertempo</option>
              <option v-if="!isJasaProduct" value="Bayar Saat Terima Pesanan (COD)">
                Bayar Saat Terima Pesanan (COD)
              </option>
            </select>
            <div
              class="text-danger"
              v-show="!pesanan.metode_pembayaran"
              v-text="error.metode_pembayaran"
            ></div>
          </div>
          <div
            class="mb-4 ps-3 col-md-6"
            v-if="pesanan.metode_pembayaran === 'Pembayaran Bertempo'"
          >
            <div class="text-muted">Hari</div>
            <input
              type="number"
              v-model="pesanan.hari"
              :class="`__form-control form-control __text-primary ${
                error.hari ? 'border-danger' : ''
              }`"
              style="width: 100px"
              :disabled="
                pesanan.status != 'pesanan_dibuat' ||
                (isJasaProduct &&
                  (jasa_products.type_jasa == 'pesan_hotel' ||
                    jasa_products.type_jasa == 'pesan_tiket_pesawat'))
              "
            />
            <div class="text-danger" v-text="error.hari"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Pilihan Pembayaran -->
  <div class="container-fluid py-4">
    <div class="row">
      <div class="col-md-4 ps-5">
        <h2 class="position-relative">
          Pilihan Pembayaran
          <svg
            class="position-absolute top-0 ms-1"
            width="12"
            height="12"
            viewBox="0 0 12 12"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <circle cx="6" cy="6" r="6" fill="#4C2A86" />
          </svg>
        </h2>
        <small class="text-muted"> Pilihan pembayaran yang anda pilih </small>
      </div>

      <div class="col-md-8 pe-5">
        <div class="row">
          <div class="mb-4 pe-3 col-md-12">
            <PaymentMethodSelected :pesanan="pesanan" />
          </div>
        </div>
        <div
          class="text-danger"
          v-show="!pesanan.type_payment"
          v-text="error.type_payment"
        ></div>
      </div>
    </div>
  </div>

  <!-- Data Pesanan -->
  <div class="container-fluid py-4">
    <div class="row px-5">
      <div class="col-md-12">
        <table class="w-100">
          <thead class="__bg-primary">
            <tr>
              <th width="2%" class="border text-center py-4 px-2">NO</th>
              <th class="border text-center py-4 px-1">
                <template v-if="!isJasaProduct"> PRODUK </template>
                <template v-else>
                  <template v-if="jasa_products.type_jasa == 'tiket_bus_travel'">
                    BUS
                  </template>
                  <template
                    v-else-if="
                      jasa_products.type_jasa == 'antar_jemput_bandara' ||
                      jasa_products.type_jasa == 'sewa_kendaraan'
                    "
                  >
                    KENDARAAN
                  </template>
                  <template v-else-if="jasa_products.type_jasa == 'pesan_hotel'">
                    NAMA HOTEL
                  </template>
                  <template v-else>PENERBANGAN</template>
                </template>
              </th>
              <th width="20%" class="border text-center py-4 px-1">
                <template v-if="!isJasaProduct"> KUANTITAS </template>
                <template v-else>
                  <template v-if="jasa_products.type_jasa == 'pesan_hotel'">
                    CHECKIN - CHECKOUT
                  </template>
                  <template v-else>WAKTU KEBERANGKATAN</template>
                </template>
              </th>
              <template v-if="pesanan.type !== 'rfq'">
                <th width="20%" class="border text-center py-4 px-1">
                  <template v-if="!isJasaProduct"> HARGA SATUAN </template>
                  <template v-else>
                    <template v-if="jasa_products.type_jasa == 'pesan_hotel'">
                      DATA TAMU
                    </template>
                    <template v-else>DETAIL PENUMPANG</template>
                  </template>
                </th>
                <th width="20%" class="border text-center py-4 px-1">TOTAL HARGA</th>
              </template>
              <template v-else>
                <th width="20%" class="border text-center py-4 px-1">HARGA NEGOSIASI</th>
                <th width="20%" class="border text-center py-4 px-1">
                  TOTAL HARGA NEGOSIASI
                </th>
              </template>
            </tr>
          </thead>
          <tbody>
            <template v-if="!isJasaProduct">
              <tr v-for="(item, index) in products" v-bind:key="item">
                <td class="border text-center py-4">{{ index + 1 }}</td>
                <td class="border py-4">
                  <div class="d-flex prod">
                    <img :src="item.product.image[0]" class="rounded mx-3" width="100" />
                    <div class="ms-2 my-auto">
                      <div class="__text-primary fw-bold">{{ item.product.title }}</div>
                      <small class="d-block text-muted mb-3">Produk Dalam Negeri</small>
                      <div class="text-muted">
                        Berat: {{ item.product.berat / 1000 }} kg
                      </div>
                    </div>
                  </div>
                </td>
                <td class="border text-center py-4">{{ item.qty }}</td>
                <td class="border text-center py-4 px-3">
                  <div class="d-flex justify-content-between">
                    <div>Rp</div>
                    <div>
                      {{
                        item.harga_jual
                          .toString()
                          .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                      }}
                    </div>
                  </div>
                </td>
                <td class="border text-center py-4 px-3">
                  <div class="d-flex justify-content-between">
                    <div>Rp</div>
                    <div>
                      {{
                        (item.harga_jual * item.qty)
                          .toString()
                          .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                      }}
                    </div>
                  </div>
                </td>
              </tr>
            </template>
            <template v-else>
              <template v-if="jasa_products.type_jasa == 'tiket_bus_travel'">
                <tr>
                  <td class="border text-center py-4 px-3">1</td>
                  <td class="border text-center py-4 px-3">
                    <div class="d-flex prod">
                      <img
                        :src="jasa_products.product.image[0]"
                        class="rounded"
                        width="100"
                        height="50"
                      />
                      <div class="my-auto">
                        <span class="fw-bold">{{ jasa_products.product.name }}</span>
                        <span>{{ jasa_products.passenger_count }} Orang</span>
                        <!-- <span>TKDN (%): 100</span> -->
                        <!-- <span>Berat: {{ item.product.berat / 1000 }} kg</span> -->
                      </div>
                    </div>
                  </td>
                  <td class="border text-center py-4 px-3">
                    <div class="d-flex gap-2 justify-content-center fw-bold">
                      <span>{{ jasa_products.product.keberangkatan.name }}</span>
                      <span class="fw-normal">-</span>
                      <span>{{ jasa_products.product.tujuan.name }}</span>
                    </div>

                    <div class="d-flex gap-2 justify-content-center">
                      <span class="fw-normal">{{
                        formatBirthDate(jasa_products.tanggal.berangkat)
                      }}</span>
                    </div>
                  </td>
                  <td class="border text-center py-4 px-3">
                    <template v-for="passenger in jasa_products.passengers">
                      <div>
                        {{ passenger.first_name }} {{ passenger.last_name }}
                        <small class="ms-2 text-muted">{{
                          formatBirthDate(passenger.birth_date)
                        }}</small>
                      </div>
                    </template>
                  </td>
                  <td class="border text-center py-4 px-3">
                    <div class="d-flex justify-content-between">
                      <div>Rp</div>
                      <div>{{ jasa_products.harga_satuan }}</div>
                    </div>
                  </td>
                </tr>
              </template>
              <template v-else-if="jasa_products.type_jasa == 'sewa_kendaraan'">
                <tr>
                  <td class="border text-center py-4 px-3">1</td>
                  <td class="border text-center py-4 px-3">
                    <div class="d-flex prod">
                      <img
                        :src="jasa_products.product.image[0]"
                        class="rounded"
                        width="100"
                        height="50"
                      />
                      <div class="my-auto">
                        <span class="fw-bold">{{ jasa_products.product.name }}</span>
                        <span>{{ jasa_products.product.kapasitas }} Orang</span>
                        <!-- <span>TKDN (%): 100</span> -->
                        <!-- <span>Berat: {{ item.product.berat / 1000 }} kg</span> -->
                      </div>
                    </div>
                  </td>
                  <td class="border text-center py-4 px-3">
                    <div class="d-flex gap-2 justify-content-center fw-bold">
                      <span>{{ jasa_products.product.kota }}</span>
                    </div>
                    <div class="d-flex gap-2 justify-content-center">
                      <span class="fw-normal">{{ jasa_products.tanggal.mulai }}</span>
                      <span class="fw-normal">-</span>
                      <span class="fw-normal">{{ jasa_products.tanggal.selesai }}</span>
                    </div>
                  </td>
                  <td class="border text-center py-4 px-3">
                    <div>
                      {{ jasa_products.passenger.first_name }}
                      {{ jasa_products.passenger.last_name }}
                    </div>
                  </td>
                  <td class="border text-center py-4 px-3">
                    <div class="d-flex justify-content-between">
                      <div>Rp</div>
                      <div>{{ jasa_products.harga_satuan }}</div>
                    </div>
                  </td>
                </tr>
              </template>
              <template v-else-if="jasa_products.type_jasa == 'antar_jemput_bandara'">
                <tr>
                  <td class="border text-center py-4 px-3">1</td>
                  <td class="border text-center py-4 px-3">
                    <div class="d-flex prod">
                      <img
                        :src="jasa_products.product.image[0]"
                        class="rounded"
                        width="100"
                        height="50"
                      />
                      <div class="my-auto">
                        <span class="fw-bold">{{ jasa_products.product.name }}</span>
                        <span>{{ jasa_products.product.kapasitas }} Orang</span>
                        <!-- <span>TKDN (%): 100</span> -->
                        <!-- <span>Berat: {{ item.product.berat / 1000 }} kg</span> -->
                      </div>
                    </div>
                  </td>
                  <td class="border text-center py-4 px-3">
                    <div class="d-flex gap-1 justify-content-center fw-bold">
                      <span>{{ jasa_products.product.bandara }}</span>
                      <span>-</span>
                      <span>{{ jasa_products.product.kota }}</span>
                    </div>
                    <div class="d-flex gap-2 justify-content-center">
                      <span class="fw-normal">{{
                        jasa_products.penjemputan.tanggal
                      }}</span>
                      <span class="fw-normal">-</span>
                      <span class="fw-normal">{{ jasa_products.penjemputan.waktu }}</span>
                    </div>
                  </td>
                  <td class="border text-center py-4 px-3">
                    <div>
                      {{ jasa_products.passenger.first_name }}
                      {{ jasa_products.passenger.last_name }}
                    </div>
                  </td>
                  <td class="border text-center py-4 px-3">
                    <div class="d-flex justify-content-between">
                      <div>Rp</div>
                      <div>{{ jasa_products.harga_satuan }}</div>
                    </div>
                  </td>
                </tr>
              </template>
              <template v-else-if="jasa_products.type_jasa == 'pesan_hotel'">
                <tr>
                  <td class="border text-center py-4 px-3">1</td>
                  <td class="fw-bold border text-center py-4 px-3">
                    <div class="d-flex prod">
                      <img
                        :src="jasa_products.image"
                        class="rounded"
                        width="100"
                        height="50"
                      />
                      <div class="my-auto">
                        <span class="fw-semibold">{{ jasa_products.hotel_name }}</span>
                        <span>{{ jasa_products.room_name }}</span>
                        <span>{{ jasa_products.breakfast }}</span>
                        <!-- <span>TKDN (%): 100</span> -->
                        <!-- <span>Berat: {{ item.product.berat / 1000 }} kg</span> -->
                      </div>
                    </div>
                  </td>
                  <td class="fw-bold border text-center py-4 px-3">
                    <!-- {{ jasa_products.night_count }} Malam -->
                    <span class="d-block fw-normal">{{ jasa_products.checkin }}</span>
                    <span class="d-block fw-normal">{{ jasa_products.checkout }}</span>
                  </td>
                  <td class="border py-4 px-3">
                    <div v-for="guests in jasa_products.guests" :key="guests">
                      {{ guests.title }} <br />{{ guests.name }}
                    </div>
                  </td>
                  <td class="border text-center py-4 px-3">
                    <div class="d-flex justify-content-between">
                      <div>Rp</div>
                      <div>
                        {{
                          parseInt(pesanan.total_harga_barang)
                            .toString()
                            .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                        }}
                      </div>
                    </div>
                  </td>
                </tr>
              </template>
              <template v-else>
                <tr>
                  <td class="border text-center py-4">1</td>
                  <td class="fw-bold border py-4">
                    <div class="d-flex prod">
                      <img
                        :src="
                          require(`@/assets/images/transportasi/${jasa_products.offers.legs[0].carriers[0].display_code}.jpg`)
                        "
                        class="rounded px-2"
                        width="80"
                        height="50"
                      />
                      <div class="my-auto ms-3">
                        <div class="__text-primary fw-bold">
                          {{ `${jasa_products.offers.legs[0].carriers[0].name}` }}
                        </div>
                        <div
                          class="mt-1 d-flex justify-content-start align-items-center gap-3"
                        >
                          <div class="text-muted">
                            {{
                              `${jasa_products.destination.from.PlaceId} ${jasa_products.destination.from.CityName}`
                            }}
                          </div>

                          <svg
                            width="16"
                            height="16"
                            viewBox="0 0 16 16"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <path
                              d="M1.54016 6.02001L2.84682 7.57335C3.04682 7.80668 3.04682 8.19335 2.84682 8.42668L1.54016 9.98001C1.36016 10.34 1.54016 10.78 1.92682 10.9133L2.81349 11.2067C3.02682 11.28 3.34016 11.2067 3.50016 11.0467L5.02016 9.53335C5.12682 9.42001 5.34016 9.33335 5.49349 9.33335H7.39349C7.67349 9.33335 7.80682 9.54001 7.70016 9.80001L6.28682 13.0733C6.06682 13.5867 6.34016 14.0067 6.90016 14.0067H7.76016C8.20682 14.0067 8.72016 13.6733 8.89349 13.26L10.5002 9.53335C10.5468 9.42668 10.6868 9.33335 10.8068 9.33335H12.8068C13.4335 9.33335 14.1735 8.87335 14.4602 8.31335C14.5602 8.11335 14.5602 7.88001 14.4602 7.68001C14.1735 7.12001 13.4268 6.66001 12.8002 6.66001L10.8002 6.66001C10.6802 6.66001 10.5402 6.56668 10.4935 6.46001L8.88682 2.74001C8.72016 2.32668 8.20682 1.99335 7.76016 1.99335L6.90016 1.99335C6.34016 1.99335 6.06682 2.41335 6.28682 2.92668L7.70016 6.20001C7.81349 6.45335 7.67349 6.66668 7.39349 6.66668H5.49349C5.34016 6.66668 5.12682 6.58001 5.02016 6.47335L3.50016 4.96001C3.34016 4.80001 3.03349 4.72668 2.81349 4.80001L1.92682 5.09335C1.54016 5.21335 1.35349 5.65335 1.54016 6.02001Z"
                              stroke="#626B79"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                            />
                          </svg>

                          <div class="text-muted">
                            {{
                              `${jasa_products.destination.to.PlaceId} ${jasa_products.destination.to.CityName}`
                            }}
                          </div>
                        </div>

                        <span>{{ jasa_products.room_name }}</span>
                      </div>
                    </div>
                  </td>
                  <td class="fw-bold border text-center py-4">
                    <template v-if="jasa_products.type === 'ONEWAY'">
                      <strong class="d-block">{{
                        `${formatDateDay(jasa_products.offers.legs[0].departure)}`
                      }}</strong>
                      <div class="text-muted">
                        {{
                          `${formatTime(
                            jasa_products.offers.legs[0].departure
                          )} - ${formatTime(jasa_products.offers.legs[0].arrival)}`
                        }}
                      </div>
                    </template>
                    <div
                      v-else
                      class="d-flex justify-content-center align-items-center gap-3"
                    >
                      <span>{{
                        `${departReturnDateFormat(jasa_products.date.depart)}`
                      }}</span>
                      <svg
                        style="width: 1rem"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 24 24"
                      >
                        <path
                          d="M10.5 15.75h12.75a.75.75 0 0 0 0-1.5H10.5a.75.75 0 0 0 0 1.5zm9.22-3.22l3 3v-1.06l-3 3a.75.75 0 1 0 1.06 1.06l3-3a.75.75 0 0 0 0-1.06l-3-3a.75.75 0 1 0-1.06 1.06zM13.5 8.25H.75a.75.75 0 0 0 0 1.5H13.5a.75.75 0 0 0 0-1.5zm-9.22 3.22l-3-3v1.06l3-3a.75.75 0 0 0-1.06-1.06l-3 3a.75.75 0 0 0 0 1.06l3 3a.75.75 0 0 0 1.06-1.06z"
                        ></path>
                      </svg>
                      <span>{{
                        `${departReturnDateFormat(jasa_products.date.return)}`
                      }}</span>
                    </div>
                  </td>
                  <td class="border text-center py-4 px-3">
                    <div
                      class="mb-1"
                      v-for="(adults, adultsIndex) in jasa_products.passengers.adults"
                      :key="adultsIndex"
                    >
                      <strong>{{ adults.first_name }} {{ adults.last_name }}</strong>
                      <div class="text-muted">
                        {{ formatBirthDate(adults.birth_date) }}
                      </div>
                    </div>
                    <div
                      class="mb-1"
                      v-for="(children, childrenIndex) in jasa_products.passengers
                        .children"
                      :key="childrenIndex"
                    >
                      <strong>{{ children.first_name }} {{ children.last_name }}</strong>
                      <div class="text-muted">
                        {{ formatBirthDate(children.birth_date) }}
                      </div>
                    </div>
                  </td>
                  <td class="border text-center py-4 px-3">
                    <div class="d-flex justify-content-between">
                      <div>Rp</div>
                      <div>
                        {{
                          jasa_products.price_alt
                            .toString()
                            .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                        }}
                      </div>
                    </div>
                  </td>
                </tr>
              </template>
            </template>

            <tr
              v-if="
                jasa_products?.type_jasa !== 'pesan_tiket_pesawat' &&
                jasa_products?.type_jasa !== 'pesan_hotel'
              "
            >
              <td class="border text-start py-4 px-5 __bg-light" colspan="4">
                Total Harga Produk
              </td>
              <td class="border text-center py-4 px-3">
                <div class="d-flex justify-content-between">
                  <div>Rp</div>
                  <div>
                    {{
                      parseInt(pesanan.total_harga_barang)
                        .toString()
                        .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                    }}
                  </div>
                </div>
              </td>
            </tr>

            <tr v-if="!isJasaProduct">
              <td class="border text-start py-4 px-5 __bg-light" colspan="4">
                Biaya Pengiriman - ({{ pesanan.kurir }})
              </td>
              <td class="border text-center py-4 px-3">
                <div class="d-flex justify-content-between">
                  <div>Rp</div>
                  <div>
                    {{
                      pesanan.total_harga_kurir
                        ? parseInt(pesanan.total_harga_kurir)
                            .toString()
                            .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                        : 0
                    }}
                  </div>
                </div>
              </td>
            </tr>

            <tr
              v-if="
                jasa_products?.type_jasa !== 'pesan_tiket_pesawat' &&
                jasa_products?.type_jasa !== 'pesan_hotel'
              "
            >
              <td class="border text-start py-4 px-5 __bg-light" colspan="4">
                Sub Total
              </td>
              <td class="border text-center py-4 px-3">
                <div class="d-flex justify-content-between">
                  <div>Rp</div>
                  <div>
                    {{
                      pesanan.subtotal
                        ? parseInt(pesanan.subtotal)
                            .toString()
                            .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                        : 0
                    }}
                  </div>
                </div>
              </td>
            </tr>

            <tr>
              <td class="border text-start py-4 px-5 __bg-light" colspan="4">
                <div class="row align-items-end">
                  <div class="col-10">
                    <div>Jenis Pajak</div>
                    <input
                      type="text"
                      class="__form-control bg-white"
                      :value="pesanan.jenis_pajak"
                      disabled
                    />
                  </div>
                  <div class="col-2">
                    <input
                      type="text"
                      class="__form-control bg-white"
                      :value="pesanan.jenis_pajak_value + '%'"
                      disabled
                    />
                  </div>
                </div>
              </td>
              <td class="border text-center py-4 px-3">
                <div class="d-flex justify-content-between">
                  <div>Rp</div>
                  <div>
                    {{
                      pesanan.total_pajak
                        ? parseInt(getTotalPajak())
                            .toString()
                            .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                        : 0
                    }}
                  </div>
                </div>
              </td>
            </tr>

            <tr>
              <td class="border text-start py-4 px-5 __bg-light" colspan="4">
                <div class="row align-items-end">
                  <div class="col-10">
                    <div>Pajak Penghasilan</div>
                    <input
                      class="__form-control bg-white"
                      :value="
                        pesanan.pajak_penghasilan === 'PPh'
                          ? 'PPh Pasal 22'
                          : pesanan.pajak_penghasilan
                      "
                      disabled
                    />
                  </div>
                  <div class="col-2">
                    <input
                      class="__form-control bg-white"
                      :value="pesanan.pajak_penghasilan_value + '%'"
                      disabled
                    />
                  </div>
                </div>
              </td>
              <td class="border text-center py-4 px-3 text-danger">
                <div class="d-flex justify-content-between">
                  <div>Rp</div>
                  <div>
                    {{
                      pesanan.total_pajak_penghasilan
                        ? parseInt(getTotalPajakPenghasilan())
                            .toString()
                            .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                        : 0
                    }}
                  </div>
                </div>
              </td>
            </tr>

            <tr
              v-if="
                isJasaProduct &&
                (jasa_products.type_jasa == 'pesan_hotel' ||
                  jasa_products.type_jasa == 'pesan_tiket_pesawat')
              "
            >
              <td class="border text-start py-4 px-5 __bg-light" colspan="4">
                Travel Surcharge
              </td>
              <td class="border text-center py-4 px-3">
                <div class="d-flex justify-content-between">
                  <div>Rp</div>
                  <div>
                    {{
                      parseInt(getTotalTravelSurcharge())
                        .toString()
                        .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                    }}
                  </div>
                </div>
              </td>
            </tr>

            <tr class="__bg-primary fw-bold">
              <td class="border text-start py-4 px-5" colspan="4">Total Transaksi</td>
              <td class="border text-center py-4 px-3">
                <div class="d-flex justify-content-between">
                  <div>Rp</div>
                  <div>
                    {{
                      pesanan.total_transaksi
                        ? parseInt(getTotalTransaksi())
                            .toString()
                            .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                        : 0
                    }}
                  </div>
                </div>
              </td>
            </tr>

            <tr class="__bg-green fw-bold">
              <td class="border text-start py-4 px-5" colspan="4">Total Pembayaran</td>
              <td class="border text-center py-4 px-3">
                <div class="d-flex justify-content-between">
                  <div>Rp</div>
                  <div>
                    {{
                      pesanan.total_pembayaran
                        ? parseInt(getTotalPembayaran())
                            .toString()
                            .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                        : 0
                    }}
                  </div>
                </div>
              </td>
            </tr>

            <template
              v-if="
                this.$route.name == 'penjualPesananLangsung' ||
                this.$route.name == 'penjualRfq'
              "
            >
              <tr class="__bg-primary fw-bold">
                <td class="border text-start py-4 px-5" colspan="4">
                  Penghasilan Pemasok
                </td>
                <td class="border text-center py-4 px-3">
                  <div class="d-flex justify-content-between">
                    <div>Rp</div>
                    <div>
                      {{
                        pesanan.penghasilan_pemasok
                          ? parseInt(pesanan.penghasilan_pemasok)
                              .toString()
                              .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                          : 0
                      }}
                    </div>
                  </div>
                </td>
              </tr>
            </template>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!-- Additional Form -->
  <div class="container-fluid py-4">
    <div class="row px-5">
      <div class="col-lg-6 mb-3" v-if="pesanan.resi">
        <div class="text-muted">Input Nomor Resi (Opsional)</div>
        <textarea
          v-model="pesanan.resi"
          class="__form-control"
          disabled
          placeholder="Input Nomor Resi"
          id=""
          cols="30"
          rows="4"
        ></textarea>
      </div>

      <div class="col-lg-6 mb-3">
        <div class="text-muted">Catatan untuk Pemasok (Opsional)</div>
        <textarea
          v-model="pesanan.catatan"
          :disabled="pesanan.status != 'pesanan_dibuat'"
          class="__form-control"
          placeholder="Ketik Catatan untuk Pemasok"
          id=""
          cols="30"
          rows="4"
        ></textarea>
      </div>

      <div
        class="col-lg-6 mb-3"
        v-if="
          pesanan.voucher_pesanan &&
          jasa_products &&
          (jasa_products.type_jasa == 'pesan_hotel' ||
            jasa_products.type_jasa == 'pesan_tiket_pesawat')
        "
      >
        <div
          class="d-flex justify-content-between align-items-end"
          style="margin-top: -10px"
        >
          <div class="text-muted">Voucher Pesanan</div>
          <button
            @click="downloadDocuments(pesanan.voucher_pesanan, 'voucher-pesanan')"
            class="btn btn-sm __btn-primary"
          >
            <i class="fas fa-download"></i>
          </button>
        </div>
        <iframe class="mt-1" width="100%" height="82%" :src="pesanan.voucher_pesanan" />
      </div>

      <div class="col-lg-6 mb-3" v-if="pesanan.catatan_pembeli">
        <div class="text-muted">Catatan untuk Pembeli</div>
        <textarea
          v-model="pesanan.catatan_pembeli"
          class="__form-control"
          placeholder="Ketik Catatan untuk Pembeli"
          disabled
          id=""
          cols="30"
          rows="4"
        ></textarea>
      </div>
    </div>
  </div>

  <!-- <template v-if="loggedInLKPP === 'false' && !$isLocalhost">
      <div class="container-fluid mb-4">
        <div class="row justify-content-center">
          <div class="col-12 text-center px-5">
            <div class="__bg-danger py-4 rounded">
              <div class="fs-3 fw-bold mb-3">Silahkan Hubungi Pejabat Pengadaan Anda</div>
              <div>Proses buat pesanan hanya dapat dilakukan melalui halaman Bela Pengadaan pada situs LPSE</div>
              <div>menggunakan akun Pejabat Pengadaan terkait</div>
            </div>
          </div>
        </div>
      </div>
    </template> -->

  <!-- Action Button -->
  <div class="container-fluid pb-5">
    <div class="row justify-content-center px-5">
      <!-- <template v-if="loggedInLKPP !== 'true'">
        <button disable class="col-12 text-center text-muted py-3 rounded border-0">
          Untuk melanjutkan pesanan silahkan hubungi pejabat Pengadaan
        </button>
      </template> -->

      <!-- <template v-if="loggedInLKPP == 'true'"> -->
      <div
        class="col-lg-12"
        v-if="pesanan.status === 'pesanan_dibuat' || pesanan.status === 'pesanan_terbuat'"
      >
        <div class="d-flex gap-3">
          <div class="w-50" v-if="pesanan.status === 'pesanan_dibuat'">
            <button class="py-3 btn __btn-danger w-100" @click.prevent="hapusPesanan">
              Hapus Permintaan Pesanan
            </button>
          </div>
          <div :class="pesanan.status === 'pesanan_dibuat' ? 'w-50' : 'w-100'">
            <!-- <template v-if="pesanan.metode_pembayaran === 'Pembayaran Langsung'">
                <button
                  class="py-3 btn __btn-primary w-100"
                  @click.prevent="buatPesanan"
                  v-if="pesanan.status === 'pesanan_dibuat'"
                >
                  Lanjutkan Ke Tagihan
                </button>
              </template> -->
            <!-- <template v-else> -->
            <button
              class="py-3 btn __btn-primary w-100"
              @click.prevent="buatPesanan"
              v-if="pesanan.status === 'pesanan_dibuat'"
            >
              Buat Permintaan Pesanan
            </button>
            <!-- </template> -->

            <button
              class="py-3 btn __btn-success w-100"
              @click.prevent="buatPesanan"
              v-if="pesanan.status === 'pesanan_terbuat'"
              disabled
              style="background-color: #b0b0b0 !important; color: white"
            >
              Pesanan Terbuat
            </button>
          </div>
        </div>
      </div>

      <div class="col-lg-6" v-if="pesanan.status === 'pesanan_diterima'">
        <button
          class="py-3 btn __btn-danger btn-outline-danger w-100"
          data-bs-toggle="modal"
          data-bs-target="#komplainPesan"
        >
          Komplain Pesanan
        </button>
      </div>

      <div class="col-lg-6" v-if="pesanan.status === 'pesanan_diterima'">
        <button
          class="py-3 btn __btn-primary btn-primary w-100"
          data-bs-toggle="modal"
          data-bs-target="#inputSuratJalanModal"
        >
          Pesanan Diterima
        </button>
      </div>

      <div class="col-lg-12" v-if="pesanan.status === 'pesanan_dikomplain'">
        <button
          class="py-3 btn __btn-primary w-100"
          v-if="pesanan.status === 'pesanan_dikomplain'"
          data-bs-toggle="modal"
          data-bs-target="#komplainPesan"
        >
          Lihat Laporan Komplain
        </button>
      </div>
      <!-- </template> -->
    </div>
  </div>

  <button
    ref="buttonOtorisation"
    id="buttonOtorisation"
    class="d-none"
    data-bs-toggle="modal"
    data-bs-target="#modalOtorisation"
  ></button>

  <!-- Modal Otorisasi -->
  <Modal
    :isCenter="true"
    :headShow="false"
    :footerShow="false"
    id="modalOtorisation"
    title="&nbsp;"
  >
    <div class="row justify-content-center text-center">
      <img
        style="width: 20%"
        class="py-3"
        :src="require('@/v2/assets/images/phone-calling.png')"
        alt=""
      />
      <div class="fs-2 text-danger fw-bold mb-3">
        Silahkan menghubungi <br />Pejabat Pengadaan anda
      </div>
      <div class="fs-5">Proses buat pesanan hanya dapat dilakukan</div>
      <div class="fs-5">melalui halaman Bela Pengadaan pada situs LPSE</div>
      <div class="fs-5">menggunakan akun Pejabat Pengadaan terkait</div>
    </div>

    <template v-slot:footer>
      <button
        data-bs-dismiss="modal"
        @click="goToDashboard()"
        class="py-3 btn __btn-primary w-100 mt-4"
      >
        Simpan Pesanan
      </button>
    </template>
  </Modal>

  <!-- Modal Pilih Metode Pembayaran -->
  <Modal id="pilihPembayaran" title="Pilih Metode Pembayaran">
    <PaymentMethod :pesanan="pesanan" />

    <template v-slot:footer>
      <button
        @click="error.type_payment = ''"
        class="py-3 btn __btn-primary w-100 mt-4"
        data-bs-dismiss="modal"
      >
        Pilih
      </button>
    </template>
  </Modal>

  <!-- Modal Komplain Pesanan -->
  <Modal id="komplainPesan" title="Komplain Pesanan">
    <div class="row">
      <div class="col-lg-12 mb-3">
        <div class="text-muted mb-2">Permintaan Komplain Pembeli</div>
        <select
          :class="`__form-control rounded form-select __text-primary`"
          v-model="komplainn.permintaan"
          :disabled="pesanan.status === 'pesanan_dikomplain'"
        >
          <option value="Penukaran Produk">Penukaran Produk</option>
          <!-- <option value="Pengembalian Dana">Pengembalian Dana</option> -->
        </select>
      </div>

      <div class="col-lg-12 mb-3">
        <div class="text-muted mb-2">Alasan Komplain</div>
        <textarea
          v-model="komplainn.alasan"
          class="form-control __form-control __text-primary"
          rows="5"
          placeholder="Ketik alasan komplain"
          :disabled="pesanan.status === 'pesanan_dikomplain'"
        ></textarea>
      </div>

      <div class="col-lg-12 mb-3">
        <template v-if="pesanan.status === 'pesanan_dikomplain'">
          <div class="text-muted mb-2">Foto Detail Komplain</div>
          <iframe
            :src="komplainn.foto"
            v-if="komplainn.foto"
            class="w-100 d-block"
            style="height: 200px"
          />
        </template>
        <template v-else>
          <div class="text-muted mb-2">Upload Foto Detail Komplain</div>
          <input
            accept=".pdf"
            type="file"
            :class="`form-control __form-control`"
            @change="uploadFoto($event)"
          />
          <small class="text-muted mb-2 w-100 d-block">(Format .PDF)</small>

          <iframe
            :src="komplainFileSource"
            v-if="komplainFileSource"
            class="w-100 d-block"
            style="height: 200px"
          />
        </template>
      </div>
    </div>

    <template v-slot:footer>
      <button
        type="button"
        :class="`py-3 btn __btn-primary w-100 ${
          pesanan.status == 'pesanan_dikomplain' ? 'd-none' : ''
        }`"
        :disabled="ulasan.submit"
        @click.prevent="komplainSubmit"
      >
        Kirim Laporan
      </button>
      <button
        type="button"
        class="py-3 btn btn-sm btn-outline-danger w-100"
        data-bs-dismiss="modal"
      >
        Close
      </button>
    </template>
  </Modal>

  <!-- Modal Ulasan -->
  <Modal id="ulasanModal" title="Ulasan">
    <div class="row">
      <div class="col-lg-12 mb-3">
        <div class="text-muted mb-2">Ulasan Tentang Produk</div>
        <textarea
          v-model="ulasan.ulasan"
          class="__form-control __text-primary"
          rows="5"
          placeholder="Ketik ulasan produk"
          :disabled="pesanan.status === 'pesanan_dikomplain'"
        ></textarea>
      </div>

      <div class="col-lg-12">
        <div class="row">
          <div
            class="col-lg-3 col-6 mb-3"
            v-for="(image, key) in images"
            v-bind:key="key"
          >
            <img class="preview img-fluid" v-bind:ref="'image' + parseInt(key)" src="" />
            <button class="btn btn-danger btn-sm w-100" @click="deleteImage(key)">
              Hapus Foto
            </button>
          </div>
        </div>
      </div>
    </div>

    <template v-slot:footer>
      <button
        type="button"
        class="py-3 btn __btn-primary w-100"
        :disabled="ulasan.submit"
        @click.prevent="ulasanSubmit"
      >
        <span>{{ ulasan.button }}</span>
        <span
          v-if="ulasan.submit"
          class="spinner-border text-light"
          style="width: 20px; height: 20px"
          role="status"
        ></span>
      </button>
      <button
        type="button"
        class="py-3 btn btn-sm btn-outline-danger w-100"
        data-bs-dismiss="modal"
      >
        Close
      </button>
    </template>
  </Modal>

  <!-- Modal Ulasan -->
  <Modal id="inputSuratJalanModal" title="SURAT JALAN PENYERAHAN BARANG">
    <div class="row">
      <div class="col-12 col-md-6 mb-3">
        <div class="text-muted mb-2">Nomor Pesanan</div>
        <div class="__text-primary mb-2">{{ surat_jalan.nomor_pesanan }}</div>
      </div>

      <div class="col-12 col-md-6 mb-3">
        <div class="text-muted mb-2">Tanggal Diterima</div>
        <div class="__text-primary mb-2">{{ surat_jalan.tanggal_diterima_display }}</div>
      </div>

      <div class="col-12 mb-3">
        <div class="text-muted mb-2">Nama Penerima</div>
        <input
          v-model="surat_jalan.nama_penerima"
          type="text"
          :class="`form-control __form-control __text-primary ${
            error.surat_jalan.nama_penerima && !surat_jalan.nama_penerima
              ? 'border-danger'
              : ''
          }`"
        />
        <div
          class="text-danger"
          v-show="!surat_jalan.nama_penerima"
          v-text="error.surat_jalan.nama_penerima"
        ></div>
      </div>

      <div class="col-12 mb-3">
        <div class="text-muted mb-2">Jabatan Penerima</div>
        <input
          v-model="surat_jalan.jabatan_penerima"
          type="text"
          :class="`form-control __form-control __text-primary ${
            error.surat_jalan.jabatan_penerima && !surat_jalan.jabatan_penerima
              ? 'border-danger'
              : ''
          }`"
        />
        <div
          class="text-danger"
          v-show="!surat_jalan.jabatan_penerima"
          v-text="error.surat_jalan.jabatan_penerima"
        ></div>
      </div>

      <div class="col-12 mb-3">
        <div class="text-muted mb-2">Telepon Penerima</div>
        <input
          v-maska
          data-maska="08##########"
          type="text"
          v-model="surat_jalan.telepon_penerima"
          :class="`__form-control form-control __text-primary ${
            error.surat_jalan.telepon_penerima && !surat_jalan.telepon_penerima
              ? 'border-danger'
              : ''
          }`"
        />
        <div
          class="text-danger"
          v-show="!surat_jalan.telepon_penerima"
          v-text="error.surat_jalan.telepon_penerima"
        ></div>
      </div>

      <div class="col-lg-12 mb-3">
        <div class="text-muted mb-2">Ulasan Tentang Produk</div>
        <textarea
          v-model="surat_jalan.ulasan"
          :class="`__form-control __text-primary ${
            error.surat_jalan.ulasan && !surat_jalan.ulasan ? 'border-danger' : ''
          }`"
          rows="5"
          placeholder="Ketik ulasan produk"
          :disabled="pesanan.status === 'pesanan_dikomplain'"
        ></textarea>
        <div
          class="text-danger"
          v-show="!surat_jalan.ulasan"
          v-text="error.surat_jalan.ulasan"
        ></div>
      </div>

      <div class="col-12 __text-primary">
        Dengan ini menyatakan dengan sebenar-benarnya :
        <ol class="px-3">
          <li>
            Telah menerima pesanan dalam kondisi baik, sesuai dengan yang tercantum pada
            Surat Pesanan.
          </li>
          <li>Menjamin ketersediaan anggaran untuk pembayaran transaksi ini.</li>
          <li>
            Tidak akan melakukan pembatalan atas transaksi pesanan ini dikemudian hari.
          </li>
        </ol>
      </div>
    </div>

    <template v-slot:footer>
      <button
        type="button"
        class="py-3 btn __btn-primary w-100"
        :disabled="surat_jalan.submit"
        @click.prevent="suratJalanSubmit"
      >
        <span>{{ surat_jalan.button }}</span>
        <span
          v-if="surat_jalan.submit"
          class="spinner-border text-light"
          style="width: 20px; height: 20px"
          role="status"
        ></span>
      </button>
      <button
        type="button"
        class="py-3 btn btn-sm btn-outline-danger w-100"
        data-bs-dismiss="modal"
      >
        Close
      </button>
    </template>
  </Modal>

  <ReportTagihanPesanan
    ref="report"
    :title="`Tagihan-${pesanan.no_pesanan}`"
    :isJasaProduct="isJasaProduct"
    :pesanan="pesanan"
    :penjual="penjual"
    :pembeli="pembeli"
    :alamat_penjual="alamat_penjual"
    :alamat="alamat"
    :products="products"
    :jasa_products="jasa_products"
  />
</template>

<script>
import axios from "axios";
import dayjs from "dayjs";
import id from "dayjs/locale/id";

import { getDetailPesanan, getKomplainPesanan } from "@/v2/store/pesanan.js";

import Navbar from "@/v2/components/Navbar.vue";
import Modal from "@/v2/components/Modal.vue";
import PaymentMethod from "@/v2/components/PaymentMethod.vue";
import PaymentMethodSelected from "@/v2/components/PaymentMethodSelected.vue";
import ReportTagihanPesanan from "@/components/print/ReportTagihanPesanan.vue";

export default {
  components: {
    Navbar,
    ReportTagihanPesanan,
    Modal,
    PaymentMethod,
    PaymentMethodSelected,
  },
  setup() {
    const formatBirthDate = (date) => {
      return "";
      return dayjs(date).locale(id).format("DD MMMM YYYY");
    };

    return {
      formatBirthDate,
    };
  },
  data() {
    return {
      loader: null,
      error: {
        surat_jalan: {
          nama_penerima: "",
          jabatan_penerima: "",
          telepon_penerima: "",
          ulasan: "",
        },
      },
      isJasaProduct: false,
      komplainn: {
        permintaan: "",
        alasan: "",
        foto: "",
      },
      loggedInLKPP: localStorage.getItem("loggedInLKPP"),
      token: localStorage.getItem("token"),
      lkpp_token: localStorage.getItem("tokenTransactionLKPP"),
      pesanan: {},
      penjual: [],
      pembeli: [],
      alamat: [],
      alamat_penjual: [],
      products: [],
      jasa_products: [],
      komplains: [],
      images: [],
      hari: 0,
      ulasan: {
        button: "Kirim Ulasan",
        submit: false,
        rating: "1",
        ulasan: "",
      },
      surat_jalan: {
        nomor_pesanan: "",
        tanggal_diterima: "",
        nama_penerima: "",
        jabatan_penerima: "",
        telepon_penerima: "",
        tanggal_diterima_display: "",
        ulasan: "",
        button: "Konfirmasi Terima Pesanan",
      },
      foto_komplain: null,
      ulasans: [],
      komplainFileSource: null,
      lkpp_items: [],
      percent_service_fee: 15,
      kartu_identitas_pegawai: null,
      surat_dinas: null,
    };
  },
  methods: {
    updateMetodePembayaran(event) {
      if (
        event.target.value == "Pembayaran Bertempo" &&
        this.isJasaProduct
        // && (this.jasa_products.type_jasa == 'pesan_hotel' || this.jasa_products.type_jasa == 'pesan_tiket_pesawat')
      ) {
        this.pesanan.hari = 14;
        return;
      }

      this.pesanan.hari = 0;
    },

    changeFile(event, model) {
      if (model == "kartu_identitas_pegawai") {
        this.kartu_identitas_pegawai = event.target.files[0];
      }

      if (model == "surat_dinas") {
        this.surat_dinas = event.target.files[0];
      }
    },

    generateReport() {
      this.$refs.report.generateReport();
    },

    async buatPesanan() {
      const params_id = this.$route.params.id;

      this.loader = this.$loading.show();
      if (this.kartu_identitas_pegawai) {
        let formData = new FormData();
        formData.append("file", this.kartu_identitas_pegawai);
        var kartu_identitas_pegawai = await axios.post("/api/upload", formData, {
          headers: {
            "Content-Type": "multipart/form-data",
          },
        });
      }

      if (this.surat_dinas) {
        let formData = new FormData();
        formData.append("file", this.surat_dinas);
        var surat_dinas = await axios.post("/api/upload", formData, {
          headers: {
            "Content-Type": "multipart/form-data",
          },
        });
      }

      const products = [];
      this.products.forEach((cart) => {
        products.push({
          id: cart.id,
          qty: cart.qty,
          new_price: cart.new_price,
          product: {
            id: cart.product.id,
          },
        });
      });

      const obj = JSON.stringify({
        untuk_keperluan: this.pesanan.untuk_keperluan,
        metode_pembayaran: this.pesanan.metode_pembayaran,
        type_payment: this.pesanan.type_payment,
        hari: this.pesanan.hari,
        catatan: this.pesanan.catatan,
        nama_pemesan: this.pesanan.nama_pemesan,
        no_telp_pemesan: this.pesanan.no_telp_pemesan,
        email_pemesan: this.pesanan.email_pemesan,
        asal_pemesan: this.pesanan.asal_pemesan,
        alamat_pemesan: this.pesanan.alamat_pemesan,
        kartu_identitas_pegawai: this.kartu_identitas_pegawai
          ? kartu_identitas_pegawai.data.file_url
          : "",
        surat_dinas: this.surat_dinas ? surat_dinas.data.file_url : "",
        products: products,
        total_pembayaran: this.getTotalPembayaran(),
        total_transaksi: this.getTotalTransaksi(),
        total_service_fee: this.getTotalServiceFee(),
        total_travel_surcharge: this.getTotalTravelSurcharge(),
      });

      axios
        .post(`/api/v1/pesanan/buat-pesanan/${params_id}`, obj, {
          headers: {
            Authorization: "Bearer " + this.token,
            "Content-Type": "application/json",
          },
        })
        .then((resp) => {
          this.reportTransactionLKPP();

          // if(this.pesanan.metode_pembayaran === 'Pembayaran Langsung') {
          //   this.$router.push({ name: 'pembeliTagihanDetail', params: { id: params_id } });
          //   return;
          // }

          const imgSuccess = require("@/v2/assets/images/success/ecommerce-checkout-laptop-rafiki.png");
          this.$swal({
            confirmButtonText: "Kembali",
            customClass: {
              actions: "w-100",
              confirmButton: "btn __btn-primary w-100 mx-5 py-3 mt-3 mb-3",
            },
            html: `
                <img src="${imgSuccess}" />
                <div class="__text-primary fw-bold fs-4">Pesanan Anda Berhasil </div>
                <div class="text-muted mt-3">Pesanan anda sudah berhasil dilakukan, terimakasih sudah melakukan transaksi di beliumkm.co.id</div>
            `,
          }).then(() => {
            this.$router.push({ path: "/dashboard/transaksi/pesanan" });
          });
        })
        .catch((err) => {
          const errors = err.response.data.errors;
          if (err.response.status == 403) {
            this.error.nama_pemesan =
              errors && errors.nama_pemesan ? errors.nama_pemesan[0] : null;
            this.error.email_pemesan =
              errors && errors.email_pemesan ? errors.email_pemesan[0] : null;
            this.error.no_telp_pemesan =
              errors && errors.no_telp_pemesan ? errors.no_telp_pemesan[0] : null;
            this.error.untuk_keperluan =
              errors && errors.untuk_keperluan ? errors.untuk_keperluan[0] : null;
            this.error.asal_pemesan =
              errors && errors.asal_pemesan ? errors.asal_pemesan[0] : null;
            this.error.alamat_pemesan =
              errors && errors.alamat_pemesan ? errors.alamat_pemesan[0] : null;
            this.error.metode_pembayaran =
              errors && errors.metode_pembayaran ? errors.metode_pembayaran[0] : null;
            this.error.type_payment =
              errors && errors.type_payment ? errors.type_payment[0] : null;
            this.error.hari = errors && errors.hari ? errors.hari[0] : null;
            this.error.kartu_identitas_pegawai =
              errors && errors.kartu_identitas_pegawai
                ? errors.kartu_identitas_pegawai[0]
                : null;
            this.error.surat_dinas =
              errors && errors.surat_dinas ? errors.surat_dinas[0] : null;
          }

          const imgWrong = require("@/v2/assets/images/auth/wrong-email.png");
          this.$swal({
            confirmButtonText: "Kembali",
            customClass: {
              actions: "w-100",
              confirmButton: "btn __btn-primary w-100 mx-5 py-3 mt-3 mb-3",
            },
            html: `
                <img src="${imgWrong}" />
                <div class="__text-primary fw-bold fs-4">Kesalahan input</div>
                <div class="text-muted mt-3">Silahkan periksa kembali inputan form yang anda masukkan.</div>
            `,
          }).then(() => {
            // this.$router.push({ path: "/dashboard/transaksi/pesanan" });
          });
        })
        .then(() => this.loader.hide());
    },

    async hapusPesanan() {
      const params_id = this.$route.params.id;

      const imgSuccess = require("@/v2/assets/images/success/ecommerce-checkout-laptop-rafiki.png");

      this.$swal({
        confirmButtonText: "Ya, Hapus!",
        customClass: {
          actions: "w-100",
          confirmButton: "btn __btn-primary w-50 mx-5 py-3 mt-3 mb-3",
        },
        html: `
            <img src="${imgSuccess}" />
            <div class="__text-primary fw-bold fs-4">Konfirmasi hapus pesanan</div>
            <div class="text-muted mt-3">Setelah dihapus pesanan tidak dapat dikembalikan, yakin akan melanjutkan proses penghapusan?</div>
        `,
      }).then(() => {
        this.loader = this.$loading.show();

        axios
          .delete(`/api/v1/pesanan/${params_id}`, null, {
            headers: {
              Authorization: "Bearer " + this.token,
              "Content-Type": "application/json",
            },
          })
          .then((resp) => {
            this.$swal({
              confirmButtonText: "Kembali",
              customClass: {
                actions: "w-100",
                confirmButton: "btn __btn-primary w-100 mx-5 py-3 mt-3 mb-3",
              },
              html: `
                  <img src="${imgSuccess}" />
                  <div class="__text-primary fw-bold fs-4">Berhasil Dihapus</div>
                  <div class="text-muted mt-3">Pesanan anda sudah berhasil dihapus.</div>
              `,
            }).then(() => {
              this.$router.push({ path: "/dashboard/transaksi/pesanan" });
            });
          })
          .catch((err) => {
            const errors = err.response.message;
            const imgWrong = require("@/v2/assets/images/auth/wrong-email.png");
            this.$swal({
              confirmButtonText: "Kembali",
              customClass: {
                actions: "w-100",
                confirmButton: "btn __btn-primary w-100 mx-5 py-3 mt-3 mb-3",
              },
              html: `
                  <img src="${imgWrong}" />
                  <div class="__text-primary fw-bold fs-4">Kesalahan input</div>
                  <div class="text-muted mt-3">${errors}.</div>
              `,
            });
          })
          .then(() => this.loader.hide());
      });
    },

    goToDashboard() {
      this.$router.push({ path: "/dashboard/transaksi/pesanan" });
    },

    uploadFoto(event) {
      this.foto_komplain = event.target.files[0];
      this.komplainFileSource = URL.createObjectURL(event.target.files[0]);
    },

    async reportTransactionLKPP() {
      const pembeli = JSON.parse(localStorage.getItem("userLKPP"));
      const data = {
        order_id: this.pesanan.no_pesanan,
        pembeli: {
          email: this.pembeli.email,
          phone: this.pembeli.no_telp,
          username: this.pembeli.username,
        },
        items: this.lkpp_items,
        alamat_pengiriman: this.alamat
          ? `${this.alamat.alamat} ${this.alamat.province_name} ${this.alamat.city_name}`
          : "Tidak ada alamat",
        ongkos_kirim: this.pesanan.total_harga_kurir || 0,
        ongkos_kirim_ppn:
          (parseFloat(this.pesanan.jenis_pajak_value) / 100) *
          parseInt(this.pesanan.total_harga_kurir),
        ongkos_kirim_ppn_persentase: parseFloat(this.pesanan.jenis_pajak_value),
        ongkos_kirim_pph:
          (parseFloat(this.pesanan.pajak_penghasilan_value) / 100) *
          parseInt(this.pesanan.total_harga_kurir),
        ongkos_kirim_pph_persentase: parseFloat(this.pesanan.pajak_penghasilan_value),
        ppn_total: parseInt(this.pesanan.total_pajak),
        pph_total: parseInt(this.pesanan.total_pajak_penghasilan),
        valuasi: this.pesanan.total_pembayaran,
        metode_bayar: this.pesanan.metode_pembayaran,
        nama_kurir: this.pesanan.kurir,
        token: this.lkpp_token,
      };

      if (this.lkpp_token) {
        await axios
          .post(`${process.env.VUE_APP_ENDPOINT_API}/api/v1/lkpp/report`, data)
          .then((resp) => {
            console.log("Berhasil membuat laporan transaksi ke LKPP", resp.data);

            axios
              .post(`${process.env.VUE_APP_ENDPOINT_API}/api/v1/lkpp/token`, {
                email: pembeli.email,
                token: resp.data.new_token,
              })
              .then((resp) => {
                console.log("Berhasil update token transaksi LKPP", resp.data);
              })
              .catch((err) => {
                console.log("Gagal update token transaksi LKPP", err.response.data);
              });
          })
          .catch((err) => {
            console.log("Gagal membuat laporan transaksi ke LKPP", err.response.data);
          });
      }
    },

    async komplainSubmit() {
      this.loader = this.$loading.show();
      if (this.foto_komplain) {
        let formData = new FormData();
        formData.append("file", this.foto_komplain);
        var foto_komplain = await axios.post("/api/upload", formData, {
          headers: {
            "Content-Type": "multipart/form-data",
          },
        });
      }
      const obj = JSON.stringify({
        permintaan: this.komplainn.permintaan,
        alasan: this.komplainn.alasan,
        foto: this.foto_komplain ? foto_komplain.data.file_url : "",
      });
      axios
        .post("/api/v1/pesanan/komplain/" + this.$route.params.id, obj, {
          headers: {
            Authorization: "Bearer " + this.token,
            "Content-Type": "application/json",
          },
        })
        .then((resp) => {
          const imgSuccess = require("@/v2/assets/images/success/ecommerce-checkout-laptop-rafiki.png");
          this.$swal({
            confirmButtonText: "Selesai",
            customClass: {
              actions: "w-100",
              confirmButton: "btn __btn-primary w-100 mx-5 py-3 mt-3 mb-3",
            },
            html: `
                <img src="${imgSuccess}" />
                <div class="__text-primary fw-bold fs-4">Komplain Berhasil Dibuat</div>
                <div class="text-muted mt-3">Komplain anda telah berhasil dikirimkan, admin kami akan segera menindaklanjuti komplain anda</div>
            `,
          }).then(() => {
            location.href = `/dashboard/transaksi/pesanan`;
          });
        })
        .catch((err) => {
          const imgWrong = require("@/v2/assets/images/auth/wrong-email.png");
          this.$swal({
            confirmButtonText: "Kembali",
            customClass: {
              actions: "w-100",
              confirmButton: "btn __btn-primary w-100 mx-5 py-3 mt-3 mb-3",
            },
            html: `
                <img src="${imgWrong}" />
                <div class="__text-primary fw-bold fs-4">${err.response.data.message}</div>
                <div class="text-muted mt-3">Silahkan periksa kembali inputan form yang anda masukkan.</div>
            `,
          }).then(() => {
            // this.$router.push({ path: "/dashboard/transaksi/pesanan" });
          });
        })
        .then(() => this.loader.hide());
    },

    deleteImage(key) {
      this.images.splice(this.images.indexOf(key), 1);
    },

    onFileChange(e) {
      var selectedFiles = e.target.files;
      for (var i = 0; i < selectedFiles.length; i++) {
        this.images.push(selectedFiles[i]);
      }

      // console.log(this.images);

      for (var i = 0; i < this.images.length; i++) {
        let reader = new FileReader(); //instantiate a new file reader
        reader.addEventListener(
          "load",
          function () {
            this.$refs["image" + parseInt(i - 1)][0].src = reader.result;
          }.bind(this),
          false
        ); //add event listener

        reader.readAsDataURL(this.images[i]);
      }
    },

    async ulasanSubmit() {
      this.loader = this.$loading.show();
      if (this.ulasan.ulasan == "") {
        this.$swal({
          icon: "error",
          title: "Ulasan tentang produk wajib di isi!",
        });
        this.ulasan.submit = false;
        this.ulasan.button = "Kirim Ulasan";
        return;
      }

      if (this.images.length > 0) {
        let formData = new FormData();
        for (var index = 0; index < this.images.length; index++)
          formData.append("file[]", this.images[index]);

        var images = await axios.post("/api/upload-multiple", formData, {
          headers: {
            "Content-Type": "multipart/form-data",
          },
        });
      }

      const products = [];
      this.products.forEach((cart) => {
        products.push({
          id: cart.id,
          qty: cart.qty,
          new_price: cart.new_price,
          product: {
            id: cart.product.id,
          },
        });
      });

      const obj = JSON.stringify({
        rating: 5,
        id_penjual: this.penjual.id_user,
        ulasan: this.ulasan.ulasan,
        product: products,
        foto: this.images.length > 0 ? images.data.file_url : "",
      });

      const pesanan_id = this.$route.params.id;
      axios
        .post(`/api/v1/pesanan/ulasan/${pesanan_id}`, obj, {
          headers: {
            "Content-Type": "application/json",
            Authorization: "Bearer " + this.token,
          },
        })
        .then((resp) => {
          const imgSuccess = require("@/v2/assets/images/success/ecommerce-checkout-laptop-rafiki.png");
          this.$swal({
            confirmButtonText: "Selanjutnya",
            customClass: {
              actions: "w-100",
              confirmButton: "btn __btn-primary w-100 mx-5 py-3 mt-3 mb-3",
            },
            html: `
                <img src="${imgSuccess}" />
                <div class="__text-primary fw-bold fs-4">Ulasan Berhasil Dikirim</div>
                <div class="text-muted mt-3">Ulasan telah berhasil dikirimkan, silahkan melanjutkan pembayaran pesanan anda</div>
            `,
          }).then(() => {
            location.href = `/transaksi/tagihan/${pesanan_id}`;
          });
        })
        .catch((err) => {
          const imgWrong = require("@/v2/assets/images/auth/wrong-email.png");
          this.$swal({
            confirmButtonText: "Kembali",
            customClass: {
              actions: "w-100",
              confirmButton: "btn __btn-primary w-100 mx-5 py-3 mt-3 mb-3",
            },
            html: `
                <img src="${imgWrong}" />
                <div class="__text-primary fw-bold fs-4">${err.response.data.message}</div>
                <div class="text-muted mt-3">Silahkan periksa kembali inputan form yang anda masukkan.</div>
            `,
          }).then(() => {
            // this.$router.push({ path: "/dashboard/transaksi/pesanan" });
          });
        })
        .then(() => this.loader.hide());
    },

    async suratJalanSubmit() {
      this.loader = this.$loading.show();

      const obj = JSON.stringify({
        jabatan_penerima: this.surat_jalan.jabatan_penerima,
        nama_penerima: this.surat_jalan.nama_penerima,
        telepon_penerima: this.surat_jalan.telepon_penerima,
        ulasan: this.surat_jalan.ulasan,
      });

      const pesanan_id = this.$route.params.id;
      axios
        .post(`/api/v1/pesanan/surat-jalan/${pesanan_id}`, obj, {
          headers: {
            "Content-Type": "application/json",
            Authorization: "Bearer " + this.token,
          },
        })
        .then((resp) => {
          const imgSuccess = require("@/v2/assets/images/success/ecommerce-checkout-laptop-rafiki.png");
          this.$swal({
            confirmButtonText: "Selanjutnya",
            customClass: {
              actions: "w-100",
              confirmButton: "btn __btn-primary w-100 mx-5 py-3 mt-3 mb-3",
            },
            html: `
                <img src="${imgSuccess}" />
                <div class="__text-primary fw-bold fs-4">Ulasan Berhasil Dikirim</div>
                <div class="text-muted mt-3">Ulasan telah berhasil dikirimkan, silahkan melanjutkan pembayaran pesanan anda</div>
            `,
          }).then(() => {
            location.href = `/transaksi/tagihan/${pesanan_id}`;
          });
        })
        .catch((err) => {
          const errors = err.response.data.errors;
          if (err.response.status == 403 || err.response.status == 422) {
            this.error.surat_jalan.nama_penerima =
              errors && errors.nama_penerima ? errors.nama_penerima[0] : null;
            this.error.surat_jalan.jabatan_penerima =
              errors && errors.jabatan_penerima ? errors.jabatan_penerima[0] : null;
            this.error.surat_jalan.telepon_penerima =
              errors && errors.telepon_penerima ? errors.telepon_penerima[0] : null;
            this.error.surat_jalan.ulasan =
              errors && errors.ulasan ? errors.ulasan[0] : null;
          }

          const imgWrong = require("@/v2/assets/images/auth/wrong-email.png");
          this.$swal({
            confirmButtonText: "Kembali",
            customClass: {
              actions: "w-100",
              confirmButton: "btn __btn-primary w-100 mx-5 py-3 mt-3 mb-3",
            },
            html: `
                <img src="${imgWrong}" />
                <div class="__text-primary fw-bold fs-4">Ups... Sepertinya bermasalah!</div>
                <div class="text-muted mt-3">Silahkan periksa kembali inputan form yang anda masukkan.</div>
            `,
          }).then(() => {
            // this.$router.push({ path: "/dashboard/transaksi/pesanan" });
          });
        })
        .then(() => this.loader.hide());
    },

    departReturnDateFormat(date) {
      return dayjs(date).format("DD MMMM YYYY");
    },

    formatDateDay(dateString) {
      const date = dayjs(dateString).locale("id");
      return date.format("dddd, DD MMMM YYYY");
    },

    formatTime(dateString) {
      const date = dayjs(dateString).locale("id");
      return date.format("HH:mm");
    },

    getTotalTransaksi() {
      if (this.isHotelOrTiketPesawat()) {
        return Math.ceil(this.pesanan.subtotal + this.getTotalTravelSurcharge());
      }

      return Math.ceil(this.pesanan.total_transaksi);
    },

    getTotalPembayaran() {
      if (this.isHotelOrTiketPesawat()) {
        return Math.ceil(this.pesanan.subtotal + this.getTotalTravelSurcharge());
      }

      return Math.ceil(this.pesanan.total_pembayaran);
    },

    getTotalServiceFee() {
      return Math.ceil(parseInt(this.getTotalPembayaran() * (2 / 100)));
    },

    getTotalTravelSurcharge() {
      if (this.isHotelOrTiketPesawat()) {
        if (this.pesanan.metode_pembayaran === "Pembayaran Langsung") {
          return 0;
          // return parseInt(this.pesanan.subtotal * (2 / 100));
        }

        // if (this.pesanan?.penjual?.id_user == 14) {
        //   return Math.ceil(parseInt(this.pesanan.subtotal * (7 / 100)));
        // }

        return Math.ceil(parseInt(this.pesanan.subtotal * (10 / 100)));
      }

      return 0;
    },

    getTotalPajak() {
      return Math.ceil(parseInt(this.pesanan.total_pajak));
    },

    getTotalPajakPenghasilan() {
      return Math.ceil(parseInt(this.pesanan.total_pajak_penghasilan));
    },

    downloadDocuments(url, name) {
      const download_name = `${name}-${this.pesanan.no_pesanan}`;
      const download_url = `${process.env.VUE_APP_ENDPOINT_API}/api/v1/download?url=${url}&name=${download_name}`;
      location.href = download_url;
    },

    isHotelOrTiketPesawat() {
      if (
        this.isJasaProduct &&
        (this.jasa_products.type_jasa == "pesan_hotel" ||
          this.jasa_products.type_jasa == "pesan_tiket_pesawat")
      ) {
        return true;
      }

      return false;
    },
  },
  async mounted() {
    /** Validasi OTORISASI */
    // if(this.loggedInLKPP === 'false' && !this.$isLocalhost) {
    //   this.$nextTick(() => {
    //     this.$refs.buttonOtorisation.click();
    //   })
    // }

    this.ulasans.push({ ...this.ulasan });
    const id = this.$route.params.id;

    /** Mengambil data detail pesanan */
    const { pesanan, pesananError } = await getDetailPesanan(id);

    this.pesanan = pesanan.value;
    this.penjual = pesanan.value.penjual;
    this.pembeli = pesanan.value.pembeli;
    this.alamat = pesanan.value.alamat;
    this.alamat_penjual = pesanan.value.alamat_penjual;
    this.products = pesanan.value.products;

    if (pesanan.value.jasa != null) {
      this.isJasaProduct = true;
      this.jasa_products = pesanan.value.jasa;
    }

    const sku_jasa = `BUM-${this.pesanan.id}-${dayjs(this.pesanan.created_at)}`;

    if (this.isJasaProduct) {
      if (
        this.jasa_products.type_jasa == "antar_jemput_bandara" ||
        this.jasa_products.type_jasa == "sewa_kendaraan"
      ) {
        this.lkpp_items.push({
          product_name:
            this.jasa_products.type_jasa == "antar_jemput_bandara"
              ? `Layanan Antar Jemput Bandara`
              : `Layanan Sewa Kendaraan`,
          product_price: this.jasa_products.price,
          is_available: true,
          product_images: [this.jasa_products.image],
          product_thumbnail: this.jasa_products.image,
          product_description: "Layanan Antar Jemput Bandara di BeliUMKM",
          product_category: {
            1: "akomodasi",
            2: "transportasi",
          },
          product_weight: 0,
          tags: ["BeliUMKM", "akomodasi", "penginapan", "transportasi"],
          is_PDN: true,
          is_taxable: parseFloat(this.pesanan.jenis_pajak_value) > 0 ? true : false,
          SKU: sku_jasa,
          merchant_id: `${this.pesanan.penjual.id}`,
          merchant_name: this.pesanan.penjual.nama_usaha,
          merchant_province: this.pesanan.alamat_penjual.province_name,
          merchant_city: this.pesanan.alamat_penjual.city_name,
          // "merchant_npwp": this.pesanan.penjual.no_npwp,
          merchant_npwp: process.env.VUE_APP_MERCHANT_NPWP ?? "53.601.661.1-822.000",
          merchant_nik: this.pesanan.penjual.nik ?? process.env.VUE_APP_MERCHANT_NIK,
          is_pkp: parseFloat(this.pesanan.pajak_penghasilan_value) > 0 ? true : false,
          merchant_score: 5,
          max_merchant_score: 5,
          merchant_type: "kecil",
          kuantitas: this.jasa_products.night_count,
          total: this.jasa_products.price_alt,
          ppn: 0,
          ppn_persentase: 0,
          pph: 0,
          pph_persentase: 0,
        });
      } else if (this.jasa_products.type_jasa == "pesan_hotel") {
        this.lkpp_items.push({
          product_name: `Pemesanan Akomodasi Hotel`,
          product_price: this.jasa_products.price_alt,
          is_available: true,
          product_images: [this.jasa_products.image],
          product_thumbnail: this.jasa_products.image,
          product_description: "Pemesanan Akomodasi Hotel di BeliUMKM",
          product_category: {
            1: "akomodasi",
            2: "transportasi",
          },
          product_weight: 0,
          tags: ["BeliUMKM", "akomodasi", "penginapan", "transportasi"],
          is_PDN: true,
          is_taxable: parseFloat(this.pesanan.jenis_pajak_value) > 0 ? true : false,
          SKU: sku_jasa,
          merchant_id: `${this.pesanan.penjual.id}`,
          merchant_name: this.pesanan.penjual.nama_usaha,
          merchant_province: this.pesanan.alamat_penjual.province_name,
          merchant_city: this.pesanan.alamat_penjual.city_name,
          // "merchant_npwp": this.pesanan.penjual.no_npwp,
          merchant_npwp: process.env.VUE_APP_MERCHANT_NPWP ?? "53.601.661.1-822.000",
          merchant_nik: this.pesanan.penjual.nik ?? process.env.VUE_APP_MERCHANT_NIK,
          is_pkp: parseFloat(this.pesanan.pajak_penghasilan_value) > 0 ? true : false,
          merchant_score: 5,
          max_merchant_score: 5,
          merchant_type: "kecil",
          kuantitas: this.jasa_products.night_count,
          total: this.jasa_products.price_alt,
          ppn: 0,
          ppn_persentase: 0,
          pph: 0,
          pph_persentase: 0,
        });
      } else {
        this.lkpp_items.push({
          product_name: `Pemesanan Tiket Pesawat`,
          product_price: this.jasa_products.price_alt,
          is_available: true,
          product_images: [this.jasa_products.image],
          product_thumbnail: this.jasa_products.image,
          product_description: "Pemesanan Tiket Pesawat di BeliUMKM",
          product_category: {
            1: "akomodasi",
            2: "transportasi",
          },
          product_weight: 0,
          tags: ["BeliUMKM", "akomodasi", "penginapan", "transportasi"],
          is_PDN: true,
          is_taxable: parseFloat(this.pesanan.jenis_pajak_value) > 0 ? true : false,
          SKU: sku_jasa,
          merchant_id: `${this.pesanan.penjual.id}`,
          merchant_name: this.pesanan.penjual.nama_usaha,
          merchant_province: this.pesanan.alamat_penjual.province_name,
          merchant_city: this.pesanan.alamat_penjual.city_name,
          // "merchant_npwp": this.pesanan.penjual.no_npwp,
          merchant_npwp: process.env.VUE_APP_MERCHANT_NPWP ?? "53.601.661.1-822.000",
          merchant_nik: this.pesanan.penjual.nik ?? process.env.VUE_APP_MERCHANT_NIK,
          is_pkp: parseFloat(this.pesanan.pajak_penghasilan_value) > 0 ? true : false,
          merchant_score: 5,
          max_merchant_score: 5,
          merchant_type: "kecil",
          kuantitas: 1,
          total: this.jasa_products.price_alt,
          ppn: 0,
          ppn_persentase: 0,
          pph: 0,
          pph_persentase: 0,
        });
      }

      if (!this.pesanan.metode_pembayaran) {
        if (this.pesanan?.penjual?.id_user == 14) {
          this.pesanan.metode_pembayaran = "Pembayaran Langsung";
        } else {
          this.pesanan.metode_pembayaran = "Pembayaran Bertempo";
          this.pesanan.hari = 14;
        }
      }
    } else {
      this.products.forEach((product) => {
        const total_harga = parseInt(product.harga_satuan * product.qty);
        const ppn = (parseFloat(this.pesanan.jenis_pajak_value) / 100) * total_harga;
        const pph =
          (parseFloat(this.pesanan.pajak_penghasilan_value) / 100) * total_harga;
        this.lkpp_items.push({
          product_name: `${product.product.title}`,
          product_price: product.harga_satuan,
          is_available: true,
          product_images: [product.product.image[0][0]],
          product_thumbnail: product.product.image[0][0],
          product_description: product.product.deskripsi,
          product_category: {
            1: product.product.categories.name,
          },
          product_weight: product.product.berat,
          tags: ["BeliUMKM", product.product.categories.name],
          is_PDN: true,
          is_taxable: parseFloat(this.pesanan.jenis_pajak_value) > 0 ? true : false,
          SKU: `${product.product.sku}`,
          merchant_id: `${this.pesanan.penjual.id}`,
          merchant_name: this.pesanan.penjual.nama_usaha,
          merchant_province: this.pesanan.alamat_penjual.province_name,
          merchant_city: this.pesanan.alamat_penjual.city_name,
          // "merchant_npwp": this.pesanan.penjual.no_npwp,
          merchant_npwp: process.env.VUE_APP_MERCHANT_NPWP ?? "53.601.661.1-822.000",
          merchant_nik: this.pesanan.penjual.nik ?? process.env.VUE_APP_MERCHANT_NIK,
          is_pkp: parseFloat(this.pesanan.pajak_penghasilan_value) > 0 ? true : false,
          merchant_score: product.product.toko.rating,
          max_merchant_score: product.product.toko.rating,
          merchant_type: "kecil",
          kuantitas: product.qty,
          total: total_harga,
          // "total": total_harga + ppn + pph,
          ppn: ppn,
          ppn_persentase: parseFloat(this.pesanan.jenis_pajak_value),
          pph: pph,
          pph_persentase: parseFloat(this.pesanan.pajak_penghasilan_value),
        });
      });

      if (!this.pesanan.metode_pembayaran) {
        this.pesanan.metode_pembayaran = "Pembayaran Bertempo";
        this.pesanan.hari = 14;
      }
    }

    if (pesanan.value.status == "pesanan_dikomplain") {
      /** Mengambil data komplain pesanan */
      const { pesananKomplain, pesananKomplainError } = await getKomplainPesanan(id);

      this.komplain = pesananKomplain.value;
    }

    this.surat_jalan.nomor_pesanan = pesanan.value.no_pesanan;
    this.surat_jalan.tanggal_diterima = dayjs().locale("id").format("YYYY-MM-DD");
    this.surat_jalan.tanggal_diterima_display = dayjs()
      .locale("id")
      .format("DD MMMM YYYY");
  },
};
</script>

<style scoped>
.documents-file {
  width: 100%;
  height: 100%;
  object-fit: fill;
  object-position: center;
}
</style>
