<template>
  <Navbar />

  <!-- Breadcrumb -->
  <div class="bg-breadcrumb">
    <nav class="container-fluid" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a class="text-decoration-none text-muted" href="/">Home</a>
        </li>
        <li class="breadcrumb-item active">Pembeli</li>
        <li class="breadcrumb-item active" aria-current="page">Permintaan RFQ</li>
      </ol>
    </nav>
  </div>

  <!-- Data Pesanan -->
  <div class="container-fluid">
    <div class="banner-section py-4 px-5">
      <h4 class="section-title">Pesanan</h4>
      <div class="d-flex align-items-end justify-content-between">
        <div class="fw-bold __text-yellow">
          <template v-if="pesanan.status == 'pesanan_selesai'">
            <div v-if="pesanan.payment_status == 'waiting_for_payment'">
              Menunggu Pembayaran
            </div>
            <div v-else-if="pesanan.payment_status == 'paid'">Pembayaran Diterima</div>
            <div v-else>Pesanan Selesai</div>
          </template>
          <div v-else-if="pesanan.status === 'permintaan_rfq'">Permintaan RFQ</div>
          <div v-else-if="pesanan.status === 'proses_permintaan_rfq'">Permintaan RFQ</div>
          <div v-else-if="pesanan.status === 'pesanan_dibuat'">Permintaan Pesanan</div>
          <div v-else-if="pesanan.status === 'pesanan_terbuat'">Permintaan Pesanan</div>
          <div v-else-if="pesanan.status === 'pesanan_ditolak'">Ditolak Pemasok</div>
          <div v-else-if="pesanan.status === 'pesanan_diterima'">
            Konfirmasi Terima Pesanan
          </div>
          <div v-else-if="pesanan.status === 'pesanan_dikomplain'">
            Pesanan Dikomplain
          </div>
          <div v-else-if="pesanan.status === 'permintaan_rfq_diterima'">
            Menunggu Persetujuan Pembeli
          </div>
          <div v-else-if="pesanan.status == 'permintaan_rfq_ditolak'">
            Permintaan RFQ Ditolak Pemasok
          </div>
        </div>
        <button
          :class="`btn btn-primary gap-3 align-items-center py-2 ${
            pesanan.status == 'pesanan_selesai' ? 'd-flex' : 'd-none'
          }`"
          style="right: 0; top: 0"
          @click="generateReport()"
        >
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M16.4405 8.90039C20.0405 9.21039 21.5105 11.0604 21.5105 15.1104V15.2404C21.5105 19.7104 19.7205 21.5004 15.2505 21.5004H8.74047C4.27047 21.5004 2.48047 19.7104 2.48047 15.2404V15.1104C2.48047 11.0904 3.93047 9.24039 7.47047 8.91039"
              stroke="white"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M12 2V14.88"
              stroke="white"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M15.3504 12.6504L12.0004 16.0004L8.65039 12.6504"
              stroke="white"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>

          Download Tagihan
        </button>
      </div>

      <div class="row mt-4 text-start">
        <div class="col-md">
          <small class="d-block">Nomor Pesanan</small>
          <div class="fs-4">{{ pesanan.no_pesanan }}</div>
        </div>
        <div class="col-md">
          <small class="d-block">Tanggal Pesanan</small>
          <div class="fs-4">{{ pesanan.created_at }}</div>
        </div>
        <div class="col-md">
          <small class="d-block">Nama Pemasok</small>
          <div class="fs-4">{{ penjual.nama_usaha }}</div>
        </div>
        <div class="col-md-2">
          <small class="d-block">Lokasi Pemasok</small>
          <div class="fs-4">{{ alamat_penjual && alamat_penjual.city_name }}</div>
        </div>
      </div>
    </div>
  </div>

  <!-- Informasi Pembeli -->
  <div class="container-fluid py-4">
    <div class="row">
      <div class="col-md-4 ps-5">
        <h2 class="position-relative">
          Informasi Pembeli
          <svg
            class="position-absolute top-0 ms-1"
            width="12"
            height="12"
            viewBox="0 0 12 12"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <circle cx="6" cy="6" r="6" fill="#4C2A86" />
          </svg>
        </h2>
        <small class="text-muted">
          Masukkan detail data informasi pembeli untuk melanjutkan proses selanjutnya.
        </small>
      </div>

      <div class="col-md-8 pe-5">
        <div class="row">
          <div class="mb-4 pe-3 col-md-6">
            <div class="text-muted">Nama</div>
            <input
              type="text"
              v-model="pesanan.nama_pemesan"
              :class="`__form-control form-control text-dark ${
                error.nama_pemesan && !pesanan.nama_pemesan ? 'border-danger' : ''
              }`"
              :disabled="pesanan.status != 'permintaan_rfq'"
              placeholder="Ketik nama anda"
            />
            <div
              class="text-danger"
              v-show="!pesanan.nama_pemesan"
              v-text="error.nama_pemesan"
            ></div>
          </div>
          <div class="mb-4 ps-3 col-md-6">
            <div class="text-muted">Jabatan</div>
            <input
              type="text"
              v-model="pesanan.email_pemesan"
              :class="`__form-control form-control text-dark ${
                error.email_pemesan && !pesanan.email_pemesan ? 'border-danger' : ''
              }`"
              :disabled="pesanan.status != 'permintaan_rfq'"
              placeholder="Ketik jabatan anda"
            />
            <div
              class="text-danger"
              v-show="!pesanan.email_pemesan"
              v-text="error.email_pemesan"
            ></div>
          </div>
          <div class="mb-4 pe-3 col-md-6">
            <div class="text-muted">Telepon Pemesan</div>
            <input
              v-maska
              data-maska="08##########"
              type="number"
              v-model="pesanan.no_telp_pemesan"
              :class="`__form-control form-control text-dark ${
                error.no_telp_pemesan && !pesanan.no_telp_pemesan ? 'border-danger' : ''
              }`"
              :disabled="pesanan.status != 'permintaan_rfq'"
              placeholder="Ketik nomor telepon anda"
            />
            <div class="text-muted">(Pastikan nomor telepon dapat di hubungi)</div>
            <div
              class="text-danger"
              v-show="!pesanan.no_telp_pemesan"
              v-text="error.no_telp_pemesan"
            ></div>
          </div>
          <div class="mb-4 ps-3 col-md-6">
            <div class="text-muted">Informasi Transaksi</div>
            <input
              type="text"
              v-model="pesanan.untuk_keperluan"
              :class="`__form-control form-control text-dark ${
                error.untuk_keperluan && !pesanan.untuk_keperluan ? 'border-danger' : ''
              }`"
              :disabled="pesanan.status != 'permintaan_rfq'"
              placeholder="Ketik informasi transaksi anda"
            />
            <div
              class="text-danger"
              v-show="!pesanan.untuk_keperluan"
              v-text="error.untuk_keperluan"
            ></div>
          </div>
          <div class="mb-4 pe-3 col-md-6">
            <div class="text-muted">Asal Instansi</div>
            <textarea
              rows="3"
              v-model="pesanan.asal_pemesan"
              :class="`__form-control form-control text-dark ${
                error.asal_pemesan && !pesanan.asal_pemesan ? 'border-danger' : ''
              }`"
              :disabled="pesanan.status != 'permintaan_rfq'"
              placeholder="Ketik nama instansi anda"
            ></textarea>
            <div
              class="text-danger"
              v-show="!pesanan.asal_pemesan"
              v-text="error.asal_pemesan"
            ></div>
          </div>
          <div class="mb-4 ps-3 col-md-6">
            <div class="text-muted">Alamat Instansi</div>
            <textarea
              rows="3"
              v-model="pesanan.alamat_pemesan"
              :class="`__form-control form-control text-dark ${
                error.alamat_pemesan && !pesanan.alamat_pemesan ? 'border-danger' : ''
              }`"
              :disabled="pesanan.status != 'permintaan_rfq'"
              placeholder="Ketik alamat instansi anda"
            ></textarea>
            <div
              class="text-danger"
              v-show="!pesanan.alamat_pemesan"
              v-text="error.alamat_pemesan"
            ></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Informasi Pembayaran -->
  <div class="container-fluid py-4">
    <div class="row">
      <div class="col-md-4 ps-5">
        <h2 class="position-relative">
          Informasi Pembayaran
          <svg
            class="position-absolute top-0 ms-1"
            width="12"
            height="12"
            viewBox="0 0 12 12"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <circle cx="6" cy="6" r="6" fill="#4C2A86" />
          </svg>
        </h2>
        <small class="text-muted">
          Terhitung sejak pembeli mengkonfirmasi terima pesanan
        </small>
      </div>

      <div class="col-md-8 pe-5">
        <div class="row">
          <div class="pe-3 col-md-6">
            <div class="text-muted">Metode Pembayaran</div>
            <select
              v-model="pesanan.metode_pembayaran"
              :class="`__form-control rounded form-select text-dark ${
                error.metode_pembayaran && !pesanan.metode_pembayaran
                  ? 'border-danger'
                  : ''
              }`"
              :disabled="pesanan.status != 'permintaan_rfq'"
            >
              <option value="Pembayaran Bertempo">Pembayaran Bertempo</option>
            </select>
            <div
              class="text-danger"
              v-show="!pesanan.metode_pembayaran"
              v-text="error.metode_pembayaran"
            ></div>
          </div>
          <div
            class="ps-3 col-md-6"
            v-if="pesanan.metode_pembayaran === 'Pembayaran Bertempo'"
          >
            <div class="text-muted">Hari</div>
            <input
              type="number"
              v-model="pesanan.hari"
              :class="`__form-control form-control text-dark ${
                error.hari || !pesanan.hari ? 'border-danger' : ''
              }`"
              style="width: 100px"
              :disabled="pesanan.status != 'permintaan_rfq'"
            />
          </div>

          <div class="text-danger col-12" v-show="error.hari" v-text="error.hari"></div>
        </div>
      </div>
    </div>
  </div>

  <!-- Pilihan Pembayaran -->
  <div class="container-fluid py-4">
    <div class="row">
      <div class="col-md-4 ps-5">
        <h2 class="position-relative">
          Pilihan Pembayaran
          <svg
            class="position-absolute top-0 ms-1"
            width="12"
            height="12"
            viewBox="0 0 12 12"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <circle cx="6" cy="6" r="6" fill="#4C2A86" />
          </svg>
        </h2>
        <small class="text-muted"> Pilihan pembayaran yang anda pilih </small>
      </div>

      <div class="col-md-8 pe-5">
        <div class="row">
          <div class="mb-4 pe-3 col-md-12">
            <PaymentMethodSelected :pesanan="pesanan" />

            <div class="col-6" v-if="pesanan.status === 'permintaan_rfq'">
              <button
                class="py-3 btn __btn-primary w-100"
                data-bs-toggle="modal"
                data-bs-target="#pilihPembayaran"
              >
                Pilih Pembayaran
              </button>
            </div>
          </div>
        </div>
        <div
          class="text-danger"
          v-show="!pesanan.type_payment"
          v-text="error.type_payment"
        ></div>
      </div>
    </div>
  </div>

  <!-- Data Pesanan -->
  <div class="container-fluid py-4">
    <div class="row px-5">
      <div class="col-md-12">
        <table class="w-100">
          <thead class="__bg-primary">
            <th width="2%" class="border text-center py-4 px-2">NO</th>
            <th class="border text-center py-4 px-1">PRODUK</th>
            <th width="5%" class="border text-center py-4 px-1">KUANTITAS</th>
            <th width="16%" class="border text-center py-4 px-1">HARGA SATUAN</th>
            <th width="16%" class="border text-center py-4 px-1">TOTAL HARGA</th>
            <th width="16%" class="border text-center py-4 px-1">PERMINTAAN NEGOSIASI</th>
            <th width="16%" class="border text-center py-4 px-1">
              TOTAL HARGA NEGOSIASI
            </th>
          </thead>
          <tbody>
            <tr v-for="(item, index) in products" v-bind:key="item">
              <td class="border text-center py-4">{{ index + 1 }}</td>
              <td class="border py-4">
                <div class="d-flex prod">
                  <img
                    :src="item.product.image[0]"
                    class="rounded mx-3"
                    width="100"
                    style="object-fit: contain"
                  />
                  <div class="ms-2 my-auto">
                    <div class="text-dark fw-bold">{{ item.product.title }}</div>
                    <small class="d-block text-muted mb-3">Produk Dalam Negeri</small>
                    <div class="text-muted">
                      Berat: {{ item.product.berat / 1000 }} kg
                    </div>
                  </div>
                </div>
              </td>
              <td class="border text-center py-4">{{ item.qty }}</td>
              <td class="border text-center py-4 px-3">
                <div class="d-flex justify-content-between">
                  <div>Rp</div>
                  <div>
                    {{
                      item.harga_jual
                        .toString()
                        .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                    }}
                  </div>
                </div>
              </td>
              <td class="border text-center py-4 px-3">
                <div class="d-flex justify-content-between">
                  <div>Rp</div>
                  <div>
                    {{
                      (item.harga_jual * item.qty)
                        .toString()
                        .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                    }}
                  </div>
                </div>
              </td>
              <td class="border text-center py-4 px-3">
                <div class="d-flex gap-1 align-items-center">
                  Rp
                  <VueNumberFormat
                    v-model:value="products[index].new_price"
                    :options="{
                      precision: 0,
                      prefix: '',
                      suffix: '',
                      decimal: ',',
                      thousand: '.',
                      acceptNegative: false,
                      isInteger: false,
                    }"
                    class="form-control __form-control text-end text-dark"
                    :disabled="pesanan.status === 'permintaan_rfq' ? false : true"
                  ></VueNumberFormat>
                </div>
              </td>
              <td class="border text-center py-4 px-3">
                <div class="d-flex justify-content-between">
                  <div>Rp</div>
                  <div>
                    {{
                      products[index].new_price > 0
                        ? (parseInt(products[index].new_price) * parseInt(item.qty))
                            .toString()
                            .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                        : 0
                    }}
                  </div>
                </div>
              </td>
            </tr>

            <tr>
              <td class="border text-start py-4 px-5 __bg-light" colspan="6">
                Total Harga Produk
              </td>
              <td class="border text-center py-4 px-3">
                <div class="d-flex justify-content-between">
                  <div>Rp</div>
                  <div>
                    {{
                      getTotalHarga()
                        .toString()
                        .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                    }}
                  </div>
                </div>
              </td>
            </tr>

            <tr>
              <td class="border text-start py-4 px-5 __bg-light" colspan="6">
                Biaya Pengiriman - ({{ pesanan.kurir }})
              </td>
              <td class="border text-center py-4 px-3">
                <div class="d-flex justify-content-between">
                  <div>Rp</div>
                  <div>
                    {{
                      parseInt(pesanan.total_harga_kurir)
                        .toString()
                        .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                    }}
                  </div>
                </div>
              </td>
            </tr>

            <tr>
              <td class="border text-start py-4 px-5 __bg-light" colspan="6">
                Sub Total
              </td>
              <td class="border text-center py-4 px-3">
                <div class="d-flex justify-content-between">
                  <div>Rp</div>
                  <div>
                    {{
                      getSubTotalHarga()
                        .toString()
                        .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                    }}
                  </div>
                </div>
              </td>
            </tr>

            <tr>
              <td class="border text-start py-4 px-5 __bg-light" colspan="6">
                <div class="row align-items-end">
                  <div class="col-10">
                    <div>Jenis Pajak</div>
                    <input
                      type="text"
                      class="__form-control bg-white"
                      :value="pesanan.jenis_pajak"
                      disabled
                    />
                  </div>
                  <div class="col-2">
                    <input
                      type="text"
                      class="__form-control bg-white"
                      :value="pesanan.jenis_pajak_value + '%'"
                      disabled
                    />
                  </div>
                </div>
              </td>
              <td class="border text-center py-4 px-3">
                <div class="d-flex justify-content-between">
                  <div>Rp</div>
                  <div>
                    {{
                      pesanan.total_pajak
                        ? parseInt(pesanan.total_pajak)
                            .toString()
                            .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                        : 0
                    }}
                  </div>
                </div>
              </td>
            </tr>

            <tr>
              <td class="border text-start py-4 px-5 __bg-light" colspan="6">
                <div class="row align-items-end">
                  <div class="col-10">
                    <div>Pajak Penghasilan</div>
                    <input
                      class="__form-control bg-white"
                      :value="
                        pesanan.pajak_penghasilan === 'PPh'
                          ? 'PPh Pasal 22'
                          : pesanan.pajak_penghasilan
                      "
                      disabled
                    />
                  </div>
                  <div class="col-2">
                    <input
                      class="__form-control bg-white"
                      :value="pesanan.pajak_penghasilan_value + '%'"
                      disabled
                    />
                  </div>
                </div>
              </td>
              <td class="border text-center py-4 px-3 text-danger">
                <div class="d-flex justify-content-between">
                  <div>Rp</div>
                  <div>
                    {{
                      pesanan.total_pajak_penghasilan
                        ? parseInt(pesanan.total_pajak_penghasilan)
                            .toString()
                            .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                        : 0
                    }}
                  </div>
                </div>
              </td>
            </tr>

            <tr class="__bg-primary fw-bold">
              <td class="border text-start py-4 px-5" colspan="6">Total Transaksi</td>
              <td class="border text-center py-4 px-3">
                <div class="d-flex justify-content-between">
                  <div>Rp</div>
                  <div>
                    {{
                      getTotalTransaksi()
                        .toString()
                        .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                    }}
                  </div>
                </div>
              </td>
            </tr>

            <tr class="__bg-green fw-bold">
              <td class="border text-start py-4 px-5" colspan="6">Total Pembayaran</td>
              <td class="border text-center py-4 px-3">
                <div class="d-flex justify-content-between">
                  <div>Rp</div>
                  <div>
                    {{
                      getTotalPembayaran()
                        .toString()
                        .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                    }}
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!-- Additional Form -->
  <div class="container-fluid py-4">
    <div class="row px-5">
      <div class="col-lg-6 mb-3" v-if="pesanan.resi">
        <div class="text-muted">Input Nomor Resi (Opsional)</div>
        <textarea
          v-model="pesanan.resi"
          class="__form-control"
          disabled
          placeholder="Input Nomor Resi"
          id=""
          cols="30"
          rows="4"
        ></textarea>
      </div>

      <div class="col-lg-6 mb-3">
        <div class="text-muted">Catatan untuk Pemasok (Opsional)</div>
        <textarea
          v-model="pesanan.catatan"
          :disabled="pesanan.status != 'permintaan_rfq'"
          class="__form-control"
          placeholder="Ketik Catatan untuk Pemasok"
          id=""
          cols="30"
          rows="4"
        ></textarea>
      </div>

      <div
        class="col-lg-6 mb-3"
        v-if="
          pesanan.voucher_pesanan &&
          jasa_products &&
          (jasa_products.type_jasa == 'pesan_hotel' ||
            jasa_products.type_jasa == 'pesan_tiket_pesawat')
        "
      >
        <div class="d-flex justify-content-between mb-2">
          <div class="text-muted">Voucher Pesanan</div>
          <button
            @click="downloadDocuments(pesanan.voucher_pesanan, 'voucher-pesanan')"
            class="btn btn-sm __btn-primary"
          >
            <i class="fas fa-download"></i>
          </button>
        </div>
        <iframe width="100%" height="70%" :src="pesanan.voucher_pesanan" />
      </div>

      <div class="col-lg-6 mb-3" v-if="pesanan.catatan_pembeli">
        <div class="text-muted">Catatan untuk Pembeli (Opsional)</div>
        <textarea
          v-model="pesanan.catatan_pembeli"
          class="__form-control"
          placeholder="Ketik Catatan untuk Pembeli"
          disabled
          id=""
          cols="30"
          rows="4"
        ></textarea>
      </div>
    </div>
  </div>

  <!-- <template v-if="loggedInLKPP === 'false' && !$isLocalhost">
    <div class="container-fluid mb-4">
      <div class="row justify-content-center">
        <div class="col-12 text-center px-5">
          <div class="__bg-danger py-4 rounded">
            <div class="fs-3 fw-bold mb-3">Silahkan Hubungi Pejabat Pengadaan Anda</div>
            <div>Proses buat pesanan hanya dapat dilakukan melalui halaman Bela Pengadaan pada situs LPSE</div>
            <div>menggunakan akun Pejabat Pengadaan terkait</div>
          </div>
        </div>
      </div>
    </div>
  </template> -->

  <!-- Action Button -->
  <div class="container-fluid py-4">
    <div class="row justify-content-center px-5">
      <!-- <template v-if="loggedInLKPP !== 'true'">
        <button disable class="col-12 text-center text-muted py-3 rounded border-0">
          Untuk melanjutkan pesanan silahkan hubungi pejabat Pengadaan
        </button>
      </template> -->

      <!-- <template v-if="loggedInLKPP == 'true'"> -->
      <div
        class="col-lg-12"
        v-if="
          pesanan.status === 'pesanan_dibuat' ||
          pesanan.status === 'pesanan_terbuat' ||
          pesanan.status === 'permintaan_rfq'
        "
      >
        <div class="d-flex gap-3">
          <div class="w-50">
            <button class="py-3 btn __btn-danger w-100" @click.prevent="hapusPesanan">
              Hapus Permintaan Pesanan
            </button>
          </div>
          <div class="w-50">
            <button
              class="py-3 btn __btn-primary w-100"
              @click.prevent="buatPesanan"
              v-if="
                pesanan.status === 'pesanan_dibuat' || pesanan.status === 'permintaan_rfq'
              "
            >
              {{
                pesanan.status == "pesanan_dibuat"
                  ? "Buat Pesanan"
                  : "Buat Permintaan RFQ"
              }}
            </button>
            <button
              class="py-3 btn __btn-primary w-100"
              @click.prevent="buatPesanan"
              v-if="pesanan.status === 'pesanan_terbuat'"
              disabled
              style="background-color: #b0b0b0 !important; color: white"
            >
              Pesanan Terbuat
            </button>
          </div>
        </div>
      </div>

      <div class="col-lg-6" v-if="pesanan.status === 'permintaan_rfq_diterima'">
        <button
          class="btn __btn-success w-100"
          @click.prevent="tolakTerima('tolak')"
          style="background-color: #d64242 !important; color: white"
        >
          Tolak Penawaran
        </button>
      </div>

      <div class="col-lg-6" v-if="pesanan.status === 'permintaan_rfq_diterima'">
        <button class="btn __btn-success w-100" @click.prevent="tolakTerima('terima')">
          Buat Pesanan
        </button>
      </div>

      <template v-if="pesanan.status === 'pesanan_diterima'">
        <div class="col-lg-6">
          <button
            class="py-3 btn btn-sm btn-outline-danger w-100"
            data-bs-toggle="modal"
            data-bs-target="#komplainPesan"
          >
            Komplain Pesanan
          </button>
        </div>

        <div class="col-lg-6">
          <button
            class="py-3 btn __btn-primary w-100"
            data-bs-toggle="modal"
            data-bs-target="#inputSuratJalanModal"
          >
            Pesanan Diterima
          </button>
        </div>
      </template>

      <div class="col-lg-12" v-if="pesanan.status === 'pesanan_dikomplain'">
        <button
          class="py-3 btn __btn-primary w-100"
          v-if="pesanan.status === 'pesanan_dikomplain'"
          data-bs-toggle="modal"
          data-bs-target="#komplainPesan"
        >
          Lihat Laporan Komplain
        </button>
      </div>
      <!-- </template> -->
    </div>
  </div>

  <button
    ref="buttonOtorisation"
    id="buttonOtorisation"
    class="d-none"
    data-bs-toggle="modal"
    data-bs-target="#modalOtorisation"
  ></button>

  <!-- Modal Otorisasi -->
  <Modal
    :isCenter="true"
    :headShow="false"
    :footerShow="false"
    id="modalOtorisation"
    title="&nbsp;"
  >
    <div class="row justify-content-center text-center">
      <img
        style="width: 20%"
        class="py-3"
        :src="require('@/v2/assets/images/phone-calling.png')"
        alt=""
      />
      <div class="fs-2 text-danger fw-bold mb-3">
        Silahkan menghubungi <br />Pejabat Pengadaan anda
      </div>
      <div class="fs-5">Proses buat pesanan hanya dapat dilakukan</div>
      <div class="fs-5">melalui halaman Bela Pengadaan pada situs LPSE</div>
      <div class="fs-5">menggunakan akun Pejabat Pengadaan terkait</div>
    </div>

    <template v-slot:footer>
      <button
        data-bs-dismiss="modal"
        @click="goToDashboard()"
        class="py-3 btn __btn-primary w-100 mt-4"
      >
        Simpan RFQ
      </button>
    </template>
  </Modal>

  <!-- Modal Pilih Metode Pembayaran -->
  <Modal id="pilihPembayaran" title="Pilih Metode Pembayaran">
    <PaymentMethod :pesanan="pesanan" />

    <template v-slot:footer>
      <button
        @click="error.type_payment = ''"
        class="py-3 btn __btn-primary w-100 mt-4"
        data-bs-dismiss="modal"
      >
        Pilih
      </button>
    </template>
  </Modal>

  <!-- Modal Komplain Pesanan -->
  <Modal id="komplainPesan" title="Komplain Pesanan">
    <div class="row">
      <div class="col-lg-12 mb-3">
        <div class="text-muted mb-2">Permintaan Komplain Pembeli</div>
        <select
          :class="`__form-control rounded form-select text-dark`"
          v-model="komplainn.permintaan"
          :disabled="pesanan.status === 'pesanan_dikomplain'"
        >
          <option value="Penukaran Produk">Penukaran Produk</option>
          <!-- <option value="Pengembalian Dana">Pengembalian Dana</option> -->
        </select>
      </div>

      <div class="col-lg-12 mb-3">
        <div class="text-muted mb-2">Alasan Komplain</div>
        <textarea
          v-model="komplainn.alasan"
          class="form-control __form-control text-dark"
          rows="5"
          placeholder="Ketik alasan komplain"
          :disabled="pesanan.status === 'pesanan_dikomplain'"
        ></textarea>
      </div>

      <div class="col-lg-12 mb-3">
        <template v-if="pesanan.status === 'pesanan_dikomplain'">
          <div class="text-muted mb-2">Foto Detail Komplain</div>
          <iframe
            :src="komplainn.foto"
            v-if="komplainn.foto"
            class="w-100 d-block"
            style="height: 200px"
          />
        </template>
        <template v-else>
          <div class="text-muted mb-2">Upload Foto Detail Komplain</div>
          <input
            accept=".pdf"
            type="file"
            :class="`form-control __form-control`"
            @change="uploadFoto($event)"
          />
          <small class="text-muted mb-2 w-100 d-block">(Format .PDF)</small>

          <iframe
            :src="komplainFileSource"
            v-if="komplainFileSource"
            class="w-100 d-block"
            style="height: 200px"
          />
        </template>
      </div>
    </div>

    <template v-slot:footer>
      <button
        type="button"
        :class="`py-3 btn __btn-primary w-100 ${
          pesanan.status == 'pesanan_dikomplain' ? 'd-none' : ''
        }`"
        :disabled="ulasan.submit"
        @click.prevent="komplainSubmit"
      >
        Kirim Laporan
      </button>
      <button
        type="button"
        class="py-3 btn btn-sm btn-outline-danger w-100"
        data-bs-dismiss="modal"
      >
        Close
      </button>
    </template>
  </Modal>

  <!-- Modal Ulasan -->
  <Modal id="ulasanModal" title="Ulasan">
    <div class="row">
      <div class="col-lg-12 mb-3">
        <div class="text-muted mb-2">Ulasan Tentang Produk</div>
        <textarea
          v-model="ulasan.ulasan"
          class="__form-control text-dark"
          rows="5"
          placeholder="Ketik ulasan produk"
          :disabled="pesanan.status === 'pesanan_dikomplain'"
        ></textarea>
      </div>

      <div class="col-lg-12">
        <div class="row">
          <div
            class="col-lg-3 col-6 mb-3"
            v-for="(image, key) in images"
            v-bind:key="key"
          >
            <img class="preview img-fluid" v-bind:ref="'image' + parseInt(key)" src="" />
            <button class="btn btn-danger btn-sm w-100" @click="deleteImage(key)">
              Hapus Foto
            </button>
          </div>
        </div>
      </div>
    </div>

    <template v-slot:footer>
      <button
        type="button"
        class="py-3 btn __btn-primary w-100"
        :disabled="ulasan.submit"
        @click.prevent="ulasanSubmit"
      >
        <span>{{ ulasan.button }}</span>
        <span
          v-if="ulasan.submit"
          class="spinner-border text-light"
          style="width: 20px; height: 20px"
          role="status"
        ></span>
      </button>
      <button
        type="button"
        class="py-3 btn btn-sm btn-outline-danger w-100"
        data-bs-dismiss="modal"
      >
        Close
      </button>
    </template>
  </Modal>

  <!-- Modal Ulasan -->
  <Modal id="inputSuratJalanModal" title="SURAT JALAN PENYERAHAN BARANG">
    <div class="row">
      <div class="col-12 col-md-6 mb-3">
        <div class="text-muted mb-2">Nomor Pesanan</div>
        <div class="__text-primary mb-2">{{ surat_jalan.nomor_pesanan }}</div>
      </div>

      <div class="col-12 col-md-6 mb-3">
        <div class="text-muted mb-2">Tanggal Diterima</div>
        <div class="__text-primary mb-2">{{ surat_jalan.tanggal_diterima_display }}</div>
      </div>

      <div class="col-12 mb-3">
        <div class="text-muted mb-2">Nama Penerima</div>
        <input
          v-model="surat_jalan.nama_penerima"
          type="text"
          :class="`form-control __form-control __text-primary ${
            error.surat_jalan.nama_penerima && !surat_jalan.nama_penerima
              ? 'border-danger'
              : ''
          }`"
        />
        <div
          class="text-danger"
          v-show="!surat_jalan.nama_penerima"
          v-text="error.surat_jalan.nama_penerima"
        ></div>
      </div>

      <div class="col-12 mb-3">
        <div class="text-muted mb-2">Jabatan Penerima</div>
        <input
          v-model="surat_jalan.jabatan_penerima"
          type="text"
          :class="`form-control __form-control __text-primary ${
            error.surat_jalan.jabatan_penerima && !surat_jalan.jabatan_penerima
              ? 'border-danger'
              : ''
          }`"
        />
        <div
          class="text-danger"
          v-show="!surat_jalan.jabatan_penerima"
          v-text="error.surat_jalan.jabatan_penerima"
        ></div>
      </div>

      <div class="col-12 mb-3">
        <div class="text-muted mb-2">Telepon Penerima</div>
        <input
          v-maska
          data-maska="08##########"
          type="text"
          v-model="surat_jalan.telepon_penerima"
          :class="`__form-control form-control __text-primary ${
            error.surat_jalan.telepon_penerima && !surat_jalan.telepon_penerima
              ? 'border-danger'
              : ''
          }`"
        />
        <div
          class="text-danger"
          v-show="!surat_jalan.telepon_penerima"
          v-text="error.surat_jalan.telepon_penerima"
        ></div>
      </div>

      <div class="col-lg-12 mb-3">
        <div class="text-muted mb-2">Ulasan Tentang Produk</div>
        <textarea
          v-model="surat_jalan.ulasan"
          :class="`__form-control __text-primary ${
            error.surat_jalan.ulasan && !surat_jalan.ulasan ? 'border-danger' : ''
          }`"
          rows="5"
          placeholder="Ketik ulasan produk"
          :disabled="pesanan.status === 'pesanan_dikomplain'"
        ></textarea>
        <div
          class="text-danger"
          v-show="!surat_jalan.ulasan"
          v-text="error.surat_jalan.ulasan"
        ></div>
      </div>

      <div class="col-12 __text-primary">
        Dengan ini menyatakan dengan sebenar-benarnya :
        <ol class="px-3">
          <li>
            Telah menerima pesanan dalam kondisi baik, sesuai dengan yang tercantum pada
            Surat Pesanan.
          </li>
          <li>Menjamin ketersediaan anggaran untuk pembayaran transaksi ini.</li>
          <li>
            Tidak akan melakukan pembatalan atas transaksi pesanan ini dikemudian hari.
          </li>
        </ol>
      </div>
    </div>

    <template v-slot:footer>
      <button
        type="button"
        class="py-3 btn __btn-primary w-100"
        :disabled="surat_jalan.submit"
        @click.prevent="suratJalanSubmit"
      >
        <span>{{ surat_jalan.button }}</span>
        <span
          v-if="surat_jalan.submit"
          class="spinner-border text-light"
          style="width: 20px; height: 20px"
          role="status"
        ></span>
      </button>
      <button
        type="button"
        class="py-3 btn btn-sm btn-outline-danger w-100"
        data-bs-dismiss="modal"
      >
        Close
      </button>
    </template>
  </Modal>

  <ReportTagihanPesanan
    ref="report"
    :title="`Tagihan-${pesanan.no_pesanan}`"
    :isJasaProduct="isJasaProduct"
    :pesanan="pesanan"
    :penjual="penjual"
    :pembeli="pembeli"
    :alamat_penjual="alamat_penjual"
    :alamat="alamat"
    :products="products"
    :jasa_products="jasa_products"
  />
</template>

<script>
import axios from "axios";
import dayjs from "dayjs";
import id from "dayjs/locale/id";

import Navbar from "@/v2/components/Navbar.vue";
import Modal from "@/v2/components/Modal.vue";
import ReportTagihanPesanan from "@/components/print/ReportTagihanPesanan.vue";
import VueNumberFormat from "vue-number-format";

import PaymentMethod from "@/v2/components/PaymentMethod.vue";
import PaymentMethodSelected from "@/v2/components/PaymentMethodSelected.vue";

export default {
  components: {
    Navbar,
    Modal,
    ReportTagihanPesanan,
    VueNumberFormat,
    PaymentMethod,
    PaymentMethodSelected,
  },
  data() {
    return {
      loader: null,
      error: {
        surat_jalan: {
          nama_penerima: "",
          jabatan_penerima: "",
          telepon_penerima: "",
          ulasan: "",
        },
      },
      isJasaProduct: false,
      komplainn: {
        permintaan: "",
        alasan: "",
        foto: "",
      },
      loggedInLKPP: localStorage.getItem("loggedInLKPP"),
      token: localStorage.getItem("token"),
      lkpp_token: localStorage.getItem("tokenTransactionLKPP"),
      pesanan: [],
      penjual: [],
      pembeli: [],
      alamat: [],
      alamat_penjual: [],
      products: [],
      images: [],
      jasa_products: [],
      komplains: [],
      hari: 0,
      komplain: {
        permintaan: "",
        alasan: "",
        foto: "",
      },
      ulasan: {
        button: "Kirim Ulasan",
        submit: false,
        rating: "1",
        ulasan: "",
      },
      surat_jalan: {
        nomor_pesanan: "",
        tanggal_diterima: "",
        nama_penerima: "",
        jabatan_penerima: "",
        telepon_penerima: "",
        tanggal_diterima_display: "",
        ulasan: "",
        button: "Konfirmasi Terima Pesanan",
      },
      foto_komplain: null,
      ulasans: [],
      komplainFileSource: null,

      lkpp_items: [],
    };
  },
  methods: {
    generateReport() {
      this.$refs.report.generateReport();
    },

    async ulasanSubmit() {
      this.loader = this.$loading.show();
      if (this.ulasan.ulasan == "") {
        this.$swal({
          icon: "error",
          title: "Ulasan tentang produk wajib di isi!",
        });
        this.ulasan.submit = false;
        this.ulasan.button = "Kirim Ulasan";
        this.loader.hide();
        return;
      }

      if (this.images.length > 0) {
        let formData = new FormData();
        for (var index = 0; index < this.images.length; index++)
          formData.append("file[]", this.images[index]);

        var images = await axios.post("/api/upload-multiple", formData, {
          headers: {
            "Content-Type": "multipart/form-data",
          },
        });
      }

      const products = [];
      this.products.forEach((cart) => {
        products.push({
          id: cart.id,
          qty: cart.qty,
          new_price: cart.new_price,
          product: {
            id: cart.product.id,
          },
        });
      });

      const obj = JSON.stringify({
        rating: 5,
        id_penjual: this.penjual.id_user,
        ulasan: this.ulasan.ulasan,
        product: products,
        foto: this.images.length > 0 ? images.data.file_url : "",
      });

      const pesanan_id = this.$route.params.id;
      axios
        .post(`/api/v1/pesanan/ulasan/${pesanan_id}`, obj, {
          headers: {
            "Content-Type": "application/json",
            Authorization: "Bearer " + this.token,
          },
        })
        .then((resp) => {
          const imgSuccess = require("@/v2/assets/images/success/ecommerce-checkout-laptop-rafiki.png");
          this.$swal({
            confirmButtonText: "Selanjutnya",
            customClass: {
              actions: "w-100",
              confirmButton: "btn __btn-primary w-100 mx-5 py-3 mt-3 mb-3",
            },
            html: `
                <img src="${imgSuccess}" />
                <div class="text-dark fw-bold fs-4">Ulasan Berhasil Dikirim</div>
                <div class="text-muted mt-3">Ulasan telah berhasil dikirimkan, silahkan melanjutkan pembayaran pesanan anda</div>
            `,
          }).then(() => {
            location.href = `/transaksi/tagihan/${pesanan_id}`;
          });
        })
        .catch((err) => {
          const imgWrong = require("@/v2/assets/images/auth/wrong-email.png");
          this.$swal({
            confirmButtonText: "Kembali",
            customClass: {
              actions: "w-100",
              confirmButton: "btn __btn-primary w-100 mx-5 py-3 mt-3 mb-3",
            },
            html: `
                <img src="${imgWrong}" />
                <div class="text-dark fw-bold fs-4">${err.response.data.message}</div>
                <div class="text-muted mt-3">Silahkan periksa kembali inputan form yang anda masukkan.</div>
            `,
          }).then(() => {
            // this.$router.push({ path: "/dashboard/transaksi/pesanan" });
          });
        })
        .then(() => this.loader.hide());
    },

    async suratJalanSubmit() {
      this.loader = this.$loading.show();

      const obj = JSON.stringify({
        jabatan_penerima: this.surat_jalan.jabatan_penerima,
        nama_penerima: this.surat_jalan.nama_penerima,
        telepon_penerima: this.surat_jalan.telepon_penerima,
        ulasan: this.surat_jalan.ulasan,
      });

      const pesanan_id = this.$route.params.id;
      axios
        .post(`/api/v1/pesanan/surat-jalan/${pesanan_id}`, obj, {
          headers: {
            "Content-Type": "application/json",
            Authorization: "Bearer " + this.token,
          },
        })
        .then((resp) => {
          const imgSuccess = require("@/v2/assets/images/success/ecommerce-checkout-laptop-rafiki.png");
          this.$swal({
            confirmButtonText: "Selanjutnya",
            customClass: {
              actions: "w-100",
              confirmButton: "btn __btn-primary w-100 mx-5 py-3 mt-3 mb-3",
            },
            html: `
            <img src="${imgSuccess}" />
            <div class="__text-primary fw-bold fs-4">Ulasan Berhasil Dikirim</div>
            <div class="text-muted mt-3">Ulasan telah berhasil dikirimkan, silahkan melanjutkan pembayaran pesanan anda</div>
        `,
          }).then(() => {
            location.href = `/transaksi/tagihan/${pesanan_id}`;
          });
        })
        .catch((err) => {
          const errors = err.response.data.errors;
          if (err.response.status == 403 || err.response.status == 422) {
            this.error.surat_jalan.nama_penerima =
              errors && errors.nama_penerima ? errors.nama_penerima[0] : null;
            this.error.surat_jalan.jabatan_penerima =
              errors && errors.jabatan_penerima ? errors.jabatan_penerima[0] : null;
            this.error.surat_jalan.telepon_penerima =
              errors && errors.telepon_penerima ? errors.telepon_penerima[0] : null;
            this.error.surat_jalan.ulasan =
              errors && errors.ulasan ? errors.ulasan[0] : null;
          }

          const imgWrong = require("@/v2/assets/images/auth/wrong-email.png");
          this.$swal({
            confirmButtonText: "Kembali",
            customClass: {
              actions: "w-100",
              confirmButton: "btn __btn-primary w-100 mx-5 py-3 mt-3 mb-3",
            },
            html: `
            <img src="${imgWrong}" />
            <div class="__text-primary fw-bold fs-4">Ups... Sepertinya bermasalah!</div>
            <div class="text-muted mt-3">Silahkan periksa kembali inputan form yang anda masukkan.</div>
        `,
          }).then(() => {
            // this.$router.push({ path: "/dashboard/transaksi/pesanan" });
          });
        })
        .then(() => this.loader.hide());
    },

    onFileChange(e) {
      var selectedFiles = e.target.files;
      for (var i = 0; i < selectedFiles.length; i++) {
        this.images.push(selectedFiles[i]);
      }

      // console.log(this.images);

      for (var i = 0; i < this.images.length; i++) {
        let reader = new FileReader(); //instantiate a new file reader
        reader.addEventListener(
          "load",
          function () {
            this.$refs["image" + parseInt(i - 1)][0].src = reader.result;
          }.bind(this),
          false
        ); //add event listener

        reader.readAsDataURL(this.images[i]);
      }
    },

    async buatPesanan() {
      this.loader = this.$loading.show();
      const new_prices = this.products.filter((item) => item.new_price === null);

      if (new_prices.length > 0) {
        this.loader.hide();
        return this.$swal({
          icon: "error",
          title: "Lengkapi harga di inputan Permintaan Negosiasi",
        });
      } else {
        const products = [];
        this.products.forEach((cart) => {
          products.push({
            id: cart.id,
            qty: cart.qty,
            new_price: cart.new_price,
            product: {
              id: cart.product.id,
            },
          });
        });

        const obj = JSON.stringify({
          untuk_keperluan: this.pesanan.untuk_keperluan,
          metode_pembayaran: this.pesanan.metode_pembayaran,
          type_payment: this.pesanan.type_payment,
          hari: this.pesanan.hari,
          catatan: this.pesanan.catatan,
          nama_pemesan: this.pesanan.nama_pemesan,
          no_telp_pemesan: this.pesanan.no_telp_pemesan,
          email_pemesan: this.pesanan.email_pemesan,
          asal_pemesan: this.pesanan.asal_pemesan,
          alamat_pemesan: this.pesanan.alamat_pemesan,
          products: products,
          total_harga_barang: this.getTotalHarga(),
          subtotal: this.getSubTotalHarga(),
          total_pajak: this.getTotalPajak(),
          total_pajak_penghasilan: this.getTotalPajakPenghasilan(),
          total_pembayaran: this.getTotalPembayaran(),
          total_transaksi: this.getTotalTransaksi(),
        });

        const pesanan_id = this.$route.params.id;
        axios
          .post(`/api/v1/pesanan/buat-pesanan/${pesanan_id}`, obj, {
            headers: {
              Authorization: "Bearer " + this.token,
              "Content-Type": "application/json",
            },
          })
          .then((resp) => {
            this.reportTransactionLKPP();
            const imgSuccess = require("@/v2/assets/images/success/ecommerce-checkout-laptop-rafiki.png");
            this.$swal({
              confirmButtonText: "Kembali",
              customClass: {
                actions: "w-100",
                confirmButton: "btn __btn-primary w-100 mx-5 py-3 mt-3 mb-3",
              },
              html: `
                  <img src="${imgSuccess}" />
                  <div class="text-dark fw-bold fs-4">Permintaan RFQ Anda Berhasil</div>
                  <div class="text-muted mt-3">Permintaan RFQ anda sudah berhasil dilakukan, terimakasih sudah melakukan transaksi di beliumkm.co.id</div>
              `,
            }).then(() => {
              this.$router.push({ path: "/dashboard/transaksi/pesanan" });
            });
          })
          .catch((err) => {
            const errors = err.response.data.errors;
            if (err.response.status == 403) {
              this.error.nama_pemesan = errors.nama_pemesan && errors.nama_pemesan[0];
              this.error.email_pemesan = errors.email_pemesan && errors.email_pemesan[0];
              this.error.no_telp_pemesan =
                errors.no_telp_pemesan && errors.no_telp_pemesan[0];
              this.error.untuk_keperluan =
                errors.untuk_keperluan && errors.untuk_keperluan[0];
              this.error.asal_pemesan = errors.asal_pemesan && errors.asal_pemesan[0];
              this.error.alamat_pemesan =
                errors.alamat_pemesan && errors.alamat_pemesan[0];
              this.error.metode_pembayaran =
                errors.metode_pembayaran && errors.metode_pembayaran[0];
              this.error.type_payment = errors.type_payment && errors.type_payment[0];
              this.error.hari = errors.hari && errors.hari[0];
              this.error.kartu_identitas_pegawai =
                errors.kartu_identitas_pegawai && errors.kartu_identitas_pegawai[0];
              this.error.surat_dinas = errors.surat_dinas && errors.surat_dinas[0];
            }

            const imgWrong = require("@/v2/assets/images/auth/wrong-email.png");
            this.$swal({
              confirmButtonText: "Kembali",
              customClass: {
                actions: "w-100",
                confirmButton: "btn __btn-primary w-100 mx-5 py-3 mt-3 mb-3",
              },
              html: `
                  <img src="${imgWrong}" />
                  <div class="text-dark fw-bold fs-4">Kesalahan input</div>
                  <div class="text-muted mt-3">Silahkan periksa kembali inputan form yang anda masukkan.</div>
              `,
            }).then(() => {
              // this.$router.push({ path: "/dashboard/transaksi/pesanan" });
            });
          })
          .then(() => this.loader.hide());
      }
    },

    async hapusPesanan() {
      const params_id = this.$route.params.id;

      const imgSuccess = require("@/v2/assets/images/success/ecommerce-checkout-laptop-rafiki.png");

      this.$swal({
        confirmButtonText: "Ya, Hapus!",
        customClass: {
          actions: "w-100",
          confirmButton: "btn __btn-primary w-50 mx-5 py-3 mt-3 mb-3",
        },
        html: `
            <img src="${imgSuccess}" />
            <div class="text-dark fw-bold fs-4">Konfirmasi hapus pesanan</div>
            <div class="text-muted mt-3">Setelah dihapus pesanan tidak dapat dikembalikan, yakin akan melanjutkan proses penghapusan?</div>
        `,
      }).then(() => {
        this.loader = this.$loading.show();

        axios
          .delete(`/api/v1/pesanan/${params_id}`, null, {
            headers: {
              Authorization: "Bearer " + this.token,
              "Content-Type": "application/json",
            },
          })
          .then((resp) => {
            this.$swal({
              confirmButtonText: "Kembali",
              customClass: {
                actions: "w-100",
                confirmButton: "btn __btn-primary w-100 mx-5 py-3 mt-3 mb-3",
              },
              html: `
                  <img src="${imgSuccess}" />
                  <div class="text-dark fw-bold fs-4">Berhasil Dihapus</div>
                  <div class="text-muted mt-3">Pesanan anda sudah berhasil dihapus.</div>
              `,
            }).then(() => {
              this.$router.push({ path: "/dashboard/transaksi/pesanan" });
            });
          })
          .catch((err) => {
            const errors = err.response.message;
            const imgWrong = require("@/v2/assets/images/auth/wrong-email.png");
            this.$swal({
              confirmButtonText: "Kembali",
              customClass: {
                actions: "w-100",
                confirmButton: "btn __btn-primary w-100 mx-5 py-3 mt-3 mb-3",
              },
              html: `
                  <img src="${imgWrong}" />
                  <div class="text-dark fw-bold fs-4">Kesalahan input</div>
                  <div class="text-muted mt-3">${errors}.</div>
              `,
            });
          })
          .then(() => this.loader.hide());
      });
    },

    goToDashboard() {
      this.$router.push({ path: "/dashboard/transaksi/pesanan" });
    },

    async reportTransactionLKPP() {
      const pembeli = JSON.parse(localStorage.getItem("userLKPP"));
      const data = {
        order_id: this.pesanan.no_pesanan,
        pembeli: {
          email: this.pembeli.email,
          phone: this.pembeli.no_telp,
          username: this.pembeli.username,
        },
        items: this.lkpp_items,
        alamat_pengiriman: this.alamat
          ? `${this.alamat.alamat} ${this.alamat.province_name} ${this.alamat.city_name}`
          : "Tidak ada alamat",
        ongkos_kirim: this.pesanan.total_harga_kurir || 0,
        ongkos_kirim_ppn:
          (parseFloat(this.pesanan.jenis_pajak_value) / 100) *
          parseInt(this.pesanan.total_harga_kurir),
        ongkos_kirim_ppn_persentase: parseFloat(this.pesanan.jenis_pajak_value),
        ongkos_kirim_pph:
          (parseFloat(this.pesanan.pajak_penghasilan_value) / 100) *
          parseInt(this.pesanan.total_harga_kurir),
        ongkos_kirim_pph_persentase: parseFloat(this.pesanan.pajak_penghasilan_value),
        ppn_total: parseInt(this.pesanan.total_pajak),
        pph_total: parseInt(this.pesanan.total_pajak_penghasilan),
        valuasi: this.pesanan.total_pembayaran,
        metode_bayar: this.pesanan.metode_pembayaran,
        nama_kurir: this.pesanan.kurir,
        token: this.lkpp_token,
      };

      if (this.lkpp_token) {
        await axios
          .post(`${process.env.VUE_APP_ENDPOINT_API}/api/v1/lkpp/report`, data)
          .then((resp) => {
            console.log("Berhasil membuat laporan transaksi ke LKPP", resp.data);

            axios
              .post(`${process.env.VUE_APP_ENDPOINT_API}/api/v1/lkpp/token`, {
                email: pembeli.email,
                token: resp.data.new_token,
              })
              .then((resp) => {
                console.log("Berhasil update token transaksi LKPP", resp.data);
              })
              .catch((err) => {
                console.log("Gagal update token transaksi LKPP", err.response.data);
              });
          })
          .catch((err) => {
            console.log("Gagal membuat laporan transaksi ke LKPP", err.response.data);
          });
      }
    },

    uploadFoto(event) {
      this.foto_komplain = event.target.files[0];
      this.komplainFileSource = URL.createObjectURL(event.target.files[0]);
    },

    async komplainSubmit() {
      this.loader = this.$loading.show();
      if (this.foto_komplain) {
        let formData = new FormData();
        formData.append("file", this.foto_komplain);
        var foto_komplain = await axios.post("/api/upload", formData, {
          headers: {
            "Content-Type": "multipart/form-data",
          },
        });
      }
      const obj = JSON.stringify({
        permintaan: this.komplainn.permintaan,
        alasan: this.komplainn.alasan,
        foto: this.foto_komplain ? foto_komplain.data.file_url : "",
      });
      axios
        .post("/api/v1/pesanan/komplain/" + this.$route.params.id, obj, {
          headers: {
            Authorization: "Bearer " + this.token,
            "Content-Type": "application/json",
          },
        })
        .then((resp) => {
          const imgSuccess = require("@/v2/assets/images/success/ecommerce-checkout-laptop-rafiki.png");
          this.$swal({
            confirmButtonText: "Selesai",
            customClass: {
              actions: "w-100",
              confirmButton: "btn __btn-primary w-100 mx-5 py-3 mt-3 mb-3",
            },
            html: `
                <img src="${imgSuccess}" />
                <div class="text-dark fw-bold fs-4">Komplain Berhasil Dibuat</div>
                <div class="text-muted mt-3">Komplain anda telah berhasil dikirimkan, admin kami akan segera menindaklanjuti komplain anda</div>
            `,
          }).then(() => {
            location.href = `/dashboard/transaksi/pesanan`;
          });
        })
        .catch((err) => {
          const imgWrong = require("@/v2/assets/images/auth/wrong-email.png");
          this.$swal({
            confirmButtonText: "Kembali",
            customClass: {
              actions: "w-100",
              confirmButton: "btn __btn-primary w-100 mx-5 py-3 mt-3 mb-3",
            },
            html: `
                <img src="${imgWrong}" />
                <div class="text-dark fw-bold fs-4">${err.response.data.message}</div>
                <div class="text-muted mt-3">Silahkan periksa kembali inputan form yang anda masukkan.</div>
            `,
          }).then(() => {
            // this.$router.push({ path: "/dashboard/transaksi/pesanan" });
          });
        })
        .then(() => this.loader.hide());
    },

    tolakTerima(type) {
      const obj = JSON.stringify({
        status: type,
      });
      axios
        .post(
          "/api/v1/pesanan/rfq/tolak-terima/" + this.$route.params.id + "/pembeli",
          obj,
          {
            headers: {
              Authorization: "Bearer " + this.token,
              "Content-Type": "application/json",
            },
          }
        )
        .then((resp) => {
          // console.log(resp);
          this.$swal({
            icon: "success",
            title: resp.data.message,
          }).then(() => {
            location.href = "/dashboard/transaksi/pesanan";
          });
        })
        .catch((err) => {
          this.$swal({
            icon: "error",
            title: err.response.data.message,
          });
        });
    },

    getTotalHarga() {
      const new_price = this.products
        .map((item) => item.new_price * item.qty)
        .reduce((prev, next) => prev + next, 0);

      let price = this.pesanan.total_harga_barang;
      if (new_price > 0) {
        price = new_price;
      }

      return Math.ceil(parseInt(price));
    },

    getSubTotalHarga() {
      const price = this.getTotalHarga() + this.pesanan.total_harga_kurir;
      return Math.ceil(parseInt(price));
    },

    getTotalPajak() {
      return Math.ceil(
        parseInt((this.getSubTotalHarga() * this.pesanan.jenis_pajak_value) / 100)
      );
    },

    getTotalPajakPenghasilan() {
      if (
        this.pajak_penghasilan === "PPh Pasal 22 (UP) - Dipungut oleh Ritel Daring" ||
        this.pajak_penghasilan === ""
      ) {
        return Math.ceil(
          parseInt((this.getSubTotalHarga() * this.pesanan.pajak_penghasilan_value) / 100)
        );
      }

      return Math.ceil(
        parseInt((this.getSubTotalHarga() * this.pesanan.pajak_penghasilan_value) / 100)
      );
    },

    // Total PPN + PPH
    getTotalHargaPajak() {
      return Math.ceil(parseInt(this.getTotalPajak() + this.getTotalPajakPenghasilan()));
    },

    getTotalTransaksi() {
      if (this.pesanan.jenis_pajak === "Pajak Daerah - Dipungut oleh Ritel Daring") {
        if (
          this.pesanan.pajak_penghasilan !==
          "PPh Pasal 22 (UP) - Dipungut oleh Ritel Daring"
        ) {
          return Math.ceil(parseInt(this.getSubTotalHarga() + this.getTotalPajak()));
        } else {
          return Math.ceil(
            parseInt(
              this.getSubTotalHarga() +
                this.getTotalPajak() +
                this.getTotalPajakPenghasilan()
            )
          );
        }
      }

      if (
        this.pesanan.jenis_pajak === "PPN (UP) - Dipungut oleh Ritel Daring" ||
        this.pesanan.jenis_pajak === "Pajak Daerah - Dipungut oleh Ritel Daring"
      ) {
        return Math.ceil(parseInt(this.getSubTotalHarga() + this.getTotalHargaPajak()));
      }

      return Math.ceil(parseInt(this.getSubTotalHarga() + this.getTotalPajak()));
    },

    getTotalPembayaran() {
      if (this.pesanan.jenis_pajak === "Pajak Daerah - Dipungut oleh Ritel Daring") {
        if (
          this.pesanan.pajak_penghasilan !==
          "PPh Pasal 22 (UP) - Dipungut oleh Ritel Daring"
        ) {
          return Math.ceil(
            parseInt(this.getTotalTransaksi() - this.getTotalPajakPenghasilan())
          );
        } else {
          return Math.ceil(parseInt(this.getTotalTransaksi()));
        }
      }

      if (
        this.pesanan.jenis_pajak === "PPN (UP) - Dipungut oleh Ritel Daring" ||
        this.pesanan.jenis_pajak === "Pajak Daerah - Dipungut oleh Ritel Daring"
      ) {
        return Math.ceil(parseInt(this.getSubTotalHarga() + this.getTotalHargaPajak()));
      }

      return Math.ceil(
        parseInt(this.getSubTotalHarga() - this.getTotalPajakPenghasilan())
      );
    },
  },
  mounted() {
    /** Validasi OTORISASI */
    // if(this.loggedInLKPP === 'false' && !this.$isLocalhost) {
    //   this.$nextTick(() => {
    //     this.$refs.buttonOtorisation.click();
    //   })
    // }

    this.loader = this.$loading.show();
    this.ulasans.push({ ...this.ulasan });
    axios
      .get("/api/v1/pesanan/" + this.$route.params.id, {
        params: {
          image_base64: true,
        },
        headers: {
          Authorization: "Bearer " + this.token,
        },
      })
      .then((resp) => {
        const pesanan = resp.data.data;
        this.pesanan = resp.data.data;
        this.penjual = resp.data.data.penjual;
        this.pembeli = resp.data.data.pembeli;
        this.alamat = resp.data.data.alamat;
        this.alamat_penjual = resp.data.data.alamat_penjual;
        this.products = resp.data.data.products;

        if (resp.data.data.jasa != null) {
          this.isJasaProduct = true;
          this.jasa_products = resp.data.data.jasa;
        }

        if (this.isJasaProduct) {
          if (this.jasa_products.type_jasa == "pesan_hotel") {
            this.lkpp_items.push({
              product_name: `Pemesanan Akomodasi Hotel`,
              product_price: this.jasa_products.price_alt,
              is_available: true,
              product_images: [this.jasa_products.image],
              product_thumbnail: this.jasa_products.image,
              product_description: "Pemesanan Akomodasi Hotel di BeliUMKM",
              product_category: {
                1: "akomodasi",
                2: "transportasi",
              },
              product_weight: 0,
              tags: ["BeliUMKM", "akomodasi", "penginapan", "transportasi"],
              is_PDN: true,
              is_taxable: parseFloat(this.pesanan.jenis_pajak_value) > 0 ? true : false,
              SKU: `${product.product.sku}`,
              merchant_id: `${this.pesanan.penjual.id}`,
              merchant_name: this.pesanan.penjual.nama_usaha,
              merchant_province: this.pesanan.alamat_penjual.province_name,
              merchant_city: this.pesanan.alamat_penjual.city_name,
              // "merchant_npwp": this.pesanan.penjual.no_npwp,
              merchant_npwp: process.env.VUE_APP_MERCHANT_NPWP ?? "53.601.661.1-822.000",
              merchant_nik: this.pesanan.penjual.nik ?? process.env.VUE_APP_MERCHANT_NIK,
              is_pkp: parseFloat(this.pesanan.pajak_penghasilan_value) > 0 ? true : false,
              merchant_score: product.product.toko.rating,
              max_merchant_score: product.product.toko.rating,
              merchant_type: "kecil",
              kuantitas: this.jasa_products.night_count,
              total: this.jasa_products.price_alt,
              ppn: 0,
              ppn_persentase: 0,
              pph: 0,
              pph_persentase: 0,
            });
          } else {
            this.lkpp_items.push({
              product_name: `Pemesanan Tiket Pesawat`,
              product_price: this.jasa_products.price_alt,
              is_available: true,
              product_images: [this.jasa_products.image],
              product_thumbnail: this.jasa_products.image,
              product_description: "Pemesanan Tiket Pesawat di BeliUMKM",
              product_category: {
                1: "akomodasi",
                2: "transportasi",
              },
              product_weight: 0,
              tags: ["BeliUMKM", "akomodasi", "penginapan", "transportasi"],
              is_PDN: true,
              is_taxable: parseFloat(this.pesanan.jenis_pajak_value) > 0 ? true : false,
              SKU: `${product.product.sku}`,
              merchant_id: `${this.pesanan.penjual.id}`,
              merchant_name: this.pesanan.penjual.nama_usaha,
              merchant_province: this.pesanan.alamat_penjual.province_name,
              merchant_city: this.pesanan.alamat_penjual.city_name,
              // "merchant_npwp": this.pesanan.penjual.no_npwp,
              merchant_npwp: process.env.VUE_APP_MERCHANT_NPWP ?? "53.601.661.1-822.000",
              merchant_nik: this.pesanan.penjual.nik ?? process.env.VUE_APP_MERCHANT_NIK,
              is_pkp: parseFloat(this.pesanan.pajak_penghasilan_value) > 0 ? true : false,
              merchant_score: product.product.toko.rating,
              max_merchant_score: product.product.toko.rating,
              merchant_type: "kecil",
              kuantitas: 1,
              total: this.jasa_products.price_alt,
              ppn: 0,
              ppn_persentase: 0,
              pph: 0,
              pph_persentase: 0,
            });
          }
        } else {
          this.products.forEach((product) => {
            const total_harga = parseInt(product.product.show_price * product.qty);
            const ppn = (parseFloat(this.pesanan.jenis_pajak_value) / 100) * total_harga;
            const pph =
              (parseFloat(this.pesanan.pajak_penghasilan_value) / 100) * total_harga;
            this.lkpp_items.push({
              product_name: `${product.product.title}`,
              product_price: product.product.show_price,
              is_available: true,
              product_images: [product.product.image[0][0]],
              product_thumbnail: product.product.image[0][0],
              product_description: product.product.deskripsi,
              product_category: {
                1: product.product.categories.name,
              },
              product_weight: product.product.berat,
              tags: ["BeliUMKM", product.product.categories.name],
              is_PDN: true,
              is_taxable: parseFloat(this.pesanan.jenis_pajak_value) > 0 ? true : false,
              SKU: `${product.product.sku}`,
              merchant_id: `${this.pesanan.penjual.id}`,
              merchant_name: this.pesanan.penjual.nama_usaha,
              merchant_province: this.pesanan.alamat_penjual.province_name,
              merchant_city: this.pesanan.alamat_penjual.city_name,
              // "merchant_npwp": this.pesanan.penjual.no_npwp,
              merchant_npwp: process.env.VUE_APP_MERCHANT_NPWP ?? "53.601.661.1-822.000",
              merchant_nik: this.pesanan.penjual.nik ?? process.env.VUE_APP_MERCHANT_NIK,
              is_pkp: parseFloat(this.pesanan.pajak_penghasilan_value) > 0 ? true : false,
              merchant_score: product.product.toko.rating,
              max_merchant_score: product.product.toko.rating,
              merchant_type: "kecil",
              kuantitas: product.qty,
              total: total_harga,
              // "total": total_harga + ppn + pph,
              ppn: ppn,
              ppn_persentase: parseFloat(this.pesanan.jenis_pajak_value),
              pph: pph,
              pph_persentase: parseFloat(this.pesanan.pajak_penghasilan_value),
            });
          });

          if (!this.pesanan.metode_pembayaran) {
            this.pesanan.metode_pembayaran = "Pembayaran Bertempo";
            this.pesanan.hari = 14;
          }
        }

        if (resp.data.data.status == "pesanan_dikomplain") {
          axios
            .get("/api/v1/pesanan/get-komplain/" + this.$route.params.id, {
              headers: {
                Authorization: "Bearer " + this.token,
              },
            })
            .then((resp) => {
              this.komplainn = resp.data.data;
            });
        }

        this.surat_jalan.nomor_pesanan = pesanan.no_pesanan;
        this.surat_jalan.tanggal_diterima = dayjs().locale("id").format("YYYY-MM-DD");
        this.surat_jalan.tanggal_diterima_display = dayjs()
          .locale("id")
          .format("DD MMMM YYYY");
      })
      .then(() => this.loader.hide());
  },
};
</script>

<style scope>
label {
  color: black;
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 5px;
}

.title {
  font-weight: 600;
  font-size: 18px;
}

.__table-pesanan {
  border: 1px solid #b0b0b0;
}

.__table-pesanan thead {
  background-color: #82c4f3;
  text-align: center;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
}

.__table-pesanan thead th {
  padding: 15px 10px;
  font-weight: 500;
}

.__table-pesanan tbody td {
  text-align: center;
  font-weight: 500;
  vertical-align: middle;
}

.prod span {
  display: block;
  margin-left: 10px;
  font-size: 14px;
  text-align: left;
  font-weight: 400;
}

#full-stars-example .rating-group {
  display: inline-flex;
}

#full-stars-example .rating__icon {
  pointer-events: none;
}

#full-stars-example .rating__input {
  position: absolute !important;
  left: -9999px !important;
}

#full-stars-example .rating__label {
  cursor: pointer;
  padding: 0 0.1em;
  font-size: 2rem;
}

#full-stars-example .rating__icon--star {
  color: orange;
}

#full-stars-example .rating__icon--none {
  color: #eee;
}

#full-stars-example .rating__input--none:checked + .rating__label .rating__icon--none {
  color: red;
}

#full-stars-example .rating__input:checked ~ .rating__label .rating__icon--star {
  color: #ddd;
}

#full-stars-example .rating-group:hover .rating__label .rating__icon--star {
  color: orange;
}

#full-stars-example .rating__input:hover ~ .rating__label .rating__icon--star {
  color: #ddd;
}

#full-stars-example
  .rating-group:hover
  .rating__input--none:not(:hover)
  + .rating__label
  .rating__icon--none {
  color: #eee;
}

#full-stars-example .rating__input--none:hover + .rating__label .rating__icon--none {
  color: red;
}

#half-stars-example {
  /* use display:inline-flex to prevent whitespace issues. alternatively, you can put all the children of .rating-group on a single line */
  /* make hover effect work properly in IE */
  /* hide radio inputs */
  /* set icon padding and size */
  /* add padding and positioning to half star labels */
  /* set default star color */
  /* set color of none icon when unchecked */
  /* if none icon is checked, make it red */
  /* if any input is checked, make its following siblings grey */
  /* make all stars orange on rating group hover */
  /* make hovered input's following siblings grey on hover */
  /* make none icon grey on rating group hover */
  /* make none icon red on hover */
}

#half-stars-example .rating-group {
  display: inline-flex;
}

#half-stars-example .rating__icon {
  pointer-events: none;
}

#half-stars-example .rating__input {
  position: absolute !important;
  left: -9999px !important;
}

#half-stars-example .rating__label {
  cursor: pointer;
  /* if you change the left/right padding, update the margin-right property of .rating__label--half as well. */
  padding: 0 0.1em;
  font-size: 2rem;
}

#half-stars-example .rating__label--half {
  padding-right: 0;
  margin-right: -0.6em;
  z-index: 2;
}

#half-stars-example .rating__icon--star {
  color: orange;
}

#half-stars-example .rating__icon--none {
  color: #eee;
}

#half-stars-example .rating__input--none:checked + .rating__label .rating__icon--none {
  color: red;
}

#half-stars-example .rating__input:checked ~ .rating__label .rating__icon--star {
  color: #ddd;
}

#half-stars-example .rating-group:hover .rating__label .rating__icon--star,
#half-stars-example .rating-group:hover .rating__label--half .rating__icon--star {
  color: orange;
}

#half-stars-example .rating__input:hover ~ .rating__label .rating__icon--star,
#half-stars-example .rating__input:hover ~ .rating__label--half .rating__icon--star {
  color: #ddd;
}

#half-stars-example
  .rating-group:hover
  .rating__input--none:not(:hover)
  + .rating__label
  .rating__icon--none {
  color: #eee;
}

#half-stars-example .rating__input--none:hover + .rating__label .rating__icon--none {
  color: red;
}

#full-stars-example-two .rating-group {
  display: inline-flex;
}

#full-stars-example-two .rating__icon {
  pointer-events: none;
}

#full-stars-example-two .rating__input {
  position: absolute !important;
  left: -9999px !important;
}

#full-stars-example-two .rating__input--none {
  display: none;
}

#full-stars-example-two .rating__label {
  cursor: pointer;
  padding: 0 0.1em;
  font-size: 2rem;
}

#full-stars-example-two .rating__icon--star {
  color: orange;
}

#full-stars-example-two .rating__input:checked ~ .rating__label .rating__icon--star {
  color: #ddd;
}

#full-stars-example-two .rating-group:hover .rating__label .rating__icon--star {
  color: orange;
}

#full-stars-example-two .rating__input:hover ~ .rating__label .rating__icon--star {
  color: #ddd;
}
</style>
