<template>
  <Navbar />

  <!-- Breadcrumb -->
  <div class="bg-breadcrumb">
    <nav class="container-fluid" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a class="text-decoration-none text-muted" href="/">Home</a>
        </li>
        <li class="breadcrumb-item active">Transaksi</li>
        <li class="breadcrumb-item active" aria-current="page">Tagihan</li>
      </ol>
    </nav>
  </div>

  <!-- Data Pesanan -->
  <div class="container-fluid">
    <div class="banner-section py-4 px-5">
      <h4 class="section-title">Konfirmasi Pembayaran</h4>
      <div class="d-flex align-items-end justify-content-between">
        <div class="fw-bold __text-yellow">Informasi Tagihan</div>
        <div class="d-flex gap-4">
          <button
            v-if="pesanan.type_payment != null"
            :class="`btn btn-primary d-flex gap-3 align-items-center py-2`"
            @click="generateReportSuratJalan()"
          >
            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M16.4405 8.90039C20.0405 9.21039 21.5105 11.0604 21.5105 15.1104V15.2404C21.5105 19.7104 19.7205 21.5004 15.2505 21.5004H8.74047C4.27047 21.5004 2.48047 19.7104 2.48047 15.2404V15.1104C2.48047 11.0904 3.93047 9.24039 7.47047 8.91039"
                stroke="white"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M12 2V14.88"
                stroke="white"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M15.3504 12.6504L12.0004 16.0004L8.65039 12.6504"
                stroke="white"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
            Download Surat Jalan
          </button>
          <button
            v-if="pesanan.type_payment != null"
            :class="`btn btn-primary d-flex gap-3 align-items-center py-2`"
            @click="generateReportTagihan()"
          >
            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M16.4405 8.90039C20.0405 9.21039 21.5105 11.0604 21.5105 15.1104V15.2404C21.5105 19.7104 19.7205 21.5004 15.2505 21.5004H8.74047C4.27047 21.5004 2.48047 19.7104 2.48047 15.2404V15.1104C2.48047 11.0904 3.93047 9.24039 7.47047 8.91039"
                stroke="white"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M12 2V14.88"
                stroke="white"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M15.3504 12.6504L12.0004 16.0004L8.65039 12.6504"
                stroke="white"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
            Download Tagihan
          </button>
        </div>
      </div>
      <div class="row mt-4 text-start">
        <div class="col-md">
          <small class="d-block">Nomor Tagihan</small>
          <div class="fs-4">{{ pesanan.no_tagihan }}</div>
        </div>
        <div class="col-md">
          <small class="d-block">Tanggal Tagihan</small>
          <div class="fs-4">{{ pesanan.tanggal_tagihan }}</div>
        </div>
        <div class="col-md-3">
          <small class="d-block">Status Tagihan</small>
          <div class="fs-4">
            <template v-if="pesanan.payment_status == 'waiting_for_payment'">
              <template v-if="pesanan.bukti_pembayaran">Sedang Diverifikasi</template>
              <template v-else>Menunggu Pembayaran</template>
            </template>
            <template v-else-if="pesanan.payment_status == 'paid'"
              >Pembayaran Berhasil</template
            >
            <template v-else-if="pesanan.payment_status == 'cancel'"
              >Pembayaran Dibatalkan</template
            >
            <template v-else-if="pesanan.payment_status == 'accepted'"
              >Pembayaran Diterima</template
            >
            <template v-else> {{ pesanan.payment_status }} </template>
          </div>
        </div>
        <div class="col-md">
          <small class="d-block">Nama Pemasok</small>
          <div class="fs-4">{{ penjual.nama_usaha }}</div>
        </div>
      </div>
      <div class="row mt-4 text-start">
        <div class="col-md">
          <small class="d-block">Nomor Pesanan</small>
          <div class="fs-4">{{ pesanan.no_pesanan }}</div>
        </div>
        <div class="col-md">
          <small class="d-block">Tanggal Pesanan</small>
          <div class="fs-4">{{ pesanan.created_at }}</div>
        </div>
        <div class="col-md-3">
          <small class="d-block">Status Pesanan</small>
          <div class="fs-4">
            <template v-if="pesanan.status == 'pesanan_dibuat'">
              Permintaan Pesanan
            </template>
            <template v-else-if="pesanan.status == 'pesanan_terbuat'">
              Pesanan Terbuat
            </template>
            <template v-else-if="pesanan.status == 'pesanan_diterima'">
              Konfirmasi Terima Pesanan
            </template>
            <template v-else-if="pesanan.status == 'pesanan_dikomplain'">
              Pesanan Dikomplain
            </template>
            <template v-else-if="pesanan.status == 'pesanan_selesai'">
              Pesanan Selesai
            </template>
            <template v-else-if="pesanan.status == 'pesanan_ditolak'">
              Pesanan Ditolak
            </template>
            <template v-else> - </template>
          </div>
        </div>
        <div class="col-md">
          <small class="d-block">Lokasi Pemasok</small>
          <div class="fs-4">
            {{ pesanan.alamat_penjual ? pesanan.alamat_penjual.city_name : "" }}
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Informasi Pembeli -->
  <div class="container-fluid py-4">
    <div class="row">
      <div class="col-md-4 ps-5">
        <h2 class="position-relative">
          Informasi Pembeli
          <svg
            class="position-absolute top-0 ms-1"
            width="12"
            height="12"
            viewBox="0 0 12 12"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <circle cx="6" cy="6" r="6" fill="#4C2A86" />
          </svg>
        </h2>
        <small class="text-muted"> Detail informasi pembeli. </small>
      </div>

      <div class="col-md-8 pe-5">
        <div class="row">
          <div class="mb-4 pe-3 col-md-6">
            <div class="text-muted">Nama</div>
            <input
              type="text"
              v-model="pesanan.nama_pemesan"
              :class="`__form-control form-control text-dark`"
              :disabled="pesanan.status != 'pesanan_dibuat'"
              placeholder="Ketik nama anda"
            />
          </div>

          <div class="mb-4 ps-3 col-md-6">
            <div class="text-muted">Jabatan</div>
            <input
              type="text"
              v-model="pesanan.email_pemesan"
              :class="`__form-control form-control text-dark`"
              :disabled="pesanan.status != 'pesanan_dibuat'"
              placeholder="Ketik jabatan anda"
            />
          </div>

          <div class="mb-4 pe-3 col-md-6">
            <div class="text-muted">Telepon Pemesan</div>
            <input
              type="text"
              v-model="pesanan.no_telp_pemesan"
              :class="`__form-control form-control text-dark`"
              :disabled="pesanan.status != 'pesanan_dibuat'"
              placeholder="Ketik nomor telepon anda"
            />
          </div>

          <div class="mb-4 ps-3 col-md-6">
            <div class="text-muted">Informasi Transaksi</div>
            <input
              type="text"
              v-model="pesanan.untuk_keperluan"
              :class="`__form-control form-control text-dark`"
              :disabled="pesanan.status != 'pesanan_dibuat'"
              placeholder="Ketik informasi transaksi anda"
            />
          </div>

          <div class="mb-4 pe-3 col-md-6">
            <div class="text-muted">Asal Instansi</div>
            <textarea
              rows="3"
              v-model="pesanan.asal_pemesan"
              :class="`__form-control form-control text-dark`"
              :disabled="pesanan.status != 'pesanan_dibuat'"
              placeholder="Ketik nama instansi anda"
            ></textarea>
          </div>

          <div class="mb-4 ps-3 col-md-6">
            <div class="text-muted">Alamat Instansi</div>
            <textarea
              rows="3"
              v-model="pesanan.alamat_pemesan"
              :class="`__form-control form-control text-dark`"
              :disabled="pesanan.status != 'pesanan_dibuat'"
              placeholder="Ketik alamat instansi anda"
            ></textarea>
          </div>

          <template
            v-if="
              isJasaProduct &&
              (jasa_products.type_jasa == 'pesan_hotel' ||
                jasa_products.type_jasa == 'pesan_tiket_pesawat')
            "
          >
            <div class="mb-4 pe-3 col-md-6">
              <div class="text-muted">
                <template v-if="jasa_products.type_jasa == 'pesan_tiket_pesawat'"
                  >KTP Penumpang</template
                >
                <template v-else>KTP Tamu</template>
              </div>
              <input
                type="file"
                accept=".pdf"
                @change="changeFile($event, 'kartu_identitas_pegawai')"
                :class="`__form-control form-control text-dark`"
                :disabled="pesanan.status != 'pesanan_dibuat'"
              />
              <small class="text-muted">(Format .PDF)</small>
            </div>

            <div class="mb-4 ps-3 col-md-6">
              <div class="text-muted">Surat Tugas</div>
              <input
                type="file"
                accept=".pdf"
                @change="changeFile($event, 'surat_dinas')"
                :class="`__form-control form-control text-dark`"
                :disabled="pesanan.status != 'pesanan_dibuat'"
              />
              <small class="text-muted">(Format .PDF)</small>
            </div>
          </template>
        </div>
      </div>
    </div>
  </div>

  <!-- Informasi Pembayaran -->
  <div class="container-fluid py-4">
    <div class="row">
      <div class="col-md-4 ps-5">
        <h2 class="position-relative">
          Informasi Pembayaran
          <svg
            class="position-absolute top-0 ms-1"
            width="12"
            height="12"
            viewBox="0 0 12 12"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <circle cx="6" cy="6" r="6" fill="#4C2A86" />
          </svg>
        </h2>

        <small class="text-muted">
          Pilihan metode pembayaran dan rentang hari pembayaran
        </small>
      </div>

      <div class="col-md-8 pe-5">
        <div class="row">
          <div class="mb-4 pe-3 col-md-6">
            <div class="text-muted">Metode Pembayaran</div>
            <select
              v-model="pesanan.metode_pembayaran"
              :class="`__form-control rounded form-select text-dark`"
              :disabled="pesanan.status != 'pesanan_dibuat'"
            >
              <option value="Pembayaran Bertempo">Pembayaran Bertempo</option>
              <option
                v-if="
                  isJasaProduct &&
                  (jasa_products.type_jasa == 'pesan_hotel' ||
                    jasa_products.type_jasa == 'pesan_tiket_pesawat')
                "
                value="Pembayaran Langsung"
              >
                Pembayaran Langsung
              </option>
              <option v-if="!isJasaProduct" value="Bayar Saat Terima Pesanan (COD)">
                Bayar Saat Terima Pesanan (COD)
              </option>
            </select>
          </div>

          <div
            class="mb-4 ps-3 col-md-6"
            v-if="pesanan.metode_pembayaran === 'Pembayaran Bertempo'"
          >
            <div class="text-muted">Hari</div>
            <input
              type="number"
              v-model="pesanan.hari"
              :class="`__form-control form-control text-dark`"
              style="width: 100px"
              :disabled="pesanan.status != 'pesanan_dibuat'"
            />
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Data Pesanan -->
  <div class="container-fluid py-4">
    <div class="row px-5">
      <div class="col-md-12">
        <table class="w-100">
          <thead class="__bg-primary">
            <tr>
              <th width="2%" class="border text-center py-4 px-2">NO</th>
              <th class="border text-center py-4 px-1">
                <template v-if="!isJasaProduct"> PRODUK </template>
                <template v-else>
                  <template v-if="jasa_products.type_jasa == 'tiket_bus_travel'">
                    BUS
                  </template>
                  <template
                    v-else-if="
                      jasa_products.type_jasa == 'antar_jemput_bandara' ||
                      jasa_products.type_jasa == 'sewa_kendaraan'
                    "
                  >
                    KENDARAAN
                  </template>
                  <template v-else-if="jasa_products.type_jasa == 'pesan_hotel'">
                    NAMA HOTEL
                  </template>
                  <template v-else>PENERBANGAN</template>
                </template>
              </th>
              <th width="20%" class="border text-center py-4 px-1">
                <template v-if="!isJasaProduct"> KUANTITAS </template>
                <template v-else>
                  <template v-if="jasa_products.type_jasa == 'pesan_hotel'">
                    CHECKIN - CHECKOUT
                  </template>
                  <template v-else>WAKTU KEBERANGKATAN</template>
                </template>
              </th>
              <template v-if="pesanan.type !== 'rfq'">
                <th width="20%" class="border text-center py-4 px-1">
                  <template v-if="!isJasaProduct"> HARGA SATUAN </template>
                  <template v-else>
                    <template v-if="jasa_products.type_jasa == 'pesan_hotel'">
                      DATA TAMU
                    </template>
                    <template v-else>DETAIL PENUMPANG</template>
                  </template>
                </th>
                <th width="20%" class="border text-center py-4 px-1">TOTAL HARGA</th>
              </template>
              <template v-else>
                <th width="20%" class="border text-center py-4 px-1">HARGA NEGOSIASI</th>
                <th width="20%" class="border text-center py-4 px-1">
                  TOTAL HARGA NEGOSIASI
                </th>
              </template>
            </tr>
          </thead>
          <tbody>
            <template v-if="!isJasaProduct">
              <tr v-for="(item, index) in products" v-bind:key="item">
                <td class="border text-center py-4">{{ index + 1 }}</td>
                <td class="border py-4">
                  <div class="d-flex prod">
                    <img :src="item.product.image[0]" class="rounded mx-3" width="100" />
                    <div class="ms-2 my-auto">
                      <div class="text-dark fw-bold">{{ item.product.title }}</div>
                      <small class="d-block text-muted mb-3">Produk Dalam Negeri</small>
                      <div class="text-muted">
                        Berat: {{ item.product.berat / 1000 }} kg
                      </div>
                    </div>
                  </div>
                </td>
                <td class="border text-center py-4">{{ item.qty }}</td>
                <td class="border text-center py-4 px-3">
                  <div class="d-flex justify-content-between">
                    <div>Rp</div>
                    <div>
                      {{
                        item.new_price == null
                          ? item.harga_jual
                              .toString()
                              .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                          : item.new_price
                              .toString()
                              .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                      }}
                    </div>
                  </div>
                </td>
                <td class="border text-center py-4 px-3">
                  <div class="d-flex justify-content-between">
                    <div>Rp</div>
                    <div>
                      {{
                        item.new_price == null
                          ? (item.harga_jual * item.qty)
                              .toString()
                              .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                          : (item.new_price * item.qty)
                              .toString()
                              .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                      }}
                    </div>
                  </div>
                </td>
              </tr>
            </template>
            <template v-else>
              <template v-if="jasa_products.type_jasa == 'tiket_bus_travel'">
                <tr>
                  <td class="border text-center py-4 px-3">1</td>
                  <td class="border text-center py-4 px-3">
                    <div class="d-flex prod">
                      <img
                        :src="jasa_products.product.image[0]"
                        class="rounded"
                        width="100"
                        height="50"
                      />
                      <div class="my-auto">
                        <span class="fw-bold">{{ jasa_products.product.name }}</span>
                        <span>{{ jasa_products.passenger_count }} Orang</span>
                        <!-- <span>TKDN (%): 100</span> -->
                        <!-- <span>Berat: {{ item.product.berat / 1000 }} kg</span> -->
                      </div>
                    </div>
                  </td>
                  <td class="border text-center py-4 px-3">
                    <div class="d-flex gap-2 justify-content-center fw-bold">
                      <span>{{ jasa_products.product.keberangkatan.name }}</span>
                      <span class="fw-normal">-</span>
                      <span>{{ jasa_products.product.tujuan.name }}</span>
                    </div>

                    <div class="d-flex gap-2 justify-content-center">
                      <span class="fw-normal">{{
                        formatBirthDate(jasa_products.tanggal.berangkat)
                      }}</span>
                    </div>
                  </td>
                  <td class="border text-center py-4 px-3">
                    <template v-for="passenger in jasa_products.passengers">
                      <div>
                        {{ passenger.first_name }} {{ passenger.last_name }}
                        <small class="ms-2 text-muted">{{
                          formatBirthDate(passenger.birth_date)
                        }}</small>
                      </div>
                    </template>
                  </td>
                  <td class="border text-center py-4 px-3">
                    <div class="d-flex justify-content-between">
                      <div>Rp</div>
                      <div>{{ jasa_products.harga_satuan }}</div>
                    </div>
                  </td>
                </tr>
              </template>
              <template v-else-if="jasa_products.type_jasa == 'sewa_kendaraan'">
                <tr>
                  <td class="border text-center py-4 px-3">1</td>
                  <td class="border text-center py-4 px-3">
                    <div class="d-flex prod">
                      <img
                        :src="jasa_products.product.image[0]"
                        class="rounded"
                        width="100"
                        height="50"
                      />
                      <div class="my-auto">
                        <span class="fw-bold">{{ jasa_products.product.name }}</span>
                        <span>{{ jasa_products.product.kapasitas }} Orang</span>
                        <!-- <span>TKDN (%): 100</span> -->
                        <!-- <span>Berat: {{ item.product.berat / 1000 }} kg</span> -->
                      </div>
                    </div>
                  </td>
                  <td class="border text-center py-4 px-3">
                    <div class="d-flex gap-2 justify-content-center fw-bold">
                      <span>{{ jasa_products.product.kota }}</span>
                    </div>
                    <div class="d-flex gap-2 justify-content-center">
                      <span class="fw-normal">{{ jasa_products.tanggal.mulai }}</span>
                      <span class="fw-normal">-</span>
                      <span class="fw-normal">{{ jasa_products.tanggal.selesai }}</span>
                    </div>
                  </td>
                  <td class="border text-center py-4 px-3">
                    <div>
                      {{ jasa_products.passenger.first_name }}
                      {{ jasa_products.passenger.last_name }}
                    </div>
                  </td>
                  <td class="border text-center py-4 px-3">
                    <div class="d-flex justify-content-between">
                      <div>Rp</div>
                      <div>{{ jasa_products.harga_satuan }}</div>
                    </div>
                  </td>
                </tr>
              </template>
              <template v-else-if="jasa_products.type_jasa == 'antar_jemput_bandara'">
                <tr>
                  <td class="border text-center py-4 px-3">1</td>
                  <td class="border text-center py-4 px-3">
                    <div class="d-flex prod">
                      <img
                        :src="jasa_products.product.image[0]"
                        class="rounded"
                        width="100"
                        height="50"
                      />
                      <div class="my-auto">
                        <span class="fw-bold">{{ jasa_products.product.name }}</span>
                        <span>{{ jasa_products.product.kapasitas }} Orang</span>
                        <!-- <span>TKDN (%): 100</span> -->
                        <!-- <span>Berat: {{ item.product.berat / 1000 }} kg</span> -->
                      </div>
                    </div>
                  </td>
                  <td class="border text-center py-4 px-3">
                    <div class="d-flex gap-1 justify-content-center fw-bold">
                      <span>{{ jasa_products.product.bandara }}</span>
                      <span>-</span>
                      <span>{{ jasa_products.product.kota }}</span>
                    </div>
                    <div class="d-flex gap-2 justify-content-center">
                      <span class="fw-normal">{{
                        jasa_products.penjemputan.tanggal
                      }}</span>
                      <span class="fw-normal">-</span>
                      <span class="fw-normal">{{ jasa_products.penjemputan.waktu }}</span>
                    </div>
                  </td>
                  <td class="border text-center py-4 px-3">
                    <div>
                      {{ jasa_products.passenger.first_name }}
                      {{ jasa_products.passenger.last_name }}
                    </div>
                  </td>
                  <td class="border text-center py-4 px-3">
                    <div class="d-flex justify-content-between">
                      <div>Rp</div>
                      <div>{{ jasa_products.harga_satuan }}</div>
                    </div>
                  </td>
                </tr>
              </template>
              <template v-else-if="jasa_products.type_jasa == 'pesan_hotel'">
                <tr>
                  <td class="border text-center py-4 px-3">1</td>
                  <td class="fw-bold border text-center py-4 px-3">
                    <div class="d-flex prod">
                      <img
                        :src="jasa_products.image"
                        class="rounded"
                        width="100"
                        height="50"
                      />
                      <div class="my-auto">
                        <span class="fw-semibold">{{ jasa_products.hotel_name }}</span>
                        <span>{{ jasa_products.room_name }}</span>
                        <!-- <span>TKDN (%): 100</span> -->
                        <!-- <span>Berat: {{ item.product.berat / 1000 }} kg</span> -->
                      </div>
                    </div>
                  </td>
                  <td class="fw-bold border text-center py-4 px-3">
                    <!-- {{ jasa_products.night_count }} Malam -->
                    <span class="d-block fw-normal">{{ jasa_products.checkin }}</span>
                    <span class="d-block fw-normal">{{ jasa_products.checkout }}</span>
                  </td>
                  <td class="border py-4 px-3">
                    <div v-for="guests in jasa_products.guests" :key="guests">
                      {{ guests.title }} <br />{{ guests.name }}
                    </div>
                  </td>
                  <td class="border text-center py-4 px-3">
                    <div class="d-flex justify-content-between">
                      <div>Rp</div>
                      <div>
                        {{
                          parseInt(pesanan.total_harga_barang)
                            .toString()
                            .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                        }}
                      </div>
                    </div>
                  </td>
                </tr>
              </template>
              <template v-else>
                <tr>
                  <td class="border text-center py-4">1</td>
                  <td class="fw-bold border py-4">
                    <div class="d-flex prod">
                      <img
                        :src="
                          require(`@/assets/images/transportasi/${jasa_products.offers.legs[0].carriers[0].display_code}.jpg`)
                        "
                        class="rounded px-2"
                        width="80"
                        height="50"
                      />
                      <div class="my-auto ms-3">
                        <div class="text-dark fw-bold">
                          {{ `${jasa_products.offers.legs[0].carriers[0].name}` }}
                        </div>
                        <div
                          class="mt-1 d-flex justify-content-start align-items-center gap-3"
                        >
                          <div class="text-muted">
                            {{
                              `${jasa_products.destination.from.PlaceId} ${jasa_products.destination.from.CityName}`
                            }}
                          </div>

                          <svg
                            width="16"
                            height="16"
                            viewBox="0 0 16 16"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <path
                              d="M1.54016 6.02001L2.84682 7.57335C3.04682 7.80668 3.04682 8.19335 2.84682 8.42668L1.54016 9.98001C1.36016 10.34 1.54016 10.78 1.92682 10.9133L2.81349 11.2067C3.02682 11.28 3.34016 11.2067 3.50016 11.0467L5.02016 9.53335C5.12682 9.42001 5.34016 9.33335 5.49349 9.33335H7.39349C7.67349 9.33335 7.80682 9.54001 7.70016 9.80001L6.28682 13.0733C6.06682 13.5867 6.34016 14.0067 6.90016 14.0067H7.76016C8.20682 14.0067 8.72016 13.6733 8.89349 13.26L10.5002 9.53335C10.5468 9.42668 10.6868 9.33335 10.8068 9.33335H12.8068C13.4335 9.33335 14.1735 8.87335 14.4602 8.31335C14.5602 8.11335 14.5602 7.88001 14.4602 7.68001C14.1735 7.12001 13.4268 6.66001 12.8002 6.66001L10.8002 6.66001C10.6802 6.66001 10.5402 6.56668 10.4935 6.46001L8.88682 2.74001C8.72016 2.32668 8.20682 1.99335 7.76016 1.99335L6.90016 1.99335C6.34016 1.99335 6.06682 2.41335 6.28682 2.92668L7.70016 6.20001C7.81349 6.45335 7.67349 6.66668 7.39349 6.66668H5.49349C5.34016 6.66668 5.12682 6.58001 5.02016 6.47335L3.50016 4.96001C3.34016 4.80001 3.03349 4.72668 2.81349 4.80001L1.92682 5.09335C1.54016 5.21335 1.35349 5.65335 1.54016 6.02001Z"
                              stroke="#626B79"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                            />
                          </svg>

                          <div class="text-muted">
                            {{
                              `${jasa_products.destination.to.PlaceId} ${jasa_products.destination.to.CityName}`
                            }}
                          </div>
                        </div>

                        <span>{{ jasa_products.room_name }}</span>
                      </div>
                    </div>
                  </td>
                  <td class="fw-bold border text-center py-4">
                    <template v-if="jasa_products.type === 'ONEWAY'">
                      <strong class="d-block">{{
                        `${formatDateDay(jasa_products.offers.legs[0].departure)}`
                      }}</strong>
                      <div class="text-muted">
                        {{
                          `${formatTime(
                            jasa_products.offers.legs[0].departure
                          )} - ${formatTime(jasa_products.offers.legs[0].arrival)}`
                        }}
                      </div>
                    </template>
                    <div
                      v-else
                      class="d-flex justify-content-center align-items-center gap-3"
                    >
                      <span>{{
                        `${departReturnDateFormat(jasa_products.date.depart)}`
                      }}</span>
                      <svg
                        style="width: 1rem"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 24 24"
                      >
                        <path
                          d="M10.5 15.75h12.75a.75.75 0 0 0 0-1.5H10.5a.75.75 0 0 0 0 1.5zm9.22-3.22l3 3v-1.06l-3 3a.75.75 0 1 0 1.06 1.06l3-3a.75.75 0 0 0 0-1.06l-3-3a.75.75 0 1 0-1.06 1.06zM13.5 8.25H.75a.75.75 0 0 0 0 1.5H13.5a.75.75 0 0 0 0-1.5zm-9.22 3.22l-3-3v1.06l3-3a.75.75 0 0 0-1.06-1.06l-3 3a.75.75 0 0 0 0 1.06l3 3a.75.75 0 0 0 1.06-1.06z"
                        ></path>
                      </svg>
                      <span>{{
                        `${departReturnDateFormat(jasa_products.date.return)}`
                      }}</span>
                    </div>
                  </td>
                  <td class="border text-center py-4 px-3">
                    <div
                      class="mb-1"
                      v-for="(adults, adultsIndex) in jasa_products.passengers.adults"
                      :key="adultsIndex"
                    >
                      <strong>{{ adults.first_name }} {{ adults.last_name }}</strong>
                      <div class="text-muted">
                        {{ formatBirthDate(adults.birth_date) }}
                      </div>
                    </div>
                    <div
                      class="mb-1"
                      v-for="(children, childrenIndex) in jasa_products.passengers
                        .children"
                      :key="childrenIndex"
                    >
                      <strong>{{ children.first_name }} {{ children.last_name }}</strong>
                      <div class="text-muted">
                        {{ formatBirthDate(children.birth_date) }}
                      </div>
                    </div>
                  </td>
                  <td class="border text-center py-4 px-3">
                    <div class="d-flex justify-content-between">
                      <div>Rp</div>
                      <div>
                        {{
                          jasa_products.price_alt
                            .toString()
                            .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                        }}
                      </div>
                    </div>
                  </td>
                </tr>
              </template>
            </template>

            <tr
              v-if="
                jasa_products?.type_jasa !== 'pesan_tiket_pesawat' &&
                jasa_products?.type_jasa !== 'pesan_hotel'
              "
            >
              <td class="border text-start py-4 px-5 __bg-light" colspan="4">
                Total Harga Produk
              </td>
              <td class="border text-center py-4 px-3">
                <div class="d-flex justify-content-between">
                  <div>Rp</div>
                  <div>
                    {{
                      parseInt(pesanan.total_harga_barang)
                        .toString()
                        .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                    }}
                  </div>
                </div>
              </td>
            </tr>

            <tr v-if="!isJasaProduct">
              <td class="border text-start py-4 px-5 __bg-light" colspan="4">
                Biaya Pengiriman - ({{ pesanan.kurir }})
              </td>
              <td class="border text-center py-4 px-3">
                <div class="d-flex justify-content-between">
                  <div>Rp</div>
                  <div>
                    {{
                      pesanan.total_harga_kurir
                        ? parseInt(pesanan.total_harga_kurir)
                            .toString()
                            .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                        : 0
                    }}
                  </div>
                </div>
              </td>
            </tr>

            <tr
              v-if="
                jasa_products?.type_jasa !== 'pesan_tiket_pesawat' &&
                jasa_products?.type_jasa !== 'pesan_hotel'
              "
            >
              <td class="border text-start py-4 px-5 __bg-light" colspan="4">
                Sub Total
              </td>
              <td class="border text-center py-4 px-3">
                <div class="d-flex justify-content-between">
                  <div>Rp</div>
                  <div>
                    {{
                      pesanan.subtotal
                        ? parseInt(pesanan.subtotal)
                            .toString()
                            .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                        : 0
                    }}
                  </div>
                </div>
              </td>
            </tr>

            <tr>
              <td class="border text-start py-4 px-5 __bg-light" colspan="4">
                <div class="row align-items-end">
                  <div class="col-10">
                    <div>Jenis Pajak</div>
                    <input
                      type="text"
                      class="__form-control bg-white"
                      :value="pesanan.jenis_pajak"
                      disabled
                    />
                  </div>
                  <div class="col-2">
                    <input
                      type="text"
                      class="__form-control bg-white"
                      :value="pesanan.jenis_pajak_value + '%'"
                      disabled
                    />
                  </div>
                </div>
              </td>
              <td class="border text-center py-4 px-3">
                <div class="d-flex justify-content-between">
                  <div>Rp</div>
                  <div>
                    {{
                      pesanan.total_pajak
                        ? parseInt(pesanan.total_pajak)
                            .toString()
                            .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                        : 0
                    }}
                  </div>
                </div>
              </td>
            </tr>

            <tr>
              <td class="border text-start py-4 px-5 __bg-light" colspan="4">
                <div class="row align-items-end">
                  <div class="col-10">
                    <div>Pajak Penghasilan</div>
                    <input
                      class="__form-control bg-white"
                      :value="
                        pesanan.pajak_penghasilan === 'PPh'
                          ? 'PPh Pasal 22'
                          : pesanan.pajak_penghasilan
                      "
                      disabled
                    />
                  </div>
                  <div class="col-2">
                    <input
                      class="__form-control bg-white"
                      :value="pesanan.pajak_penghasilan_value + '%'"
                      disabled
                    />
                  </div>
                </div>
              </td>
              <td class="border text-center py-4 px-3 text-danger">
                <div class="d-flex justify-content-between">
                  <div>Rp</div>
                  <div>
                    {{
                      pesanan.total_pajak_penghasilan
                        ? parseInt(pesanan.total_pajak_penghasilan)
                            .toString()
                            .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                        : 0
                    }}
                  </div>
                </div>
              </td>
            </tr>

            <tr
              v-if="
                isJasaProduct &&
                (jasa_products.type_jasa == 'pesan_hotel' ||
                  jasa_products.type_jasa == 'pesan_tiket_pesawat')
              "
            >
              <td class="border text-start py-4 px-5 __bg-light" colspan="4">
                Travel Surcharge
              </td>
              <td class="border text-center py-4 px-3">
                <div class="d-flex justify-content-between">
                  <div>Rp</div>
                  <div>
                    {{
                      getTotalTravelSurcharge()
                        .toString()
                        .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                    }}
                  </div>
                </div>
              </td>
            </tr>

            <tr v-else>
              <td class="border text-start py-4 px-5 __bg-light" colspan="4">
                Biaya Layanan
              </td>
              <td class="border text-center py-4 px-3">
                <div class="d-flex justify-content-between">
                  <div>Rp</div>
                  <div>
                    {{
                      getTotalServiceFee()
                        .toString()
                        .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                    }}
                  </div>
                </div>
              </td>
            </tr>

            <tr class="__bg-primary fw-bold">
              <td class="border text-start py-4 px-5" colspan="4">Total Transaksi</td>
              <td class="border text-center py-4 px-3">
                <div class="d-flex justify-content-between">
                  <div>Rp</div>
                  <div>
                    {{
                      pesanan.total_transaksi
                        ? parseInt(getTotalTransaksi())
                            .toString()
                            .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                        : 0
                    }}
                  </div>
                </div>
              </td>
            </tr>

            <tr class="__bg-green fw-bold">
              <td class="border text-start py-4 px-5" colspan="4">Total Pembayaran</td>
              <td class="border text-center py-4 px-3">
                <div class="d-flex justify-content-between">
                  <div>Rp</div>
                  <div>
                    {{
                      pesanan.total_pembayaran
                        ? parseInt(getTotalPembayaran())
                            .toString()
                            .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                        : 0
                    }}
                  </div>
                </div>
              </td>
            </tr>

            <template
              v-if="
                this.$route.name == 'penjualPesananLangsung' ||
                this.$route.name == 'penjualRfq'
              "
            >
              <tr class="__bg-primary fw-bold">
                <td class="border text-start py-4 px-5" colspan="4">
                  Penghasilan Pemasok
                </td>
                <td class="border text-center py-4 px-3">
                  <div class="d-flex justify-content-between">
                    <div>Rp</div>
                    <div>
                      {{
                        pesanan.penghasilan_pemasok
                          ? parseInt(pesanan.penghasilan_pemasok)
                              .toString()
                              .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                          : 0
                      }}
                    </div>
                  </div>
                </td>
              </tr>
            </template>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!-- Additional Information -->
  <div class="container-fluid py-4" v-show="pesanan.type_payment">
    <div class="row px-5">
      <PaymentMethodSelectedTagihan :pesanan="pesanan" />
    </div>
  </div>

  <!-- Action Button -->
  <div class="container-fluid py-4">
    <div class="row justify-content-center px-5">
      <div class="col-12" v-if="pesanan.type_payment == null">
        <button
          class="py-3 btn __btn-primary w-100"
          data-bs-toggle="modal"
          data-bs-target="#pilihPembayaran"
        >
          Pilih Pembayaran
        </button>
      </div>

      <div
        class="col-12"
        v-if="pesanan.status === 'pesanan_selesai' && pesanan.type_payment == 'midtrans'"
      >
        <a
          :href="pesanan.payment_url"
          target="_blank"
          class="py-3 btn __btn-primary w-100"
          v-if="pesanan.type_payment == 'midtrans'"
        >
          Lakukan Pembayaran
        </a>
      </div>

      <div class="col-12" v-if="pesanan.type_payment != null">
        <button
          data-bs-toggle="modal"
          data-bs-target="#buktiPembayaran"
          class="py-3 btn __btn-primary w-100"
        >
          {{
            pesanan.bukti_pembayaran
              ? "Lihat Bukti Pembayaran"
              : "Upload Bukti Pembayaran"
          }}
        </button>
      </div>
    </div>
  </div>

  <!-- Modal Pilih Metode Pembayaran -->
  <Modal id="pilihPembayaran" title="Pilih Metode Pembayaran">
    <div class="row justify-content-center">
      <div class="col-12 mb-3">
        <label for="midtrans" class="d-block card">
          <div
            class="d-flex justify-content-between align-items-center card-body"
            style="height: 126px"
          >
            <div class="radio">
              <input
                type="radio"
                value="midtrans"
                name="paymentType"
                v-model="payment.type"
                id="midtrans"
              />
              <label for="midtrans" class="radio-label d-flex align-items-center gap-3">
                <div class="fw-normal">
                  <div class="fs-5">Midtrans</div>
                  <div class="text-muted">Kartu Kredit Pemerintah via Online</div>
                </div>
              </label>
            </div>
            <div class="my-auto">
              <img
                :src="require('@/assets/images/midtrans_logo.png')"
                class="img-fluid"
              />
            </div>
          </div>
        </label>

        <!-- <label for="qris" class="d-block card">
          <div class="d-flex justify-content-between align-items-center card-body" style="height: 126px;">
            <div class="radio">
              <input type="radio" value="qris" name="paymentType" v-model="payment.type" id="qris" />
              <label for="qris" class="radio-label d-flex align-items-center gap-3">
                <div class="fw-normal">
                  <div class="fs-5">QRIS</div>
                  <div class="text-muted">Kartu kredit pemerintah domestik via QRIS</div>
                </div>
              </label>
            </div>
            <div class="my-auto">
              <img :src="require('@/v2/assets/images/payment-logo/qris_logo.png')" class="img-fluid" />
            </div>
          </div>
        </label> -->

        <label for="bsg" class="d-block card">
          <div
            class="d-flex justify-content-between align-items-center card-body"
            style="height: 126px"
          >
            <div class="radio">
              <input
                type="radio"
                value="bsg"
                name="paymentType"
                v-model="payment.type"
                id="bsg"
              />
              <label for="bsg" class="radio-label d-flex align-items-center gap-3">
                <div class="fw-normal">
                  <div class="fs-5">Transfer Bank BSG</div>
                  <div class="text-muted">
                    Nomor Rekening: <span class="text-dark">0030 152000 8182</span> <br />
                    a.n. Rumah UMKM Indonesia
                  </div>
                </div>
              </label>
            </div>
            <div class="my-auto">
              <img
                :src="require('@/v2/assets/images/payment-logo/bsg_logo.png')"
                class="img-fluid"
              />
            </div>
          </div>
        </label>

        <label for="sulselbar" class="d-block card">
          <div
            class="d-flex justify-content-between align-items-center card-body"
            style="height: 126px"
          >
            <div class="radio">
              <input
                type="radio"
                value="sulselbar"
                name="paymentType"
                v-model="pesanan.type_payment"
                id="sulselbar"
              />
              <label for="sulselbar" class="radio-label d-flex align-items-center gap-3">
                <div class="fw-normal">
                  <div class="fs-5">Transfer Bank Sulselbar</div>
                  <div class="text-muted">
                    Nomor Rekening: <span class="text-dark">092 003 000 000 895 1</span>
                    <br />
                    a.n. Rumah UMKM Indonesia
                  </div>
                </div>
              </label>
            </div>
            <div class="my-auto">
              <img
                :src="require('@/v2/assets/images/payment-logo/sulselbar_logo.jpeg')"
                class="img-fluid"
              />
            </div>
          </div>
        </label>

        <label for="bri" class="d-block card">
          <div
            class="d-flex justify-content-between align-items-center card-body"
            style="height: 126px"
          >
            <div class="radio">
              <input
                type="radio"
                value="bri"
                name="paymentType"
                v-model="payment.type"
                id="bri"
              />
              <label for="bri" class="radio-label d-flex align-items-center gap-3">
                <div class="fw-normal">
                  <div class="fs-5">Transfer Bank BRI</div>
                  <div class="text-muted">
                    Nomor Rekening: <span class="text-dark">0027 0100 3430 301</span>
                    <br />
                    a.n. Rumah UMKM Indonesia
                  </div>
                </div>
              </label>
            </div>
            <div class="my-auto">
              <img
                :src="require('@/v2/assets/images/payment-logo/bri_logo.png')"
                class="img-fluid"
              />
            </div>
          </div>
        </label>

        <label for="raya" class="d-block card">
          <div
            class="d-flex justify-content-between align-items-center card-body"
            style="height: 126px"
          >
            <div class="radio">
              <input
                type="radio"
                value="raya"
                name="paymentType"
                v-model="pesanan.type_payment"
                id="raya"
              />
              <label for="raya" class="radio-label d-flex align-items-center gap-3">
                <div class="fw-normal">
                  <div class="fs-5">
                    Transfer Bank Rakyat Indonesia Agroniaga / Bank Raya
                  </div>
                  <div class="text-muted">
                    Nomor Rekening: <span class="text-dark">3210 01 000179 408</span>
                    <br />
                    a.n. PT Rumah UMKM Indonesia
                  </div>
                </div>
              </label>
            </div>
            <div class="my-auto">
              <img
                width="100"
                :src="require('@/v2/assets/images/payment-logo/bank_raya_logo.png')"
              />
            </div>
          </div>
        </label>

        <label for="mesin_edc" class="d-block card">
          <div
            class="d-flex justify-content-between align-items-center card-body"
            style="height: 126px"
          >
            <div class="radio">
              <input
                type="radio"
                value="mesin_edc"
                name="paymentType"
                v-model="payment.type"
                id="mesin_edc"
              />
              <label for="mesin_edc" class="radio-label d-flex align-items-center gap-3">
                <div class="fw-normal">
                  <div class="fs-5">Mesin EDC</div>
                  <div class="text-muted">
                    Menggunakan kartu kredit pemerintah <br />
                    Sales kami akan menemui anda
                  </div>
                </div>
              </label>
            </div>
            <div class="my-auto">
              <img
                :src="require('@/v2/assets/images/payment-logo/edc_logo.png')"
                class="img-fluid"
              />
            </div>
          </div>
        </label>
      </div>
    </div>

    <template v-slot:footer>
      <button
        class="py-3 btn __btn-primary w-100 mt-4"
        @click.prevent="generateLink('tolak')"
        :disable="loading"
      >
        <span
          class="spinner-border spinner-border-sm"
          role="status"
          aria-hidden="true"
          v-if="loading"
        ></span>
        Lakukan Pembayaran
      </button>
    </template>
  </Modal>

  <!-- Modal Upload/Lihat Bukti Pembayaran -->
  <Modal
    id="buktiPembayaran"
    :title="`${
      pesanan.bukti_pembayaran ? `Lihat Bukti Pembayaran` : `Upload Bukti Pembayaran`
    }`"
  >
    <div class="row justify-content-center">
      <div class="col-lg-12" v-if="pesanan.bukti_pembayaran == null">
        <div class="mt-4">
          <div class="text-muted">Upload Bukti Pembayaran</div>
          <input
            accept=".pdf"
            type="file"
            class="__form-control form-control text-dark"
            @change="buktiPembayaran($event)"
          />
          <small class="text-muted">(Format .PDF)</small>
        </div>
        <div class="mt-3" v-if="fileBuktiPembayaran">
          <iframe height="500px" width="100%" :src="buktiPembayaranImage"></iframe>
        </div>
      </div>
      <div class="col" v-else>
        <iframe height="500px" width="100%" :src="pesanan.bukti_pembayaran"></iframe>
      </div>
    </div>

    <template v-slot:footer>
      <button
        v-if="pesanan.bukti_pembayaran == null"
        class="py-3 btn __btn-primary w-100 mt-4"
        @click.prevent="postBuktiPembayaran"
      >
        Upload
      </button>
    </template>
  </Modal>

  <!-- Reporting Area -->
  <ReportTagihan
    ref="reportTagihan"
    :title="`Tagihan-${pesanan.no_pesanan}`"
    :isJasaProduct="isJasaProduct"
    :pesanan="pesanan"
    :penjual="penjual"
    :pembeli="pembeli"
    :alamat_penjual="alamat_penjual"
    :alamat="alamat"
    :products="products"
    :jasa_products="jasa_products"
  />

  <ReportSuratJalan
    ref="reportSuratJalan"
    :title="`Surat Jalan Pesanan ${pesanan.no_pesanan}`"
    :surat_jalan="pesanan.surat_jalan"
  />
</template>

<script>
import axios from "axios";
import Vue3Html2pdf from "vue3-html2pdf";
import { getDetailPesanan, getKomplainPesanan } from "@/v2/store/pesanan.js";

import dayjs from "dayjs";
import id from "dayjs/locale/id";

import Navbar from "@/v2/components/Navbar.vue";
import Modal from "@/v2/components/Modal.vue";
import ReportTagihan from "@/components/print/ReportTagihan.vue";
import ReportSuratJalan from "@/components/print/ReportSuratJalan.vue";

import PaymentMethodSelectedTagihan from "@/v2/components/PaymentMethodSelectedTagihan.vue";

export default {
  components: {
    Navbar,
    Vue3Html2pdf,
    ReportTagihan,
    ReportSuratJalan,
    Modal,
    PaymentMethodSelectedTagihan,
  },

  setup() {
    const formatBirthDate = (date) => {
      return dayjs(date).format("DD MMMM YYYY");
    };

    return {
      formatBirthDate,
    };
  },

  data() {
    return {
      loader: null,
      isJasaProduct: false,
      token: localStorage.getItem("token"),
      user_id: localStorage.getItem("user_id"),
      pesanan: [],
      penjual: [],
      pembeli: [],
      alamat: [],
      alamat_penjual: [],
      jasa_products: [],
      products: [],
      komplains: [],
      hari: 0,
      komplain: {
        permintaan: "",
        alasan: "",
        foto: "",
      },
      ulasan: {
        rating: "",
        ulasan: "",
      },
      foto_komplain: null,
      ulasans: [],
      payment: {
        type: "",
      },
      loading: false,
      fileBuktiPembayaran: null,
      buktiPembayaranImage: null,
    };
  },
  methods: {
    postBuktiPembayaran() {
      this.loader = this.$loading.show();
      const formData = new FormData();
      formData.append("file", this.fileBuktiPembayaran);
      axios
        .post("/api/v1/pesanan/bukti-pembayaran/" + this.$route.params.id, formData, {
          headers: {
            Authorization: "Bearer " + this.token,
          },
        })
        .then((resp) => {
          const imgSuccess = require("@/v2/assets/images/success/ecommerce-checkout-laptop-rafiki.png");
          this.$swal({
            confirmButtonText: "Selesai",
            customClass: {
              actions: "w-100",
              confirmButton: "btn __btn-primary w-100 mx-5 py-3 mt-3 mb-3",
            },
            html: `
                <img src="${imgSuccess}" />
                <div class="text-dark fw-bold fs-4">Upload Bukti Pembayaran Berhasil</div>
                <div class="text-muted mt-3">Terima kasih, Bukti pembayaran anda sudah berhasil terkirim.</div>
            `,
          }).then(() => {
            location.href = "/dashboard/pembeli/transaksi/tagihan";
          });
        })
        .catch((err) => {
          console.log(err);
          this.$swal({
            icon: "error",
            title: err.response.message,
          });
        })
        .then(() => this.loader.hide());
    },
    buktiPembayaran(e) {
      this.fileBuktiPembayaran = e.target.files[0];
      this.buktiPembayaranImage = URL.createObjectURL(e.target.files[0]);
    },
    generateLink() {
      this.loading = true;
      const obj = JSON.stringify({
        type_payment: this.payment.type,
      });
      axios
        .post("/api/v1/tagihan/create/" + this.$route.params.id, obj, {
          headers: {
            Authorization: "Bearer " + this.token,
            "Content-Type": "application/json",
          },
        })
        .then((resp) => {
          this.loading = false;

          location.reload();
        })
        .catch((err) => {
          this.loading = false;
          console.log(err);
        });
    },
    buatPesanan() {
      const obj = JSON.stringify({
        untuk_keperluan: this.pesanan.untuk_keperluan,
        metode_pembayaran: this.pesanan.metode_pembayaran,
        hari: this.pesanan.hari,
        catatan: this.pesanan.catatan,
      });
      axios
        .post("/api/v1/pesanan/buat-pesanan/" + this.$route.params.id, obj, {
          headers: {
            Authorization: "Bearer " + this.token,
            "Content-Type": "application/json",
          },
        })
        .then((resp) => {
          this.$swal({
            icon: "success",
            title: resp.data.message,
          });
          location.href = "/dashboard/transaksi/pesanan";
        })
        .catch((err) => {
          this.$swal({
            icon: "error",
            title: err.response.data.message,
          });
        });
    },
    uploadFoto(event) {
      this.foto_komplain = event.target.files[0];
    },
    async komplainSubmit() {
      if (this.foto_komplain) {
        let formData = new FormData();
        formData.append("file", this.foto_komplain);
        var foto_komplain = await axios.post("/api/upload", formData, {
          headers: {
            "Content-Type": "multipart/form-data",
          },
        });
      }
      const obj = JSON.stringify({
        permintaan: this.komplain.permintaan,
        alasan: this.komplain.alasan,
        foto: this.foto_komplain ? foto_komplain.data.file_url : "",
      });
      axios
        .post("/api/v1/pesanan/komplain/" + this.$route.params.id, obj, {
          headers: {
            Authorization: "Bearer " + this.token,
            "Content-Type": "application/json",
          },
        })
        .then((resp) => {
          this.$swal({
            icon: "success",
            title: resp.data.message,
          });
          location.href = "/dashboard/transaksi/pesanan";
        })
        .catch((err) => {
          this.$swal({
            icon: "error",
            title: err.response.data.message,
          });
        });
    },
    tolakTerima(type) {
      const obj = JSON.stringify({
        status: type,
      });
      axios
        .post(
          "/api/v1/pesanan/rfq/tolak-terima/" + this.$route.params.id + "/pembeli",
          obj,
          {
            headers: {
              Authorization: "Bearer " + this.token,
              "Content-Type": "application/json",
            },
          }
        )
        .then((resp) => {
          this.$swal({
            icon: "success",
            title: resp.data.message,
          });
          location.href = "/dashboard/transaksi/pesanan";
        })
        .catch((err) => {
          this.$swal({
            icon: "error",
            title: err.response.data.message,
          });
        });
    },
    // async ulasanSubmit() {
    //     const obj = JSON.stringify({
    //     });
    //     axios.post("/api/v1/pesanan/ulasan/")
    // },
    generateReportTagihan() {
      this.$refs.reportTagihan.generateReport();
    },

    generateReportSuratJalan() {
      this.$refs.reportSuratJalan.generateReport();
    },

    formatDateDay(dateString) {
      const date = dayjs(dateString).locale("id");
      return date.format("dddd, DD MMMM YYYY");
    },

    formatTime(dateString) {
      const date = dayjs(dateString).locale("id");
      return date.format("HH:mm");
    },

    getNomimalPencairan() {
      return parseInt(
        this.pesanan.total_pembayaran -
          (this.pesanan.service_fee * 2 + this.pesanan.service_fee)
      );
    },

    getServiceFee() {
      if (this.isJasaProduct) {
        if (this.pesanan.metode_pembayaran === "Pembayaran Bertempo") {
          return parseInt(this.pesanan.subtotal * (15 / 100));
        } else if (this.pesanan.metode_pembayaran === "Pembayaran Langsung") {
          return parseInt(20000);
        }

        return parseInt(this.pesanan.subtotal * (5 / 100));
      }

      return 0;
    },

    isHotelOrTiketPesawat() {
      if (
        this.isJasaProduct &&
        (this.jasa_products.type_jasa == "pesan_hotel" ||
          this.jasa_products.type_jasa == "pesan_tiket_pesawat")
      ) {
        return true;
      }

      return false;
    },

    getTotalTransaksi() {
      if (this.isHotelOrTiketPesawat()) {
        return this.pesanan.total_transaksi;
        return this.pesanan.subtotal + this.getTotalTravelSurcharge();
      }

      return this.pesanan.total_transaksi;
    },

    getTotalPembayaran() {
      if (this.isHotelOrTiketPesawat()) {
        return this.pesanan.total_pembayaran;
      }

      return this.pesanan.total_pembayaran;
    },

    getTotalServiceFee() {
      return parseInt(this.pesanan.service_fee);
    },

    getTotalTravelSurcharge() {
      if (this.isHotelOrTiketPesawat()) {
        if (this.pesanan.metode_pembayaran === "Pembayaran Langsung") {
          return 0;
          // return parseInt(this.pesanan.subtotal * (2 / 100));
        }

        // if (this.pesanan?.penjual?.id_user == 14) {
        //   return parseInt(this.pesanan.subtotal * (7 / 100));
        // }

        return parseInt(this.pesanan.subtotal * (10 / 100));
      }

      return 0;
    },

    getTotalPajak() {
      return parseInt(this.pesanan.total_pajak);
    },

    getTotalPajakPenghasilan() {
      return parseInt(this.pesanan.total_pajak_penghasilan);
    },
  },
  async mounted() {
    this.ulasans.push({ ...this.ulasan });
    const id = this.$route.params.id;

    /** Mengambil data detail pesanan */
    const { pesanan, pesananError } = await getDetailPesanan(id);

    this.pesanan = pesanan.value;
    this.penjual = pesanan.value.penjual;
    this.pembeli = pesanan.value.pembeli;
    this.alamat = pesanan.value.alamat;
    this.alamat_penjual = pesanan.value.alamat_penjual;
    this.products = pesanan.value.products;

    if (pesanan.value.jasa != null) {
      this.isJasaProduct = true;
      this.jasa_products = pesanan.value.jasa;
    }

    /** Mengambil data komplain pesanan */
    const { pesananKomplain, pesananKomplainError } = await getKomplainPesanan(id);

    this.komplain = pesananKomplain.value;
  },
};
</script>

<style scope>
label {
  color: black;
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 5px;
}

.text-14 {
  font-size: 14px;
}

.h-150px {
  height: 150px;
}

.title {
  font-weight: 600;
  font-size: 18px;
}

.__table-pesanan {
  border: 1px solid #b0b0b0;
}

.__table-pesanan thead {
  background-color: #82c4f3;
  text-align: center;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
}

.__table-pesanan thead th {
  padding: 15px 10px;
  font-weight: 500;
}

.__table-pesanan tbody td {
  text-align: center;
  font-weight: 500;
  vertical-align: middle;
}

.prod span {
  display: block;
  margin-left: 10px;
  font-size: 14px;
  text-align: left;
  font-weight: 400;
}

#full-stars-example .rating-group {
  display: inline-flex;
}

#full-stars-example .rating__icon {
  pointer-events: none;
}

#full-stars-example .rating__input {
  position: absolute !important;
  left: -9999px !important;
}

#full-stars-example .rating__label {
  cursor: pointer;
  padding: 0 0.1em;
  font-size: 2rem;
}

#full-stars-example .rating__icon--star {
  color: orange;
}

#full-stars-example .rating__icon--none {
  color: #eee;
}

#full-stars-example .rating__input--none:checked + .rating__label .rating__icon--none {
  color: red;
}

#full-stars-example .rating__input:checked ~ .rating__label .rating__icon--star {
  color: #ddd;
}

#full-stars-example .rating-group:hover .rating__label .rating__icon--star {
  color: orange;
}

#full-stars-example .rating__input:hover ~ .rating__label .rating__icon--star {
  color: #ddd;
}

#full-stars-example
  .rating-group:hover
  .rating__input--none:not(:hover)
  + .rating__label
  .rating__icon--none {
  color: #eee;
}

#full-stars-example .rating__input--none:hover + .rating__label .rating__icon--none {
  color: red;
}

#half-stars-example {
  /* use display:inline-flex to prevent whitespace issues. alternatively, you can put all the children of .rating-group on a single line */
  /* make hover effect work properly in IE */
  /* hide radio inputs */
  /* set icon padding and size */
  /* add padding and positioning to half star labels */
  /* set default star color */
  /* set color of none icon when unchecked */
  /* if none icon is checked, make it red */
  /* if any input is checked, make its following siblings grey */
  /* make all stars orange on rating group hover */
  /* make hovered input's following siblings grey on hover */
  /* make none icon grey on rating group hover */
  /* make none icon red on hover */
}

#half-stars-example .rating-group {
  display: inline-flex;
}

#half-stars-example .rating__icon {
  pointer-events: none;
}

#half-stars-example .rating__input {
  position: absolute !important;
  left: -9999px !important;
}

#half-stars-example .rating__label {
  cursor: pointer;
  /* if you change the left/right padding, update the margin-right property of .rating__label--half as well. */
  padding: 0 0.1em;
  font-size: 2rem;
}

#half-stars-example .rating__label--half {
  padding-right: 0;
  margin-right: -0.6em;
  z-index: 2;
}

#half-stars-example .rating__icon--star {
  color: orange;
}

#half-stars-example .rating__icon--none {
  color: #eee;
}

#half-stars-example .rating__input--none:checked + .rating__label .rating__icon--none {
  color: red;
}

#half-stars-example .rating__input:checked ~ .rating__label .rating__icon--star {
  color: #ddd;
}

#half-stars-example .rating-group:hover .rating__label .rating__icon--star,
#half-stars-example .rating-group:hover .rating__label--half .rating__icon--star {
  color: orange;
}

#half-stars-example .rating__input:hover ~ .rating__label .rating__icon--star,
#half-stars-example .rating__input:hover ~ .rating__label--half .rating__icon--star {
  color: #ddd;
}

#half-stars-example
  .rating-group:hover
  .rating__input--none:not(:hover)
  + .rating__label
  .rating__icon--none {
  color: #eee;
}

#half-stars-example .rating__input--none:hover + .rating__label .rating__icon--none {
  color: red;
}

#full-stars-example-two .rating-group {
  display: inline-flex;
}

#full-stars-example-two .rating__icon {
  pointer-events: none;
}

#full-stars-example-two .rating__input {
  position: absolute !important;
  left: -9999px !important;
}

#full-stars-example-two .rating__input--none {
  display: none;
}

#full-stars-example-two .rating__label {
  cursor: pointer;
  padding: 0 0.1em;
  font-size: 2rem;
}

#full-stars-example-two .rating__icon--star {
  color: orange;
}

#full-stars-example-two .rating__input:checked ~ .rating__label .rating__icon--star {
  color: #ddd;
}

#full-stars-example-two .rating-group:hover .rating__label .rating__icon--star {
  color: orange;
}

#full-stars-example-two .rating__input:hover ~ .rating__label .rating__icon--star {
  color: #ddd;
}
</style>
