<template>
    <Navbar />
    <div class="container my-5 py-5">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <h4 class="text-center mb-4">Cara Berjualan</h4>

                <b-accordion>
                    <b-accordion-item title="1.	Seperti apa persyaratan penjual pada situs beliumkm.co.id ?" visible>
                        Setiap calon penjual wajib melakukan registrasi pendaftaran serta menyetujui Syarat dan
                        Ketentuan serta Kebijakan
                        Privasi yang tercantum pada situs beliumkm.co.id
                    </b-accordion-item>
                    <b-accordion-item title="2.	Setelah melakukan registrasi apakah saya dapat langsung berjualan ?">
                        Admin beliumkm.co.id akan melakukan verifikasi terhadap data registrasi yang telah kamu kirimkan.
                        Selanjutnya kami akan
                        mengirimkan pemberitahuan mengenai aktivasi akun anda melalui email yang telah didaftarkan pada
                        saat registrasi.
                    </b-accordion-item>
                    <b-accordion-item title="3.	Bagaimana jika pendaftaran saya ditolak ?">
                        Kamu dapat melakukan registrasi kembali, dengan mengisi secara lengkap dan benar isian yang
                        terdapat pada halaman
                        registrasi.
                    </b-accordion-item>
                    <b-accordion-item title="4.	Produk apa saja yang dapat dijual pada situs beliumkm.co.id ?">
                        Sebagai penjual kamu wajib menjual produk dalam negeri sesuai dengan kategori barang dan jasa
                        yang tercantum pada situs
                        kami.
                    </b-accordion-item>
                    <b-accordion-item
                        title="5. Keunggulan apa saja yang ditawarkan kepada penjual pada situs beliumkm.co.id ?">
                        <ul>
                            <li>Akses Pesanan belanja produk barang dan jasa yang berasal dari instansi pemerintah</li>
                            <li>Pembayaran ke pihak penjual setelah pembeli mengkonfirmasi terima pesanan</li>
                            <li>Pungutan, penyetoran, dan pelaporan pajak ditangani oleh marketplace beliumkm.co.id</li>
                        </ul>
                    </b-accordion-item>
                </b-accordion>
            </div>
        </div>
    </div>
</template>

<script>
import Navbar from '@/v2/components/Navbar.vue';

export default {
    components: {
        Navbar,
    }
}
</script>
