<template>
    <Navbar />

    <div class="container my-5 py-5">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <h4 class="text-center mb-4">Cara Berbelanja</h4>

                <b-accordion>
                    <b-accordion-item title="1.	Seperti apa persyaratan pembeli pada situs beliumkm.co.id ?" visible>
                        Pembeli pada situs beliumkm.co.id memiliki akun SPSE aktif dan berstatus pejabat yang berwenang
                        dalam hal melakukan
                        transaksi belanja barang dan jasa pemerintah.
                    </b-accordion-item>
                    <b-accordion-item title="2.	Bagaimana jika saya belum memiliki akun SPSE ?">
                        Anda dapat menghubungi Unit Layanan Pengadaan Barang dan Jasa setempat terkait informasi
                        pembuatan akun maupun pejabat
                        pengadaan pada instansi anda.
                    </b-accordion-item>
                    <b-accordion-item title="3.	Mengapa pembeli wajib melalukan login melalui SPSE ?">
                        Sesuai dengan mekanisme E-Purchasing melalui Toko Daring yang ditetapkan oleh LKPP RI, setiap
                        pembeli dari instansi
                        pemerintah diwajibkan melakukan login melalui SPSE guna pelaporan dan pencatatan transaksi
                        belanja.
                    </b-accordion-item>
                    <b-accordion-item title="4.	Bagaimana cara berbelanja pada situs beliumkm.co.id ?">
                        Pembeli mengakses situs SPSE sebagai Non Penyedia, kemudian memilih aplikasi beliumkm yang
                        terdapat pada Toko Daring.
                        Selanjutnya pembeli dapat melakukan transaksi belanja pada beliumkm.co.id
                    </b-accordion-item>
                    <b-accordion-item
                        title="5. Keunggulan apa saja yang ditawarkan kepada pembeli pada situs beliumkm.co.id ?">
                        <ul>
                            <li>Pencatatan dan pelaporan transaksi belanja secara real time kepada pihak LKPP RI</li>
                            <li>Belanja E-Purchasing produk dalam negeri yang berasal dari pelaku UMKM</li>
                            <li>Fasilitas Pembayaran bertempo hingga 14 hari kalender terhitung sejak pesanan diterima
                            </li>
                            <li>Fasilitas Pembayaran menggunakan kartu kredit pemerintah</li>
                            <li>Pungutan, penyetoran, dan pelaporan pajak ditangani oleh marketplace beliumkm.co.id (sesuai
                                PMK-58/PMK.03/2022)</li>
                            <li>Pilihan pembayaran Pajak Daerah</li>
                            <li>Bebas biaya pengiriman untuk belanja produk jasa</li>
                        </ul>
                    </b-accordion-item>
                </b-accordion>
            </div>
        </div>
    </div>
</template>

<script>
import Navbar from '@/v2/components/Navbar.vue';

export default {
    components: {
        Navbar,
    }
}
</script>
