<template>
    <Navbar />
    <div class="container my-4">
        <h6 class="text-center">Hubungi Kami</h6>
        <div class="row">
            <div class="col-lg-5 mb-3">
                <div class="card" style="background-color:var(--primary-color);color:white;">
                    <div class="card-body">
                        <h6>PT Rumah UMKM Indonesia</h6>
                        <div class="mt-4">
                            <h6>081-23456-6706</h6>
                            <h6>Jl. Sultan Botutihe Nomor 99 Kota Gorontalo</h6>
                            <h6>cs@beliumkm.co.id</h6>
                            <h6>Jam Operasional: Waktu Hari Kerja</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="auth-section my-2">
                    <div class="mb-3">
                        <label for="">Nama Lengkap</label>
                        <input v-model="contact.name" type="text" class="__form-control form-control-sm py-2"
                            placeholder="Ketik nama lengkap Anda">
                    </div>
                    <div class="mb-3">
                        <label for="">Email</label>
                        <input v-model="contact.email" type="email" class="__form-control form-control-sm py-2"
                            placeholder="Ketik email">
                    </div>

                    <div class="mb-3">
                        <label for="">Pesan</label>
                        <textarea v-model="contact.message" name="message" id="message" cols="30" rows="5"
                            class="__form-control form-control-sm py-2" placeholder="Ketik pesan"></textarea>
                    </div>

                    <button @click.prevent="send" type="button" class="btn text-center w-100 mt-2 py-3"
                        style="background-color:var(--primary-color);color:white;">Kirim</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Navbar from '@/v2/components/Navbar.vue';
import axios from "axios";

export default {
    data() {
        return {
            contact: {
                name: '',
                email: '',
                message: ''
            },
        }
    },
    components: {
        Navbar,
    },
    methods: {
        send() {
            axios.post('/api/v1/contact/send', {
                name: this.contact.name,
                email: this.contact.email,
                message: this.contact.message
            }).then(res => {
                this.contact = {
                    name: '',
                    email: '',
                    message: ''
                }

                this.$swal({
                    icon: 'success',
                    title: "Pesan Berhasil Dikirim"
                })
            }).catch(err => {
                this.$swal({
                    icon: 'error',
                    title: "Gagal Mengirimkan Pesan"
                })
            })
        },
    }
}
</script>
