<template>
    <div class="nav-1" style="background-color:#4C2A86;color:white;">
        <div class="container">
            <div class="d-flex justify-content-start" v-if="loggedIn || loggedInLKPP">
                <div>
                    <p class="text-white text-sm text-start welcome-text">
                        Selamat datang di BeliUMKM
                    </p>
                </div>
            </div>
            <div class="d-flex justify-content-end">
                <div>
                    <!-- <router-link v-if="!loggedIn" class="text-white" to="/register/pembeli"
                        style="text-decoration:none;">
                        <span>Daftar Pembeli <i class="fa-solid fa-building-user ms-2 me-4"></i></span>
                    </router-link> -->
                    <!-- <router-link v-if="!loggedIn" class="text-white" to="/register/penjual"
                        style="text-decoration:none;">
                        <span>Daftar Pemasok <i class="fa-solid fa-shop ms-2 me-4"></i></span>
                    </router-link> -->
                </div>

            </div>
        </div>
    </div>

    <header class="navbar-default d-lg-flex d-none py-2" style="background-color:#F6F6F6">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-lg-2">
                    <router-link to="/">
                        <img :src="require('@/assets/images/icon/logo.svg')" class="img-fluid">
                    </router-link>
                </div>
                <div class="col-6 my-auto">
                    <form @submit.prevent="searchFilter()">
                        <div class="input-group">
                            <input type="text" class="form-control" v-model="search" placeholder="Cari Produk" aria-label="Cari Produk" aria-describedby="button-addon2" style="border: 1px solid var(--primary-color)" id="search">
                            <button class="btn btn-outline-secondary" id="button-addon2" style="background-color:var(--primary-color);color:white;">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </button>
                        </div>
                    </form>
                </div>
                <div class="col-3 my-auto" v-if="!loggedIn && !loggedInLKPP">
                    <div class="d-flex">
                        <router-link class="btn __btn-outline-primary py-2 px-4 rounded-pill me-3"
                            to="/register/penjual">
                            Daftar
                        </router-link>
                        <router-link class="btn __btn-primary py-2 px-4 rounded-pill" to="/login">
                            Masuk
                        </router-link>
                    </div>
                </div>
                <div class="col-2 menu-icon my-auto d-flex justify-content-between" v-else>
                    <router-link to="/cart" class="btn btn-link" v-if="user.role === 'Pembeli' || user.role === 'PP'">
                        <i class="fa-solid fa-cart-shopping"></i>
                    </router-link>
                    <router-link to="/dashboard/produk" class="btn btn-link" v-else-if="user.role === 'Pemasok' || user.role === 'Penjual'">
                        <i class="fa-solid fa-cart-shopping"></i>
                        <!-- <i class="fa-solid fa-money-bill"></i> -->
                    </router-link>
                    <router-link to="/dashboard/chat-room" class="btn btn-link">
                        <i class="fa-solid fa-envelope"></i>
                    </router-link>
                    <div class="dropdown">
                        <button class="btn btn-link" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <i class="fa-solid fa-user"></i>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li>
                                <router-link class="dropdown-item" to="/dashboard">Dashboard</router-link>
                            </li>
                            <!-- <li><a class="dropdown-item" href="#">Wishlist</a></li> -->
                            <li><a class="dropdown-item" href="#" @click.prevent="logout">Keluar</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <nav class="navbar navbar-expand-lg navbar-light bg-light d-lg-none d-block">
        <div class="container">
            <router-link class="navbar-brand" to="/">
                <img :src="require('@/assets/images/icon/logo.svg')" class="img-fluid">
            </router-link>

            <div class="row d-lg-flex d-none">
                <div class="col-4">
                    <div class="d-flex">
                        <div class="dropdown">
                            <button class="btn btn-link" type="button" id="dropdownMenuButton1"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1" style="font-size:14px;">
                                <li>
                                    <span class="dropdown-item-text" style="color:var(--primary-color);font-weight:500;font-size:14px;">Barang</span>
                                </li>
                                <li><a class="dropdown-item" href="#">Alat Kesehatan</a></li>
                                <li><a class="dropdown-item" href="#">Alat Tulis Kantor</a></li>
                                <li><a class="dropdown-item" href="#">Elektronik</a></li>
                                <li><a class="dropdown-item" href="#">Fashion</a></li>
                                <li><a class="dropdown-item" href="#">Furniture</a></li>
                                <li><a class="dropdown-item" href="#">Makanan dan Minuman</a></li>
                                <li><a class="dropdown-item" href="#">Perkakas</a></li>
                                <li><a class="dropdown-item" href="#">Perkebunan</a></li>
                                <li><a class="dropdown-item" href="#">Souvenir</a></li>

                                <li>
                                    <span class="dropdown-item-text" style="color:var(--primary-color);font-weight:500;font-size:14px;">Jasa</span>
                                </li>
                                <li><a class="dropdown-item" href="#">Akomodasi</a></li>
                                <li><a class="dropdown-item" href="#">Jasa Kreatif Kebutuhan Kantor</a></li>
                                <li><a class="dropdown-item" href="#">Jasa Transportasi</a></li>
                                <li><a class="dropdown-item" href="#">Kurir</a></li>
                                <li><a class="dropdown-item" href="#">Sewa Peralatan dan Ruangan</a></li>
                            </ul>
                        </div>
                        <h6 class="my-auto" style="color:var(--primary-color)">Kategori</h6>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2">
                        <button class="btn btn-outline-secondary" type="button" id="button-addon2">Button</button>
                    </div>
                </div>
            </div>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="row d-none">
                    <div class="col-6">
                        <ul class="navbar-nav w-100 me-auto mb-2 mb-lg-0 d-lg-none d-flex">
                            <li>
                                <span class="dropdown-item-text fs-5" style="color:var(--primary-color);font-weight:500;font-size:14px;">Barang</span>
                            </li>
                            <li><a class="dropdown-item __text-primary" href="#">Alat Kesehatan</a></li>
                            <li><a class="dropdown-item __text-primary" href="#">Alat Tulis Kantor</a></li>
                            <li><a class="dropdown-item __text-primary" href="#">Elektronik</a></li>
                            <li><a class="dropdown-item __text-primary" href="#">Fashion</a></li>
                            <li><a class="dropdown-item __text-primary" href="#">Furniture</a></li>
                            <li><a class="dropdown-item __text-primary" href="#">Makanan dan Minuman</a></li>
                            <li><a class="dropdown-item __text-primary" href="#">Perkakas</a></li>
                            <li><a class="dropdown-item __text-primary" href="#">Perkebunan</a></li>
                            <li><a class="dropdown-item __text-primary" href="#">Souvenir</a></li>
                        </ul>
                    </div>

                    <div class="col-6">
                        <ul class="navbar-nav w-100 me-auto mb-2 mb-lg-0 d-lg-none d-flex">
                            <li>
                                <span class="dropdown-item-text fs-5" style="color:var(--primary-color);font-weight:500;font-size:14px;">Jasa</span>
                            </li>
                            <li><a class="dropdown-item __text-primary" href="#">Akomodasi</a></li>
                            <li><a class="dropdown-item __text-primary" href="#">Jasa Kreatif Kebutuhan Kantor</a></li>
                            <li><a class="dropdown-item __text-primary" href="#">Jasa Transportasi</a></li>
                            <li><a class="dropdown-item __text-primary" href="#">Kurir</a></li>
                            <li><a class="dropdown-item __text-primary" href="#">Sewa Peralatan dan Ruangan</a></li>
                        </ul>
                    </div>
                </div>

                <ul class="navbar-nav w-100 me-auto mb-2 mb-lg-0 d-lg-none d-flex">
                    <div class="row" v-if="!loggedIn && !loggedInLKPP">
                        <div class="col-6">
                            <router-link class="btn w-100 __btn-outline-primary rounded-pill" to="/register/penjual">Daftar</router-link>
                        </div>
                        <div class="col-6">
                            <router-link class="btn w-100 __btn-primary rounded-pill" to="/login">Masuk</router-link>
                        </div>
                    </div>

                    <div v-else class="row">
                        <div class="col-6">
                            <router-link class="btn w-100 __btn-outline-primary rounded-pill" to="/dashboard">Dashboard</router-link>
                        </div>
                        <div class="col-6">
                            <a class="btn w-100 btn-danger rounded-pill" @click.prevent="logout">Keluar</a>
                        </div>
                    </div>
                </ul>
            </div>
        </div>
    </nav>

</template>


<script>
import axios from 'axios'
export default {
    data() {
        return {
            token: localStorage.getItem("token"),
            tokenProfileLKPP: localStorage.getItem("tokenProfileLKPP"),
            loggedIn: localStorage.getItem("loggedIn"),
            loggedInLKPP: localStorage.getItem("loggedInLKPP"),
            user: [],
            search: this.$route.query.q != '' ? this.$route.query.q : document.getElementById("search").value,
        }
    },

    methods: {
        searchFilter() {
            this.$emit("changeSearch", this.search);

            return this.$router.push({ path: '/product', query: { q: this.search } });
        },
        logout() {
            axios.post("/api/v1/logout", {}, {
                headers: {
                    'Authorization': 'Bearer ' + this.token
                },
            }).then((resp => {
                this.$swal({
                    icon: 'success',
                    title: resp.data.message,
                });
                localStorage.removeItem('token');
                localStorage.removeItem("loggedIn");
                localStorage.removeItem("loggedInLKPP");
                this.loggedIn = false;
                return this.$router.push({ path: '/login' });
            }));
        }
    },

    mounted() {
        if (this.loggedInLKPP) {
            localStorage.removeItem("userLKPP");
            localStorage.removeItem("tokenTransactionLKPP");

            axios.get("/api/v1/lkpp/me", {
                headers: {
                    'Authorization': 'Bearer ' + this.tokenProfileLKPP
                }
            }).then((resp) => {
                localStorage.setItem("userLKPP", JSON.stringify(resp.data.user))
                localStorage.setItem("tokenTransactionLKPP", resp.data.user.token)

                this.user = resp.data.user
            })
        }

        if (this.loggedIn) {
            axios.get("/api/user", {
                headers: {
                    Authorization: "Bearer " + this.token
                }
            }).then((resp) => {
                this.user = resp.data
            }).catch((err) => {
                if (err.response.status === 401) {
                    localStorage.clear();
                    location.reload()
                }
            });
        }
    }

}
</script>


<style scope>
.nav-1 span {
    font-size: 14px;
}

.nav-1 {
    padding: 5px 0px;
}

.icon-bar {
    display: block;
    width: 30px;
    height: 4px;
    border-radius: 3px;
    background: var(--primary-color);
    -webkit-transition: all .5s cubic-bezier(.18, .89, .32, 1.28);
    -o-transition: all .5s cubic-bezier(.18, .89, .32, 1.28);
    transition: all .5s cubic-bezier(.18, .89, .32, 1.28);
}

.icon-bar+.icon-bar {
    margin-top: 4px;
}

.menu-icon a.btn-link,
.menu-icon button.btn-link {
    color: var(--primary-color);
    font-size: 25px;
}

.menu-icon .dropdown-menu {
    background-color: white;
    border: none;
    box-shadow: -8px 8px 58px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
}

.menu-icon .dropdown-menu .dropdown-item {
    font-size: 15px;
    color: #505E6B;
}

.menu-icon .dropdown-menu .dropdown-item:hover {
    color: var(--primary-color);
}

.__menu-cat {
    border: none;
    background: #FFFFFF;
    box-shadow: -8px 8px 58px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
}

.__menu-cat .dropdown-item {
    padding: 0 25px;
}

.welcome-text {
    font-size: 15px;
    margin-bottom: 0px;
    padding: 5px 0;
}
</style>
