<template>
  <Navbar />

  <div class="container my-5 py-5">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <h6 class="text-center mb-3">Syarat & Ketentuan</h6>
        <img
          :src="require('@/assets/images/icon/syarat-ketentuan.png')"
          class="d-block mx-auto img-fluid"
        />
        <h6 class="my-3">
          Silahkan membaca
          <span style="color: var(--primary-color)">Syarat & Ketentuan</span> pada situs
          beliumkm.co.id
        </h6>

        <div class="row justify-content-center">
          <div class="col-lg-6">
            <a
              target="_blank"
              href="https://drive.google.com/file/d/1JwDtl8pquP7LPtZUtUZwitUhdFokDZKg/view?usp=share_link"
              class="btn __btn-primary d-block w-100"
            >
              Syarat dan Ketentuan
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Navbar from "@/v2/components/Navbar.vue";

export default {
  components: {
    Navbar,
  },
};
</script>
