<template>
    <Navbar @changeSearch="clickFilter(true, $event)" />

    <div class="container my-4">
        <div class="row">
            <div class="col-lg-3">
                <div class="__card">
                    <div class="card-body">
                        <h6 class="mb-4">Filter</h6>

                        <h5>Lokasi Pemasok</h5>
                        <div class="mb-2">
                            <select name="" class="form-select __form-select form-select-sm"
                                @change="getCity(filter.id_provinces)" v-model="filter.id_provinces">
                                <option :value="item.id" v-for="item in collection.provinces" v-bind:key="item.id">
                                    {{item.name}}
                                </option>
                            </select>
                        </div>
                        <div>
                            <select name="" v-model="filter.id_cities" class="form-select __form-select form-select-sm">
                                <option :value="item.id" v-for="item in collection.cities" v-bind:key="item.id">
                                    {{item.name}}</option>
                            </select>
                        </div>

                        <h5 class="mt-4">Kategori Produk</h5>
                        <div class="accordion" id="accordionExample">
                            <div class="form-check mb-3" v-for="cat in category" v-bind:key="cat">
                                <input v-model="filterCategory" class="form-check-input" type="checkbox" :value="cat.id" :id="'cat_' + cat.id">
                                <label class="form-check-label" :for="'cat_' + cat.id">
                                    {{ cat.name }}
                                </label>
                            </div>

                            <b-skeleton-wrapper :loading="loading_category">
                                <template #loading>
                                    <div v-for="i in 4" :key="i" class="d-block mb-3">
                                        <b-skeleton width="100%"></b-skeleton>
                                    </div>
                                </template>
                            </b-skeleton-wrapper>

                            <!-- <div class="accordion-item" v-for="cat in category" v-bind:key="cat">
                                <h2 class="accordion-header" id="headingOne">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        :data-bs-target="'#collapseOne_' + cat.id" aria-expanded="true"
                                        :aria-controls="'collapseOne_' + cat.id">
                                        {{ cat.name }}
                                    </button>
                                </h2>
                                <div :id="'collapseOne_' + cat.id" class="accordion-collapse collapse"
                                    aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <div class="form-check mb-3" v-for="sub_cat in cat.parent_category"
                                            v-bind:key="sub_cat">
                                            <input class="form-check-input" type="checkbox" value=""
                                                :id="'sub_cat_' + sub_cat.id">
                                            <label class="form-check-label" :for="'sub_cat_' + sub_cat.id">
                                                {{ sub_cat.name }}
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                        </div>

                        <!-- <h5 class="mt-4">Rentang Harga</h5>
                        <div class="mb-2">
                            <input type="number" class="__form-select form-control-sm"
                                placeholder="Ketik minimal harga">
                        </div>
                        <div>
                            <input type="number" class="__form-select form-control-sm"
                                placeholder="Ketik maksimal harga">
                        </div> -->

                        <div class="mt-2">
                            <button class="btn __btn-primary w-100" @click.prevent="clickFilter">
                                Terapkan
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <img :src="require('@/assets/images/slide-8.jpg')" class="img-fluid w-100">

                <div class="title d-flex justify-content-between my-4 title">
                    <h2 class="my-auto">Semua Produk</h2>
                    <!-- <div>
                        <h6>Urutkan</h6>
                        <select name="" class="form-select __form-select form-select-sm">
                            <option value="" selected disabled>Paling Sesuai</option>
                        </select>
                    </div> -->
                </div>

                <div class="row">
                    <div class="col-lg-4 col-6 mb-3" v-for="item in product" v-bind:key="item">
                        <ProductCard :slug="item.slug" :id="item.id" :image="item.image[0]" :title="item.title" :toko="item.nama_toko" :price="item.show_price" :lokasi_penjual="item.lokasi_penjual" />
                    </div>

                    <b-skeleton-wrapper :loading="loading">
                        <template #loading>
                            <div v-for="i in 3" :key="i" class="col-lg-4 col-6 mb-3">
                                <div class="__card-product">
                                    <div class="img">
                                        <b-skeleton height="100%"></b-skeleton>
                                    </div>
                                    <div class="card-body">
                                        <b-skeleton width="100%"></b-skeleton>
                                        <b-skeleton width="70%"></b-skeleton>
                                        <b-skeleton width="55%"></b-skeleton>
                                    </div>
                                </div>
                            </div>
                        </template>

                        <div class="col-12 mb-3 text-center py-5" v-if="!product.length">
                            <img class="d-block mx-auto" :src="require('@/assets/images/notfound.png')" />
                            <small class="text-muted">Product yang di cari tidak ada</small>
                        </div>

                        <div class="col-12 mb-3 text-center" v-show="isShowButtonLoadMore">
                            <button class="btn __btn-primary px-5" @click.prevent="loadMore()">
                                Load More
                            </button>
                        </div>
                    </b-skeleton-wrapper>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import ProductCard from '@/components/card/ProductCard.vue';
import axios from "axios";
import Navbar from '@/v2/components/Navbar';
import qs from "qs";
export default {
    components: { ProductCard, Navbar },
    data() {
        return {
            loading: true,
            loading_category: true,
            product: [],
            category: [],
            collection: {
                provinces: [],
                cities: [],
            },
            filter: {
                id_provinces: 0,
                id_cities: 0,
                category: [],
            },
            search: "",

            filterCategory: [],
            page: 1,
            isShowButtonLoadMore: true,
        }
    },
    methods: {
        getProvinces() {
            axios.get('/api/v1/shipper/provinces').then(res => {
                this.collection.provinces = res.data
            })
        },
        //mengambil data kota berdasar provinsi yang dipilih pengguna dari shipper
        getCity(id) {
            // this.user.city_id = null
            // this.user.suburb_id = null
            // this.user.area_id = null
            axios.get('/api/v1/shipper/province/' + id + '/cities').then(res => {
                this.collection.cities = res.data
            })
        },

        async clickFilter(reset = true, event) {
            if(reset) {
                this.product = []
            }

            this.loading = true;
            const search = event !== undefined ? event : this.$route.query.search;
            await axios.get("/api/v1/product", {
                params: {
                    search: search,
                    category: this.filterCategory.join(),
                    city: this.filter.id_cities,
                    page: reset ? 1 : this.page,
                },
            }).then((resp) => {
                if(reset) {
                    this.product = resp.data.data;
                } else {
                    this.product.push(...resp.data.data)
                }

                this.loading = false;
                this.isShowButtonLoadMore = resp.data.pagination.current_page !== resp.data.pagination.total_pages;
                this.page = resp.data.pagination.current_page + 1;
            })
        },

        getCategories() {
            axios.get("/api/v1/product/category").then((resp) => {
                this.category = resp.data.data;
                this.loading_category = false;
            });

            const routeName = this.$route.name
            const category = this.getLkppCategory().filter((category) => category.name == routeName)

            if(category.length > 0) {
                this.filterCategory.push(category[0].category_id)
                this.searchCategory(category[0].category_id)
            } else {
                this.loading = false;
            }
        },

        searchCategory(category) {
            this.loading = true;
            const search = this.$route.query.search;
            axios.get("/api/v1/product", {
                params: {
                    search: search,
                    category: category,
                    city: this.filter.id_cities,
                },
            }).then((resp) => {
                this.product = resp.data.data
                this.loading = false;
                this.isShowButtonLoadMore = resp.data.pagination.current_page !== resp.data.pagination.total_pages;
                this.page = resp.data.pagination.current_page + 1;
            })
        },

        getLkppCategory() {
            return [
                {
                    category_id: 6,
                    name:'categoryFood',
                },
                {
                    category_id: 5,
                    name:'categoryFurniture',
                },
                {
                    category_id: 2,
                    name:'categoryATK',
                },
                {
                    category_id: 9,
                    name:'categorySuvenir',
                },
                {
                    category_id: 4,
                    name:'categoryFashion',
                },
                {
                    category_id: 7,
                    name:'categoryPerkakas',
                },
                {
                    category_id: 1,
                    name:'categoryAlkes',
                },
                {
                    category_id: 3,
                    name:'categoryElektronik',
                },
                {
                    category_id: 11,
                    name:'categorySewaAlat',
                },
                {
                    category_id: 14,
                    name:'categoryTransportasi',
                },
                {
                    category_id: 13,
                    name:'categoryAkomodasi',
                },
                {
                    category_id: 10,
                    name:'categoryJasaKreatif',
                },
                {
                    category_id: 8,
                    name:'categoryPertanianPeternakan',
                },
            ];
        },

        loadMore() {
            this.clickFilter(false);
        },
    },
    mounted() {
        this.getCategories();
        this.getProvinces();
    },
}
</script>

<style scope>
.__card {
    border: 1px solid var(--primary-color);
    border-radius: 8px;
}

.__card .card-body {
    padding: 10px;
}

.__card .card-body h6 {
    font-weight: 600;
    font-size: 16px;
}

.__card .card-body h5 {
    font-size: 17px;
    font-weight: 600;
}

div.title h2 {
    font-size: 24px;
}

div.title>div h6 {
    display: inline-block;
    font-size: 15px;
    font-weight: 600;
}

div.title>div select {
    display: inline-block;
}
</style>
