<template>
    <Navbar />

    <InlineCategory />

    <div class="container-fluid text-center position-relative">
        <div class="position-absolute text-center text-white start-50 translate-middle" style="top: 30%">
            <div class="fw-bolder fs-1">Booking Akomodasi Murah <br>di beliumkm.co.id</div>
            <div>beliumkm.co.id menyediakan  banyak akomodasi buat anda untuk liburan atau bepergian <br>kemana pun dengan harga murah dan akomodasi yang mewah dan nyaman</div>
        </div>

        <img :src="require('@/v2/assets/images/banner/akomodasi.png')" alt="Waktunya umkm untuk maju" class="img-fluid">

        <div class="row px-5">
            <div class="col-lg-12">
                <div class="row-card shadow px-4">
                    <div class="row text-start">
                        <div class="col-lg-6">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="card">
                                        <div class="card-body px-4 py-4">
                                            <div class="fw-bold fs-6 mb-2">Check-in</div>
                                            <Datepicker class="mb-3" v-model="checkin_date" :enableTimePicker="false" :minDate="new Date()" :maxDate="checkout_date ?? ''" autoApply monthNameFormat="long" placeholder="Pilih tanggal checkin"></Datepicker>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="card">
                                        <div class="card-body px-4 py-4">
                                            <div class="fw-bold fs-6 mb-2">Check-out</div>
                                            <Datepicker class="mb-3" v-model="checkout_date" :enableTimePicker="false" :minDate="checkin_date ?? new Date()" autoApply monthNameFormat="long" placeholder="Pilih tanggal checkout"></Datepicker>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="ms-2 mt-3 d-flex align-items-center gap-2 fw-bold">
                                <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1.03009 11.42C1.39009 16.57 5.76009 20.76 10.9901 20.99C14.6801 21.15 17.9801 19.43 19.9601 16.72C20.7801 15.61 20.3401 14.87 18.9701 15.12C18.3001 15.24 17.6101 15.29 16.8901 15.26C12.0001 15.06 8.00009 10.97 7.98009 6.13996C7.97009 4.83996 8.24009 3.60996 8.73009 2.48996C9.27009 1.24996 8.62009 0.659961 7.37009 1.18996C3.41009 2.85996 0.70009 6.84996 1.03009 11.42Z" stroke="#8B95A5" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                                <div>{{ getDates(checkin_date, checkout_date) }} Malam</div>
                            </div>
                        </div>

                        <div class="col-lg-6 d-flex align-items-center">
                            <div class="w-100">
                                <div class="card border-0" style="background: transparent;">
                                    <div class="card-body position-relative" style="height: 146px;">
                                        <svg class="position-absolute top-0 start-0" viewBox="0 0 586 146" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <mask id="path-1-inside-1_555_12522" fill="white">
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M318 0C318 13.8071 306.807 25 293 25C279.193 25 268 13.8071 268 0H8C3.58172 0 0 3.58173 0 8V138C0 142.418 3.5817 146 7.99998 146H268C268 132.193 279.193 121 293 121C306.807 121 318 132.193 318 146H578C582.418 146 586 142.418 586 138V8C586 3.58172 582.418 0 578 0H318Z"/>
                                            </mask>
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M318 0C318 13.8071 306.807 25 293 25C279.193 25 268 13.8071 268 0H8C3.58172 0 0 3.58173 0 8V138C0 142.418 3.5817 146 7.99998 146H268C268 132.193 279.193 121 293 121C306.807 121 318 132.193 318 146H578C582.418 146 586 142.418 586 138V8C586 3.58172 582.418 0 578 0H318Z" fill="white"/>
                                            <path d="M318 0V-1H317V0H318ZM268 0H269V-1H268V0ZM268 146V147H269V146H268ZM318 146H317V147H318V146ZM293 26C307.359 26 319 14.3594 319 0H317C317 13.2548 306.255 24 293 24V26ZM267 0C267 14.3594 278.641 26 293 26V24C279.745 24 269 13.2548 269 0H267ZM8 1H268V-1H8V1ZM1 8C1 4.13401 4.13401 1 8 1V-1C3.02944 -1 -1 3.02944 -1 8H1ZM1 138V8H-1V138H1ZM7.99998 145C4.13399 145 1 141.866 1 138H-1C-1 142.971 3.02942 147 7.99998 147V145ZM268 145H7.99998V147H268V145ZM269 146C269 132.745 279.745 122 293 122V120C278.641 120 267 131.641 267 146H269ZM293 122C306.255 122 317 132.745 317 146H319C319 131.641 307.359 120 293 120V122ZM578 145H318V147H578V145ZM585 138C585 141.866 581.866 145 578 145V147C582.971 147 587 142.971 587 138H585ZM585 8V138H587V8H585ZM578 1C581.866 1 585 4.13401 585 8H587C587 3.02944 582.971 -1 578 -1V1ZM318 1H578V-1H318V1Z" fill="#D0D6DD" mask="url(#path-1-inside-1_555_12522)"/>
                                        </svg>

                                        <div class="position-absolute top-50 start-50 translate-middle">
                                            <svg width="1" height="80" viewBox="0 0 1 80" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <line x1="0.5" y1="2.18557e-08" x2="0.499997" y2="80" stroke="#D0D6DD" stroke-dasharray="4 4"/>
                                            </svg>
                                        </div>

                                        <div class="row position-absolute justify-content-center w-100 mt-3">
                                            <div class="col-lg-6 pe-5">
                                                <div class="fw-bold fs-6 mb-2">Lokasi Menginap</div>
                                                <v-select class="__v-select" v-model="destination" label="name" :filterable="false" :options="cities" @search="getLocations">
                                                    <template #no-options>
                                                        search locations or hotels by name.
                                                    </template>
                                                    <template #option="{ name, label }">
                                                        <div class="py-1">
                                                            <small class="text-muted d-block">{{ label }}</small>
                                                            {{ name }}
                                                        </div>
                                                    </template>
                                                    <template #selected-option="{ name }">
                                                        {{ name }}
                                                    </template>
                                                </v-select>
                                            </div>

                                            <div class="col-lg-6 ps-5">
                                                <div class="fw-bold fs-6 mb-2">Jumlah Kamar</div>
                                                <b-input-group class="bg-input w-50 py-1">
                                                    <b-input-group-prepend>
                                                        <b-button variant="outline-secondary" class="border-0" @click.prevent="--rooms.selected" :disabled="rooms.selected <= 1">-</b-button>
                                                    </b-input-group-prepend>
                                                    <b-form-input type="number" min="0.00" class="border-0 bg-transparent" v-model="rooms.selected" style="text-align:center" readonly></b-form-input>
                                                    <b-input-group-append>
                                                        <b-button variant="outline-secondary" class="border-0" @click.prevent="++rooms.selected" :disabled="rooms.selected >= 0">+</b-button>
                                                    </b-input-group-append>
                                                </b-input-group>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="text-center mb-3">
                                    <b-button @click.prevent="searchingHotels" :class="`${(!rooms.selected || !destination || !checkin_date || !checkout_date) && 'disabled'} __btn-primary mt-3 px-5 position-relative w-100`">
                                        <div v-show="searching" class="lds-dual-ring position-absolute" style="top: 0; left: 0;"></div>
                                        <div class="px-3">Cari Akomodasi</div>
                                    </b-button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container my-4" v-if="hotels.count > 0">
        <div class="text-center">
            <div class="fs-3 fw-bold">Akomodasi</div>
            Menampilkan {{ hotels.count }} Akomodasi terbaik
        </div>

        <b-row>
            <b-col lg="6" v-for="hotel in hotels.result" :key="hotel.id">
                <router-link :to="`/product/jasa/akomodasi/${hotel.hotel_id}`" class="text-decoration-none">
                    <b-card class="__card mt-4">
                        <b-row class="align-items-center">
                            <b-col lg="6" class="position-relative">
                                <div class="text-center available-badge">
                                    Tersedia
                                </div>
                                <b-img class="w-100" height="250" :src="hotel.max_photo_url" style="object-fit: cover;" rounded></b-img>
                            </b-col>
                            <b-col lg="6">
                                <div class="fs-4 fw-bold text-dark">{{ hotel?.hotel_name }}</div>
                                <div class="mt-2 text-muted" style="font-size: 12px;">Harga Mulai Dari</div>
                                <div class="fs-4 fw-bold __text-primary">{{ rupiah(percent(hotel.min_total_price), hotel.price_breakdown.currency) }}</div>

                                <!-- Hotel Score Review -->
                                <div class="d-flex mt-2 align-items-center gap-1" v-if="hotel.review_score">
                                    <template v-for="index in (Math.floor(Math.floor(parseInt(hotel.review_score)) / 2))" :key="index">
                                        <svg width="22" height="20" viewBox="0 0 22 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M4.73986 14C4.84986 13.51 4.64986 12.81 4.29986 12.46L1.86986 10.03C1.10986 9.27 0.809859 8.46 1.02986 7.76C1.25986 7.06 1.96986 6.58 3.02986 6.4L6.14986 5.88C6.59986 5.8 7.14986 5.4 7.35986 4.99L9.07986 1.54C9.57986 0.55 10.2599 0 10.9999 0C11.7399 0 12.4199 0.55 12.9199 1.54L14.6399 4.99C14.7699 5.25 15.0399 5.5 15.3299 5.67L4.55986 16.44C4.41986 16.58 4.17986 16.45 4.21986 16.25L4.73986 14Z" fill="#F5E707"/>
                                            <path d="M17.6998 12.4599C17.3398 12.8199 17.1398 13.5099 17.2598 13.9999L17.9498 17.0099C18.2398 18.2599 18.0598 19.1999 17.4398 19.6499C17.1898 19.8299 16.8898 19.9199 16.5398 19.9199C16.0298 19.9199 15.4298 19.7299 14.7698 19.3399L11.8398 17.5999C11.3798 17.3299 10.6198 17.3299 10.1598 17.5999L7.2298 19.3399C6.1198 19.9899 5.1698 20.0999 4.5598 19.6499C4.3298 19.4799 4.1598 19.2499 4.0498 18.9499L16.2098 6.7899C16.6698 6.3299 17.3198 6.1199 17.9498 6.2299L18.9598 6.3999C20.0198 6.5799 20.7298 7.0599 20.9598 7.7599C21.1798 8.4599 20.8798 9.2699 20.1198 10.0299L17.6998 12.4599Z" fill="#F5E707"/>
                                        </svg>
                                    </template>
                                    <template v-for="index in (5 - (Math.floor(Math.floor(parseInt(hotel.review_score)) / 2)))" :key="index">
                                        <svg width="22" height="20" viewBox="0 0 22 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M4.73986 14C4.84986 13.51 4.64986 12.81 4.29986 12.46L1.86986 10.03C1.10986 9.27 0.809859 8.46 1.02986 7.76C1.25986 7.06 1.96986 6.58 3.02986 6.4L6.14986 5.88C6.59986 5.8 7.14986 5.4 7.35986 4.99L9.07986 1.54C9.57986 0.55 10.2599 0 10.9999 0C11.7399 0 12.4199 0.55 12.9199 1.54L14.6399 4.99C14.7699 5.25 15.0399 5.5 15.3299 5.67L4.55986 16.44C4.41986 16.58 4.17986 16.45 4.21986 16.25L4.73986 14Z" fill="#D0D6DD"/>
                                            <path d="M17.6998 12.4599C17.3398 12.8199 17.1398 13.5099 17.2598 13.9999L17.9498 17.0099C18.2398 18.2599 18.0598 19.1999 17.4398 19.6499C17.1898 19.8299 16.8898 19.9199 16.5398 19.9199C16.0298 19.9199 15.4298 19.7299 14.7698 19.3399L11.8398 17.5999C11.3798 17.3299 10.6198 17.3299 10.1598 17.5999L7.2298 19.3399C6.1198 19.9899 5.1698 20.0999 4.5598 19.6499C4.3298 19.4799 4.1598 19.2499 4.0498 18.9499L16.2098 6.7899C16.6698 6.3299 17.3198 6.1199 17.9498 6.2299L18.9598 6.3999C20.0198 6.5799 20.7298 7.0599 20.9598 7.7599C21.1798 8.4599 20.8798 9.2699 20.1198 10.0299L17.6998 12.4599Z" fill="#D0D6DD"/>
                                        </svg>
                                    </template>
                                </div>

                                <div class="text-muted mt-5">{{ total_night }} Malam</div>
                                <small class="text-muted">{{ hotel.city }}</small>
                            </b-col>
                        </b-row>
                    </b-card>
                </router-link>
            </b-col>
        </b-row>

        <InfiniteLoading @infinite="searchingHotels" />
    </div>

    <div class="container-fluid text-center" style="margin-top: 10rem;">
        <img :src="require('@/assets/images/banner/mesin-edc.jpg')" alt="Waktunya umkm untuk maju" width="1280" height="300">
    </div>
</template>

<script>
import Navbar from '@/v2/components/Navbar.vue';
import InlineCategory from '@/v2/components/InlineCategory.vue';
import Datepicker from '@vuepic/vue-datepicker';
import vSelect from 'vue-select';
import dayjs from 'dayjs';

import '@vuepic/vue-datepicker/dist/main.css';
import 'vue-select/dist/vue-select.css';

import InfiniteLoading from "v3-infinite-loading";

export default {
    components: {
        Navbar,
        InlineCategory,
        Datepicker,
        vSelect,
        InfiniteLoading,
    },
    data() {
        return {
            debounce: null,
            total_night: 0,
            destination: null,
            cities: [],
            hotels: [],
            rooms: {
                data: [1, 2, 3, 4, 5],
                selected: 1,
            },
            checkin_date: null,
            checkout_date: null,
            searching: false,
            page: 0,
            isEndPage: false,
        }
    },
    mounted() {
        //
    },
    methods: {
        searchLocations: (loading, search, vm) => {
            fetch(`${process.env.VUE_APP_ENDPOINT_HOTELS_API}/hotels/locations?locale=id&name=${escape(search)}`, {
                headers: {
                    'X-RapidAPI-Key': process.env.VUE_APP_X_RAPIDAPI_HOTELS_KEY,
                    'X-RapidAPI-Host': process.env.VUE_APP_X_RAPIDAPI_HOTELS_HOST
                }
            }).then(res => {
                res.json().then(json => {
                    vm.cities = json.filter((data) => data.country == 'Indonesia')
                });
                loading(false);
            });
        },
        async getLocations(search, loading) {
            if(search.length > 2) {
                loading(true);
                clearTimeout(this.debounce);
                this.debounce = setTimeout(() => {
                    this.searchLocations(loading, search, this);
                }, 600)
            }
        },
        async searchingHotels() {
            if(this.isEndPage) {
                this.searching = false;
                return;
            }

            this.searching = true
            this.total_night = this.getDates(this.checkin_date, this.checkout_date)
            const options = {
                method: 'GET',
                headers: {
                    'X-RapidAPI-Key': process.env.VUE_APP_X_RAPIDAPI_HOTELS_KEY,
                    'X-RapidAPI-Host': process.env.VUE_APP_X_RAPIDAPI_HOTELS_HOST
                }
            };

            const page          = this.page
            const dest_id       = this.destination.dest_id
            const dest_type     = this.destination.dest_type
            const room_number   = this.rooms.selected
            const checkin_date  = this.formatDate(this.checkin_date)
            const checkout_date = this.formatDate(this.checkout_date)

            localStorage.setItem("room_number", room_number)
            localStorage.setItem("checkin_date", checkin_date)
            localStorage.setItem("checkout_date", checkout_date)

            fetch(`${process.env.VUE_APP_ENDPOINT_HOTELS_API}/hotels/search?page_number=${page}&dest_id=${dest_id}&dest_type=${dest_type}&checkin_date=${checkin_date}&checkout_date=${checkout_date}&room_number=${room_number}&units=metric&locale=id&adults_number=1&order_by=popularity&filter_by_currency=IDR&include_adjacency=true`, options)
                .then(response => response.json())
                .then(response => {
                    if(response.result.length == 0) {
                        this.searching = false;
                        this.isEndPage = true
                        return;
                    }

                    if(response.count > 0) {
                        if(this.page !== 0) {
                            for (let index = 0; index < response.result.length; index++) {
                                this.hotels.result.push(response.result[index])
                            }
                        } else {
                            this.hotels = response
                        }

                        this.page += 1
                    } else {
                        const imgError = require('@/v2/assets/images/error/404-search-not-found.png')
                        this.$swal({
                            confirmButtonText: 'Kembali',
                            customClass: {
                                actions: 'w-100',
                                confirmButton: 'btn __btn-primary w-100 mx-5 py-3 mt-3 mb-3',
                            },
                            html: `
                                <img src="${imgError}" />
                                <div class="text-dark fw-bold fs-4">Data Tidak Ditemukan</div>
                                <div class="text-muted mt-3">Tidak menemukan data dengan pencarian tersebut</div>
                            `
                        })
                    }
                    this.searching = false
                })
                .catch(err => console.error(err))
        },
        rupiah(number, currency) {
            return new Intl.NumberFormat("id-ID", {
                style: "currency",
                currency: currency,
                minimumFractionDigits: 0
            }).format(Math.round(number));
        },
        percent(price) {
            price = parseInt(price)
            return (parseInt(process.env.VUE_APP_PRICE_PERCENTAGE_HOTEL) / 100 * price) + price
        },
        formatDate(dateString) {
          const date = dayjs(dateString);
          return date.format('YYYY-MM-DD');
        },
        getDates (startDate, endDate) {
          if(!startDate) {
            return 0;
          }

          if(!endDate) {
            return 1;
          }

          const date1 = new Date(startDate);
          const date2 = new Date(endDate);

          const DifferenceInTime = date2.getTime() - date1.getTime();
          let night_count = Math.round(DifferenceInTime / (1000 * 3600 * 24));

          if(night_count < 1) {
            night_count = 1
          }

          return parseInt(night_count);
        }
    },
    computed: {
        //
    }
}
</script>

<style scoped>
.lds-dual-ring {
    display: inline-block;
    width: 20px;
    height: 20px;
}
.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 20px;
    height: 20px;
    margin: 8px;
    border-radius: 50%;
    border: 3px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

div.title h2 {
    font-size: 24px;
}

div.title>div h6 {
    display: inline-block;
    font-size: 15px;
    font-weight: 600;
}

div.title>div select {
    display: inline-block;
}

.bg-input {
    background-color: #EDF0F2;
    color: rgba(35, 41, 51, 1);
}
.bg-input button.btn {
    background-color: #EDF0F2;
    color: rgba(35, 41, 51, 1);
}
.bg-input button.btn:hover {
    background-color: #dfdfdf;
    border-radius: 0;
}
.row-card {
    margin: auto;
    margin-top: -8rem;
    padding: 3rem 0;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 30px 60px -15px rgba(143, 144, 188, 0.15);
    backdrop-filter: blur(10px);
    border-radius: 8px;
    color: #8B95A5;
}

.available-badge {
    width: 78px;
    height: 21px;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 21px;

    color: #FFFFFF;
    background: #0D6EFD;
    border-radius: 50px;
    position: absolute;
    top: 10px;
    right: 20px;
}
</style>
