<template>
  <Navbar />

  <div class="bg-breadcrumb">
    <nav class="container-fluid" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a class="text-decoration-none text-muted" href="/">Home</a>
        </li>
        <li class="breadcrumb-item">
          <a class="text-decoration-none text-muted" href="/product/jasa/akomodasi"
            >Semua akomodasi</a
          >
        </li>
        <li class="breadcrumb-item active" aria-current="page">Detail akomodasi</li>
      </ol>
    </nav>
  </div>

  <b-skeleton-wrapper :loading="loading">
    <template #loading>
      <b-container>
        <b-row class="justify-content-between align-items-center">
          <b-col lg="6">
            <b-skeleton height="33rem"></b-skeleton>
          </b-col>
          <b-col lg="6" class="mt-3 mt-lg-0">
            <div class="row row-cols-2 align-items-center justify-content-center">
              <div class="col p-2"><b-skeleton height="16rem"></b-skeleton></div>
              <div class="col p-2"><b-skeleton height="16rem"></b-skeleton></div>
              <div class="col p-2"><b-skeleton height="16rem"></b-skeleton></div>
              <div class="col p-2"><b-skeleton height="16rem"></b-skeleton></div>
            </div>
          </b-col>
        </b-row>
      </b-container>
    </template>
    <b-container>
      <b-row class="justify-content-between align-items-center">
        <b-col lg="6">
          <b-img
            class="w-100"
            :src="photos && photos[0].url_1440"
            style="object-fit: cover; height: 33rem"
            rounded
            fluid
          ></b-img>
        </b-col>
        <b-col lg="6" class="mt-3 mt-lg-0">
          <div class="row row-cols-2 align-items-center justify-content-center">
            <div class="col p-2">
              <b-img
                :src="photos && photos[1].url_1440"
                fluid
                style="object-fit: cover; width: 100%; height: 16rem"
                rounded
              ></b-img>
            </div>
            <div class="col p-2">
              <b-img
                :src="photos && photos[2].url_1440"
                fluid
                style="object-fit: cover; width: 100%; height: 16rem"
                rounded
              ></b-img>
            </div>
            <div class="col p-2">
              <b-img
                :src="photos && photos[3].url_1440"
                fluid
                style="object-fit: cover; width: 100%; height: 16rem"
                rounded
              ></b-img>
            </div>
            <div class="col p-2">
              <b-img
                :src="photos && photos[4].url_1440"
                fluid
                style="object-fit: cover; width: 100%; height: 16rem"
                rounded
              ></b-img>
            </div>
          </div>
        </b-col>
      </b-row>

      <b-row class="mt-4">
        <b-col lg="6">
          <div class="title text-dark fw-bold">
            <h2>{{ hotel && hotel.name }}</h2>
          </div>

          <div class="my-3 text-muted">
            {{ hotel && `${hotel.address}, ${hotel.city}, ${hotel.country}` }}
          </div>

          <div class="d-flex align-items-center gap-2">
            <!-- Hotel Score Review -->
            <div
              class="d-flex align-items-center gap-1"
              v-if="hotel && hotel.review_score"
            >
              <template
                v-for="index in Math.floor(Math.floor(parseInt(hotel.review_score)) / 2)"
                :key="index"
              >
                <svg
                  width="22"
                  height="20"
                  viewBox="0 0 22 20"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M4.73986 14C4.84986 13.51 4.64986 12.81 4.29986 12.46L1.86986 10.03C1.10986 9.27 0.809859 8.46 1.02986 7.76C1.25986 7.06 1.96986 6.58 3.02986 6.4L6.14986 5.88C6.59986 5.8 7.14986 5.4 7.35986 4.99L9.07986 1.54C9.57986 0.55 10.2599 0 10.9999 0C11.7399 0 12.4199 0.55 12.9199 1.54L14.6399 4.99C14.7699 5.25 15.0399 5.5 15.3299 5.67L4.55986 16.44C4.41986 16.58 4.17986 16.45 4.21986 16.25L4.73986 14Z"
                    fill="#F5E707"
                  />
                  <path
                    d="M17.6998 12.4599C17.3398 12.8199 17.1398 13.5099 17.2598 13.9999L17.9498 17.0099C18.2398 18.2599 18.0598 19.1999 17.4398 19.6499C17.1898 19.8299 16.8898 19.9199 16.5398 19.9199C16.0298 19.9199 15.4298 19.7299 14.7698 19.3399L11.8398 17.5999C11.3798 17.3299 10.6198 17.3299 10.1598 17.5999L7.2298 19.3399C6.1198 19.9899 5.1698 20.0999 4.5598 19.6499C4.3298 19.4799 4.1598 19.2499 4.0498 18.9499L16.2098 6.7899C16.6698 6.3299 17.3198 6.1199 17.9498 6.2299L18.9598 6.3999C20.0198 6.5799 20.7298 7.0599 20.9598 7.7599C21.1798 8.4599 20.8798 9.2699 20.1198 10.0299L17.6998 12.4599Z"
                    fill="#F5E707"
                  />
                </svg>
              </template>
              <template
                v-for="index in 5 -
                Math.floor(Math.floor(parseInt(hotel.review_score)) / 2)"
                :key="index"
              >
                <svg
                  width="22"
                  height="20"
                  viewBox="0 0 22 20"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M4.73986 14C4.84986 13.51 4.64986 12.81 4.29986 12.46L1.86986 10.03C1.10986 9.27 0.809859 8.46 1.02986 7.76C1.25986 7.06 1.96986 6.58 3.02986 6.4L6.14986 5.88C6.59986 5.8 7.14986 5.4 7.35986 4.99L9.07986 1.54C9.57986 0.55 10.2599 0 10.9999 0C11.7399 0 12.4199 0.55 12.9199 1.54L14.6399 4.99C14.7699 5.25 15.0399 5.5 15.3299 5.67L4.55986 16.44C4.41986 16.58 4.17986 16.45 4.21986 16.25L4.73986 14Z"
                    fill="#D0D6DD"
                  />
                  <path
                    d="M17.6998 12.4599C17.3398 12.8199 17.1398 13.5099 17.2598 13.9999L17.9498 17.0099C18.2398 18.2599 18.0598 19.1999 17.4398 19.6499C17.1898 19.8299 16.8898 19.9199 16.5398 19.9199C16.0298 19.9199 15.4298 19.7299 14.7698 19.3399L11.8398 17.5999C11.3798 17.3299 10.6198 17.3299 10.1598 17.5999L7.2298 19.3399C6.1198 19.9899 5.1698 20.0999 4.5598 19.6499C4.3298 19.4799 4.1598 19.2499 4.0498 18.9499L16.2098 6.7899C16.6698 6.3299 17.3198 6.1199 17.9498 6.2299L18.9598 6.3999C20.0198 6.5799 20.7298 7.0599 20.9598 7.7599C21.1798 8.4599 20.8798 9.2699 20.1198 10.0299L17.6998 12.4599Z"
                    fill="#D0D6DD"
                  />
                </svg>
              </template>
            </div>

            <div class="ms-1">{{ reviews && reviews.count }} Penilaian</div>
          </div>

          <div class="title text-dark fw-bold mt-5">
            <h5>Informasi Penginapan :</h5>
          </div>

          <div class="my-4 pe-5">
            {{ description && description.description }}
          </div>

          <div class="title text-dark fw-bold mt-5">
            <h5>Ulasan Pembeli ({{ reviews && reviews.count }})</h5>
          </div>

          <b-row class="mt-4" v-if="reviews">
            <b-col lg="12" class="mb-4" v-for="review in reviews.result" :key="review">
              <div class="d-flex gap-3">
                <b-img
                  :onerror="`this.src='${default_image}'`"
                  :src="review && (review.author.avatar || default_image)"
                  style="width: 85px; height: 85px"
                ></b-img>

                <div>
                  <div
                    class="d-flex align-items-center gap-1"
                    v-if="review && review.average_score"
                  >
                    <template
                      v-for="index in Math.ceil(review.average_score)"
                      :key="index"
                    >
                      <svg
                        width="22"
                        height="20"
                        viewBox="0 0 22 20"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M4.73986 14C4.84986 13.51 4.64986 12.81 4.29986 12.46L1.86986 10.03C1.10986 9.27 0.809859 8.46 1.02986 7.76C1.25986 7.06 1.96986 6.58 3.02986 6.4L6.14986 5.88C6.59986 5.8 7.14986 5.4 7.35986 4.99L9.07986 1.54C9.57986 0.55 10.2599 0 10.9999 0C11.7399 0 12.4199 0.55 12.9199 1.54L14.6399 4.99C14.7699 5.25 15.0399 5.5 15.3299 5.67L4.55986 16.44C4.41986 16.58 4.17986 16.45 4.21986 16.25L4.73986 14Z"
                          fill="#F5E707"
                        />
                        <path
                          d="M17.6998 12.4599C17.3398 12.8199 17.1398 13.5099 17.2598 13.9999L17.9498 17.0099C18.2398 18.2599 18.0598 19.1999 17.4398 19.6499C17.1898 19.8299 16.8898 19.9199 16.5398 19.9199C16.0298 19.9199 15.4298 19.7299 14.7698 19.3399L11.8398 17.5999C11.3798 17.3299 10.6198 17.3299 10.1598 17.5999L7.2298 19.3399C6.1198 19.9899 5.1698 20.0999 4.5598 19.6499C4.3298 19.4799 4.1598 19.2499 4.0498 18.9499L16.2098 6.7899C16.6698 6.3299 17.3198 6.1199 17.9498 6.2299L18.9598 6.3999C20.0198 6.5799 20.7298 7.0599 20.9598 7.7599C21.1798 8.4599 20.8798 9.2699 20.1198 10.0299L17.6998 12.4599Z"
                          fill="#F5E707"
                        />
                      </svg>
                    </template>
                    <template
                      v-for="index in 5 - Math.ceil(review.average_score)"
                      :key="index"
                    >
                      <svg
                        width="22"
                        height="20"
                        viewBox="0 0 22 20"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M4.73986 14C4.84986 13.51 4.64986 12.81 4.29986 12.46L1.86986 10.03C1.10986 9.27 0.809859 8.46 1.02986 7.76C1.25986 7.06 1.96986 6.58 3.02986 6.4L6.14986 5.88C6.59986 5.8 7.14986 5.4 7.35986 4.99L9.07986 1.54C9.57986 0.55 10.2599 0 10.9999 0C11.7399 0 12.4199 0.55 12.9199 1.54L14.6399 4.99C14.7699 5.25 15.0399 5.5 15.3299 5.67L4.55986 16.44C4.41986 16.58 4.17986 16.45 4.21986 16.25L4.73986 14Z"
                          fill="#D0D6DD"
                        />
                        <path
                          d="M17.6998 12.4599C17.3398 12.8199 17.1398 13.5099 17.2598 13.9999L17.9498 17.0099C18.2398 18.2599 18.0598 19.1999 17.4398 19.6499C17.1898 19.8299 16.8898 19.9199 16.5398 19.9199C16.0298 19.9199 15.4298 19.7299 14.7698 19.3399L11.8398 17.5999C11.3798 17.3299 10.6198 17.3299 10.1598 17.5999L7.2298 19.3399C6.1198 19.9899 5.1698 20.0999 4.5598 19.6499C4.3298 19.4799 4.1598 19.2499 4.0498 18.9499L16.2098 6.7899C16.6698 6.3299 17.3198 6.1199 17.9498 6.2299L18.9598 6.3999C20.0198 6.5799 20.7298 7.0599 20.9598 7.7599C21.1798 8.4599 20.8798 9.2699 20.1198 10.0299L17.6998 12.4599Z"
                          fill="#D0D6DD"
                        />
                      </svg>
                    </template>
                  </div>

                  <div class="mt-2 text-muted">
                    oleh {{ review && review.author.name }}
                    {{ review && formatDateMonth(review.date) }}
                  </div>

                  <div class="mt-2 text-dark fw-bold">
                    {{ review && review.title }}
                  </div>

                  <div class="mt-2">
                    {{ review && review.pros }}
                  </div>
                </div>
              </div>
            </b-col>
          </b-row>
        </b-col>

        <b-col lg="6" class="bg-light">
          <div class="my-3 text-dark fw-bold fs-5">Pilihan Kamar :</div>
          <div v-for="(mainRoom, mainIndex) in rooms" :key="mainIndex">
            <b-card
              v-for="(room, index) in mainRoom.block"
              :key="index"
              class="mb-4 border-0"
            >
              <b-row>
                <b-col lg="5" class="position-relative">
                  <div class="available-badge">Tersedia</div>

                  <div class="room-name">
                    {{ room.name_without_policy }}
                  </div>

                  <b-img
                    class="w-100 h-100"
                    :src="mainRoom.rooms[room.room_id].photos[0].url_640x200"
                    style="object-fit: cover; object-position: center"
                    rounded
                  ></b-img>
                  <!-- <b-row class="mt-2 justify-content-between">
                        <template v-for="(photo, indexPhoto) in mainRoom.rooms[room.room_id].photos" :key="photo">
                            <b-col v-if="indexPhoto < 3">
                                <b-img :src="photo.url_square60" rounded fluid></b-img>
                            </b-col>
                        </template>
                    </b-row> -->
                </b-col>

                <b-col lg="7">
                  <div>
                    <span class="fw-bold text-dark">
                      {{ room.name_without_policy }}
                    </span>
                  </div>

                  <div class="d-flex gap-3 mt-2">
                    <div class="d-flex gap-2 align-items-center">
                      <svg
                        width="16"
                        height="16"
                        viewBox="0 0 16 16"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M7.99984 7.99967C9.84079 7.99967 11.3332 6.50729 11.3332 4.66634C11.3332 2.82539 9.84079 1.33301 7.99984 1.33301C6.15889 1.33301 4.6665 2.82539 4.6665 4.66634C4.6665 6.50729 6.15889 7.99967 7.99984 7.99967Z"
                          stroke="#626B79"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                        <path
                          d="M13.7268 14.6667C13.7268 12.0867 11.1601 10 8.0001 10C4.8401 10 2.27344 12.0867 2.27344 14.6667"
                          stroke="#626B79"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                      </svg>
                      {{ room.max_occupancy }} Orang
                    </div>

                    <div class="d-flex gap-2 align-items-center">
                      <svg
                        width="16"
                        height="16"
                        viewBox="0 0 16 16"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M15.2189 8.02138V7.71666C15.2189 7.15531 14.9283 6.66084 14.4898 6.37491V3.05091C14.4898 2.17634 13.7783 1.46484 12.9038 1.46484H3.09622C2.22166 1.46484 1.51013 2.17634 1.51013 3.05091V6.37488C1.07169 6.66081 0.781062 7.15528 0.781062 7.71663V8.02134C0.332125 8.13956 0 8.54894 0 9.0345V12.6C0 13.1609 0.443188 13.6202 0.997781 13.6463V14.0683C0.997781 14.3267 1.20725 14.5361 1.46563 14.5361C1.724 14.5361 1.93347 14.3267 1.93347 14.0683V13.6476H14.0665V14.0683C14.0665 14.3267 14.276 14.5361 14.5343 14.5361C14.7927 14.5361 15.0022 14.3267 15.0022 14.0683V13.6463C15.5568 13.6202 16 13.1609 16 12.6V9.0345C16 8.54891 15.6679 8.13956 15.2189 8.02138ZM2.44584 3.05091C2.44584 2.69228 2.73759 2.40053 3.09622 2.40053H12.9038C13.2624 2.40053 13.5542 2.69228 13.5542 3.05091V6.1155H12.9303V5.29087C12.9303 4.71369 12.4608 4.24409 11.8836 4.24409H9.36613C8.78894 4.24409 8.31934 4.71369 8.31934 5.29087V6.1155H7.68066V5.29087C7.68066 4.71369 7.21106 4.24409 6.63387 4.24409H4.11644C3.53922 4.24409 3.06966 4.71369 3.06966 5.29087V6.1155H2.44584V3.05091ZM11.9946 5.29084V6.00441C11.9946 6.06566 11.9448 6.11547 11.8836 6.11547H9.36613C9.30488 6.11547 9.25506 6.06563 9.25506 6.00441V5.29084C9.25506 5.22959 9.30491 5.17978 9.36613 5.17978H11.8836C11.9448 5.17978 11.9946 5.22959 11.9946 5.29084ZM6.74494 5.29084V6.00441C6.74494 6.06566 6.69509 6.11547 6.63387 6.11547H4.11644C4.05519 6.11547 4.00537 6.06563 4.00537 6.00441V5.29084C4.00537 5.22959 4.05522 5.17978 4.11644 5.17978H6.63387C6.69509 5.17978 6.74494 5.22959 6.74494 5.29084ZM1.71678 7.71663C1.71678 7.34969 2.01531 7.05119 2.38225 7.05119H13.6178C13.9847 7.05119 14.2832 7.34972 14.2832 7.71663V7.98688H1.71678V7.71663ZM15.0643 12.6C15.0643 12.6617 15.0141 12.7118 14.9524 12.7118H1.04759C0.985906 12.7118 0.935687 12.6617 0.935687 12.6V9.0345C0.935687 8.97281 0.985875 8.92263 1.04759 8.92263H14.9524C15.0141 8.92263 15.0643 8.97281 15.0643 9.0345V12.6H15.0643Z"
                          fill="#626B79"
                        />
                      </svg>
                      {{
                        mainRoom.rooms[room.room_id].bed_configurations[0].bed_types[0]
                          .name_with_count
                      }}
                    </div>

                    <div class="d-flex gap-2 align-items-center">
                      <svg
                        width="16"
                        height="16"
                        viewBox="0 0 16 16"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M6.00016 14.6663H10.0002C13.3335 14.6663 14.6668 13.333 14.6668 9.99967V5.99967C14.6668 2.66634 13.3335 1.33301 10.0002 1.33301H6.00016C2.66683 1.33301 1.3335 2.66634 1.3335 5.99967V9.99967C1.3335 13.333 2.66683 14.6663 6.00016 14.6663Z"
                          stroke="#626B79"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                        <path
                          d="M12 4L4 12"
                          stroke="#626B79"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                        <path
                          d="M12.0002 6.66667V4H9.3335"
                          stroke="#626B79"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                        <path
                          d="M4 9.33301V11.9997H6.66667"
                          stroke="#626B79"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                      </svg>
                      <div>{{ room.room_surface_in_m2 }} m<sup>2</sup></div>
                    </div>
                  </div>

                  <div class="mt-4">
                    <strong>Fasilitas:</strong>
                    <div class="row row-cols-2">
                      <div
                        class="col py-1"
                        v-for="facility in mainRoom.rooms[room.room_id].facilities.filter(
                          (fac) => fac.facilitytype_id == 6
                        )"
                        :key="facility"
                      >
                        <!-- <svg width="16" height="16" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M20.3546 0V5.10467L25.8084 2.16093L27.163 4.3548L20.3546 8.0294V16.8049L28.4824 12.4171V5.06667H31.1916V10.9541L35.9193 8.40307L37.2739 10.5969L32.5463 13.1493L38 16.0943L36.6454 18.2881L29.837 14.611L21.7093 18.9987L29.837 23.3877L36.6454 19.7119L38 21.9057L32.5463 24.8495L37.2739 27.4031L35.9193 29.5969L31.1916 27.0446V32.9333H28.4824V25.5816L20.3546 21.1926V29.9693L27.163 33.6452L25.8084 35.8391L20.3546 32.8953V38H17.6454V32.8941L12.1916 35.8391L10.837 33.6452L17.6454 29.9693V21.1926L9.51761 25.5803V32.9333H6.80836V27.0433L2.08071 29.5969L0.72608 27.4031L5.45237 24.8495L0 21.9057L1.35463 19.7119L8.16163 23.3865L16.2894 18.9987L8.16163 14.611L1.35463 18.2881L0 16.0943L5.45373 13.148L0.72608 10.5969L2.08071 8.40307L6.80836 10.9541V5.06667H9.51761V12.4171L17.6454 16.8049V8.0294L10.837 4.3548L12.1916 2.16093L17.6454 5.10467V0H20.3546Z" fill="#505E6B" />
                                                </svg> -->
                        <span class="ms-1">
                          <span class="ms-1">-</span> {{ facility.name }}
                        </span>
                      </div>
                    </div>
                  </div>

                  <div class="mt-4">
                    <strong>Informasi Sarapan:</strong>
                    <div class="row">
                      <small class="col py-1">
                        {{
                          infoSarapan(
                            meals.filter((meal) => meal.room_id == room.room_id)[0]
                              .detail_mealplan[0].title
                          )
                        }}
                      </small>
                    </div>
                  </div>

                  <div class="mt-4 d-flex justify-content-between align-items-center">
                    <div>
                      <div class="fw-bold fs-3 __text-primary">
                        {{
                          rupiah(percent(room.min_price.price), room.min_price.currency)
                        }}
                      </div>
                      <div class="text-muted">
                        {{ getDates(checkin_date, checkout_date) }} malam
                      </div>
                    </div>

                    <b-button
                      @click.prevent="
                        setSelectedRoom(
                          room.name_without_policy,
                          percent(room.min_price.price) * parseInt(room_number),
                          mainRoom.rooms[room.room_id].photos[0].url_640x200,
                          infoSarapan(
                            meals.filter((meal) => meal.room_id == room.room_id)[0]
                              .detail_mealplan[0].title
                          )
                        )
                      "
                      :class="`__btn-primary px-5`"
                      data-bs-toggle="modal"
                      data-bs-target="#selectRoom"
                    >
                      <div>Pilih</div>
                    </b-button>
                  </div>
                </b-col>
              </b-row>
            </b-card>
          </div>
        </b-col>
      </b-row>

      <div
        class="modal fade"
        id="selectRoom"
        data-bs-backdrop="static"
        data-bs-keyboard="false"
        tabindex="-1"
        aria-labelledby="selectRoomLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-lg position-relative">
          <div class="modal-content">
            <div class="modal-header border-0 __bg-primary">
              <h5
                class="fw-bold modal-title text-white w-100 text-center"
                id="selectRoomLabel"
              >
                Pembayaran Pesanan
              </h5>

              <button
                type="button"
                class="position-absolute __bg-primary border-0"
                data-bs-dismiss="modal"
              >
                <svg
                  width="30"
                  height="30"
                  viewBox="0 0 40 40"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M15.2832 24.7165L24.7165 15.2832"
                    stroke="white"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M24.7165 24.7165L15.2832 15.2832"
                    stroke="white"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M15.0002 36.6668H25.0002C33.3335 36.6668 36.6668 33.3335 36.6668 25.0002V15.0002C36.6668 6.66683 33.3335 3.3335 25.0002 3.3335H15.0002C6.66683 3.3335 3.3335 6.66683 3.3335 15.0002V25.0002C3.3335 33.3335 6.66683 36.6668 15.0002 36.6668Z"
                    stroke="white"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </button>
            </div>

            <div class="modal-body px-4">
              <div class="text-center __text-primary fs-5 fw-bold bg-light py-2">
                Detail Tamu
              </div>
              <b-card class="p-3 border-0">
                <b-row v-for="(guest, index) in guests" :key="index">
                  <b-col lg="12" :class="index > 0 ? 'mt-3' : ''">
                    <div class="text-dark fs-5 fw-bold bg-light py-2 px-3">
                      Kamar {{ index + 1 }}
                    </div>
                  </b-col>

                  <b-col lg="4" class="mt-3">
                    <label class="fw-semibold">Titel</label>
                    <select
                      v-model="guest.title"
                      :name="`guest[${index}]['title']`"
                      class="form-select __form-control w-100"
                    >
                      <option value="Tuan">Tuan</option>
                      <option value="Nyonya">Nyonya</option>
                    </select>
                  </b-col>

                  <b-col lg="8" class="mt-3">
                    <label class="fw-semibold">Nama Tamu</label>
                    <input
                      v-model="guest.name"
                      :name="`guest[${index}]['name']`"
                      type="text"
                      class="form-control __form-control"
                    />
                  </b-col>
                </b-row>
              </b-card>

              <ListPemasok @update-id-penjual="updateIdPenjual" />

              <div class="text-center __text-primary fs-5 fw-bold bg-light py-2 mt-4">
                Detail Pesanan
              </div>
              <b-card class="p-3 border-0">
                <b-row>
                  <b-col lg="5" class="position-relative">
                    <div class="room-name">
                      {{ selected_room.room_name }}
                    </div>

                    <b-img
                      :src="selected_room.image"
                      fluid
                      rounded
                      class="h-100"
                      style="object-fit: cover; object-position: center center"
                    ></b-img>
                  </b-col>
                  <b-col lg="7">
                    <div class="fw-bold mb-3 text-dark">{{ hotel && hotel.name }}</div>
                    {{ getDates(checkin_date, checkout_date) }} Malam
                    <span class="__text-primary">({{ parseInt(room_number) }}x)</span>
                    <b-row class="my-3 text-muted">
                      <b-col>
                        <div class="fw-bold">Check-in</div>
                        <div
                          class="p-2 border rounded bg-light d-flex align-items-center gap-2"
                        >
                          <svg
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <path
                              d="M8 2V5"
                              stroke="#D0D6DD"
                              stroke-width="1.5"
                              stroke-miterlimit="10"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                            />
                            <path
                              d="M16 2V5"
                              stroke="#D0D6DD"
                              stroke-width="1.5"
                              stroke-miterlimit="10"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                            />
                            <path
                              d="M3.5 9.08984H20.5"
                              stroke="#D0D6DD"
                              stroke-width="1.5"
                              stroke-miterlimit="10"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                            />
                            <path
                              d="M21 8.5V17C21 20 19.5 22 16 22H8C4.5 22 3 20 3 17V8.5C3 5.5 4.5 3.5 8 3.5H16C19.5 3.5 21 5.5 21 8.5Z"
                              stroke="#D0D6DD"
                              stroke-width="1.5"
                              stroke-miterlimit="10"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                            />
                            <path
                              d="M15.6947 13.7002H15.7037"
                              stroke="#D0D6DD"
                              stroke-width="2"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                            />
                            <path
                              d="M15.6947 16.7002H15.7037"
                              stroke="#D0D6DD"
                              stroke-width="2"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                            />
                            <path
                              d="M11.9955 13.7002H12.0045"
                              stroke="#D0D6DD"
                              stroke-width="2"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                            />
                            <path
                              d="M11.9955 16.7002H12.0045"
                              stroke="#D0D6DD"
                              stroke-width="2"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                            />
                            <path
                              d="M8.29431 13.7002H8.30329"
                              stroke="#D0D6DD"
                              stroke-width="2"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                            />
                            <path
                              d="M8.29431 16.7002H8.30329"
                              stroke="#D0D6DD"
                              stroke-width="2"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                            />
                          </svg>

                          <small>{{ formatDateMonth(checkin_date) }}</small>
                        </div>
                      </b-col>
                      <b-col>
                        <div class="fw-bold">Check-out</div>
                        <div
                          class="p-2 border rounded bg-light d-flex align-items-center gap-2"
                        >
                          <svg
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <path
                              d="M8 2V5"
                              stroke="#D0D6DD"
                              stroke-width="1.5"
                              stroke-miterlimit="10"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                            />
                            <path
                              d="M16 2V5"
                              stroke="#D0D6DD"
                              stroke-width="1.5"
                              stroke-miterlimit="10"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                            />
                            <path
                              d="M3.5 9.08984H20.5"
                              stroke="#D0D6DD"
                              stroke-width="1.5"
                              stroke-miterlimit="10"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                            />
                            <path
                              d="M21 8.5V17C21 20 19.5 22 16 22H8C4.5 22 3 20 3 17V8.5C3 5.5 4.5 3.5 8 3.5H16C19.5 3.5 21 5.5 21 8.5Z"
                              stroke="#D0D6DD"
                              stroke-width="1.5"
                              stroke-miterlimit="10"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                            />
                            <path
                              d="M15.6947 13.7002H15.7037"
                              stroke="#D0D6DD"
                              stroke-width="2"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                            />
                            <path
                              d="M15.6947 16.7002H15.7037"
                              stroke="#D0D6DD"
                              stroke-width="2"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                            />
                            <path
                              d="M11.9955 13.7002H12.0045"
                              stroke="#D0D6DD"
                              stroke-width="2"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                            />
                            <path
                              d="M11.9955 16.7002H12.0045"
                              stroke="#D0D6DD"
                              stroke-width="2"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                            />
                            <path
                              d="M8.29431 13.7002H8.30329"
                              stroke="#D0D6DD"
                              stroke-width="2"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                            />
                            <path
                              d="M8.29431 16.7002H8.30329"
                              stroke="#D0D6DD"
                              stroke-width="2"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                            />
                          </svg>

                          <small>{{ formatDateMonth(checkout_date) }}</small>
                        </div>
                      </b-col>
                    </b-row>

                    <div class="fw-bold mt-3 fs-3 __text-primary">
                      {{ selected_room.price }}
                    </div>
                  </b-col>
                </b-row>
              </b-card>
            </div>

            <div class="modal-footer border-0 text-center d-flex flex-column px-4">
              <button
                @click.prevent="makeAnOrder()"
                data-bs-dismiss="modal"
                class="btn __btn-primary w-100 py-3"
              >
                Pesan Akomodasi
              </button>
              <a
                href="#"
                data-bs-dismiss="modal"
                class="btn __btn-outline-primary w-100 py-3"
                >Batalkan Pesanan</a
              >
            </div>
          </div>
        </div>
      </div>
    </b-container>
  </b-skeleton-wrapper>
</template>

<script>
import axios from "axios";
import Navbar from "@/v2/components/Navbar.vue";
import ListPemasok from "@/v2/components/ListPemasokJasaPenerbanganDanHotel";

import id from "dayjs/locale/id";
import dayjs from "dayjs";

import vSelect from "vue-select";
import "vue-select/dist/vue-select.css";

import { Modal } from "bootstrap";

const now_date = new Date();
export default {
  components: {
    Navbar,
    vSelect,
    ListPemasok,
  },
  data() {
    return {
      loading: true,
      token: localStorage.getItem("token"),
      checkin_date:
        localStorage.getItem("checkin_date") || dayjs(now_date).format("YYYY-MM-DD"),
      checkout_date:
        localStorage.getItem("checkout_date") ||
        dayjs(now_date.setDate(now_date.getDate() + 1)).format("YYYY-MM-DD"),
      room_number: localStorage.getItem("room_number") || 1,
      hotel: null,
      photos: null,
      description: null,
      meals: null,
      rooms: null,
      reviews: null,
      hotel_id: this.$route.params.id,
      default_image:
        "https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50?f=y&d=mp",
      open: true,
      selected_room: {
        hotel_name: null,
        room_name: null,
        price: null,
        price_alt: null,
        image: null,
        night_count: null,
        checkin: null,
        checkout: null,
        guests: null,
        breakfast: null,
      },
      guests: [],
      id_penjual: process.env.VUE_APP_ID_PENJUAL_JASA,
    };
  },
  mounted() {
    this.getHotelDetail(this.hotel_id);
    this.getHotelPhotos(this.hotel_id);

    setTimeout(() => {
      this.getHotelDescription(this.hotel_id);
      this.getHotelRooms(this.hotel_id);
      this.getHotelReviews(this.hotel_id);
    }, 2000);
  },
  methods: {
    infoSarapan(title) {
      const str = title.toLowerCase();
      if (str.includes("termasuk sarapan")) {
        return "Harga Termasuk Sarapan";
      }

      if (str.includes("tersedia sarapan")) {
        return "Sarapan Tersedia";
      }

      return "Sarapan Tersedia";
    },
    updateIdPenjual(id_penjual) {
      this.id_penjual = id_penjual;
    },
    async getHotelDetail(hotel_id) {
      await fetch(
        `${process.env.VUE_APP_ENDPOINT_HOTELS_API}/hotels/data?hotel_id=${hotel_id}&locale=id`,
        {
          headers: {
            "X-RapidAPI-Key": process.env.VUE_APP_X_RAPIDAPI_HOTELS_KEY,
            "X-RapidAPI-Host": process.env.VUE_APP_X_RAPIDAPI_HOTELS_HOST,
          },
        }
      )
        .then((response) => response.json())
        .then((response) => (this.hotel = response))
        .catch((err) => console.error(err));
    },
    async getHotelPhotos(hotel_id) {
      await fetch(
        `${process.env.VUE_APP_ENDPOINT_HOTELS_API}/hotels/photos?locale=id&hotel_id=${hotel_id}`,
        {
          headers: {
            "X-RapidAPI-Key": process.env.VUE_APP_X_RAPIDAPI_HOTELS_KEY,
            "X-RapidAPI-Host": process.env.VUE_APP_X_RAPIDAPI_HOTELS_HOST,
          },
        }
      )
        .then((response) => response.json())
        .then((response) => (this.photos = response))
        .catch((err) => console.error(err));
    },
    async getHotelDescription(hotel_id) {
      await fetch(
        `${process.env.VUE_APP_ENDPOINT_HOTELS_API}/hotels/description?locale=id&hotel_id=${hotel_id}`,
        {
          headers: {
            "X-RapidAPI-Key": process.env.VUE_APP_X_RAPIDAPI_HOTELS_KEY,
            "X-RapidAPI-Host": process.env.VUE_APP_X_RAPIDAPI_HOTELS_HOST,
          },
        }
      )
        .then((response) => response.json())
        .then((response) => (this.description = response))
        .catch((err) => console.error(err));
    },
    async getHotelRooms(hotel_id) {
      await fetch(
        `${process.env.VUE_APP_ENDPOINT_HOTELS_API}/hotels/room-list?checkin_date=${this.checkin_date}&checkout_date=${this.checkout_date}&units=metric&currency=IDR&locale=id&adults_number_by_rooms=2&hotel_id=${hotel_id}`,
        {
          headers: {
            "X-RapidAPI-Key": process.env.VUE_APP_X_RAPIDAPI_HOTELS_KEY,
            "X-RapidAPI-Host": process.env.VUE_APP_X_RAPIDAPI_HOTELS_HOST,
          },
        }
      )
        .then((response) => response.json())
        .then((response) => {
          this.rooms = response;
          this.meals = response[0].block;
        })
        .catch((err) => console.error(err));
    },
    async getHotelReviews(hotel_id) {
      await fetch(
        `${process.env.VUE_APP_ENDPOINT_HOTELS_API}/hotels/reviews?hotel_id=${hotel_id}&sort_type=SORT_MOST_RELEVANT&locale=id&language_filter=id&customer_type=solo_traveller%2Creview_category_group_of_friends`,
        {
          headers: {
            "X-RapidAPI-Key": process.env.VUE_APP_X_RAPIDAPI_HOTELS_KEY,
            "X-RapidAPI-Host": process.env.VUE_APP_X_RAPIDAPI_HOTELS_HOST,
          },
        }
      )
        .then((response) => response.json())
        .then((response) => (this.reviews = response))
        .catch((err) => console.error(err))
        .then(() => (this.loading = false));
    },

    submitValidation() {
      const data = this.guests
        .map((data) => {
          return !data.name == "" && !data.title == "";
        })
        .includes(false);

      return data;
    },

    setSelectedRoom(name, price, image, breakfast) {
      this.guests = [];

      for (let index = 0; index < parseInt(this.room_number); index++) {
        this.guests.push({ title: "", name: "" });
      }

      this.open = true;
      this.selected_room = {
        type_jasa: "pesan_hotel",
        hotel_name: this.hotel.name,
        room_name: name,
        price: this.rupiah(price, "IDR"),
        price_alt: price,
        image: image,
        night_count: this.getDates(this.checkin_date, this.checkout_date),
        checkin: this.formatDate(this.checkin_date),
        checkout: this.formatDate(this.checkout_date),
        guests: this.guests,
        breakfast: breakfast,
      };
    },

    makeAnOrder() {
      if (this.submitValidation()) {
        const imgError = require("@/v2/assets/images/error/404-search-not-found.png");
        return this.$swal({
          confirmButtonText: "Kembali",
          customClass: {
            actions: "w-100",
            confirmButton: "btn __btn-primary w-100 mx-5 py-3 mt-3 mb-3",
          },
          html: `
            <img src="${imgError}" />
            <div class="text-dark fw-bold fs-4">Inputan tidak lengkap</div>
            <div class="text-muted mt-3">Silahkan lengkapi inputan sebelum melanjutkan.</div>
        `,
        }).then(() => new Modal("#selectRoom").show());
      }

      const obj = JSON.stringify({
        id_penjual: this.id_penjual,
        id_alamat: null,
        id_cart: null,
        total_harga_barang: this.selected_room.price_alt,
        total_harga_kurir: null,
        subtotal: this.selected_room.price_alt,
        jenis_pajak: "Bebas Pajak",
        jenis_pajak_value: 0,
        pajak_penghasilan: "Bebas Pajak",
        pajak_penghasilan_value: 0,
        total_pajak: 0,
        total_pajak_penghasilan: 0,
        kurir: null,
        etd: null,
        total_pembayaran: this.selected_room.price_alt,
        total_transaksi: this.selected_room.price_alt,
        jasa: JSON.stringify(this.selected_room),
      });

      axios
        .post(`/api/v1/pesanan/pesanan_langsung`, obj, {
          headers: {
            Authorization: `Bearer ${this.token}`,
            "Content-Type": "application/json",
          },
        })
        .then((resp) => {
          const imgSuccess = require("@/v2/assets/images/success/order-success.png");
          return this.$swal({
            confirmButtonText: "Lanjutkan",
            customClass: {
              actions: "w-100",
              confirmButton: "btn __btn-primary w-100 mx-5 py-3 mt-3 mb-3",
            },
            html: `
                        <img src="${imgSuccess}" />
                        <div class="text-dark fw-bold fs-4">Berhasil Membuat Pesanan</div>
                        <div class="text-muted mt-3">Pesanan anda sudah berhasil ditambahkan.</div>
                    `,
          }).then(() => {
            this.$router.push({ path: `/pembeli/pesanan-langsung/${resp.data.data.id}` });
          });
        });
    },
    rupiah(number, currency) {
      return new Intl.NumberFormat("id-ID", {
        style: "currency",
        currency: currency || "IDR",
        minimumFractionDigits: 0,
      }).format(Math.round(number));
    },
    percent(price) {
      price = parseInt(price);
      return (parseInt(process.env.VUE_APP_PRICE_PERCENTAGE_HOTEL) / 100) * price + price;
    },
    formatDate(dateString) {
      const date = dayjs(dateString).locale("id");
      return date.format("dddd, DD MMMM YYYY");
    },
    formatDateMonth(dateString) {
      const date = dayjs(dateString).locale("id");
      return date.format("DD MMMM YYYY");
    },
    formatDateTime(dateString) {
      const date = dayjs(dateString).locale("id");
      return date.format("DD MMMM YYYY HH:mm:ss");
    },
    getDates(startDate, endDate) {
      if (!startDate) {
        return 0;
      }

      if (!endDate) {
        return 1;
      }

      const date1 = new Date(startDate);
      const date2 = new Date(endDate);

      const DifferenceInTime = date2.getTime() - date1.getTime();
      return Math.round(DifferenceInTime / (1000 * 3600 * 24));
    },
  },
  computed: {
    //
  },
};
</script>

<style scoped>
.__card {
  border: 1px solid var(--primary-color);
  border-radius: 8px;
}

.__card .card-body {
  padding: 10px;
}

.__card .card-body h6 {
  font-weight: 600;
  font-size: 16px;
}

.__card .card-body h5 {
  font-size: 17px;
  font-weight: 600;
}

.__w-15 {
  width: 15%;
}

div.title h2 {
  font-size: 24px;
}

div.title > div h6 {
  display: inline-block;
  font-size: 15px;
  font-weight: 600;
}

div.title > div select {
  display: inline-block;
}

.bg-breadcrumb {
  background-color: #f5f5fb;
  color: white;
}

.breadcrumb {
  padding: 0.5rem 6rem;
}

.available-badge {
  width: 78px;
  height: 21px;

  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 21px;

  color: #ffffff;
  background: #0d6efd;
  border-radius: 50px;
  position: absolute;
  top: 10px;
  right: 20px;
  text-align: center;
}

.room-name {
  position: absolute;
  width: 80%;
  padding: 10px;
  margin: auto;
  height: 58px;
  bottom: 10px;
  left: 0;
  right: 0;
  background: #ffffff;
  opacity: 0.8;
  border-radius: 4px;
  display: flex;
  align-items: center;
}
</style>
