<template>
  <Navbar />

  <InlineCategory />

  <div class="mb-5">
    <div class="container-fluid position-relative">
      <div class="position-absolute text-white" style="top: 30%; left: 5%">
        <div class="fw-bolder fs-1">Antar Jemput <br />Bandara</div>
        <div>
          beliumkm.co.id menyediakan jasa antar jemput bandara <br />untuk memudahkan anda
          pergi ke bandara manapun <br />tanpa ribet dan sulit
        </div>
      </div>

      <img
        :src="require('@/v2/assets/images/banner/antar-jemput-bandara.png')"
        alt="Waktunya umkm untuk maju"
        class="img-fluid"
      />

      <div class="row px-5">
        <div class="col-lg-12">
          <div class="row-card shadow px-4">
            <div class="row">
              <div class="col-lg-6">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="card my-3" style="border-radius: 0.5rem !important">
                      <div class="card-body position-relative" style="height: 155px">
                        <div class="fw-bold fs-6 mb-2 mt-3">Tanggal Penjemputan</div>
                        <Datepicker
                          v-model="penjemputan.tanggal"
                          :enableTimePicker="false"
                          :format="format"
                          :minDate="new Date()"
                          autoApply
                          monthNameFormat="long"
                          placeholder="Pilih Tanggal Penjemputan"
                        >
                          <template #input-icon>
                            <svg
                              style="margin-top: -2px"
                              class="ms-2"
                              width="20"
                              height="20"
                              viewBox="0 0 24 24"
                              fill="none"
                              xmlns="http://www.w3.org/2000/svg"
                            >
                              <path
                                d="M8 2V5"
                                stroke="#8B95A5"
                                stroke-width="1.5"
                                stroke-miterlimit="10"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                              />
                              <path
                                d="M16 2V5"
                                stroke="#8B95A5"
                                stroke-width="1.5"
                                stroke-miterlimit="10"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                              />
                              <path
                                d="M3.5 9.08984H20.5"
                                stroke="#8B95A5"
                                stroke-width="1.5"
                                stroke-miterlimit="10"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                              />
                              <path
                                d="M21 8.5V17C21 20 19.5 22 16 22H8C4.5 22 3 20 3 17V8.5C3 5.5 4.5 3.5 8 3.5H16C19.5 3.5 21 5.5 21 8.5Z"
                                stroke="#8B95A5"
                                stroke-width="1.5"
                                stroke-miterlimit="10"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                              />
                              <path
                                d="M15.6947 13.7002H15.7037"
                                stroke="#8B95A5"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                              />
                              <path
                                d="M15.6947 16.7002H15.7037"
                                stroke="#8B95A5"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                              />
                              <path
                                d="M11.9955 13.7002H12.0045"
                                stroke="#8B95A5"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                              />
                              <path
                                d="M11.9955 16.7002H12.0045"
                                stroke="#8B95A5"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                              />
                              <path
                                d="M8.29431 13.7002H8.30329"
                                stroke="#8B95A5"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                              />
                              <path
                                d="M8.29431 16.7002H8.30329"
                                stroke="#8B95A5"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                              />
                            </svg>
                          </template>
                        </Datepicker>
                      </div>
                    </div>
                  </div>

                  <div class="col-lg-6">
                    <div class="card my-3" style="border-radius: 0.5rem !important">
                      <div class="card-body position-relative" style="height: 155px">
                        <div class="fw-bold fs-6 mb-2 mt-3">Waktu Penjemputan</div>
                        <Datepicker
                          v-model="penjemputan.waktu"
                          time-picker
                          autoApply
                          placeholder="Pilih Waktu Penjemputan"
                        >
                          <template #input-icon>
                            <svg
                              style="margin-top: -2px"
                              class="ms-2"
                              width="20"
                              height="20"
                              viewBox="0 0 24 24"
                              fill="none"
                              xmlns="http://www.w3.org/2000/svg"
                            >
                              <path
                                d="M22 12C22 17.52 17.52 22 12 22C6.48 22 2 17.52 2 12C2 6.48 6.48 2 12 2C17.52 2 22 6.48 22 12Z"
                                stroke="#8B95A5"
                                stroke-width="1.5"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                              />
                              <path
                                d="M15.7099 15.1798L12.6099 13.3298C12.0699 13.0098 11.6299 12.2398 11.6299 11.6098V7.50977"
                                stroke="#8B95A5"
                                stroke-width="1.5"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                              />
                            </svg>
                          </template>
                        </Datepicker>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-6 d-flex align-items-center">
                <div class="w-100">
                  <div class="card my-3">
                    <div class="card-body position-relative" style="height: 155px">
                      <!-- <svg
                        class="position-absolute top-0 start-0"
                        width="630" height="220" viewBox="0 0 630 220" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <mask id="path-1-inside-1_21_2" fill="white">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M341.877 0C341.877 13.8071 329.844 25 315 25C300.156 25 288.123 13.8071 288.123 0H8C3.58172 0 0 3.58173 0 8.00001V212C0 216.418 3.58172 220 8 220H288.123C288.123 206.193 300.156 195 315 195C329.844 195 341.877 206.193 341.877 220H622C626.418 220 630 216.418 630 212V8C630 3.58172 626.418 0 622 0H341.877Z"/>
                        </mask>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M341.877 0C341.877 13.8071 329.844 25 315 25C300.156 25 288.123 13.8071 288.123 0H8C3.58172 0 0 3.58173 0 8.00001V212C0 216.418 3.58172 220 8 220H288.123C288.123 206.193 300.156 195 315 195C329.844 195 341.877 206.193 341.877 220H622C626.418 220 630 216.418 630 212V8C630 3.58172 626.418 0 622 0H341.877Z" fill="white"/>
                        <path d="M341.877 0V-1H340.877V0H341.877ZM288.123 0H289.123V-1H288.123V0ZM288.123 220V221H289.123V220H288.123ZM341.877 220H340.877V221H341.877V220ZM315 26C330.327 26 342.877 14.4264 342.877 0H340.877C340.877 13.1879 329.361 24 315 24V26ZM287.123 0C287.123 14.4264 299.673 26 315 26V24C300.639 24 289.123 13.1879 289.123 0H287.123ZM8 1H288.123V-1H8V1ZM1 8.00001C1 4.13401 4.13401 1 8 1V-1C3.02944 -1 -1 3.02944 -1 8.00001H1ZM1 212V8.00001H-1V212H1ZM8 219C4.13401 219 1 215.866 1 212H-1C-1 216.971 3.02944 221 8 221V219ZM288.123 219H8V221H288.123V219ZM289.123 220C289.123 206.812 300.639 196 315 196V194C299.673 194 287.123 205.574 287.123 220H289.123ZM315 196C329.361 196 340.877 206.812 340.877 220H342.877C342.877 205.574 330.327 194 315 194V196ZM622 219H341.877V221H622V219ZM629 212C629 215.866 625.866 219 622 219V221C626.971 221 631 216.971 631 212H629ZM629 8V212H631V8H629ZM622 1C625.866 1 629 4.13401 629 8H631C631 3.02944 626.971 -1 622 -1V1ZM341.877 1H622V-1H341.877V1Z" fill="#D0D6DD" mask="url(#path-1-inside-1_21_2)"/>
                      </svg> -->

                      <div
                        class="position-absolute top-50 start-50 translate-middle"
                        style="margin-top: 0.4rem"
                      >
                        <svg
                          width="1"
                          height="80"
                          viewBox="0 0 1 80"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <line
                            x1="0.5"
                            y1="2.18557e-08"
                            x2="0.499997"
                            y2="80"
                            stroke="#D0D6DD"
                            stroke-dasharray="4 4"
                          />
                        </svg>
                      </div>

                      <!-- <div
                        class="position-absolute top-50 start-50 translate-middle"
                        style="margin-top: 0.4rem"
                      >
                        <svg
                          width="40"
                          height="40"
                          viewBox="0 0 40 40"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <circle cx="20" cy="20" r="20" fill="#4C2A86" />
                          <path
                            d="M28.5 22.9902L23.49 28.0102"
                            stroke="white"
                            stroke-width="1.5"
                            stroke-miterlimit="10"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                          />
                          <path
                            d="M11.5 22.9902H28.5"
                            stroke="white"
                            stroke-width="1.5"
                            stroke-miterlimit="10"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                          />
                          <path
                            d="M11.5 17.0102L16.51 11.9902"
                            stroke="white"
                            stroke-width="1.5"
                            stroke-miterlimit="10"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                          />
                          <path
                            d="M28.5 17.0098H11.5"
                            stroke="white"
                            stroke-width="1.5"
                            stroke-miterlimit="10"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                          />
                        </svg>
                      </div> -->

                      <div
                        class="row position-absolute justify-content-center w-100"
                      >
                        <div class="col-12 col-lg-12 pe-5 mt-3 ms-3 align-self-center">
                          <div class="fw-bold fs-6 mb-2">Pilih Bandara</div>
                          <select
                            class="__form-control form-select __text-primary"
                            v-model="lokasi.bandara"
                          >
                            <option value="0">Pilih Lokasi Bandara</option>
                            <option
                              :value="bandara.id"
                              v-for="bandara in collection.bandara"
                              :key="bandara.id"
                            >
                              {{ bandara.name }}
                            </option>
                          </select>
                        </div>

                        <div class="col-lg-6 ps-5 align-self-center d-none">
                          <div class="fw-bold fs-6 mb-2">Provinsi</div>
                          <select class="__form-control form-select __text-primary" @change="getCity(lokasi.province)" v-model="lokasi.province">
                              <option value="0">Pilih Provinsi</option>
                              <option :value="province.id" v-for="province in collection.provinces" :key="province.id">
                                  {{ province.name }}
                              </option>
                          </select>

                          <div class="fw-bold fs-6 mb-2 mt-3">Kabupaten/Kota</div>
                          <select
                            class="__form-control form-select __text-primary"
                            name=""
                            v-model="lokasi.kota"
                          >
                            <option value="0">Pilih Lokasi Kabupaten/Kota</option>
                            <option
                              :value="city.id"
                              v-for="city in collection.cities"
                              v-bind:key="city.id"
                            >
                              {{ city.name }}
                            </option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="text-center mb-3">
                    <b-button
                      @click.prevent="getTransportasi()"
                      :class="`__btn-primary w-100 px-5 py-3 position-relative`"
                      :disabled="isLoading || disabledButton()"
                    >
                      <div
                        v-show="isLoading"
                        class="lds-dual-ring position-absolute"
                        style="top: 0; left: 0"
                      ></div>
                      <div class="px-3">Cari Jasa</div>
                    </b-button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid" style="margin-top: 3rem" v-if="transports.length > 0">
      <div class="text-center">
        <div class="fs-3 fw-bold">Antar Jemput Bandara</div>
        Menampilkan {{ transport.count }} antar jemput bandara terbaik
      </div>

      <div class="row">
        <div
          class="col-lg-6"
          v-for="(transport, mainIndex) in transports"
          :key="mainIndex"
        >
          <b-card class="__card mt-4">
            <div class="d-flex align-items-center">
              <div style="width: 35%" class="me-5 position-relative">
                <span
                  style="right: 0"
                  :class="`${
                    transport.stok == 'ready' ? '__bg-info' : '__bg-danger'
                  } position-absolute rounded-pill px-2`"
                  >{{ transport.stok == "ready" ? "Tersedia" : "Tidak Tersedia" }}</span
                >
                <img
                  :src="transport.image[0]"
                  alt=""
                  width="213"
                  height="142"
                  class="mt-5"
                />
              </div>

              <div class="py-2">
                <div class="fs-5 fw-bold">{{ transport.name }}</div>

                <div class="d-flex gap-2 mt-2">
                  <svg
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M12 12C14.7614 12 17 9.76142 17 7C17 4.23858 14.7614 2 12 2C9.23858 2 7 4.23858 7 7C7 9.76142 9.23858 12 12 12Z"
                      stroke="#626B79"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                    <path
                      d="M20.5901 22C20.5901 18.13 16.7402 15 12.0002 15C7.26015 15 3.41016 18.13 3.41016 22"
                      stroke="#626B79"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                  <span class="text-muted fw-semibold"
                    >{{ transport.kapasitas }} Orang</span
                  >
                </div>

                <div class="mt-4 fs-5 fw-bold __text-primary">
                  Rp {{ transport.show_price }}
                </div>

                <div class="mt-3 d-flex align-items-center gap-4">
                  <button
                    @click.prevent="selectedTransport(transport)"
                    class="btn __btn-primary py-2 px-5"
                    data-bs-toggle="modal"
                    data-bs-target="#selectTransport"
                  >
                    Pilih
                  </button>
                  <span
                    @click.prevent="openModalDeskripsi(transport)"
                    class="cursor-pointer __text-primary"
                    >Informasi</span
                  >
                </div>
              </div>
            </div>
          </b-card>
        </div>
      </div>
    </div>

    <div
      class="modal fade"
      id="selectTransport"
      data-bs-backdrop="static"
      data-bs-keyboard="false"
      tabindex="1"
      aria-labelledby="selectTransportLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-lg position-relative">
        <div class="modal-content">
          <div class="modal-header border-0 __bg-primary">
            <h5
              class="fw-bold modal-title text-white w-100 text-center"
              id="selectTransportLabel"
            >
              {{ confirm_selected ? "Detail Penumpang" : "Konfirmasi Pilihan" }}
            </h5>

            <button
              type="button"
              class="position-absolute __bg-primary border-0"
              data-bs-dismiss="modal"
              @click.prevent="selectedTransport(null)"
            >
              <svg
                width="30"
                height="30"
                viewBox="0 0 40 40"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M15.2832 24.7165L24.7165 15.2832"
                  stroke="white"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M24.7165 24.7165L15.2832 15.2832"
                  stroke="white"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M15.0002 36.6668H25.0002C33.3335 36.6668 36.6668 33.3335 36.6668 25.0002V15.0002C36.6668 6.66683 33.3335 3.3335 25.0002 3.3335H15.0002C6.66683 3.3335 3.3335 6.66683 3.3335 15.0002V25.0002C3.3335 33.3335 6.66683 36.6668 15.0002 36.6668Z"
                  stroke="white"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </button>
          </div>

          <div class="modal-body px-4" v-if="transport.selected">
            <template v-if="confirm_selected">
              <div class="text-center __text-primary fs-5 fw-semibold bg-light py-2">
                Data Penumpang
              </div>
              <b-row>
                <b-col lg="6" class="my-2">
                  <label class="fw-normal mb-1 fs-6 d-block text-start">
                    Nama Depan <span class="text-danger">*</span>
                  </label>
                  <input
                    v-model="passenger.first_name"
                    type="text"
                    class="form-control __form-control"
                  />
                  <small class="d-block text-muted text-start" style="font-size: 12px">
                    Isi sesuai KTP/Paspor/SIM (tanpa tanda baca dan gelar)
                  </small>
                </b-col>
                <b-col lg="6" class="my-2">
                  <label class="fw-normal mb-1 fs-6 d-block text-start">
                    Nama Belakang <span class="text-danger">*</span>
                  </label>
                  <input
                    v-model="passenger.last_name"
                    type="text"
                    class="form-control __form-control"
                  />
                  <small class="d-block text-muted text-start" style="font-size: 12px">
                    Isi sesuai KTP/Paspor/SIM (tanpa tanda baca dan gelar)
                  </small>
                </b-col>
                <b-col lg="6" class="my-2">
                  <label class="fw-normal mb-1 fs-6 d-block text-start">
                    Jenis Kelamin <span class="text-danger">*</span>
                  </label>
                  <select
                    v-model="passenger.gender"
                    class="form-select __form-control w-100"
                  >
                    <option value="">Pilih</option>
                    <option value="Laki-laki">Laki-laki</option>
                    <option value="Perempuan">Perempuan</option>
                  </select>
                </b-col>
                <b-col lg="6" class="my-2">
                  <label class="fw-normal mb-1 fs-6 d-block text-start">
                    Tanggal lahir <span class="text-danger">*</span>
                  </label>
                  <Datepicker
                    v-model="passenger.birth_date"
                    :enableTimePicker="false"
                    :format="format"
                    autoApply
                  >
                  </Datepicker>
                </b-col>
              </b-row>
            </template>

            <template v-else>
              <div class="text-center __text-primary fs-5 fw-semibold bg-light py-2">
                Detail Penjemputan
              </div>
              <div class="d-flex align-items-center gap-3 fs-5 fw-bold">
                <div>Bandara {{ transport.selected.bandara }}</div>
                <svg
                  v-if="transport.selected.kota"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M14.4302 5.92969L20.5002 11.9997L14.4302 18.0697"
                    stroke="#232933"
                    stroke-width="1.5"
                    stroke-miterlimit="10"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M3.5 12H20.33"
                    stroke="#232933"
                    stroke-width="1.5"
                    stroke-miterlimit="10"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
                <div>{{ transport.selected.kota }}</div>
              </div>
              <div class="d-flex align-items-center gap-1 text-muted">
                <div>{{ formatDateDay(penjemputan.tanggal) }}</div>
                <div>·</div>
                <div>{{ formatTime() }}</div>
              </div>

              <div class="text-center __text-primary fs-5 fw-semibold bg-light py-2 mt-5">
                Detail Pesanan
              </div>
              <b-card class="__card mt-4">
                <div class="d-flex align-items-center">
                  <div style="width: 35%" class="me-5 position-relative">
                    <span
                      style="right: 0"
                      :class="`${
                        transport.selected.stok == 'ready' ? '__bg-info' : '__bg-danger'
                      } position-absolute rounded-pill px-2`"
                      >{{
                        transport.selected.stok == "ready" ? "Tersedia" : "Tidak Tersedia"
                      }}</span
                    >
                    <img
                      :src="transport.selected.image[0]"
                      alt=""
                      width="213"
                      height="142"
                      class="mt-5"
                    />
                  </div>

                  <div class="py-2">
                    <div class="fs-5 fw-bold">{{ transport.selected.name }}</div>

                    <div class="d-flex align-items-center gap-1 text-muted my-2">
                      <div>{{ formatDateDay(penjemputan.tanggal) }}</div>
                      <div>·</div>
                      <div>{{ formatTime() }}</div>
                    </div>

                    <div class="d-flex gap-2 mt-2">
                      <svg
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M12 12C14.7614 12 17 9.76142 17 7C17 4.23858 14.7614 2 12 2C9.23858 2 7 4.23858 7 7C7 9.76142 9.23858 12 12 12Z"
                          stroke="#626B79"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                        <path
                          d="M20.5901 22C20.5901 18.13 16.7402 15 12.0002 15C7.26015 15 3.41016 18.13 3.41016 22"
                          stroke="#626B79"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                      </svg>
                      <span class="text-muted fw-semibold"
                        >{{ transport.selected.kapasitas }} Orang</span
                      >
                    </div>

                    <div class="mt-4 fs-3 fw-bold __text-primary">
                      Rp {{ transport.selected.show_price }}
                    </div>
                  </div>
                </div>
              </b-card>
            </template>
          </div>

          <div class="modal-footer border-0 text-center d-flex flex-column px-4">
            <template v-if="confirm_selected">
              <button
                @click.prevent="submitTransaction()"
                class="btn __btn-primary px-5 w-100 py-3"
                data-bs-dismiss="modal"
              >
                Pesan Sekarang
              </button>
            </template>

            <template v-else>
              <button
                class="btn __btn-primary px-5 w-100 py-3"
                @click.prevent="confirm_selected = true"
              >
                Lanjutkan Pesanan
              </button>
              <a
                @click.prevent="selectedTransport(null)"
                href="#"
                class="btn __btn-outline-primary px-5 w-100 py-3"
                data-bs-dismiss="modal"
                >Batalkan Pesanan</a
              >
            </template>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import Navbar from "@/v2/components/Navbar";
import InlineCategory from "@/v2/components/InlineCategory";

import Datepicker from "@vuepic/vue-datepicker";
import vSelect from "vue-select";
import dayjs from "dayjs";
import id from "dayjs/locale/id";

import "@vuepic/vue-datepicker/dist/main.css";
import "vue-select/dist/vue-select.css";

export default {
  components: {
    Navbar,
    InlineCategory,
    Datepicker,
    vSelect,
  },
  setup() {
    const format = (date) => {
      return dayjs(date).format("DD MMMM YYYY");
    };

    return {
      format,
    };
  },
  data() {
    return {
      isLoading: false,
      token: localStorage.getItem("token"),
      penjemputan: {
        tanggal: "",
        waktu: "",
      },
      lokasi: {
        bandara: "",
        province: "",
        kota: "",
      },
      collection: {
        bandara: [],
        provinces: [],
        cities: [],
      },
      transports: [],
      transport: {
        count: 0,
        selected: null,
      },
      confirm_selected: false,
      passenger: {
        first_name: "",
        last_name: "",
        gender: "",
        birth_date: "",
      },
    };
  },
  mounted() {
    this.getBandara();
    this.getProvinces();
  },
  methods: {
    async getBandara() {
      await axios.get("/api/v1/location/bandara").then((res) => {
        this.collection.bandara = res.data.data;
      });
    },

    async getProvinces() {
        await axios.get('/api/v1/shipper/provinces')
        .then(res => {
            this.collection.provinces = res.data;
        })
    },

    //mengambil data kota berdasar provinsi yang dipilih pengguna dari shipper
    async getCity(id) {
      await axios.get(`/api/v1/shipper/province/${id}/cities`).then((res) => {
        this.collection.cities = res.data;
      });
    },

    // async getCity() {
    //   await axios.get(`/api/v1/location/cities`).then((res) => {
    //     this.collection.cities = res.data.data;
    //   });
    // },

    async getTransportasi() {
      this.isLoading = true;
      const formData = {
        bandara: this.lokasi.bandara,
        kota: this.lokasi.kota,
      };

      await axios
        .post(`/api/v1/product/transportasi/antar-jemput-bandara`, formData)
        .then((res) => {
          this.transports = res.data.data;
          this.transport.count = res.data.meta.total;
          this.isLoading = false;
        });
    },

    openModalDeskripsi(transport) {
      this.$swal({
        confirmButtonText: "Tutup",
        customClass: {
          actions: "w-100",
          confirmButton: "btn __btn-primary w-100 mx-5 py-3 mt-3 mb-4",
        },
        html: `
            <div class="mx-4">
                <img class="my-3" src="${transport.image[0]}">
                <div class="mt-3 fs-5 fw-bold text-start">${transport.name}</div>
                <div class="mt-3 text-start">${transport.deskripsi}</div>
            </div>
        `,
      });
    },

    selectedTransport(transport) {
      this.confirm_selected = false;
      this.transport.selected = transport;
    },

    formatDateDay(date) {
      return dayjs(date).locale(id).format("dddd, DD MMMM YYYY");
    },

    formatTime() {
      let hours = `${this.penjemputan.waktu.hours}`;
      if (this.penjemputan.waktu.hours < 10) {
        hours = `0${this.penjemputan.waktu.hours}`;
      }

      let minutes = `${this.penjemputan.waktu.minutes}`;
      if (this.penjemputan.waktu.minutes < 10) {
        minutes = `0${this.penjemputan.waktu.minutes}`;
      }

      return `${hours}:${minutes}`;
    },

    disabledButton() {
      return (
        this.penjemputan.tanggal === "" ||
        this.penjemputan.waktu === "" ||
        this.lokasi.bandara === ""
        // this.lokasi.kota === ""
      );
    },

    submitTransaction() {
      const offers = {
        type_jasa: "antar_jemput_bandara",
        penjemputan: {
          tanggal: this.formatDateDay(this.penjemputan.tanggal),
          waktu: this.formatTime(),
        },
        product: this.transport.selected,
        passenger: this.passenger,
      };

      const total_harga = this.transport.selected.price;

      const obj = JSON.stringify({
        id_penjual: this.transport.selected.id_penjual,
        id_alamat: null,
        id_cart: null,
        total_harga_barang: total_harga,
        total_harga_kurir: null,
        subtotal: total_harga,
        jenis_pajak: "Bebas Pajak",
        jenis_pajak_value: 0,
        pajak_penghasilan: "Bebas Pajak",
        pajak_penghasilan_value: 0,
        total_pajak: 0,
        total_pajak_penghasilan: 0,
        kurir: null,
        etd: null,
        total_pembayaran: total_harga,
        total_transaksi: total_harga,
        jasa: JSON.stringify(offers),
      });

      axios
        .post(`/api/v1/pesanan/pesanan_langsung`, obj, {
          headers: {
            Authorization: `Bearer ${this.token}`,
            "Content-Type": "application/json",
          },
        })
        .then((resp) => {
          const imgSuccess = require("@/v2/assets/images/success/order-success.png");
          return this.$swal({
            confirmButtonText: "Lanjutkan",
            customClass: {
              actions: "w-100",
              confirmButton: "btn __btn-primary w-100 mx-5 py-3 mt-3 mb-3",
            },
            html: `
                <img src="${imgSuccess}" />
                <div class="text-dark fw-bold fs-4">Berhasil Membuat Pesanan</div>
                <div class="text-muted mt-3">Pesanan anda sudah berhasil ditambahkan.</div>
            `,
          }).then(() => {
            this.$router.push({ path: `/pembeli/pesanan-langsung/${resp.data.data.id}` });
          });
        });
    },
  },
  computed: {
    //
  },
};
</script>

<style scoped>
.lds-dual-ring {
  display: inline-block;
  width: 20px;
  height: 20px;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 20px;
  height: 20px;
  margin: 8px;
  border-radius: 50%;
  border: 3px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

div.title h2 {
  font-size: 24px;
}

div.title > div h6 {
  display: inline-block;
  font-size: 15px;
  font-weight: 600;
}

div.title > div select {
  display: inline-block;
}

.bg-input {
  background-color: #edf0f2;
  color: rgba(35, 41, 51, 1);
}
.bg-input button.btn {
  background-color: #edf0f2;
  color: rgba(35, 41, 51, 1);
}
.bg-input button.btn:hover {
  background-color: #dfdfdf;
  border-radius: 0;
}

.row-card {
  margin: auto;
  margin-top: -8rem;
  padding: 3rem 0;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 30px 60px -15px rgba(143, 144, 188, 0.15);
  backdrop-filter: blur(10px);
  border-radius: 8px;
  color: #8b95a5;
}

.available-badge {
  width: 78px;
  height: 21px;

  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 21px;

  color: #ffffff;
  background: #0d6efd;
  border-radius: 50px;
  position: absolute;
  top: -30px;
  right: 30px;
}
</style>
