<template>
    <Navbar />

    <InlineCategory />

    <div class="mb-5">
        <div class="container-fluid position-relative">
            <div class="position-absolute text-white" style="top: 30%; left: 5%;">
                <div class="fw-bolder fs-1">Tiket Bus & Travel</div>
                <div>beliumkm.co.id menyediakan jasa tiket bus & travel yang <br/>pastinya bertujuan untuk memudahkan perjalanan <br/>anda kemana pun anda ingin bepergian</div>
            </div>

            <img :src="require('@/v2/assets/images/banner/tiket-bus-travel.png')" alt="Waktunya umkm untuk maju" class="img-fluid">

            <div class="row px-5">
                <div class="col-lg-12">
                    <div class="row-card shadow px-4">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="card my-3" style="border-radius: 0.5rem !important;">
                                            <div class="card-body position-relative" style="height: 155px;">
                                                <div class="fw-bold fs-6 mb-2 mt-3">Tanggal Keberangkatan</div>
                                                <Datepicker v-model="tanggal.berangkat" :enableTimePicker="false" :format="format" :minDate="new Date()" autoApply monthNameFormat="long" placeholder="Pilih Tanggal Keberangkatan">
                                                    <template #input-icon>
                                                        <svg style="margin-top: -2px;" class="ms-2" width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M8 2V5" stroke="#8B95A5" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                                                            <path d="M16 2V5" stroke="#8B95A5" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                                                            <path d="M3.5 9.08984H20.5" stroke="#8B95A5" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                                                            <path d="M21 8.5V17C21 20 19.5 22 16 22H8C4.5 22 3 20 3 17V8.5C3 5.5 4.5 3.5 8 3.5H16C19.5 3.5 21 5.5 21 8.5Z" stroke="#8B95A5" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                                                            <path d="M15.6947 13.7002H15.7037" stroke="#8B95A5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                            <path d="M15.6947 16.7002H15.7037" stroke="#8B95A5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                            <path d="M11.9955 13.7002H12.0045" stroke="#8B95A5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                            <path d="M11.9955 16.7002H12.0045" stroke="#8B95A5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                            <path d="M8.29431 13.7002H8.30329" stroke="#8B95A5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                            <path d="M8.29431 16.7002H8.30329" stroke="#8B95A5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                        </svg>
                                                    </template>
                                                </Datepicker>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-6">
                                        <div class="card my-3" style="border-radius: 0.5rem !important;">
                                            <div class="card-body position-relative" style="height: 155px;">
                                                <div class="fw-bold fs-6 mb-2 mt-3">Jumlah Penumpang</div>
                                                <select class="__form-control form-select text-muted" disabled v-model="passenger_count">
                                                    <option value="">Pilih Jumlah Penumpang</option>
                                                    <option :value="i" v-for="i in 10">{{ i }} Orang</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6 d-flex align-items-center">
                                <div class="w-100">
                                    <div class="card my-3 border-0" style="background: transparent;">
                                        <div class="card-body position-relative" style="height: 146px;">
                                            <svg class="position-absolute top-0 start-0" viewBox="0 0 586 146" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <mask id="path-1-inside-1_555_12522" fill="white">
                                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M318 0C318 13.8071 306.807 25 293 25C279.193 25 268 13.8071 268 0H8C3.58172 0 0 3.58173 0 8V138C0 142.418 3.5817 146 7.99998 146H268C268 132.193 279.193 121 293 121C306.807 121 318 132.193 318 146H578C582.418 146 586 142.418 586 138V8C586 3.58172 582.418 0 578 0H318Z"/>
                                                </mask>
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M318 0C318 13.8071 306.807 25 293 25C279.193 25 268 13.8071 268 0H8C3.58172 0 0 3.58173 0 8V138C0 142.418 3.5817 146 7.99998 146H268C268 132.193 279.193 121 293 121C306.807 121 318 132.193 318 146H578C582.418 146 586 142.418 586 138V8C586 3.58172 582.418 0 578 0H318Z" fill="white"/>
                                                <path d="M318 0V-1H317V0H318ZM268 0H269V-1H268V0ZM268 146V147H269V146H268ZM318 146H317V147H318V146ZM293 26C307.359 26 319 14.3594 319 0H317C317 13.2548 306.255 24 293 24V26ZM267 0C267 14.3594 278.641 26 293 26V24C279.745 24 269 13.2548 269 0H267ZM8 1H268V-1H8V1ZM1 8C1 4.13401 4.13401 1 8 1V-1C3.02944 -1 -1 3.02944 -1 8H1ZM1 138V8H-1V138H1ZM7.99998 145C4.13399 145 1 141.866 1 138H-1C-1 142.971 3.02942 147 7.99998 147V145ZM268 145H7.99998V147H268V145ZM269 146C269 132.745 279.745 122 293 122V120C278.641 120 267 131.641 267 146H269ZM293 122C306.255 122 317 132.745 317 146H319C319 131.641 307.359 120 293 120V122ZM578 145H318V147H578V145ZM585 138C585 141.866 581.866 145 578 145V147C582.971 147 587 142.971 587 138H585ZM585 8V138H587V8H585ZM578 1C581.866 1 585 4.13401 585 8H587C587 3.02944 582.971 -1 578 -1V1ZM318 1H578V-1H318V1Z" fill="#D0D6DD" mask="url(#path-1-inside-1_555_12522)"/>
                                            </svg>

                                            <div class="position-absolute top-50 start-50 translate-middle" style="margin-top: 0.4rem;">
                                                <svg width="1" height="80" viewBox="0 0 1 80" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <line x1="0.5" y1="2.18557e-08" x2="0.499997" y2="80" stroke="#D0D6DD" stroke-dasharray="4 4"/>
                                                </svg>
                                            </div>

                                            <div class="position-absolute top-50 start-50 translate-middle" style="margin-top: 0.4rem;">
                                                <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <circle cx="20" cy="20" r="20" fill="#4C2A86"/>
                                                    <path d="M28.5 22.9902L23.49 28.0102" stroke="white" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                                                    <path d="M11.5 22.9902H28.5" stroke="white" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                                                    <path d="M11.5 17.0102L16.51 11.9902" stroke="white" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                                                    <path d="M28.5 17.0098H11.5" stroke="white" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                                                </svg>
                                            </div>

                                            <div class="row position-absolute justify-content-center" style="width: 96%">
                                                <div class="col-lg-6 pe-5">
                                                    <div class="fw-bold fs-6 mb-2 mt-3">Dari</div>
                                                    <select class="__form-control form-select" name="" v-model="lokasi.dari">
                                                        <option value="">Masukkan kabupaten/kota</option>
                                                        <option :value="city.city_id" v-for="city in collection.cities" v-bind:key="city.id">
                                                            {{ city.name }}
                                                        </option>
                                                    </select>
                                                </div>

                                                <div class="col-lg-6 ps-5">
                                                    <div class="fw-bold fs-6 mb-2 mt-3">Ke</div>
                                                    <select class="__form-control form-select" name="" v-model="lokasi.ke">
                                                        <option value="">Masukkan kabupaten/kota</option>
                                                        <option :value="city.city_id" v-for="city in collection.cities" v-bind:key="city.id">
                                                            {{ city.name }}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="text-center mb-3">
                                        <b-button @click.prevent="getTransportasi()" :class="`__btn-primary w-100 mt-1 px-5 py-3 position-relative`" :disabled="isLoading || disabledButton()">
                                            <div v-show="isLoading" class="lds-dual-ring position-absolute" style="top: 0; left: 0;"></div>
                                            <div class="px-3">Cari Jasa</div>
                                        </b-button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid" style="margin-top: 3rem;" v-if="transports.length > 0">
            <div class="text-center">
                <div class="fs-3 fw-bold">Tiket Bus dan Travel</div>
                Menampilkan {{ transport.count }} tiket bus dan travel terbaik
            </div>

            <div class="row">
                <div class="col-lg-6" v-for="(transport, mainIndex) in transports" :key="mainIndex">
                    <b-card class="__card mt-4">
                        <div class="d-flex align-items-center">
                            <div style="width: 35%;" class="me-5 position-relative">
                                <span style="right: 0;" :class="`${ transport.stok == 'ready' ? '__bg-info' : '__bg-danger' } position-absolute rounded-pill px-2`">{{ transport.stok == 'ready' ? 'Tersedia' : 'Tidak Tersedia' }}</span>
                                <img :src="transport.image[0]" alt="" width="213" height="142" class="mt-5">
                            </div>

                            <div class="py-2">
                                <div class="fs-5 fw-bold">{{ transport.name }}</div>

                                <small class="text-muted my-2">{{ formatDate(tanggal.berangkat) }}</small>

                                <div class="d-flex gap-2 mt-2">
                                    <span class="text-muted fw-semibold">{{ transport.keberangkatan.name }}</span>
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M14.4302 5.92969L20.5002 11.9997L14.4302 18.0697" stroke="#626B79" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                                        <path d="M3.5 12H20.33" stroke="#626B79" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                    <span class="text-muted fw-semibold">{{ transport.tujuan.name }}</span>
                                </div>

                                <div class="mt-4 fs-5 fw-bold __text-primary">Rp {{ transport.show_price }}<small class="text-muted fw-normal">/{{ transport.satuan.toLowerCase() }}</small></div>

                                <div class="mt-3 d-flex align-items-center gap-4">
                                    <button @click.prevent="selectedTransport(transport)" class="btn __btn-primary py-2 px-5" data-bs-toggle="modal" data-bs-target="#selectTransport">
                                        Pilih
                                    </button>
                                    <span @click.prevent="openModalDeskripsi(transport)" class="cursor-pointer __text-primary">Informasi</span>
                                </div>
                            </div>
                        </div>
                    </b-card>
                </div>
            </div>
        </div>

        <div class="container-fluid" style="margin-top: 3rem;" v-if="showNotFound">
            <div class="text-center">
                <div class="fs-3 fw-bold">Tidak ada data yang di tampilkan</div>
            </div>
        </div>

        <div class="modal fade" id="selectTransport" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="1" aria-labelledby="selectTransportLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg position-relative">
                <div class="modal-content">
                    <div class="modal-header border-0 __bg-primary">
                        <h5 class="fw-bold modal-title text-white w-100 text-center" id="selectTransportLabel">
                            {{ confirm_selected ? 'Detail Penumpang' : 'Konfirmasi Pilihan' }}
                        </h5>

                        <button type="button" class="position-absolute __bg-primary border-0" data-bs-dismiss="modal" @click.prevent="selectedTransport(null)">
                            <svg width="30" height="30" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M15.2832 24.7165L24.7165 15.2832" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M24.7165 24.7165L15.2832 15.2832" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M15.0002 36.6668H25.0002C33.3335 36.6668 36.6668 33.3335 36.6668 25.0002V15.0002C36.6668 6.66683 33.3335 3.3335 25.0002 3.3335H15.0002C6.66683 3.3335 3.3335 6.66683 3.3335 15.0002V25.0002C3.3335 33.3335 6.66683 36.6668 15.0002 36.6668Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </button>
                    </div>

                    <div class="modal-body px-4" v-if="transport.selected">
                        <template v-if="confirm_selected">
                            <div class="mb-3" v-for="(passenger, i) in passengers" :key="i">
                                <div class="text-center __text-primary fs-5 fw-semibold bg-light py-2">Penumpang {{ i }}</div>
                                <b-row>
                                    <b-col lg="6" class="my-2">
                                        <label class="fw-normal mb-1 fs-6 d-block text-start">
                                            Nama Depan <span class="text-danger">*</span>
                                        </label>
                                        <input v-model="passenger.first_name" :name="`passenger['data'][${i}]['first_name']`" type="text" class="form-control __form-control">
                                        <small class="d-block text-muted text-start" style="font-size: 12px;">
                                            Isi sesuai KTP/Paspor/SIM (tanpa tanda baca dan gelar)
                                        </small>
                                    </b-col>
                                    <b-col lg="6" class="my-2">
                                        <label class="fw-normal mb-1 fs-6 d-block text-start">
                                            Nama Belakang <span class="text-danger">*</span>
                                        </label>
                                        <input v-model="passenger.last_name" :name="`passenger['data'][${i}]['last_name']`" type="text" class="form-control __form-control">
                                        <small class="d-block text-muted text-start" style="font-size: 12px;">
                                            Isi sesuai KTP/Paspor/SIM (tanpa tanda baca dan gelar)
                                        </small>
                                    </b-col>
                                    <b-col lg="6" class="my-2">
                                        <label class="fw-normal mb-1 fs-6 d-block text-start">
                                            Jenis Kelamin <span class="text-danger">*</span>
                                        </label>
                                        <select v-model="passenger.gender" :name="`passenger['data'][${i}]['gender']`" class="form-select __form-control w-100">
                                            <option value="">Pilih</option>
                                            <option value="Laki-laki">Laki-laki</option>
                                            <option value="Perempuan">Perempuan</option>
                                        </select>
                                    </b-col>
                                    <b-col lg="6" class="my-2">
                                        <label class="fw-normal mb-1 fs-6 d-block text-start">
                                            Tanggal lahir <span class="text-danger">*</span>
                                        </label>
                                        <Datepicker v-model="passenger.birth_date" :name="`passenger['data'][${i}]['birth_date']`" :enableTimePicker="false" :format="format" autoApply>
                                        </Datepicker>
                                    </b-col>
                                </b-row>
                            </div>
                        </template>

                        <template v-else>
                            <div class="text-center __text-primary fs-5 fw-semibold bg-light py-2">Detail Penyewaan</div>
                            <div class="d-flex align-items-center gap-3 fs-5 fw-bold">
                                <div>{{ transport.selected.name }}</div>
                            </div>

                            <small class="text-muted my-2">
                                {{ formatDate(tanggal.berangkat) }} - {{ passenger_count }} Orang
                            </small>

                            <div class="d-flex align-items-center gap-1 mt-2">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M11.9999 13.4304C13.723 13.4304 15.1199 12.0336 15.1199 10.3104C15.1199 8.5873 13.723 7.19043 11.9999 7.19043C10.2768 7.19043 8.87988 8.5873 8.87988 10.3104C8.87988 12.0336 10.2768 13.4304 11.9999 13.4304Z" stroke="#232933" stroke-width="1.5"/>
                                    <path d="M3.6202 8.49C5.5902 -0.169998 18.4202 -0.159997 20.3802 8.5C21.5302 13.58 18.3702 17.88 15.6002 20.54C13.5902 22.48 10.4102 22.48 8.3902 20.54C5.6302 17.88 2.4702 13.57 3.6202 8.49Z" stroke="#232933" stroke-width="1.5"/>
                                </svg>

                                <div class="d-flex gap-2">
                                    <span class="text-muted fw-semibold">{{ transport.selected.keberangkatan.name }}</span>
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M14.4302 5.92969L20.5002 11.9997L14.4302 18.0697" stroke="#626B79" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                                        <path d="M3.5 12H20.33" stroke="#626B79" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                    <span class="text-muted fw-semibold">{{ transport.selected.tujuan.name }}</span>
                                </div>
                            </div>

                            <div class="text-center __text-primary fs-5 fw-semibold bg-light py-2 mt-5">Detail Pesanan</div>
                            <b-card class="__card mt-4">
                                <div class="d-flex align-items-center">
                                    <div style="width: 35%;" class="me-5 position-relative">
                                        <span style="right: 0;" :class="`${ transport.selected.stok == 'ready' ? '__bg-info' : '__bg-danger' } position-absolute rounded-pill px-2`">{{ transport.selected.stok == 'ready' ? 'Tersedia' : 'Tidak Tersedia' }}</span>
                                        <img :src="transport.selected.image[0]" alt="" width="213" height="142" class="mt-5">
                                    </div>

                                    <div class="py-2">
                                        <div class="fs-5 fw-bold">{{ transport.selected.name }}</div>

                                        <small class="text-muted my-2">{{ formatDate(tanggal.berangkat) }}</small>

                                        <div class="d-flex gap-2 mt-2">
                                            <span class="text-muted fw-semibold">{{ transport.selected.keberangkatan.name }}</span>
                                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M14.4302 5.92969L20.5002 11.9997L14.4302 18.0697" stroke="#626B79" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                                                <path d="M3.5 12H20.33" stroke="#626B79" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                                            </svg>
                                            <span class="text-muted fw-semibold">{{ transport.selected.tujuan.name }}</span>
                                        </div>

                                        <div class="mt-4 __text-primary">Rp {{ transport.selected.show_price }}<small class="text-muted fw-normal">/{{ transport.selected.satuan.toLowerCase() }}</small></div>
                                        <div class="mt-4 fs-3 fw-bold __text-primary">Rp {{ parseInt(transport.selected.price * passenger_count).toString().replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.") }}</div>
                                    </div>
                                </div>
                            </b-card>
                        </template>
                    </div>

                    <div class="modal-footer border-0 text-center d-flex flex-column px-4">
                        <template v-if="confirm_selected">
                            <button @click.prevent="submitTransaction()" class="btn __btn-primary px-5 w-100 py-3" data-bs-dismiss="modal">Pesan Sekarang</button>
                        </template>

                        <template v-else>
                            <button class="btn __btn-primary px-5 w-100 py-3" @click.prevent="confirm_selected = true">Lanjutkan Pesanan</button>
                            <a @click.prevent="selectedTransport(null)" href="#" class="btn __btn-outline-primary px-5 w-100 py-3" data-bs-dismiss="modal">Batalkan Pesanan</a>
                        </template>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import axios from 'axios';
import Navbar from '@/v2/components/Navbar';
import InlineCategory from '@/v2/components/InlineCategory';

import Datepicker from '@vuepic/vue-datepicker';
import vSelect from 'vue-select';
import dayjs from 'dayjs';
import id from 'dayjs/locale/id';

import '@vuepic/vue-datepicker/dist/main.css';
import 'vue-select/dist/vue-select.css';

export default {
    components: {
        Navbar,
        InlineCategory,
        Datepicker,
        vSelect
    },
    setup() {
        const format = (date) => {
            return dayjs(date).format('DD MMMM YYYY')
        }

        return {
            format,
        }
    },
    data() {
        return {
            isLoading: false,
            showNotFound: false,
            token: localStorage.getItem("token"),
            tanggal: {
                berangkat: '',
            },
            lokasi: {
                dari: '',
                ke: '',
            },
            collection: {
                provinces: [],
                cities: [],
            },
            transports: [],
            transport: {
                count: 0,
                selected: null,
            },
            confirm_selected: false,
            passengers: [],
            passenger_count: '1',
        }
    },
    mounted() {
        this.getCity()
    },
    methods: {
        async getProvinces() {
            await axios.get('/api/v1/location/provinces')
            .then(res => {
                this.collection.provinces = res.data;
            })
        },

        async getCity(id) {
            await axios.get(`/api/v1/location/cities`, {
                params: {
                    province_id: id
                }
            })
            .then(res => {
                this.collection.cities = res.data.data;
            })
        },

        async getTransportasi() {
            this.isLoading = true
            const formData = {
                dari: this.lokasi.dari,
                ke: this.lokasi.ke,
            }

            await axios.post(`/api/v1/product/transportasi/tiket-bus`, formData)
                .then((res) => {
                    this.transports = res.data.data;
                    this.transport.count = res.data.meta.total;
                    if(res.data.meta.total === 0) {
                        this.showNotFound = true
                    }
                    this.isLoading = false;
                })
        },

        openModalDeskripsi(transport) {
            this.$swal({
                confirmButtonText: 'Tutup',
                customClass: {
                    actions: 'w-100',
                    confirmButton: 'btn __btn-primary w-100 mx-5 py-3 mt-3 mb-4',
                },
                html: `
                    <img class="img-fluid mb-4" src="${transport.image[0]}">
                    <div class="mx-4">
                        <div class="text-start">
                            <div class="text-dark fs-5 fw-bold">${transport.name}</div>

                            <small class="text-muted my-2">${this.formatDate(this.tanggal.berangkat)}</small>

                            <div class="d-flex gap-2 mt-2">
                                <span class="text-muted fw-semibold">${transport.keberangkatan.name}</span>
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M14.4302 5.92969L20.5002 11.9997L14.4302 18.0697" stroke="#626B79" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M3.5 12H20.33" stroke="#626B79" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                                <span class="text-muted fw-semibold">${transport.tujuan.name}</span>
                            </div>

                            <div class="mt-4 fs-5 fw-bold __text-primary">Rp ${transport.show_price}<small class="text-muted fw-normal">/${transport.satuan.toLowerCase()}</small></div>
                        </div>
                    </div>
                `
            })
        },

        selectedTransport(transport) {
            this.confirm_selected = false
            this.transport.selected = transport

            this.passengers = [];

            for (let index = 0; index < parseInt(this.passenger_count); index++) {
                this.passengers.push({ first_name: '', last_name: '', gender: '', birth_date: '' })
            }
        },

        formatDate(date) {
            return dayjs(date).locale(id).format('DD MMMM YYYY')
        },

        formatDateDay(date) {
            return dayjs(date).locale(id).format('dddd, DD MMMM YYYY')
        },

        formatTime() {
            let hours = `${this.penjemputan.waktu.hours}`
            if(this.penjemputan.waktu.hours < 10) {
                hours = `0${this.penjemputan.waktu.hours}`
            }

            let minutes = `${this.penjemputan.waktu.minutes}`
            if(this.penjemputan.waktu.minutes < 10) {
                minutes = `0${this.penjemputan.waktu.minutes}`
            }

            return `${hours}:${minutes}`
        },

        disabledButton() {
            return this.tanggal.berangkat === '' ||
                this.passenger_count === '' ||
                this.lokasi.dari === '' ||
                this.lokasi.ke === ''
        },

        submitTransaction() {
            const offers = {
                type_jasa: "tiket_bus_travel",
                tanggal: this.tanggal,
                product: this.transport.selected,
                passengers: this.passengers,
                passenger_count: this.passenger_count,
            };

            const total_harga = this.transport.selected.price;

            const obj = JSON.stringify({
                id_penjual: this.transport.selected.id_penjual,
                id_alamat: null,
                id_cart: null,
                total_harga_barang: total_harga,
                total_harga_kurir: null,
                subtotal: total_harga,
                jenis_pajak: "Bebas Pajak",
                jenis_pajak_value: 0,
                pajak_penghasilan: "Bebas Pajak",
                pajak_penghasilan_value: 0,
                total_pajak: 0,
                total_pajak_penghasilan: 0,
                kurir: null,
                etd: null,
                total_pembayaran: total_harga,
                total_transaksi: total_harga,
                jasa: JSON.stringify(offers)
            });

            axios.post(`/api/v1/pesanan/pesanan_langsung`, obj, {
                headers: {
                    'Authorization': `Bearer ${this.token}`,
                    'Content-Type': 'application/json',
                }
            }).then((resp) => {
                const imgSuccess = require('@/v2/assets/images/success/order-success.png')
                return this.$swal({
                    confirmButtonText: 'Lanjutkan',
                    customClass: {
                        actions: 'w-100',
                        confirmButton: 'btn __btn-primary w-100 mx-5 py-3 mt-3 mb-3',
                    },
                    html: `
                        <img src="${imgSuccess}" />
                        <div class="text-dark fw-bold fs-4">Berhasil Membuat Pesanan</div>
                        <div class="text-muted mt-3">Pesanan anda sudah berhasil ditambahkan.</div>
                    `
                }).then(() => {
                    this.$router.push({ path: `/pembeli/pesanan-langsung/${resp.data.data.id}` });
                })
            });
        },

        getDay(startDate, endDate) {
            if (!startDate) {
                return 0;
            }

            if (!endDate) {
                return 1;
            }

            const date1 = new Date(startDate);
            const date2 = new Date(endDate);

            const DifferenceInTime = date2.getTime() - date1.getTime();
            return Math.round(DifferenceInTime / (1000 * 3600 * 24));
        },
    },
    computed: {
        //
    }
}
</script>

<style scoped>
.lds-dual-ring {
    display: inline-block;
    width: 20px;
    height: 20px;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 20px;
    height: 20px;
    margin: 8px;
    border-radius: 50%;
    border: 3px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

div.title h2 {
    font-size: 24px;
}

div.title>div h6 {
    display: inline-block;
    font-size: 15px;
    font-weight: 600;
}

div.title>div select {
    display: inline-block;
}

.bg-input {
    background-color: #EDF0F2;
    color: rgba(35, 41, 51, 1);
}
.bg-input button.btn {
    background-color: #EDF0F2;
    color: rgba(35, 41, 51, 1);
}
.bg-input button.btn:hover {
    background-color: #dfdfdf;
    border-radius: 0;
}

.row-card {
    margin: auto;
    margin-top: -8rem;
    padding: 3rem 0;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 30px 60px -15px rgba(143, 144, 188, 0.15);
    backdrop-filter: blur(10px);
    border-radius: 8px;
    color: #8B95A5;
}

.available-badge {
    width: 78px;
    height: 21px;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 21px;

    color: #FFFFFF;
    background: #0D6EFD;
    border-radius: 50px;
    position: absolute;
    top: -30px;
    right: 30px;
}
</style>
