<template>
  <Navbar />

  <InlineCategory />

  <div class="container-fluid position-relative">
    <!-- <div class="position-absolute text-white" style="top: 30%; left: 5%">
      <div class="fw-bolder fs-1">Tiket Pesawat</div>
      <div>
        Kami menyediakan tiket pesawat untuk membantu <br />kebutuhan perjalanan dinas
        anda.<br />Pesan dulu bayar nanti
      </div>
    </div> -->

    <img
      :src="require('@/v2/assets/images/banner/tiket-pesawat.jpg')"
      alt="Waktunya umkm untuk maju"
      class="img-fluid"
    />

    <div class="row px-5" style="margin-top: 4rem">
      <div class="col-lg-12">
        <div class="row-card shadow px-4">
          <div class="row">
            <div class="col-lg-6">
              <div class="row">
                <div class="col-lg-6">
                  <div class="card">
                    <div class="card-body px-4">
                      <div class="fw-bold fs-6 mb-2">Tanggal Berangkat</div>
                      <Datepicker
                        @change="() => (flights = [])"
                        v-model="date.depart"
                        :enableTimePicker="false"
                        :format="format"
                        :minDate="new Date()"
                        :maxDate="date.return ?? ''"
                        autoApply
                        monthNameFormat="long"
                        placeholder="Pilih tanggal berangkat"
                      ></Datepicker>
                    </div>
                  </div>
                </div>

                <div class="col-lg-6">
                  <div class="card">
                    <div class="card-body px-4">
                      <div class="fw-bold fs-6 mb-2">Kelas</div>
                      <select
                        @change="() => (flights = [])"
                        class="form-select __form-control w-100"
                        v-model="cabinClass"
                      >
                        <option value="economy">Ekonomi</option>
                        <!-- <option value="premium_economy">Ekonomi Premium</option> -->
                        <option value="business">Bisnis</option>
                        <!-- <option value="first">Kelas Satu</option> -->
                      </select>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row mt-4">
                <div class="col-lg-6">
                  <div class="card">
                    <div class="card-body px-4">
                      <div class="fw-bold fs-6 mb-2">Dewasa (Usia 18+)</div>
                      <b-input-group class="bg-input w-50 py-1">
                        <b-input-group-prepend>
                          <b-button
                            variant="outline-secondary"
                            class="border-0"
                            @click.prevent="--adults"
                            :disabled="adults <= 1"
                            >-</b-button
                          >
                        </b-input-group-prepend>
                        <b-form-input
                          @change="() => (flights = [])"
                          type="number"
                          min="0.00"
                          class="border-0 bg-transparent"
                          v-model="adults"
                          style="text-align: center"
                          readonly
                        ></b-form-input>
                        <b-input-group-append>
                          <b-button
                            variant="outline-secondary"
                            class="border-0"
                            @click.prevent="++adults"
                            :disabled="adults >= 1"
                            >+</b-button
                          >
                        </b-input-group-append>
                      </b-input-group>
                    </div>
                  </div>
                </div>

                <div class="col-lg-6">
                  <div class="card">
                    <div class="card-body px-4">
                      <div class="fw-bold fs-6 mb-2">Anak (Usia 0-17)</div>
                      <b-input-group class="bg-input w-50 py-1">
                        <b-input-group-prepend>
                          <b-button
                            variant="outline-secondary"
                            class="border-0"
                            @click.prevent="--children"
                            :disabled="children <= 0"
                            >-</b-button
                          >
                        </b-input-group-prepend>
                        <b-form-input
                          @change="() => (flights = [])"
                          type="number"
                          min="0.00"
                          class="border-0 bg-transparent"
                          v-model="children"
                          style="text-align: center"
                          readonly
                        ></b-form-input>
                        <b-input-group-append>
                          <b-button
                            variant="outline-secondary"
                            class="border-0"
                            @click.prevent="++children"
                            :disabled="children >= 1"
                            >+</b-button
                          >
                        </b-input-group-append>
                      </b-input-group>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-6 d-flex align-items-center">
              <div class="w-100">
                <b-form-radio
                  @change="() => (flights = [])"
                  class="cursor-pointer"
                  v-model="type"
                  name="type"
                  value="ONEWAY"
                >
                  <div class="cursor-pointer fw-bold ms-2 mt-1">Sekali jalan</div>
                </b-form-radio>
                <b-form-radio
                  @change="() => (flights = [])"
                  class="cursor-pointer d-none"
                  v-model="type"
                  name="type"
                  value="ROUNDTRIP"
                >
                  <div class="cursor-pointer fw-bold">Pulang-pergi</div>
                </b-form-radio>

                <div class="card my-3 border-0" style="background: transparent">
                  <div class="card-body position-relative" style="height: 146px">
                    <svg
                      class="position-absolute top-0 start-0"
                      viewBox="0 0 586 146"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <mask id="path-1-inside-1_555_12522" fill="white">
                        <path
                          fill-rule="evenodd"
                          clip-rule="evenodd"
                          d="M318 0C318 13.8071 306.807 25 293 25C279.193 25 268 13.8071 268 0H8C3.58172 0 0 3.58173 0 8V138C0 142.418 3.5817 146 7.99998 146H268C268 132.193 279.193 121 293 121C306.807 121 318 132.193 318 146H578C582.418 146 586 142.418 586 138V8C586 3.58172 582.418 0 578 0H318Z"
                        />
                      </mask>
                      <path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M318 0C318 13.8071 306.807 25 293 25C279.193 25 268 13.8071 268 0H8C3.58172 0 0 3.58173 0 8V138C0 142.418 3.5817 146 7.99998 146H268C268 132.193 279.193 121 293 121C306.807 121 318 132.193 318 146H578C582.418 146 586 142.418 586 138V8C586 3.58172 582.418 0 578 0H318Z"
                        fill="white"
                      />
                      <path
                        d="M318 0V-1H317V0H318ZM268 0H269V-1H268V0ZM268 146V147H269V146H268ZM318 146H317V147H318V146ZM293 26C307.359 26 319 14.3594 319 0H317C317 13.2548 306.255 24 293 24V26ZM267 0C267 14.3594 278.641 26 293 26V24C279.745 24 269 13.2548 269 0H267ZM8 1H268V-1H8V1ZM1 8C1 4.13401 4.13401 1 8 1V-1C3.02944 -1 -1 3.02944 -1 8H1ZM1 138V8H-1V138H1ZM7.99998 145C4.13399 145 1 141.866 1 138H-1C-1 142.971 3.02942 147 7.99998 147V145ZM268 145H7.99998V147H268V145ZM269 146C269 132.745 279.745 122 293 122V120C278.641 120 267 131.641 267 146H269ZM293 122C306.255 122 317 132.745 317 146H319C319 131.641 307.359 120 293 120V122ZM578 145H318V147H578V145ZM585 138C585 141.866 581.866 145 578 145V147C582.971 147 587 142.971 587 138H585ZM585 8V138H587V8H585ZM578 1C581.866 1 585 4.13401 585 8H587C587 3.02944 582.971 -1 578 -1V1ZM318 1H578V-1H318V1Z"
                        fill="#D0D6DD"
                        mask="url(#path-1-inside-1_555_12522)"
                      />
                    </svg>

                    <div
                      class="position-absolute top-50 start-50 translate-middle"
                      style="margin-top: 0.4rem"
                    >
                      <svg
                        width="1"
                        height="80"
                        viewBox="0 0 1 80"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <line
                          x1="0.5"
                          y1="2.18557e-08"
                          x2="0.499997"
                          y2="80"
                          stroke="#D0D6DD"
                          stroke-dasharray="4 4"
                        />
                      </svg>
                    </div>

                    <div
                      class="position-absolute top-50 start-50 translate-middle"
                      style="margin-top: 0.4rem"
                    >
                      <svg
                        width="40"
                        height="40"
                        viewBox="0 0 40 40"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <circle cx="20" cy="20" r="20" fill="#4C2A86" />
                        <path
                          d="M28.5 22.9902L23.49 28.0102"
                          stroke="white"
                          stroke-width="1.5"
                          stroke-miterlimit="10"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                        <path
                          d="M11.5 22.9902H28.5"
                          stroke="white"
                          stroke-width="1.5"
                          stroke-miterlimit="10"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                        <path
                          d="M11.5 17.0102L16.51 11.9902"
                          stroke="white"
                          stroke-width="1.5"
                          stroke-miterlimit="10"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                        <path
                          d="M28.5 17.0098H11.5"
                          stroke="white"
                          stroke-width="1.5"
                          stroke-miterlimit="10"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                      </svg>
                    </div>

                    <div
                      class="row position-absolute justify-content-center w-100 px-3 mb-3 mb-lg-0"
                      style="margin-left: -15px; margin-top: 0.7rem"
                    >
                      <div class="col-lg-6 pe-lg-5">
                        <div class="fw-bold fs-6 mb-2">Dari</div>
                        <v-select
                          @change="() => (flights = [])"
                          class="__v-select"
                          v-model="destination.from"
                          label="name"
                          :filterable="false"
                          :options="airports"
                          @search="getLocations"
                        >
                        <template #no-options> search airport by name. </template>
                          <template #option="{ code, name, cityName }">
                            <div class="py-1">
                              <small class="text-muted d-block">{{ cityName }}</small>
                              <strong>{{ code }}</strong> {{ name }}
                            </div>
                          </template>
                          <template #selected-option="{ code, name }">
                            <strong class="me-1">({{ code }})</strong> {{ name }}
                          </template>
                        </v-select>
                      </div>

                      <div class="col-lg-6 ps-lg-5">
                        <div class="fw-bold fs-6 mb-2">Ke</div>
                        <v-select
                          @change="() => (flights = [])"
                          class="__v-select"
                          v-model="destination.to"
                          label="name"
                          :filterable="false"
                          :options="airports"
                          @search="getLocations"
                        >
                          <template #no-options> search airport by name. </template>
                          <template #option="{ code, name, cityName }">
                            <div class="py-1">
                              <small class="text-muted d-block">{{ cityName }}</small>
                              <strong>{{ code }}</strong> {{ name }}
                            </div>
                          </template>
                          <template #selected-option="{ code, name }">
                            <strong class="me-1">({{ code }})</strong> {{ name }}
                          </template>
                        </v-select>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="text-center mb-3">
                  <b-button
                    @click.prevent="searchingFlights"
                    :class="`__btn-primary w-100 mt-3 px-5 position-relative`"
                  >
                    <div
                      v-show="searching"
                      class="lds-dual-ring position-absolute"
                      style="top: 0; left: 0"
                    ></div>
                    <div class="px-3">Cari Jasa</div>
                  </b-button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <b-skeleton-wrapper :loading="searching">
    <template #loading>
      <b-container fluid class="mt-5">
        <b-row class="justify-content-between align-items-center" v-for="i in 3">
          <b-col lg="6">
            <b-skeleton height="15rem"></b-skeleton>
          </b-col>
          <b-col lg="6">
            <b-skeleton height="15rem"></b-skeleton>
          </b-col>
        </b-row>
      </b-container>
    </template>

    <div class="container-fluid" style="margin-top: 3rem" v-if="flights.length > 0">
      <div class="text-center">
        <div class="fs-3 fw-bold">Tiket Pesawat</div>
        Menampilkan {{ flights_count }} Tiket Pesawat terbaik
      </div>

      <div class="row">
        <div class="col-lg-6" v-for="(flight, mainIndex) in flights" :key="mainIndex">
          <b-card class="__card mt-4">
            <div class="row align-items-center">
              <div class="col-lg-12">
                <b-row class="align-items-center my-4">
                  <b-col lg="6" class="text-center position-relative">
                    <div class="available-badge">Tersedia</div>
                    <b-img
                      class="img-fluid"
                      :onerror="`this.src='${default_image}'`"
                      :src="leg.carriersData[0].logo"
                    >
                    </b-img>
                  </b-col>
                  <b-col lg="6">
                    <div class="fs-4 fw-semibold text-dark">
                      {{ `${leg.carriersData[0].name}` }}
                    </div>
                    <div class="text-muted">
                      {{
                        formatDateMonth(leg.departureTime) + " " + formatTime(leg.departureTime) + " - " + formatTime(leg.arrivalTime)
                      }}
                    </div>
                    <div class="text-muted d-flex gap-3 mt-1">
                      <div>{{ leg.departureAirport.code }}</div>

                      <svg
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M2.31023 9.03023L4.27024 11.3602C4.57024 11.7102 4.57024 12.2902 4.27024 12.6402L2.31023 14.9702C2.04023 15.5102 2.31023 16.1702 2.89023 16.3702L4.22023 16.8102C4.54023 16.9202 5.01023 16.8102 5.25023 16.5702L7.53024 14.3002C7.69024 14.1302 8.01023 14.0002 8.24023 14.0002L11.0902 14.0002C11.5102 14.0002 11.7102 14.3102 11.5502 14.7002L9.43023 19.6102C9.10023 20.3802 9.51024 21.0102 10.3502 21.0102H11.6402C12.3102 21.0102 13.0802 20.5102 13.3402 19.8902L15.7502 14.3002C15.8202 14.1402 16.0302 14.0002 16.2102 14.0002L19.2102 14.0002C20.1502 14.0002 21.2602 13.3102 21.6902 12.4702C21.8402 12.1702 21.8402 11.8202 21.6902 11.5202C21.2602 10.6802 20.1402 9.99023 19.2002 9.99023H16.2002C16.0202 9.99023 15.8102 9.85023 15.7402 9.69023L13.3302 4.11023C13.0802 3.49023 12.3102 2.99023 11.6402 2.99023H10.3502C9.51024 2.99023 9.10023 3.62023 9.43023 4.39023L11.5502 9.30023C11.7202 9.68023 11.5102 10.0002 11.0902 10.0002H8.24023C8.01023 10.0002 7.69024 9.87023 7.53024 9.71023L5.25023 7.44023C5.01023 7.20023 4.55023 7.09023 4.22023 7.20023L2.89023 7.64023C2.31023 7.82023 2.03023 8.48023 2.31023 9.03023Z"
                          stroke="#626B79"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                      </svg>

                      <div>{{ leg.arrivalAirport.code }}</div>
                    </div>
                    <div class="fs-3 fw-bold __text-primary mt-3">
                      <template v-if="flight_discount_day">
                        <!-- Harga khusus Garuda Indonesia -->
                        <!-- Rute Gorontalo - Jakarta -->
                        <template v-if="leg.departureAirport.code === 'GTO' && leg.arrivalAirport.code === 'CGK'">
                          <template v-if="leg.carriersData[0].name === 'Garuda Indonesia' && cabinClass === 'economy'">
                            {{ rupiah(2385000, "IDR") }}
                          </template>
                          <template v-else>
                            {{ flight.displayPrice }}
                          </template>
                        </template>

                        <!-- Rute Jakarta - Gorontalo -->
                        <template v-else-if="leg.departureAirport.code === 'CGK' && leg.arrivalAirport.code === 'GTO'">
                          <template v-if="leg.carriersData[0].name === 'Garuda Indonesia' && cabinClass === 'economy'">
                            {{ rupiah(2495000, "IDR") }}
                          </template>
                          <template v-else>
                            {{ flight.displayPrice }}
                          </template>
                        </template>

                        <!-- Rute Manado - Jakarta -->
                        <template v-if=" leg.departureAirport.code === 'MDC' && leg.arrivalAirport.code === 'CGK'">
                          <template v-if="leg.carriersData[0].name === 'Garuda Indonesia' && cabinClass === 'economy'">
                            {{ rupiah(2550000, "IDR") }}
                          </template>
                          <template v-else>
                            {{ flight.displayPrice }}
                          </template>
                        </template>

                        <!-- Rute Jakarta - Manado -->
                        <template v-else-if="leg.departureAirport.code === 'CGK' && leg.arrivalAirport.code === 'MDC'">
                          <template v-if="leg.carriersData[0].name === 'Garuda Indonesia' && cabinClass === 'economy'">
                            {{ rupiah(2600000, "IDR") }}
                          </template>
                          <template v-else>
                            {{ flight.displayPrice }}
                          </template>
                        </template>

                        <!-- Rute Makassar - Jakarta -->
                        <template v-if="leg.departureAirport.code === 'UPG' && leg.arrivalAirport.code === 'CGK'">
                          <template v-if="leg.carriersData[0].name === 'Garuda Indonesia' && cabinClass === 'economy'">
                            {{ rupiah(1925000, "IDR") }}
                          </template>
                          <template v-else>
                            {{ flight.displayPrice }}
                          </template>
                        </template>

                        <!-- Rute Jakarta - Makassar -->
                        <template v-else-if="leg.departureAirport.code === 'CGK' && leg.arrivalAirport.code === 'UPG'">
                          <template v-if="leg.carriersData[0].name === 'Garuda Indonesia' && cabinClass === 'economy'">
                            {{ rupiah(1975000, "IDR") }}
                          </template>
                          <template v-else>
                            {{ flight.displayPrice }}
                          </template>
                        </template>
                      </template>
                      <template v-else>
                        {{ flight.displayPrice }}
                      </template>
                    </div>

                    <b-button
                      @click.prevent="selectedOffers(flight)"
                      :class="`${
                        (!destination.from ||
                          !destination.to ||
                          !date.depart ||
                          !date.return) ??
                        'disabled'
                      } __btn-primary px-5 position-relative mt-4`"
                      data-bs-toggle="modal"
                      data-bs-target="#selectRoom"
                    >
                      <div>Pilih</div>
                    </b-button>
                  </b-col>
                </b-row>
              </div>
            </div>
          </b-card>
        </div>
      </div>
    </div>
  </b-skeleton-wrapper>

  <div class="container-fluid text-center" style="margin-top: 10rem">
    <img
      :src="require('@/assets/images/banner/mesin-edc.jpg')"
      alt="Waktunya umkm untuk maju"
      width="1280"
      height="300"
    />
  </div>

  <div
    class="modal fade"
    id="selectRoom"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="1"
    aria-labelledby="selectRoomLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-lg position-relative">
      <div class="modal-content">
        <div class="modal-header border-0 __bg-primary">
          <h5
            class="fw-bold modal-title text-white w-100 text-center"
            id="selectRoomLabel"
          >
            {{ inputPassengers !== true ? "Konfirmasi Pilihan" : "Detail Penumpang" }}
          </h5>

          <button
            @click.prevent="() => (inputPassengers = false)"
            type="button"
            class="position-absolute __bg-primary border-0"
            data-bs-dismiss="modal"
          >
            <svg
              width="30"
              height="30"
              viewBox="0 0 40 40"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M15.2832 24.7165L24.7165 15.2832"
                stroke="white"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M24.7165 24.7165L15.2832 15.2832"
                stroke="white"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M15.0002 36.6668H25.0002C33.3335 36.6668 36.6668 33.3335 36.6668 25.0002V15.0002C36.6668 6.66683 33.3335 3.3335 25.0002 3.3335H15.0002C6.66683 3.3335 3.3335 6.66683 3.3335 15.0002V25.0002C3.3335 33.3335 6.66683 36.6668 15.0002 36.6668Z"
                stroke="white"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </button>
        </div>

        <div class="modal-body px-4">
          <template v-if="inputPassengers !== true">
            <div class="text-center __text-primary fs-5 fw-bold bg-light py-2">
              Penerbangan
            </div>

            <div class="p-4">
              <div class="d-flex gap-3">
                <div class="fw-bold text-dark">
                  {{ destination.from && destination.from.CityName }}
                </div>
                <svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M2.31023 9.03023L4.27024 11.3602C4.57024 11.7102 4.57024 12.2902 4.27024 12.6402L2.31023 14.9702C2.04023 15.5102 2.31023 16.1702 2.89023 16.3702L4.22023 16.8102C4.54023 16.9202 5.01023 16.8102 5.25023 16.5702L7.53024 14.3002C7.69024 14.1302 8.01023 14.0002 8.24023 14.0002L11.0902 14.0002C11.5102 14.0002 11.7102 14.3102 11.5502 14.7002L9.43023 19.6102C9.10023 20.3802 9.51024 21.0102 10.3502 21.0102H11.6402C12.3102 21.0102 13.0802 20.5102 13.3402 19.8902L15.7502 14.3002C15.8202 14.1402 16.0302 14.0002 16.2102 14.0002L19.2102 14.0002C20.1502 14.0002 21.2602 13.3102 21.6902 12.4702C21.8402 12.1702 21.8402 11.8202 21.6902 11.5202C21.2602 10.6802 20.1402 9.99023 19.2002 9.99023H16.2002C16.0202 9.99023 15.8102 9.85023 15.7402 9.69023L13.3302 4.11023C13.0802 3.49023 12.3102 2.99023 11.6402 2.99023H10.3502C9.51024 2.99023 9.10023 3.62023 9.43023 4.39023L11.5502 9.30023C11.7202 9.68023 11.5102 10.0002 11.0902 10.0002H8.24023C8.01023 10.0002 7.69024 9.87023 7.53024 9.71023L5.25023 7.44023C5.01023 7.20023 4.55023 7.09023 4.22023 7.20023L2.89023 7.64023C2.31023 7.82023 2.03023 8.48023 2.31023 9.03023Z"
                    stroke="#626B79"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
                <div class="fw-bold text-dark">
                  {{ destination.to && destination.to.CityName }}
                </div>
              </div>

              <div class="d-flex gap-1 mt-2 text-muted">
                <div>{{ type === "ONEWAY" ? "Sekali jalan" : "Pulang Pergi" }}</div>
                <div>·</div>
                <div>{{ parseInt(adults) + parseInt(children) }} penumpang</div>
                <div>·</div>
                <div>{{ formatDateDay(date.depart) }}</div>
                <span v-if="type !== 'ONEWAY'">- {{ formatDateDay(date.return) }}</span>
              </div>
            </div>

            <div class="text-center __text-primary fs-5 fw-bold bg-light py-2">
              Detail Pesanan
            </div>

            <b-card
              class="p-4"
              v-if="selected_offers.legs !== undefined && selected_offers.legs.length > 0"
            >
              <div class="row align-items-center">
                <div class="col-lg-12">
                  <b-row
                    v-for="(leg, index) in selected_offers.legs"
                    :key="index"
                    class="align-items-center my-2"
                  >
                    <b-col lg="4" class="text-center">
                      <b-img
                        class="img-fluid"
                        :onerror="`this.src='${default_image}'`"
                        :src="
                          require(`@/assets/images/transportasi/${leg.carriers[0].display_code}.jpg`)
                        "
                      ></b-img>
                    </b-col>

                    <b-col lg="8">
                      <div class="fs-4 fw-semibold text-dark">
                        {{ `${leg.carriers[0].carriersData[0].name}` }}
                      </div>
                      <div class="text-muted">
                        {{
                          formatDateMonth(leg.departure) +
                          " " +
                          formatTime(leg.departure) +
                          " - " +
                          formatTime(leg.arrival)
                        }}
                      </div>
                      <div class="text-muted d-flex gap-3 mt-1">
                        <div>{{ leg.departureAirport.code }}</div>

                        <svg
                          width="24"
                          height="24"
                          viewBox="0 0 24 24"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            d="M2.31023 9.03023L4.27024 11.3602C4.57024 11.7102 4.57024 12.2902 4.27024 12.6402L2.31023 14.9702C2.04023 15.5102 2.31023 16.1702 2.89023 16.3702L4.22023 16.8102C4.54023 16.9202 5.01023 16.8102 5.25023 16.5702L7.53024 14.3002C7.69024 14.1302 8.01023 14.0002 8.24023 14.0002L11.0902 14.0002C11.5102 14.0002 11.7102 14.3102 11.5502 14.7002L9.43023 19.6102C9.10023 20.3802 9.51024 21.0102 10.3502 21.0102H11.6402C12.3102 21.0102 13.0802 20.5102 13.3402 19.8902L15.7502 14.3002C15.8202 14.1402 16.0302 14.0002 16.2102 14.0002L19.2102 14.0002C20.1502 14.0002 21.2602 13.3102 21.6902 12.4702C21.8402 12.1702 21.8402 11.8202 21.6902 11.5202C21.2602 10.6802 20.1402 9.99023 19.2002 9.99023H16.2002C16.0202 9.99023 15.8102 9.85023 15.7402 9.69023L13.3302 4.11023C13.0802 3.49023 12.3102 2.99023 11.6402 2.99023H10.3502C9.51024 2.99023 9.10023 3.62023 9.43023 4.39023L11.5502 9.30023C11.7202 9.68023 11.5102 10.0002 11.0902 10.0002H8.24023C8.01023 10.0002 7.69024 9.87023 7.53024 9.71023L5.25023 7.44023C5.01023 7.20023 4.55023 7.09023 4.22023 7.20023L2.89023 7.64023C2.31023 7.82023 2.03023 8.48023 2.31023 9.03023Z"
                            stroke="#626B79"
                            stroke-width="1.5"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                          />
                        </svg>

                        <div>{{ leg. arrivalAirport.code }}</div>
                      </div>
                      <div class="fs-3 fw-bold __text-primary mt-3">
                        <template v-if="special_price">
                          {{ rupiah(selected_offers.price.amount, "IDR") }}
                        </template>
                        <template v-else>
                          {{ rupiah(percent(selected_offers.price.amount), "IDR") }}
                        </template>
                      </div>
                    </b-col>
                  </b-row>
                </div>
              </div>
            </b-card>
          </template>

          <div class="text-center" v-else>
            <div
              v-for="(passenger_adults, n_adults) in passengers.adults"
              :key="n_adults"
              class="p-4"
            >
              <div class="text-center __text-primary fs-5 fw-bold bg-light py-2">
                Dewasa {{ n_adults + 1 }}
              </div>
              <b-row>
                <b-col lg="6" class="my-2">
                  <label class="fw-normal mb-1 fs-6 d-block text-start">
                    Nama Depan <span class="text-danger">*</span>
                  </label>
                  <input
                    v-model="passenger_adults.first_name"
                    :name="`passenger['adults'][${n_adults}]['first_name']`"
                    type="text"
                    class="form-control __form-control"
                  />
                  <small class="d-block text-muted text-start" style="font-size: 12px">
                    Isi sesuai KTP/Paspor/SIM (tanpa tanda baca dan gelar)
                  </small>
                </b-col>
                <b-col lg="6" class="my-2">
                  <label class="fw-normal mb-1 fs-6 d-block text-start">
                    Nama Belakang <span class="text-danger">*</span>
                  </label>
                  <input
                    v-model="passenger_adults.last_name"
                    :name="`passenger['adults'][${n_adults}]['last_name']`"
                    type="text"
                    class="form-control __form-control"
                  />
                  <small class="d-block text-muted text-start" style="font-size: 12px">
                    Isi sesuai KTP/Paspor/SIM (tanpa tanda baca dan gelar)
                  </small>
                </b-col>
                <b-col lg="6" class="my-2">
                  <label class="fw-normal mb-1 fs-6 d-block text-start">
                    Jenis Kelamin <span class="text-danger">*</span>
                  </label>
                  <select
                    v-model="passenger_adults.gender"
                    :name="`passenger['adults'][${n_adults}]['gender']`"
                    class="form-select __form-control w-100"
                  >
                    <option value="">Pilih</option>
                    <option value="Laki-laki">Laki-laki</option>
                    <option value="Perempuan">Perempuan</option>
                  </select>
                </b-col>
                <!-- <b-col lg="6" class="my-2">
                  <label class="fw-normal mb-1 fs-6 d-block text-start">
                    Tanggal lahir <span class="text-danger">*</span>
                  </label>
                  <Datepicker
                    v-model="passenger_adults.birth_date"
                    :enableTimePicker="false"
                    :format="format"
                    autoApply
                    :name="`passenger['adults'][${n_adults}]['birth_date']`"
                  >
                  </Datepicker>
                </b-col> -->
              </b-row>
            </div>

            <div
              v-for="(passenger_children, n_children) in passengers.children"
              :key="n_children"
              class="p-4"
            >
              <div class="text-center __text-primary fs-5 fw-bold bg-light py-2">
                Anak {{ n_children + 1 }}
              </div>
              <b-row>
                <b-col lg="6" class="my-2">
                  <label class="fw-normal mb-1 fs-6 d-block text-start">
                    Nama Depan <span class="text-danger">*</span>
                  </label>
                  <input
                    v-model="passenger_children.first_name"
                    :name="`passenger['children'][${n_children}]['first_name']`"
                    type="text"
                    class="form-control __form-control"
                  />
                  <small class="d-block text-muted text-start" style="font-size: 12px">
                    Isi sesuai KTP/Paspor/SIM (tanpa tanda baca dan gelar)
                  </small>
                </b-col>
                <b-col lg="6" class="my-2">
                  <label class="fw-normal mb-1 fs-6 d-block text-start">
                    Nama Belakang <span class="text-danger">*</span>
                  </label>
                  <input
                    v-model="passenger_children.last_name"
                    :name="`passenger['children'][${n_children}]['last_name']`"
                    type="text"
                    class="form-control __form-control"
                  />
                  <small class="d-block text-muted text-start" style="font-size: 12px">
                    Isi sesuai KTP/Paspor/SIM (tanpa tanda baca dan gelar)
                  </small>
                </b-col>
                <b-col lg="6" class="my-2">
                  <label class="fw-normal mb-1 fs-6 d-block text-start">
                    Jenis Kelamin <span class="text-danger">*</span>
                  </label>
                  <select
                    v-model="passenger_children.gender"
                    :name="`passenger['children'][${n_children}]['gender']`"
                    class="form-select __form-control w-100"
                  >
                    <option value="">Pilih</option>
                    <option value="Laki-laki">Laki-laki</option>
                    <option value="Perempuan">Perempuan</option>
                  </select>
                </b-col>
                <b-col lg="6" class="my-2">
                  <label class="fw-normal mb-1 fs-6 d-block text-start">
                    Tanggal lahir <span class="text-danger">*</span>
                  </label>
                  <Datepicker
                    v-model="passenger_children.birth_date"
                    :enableTimePicker="false"
                    :format="format"
                    autoApply
                    :name="`passenger['children'][${n_children}]['birth_date']`"
                  >
                  </Datepicker>
                </b-col>
              </b-row>
            </div>

            <ListPemasok @update-id-penjual="updateIdPenjual" />
          </div>
        </div>

        <div
          class="modal-footer border-0 text-center d-flex flex-column px-4"
          v-if="inputPassengers !== true"
        >
          <button
            @click.prevent="() => (inputPassengers = true)"
            class="btn __btn-primary px-5 w-100 py-3"
          >
            Lanjutkan Pesanan
          </button>
          <a
            href="#"
            class="btn __btn-outline-primary px-5 w-100 py-3"
            data-bs-dismiss="modal"
            >Batalkan Pesanan</a
          >
        </div>
        <div class="modal-footer border-0 text-center d-flex flex-column px-4" v-else>
          <button
            @click.prevent="makeAnOrder"
            data-bs-dismiss="modal"
            class="btn __btn-primary px-5 w-100 py-3"
          >
            Pesan Sekarang
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import Navbar from "@/v2/components/Navbar";
import InlineCategory from "@/v2/components/InlineCategory";
import ListPemasok from "@/v2/components/ListPemasokJasaPenerbanganDanHotel";

import Datepicker from "@vuepic/vue-datepicker";
import vSelect from "vue-select";
import dayjs from "dayjs";
import id from "dayjs/locale/id";

import "@vuepic/vue-datepicker/dist/main.css";
import "vue-select/dist/vue-select.css";

export default {
  components: {
    Navbar,
    InlineCategory,
    Datepicker,
    vSelect,
    ListPemasok,
  },
  setup() {
    const format = (date) => {
      return dayjs(date).format("DD MMMM YYYY");
    };

    return {
      format,
    };
  },
  data() {
    return {
      token: localStorage.getItem("token"),
      debounce: null,
      searching: false,
      type: "ONEWAY",
      cabinClass: "economy",
      adults: 1,
      children: 0,
      destination: {
        from: "",
        to: "",
      },
      date: {
        depart: this.getNowDate(),
        return: "",
      },
      airports: [],
      flights: [],
      default_image: require("@/assets/images/icon/transportasi/airplane-ticket.jpg"),
      special_price: false,
      selected_offers: {},
      flights_count: 0,
      flight_offers: {
        type_jasa: "pesan_tiket_pesawat",
        price: "",
        price_alt: "",
        type: "",
        cabinClass: "",
        adults: "",
        children: "",
        destination: "",
        date: "",
        passengers: "",
        offers: "",
      },
      passengers: {
        adults: [],
        children: [],
      },
      inputPassengers: false,
      id_penjual: process.env.VUE_APP_ID_PENJUAL_JASA,
      try_flight_search: 0,
      flight_discount_day: false,
      discount_days: ["Monday", "Wednesday", "Friday", "Sunday"],
    };
  },
  mounted() {
    // this.searchingFlights()
    this.dateDepartValidation();
  },
  methods: {
    dateDepartValidation() {
      const depart = new Date(this.date.depart);
      const dayFormat = dayjs(depart).format("dddd");
      const dayValidate =
        this.discount_days.filter((item) => item === dayFormat).length > 0;
      this.flight_discount_day = dayValidate;
    },
    updateIdPenjual(id_penjual) {
      this.id_penjual = id_penjual;
    },
    searchLocations: (loading, search, vm) => {
      fetch(
        `${process.env.VUE_APP_ENDPOINT_FLIGHTS_API}/airport?q=${escape(
          search
        )}`,
        {
          headers: {
            "X-RapidAPI-Key": `${process.env.VUE_APP_X_RAPIDAPI_FLIGHTS_KEY}`,
            "X-RapidAPI-Host": `${process.env.VUE_APP_X_RAPIDAPI_FLIGHTS_HOST}`,
          },
        }
      ).then((res) => {
        res.json().then((json) => {
        //   vm.airports = json.data.filter(
        //     (data) => data.CountryName == "Indonesia" && data.PlaceId !== "CGKI"
        //   );
          vm.airports = json.data
        });
        loading(false);
      });
    },
    async getLocations(search, loading) {
      if (search.length > 2) {
        loading(true);
        clearTimeout(this.debounce);
        this.debounce = setTimeout(() => {
          this.searchLocations(loading, search, this);
        }, 600);
      }
    },
    async searchingFlights() {
      this.dateDepartValidation();

      this.searching = true;

      const type = this.type;
      const adults = this.adults;
      const cabinClass = this.cabinClass;
      const children = this.children;
      const from = this.destination.from;
      const to = this.destination.to;
      const depart_date = this.formatDate(this.date.depart);
      const return_date =
        type !== "ONEWAY"
          ? this.date.return != ""
            ? this.formatDate(this.date.return)
            : ""
          : "";

      await fetch(
        `${process.env.VUE_APP_ENDPOINT_FLIGHTS_API}/flights?type=${type}&from=${from.code}&to=${to.code}&depart=${depart_date}&return=${return_date}&adults=${adults}&children=${children}&cabinClass=${cabinClass}`,
        {
          headers: {
            Authorization: `Bearer ${process.env.VUE_APP_X_RAPIDAPI_FLIGHTS_KEY}`,
          },
        }
      )
        .then((response) => response.json())
        .then((response) => {
          this.searching = false;
          if (response.status == false) {
            return this.responseError("Gagal Koneksi ke pihak ke 3");
          }

          this.flights_count = response.data.length;
          if (response.data.length == 0) {
            this.try_flight_search = this.try_flight_search + 1;
            if (this.try_flight_search >= 4) {
              return this.responseError();
            }

            this.searchingFlights();
          }

          this.flights = response.data;
        })
        .catch((err) => console.error(err));
    },
    async selectedOffers(offers) {
      this.selected_offers = offers;
      this.passengers.adults = [];
      this.passengers.children = [];

      for (let index = 0; index < parseInt(this.adults); index++) {
        this.passengers.adults.push({
          firt_name: "",
          last_name: "",
          gender: "",
          birth_date: "",
        });
      }

      for (let index = 0; index < parseInt(this.children); index++) {
        this.passengers.children.push({
          firt_name: "",
          last_name: "",
          gender: "",
          birth_date: "",
        });
      }

      /** Pesanan Dari Garuda Indonesia */
      /** Khusus kelas Ekonomi */
      if (this.flight_discount_day) {
        if (
          offers.legs[0].carriers[0].name === "Garuda Indonesia" &&
          this.cabinClass === "economy"
        ) {
          /** Rute Gorontalo - Jakarta */
          if (
            this.destination.from.PlaceId === "GTO" &&
            this.destination.to.PlaceId === "CGK"
          ) {
            this.selected_offers.price.amount =
              this.cabinClass === "economy" ? 2385000 : 3600000;
          } else if (

          /** Rute Jakarta - Gorontalo */
            this.destination.from.PlaceId === "CGK" &&
            this.destination.to.PlaceId === "GTO"
          ) {
            this.selected_offers.price.amount =
              this.cabinClass === "economy" ? 2495000 : 3750000;
          }

          this.special_price = true;
        }
      }

      this.flight_offers = {
        type_jasa: "pesan_tiket_pesawat",
        price: this.special_price
          ? this.rupiah(this.selected_offers.price.amount, "IDR")
          : this.rupiah(this.percent(this.selected_offers.price.amount), "IDR"),
        price_alt: this.special_price
          ? this.selected_offers.price.amount
          : this.percent(this.selected_offers.price.amount),
        type: this.type,
        cabinClass: this.cabinClass,
        adults: this.adults,
        children: this.children,
        destination: this.destination,
        date: this.date,
        passengers: this.passengers,
        offers: offers,
      };
    },

    responseError(message) {
      const imgError = require("@/v2/assets/images/error/404-search-not-found.png");
      return this.$swal({
        confirmButtonText: "Kembali",
        customClass: {
          actions: "w-100",
          confirmButton: "btn __btn-primary w-100 mx-5 py-3 mt-3 mb-3",
        },
        html: `
          <img src="${imgError}" />
          <div class="text-dark fw-bold fs-4">${message ?? "Data Tidak Ditemukan"}</div>
          <div class="text-muted mt-3">Tidak menemukan data dengan pencarian tersebut</div>
        `,
      });
    },

    makeAnOrder() {
      const flightOffers = this.flight_offers;
      const obj = JSON.stringify({
        id_penjual: this.id_penjual,
        id_alamat: null,
        id_cart: null,
        total_harga_barang: flightOffers.price_alt,
        total_harga_kurir: null,
        subtotal: flightOffers.price_alt,
        jenis_pajak: "Bebas Pajak",
        jenis_pajak_value: 0,
        pajak_penghasilan: "Bebas Pajak",
        pajak_penghasilan_value: 0,
        total_pajak: 0,
        total_pajak_penghasilan: 0,
        kurir: null,
        etd: null,
        total_pembayaran: flightOffers.price_alt,
        total_transaksi: flightOffers.price_alt,
        jasa: JSON.stringify(flightOffers),
      });

      axios
        .post(`/api/v1/pesanan/pesanan_langsung`, obj, {
          headers: {
            Authorization: `Bearer ${this.token}`,
            "Content-Type": "application/json",
          },
        })
        .then((resp) => {
          const imgSuccess = require("@/v2/assets/images/success/order-success.png");
          return this.$swal({
            confirmButtonText: "Lanjutkan",
            customClass: {
              actions: "w-100",
              confirmButton: "btn __btn-primary w-100 mx-5 py-3 mt-3 mb-3",
            },
            html: `
              <img src="${imgSuccess}" />
              <div class="text-dark fw-bold fs-4">Berhasil Membuat Pesanan</div>
              <div class="text-muted mt-3">Pesanan anda sudah berhasil ditambahkan.</div>
            `,
          }).then(() => {
            this.$router.push({ path: `/pembeli/pesanan-langsung/${resp.data.data.id}` });
          });
        });
    },
    rupiah(number, currency) {
      return new Intl.NumberFormat("id-ID", {
        style: "currency",
        currency: currency,
        minimumFractionDigits: 0,
      }).format(Math.round(number));
    },
    percent(price) {
      price = parseInt(price);
      return (
        parseInt((Math.ceil(process.env.VUE_APP_PRICE_PERCENTAGE_FLIGHT) / 100) * price) +
        price
      );
    },
    formatDate(dateString) {
      const date = dayjs(dateString).locale("id");
      return date.format("YYYY-MM-DD");
    },
    formatDateMonth(dateString) {
      const date = dayjs(dateString).locale("id");
      return date.format("DD MMM YYYY");
    },
    formatTime(dateString) {
      const date = dayjs(dateString).locale("id");
      return date.format("HH:mm");
    },
    formatDateShort(dateString) {
      const date = dayjs(dateString).locale("id");
      return date.format("DD MMM");
    },
    formatDateDay(dateString) {
      const date = dayjs(dateString).locale("id");
      return date.format("dddd, DD MMMM YYYY");
    },
    getDates(startDate, endDate) {
      if (!startDate) {
        return 0;
      }

      if (!endDate) {
        return 1;
      }

      const date1 = new Date(startDate);
      const date2 = new Date(endDate);

      const DifferenceInTime = date2.getTime() - date1.getTime();
      return Math.round(DifferenceInTime / (1000 * 3600 * 24));
    },
    getNowDate() {
      const date = new Date();
      return dayjs(date.setDate(date.getDate() + 2)).format("YYYY-MM-DD");
    },
    requireFile() {
      return this.imgError ? "url-to-the-default-img-file" : "url-to-the-custom-img";
    },
  },
  computed: {
    //
  },
};
</script>

<style scoped>
.lds-dual-ring {
  display: inline-block;
  width: 20px;
  height: 20px;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 20px;
  height: 20px;
  margin: 8px;
  border-radius: 50%;
  border: 3px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

div.title h2 {
  font-size: 24px;
}

div.title > div h6 {
  display: inline-block;
  font-size: 15px;
  font-weight: 600;
}

div.title > div select {
  display: inline-block;
}

.bg-input {
  background-color: #edf0f2;
  color: rgba(35, 41, 51, 1);
}
.bg-input button.btn {
  background-color: #edf0f2;
  color: rgba(35, 41, 51, 1);
}
.bg-input button.btn:hover {
  background-color: #dfdfdf;
  border-radius: 0;
}

.row-card {
  margin: auto;
  margin-top: -8rem;
  padding: 3rem 0;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 30px 60px -15px rgba(143, 144, 188, 0.15);
  backdrop-filter: blur(10px);
  border-radius: 8px;
  color: #8b95a5;
}

.available-badge {
  width: 78px;
  height: 21px;

  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 21px;

  color: #ffffff;
  background: #0d6efd;
  border-radius: 50px;
  position: absolute;
  top: -30px;
  right: 30px;
}
</style>
