<template>
    <Navbar />

    <InlineCategory />

    <div class="container-fluid text-center position-relative">
        <div class="position-absolute text-center text-white start-50 translate-middle" style="top: 30%">
            <div class="fw-bolder fs-1">Temukan Beragam Jasa<br>Transportasi Dengan Mudah</div>
            <div>beliumkm.co.id menyediakan beragam jasa transportasi untuk membantu setiap perjalanan kamu,<br>dimanapun dan kapanpun</div>
        </div>

        <img :src="require('@/v2/assets/images/banner/jasa-transportasi.png')" alt="Waktunya umkm untuk maju" class="img-fluid">

        <div class="row px-5 mb-5">
            <div class="col-lg-3">
                <router-link :to="{name: 'productJasaTransportasiAntarJemputBandara'}" class="text-decoration-none w-100">
                    <div class="row-card shadow">
                        <svg width="120" height="120" viewBox="0 0 120 120" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_862_12818)">
                                <path d="M115.789 0H82.1053C79.7829 0.00703125 77.9018 1.88789 77.8948 4.21055V37.8947C77.9018 40.2171 79.7827 42.0982 82.1053 42.1052H96.8421V54.758C96.7662 54.7406 96.6884 54.7334 96.6105 54.7369H2.10516C0.942422 54.7369 0 55.6795 0 56.842V101.053H4.21055C5.37328 101.053 6.3157 101.995 6.3157 103.158C6.3157 104.321 5.37305 105.263 4.21055 105.263H0V107.368C0 108.531 0.942656 109.473 2.10516 109.473H8.61047C9.63211 103.398 14.892 98.9489 21.0525 98.9489C27.213 98.9489 32.4729 103.398 33.4945 109.473H82.2944C83.3161 103.398 88.5759 98.9489 94.7365 98.9489C100.897 98.9489 106.157 103.398 107.179 109.473H115.789C116.952 109.473 117.894 108.531 117.894 107.368V105.263H111.579C110.416 105.263 109.474 104.32 109.474 103.158C109.474 101.995 110.416 101.053 111.579 101.053H117.895V87.5159C117.894 87.1219 117.785 86.7359 117.579 86.4L101.053 59.9789V42.1052H115.789C118.112 42.0982 119.993 40.2173 120 37.8947V4.21055C119.993 1.88789 118.112 0.00703125 115.789 0ZM42.1052 63.158C42.1123 60.8355 43.9931 58.9545 46.3158 58.9474H63.158C65.4804 58.9545 67.3615 60.8353 67.3685 63.158V75.7896C67.3615 78.112 65.4806 79.9931 63.158 80.0002H46.3158C43.9934 79.9931 42.1123 78.1123 42.1052 75.7896V63.158ZM58.9474 88.421C58.9474 89.5837 58.0048 90.5262 56.8423 90.5262H52.6317C51.469 90.5262 50.5266 89.5835 50.5266 88.421C50.5266 87.2585 51.4692 86.3159 52.6317 86.3159H56.8423C58.0048 86.3159 58.9474 87.2583 58.9474 88.421ZM23.1579 90.5264H18.9473C17.7846 90.5264 16.8422 89.5838 16.8422 88.4212C16.8422 87.2588 17.7848 86.3161 18.9473 86.3161H23.1579C24.3206 86.3161 25.263 87.2588 25.263 88.4212C25.263 89.5838 24.3206 90.5264 23.1579 90.5264ZM33.6841 75.7894C33.6771 78.1118 31.7963 79.9929 29.4736 79.9999H12.6314C10.309 79.9929 8.42789 78.112 8.42086 75.7894V63.1577C8.42789 60.8353 10.3088 58.9542 12.6314 58.9472H29.4736C31.796 58.9542 33.6771 60.8351 33.6841 63.1577V75.7894ZM77.8948 105.263H37.8947C36.732 105.263 35.7895 104.321 35.7895 103.158C35.7895 101.995 36.7322 101.053 37.8947 101.053H77.8948C79.0575 101.053 79.9999 101.996 79.9999 103.158C79.9999 104.321 79.0575 105.263 77.8948 105.263ZM90.5264 90.5264H86.3159C85.1531 90.5264 84.2107 89.5838 84.2107 88.4212C84.2107 87.2588 85.1534 86.3161 86.3159 86.3161H90.5264C91.6891 86.3161 92.6316 87.2588 92.6316 88.4212C92.6316 89.5838 91.6889 90.5264 90.5264 90.5264ZM107.053 76.7789C107.447 77.4302 107.462 78.243 107.093 78.9087C106.723 79.5743 106.025 79.9908 105.263 79.9999H82.1053C79.7829 79.9929 77.9018 78.112 77.8948 75.7894V63.1577C77.9018 60.8353 79.7827 58.9542 82.1053 58.9472H94.737C95.463 58.9505 96.1376 59.3234 96.5264 59.9367L96.8421 60.442L98.5052 63.1158H98.5263L107.053 76.7789ZM111.116 26.5685C110.719 27.071 110.114 27.3656 109.474 27.3684C108.998 27.3724 108.536 27.2084 108.169 26.9053L101.053 21.221V30.6947L102.548 32.1895C103.369 33.0169 103.369 34.3516 102.548 35.179C101.717 35.9932 100.388 35.9932 99.558 35.179L98.9475 34.5684L98.337 35.179C97.5068 35.9932 96.1777 35.9932 95.3475 35.179C94.5265 34.3516 94.5265 33.0169 95.3475 32.1895L96.8423 30.7158V21.221L89.7265 26.9053C89.3595 27.2084 88.8973 27.3724 88.4212 27.3684C87.7807 27.3654 87.1763 27.071 86.7792 26.5685C86.4251 26.1361 86.261 25.579 86.3245 25.0235C86.388 24.4683 86.6735 23.9623 87.1163 23.621L96.8426 15.8316V8.42109C96.8426 7.25836 97.7852 6.31594 98.9477 6.31594C100.11 6.31594 101.053 7.25859 101.053 8.42109V15.8316L110.779 23.621C111.222 23.9623 111.507 24.4683 111.571 25.0235C111.634 25.5787 111.47 26.1361 111.116 26.5685Z" fill="#8B95A5"/>
                                <path d="M94.737 120C99.3879 120 103.158 116.23 103.158 111.579C103.158 106.928 99.3879 103.158 94.737 103.158C90.0862 103.158 86.3159 106.928 86.3159 111.579C86.3159 116.23 90.0862 120 94.737 120Z" fill="#8B95A5"/>
                                <path d="M63.1579 63.158H46.3157V75.7896H63.1579V63.158Z" fill="#8B95A5"/>
                                <path d="M21.0527 120C25.7035 120 29.4738 116.23 29.4738 111.579C29.4738 106.928 25.7035 103.158 21.0527 103.158C16.4018 103.158 12.6316 106.928 12.6316 111.579C12.6316 116.23 16.4018 120 21.0527 120Z" fill="#8B95A5"/>
                                <path d="M99 27.75L101.846 35.625H96.2036L99 27.75Z" fill="white"/>
                                <path d="M82.1052 63.158V75.7894H101.465L93.5704 63.158H82.1052Z" fill="#8B95A5"/>
                                <path d="M29.4738 63.158H12.6316V75.7896H29.4738V63.158Z" fill="#8B95A5"/>
                            </g>
                            <defs>
                                <clipPath id="clip0_862_12818">
                                    <rect width="120" height="120" fill="white"/>
                                </clipPath>
                            </defs>
                        </svg>

                        <div class="mt-4 fs-5 fw-bold">Antar Jemput Bandara</div>
                    </div>
                </router-link>
            </div>

            <div class="col-lg-3">
                <router-link :to="{name: 'productJasaTransportasiSewaKendaraan'}" class="text-decoration-none w-100">
                    <div class="row-card shadow">
                        <svg width="121" height="120" viewBox="0 0 121 120" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_862_5845)">
                                <path d="M115.346 66.1389L113.125 66.1229C111.106 66.1088 108.558 64.6131 107.561 62.857L96.812 43.9306C95.4883 41.5997 92.3514 39.7734 89.6709 39.7734H86.6017V33.9666H87.5306C90.7042 33.9666 93.2863 31.3849 93.2863 28.2108V14.7833C93.2863 11.6098 90.7042 9.02759 87.5306 9.02759H46.4706C43.297 9.02759 40.7149 11.6093 40.7149 14.7833V28.2108C40.7149 31.3844 43.2965 33.9666 46.4706 33.9666H47.4V39.7729H42.2397C39.5777 39.7729 36.3626 41.5245 34.919 43.7611L22.2955 63.3235C21.1544 65.0916 18.4594 66.9866 16.4094 67.4611L5.34635 70.0257C2.67388 70.6447 0.5 73.3804 0.5 76.1236V95.4076C0.5 98.2536 2.81533 100.569 5.66134 100.569H13.9065C15.655 106.572 21.2026 110.972 27.7618 110.972C34.3211 110.972 39.8692 106.572 41.6182 100.569H72.7834C74.5319 106.572 80.08 110.972 86.6393 110.972C93.1986 110.972 98.7461 106.572 100.495 100.569H115.339C118.185 100.569 120.501 98.2536 120.501 95.4076V71.3309C120.5 68.4879 118.188 66.159 115.346 66.1389ZM78.341 15.7278C78.341 15.3822 78.6214 15.1018 78.967 15.1018H87.7132C88.0583 15.1018 88.3397 15.3827 88.3397 15.7278V17.2607C88.3397 17.6063 88.0583 17.8866 87.7132 17.8866H85.1451C85.0302 17.8866 84.9359 17.9804 84.9359 18.0953V27.3591C84.9359 27.7042 84.655 27.9851 84.3099 27.9851H82.3151C81.97 27.9851 81.6886 27.7042 81.6886 27.3591V18.0953C81.6886 17.9819 81.5933 17.8866 81.4799 17.8866H78.967C78.6219 17.8866 78.341 17.6058 78.341 17.2607V15.7278ZM66.5166 15.7278C66.5166 15.3822 66.798 15.1018 67.143 15.1018H69.5993C69.9013 15.1018 70.2549 15.3075 70.4039 15.5703L72.5808 19.413C72.6956 19.6151 72.8762 19.9487 72.9825 20.1548C72.9901 20.1684 73.8337 21.7248 74.4106 23.055C74.3484 22.0709 74.2455 20.2526 74.2455 18.954V15.7273C74.2455 15.3817 74.5269 15.1013 74.872 15.1013H76.6261C76.9717 15.1013 77.2526 15.3822 77.2526 15.7273V27.3581C77.2526 27.7032 76.9712 27.9841 76.6261 27.9841H74.5029C74.1999 27.9841 73.8478 27.7765 73.7008 27.5116L71.4412 23.4342C71.3293 23.2316 71.1497 22.9 71.0414 22.6959C71.0319 22.6783 70.0728 20.9233 69.4403 19.5118C69.4684 20.4613 69.5221 22.5123 69.5221 24.0211V27.3576C69.5221 27.7027 69.2407 27.9836 68.8956 27.9836H67.143C66.7974 27.9836 66.5166 27.7027 66.5166 27.3576V15.7278ZM56.6358 15.7278C56.6358 15.3822 56.9172 15.1018 57.2623 15.1018H64.121C64.4661 15.1018 64.747 15.3827 64.747 15.7278V17.2055C64.747 17.5506 64.4661 17.832 64.121 17.832H60.0922C59.9773 17.832 59.8836 17.9258 59.8836 18.0406V19.7942C59.8836 19.909 59.9773 20.0033 60.0922 20.0033H63.8426C64.1877 20.0033 64.4691 20.2842 64.4691 20.6293V22.0879C64.4691 22.4335 64.1877 22.7139 63.8426 22.7139H60.0922C59.9773 22.7139 59.8836 22.8082 59.8836 22.9231V25.0463C59.8836 25.1612 59.9773 25.2555 60.0922 25.2555H64.3803C64.7254 25.2555 65.0063 25.5369 65.0063 25.882V27.3581C65.0063 27.7032 64.7254 27.9841 64.3803 27.9841H57.2628C56.9177 27.9841 56.6363 27.7032 56.6363 27.3581V15.7278H56.6358ZM46.2885 27.9846C45.9434 27.9846 45.6625 27.7037 45.6625 27.3586V16.1717C45.6625 15.7599 45.8461 15.2488 46.7204 15.1545C47.6092 15.0602 48.6134 15.0105 49.6246 15.0105C51.6073 15.0105 52.8914 15.3265 53.7867 16.0353C54.5998 16.6868 55.0111 17.6188 55.0111 18.8076C55.0111 20.3444 54.0175 21.4605 52.9521 21.9575C52.9822 21.9861 53.0168 22.0167 53.0539 22.0503C53.0981 22.0889 54.1399 23.0139 54.4674 24.2082C54.5737 24.5939 54.6806 24.9957 54.7844 25.3869C54.9324 25.9447 55.0738 26.4788 55.2002 26.9062C55.2629 27.1204 55.3678 27.478 55.1756 27.7338C55.0492 27.9034 54.8336 27.9851 54.5171 27.9851H52.8162C52.4997 27.9851 52.1671 27.7524 52.0593 27.4549C52.0452 27.4153 51.6941 26.4508 51.327 24.9219C50.9959 23.3785 50.4778 23.0996 49.5102 23.0831H49.0803C48.967 23.0831 48.8712 23.1789 48.8712 23.2923V27.3586C48.8712 27.7037 48.5903 27.9846 48.2457 27.9846H46.2885ZM52.746 33.9666H81.2557V39.7729H52.746V33.9666ZM27.7618 103.708C23.8023 103.708 20.5931 100.498 20.5931 96.5392C20.5931 92.5792 23.8023 89.3695 27.7618 89.3695C31.7214 89.3695 34.931 92.5792 34.931 96.5392C34.931 100.498 31.7214 103.708 27.7618 103.708ZM62.5329 67.4676H32.5013C30.6154 67.4676 29.877 66.151 30.8596 64.5414L40.0061 49.5604C40.9892 47.9508 43.3362 46.6342 45.2216 46.6342H62.5329V67.4676ZM86.6388 103.708C82.6792 103.708 79.4691 100.498 79.4691 96.5392C79.4691 92.5792 82.6792 89.3695 86.6388 89.3695C90.5978 89.3695 93.8075 92.5792 93.8075 96.5392C93.8075 100.498 90.5978 103.708 86.6388 103.708ZM97.0934 67.4676H70.7826V46.6342H85.8668C87.7528 46.6342 90.0275 47.9925 90.9223 49.6527L98.8956 64.4496C99.7904 66.1093 98.9794 67.4676 97.0934 67.4676Z" fill="#8B95A5"/>
                                <path d="M49.0807 20.6335H49.3556C49.5638 20.6335 49.9089 20.5803 50.1095 20.5176C50.58 20.3691 51.8019 19.8149 51.8019 19.0464C51.8019 17.8045 50.7882 17.5296 49.9375 17.5171C49.2949 17.5171 49.1139 17.5417 49.1068 17.5432C48.9819 17.5622 48.8716 17.6906 48.8716 17.818V20.4243C48.8716 20.5377 48.9674 20.6335 49.0807 20.6335Z" fill="#8B95A5"/>
                            </g>
                            <defs>
                                <clipPath id="clip0_862_5845">
                                    <rect width="120" height="120" fill="white" transform="translate(0.5)"/>
                                </clipPath>
                            </defs>
                        </svg>

                        <div class="mt-4 fs-5 fw-bold">Sewa Kendaraan</div>
                    </div>
                </router-link>
            </div>

            <div class="col-lg-3">
                <router-link :to="{name: 'productJasaTransportasiTiketBusTravel'}" class="text-decoration-none w-100">
                    <div class="row-card shadow">
                        <svg width="121" height="120" viewBox="0 0 121 120" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_862_6302)">
                                <path d="M26.4795 59.9878H29.8871C31.8286 59.9878 33.4027 61.5618 33.4027 63.5034C33.4027 65.445 31.8286 67.019 29.8871 67.019H26.4795V70.5649H51.1913V67.019H47.4382C45.4967 67.019 43.9226 65.445 43.9226 63.5034C43.9226 61.5618 45.4967 59.9878 47.4382 59.9878H51.1913V56.4421H26.4795V59.9878Z" fill="#8B95A5"/>
                                <path d="M26.4795 42.2117H51.1913V49.4112H26.4795V42.2117Z" fill="#8B95A5"/>
                                <path d="M117.998 53.6702C119.483 53.223 120.5 51.855 120.5 50.3039V24.8438C120.5 22.9022 118.926 21.3281 116.984 21.3281H4.01562C2.07406 21.3281 0.5 22.9022 0.5 24.8438V50.3039C0.5 51.8552 1.51672 53.223 3.00219 53.6702C5.76687 54.5025 7.69766 57.1055 7.69766 60C7.69766 62.8945 5.76688 65.4973 3.00195 66.3298C1.51672 66.777 0.5 68.145 0.5 69.6961V95.1562C0.5 97.0978 2.07406 98.6719 4.01562 98.6719H116.984C118.926 98.6719 120.5 97.0978 120.5 95.1562V69.6961C120.5 68.145 119.483 66.777 117.998 66.3298C115.233 65.4973 113.302 62.8945 113.302 60C113.302 57.1055 115.233 54.5025 117.998 53.6702ZM58.2223 49.4224V74.0805C58.2223 76.0221 56.6483 77.5962 54.7067 77.5962H54.3341V81.0035C54.3341 82.9451 52.76 84.5191 50.8184 84.5191C48.8769 84.5191 47.3028 82.9451 47.3028 81.0035V77.5962H29.9832V81.0035C29.9832 82.9451 28.4091 84.5191 26.4676 84.5191C24.526 84.5191 22.952 82.9451 22.952 81.0035V77.5955C21.016 77.5889 19.4483 76.0181 19.4483 74.0805V49.4203C17.532 49.391 15.9868 47.8308 15.9868 45.9075C15.9868 43.9842 17.5318 42.424 19.4483 42.3947V38.696C19.4483 36.7545 21.0223 35.1804 22.9639 35.1804H54.707C56.6485 35.1804 58.2226 36.7545 58.2226 38.696V42.3926C60.1585 42.3991 61.726 43.9702 61.726 45.9075C61.726 47.8448 60.1583 49.4159 58.2223 49.4224ZM100.392 77.7323H72.185C70.2434 77.7323 68.6694 76.1583 68.6694 74.2167C68.6694 72.2752 70.2434 70.7011 72.185 70.7011H100.392C102.334 70.7011 103.908 72.2752 103.908 74.2167C103.908 76.1583 102.334 77.7323 100.392 77.7323ZM100.392 63.5541H72.185C70.2434 63.5541 68.6694 61.9802 68.6694 60.0384C68.6694 58.0969 70.2434 56.5228 72.185 56.5228H100.392C102.334 56.5228 103.908 58.0969 103.908 60.0384C103.908 61.9802 102.334 63.5541 100.392 63.5541ZM100.392 49.376H72.185C70.2434 49.376 68.6694 47.802 68.6694 45.8604C68.6694 43.9188 70.2434 42.3448 72.185 42.3448H100.392C102.334 42.3448 103.908 43.9188 103.908 45.8604C103.908 47.802 102.334 49.376 100.392 49.376Z" fill="#8B95A5"/>
                            </g>
                            <defs>
                                <clipPath id="clip0_862_6302">
                                    <rect width="120" height="120" fill="white" transform="translate(0.5)"/>
                                </clipPath>
                            </defs>
                        </svg>

                        <div class="mt-4 fs-5 fw-bold">Tiket Bus & Travel</div>
                    </div>
                </router-link>
            </div>

            <div class="col-lg-3">
                <router-link :to="{name: 'productJasaTransportasiTiketPesawat'}" class="text-decoration-none w-100">
                    <div class="row-card shadow">
                        <svg width="121" height="120" viewBox="0 0 121 120" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M109.399 66.5905C110.269 66.4602 111.063 66.0207 111.635 65.3525C112.208 64.6843 112.52 63.8322 112.515 62.9524V55.5646C112.514 52.1855 111.171 48.9453 108.781 46.5559C106.392 44.1665 103.152 42.8236 99.7727 42.8223H23.562C20.181 42.8229 16.9384 44.165 14.5459 46.5539C12.1535 48.9429 10.8066 52.1836 10.8011 55.5646V62.9523C10.796 63.8321 11.1082 64.6841 11.6804 65.3524C12.2527 66.0206 13.0466 66.4601 13.9166 66.5905C15.8289 66.8872 17.572 67.8579 18.831 69.3274C20.0901 70.7969 20.7822 72.6682 20.7822 74.6033C20.7822 76.5385 20.0901 78.4098 18.831 79.8793C17.572 81.3488 15.8289 82.3195 13.9166 82.6162C13.0466 82.7465 12.2527 83.186 11.6805 83.8542C11.1083 84.5224 10.7961 85.3744 10.8011 86.2541V93.6419C10.8066 97.0229 12.1535 100.264 14.5459 102.653C16.9384 105.041 20.181 106.384 23.562 106.384H99.7727C103.152 106.383 106.392 105.04 108.781 102.651C111.171 100.261 112.514 97.021 112.515 93.6419V86.2541C112.52 85.3744 112.208 84.5223 111.636 83.8541C111.063 83.1859 110.269 82.7464 109.399 82.6161C107.487 82.3194 105.744 81.3486 104.485 79.8791C103.226 78.4096 102.534 76.5383 102.534 74.6032C102.534 72.6681 103.226 70.7968 104.485 69.3273C105.744 67.8579 107.487 66.8871 109.399 66.5904V66.5905ZM77.9636 75.5267C77.7116 76.851 77.0013 78.0442 75.9574 78.8971C74.9135 79.7499 73.6026 80.2079 72.2547 80.1908H65.557L53.1694 93.53C52.7779 93.9569 52.3023 94.2982 51.7726 94.5326C51.2429 94.767 50.6704 94.8893 50.0912 94.892C49.5807 94.8912 49.0747 94.7963 48.5987 94.612C47.7909 94.3117 47.0939 93.7722 46.6006 93.0656C46.1073 92.359 45.8411 91.5188 45.8375 90.657C45.8355 90.0044 45.9823 89.36 46.2667 88.7727L50.4083 80.1908H41.9942C41.5409 80.1921 41.1034 80.3578 40.763 80.6573L37.1064 83.9222C36.5923 84.3791 35.9285 84.6313 35.2407 84.631C34.8756 84.6314 34.5139 84.5598 34.1765 84.4203C33.839 84.2807 33.5324 84.076 33.2742 83.8178C33.016 83.5596 32.8113 83.253 32.6717 82.9155C32.5322 82.5781 32.4606 82.2164 32.461 81.8513V67.3553C32.4615 66.8175 32.6177 66.2913 32.9107 65.8403C33.2037 65.3893 33.621 65.0328 34.1123 64.8138C34.6035 64.5948 35.1476 64.5227 35.6789 64.6062C36.2102 64.6897 36.706 64.9253 37.1064 65.2844L40.763 68.5493C41.1034 68.8487 41.5409 69.0144 41.9942 69.0156H50.4083L46.2667 60.3965C45.9804 59.8231 45.8334 59.1904 45.8375 58.5495C45.8374 57.6969 46.0949 56.8641 46.5765 56.1604C47.058 55.4567 47.741 54.915 48.5358 54.6064C49.3306 54.2977 50.2002 54.2365 51.0304 54.4308C51.8606 54.6251 52.6127 55.0658 53.1881 55.6952L65.5571 69.0156H72.4599C73.2706 69.0128 74.072 69.1885 74.8072 69.5303C75.5423 69.8721 76.1932 70.3716 76.7136 70.9933C77.2384 71.613 77.622 72.3395 77.8379 73.1223C78.0537 73.9052 78.0966 74.7256 77.9636 75.5267ZM88.4297 98.194C88.0691 98.1959 87.7162 98.0905 87.4156 97.8913C87.1151 97.6921 86.8805 97.4081 86.7417 97.0754C86.6028 96.7426 86.566 96.3761 86.6359 96.0224C86.7058 95.6687 86.8793 95.3437 87.1342 95.0888C87.3892 94.8338 87.7142 94.6604 88.0679 94.5905C88.4216 94.5206 88.7881 94.5575 89.1209 94.6963C89.4536 94.8351 89.7376 95.0697 89.9368 95.3703C90.1359 95.6709 90.2413 96.0238 90.2394 96.3844C90.2348 96.8629 90.0426 97.3205 89.7042 97.6589C89.3658 97.9973 88.9082 98.1894 88.4297 98.1941V98.194ZM88.4297 86.9815C88.0717 86.9815 87.7219 86.8754 87.4243 86.6765C87.1267 86.4776 86.8948 86.195 86.7578 85.8643C86.6209 85.5336 86.5851 85.1698 86.6549 84.8187C86.7248 84.4677 86.8971 84.1452 87.1502 83.8922C87.4033 83.6391 87.7258 83.4668 88.0768 83.397C88.4279 83.3272 88.7917 83.363 89.1224 83.5C89.4531 83.637 89.7357 83.869 89.9345 84.1666C90.1333 84.4642 90.2395 84.8141 90.2394 85.172C90.2379 85.6515 90.0467 86.1109 89.7077 86.4499C89.3686 86.789 88.9092 86.9801 88.4297 86.9816V86.9815ZM88.4297 75.7878C88.0699 75.7896 87.7177 75.6847 87.4176 75.4863C87.1175 75.288 86.8829 75.0051 86.7436 74.6734C86.6042 74.3418 86.5663 73.9763 86.6347 73.6231C86.7031 73.2699 86.8747 72.9449 87.1278 72.6892C87.3809 72.4336 87.7041 72.2587 88.0565 72.1867C88.409 72.1147 88.7749 72.1488 89.108 72.2848C89.441 72.4208 89.7263 72.6524 89.9277 72.9505C90.1291 73.2486 90.2376 73.5997 90.2394 73.9595C90.2387 74.441 90.0484 74.9028 89.7097 75.245C89.371 75.5872 88.9111 75.7822 88.4297 75.7879V75.7878ZM88.4297 64.5754C88.0691 64.5773 87.7162 64.4719 87.4156 64.2727C87.1151 64.0735 86.8805 63.7895 86.7417 63.4568C86.6028 63.124 86.566 62.7575 86.6359 62.4038C86.7058 62.0501 86.8793 61.7251 87.1342 61.4702C87.3892 61.2152 87.7142 61.0418 88.0679 60.9719C88.4216 60.902 88.7881 60.9389 89.1209 61.0777C89.4536 61.2165 89.7376 61.4511 89.9368 61.7517C90.1359 62.0523 90.2413 62.4052 90.2394 62.7658C90.2348 63.2443 90.0427 63.702 89.7043 64.0404C89.3659 64.3788 88.9082 64.5709 88.4297 64.5755V64.5754ZM88.4297 53.3631C88.0717 53.3631 87.7219 53.2569 87.4243 53.0581C87.1267 52.8592 86.8947 52.5766 86.7578 52.2459C86.6208 51.9152 86.585 51.5513 86.6548 51.2003C86.7246 50.8493 86.897 50.5268 87.1501 50.2737C87.4032 50.0206 87.7256 49.8483 88.0767 49.7784C88.4277 49.7086 88.7916 49.7444 89.1222 49.8814C89.4529 50.0184 89.7356 50.2503 89.9344 50.5479C90.1333 50.8455 90.2394 51.1954 90.2394 51.5533C90.238 52.0329 90.0468 52.4923 89.7077 52.8314C89.3687 53.1705 88.9092 53.3617 88.4297 53.3632V53.3631Z" fill="#8B95A5"/>
                            <path d="M49.6247 90.4144C49.5844 90.4887 49.5651 90.5726 49.5688 90.657C49.5698 90.7599 49.6027 90.8599 49.6628 90.9434C49.7229 91.0269 49.8073 91.0898 49.9046 91.1234C49.9974 91.159 50.0988 91.1656 50.1954 91.1422C50.292 91.1189 50.3792 91.0668 50.4455 90.9928L60.4826 80.1909H54.55L49.6247 90.4144Z" fill="#8B95A5"/>
                            <path d="M60.4826 69.0156L50.4455 58.2137C50.3797 58.1447 50.2957 58.0958 50.2032 58.0727C50.1108 58.0495 50.0136 58.0531 49.9231 58.0831C49.822 58.1128 49.733 58.1741 49.6692 58.258C49.6055 58.342 49.5702 58.4441 49.5687 58.5495C49.5643 58.6199 49.5771 58.6903 49.6059 58.7547L54.5499 69.0156L60.4826 69.0156Z" fill="#8B95A5"/>
                            <path d="M9.08467 49.893C9.7411 48.211 10.6884 46.6575 11.8831 45.3036C13.3437 43.6452 15.1405 42.3167 17.1541 41.4064C19.1678 40.496 21.3522 40.0248 23.5621 40.0239H99.7727C102.666 40.0258 105.502 40.8333 107.963 42.356C109.999 43.6429 111.721 45.3707 113 47.4119L107.366 23.4572C106.986 21.8266 106.288 20.2871 105.312 18.9268C104.336 17.5664 103.101 16.4121 101.678 15.5299C100.255 14.6478 98.6724 14.0551 97.0199 13.7859C95.3675 13.5167 93.6782 13.5763 92.0489 13.9612L17.8531 31.3861C14.5586 32.1593 11.7058 34.2089 9.92163 37.0845C8.13751 39.96 7.56806 43.4263 8.3384 46.7215L9.08467 49.893Z" fill="#8B95A5"/>
                            <path d="M72.46 72.7469H41.9943C40.625 72.7451 39.3039 72.2406 38.2818 71.3293L36.1924 69.4636V79.743L38.2818 77.8774C39.3039 76.966 40.6249 76.4614 41.9943 76.4596H72.2548C72.7179 76.4768 73.1728 76.3342 73.5431 76.0556C73.9135 75.777 74.1766 75.3795 74.2884 74.9298C74.337 74.6624 74.3261 74.3876 74.2566 74.1249C74.1871 73.8622 74.0605 73.618 73.886 73.4096C73.7115 73.2013 73.4933 73.0339 73.2468 72.9194C73.0004 72.8049 72.7318 72.746 72.46 72.7469V72.7469Z" fill="#8B95A5"/>
                        </svg>

                        <div class="mt-4 fs-5 fw-bold">Tiket Pesawat</div>
                    </div>
                </router-link>
            </div>
        </div>
    </div>

    <div class="container-fluid text-center">
        <img :src="require('@/assets/images/banner/mesin-edc.jpg')" alt="Waktunya umkm untuk maju" width="1280" height="300">
    </div>
</template>

<script>
import Navbar from '@/v2/components/Navbar';
import InlineCategory from '@/v2/components/InlineCategory';

export default {
    components: {
        Navbar,
        InlineCategory,
    },
    data() {
        return {
            //
        }
    },
    methods: {
        showModalNotFound() {
            const imgError = require('@/v2/assets/images/error/404-page-not-found.png')
            this.$swal({
                confirmButtonText: 'Kembali',
                customClass: {
                    actions: 'w-100',
                    confirmButton: 'btn __btn-primary w-100 mx-5 py-3 mt-3 mb-3',
                },
                html: `
                    <img src="${imgError}" />
                    <div class="text-dark fw-bold fs-4">Error 404</div>
                    <div class="text-muted mt-3">Halaman yang anda kunjungi tidak ada</div>
                `
            })
        }
    },
}
</script>

<style scoped>
.row-card {
    margin: auto;
    margin-top: -8rem;
    margin-bottom: 10rem;
    padding: 3rem 0;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 30px 60px -15px rgba(143, 144, 188, 0.15);
    backdrop-filter: blur(10px);
    border-radius: 8px;
    color: #8B95A5;
}

.row-card:hover {
    background: rgba(255, 255, 255, 1);
    cursor: pointer;
    color: var(--primary-color);
}

.row-card:hover svg path {
    fill: var(--primary-color);
}
</style>
