<template>
  <Navbar />

  <div class="container my-5">
    <div class="d-flex justify-content-center position-relative">
      <div class="my-auto me-4">
        <h5 class="text-center" style="color: var(--primary-color)">Pesanan</h5>
        <!-- <button
          class="btn btn-primary position-absolute"
          style="right: 0; top: 0"
          @click="generateReport()"
        >
          <i class="fas fa-download px-2"></i> Download PDF
        </button> -->
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-6">
            <table>
              <tr>
                <td style="width: 160px">Nomor Pesanan</td>
                <td>:</td>
                <td>{{ pesanan.no_pesanan }}</td>
              </tr>
              <tr>
                <td style="width: 160px">Tanggal Pesanan</td>
                <td>:</td>
                <td>{{ pesanan.created_at }}</td>
              </tr>
              <tr>
                <td style="width: 160px">Status Pesanan</td>
                <td>:</td>
                <td>
                  <template v-if="pesanan.status == 'pesanan_selesai'">
                    <span v-if="pesanan.payment_status == 'waiting_for_payment'">
                      Menunggu Pembayaran
                    </span>
                    <span v-else-if="pesanan.payment_status == 'paid'">
                      Pembayaran Diterima
                    </span>
                    <span v-else> Pesanan Selesai </span>
                  </template>
                  <span v-if="pesanan.status === 'permintaan_rfq'"> Permintaan RFQ</span>
                  <span v-if="pesanan.status === 'proses_permintaan_rfq'">
                    Permintaan RFQ</span
                  >
                  <span v-if="pesanan.status === 'pesanan_dibuat'">
                    Permintaan Pesanan</span
                  >
                  <span v-else-if="pesanan.status === 'pesanan_terbuat'">
                    Permintaan Pesanan</span
                  >
                  <span v-else-if="pesanan.status === 'pesanan_ditolak'">
                    Ditolak Pemasok</span
                  >
                  <span v-else-if="pesanan.status === 'pesanan_diterima'">
                    Konfirmasi Terima Pesanan</span
                  >
                  <span v-else-if="pesanan.status === 'pesanan_dikomplain'">
                    Pesanan Dikomplain</span
                  >
                  <span v-else-if="pesanan.status === 'permintaan_rfq_diterima'">
                    Menunggu Persetujuan Pembeli</span
                  >
                  <span v-else-if="pesanan.status == 'permintaan_rfq_ditolak'">
                    Permintaan RFQ Ditolak Pemasok
                  </span>
                </td>
              </tr>
            </table>
          </div>

          <div class="col-6">
            <table>
              <tr>
                <td style="width: 160px">Nama Pemasok</td>
                <td>:</td>
                <td>{{ penjual.nama_usaha }}</td>
              </tr>
              <tr>
                <td style="width: 160px">Lokasi Pemasok</td>
                <td>:</td>
                <td>{{ alamat && alamat.city_name }}</td>
              </tr>
              <!-- <tr>
                                <td style="width: 160px;">Kode Referral</td>
                                <td>:</td>
                                <td>
                                    -
                                </td>
                            </tr> -->
            </table>
          </div>
        </div>
      </div>

      <!--
            <div class="col-6 mb-3">
                <span>Lokasi Pemasok : {{ penjual.penjual }}</span>
            </div> -->
    </div>

    <div class="row mt-4">
      <h6 class="mb-4 title">Informasi Pembeli</h6>
      <div class="col-lg-4 mb-3">
        <label for="">Nama Pemesan</label>
        <input
          type="text"
          v-model="pesanan.nama_pemesan"
          class="__form-control form-control-sm"
          disabled
        />
      </div>
      <div class="col-lg-4 mb-3">
        <label for="">Telepon Pemesan</label>
        <input
          type="text"
          v-model="pesanan.no_telp_pemesan"
          class="__form-control form-control-sm"
          disabled
        />
      </div>

      <div class="col-lg-4 mb-3">
        <label for="">Email Pemesan</label>
        <input
          type="text"
          v-model="pesanan.email_pemesan"
          class="__form-control form-control-sm"
          disabled
        />
      </div>
      <div class="col-lg-4 mb-3">
        <label for="">Asal Instansi</label>
        <textarea
          type="text"
          rows="6"
          v-model="pesanan.asal_pemesan"
          class="__form-control form-control-sm"
          disabled
        ></textarea>
      </div>
      <div class="col-lg-4 mb-3">
        <label for="">Alamat Instansi</label>
        <textarea
          type="text"
          rows="6"
          :value="pesanan.alamat_pemesan"
          class="__form-control form-control-sm"
          disabled
        ></textarea>
      </div>
      <div class="col-lg-4 mb-3">
        <label for="">Informasi Transaksi</label>
        <textarea
          type="text"
          rows="6"
          v-model="pesanan.untuk_keperluan"
          class="__form-control form-control-sm"
          :disabled="pesanan.status != 'pesanan_dibuat'"
        ></textarea>
      </div>

      <template v-if="isJasaProduct && (jasa_products.type_jasa == 'pesan_hotel' || jasa_products.type_jasa == 'pesan_tiket_pesawat')">
        <div class="col-lg-6 mb-3">
          <div class="d-flex justify-content-between mb-2">
            Kartu Identitas Pegawai (format pdf)
            <button @click="downloadDocuments(pesanan.kartu_identitas_pegawai, 'kartu-identitas-pegawai')" class="btn __btn-primary">
              <i class="fas fa-download"></i>
            </button>
          </div>
          <iframe width="100%" height="100%" :src="pesanan.kartu_identitas_pegawai" class="documents-file" />
          <!-- <img :src="pesanan.kartu_identitas_pegawai" class="documents-file"> -->
        </div>
        <div class="col-lg-6 mb-3">
          <div class="d-flex justify-content-between mb-2">
            Surat Dinas (format pdf)
            <button @click="downloadDocuments(pesanan.surat_dinas, 'surat-dinas')" class="btn __btn-primary">
              <i class="fas fa-download"></i>
            </button>
          </div>
          <iframe width="100%" height="100%" :src="pesanan.surat_dinas" class="documents-file" />
          <!-- <img :src="pesanan.surat_dinas" class="documents-file"> -->
        </div>
      </template>
    </div>

    <h6 class="title mb-4 mt-5">Informasi Pembayaran</h6>

    <div class="d-flex">
      <div class="me-2">
        <label for="">Metode Pembayaran</label>
        <select
          v-model="pesanan.metode_pembayaran"
          class="__form-control rounded form-select"
          style="width: 500px"
          :disabled="pesanan.status != 'pesanan_dibuat'"
        >
          <!-- <option v-if="!isJasaProduct" value="Bayar Sebelum Pengiriman">Bayar Sebelum Pengiriman</option> -->
          <option value="Pembayaran Bertempo">Pembayaran Bertempo</option>
          <option v-if="isJasaProduct && (
            jasa_products.type_jasa == 'pesan_hotel' ||
            jasa_products.type_jasa == 'pesan_tiket_pesawat'
          )" value="Pembayaran Langsung">
            Pembayaran Langsung
          </option>
          <option v-if="!isJasaProduct" value="Bayar Saat Terima Pesanan (COD)">
            Bayar Saat Terima Pesanan (COD)
          </option>
          <option v-if="isJasaProduct" value="Selesaikan Pembayaran Dalam 60 Menit">
            Selesaikan Pembayaran Dalam 60 Menit
          </option>
        </select>
      </div>
      <div v-if="pesanan.metode_pembayaran === 'Pembayaran Bertempo'">
        <label for="">Hari</label>
        <input
          type="number"
          v-model="pesanan.hari"
          class="__form-control rounded form-control"
          style="width: 100px"
          :disabled="pesanan.status != 'pesanan_dibuat'"
        />
      </div>
    </div>

    <div class="mt-4">
      <table class="table table-bordered __table-pesanan">
        <thead>
          <tr>
            <th scope="col">No.</th>
            <th scope="col">
              <template v-if="!isJasaProduct"> Produk </template>
              <template v-else>
                <template v-if="jasa_products.type_jasa == 'tiket_bus_travel'"
                  >Bus</template
                >
                <template
                  v-else-if="
                    jasa_products.type_jasa == 'antar_jemput_bandara' ||
                    jasa_products.type_jasa == 'sewa_kendaraan'
                  "
                  >Kendaraan</template
                >
                <template v-else-if="jasa_products.type_jasa == 'pesan_hotel'"
                  >Nama Hotel</template
                >
                <template v-else>Penerbangan</template>
              </template>
            </th>
            <th scope="col">
              <template v-if="!isJasaProduct"> Kuantitas </template>
              <template v-else>
                <template v-if="jasa_products.type_jasa == 'tiket_bus_travel'"
                  >Keberangkatan - Tanggal</template
                >
                <template v-else-if="jasa_products.type_jasa == 'sewa_kendaraan'"
                  >Kabupaten/Kota - Tanggal</template
                >
                <template v-else-if="jasa_products.type_jasa == 'antar_jemput_bandara'"
                  >Keberangkatan</template
                >
                <template v-else-if="jasa_products.type_jasa == 'pesan_hotel'"
                  >Checkin - Checkout</template
                >
                <template v-else>
                  Keberangkatan
                  <span v-if="jasa_products.type !== 'ONEWAY'">-Kepulangan</span>
                </template>
              </template>
            </th>
            <th scope="col">
              <template v-if="!isJasaProduct"> Harga Satuan </template>
              <template v-else>
                <template
                  v-if="
                    jasa_products.type_jasa == 'antar_jemput_bandara' ||
                    jasa_products.type_jasa == 'sewa_kendaraan'
                  "
                  >Penumpang</template
                >
                <template v-else-if="jasa_products.type_jasa == 'pesan_hotel'"
                  >Data Tamu</template
                >
                <template v-else>Penumpang - Tanggal Lahir</template>
              </template>
            </th>
            <th scope="col">Total Harga</th>
          </tr>
        </thead>
        <tbody>
          <template v-if="!isJasaProduct">
            <tr v-for="(item, index) in products" v-bind:key="item">
              <td scope="row">{{ index + 1 }}</td>
              <td>
                <div class="d-flex prod">
                  <img :src="item.product.image[0]" class="rounded" width="100" />
                  <div class="my-auto">
                    <span>{{ item.product.title }}</span>
                    <span>Produk Dalam Negeri</span>
                    <!-- <span>TKDN (%): 100</span> -->
                    <span>Berat: {{ item.product.berat / 1000 }} kg</span>
                  </div>
                </div>
              </td>
              <td>{{ item.qty }}</td>
              <td>
                <div class="d-flex justify-content-between px-1">
                  <div>Rp</div>
                  <div>
                    {{
                      item.harga_jual
                        .toString()
                        .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                    }}
                  </div>
                </div>
              </td>
              <td>
                <div class="d-flex justify-content-between px-1">
                  <div>Rp</div>
                  <div>
                    {{
                      (item.harga_jual * item.qty)
                        .toString()
                        .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                    }}
                  </div>
                </div>
              </td>
            </tr>
          </template>
          <template v-else>
            <template v-if="jasa_products.type_jasa == 'tiket_bus_travel'">
              <tr>
                <td scope="row">1</td>
                <td>
                  <div class="d-flex prod">
                    <img
                      :src="jasa_products.product.image[0]"
                      class="rounded"
                      width="100"
                      height="50"
                    />
                    <div class="my-auto">
                      <span class="fw-bold">{{ jasa_products.product.name }}</span>
                      <span>{{ jasa_products.passenger_count }} Orang</span>
                      <!-- <span>TKDN (%): 100</span> -->
                      <!-- <span>Berat: {{ item.product.berat / 1000 }} kg</span> -->
                    </div>
                  </div>
                </td>
                <td>
                  <div class="d-flex gap-2 justify-content-center fw-bold">
                    <span>{{ jasa_products.product.keberangkatan.name }}</span>
                    <span class="fw-normal">-</span>
                    <span>{{ jasa_products.product.tujuan.name }}</span>
                  </div>

                  <div class="d-flex gap-2 justify-content-center">
                    <span class="fw-normal">{{
                      formatBirthDate(jasa_products.tanggal.berangkat)
                    }}</span>
                  </div>
                </td>
                <td>
                  <template v-for="passenger in jasa_products.passengers">
                    <div>
                      {{ passenger.first_name }} {{ passenger.last_name }}
                      <small class="ms-2 text-muted">{{
                        formatBirthDate(passenger.birth_date)
                      }}</small>
                    </div>
                  </template>
                </td>
                <td>
                  <div class="d-flex justify-content-between px-1">
                    <div>Rp</div>
                    <div>{{ jasa_products.product.show_price }}</div>
                  </div>
                </td>
              </tr>
            </template>
            <template v-else-if="jasa_products.type_jasa == 'sewa_kendaraan'">
              <tr>
                <td scope="row">1</td>
                <td>
                  <div class="d-flex prod">
                    <img
                      :src="jasa_products.product.image[0]"
                      class="rounded"
                      width="100"
                      height="50"
                    />
                    <div class="my-auto">
                      <span class="fw-bold">{{ jasa_products.product.name }}</span>
                      <span>{{ jasa_products.product.kapasitas }} Orang</span>
                      <!-- <span>TKDN (%): 100</span> -->
                      <!-- <span>Berat: {{ item.product.berat / 1000 }} kg</span> -->
                    </div>
                  </div>
                </td>
                <td>
                  <div class="d-flex gap-2 justify-content-center fw-bold">
                    <span>{{ jasa_products.product.kota }}</span>
                  </div>
                  <div class="d-flex gap-2 justify-content-center">
                    <span class="fw-normal">{{ jasa_products.tanggal.mulai }}</span>
                    <span class="fw-normal">-</span>
                    <span class="fw-normal">{{ jasa_products.tanggal.selesai }}</span>
                  </div>
                </td>
                <td>
                  <div>
                    {{ jasa_products.passenger.first_name }}
                    {{ jasa_products.passenger.last_name }}
                  </div>
                </td>
                <td>
                  <div class="d-flex justify-content-between px-1">
                    <div>Rp</div>
                    <div>{{ jasa_products.product.show_price }}</div>
                  </div>
                </td>
              </tr>
            </template>
            <template v-else-if="jasa_products.type_jasa == 'antar_jemput_bandara'">
              <tr>
                <td scope="row">1</td>
                <td>
                  <div class="d-flex prod">
                    <img
                      :src="jasa_products.product.image[0]"
                      class="rounded"
                      width="100"
                      height="50"
                    />
                    <div class="my-auto">
                      <span class="fw-bold">{{ jasa_products.product.name }}</span>
                      <span>{{ jasa_products.product.kapasitas }} Orang</span>
                      <!-- <span>TKDN (%): 100</span> -->
                      <!-- <span>Berat: {{ item.product.berat / 1000 }} kg</span> -->
                    </div>
                  </div>
                </td>
                <td>
                  <div class="d-flex gap-2 justify-content-center fw-bold">
                    <span>Bandara {{ jasa_products.product.bandara }}</span>
                    <span>-</span>
                    <span>{{ jasa_products.product.kota }}</span>
                  </div>
                  <div class="d-flex gap-2 justify-content-center">
                    <span class="fw-normal">{{ jasa_products.penjemputan.tanggal }}</span>
                    <span class="fw-normal">-</span>
                    <span class="fw-normal">{{ jasa_products.penjemputan.waktu }}</span>
                  </div>
                </td>
                <td>
                  <div>
                    {{ jasa_products.passenger.first_name }}
                    {{ jasa_products.passenger.last_name }}
                  </div>
                </td>
                <td>
                  <div class="d-flex justify-content-between px-1">
                    <div>Rp</div>
                    <div>{{ jasa_products.product.show_price }}</div>
                  </div>
                </td>
              </tr>
            </template>
            <template v-else-if="jasa_products.type_jasa == 'pesan_hotel'">
              <tr>
                <td scope="row">1</td>
                <td>
                  <div class="d-flex prod">
                    <img
                      :src="jasa_products.image"
                      class="rounded"
                      width="100"
                      height="50"
                    />
                    <div class="my-auto">
                      <span class="fw-semibold">{{ jasa_products.hotel_name }}</span>
                      <span>{{ jasa_products.room_name }}</span>
                      <!-- <span>TKDN (%): 100</span> -->
                      <!-- <span>Berat: {{ item.product.berat / 1000 }} kg</span> -->
                    </div>
                  </div>
                </td>
                <td>
                  <!-- {{ jasa_products.night_count }} Malam -->
                  <span class="d-block fw-normal">{{ jasa_products.checkin }}</span>
                  <span class="d-block fw-normal">{{ jasa_products.checkout }}</span>
                </td>
                <td>
                  <div v-for="guests in jasa_products.guests" :key="guests">
                    {{ guests.title }} {{ guests.name }}
                  </div>
                </td>
                <td>
                  <div class="d-flex gap-3 align-items-center justify-content-between">
                    <div>Rp</div>
                    <div>
                      <VueNumberFormat
                        v-model:value="pesanan.total_harga_barang"
                        :options="{
                          precision: 0,
                          prefix: '',
                          suffix: '',
                          decimal: ',',
                          thousand: '.',
                          acceptNegative: false,
                          isInteger: false,
                        }"
                        class="form-control __form-control text-end text-dark"
                        :disabled="pesanan.status === 'pesanan_diterima'"
                      ></VueNumberFormat>
                    </div>
                  </div>
                </td>
              </tr>
            </template>
            <template v-else>
              <tr>
                <td scope="row">1</td>
                <td>
                  <div class="d-flex prod">
                    <img
                      :src="
                        require(`@/assets/images/transportasi/${jasa_products.offers.legs[0].carriers[0].display_code}.jpg`)
                      "
                      class="rounded px-2"
                      width="80"
                      height="50"
                    />
                    <div class="my-auto">
                      <div class="fw-semibold">
                        {{ `${jasa_products.offers.legs[0].carriers[0].name}` }}
                      </div>
                      <div
                        class="d-flex justify-content-start align-items-center gap-3 fs-3"
                      >
                        <span>{{
                          `${jasa_products.destination.from.PlaceId}
                                                ${jasa_products.destination.from.CityName}`
                        }}</span>
                        <svg
                          v-if="jasa_products.type === 'ONEWAY'"
                          style="width: 1rem"
                          xmlns="http://www.w3.org/2000/svg"
                          viewBox="0 0 24 24"
                          data-rtl-flip="true"
                        >
                          <path
                            d="M23.25 11.747H.75a.75.75 0 0 0 0 1.5h22.5a.75.75 0 0 0 0-1.5zm-3.22 5.03l3.75-3.75a.75.75 0 0 0 0-1.06l-3.75-3.75a.75.75 0 1 0-1.06 1.06l3.75 3.75v-1.06l-3.75 3.75a.75.75 0 1 0 1.06 1.06z"
                          ></path>
                        </svg>
                        <svg
                          v-else
                          style="width: 1rem"
                          xmlns="http://www.w3.org/2000/svg"
                          viewBox="0 0 24 24"
                        >
                          <path
                            d="M10.5 15.75h12.75a.75.75 0 0 0 0-1.5H10.5a.75.75 0 0 0 0 1.5zm9.22-3.22l3 3v-1.06l-3 3a.75.75 0 1 0 1.06 1.06l3-3a.75.75 0 0 0 0-1.06l-3-3a.75.75 0 1 0-1.06 1.06zM13.5 8.25H.75a.75.75 0 0 0 0 1.5H13.5a.75.75 0 0 0 0-1.5zm-9.22 3.22l-3-3v1.06l3-3a.75.75 0 0 0-1.06-1.06l-3 3a.75.75 0 0 0 0 1.06l3 3a.75.75 0 0 0 1.06-1.06z"
                          ></path>
                        </svg>
                        <span>{{
                          `${jasa_products.destination.to.PlaceId}
                                                ${jasa_products.destination.to.CityName}`
                        }}</span>
                      </div>

                      <span>{{ jasa_products.room_name }}</span>
                    </div>
                  </div>
                </td>
                <td>
                  <template v-if="jasa_products.type === 'ONEWAY'">
                    <strong class="d-block">{{
                      `${formatDateDay(jasa_products.date.depart)}`
                    }}</strong>
                    <span>{{ `${formatTime(jasa_products.offers.legs[0].departure)} - ${formatTime(jasa_products.offers.legs[0].arrival)}` }}</span>
                  </template>
                  <div
                    v-else
                    class="d-flex justify-content-center align-items-center gap-3"
                  >
                    <span>{{ `${jasa_products.date.depart}` }}</span>
                    <svg
                      style="width: 1rem"
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 24 24"
                    >
                      <path
                        d="M10.5 15.75h12.75a.75.75 0 0 0 0-1.5H10.5a.75.75 0 0 0 0 1.5zm9.22-3.22l3 3v-1.06l-3 3a.75.75 0 1 0 1.06 1.06l3-3a.75.75 0 0 0 0-1.06l-3-3a.75.75 0 1 0-1.06 1.06zM13.5 8.25H.75a.75.75 0 0 0 0 1.5H13.5a.75.75 0 0 0 0-1.5zm-9.22 3.22l-3-3v1.06l3-3a.75.75 0 0 0-1.06-1.06l-3 3a.75.75 0 0 0 0 1.06l3 3a.75.75 0 0 0 1.06-1.06z"
                      ></path>
                    </svg>
                    <span>{{ `${jasa_products.date.return}` }}</span>
                  </div>
                </td>
                <td>
                  <div
                    v-for="(adults, adultsIndex) in jasa_products.passengers.adults"
                    :key="adultsIndex"
                  >
                    {{ adults.first_name }} {{ adults.last_name }}
                    <span style="font-size: 12px">{{
                      formatBirthDate(adults.birth_date)
                    }}</span>
                  </div>
                  <div
                    v-for="(children, childrenIndex) in jasa_products.passengers.children"
                    :key="childrenIndex"
                  >
                    {{ children.first_name }} {{ children.last_name }}
                    <span style="font-size: 12px">{{
                      formatBirthDate(children.birth_date)
                    }}</span>
                  </div>
                </td>
                <td>
                  <div class="d-flex gap-3 align-items-center justify-content-between">
                    <div>Rp</div>
                    <div>
                      <VueNumberFormat
                        v-model:value="pesanan.total_harga_barang"
                        :options="{
                          precision: 0,
                          prefix: '',
                          suffix: '',
                          decimal: ',',
                          thousand: '.',
                          acceptNegative: false,
                          isInteger: false,
                        }"
                        class="form-control __form-control text-end text-dark"
                        :disabled="pesanan.status === 'pesanan_diterima'"
                      ></VueNumberFormat>
                    </div>
                  </div>
                </td>
              </tr>
            </template>
          </template>

          <tr style="background-color: #fdf6a1">
            <td colspan="4">Total Harga Produk</td>
            <td>
              <div class="d-flex justify-content-between px-1">
                <div>Rp</div>
                <div>
                  {{
                    parseInt(pesanan.total_harga_barang)
                      .toString()
                      .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                  }}
                </div>
              </div>
            </td>
          </tr>
          <tr v-if="!isJasaProduct" style="background-color: #fdf6a1">
            <td colspan="4">
              <div class="row justify-content-center" style="text-align: left">
                <div class="col-lg-12">
                  <div>Biaya Pengiriman - {{ pesanan.kurir }}</div>
                  <div>
                    <strong>{{ pembeli.name }}</strong>
                    <span class="d-inlin-block mx-2">{{ pembeli.no_telp }}</span>
                    <strong>{{ pembeli.email }}</strong>
                  </div>
                  <div v-if="alamat">
                    {{ alamat.alamat }}, {{ alamat.province_name }},
                    {{ alamat.city_name }}
                    {{ alamat.kodepos }}
                  </div>
                </div>
              </div>
            </td>
            <td class="align-middle">
              <div class="d-flex justify-content-between px-1">
                <div>Rp</div>
                <div>
                  {{
                    parseInt(pesanan.total_harga_kurir)
                      .toString()
                      .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                  }}
                </div>
              </div>
            </td>
          </tr>
          <tr style="background-color: #e5e5e5">
            <td colspan="4">Sub Total</td>
            <td class="align-middle">
              <div class="d-flex justify-content-between px-1">
                <div>Rp</div>
                <template v-if="isJasaProduct">
                  <div v-if="jasa_products.type_jasa == 'pesan_hotel' || jasa_products.type_jasa == 'pesan_tiket_pesawat'">
                    {{
                      parseInt(pesanan.total_harga_barang)
                        .toString()
                        .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                    }}
                  </div>
                  <div v-else>
                    {{
                      parseInt(pesanan.subtotal)
                        .toString()
                        .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                    }}
                  </div>
                </template>
                <template v-else>
                  <div>
                    {{
                      parseInt(pesanan.subtotal)
                        .toString()
                        .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                    }}
                  </div>
                </template>
              </div>
            </td>
          </tr>
          <!-- <tr style="background-color: #e5e5e5">
            <td colspan="4">
              <div class="row justify-content-center" style="text-align: left">
                <div class="col-lg-12">
                  <div class="row">
                    <div class="col-10">
                      <label for="">Jenis Pajak</label>
                      <input
                        type="text"
                        class="__form-control form-control"
                        :value="pesanan.jenis_pajak"
                        disabled
                      />
                    </div>
                    <div class="col-2">
                      <label for="" style="color: #e5e5e5">.</label>
                      <input
                        type="text"
                        class="__form-control form-control text-center"
                        :value="pesanan.jenis_pajak_value + '%'"
                        disabled
                      />
                    </div>
                  </div>
                </div>
              </div>
            </td>
            <td class="align-middle">
              <div class="d-flex justify-content-between px-1">
                <div>Rp</div>
                <div>
                  {{
                    parseInt(pesanan.total_pajak)
                      .toString()
                      .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                  }}
                </div>
              </div>
            </td>
          </tr> -->
          <tr style="background-color: #e5e5e5">
            <td colspan="4">
              <div class="row justify-content-center" style="text-align: left">
                <div class="col-lg-12">
                  <div class="row">
                    <div class="col-10">
                      <label for="">Pajak Penghasilan </label>
                      <input
                        type="text"
                        class="__form-control form-control"
                        :value="
                          pesanan.pajak_penghasilan === 'PPh'
                            ? 'PPh Pasal 22'
                            : pesanan.pajak_penghasilan
                        "
                        disabled
                      />
                    </div>
                    <div class="col-2">
                      <label for="" style="color: #e5e5e5">.</label>
                      <input
                        type="text"
                        class="__form-control form-control text-center"
                        :value="pesanan.pajak_penghasilan_value + '%'"
                        disabled
                      />
                    </div>
                  </div>
                </div>
              </div>
            </td>
            <td class="align-middle" style="color: #e62129">
              <div class="d-flex justify-content-between px-1">
                <div>Rp</div>
                <div>
                  {{
                    parseInt(pesanan.total_pajak_penghasilan)
                      .toString()
                      .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                  }}
                </div>
              </div>
            </td>
          </tr>
          <!-- <tr style="background-color: #ffe5e5">
            <td colspan="4">Total Transaksi</td>
            <td class="align-middle">
              <div class="d-flex justify-content-between px-1">
                <div>Rp</div>
                <template v-if="isJasaProduct">
                  <div v-if="jasa_products.type_jasa == 'pesan_hotel' || jasa_products.type_jasa == 'pesan_tiket_pesawat'">
                    {{
                      parseInt(pesanan.total_harga_barang)
                        .toString()
                        .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                    }}
                  </div>
                  <div v-else>
                    {{
                      pesanan.total_transaksi
                        ? parseInt(pesanan.total_transaksi)
                            .toString()
                            .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                        : 0
                    }}
                  </div>
                </template>
                <template v-else>
                  <div>
                    {{
                      pesanan.total_transaksi
                        ? parseInt(pesanan.total_transaksi)
                            .toString()
                            .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                        : 0
                    }}
                  </div>
                </template>
              </div>
            </td>
          </tr> -->
          <tr style="background-color: #ffe5e5">
            <td colspan="4">Total Pembayaran Pembeli</td>
            <td class="align-middle">
              <div class="d-flex justify-content-between px-1">
                <div>Rp</div>
                <template v-if="isJasaProduct">
                  <div v-if="jasa_products.type_jasa == 'pesan_hotel' || jasa_products.type_jasa == 'pesan_tiket_pesawat'">
                    {{
                      pesanan.total_pembayaran
                        ? parseInt(pesanan.total_pembayaran + pesanan.service_fee)
                            .toString()
                            .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                        : 0
                    }}
                  </div>
                  <div v-else>
                    {{
                      pesanan.total_pembayaran
                        ? parseInt(pesanan.total_pembayaran)
                            .toString()
                            .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                        : 0
                    }}
                  </div>
                </template>
                <template v-else>
                  <div>
                    {{ parseInt(getTotalPembayaran()).toString().replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.") }}
                  </div>
                </template>
              </div>
            </td>
          </tr>
          <tr style="background-color: #ffe5e5">
            <td colspan="4">
              <template v-if="isJasaProduct && (
                jasa_products.type_jasa == 'pesan_hotel' ||
                jasa_products.type_jasa == 'pesan_tiket_pesawat'
              )">
                <div v-if="pesanan.metode_pembayaran === 'Pembayaran Bertempo'">
                  Biaya Layanan
                </div>
                <span v-else-if="pesanan.metode_pembayaran === 'Pembayaran Langsung'">
                  Biaya Layanan
                </span>
                <span v-else>
                  Biaya Layanan
                </span>
              </template>
              <span v-else>
                Biaya Layanan
              </span>
            </td>
            <td class="align-middle">
              <div class="d-flex justify-content-between px-1">
                <div>Rp</div>
                <div>
                  {{ parseInt(getServiceFee()).toString().replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.") }}
                </div>
              </div>
            </td>
          </tr>
          <template v-if="isJasaProduct">
            <tr style="background-color: #acc475" v-if="jasa_products.type_jasa === 'pesan_hotel' || jasa_products.type_jasa === 'pesan_tiket_pesawat'">
              <td colspan="4">Penghasilan Pemasok</td>
              <td class="align-middle">
                <div class="d-flex justify-content-between px-1">
                  <div>Rp</div>
                  <div>{{ pesanan.penghasilan_pemasok ? parseInt(penghasilanPemasok()).toString().replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.") : 0 }}</div>
                </div>
              </td>
            </tr>
          </template>
          <template v-else>
            <tr style="background-color: #acc475">
              <td colspan="4">Penghasilan Pemasok</td>
              <td class="align-middle">
                <div class="d-flex justify-content-between px-1">
                  <div>Rp</div>
                  <div>{{ pesanan.penghasilan_pemasok ? parseInt(penghasilanPemasok()).toString().replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.") : 0 }}</div>
                </div>
              </td>
            </tr>
          </template>
        </tbody>
      </table>
    </div>

    <div class="mt-4">
      <div class="row">
        <!-- <div class="col-lg-4 mb-3">
                    <label for="">Input Nomor Resi (Opsional)</label>
                    <textarea v-model="pesanan.resi" class="__form-control" placeholder="Ketik catatan untuk penjual"
                        id="" cols="30" rows="4"></textarea>
                </div> -->
        <div class="col-lg-4 mb-3">
          <label for="">Catatan untuk Pemasok</label>
          <textarea
            v-model="pesanan.catatan"
            class="__form-control"
            id=""
            cols="30"
            rows="4"
            :disabled="pesanan.status != 'pesanan_dibuat'"
          ></textarea>
        </div>

        <div class="col-lg-4 mb-3">
          <label for="">Catatan untuk Pembeli (Opsional)</label>
          <textarea
            v-model="pesanan.catatan_pembeli"
            class="__form-control"
            placeholder="Ketik Catatan untuk Pembeli"
            id=""
            cols="30"
            rows="4"
          ></textarea>
        </div>

        <div class="col-lg-4 mb-3" v-if="jasa_products && (jasa_products.type_jasa == 'pesan_hotel' || jasa_products.type_jasa == 'pesan_tiket_pesawat')">
          <label for="">Voucher Pesanan</label>
          <input
            type="file"
            accept=".pdf"
            @change="changeFile($event, 'voucher_pesanan')"
            class="__form-control form-control text-dark"
          />
        </div>
      </div>
    </div>

    <!-- <div class="mt-4">
      <div class="row">
        <div class="col-lg-8">
          <h6>Pelajari Lebih Lanjut</h6>
          <ol type="number" style="font-size: 15px">
            <li>
              Lakukan pembayaran sesuai dengan nominal yang tercantum pada total
              pembayaran.
            </li>
            <li>
              Jangka waktu pembayaran bertempo terhitung sejak pesanan diterima oleh pihak
              pembeli.
            </li>
            <li>
              Pemungutan/penyetoran/pelaporan PPN dan PPh 22 dilakukan oleh pihak
              marketplace (PMK-58/PMK.03/2022).
            </li>
            <li>
              Pemungutan/penyetoran/pelaporan Pajak Daerah dilakukan oleh pihak
              marketplace, dengan mengacu kepada aturan dan kebijakan pemerintah setempat.
            </li>
            <li>
              Pembeli dan Pemasok wajib menyetujui
              <router-link to="/syarat-ketentuan" style="color: var(--primary-color)"
                >syarat dan ketentuan</router-link
              >
              yang berlaku.
            </li>
          </ol>
        </div>
      </div>
    </div> -->

    <div class="mt-4">
      <div class="row justify-content-center">
        <div class="col-3" v-if="pesanan.status === 'pesanan_terbuat'">
          <button
            class="btn __btn-success w-100"
            @click.prevent="tolakTerima('tolak')"
            style="background-color: #d64242 !important; color: white"
          >
            Tolak Pesanan
          </button>
        </div>

        <div class="col-3" v-if="pesanan.status === 'pesanan_terbuat'">
          <button
            :disabled="loading.submit_pesanan"
            class="btn __btn-success w-100 d-flex gap-3 align-items-center justify-content-center"
            @click.prevent="tolakTerima('terima')"
          >
            Kirim Pesanan
            <span
              v-show="loading.submit_pesanan"
              class="spinner-border text-light"
              style="width: 20px; height: 20px"
              role="status"
            ></span>
          </button>
        </div>

        <div class="col-3" v-if="pesanan.status === 'pesanan_dikomplain'">
          <button
            class="btn __btn-primary w-100"
            v-if="pesanan.status === 'pesanan_dikomplain'"
            data-bs-toggle="modal"
            data-bs-target="#komplainPesan"
          >
            Lihat Laporan Komplain
          </button>
        </div>

        <template v-if="pesanan.status === 'pesanan_selesai' && pesanan.type_payment != null">
          <!-- <button class="btn __btn-primary w-25"
              data-bs-toggle="modal"
              data-bs-target="#buktiPembayaran"
            >Lihat Bukti Pembayaran dari Pembeli
            </button> -->
            <div
              class="modal fade"
              id="buktiPembayaran"
              data-bs-backdrop="static"
              data-bs-keyboard="false"
              tabindex="-1"
              aria-labelledby="buktiPembayaranLabel"
              aria-hidden="true"
            >
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="buktiPembayaranLabel">
                      {{
                        pesanan.bukti_pembayaran
                          ? "Bukti Pembayaran dari Pembeli"
                          : "Upload Bukti Pembayaran"
                      }}
                    </h5>
                    <button
                      type="button"
                      class="btn-close"
                      data-bs-dismiss="modal"
                      aria-label="Close"
                    ></button>
                  </div>
                  <div class="modal-body">
                    <div class="row justify-content-center">
                      <div class="col-lg-12" v-if="pesanan.bukti_pembayaran == null">
                        <div>
                          <input
                            accept=".pdf"
                            type="file"
                            class="__form-control"
                            @change="buktiPembayaran($event)"
                          />
                          <small>Format File PDF</small>
                        </div>
                        <div class="mt-3" v-if="fileBuktiPembayaran">
                          <iframe height="500px" width="100%" :src="buktiPembayaranImage"></iframe>
                          <!-- <img :src="buktiPembayaranImage" class="img-fluid" /> -->
                        </div>
                      </div>
                      <div class="col" v-else>
                        <iframe height="500px" width="100%" :src="pesanan.bukti_pembayaran"></iframe>
                        <!-- <img :src="pesanan.bukti_pembayaran" class="img-fluid" /> -->
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer" v-if="pesanan.bukti_pembayaran == null">
                    <button
                      class="btn __btn-primary py-2 px-4"
                      @click.prevent="postBuktiPembayaran"
                    >
                      Kirim
                    </button>
                  </div>
                </div>
              </div>
            </div>
        </template>
        <!-- <template v-if="pesanan.status === 'pesanan_selesai'">
          <div class="col-3 d-none" v-if="pesanan.payment_status !== 'paid'">
            <button
              class="btn __btn-primary w-100"
              v-if="pesanan.status === 'pesanan_selesai'"
              data-bs-toggle="modal"
              data-bs-target="#modalTalangan"
            >
              Ajukan Pembayaran Talangan
            </button>
          </div>

          <div class="col-3" v-if="pesanan.payment_status === 'paid'">
            <button
              class="btn __btn-primary w-100"
              v-if="pesanan.bukti_pencairan !== null"
              data-bs-toggle="modal"
              data-bs-target="#modalTalangan"
            >
              Bukti Transfer
            </button>
          </div>
        </template> -->
      </div>
    </div>

    <div
      class="modal fade"
      id="modalTalangan"
      data-bs-backdrop="static"
      data-bs-keyboard="false"
      tabindex="-1"
      aria-labelledby="modalTalanganLabel"
      aria-hidden="true"
      v-if="pesanan.status === 'pesanan_selesai'"
    >
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modalTalanganLabel">
              <template v-if="pesanan.bukti_pencairan === null">
                Proses Pengajuan Pembayaran Talangan
              </template>
              <template v-else> Bukti Pembayaran Talangan </template>
            </h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>

          <div class="modal-body">
            <template v-if="pesanan.bukti_pencairan === null">
              <img
                :src="require('@/assets/images/ic_dana.png')"
                class="img-fluid d-block mx-auto"
              />
              <div class="row" v-if="pinjaman.length == 0">
                <div class="col-lg-12">
                  <div class="form-group mb-3">
                    <label for="">Nomor Pesanan</label>
                    <input
                      type="text"
                      class="__form-control form-control __text-primary"
                      v-model="pesanan.no_pesanan"
                      readonly
                    />
                  </div>

                  <div class="form-group mb-3">
                    <label for="">Tanggal Pesanan</label>
                    <input
                      type="text"
                      class="__form-control form-control __text-primary"
                      v-model="pesanan.created_at"
                      readonly
                    />
                  </div>

                  <div class="form-group mb-3">
                    <label for="">Total Pembayaran</label>
                    <input
                      type="text"
                      class="__form-control form-control __text-primary"
                      :value="
                        'Rp ' +
                        parseInt(this.pesanan.total_pembayaran)
                          .toString()
                          .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, '$1\.')
                      "
                      readonly
                    />
                  </div>

                  <div class="form-group mb-3">
                    <label for="">Biaya Layanan</label>
                    <input
                      type="text"
                      class="__form-control form-control __text-primary"
                      :value="
                        'Rp ' +
                        parseInt(this.pesanan.service_fee)
                          .toString()
                          .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, '$1\.')
                      "
                      readonly
                    />
                  </div>

                  <div class="form-group mb-3">
                    <label for="">Biaya Administrasi Pembayaran Talangan</label>
                    <input
                      type="text"
                      class="__form-control form-control __text-primary"
                      :value="
                        'Rp ' +
                        parseInt(this.pesanan.service_fee * 2)
                          .toString()
                          .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, '$1\.')
                      "
                      readonly
                    />
                  </div>

                  <div class="form-group mb-3">
                    <label for="">Penghasilan yang diterima Pemasok</label>
                    <input
                      type="text"
                      class="__form-control form-control __text-primary"
                      :value="
                        'Rp ' +
                        getNomimalPencairan()
                          .toString()
                          .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, '$1\.')
                      "
                      readonly
                    />
                  </div>
                </div>
              </div>
              <div v-else-if="pinjaman.status == 'sedang_verifikasi'">
                <p class="text-center">
                  Pengajuan pembayaran talangan anda saat ini sedang diverifikasi oleh tim
                  terkait, silahkan mengecek status pengajuan anda melalui halaman
                  <a
                    href="/dashboard/transaksi/riwayat-pinjaman"
                    style="color: var(--primary-color)"
                    >Riwayat Pembayaran Talangan</a
                  >
                </p>
              </div>
              <div v-else-if="pinjaman.status == 'verifikasi'">
                <p class="text-center">
                  Pengajuan pembayaran anda berhasil diverifikasi, silahkan mengecek
                  status pengajuan anda melalui halaman
                  <a
                    href="/dashboard/transaksi/riwayat-pinjaman"
                    style="color: var(--primary-color)"
                    >Riwayat Pembayaran Talangan</a
                  >
                </p>
              </div>
            </template>

            <img
              v-else
              :src="pesanan.bukti_pencairan"
              class="img-fluid d-block mx-auto"
            />
          </div>

          <div class="modal-footer" v-if="pesanan.status === 'pesanan_selesai'">
            <button
              type="button"
              class="btn __btn-outline-primary"
              data-bs-dismiss="modal"
            >
              Kembali
            </button>
            <button
              type="button"
              class="btn __btn-primary"
              v-if="pinjaman.length == 0 && pesanan.bukti_pencairan === null"
              style="background-color: var(--primary-color)"
              @click.prevent="submitPinjaman"
            >
              Ajukan Pembayaran Talangan
            </button>
          </div>

          <div class="px-3 pb-4">
            <div class="text-dark fw-bold ps-1">Harap Diperhatikan :</div>
            <ul class="ps-4">
              <li class="__text-red fw-bold">
                Setiap pengajuan dana talangan, akan dikenakan tambahan potongan biaya
                administrasi sebesar 10% dari total pembayaran pembeli
              </li>
              <li>
                Pilih tombol ‘Kembali’ atau tutup halaman ini untuk membatalkan pengajuan
                pembayaran talangan
              </li>
              <li>
                Status Pesanan akan berubah secara otomatis, setelah diterimanya
                pembayaran dari pihak pembeli
              </li>
              <li>
                Penerusan pembayaran dari pihak pembeli ke rekening pihak pemasok
                dilakukan di hari yang sama
              </li>
              <li>
                Anda dapat melihat ‘Bukti Transfer’ pada form pesanan ini, setelah
                diterimanya pembayaran dari pihak pembeli
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div
      class="modal fade"
      id="komplainPesan"
      data-bs-backdrop="static"
      data-bs-keyboard="false"
      tabindex="-1"
      aria-labelledby="komplainPesanLabel"
      aria-hidden="true"
      v-if="pesanan.status === 'pesanan_dikomplain'"
    >
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="komplainPesanLabel">Laporan Komplain</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-lg-6 mb-3">
                <label for="">Permintaan Komplain Pembeli</label>
                <select
                  class="form-select __form-select"
                  v-model="komplain.permintaan"
                  :disabled="pesanan.status === 'pesanan_dikomplain'"
                >
                  <option value="Penukaran Produk">Penukaran Produk</option>
                  <option value="Pengembalian Dana">Pengembalian Dana</option>
                </select>
              </div>

              <div class="col-lg-12 mb-3">
                <label for="">Alasan Komplain</label>
                <textarea
                  v-model="komplain.alasan"
                  class="__form-control"
                  rows="5"
                  placeholder="Ketik alasan komplain"
                  :disabled="pesanan.status === 'pesanan_dikomplain'"
                ></textarea>
              </div>

              <div class="col mb-3">
                <label for="">Foto Komplain (format PDF)</label>
                <div class="d-flex justify-content-between w-100 gap-3">
                  <!-- <input
                    type="file"
                    class="form-control"
                    @change="uploadFoto($event)"
                    :disabled="pesanan.status === 'pesanan_dikomplain'"
                  /> -->

                  <button @click="downloadDocuments(komplain.foto, 'foto-komplain')" class="btn btn-sm __btn-primary">
                    Download <i class="ms-3 fas fa-download"></i>
                  </button>
                </div>

                <iframe
                  :src="komplain.foto"
                  alt=""
                  v-if="pesanan.status === 'pesanan_dikomplain'"
                  class="w-100 mt-3"
                />
              </div>
            </div>
          </div>
          <div class="modal-footer" v-if="pesanan.status !== 'pesanan_dikomplain'">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
              Close
            </button>
            <button
              type="button"
              class="btn btn-primary"
              style="background-color: var(--primary-color)"
              @click.prevent="komplainSubmit"
            >
              Kirim Laporan
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ReportPesanan
    ref="report"
    :title="`Pesanan-${pesanan.no_pesanan}`"
    :isJasaProduct="isJasaProduct"
    :pesanan="pesanan"
    :penjual="penjual"
    :pembeli="pembeli"
    :alamat_penjual="alamat"
    :alamat="alamat"
    :products="products"
    :jasa_products="jasa_products"
  />
</template>

<script>
import axios from "axios";
import Navbar from "@/v2/components/Navbar.vue";
import ReportPesanan from "@/components/print/ReportPesanan.vue";
import dayjs from "dayjs";
import id from "dayjs/locale/id";
import VueNumberFormat from "vue-number-format";

export default {
  components: {
    Navbar,
    ReportPesanan,
    VueNumberFormat,
  },
  data() {
    return {
      isJasaProduct: false,
      jasa_products: {
        type_jasa: null,
      },
      token: localStorage.getItem("token"),
      pesanan: [],
      penjual: [],
      pembeli: [],
      alamat: [],
      komplain: [],
      hari: 0,
      form: {
        untuk_keperluan: "",
        metode_pembayaran: "",
        hari: "",
        catatan: "",
      },
      bastFile: null,
      voucher_pesanan: null,
      pinjaman: [],
      loading: {
        submit_pesanan: false,
      },
    };
  },
  setup() {
    const formatBirthDate = (date) => {
      return dayjs(date).format("DD MMMM YYYY");
    };

    return {
      formatBirthDate,
    };
  },
  methods: {
    generateReport() {
      this.$refs.report.generateReport();
    },
    submitPinjaman() {
      const formData = new FormData();
      // formData.append('nominal_pencairan', (parseInt(this.pesanan.total_harga_barang) * 80 / 100) + parseInt(this.pesanan.total_harga_kurir));
      formData.append("nominal_pencairan", this.getNomimalPencairan());
      formData.append("tanggal_pesanan", this.pesanan.created_at);
      if (this.bastFile) {
        formData.append("bast", this.bastFile);
      }
      axios
        .post("/api/v1/pinjaman/" + this.$route.params.id, formData, {
          headers: {
            Authorization: "Bearer " + this.token,
            "Content-Type": "multipart/form-data",
          },
        })
        .then((resp) => {
          // console.log(resp);
          this.$swal({
            icon: "success",
            title: resp.data.message,
          });
          location.href = "/dashboard/transaksi/pesanan";
        })
        .catch((err) => {
          this.$swal({
            icon: "error",
            title: err.response.data.message,
          });
        });
    },
    changeFileBAST(e) {
      this.bastFile = e.target.files[0];
    },
    changeFile(event, model) {
      if(model == 'voucher_pesanan') {
        this.voucher_pesanan = event.target.files[0];
      }
    },
    async tolakTerima(tolakTerima) {
      this.loading.submit_pesanan = true;

      if (this.voucher_pesanan) {
        let formData = new FormData();
        formData.append("file", this.voucher_pesanan);
        var voucher_pesanan = await axios.post("/api/upload", formData, {
          headers: {
            "Content-Type": "multipart/form-data",
          },
        });
      }

      let obj = [];
      if(this.isJasaProduct && (this.jasa_products.type_jasa == 'pesan_hotel' || this.jasa_products.type_jasa == 'pesan_tiket_pesawat')) {
        obj = JSON.stringify({
          resi: this.pesanan.resi,
          catatan_pembeli: this.pesanan.catatan_pembeli,
          status: tolakTerima,
          total_harga_barang: this.pesanan.total_harga_barang,
          subtotal: this.pesanan.total_harga_barang,
          total_pembayaran: this.pesanan.total_harga_barang,
          total_transaksi: this.pesanan.total_harga_barang,
          voucher_pesanan: this.voucher_pesanan ? voucher_pesanan.data.file_url : "",
        });
      } else {
        obj = JSON.stringify({
          resi: this.pesanan.resi,
          catatan_pembeli: this.pesanan.catatan_pembeli,
          status: tolakTerima,
          voucher_pesanan: this.voucher_pesanan ? voucher_pesanan.data.file_url : "",
        });
      }

      axios
        .post("/api/v1/pesanan/tolak-terima/" + this.$route.params.id, obj, {
          headers: {
            Authorization: "Bearer " + this.token,
            "Content-Type": "application/json",
          },
        })
        .then((resp) => {
          this.$swal({
            icon: "success",
            title: resp.data.message,
          }).then(() => {
            location.href = "/dashboard/transaksi/pesanan";
          });
        })
        .catch((err) => {
          this.$swal({
            icon: "error",
            title: err.response.data.message,
          });
          this.loading.submit_pesanan = false;
        });
    },

    getTotalPembayaran() {
      if(this.pesanan.jenis_pajak === "Pajak Daerah – Dipungut Ritel Daring") {
          if (this.pesanan.pajak_penghasilan === "Tidak Dipungut PPh") {
            return this.pesanan.subtotal - this.pesanan.total_pajak_penghasilan;
          }

          else if (this.pesanan.pajak_penghasilan === "PPh Pasal 22 (LS)") {
            return this.pesanan.subtotal - this.pesanan.total_pajak_penghasilan;
          }

          else if (this.pesanan.pajak_penghasilan === "PPh Pasal 23 (LS)") {
            return this.pesanan.subtotal - this.pesanan.total_pajak_penghasilan;
          }

          else if (this.pesanan.pajak_penghasilan === "PPh Pasal 22 (UP)") {
            return this.pesanan.subtotal;
          }
      }

      return this.pesanan.total_pembayaran
    },

    getServiceFee() {
      if(this.pesanan.jenis_pajak === "Pajak Daerah – Dipungut Ritel Daring") {
          if (this.pesanan.pajak_penghasilan === "Tidak Dipungut PPh") {
            return this.getTotalPembayaran() * (5 / 100);
          }

          else if (this.pesanan.pajak_penghasilan === "PPh Pasal 22 (LS)") {
            return this.getTotalPembayaran() * (5 / 100);
          }

          else if (this.pesanan.pajak_penghasilan === "PPh Pasal 23 (LS)") {
            return this.getTotalPembayaran() * (5 / 100);
          }
      }

      return this.pesanan.service_fee;
    },

    formatDateDay(dateString) {
      const date = dayjs(dateString).locale("id");
      return date.format("dddd, DD MMMM YYYY");
    },

    formatTime(dateString) {
      const date = dayjs(dateString).locale("id");
      return date.format("HH:mm");
    },

    getNomimalPencairan() {
      return parseInt(
        this.pesanan.total_pembayaran -
          (this.pesanan.service_fee * 2 + this.pesanan.service_fee)
      );
    },

    penghasilanPemasok() {
      if(this.pesanan.jenis_pajak === "Pajak Daerah – Dipungut Ritel Daring") {
          if (this.pesanan.pajak_penghasilan === "Tidak Dipungut PPh") {
            return this.getTotalPembayaran() - this.getServiceFee();
          }

          else if (this.pesanan.pajak_penghasilan === "PPh Pasal 22 (LS)") {
            return this.getTotalPembayaran() - this.getServiceFee();
          }

          else if (this.pesanan.pajak_penghasilan === "PPh Pasal 23 (LS)") {
            return this.getTotalPembayaran() - this.getServiceFee();
          }
      }

      return this.pesanan.penghasilan_pemasok
    },

    downloadDocuments(url, name) {
      const download_name = `${name}-${this.pesanan.no_pesanan}`
      const download_url = `${process.env.VUE_APP_ENDPOINT_API}/api/v1/download?url=${url}&name=${download_name}`
      location.href = download_url
    },
  },
  mounted() {
    // axios.get("/api/v1/pesanan/get-komplain/" + this.$route.params.id, {
    //     headers: {
    //         "Authorization": "Bearer " + this.token,
    //     }
    // }).then((resp) => {
    //     console.log(resp.data.data);
    //     this.komplain = resp.data.data;
    // });
    axios
      .get("/api/v1/pesanan/" + this.$route.params.id, {
        params: {
          image_base64: true,
        },
        headers: {
          Authorization: "Bearer " + this.token,
        },
      })
      .then((resp) => {
        // console.log(resp.data.data);
        this.pesanan = resp.data.data;
        this.penjual = resp.data.data.penjual;
        this.pembeli = resp.data.data.pembeli;
        this.alamat = resp.data.data.alamat;
        this.products = resp.data.data.products;

        if (resp.data.data.jasa != null) {
          this.isJasaProduct = true;
          this.jasa_products = resp.data.data.jasa;
        }

        if (resp.data.data.status == "pesanan_dikomplain") {
          axios
            .get("/api/v1/pesanan/get-komplain/" + this.$route.params.id, {
              headers: {
                Authorization: "Bearer " + this.token,
              },
            })
            .then((resp) => {
              this.komplain = resp.data.data;
            });
        }
      });

    // if (this.pinjaman) {
    // axios.get("api/v1/pinjaman/detail/" + this.$route.params.id, {
    //     headers: {
    //         'Authorization': 'Bearer ' + this.token
    //     }
    // }).then((resp) => {
    //     // console.log(resp);
    //     this.pinjaman = resp.data.data
    // })
    // }
  },
};
</script>

<style scoped>
.documents-file {
  width: 100%;
  height: 100%;
  object-fit: fill;
  object-position: center;
}
</style>

<style scope>
label {
  color: black;
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 5px;
}

.text-14 {
  font-size: 14px;
}

.h-150px {
  height: 150px;
}

.title {
  font-weight: 600;
  font-size: 18px;
}

.__table-pesanan {
  border: 1px solid #b0b0b0;
}

.__table-pesanan thead {
  background-color: #82c4f3;
  text-align: center;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
}

.__table-pesanan thead th {
  padding: 15px 10px;
  font-weight: 500;
}

.__table-pesanan tbody td {
  text-align: center;
  font-weight: 500;
  vertical-align: middle;
}

.prod span {
  display: block;
  margin-left: 10px;
  font-size: 14px;
  text-align: left;
  font-weight: 400;
}
</style>
