<template>
  <Navbar />
  <div class="container my-5">
    <div class="d-flex justify-content-center position-relative">
      <div class="my-auto me-4">
        <h5 class="text-center" style="color: var(--primary-color)">Pesanan</h5>
        <button
          class="btn btn-primary position-absolute"
          style="right: 0; top: 0"
          @click="generateReport()"
        >
          <i class="fas fa-download px-2"></i> Download PDF
        </button>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-6">
            <table>
              <tr>
                <td style="width: 160px">Nomor Pesanan</td>
                <td>:</td>
                <td>{{ pesanan.no_pesanan }}</td>
              </tr>
              <tr>
                <td style="width: 160px">Tanggal Pesanan</td>
                <td>:</td>
                <td>{{ pesanan.created_at }}</td>
              </tr>
              <tr>
                <td style="width: 160px">Status Pesanan</td>
                <td>:</td>
                <td>
                  <template v-if="pesanan.status == 'pesanan_selesai'">
                    <span v-if="pesanan.payment_status == 'waiting_for_payment'">
                      Menunggu Pembayaran
                    </span>
                    <span v-else-if="pesanan.payment_status == 'paid'">
                      Pembayaran Diterima
                    </span>
                    <span v-else> Pesanan Selesai </span>
                  </template>
                  <span v-if="pesanan.status === 'permintaan_rfq'"> Permintaan RFQ</span>
                  <span v-if="pesanan.status === 'proses_permintaan_rfq'">
                    Permintaan RFQ</span
                  >
                  <span v-if="pesanan.status === 'pesanan_dibuat'">
                    Permintaan Pesanan</span
                  >
                  <span v-else-if="pesanan.status === 'pesanan_terbuat'">
                    Permintaan Pesanan</span
                  >
                  <span v-else-if="pesanan.status === 'pesanan_ditolak'">
                    Ditolak Pemasok</span
                  >
                  <span v-else-if="pesanan.status === 'pesanan_diterima'">
                    Sedang Dikirim</span
                  >
                  <span v-else-if="pesanan.status === 'pesanan_dikomplain'">
                    Pesanan Dikomplain</span
                  >
                  <span v-else-if="pesanan.status === 'permintaan_rfq_diterima'">
                    Menunggu Persetujuan Pembeli</span
                  >
                  <span v-else-if="pesanan.status == 'permintaan_rfq_ditolak'">
                    Permintaan RFQ Ditolak
                  </span>
                  <span v-else-if="pesanan.status == 'rfq_ditolak_pembeli'">
                    Permintaan RFQ Ditolak Pembeli</span
                  >
                </td>
              </tr>
            </table>
          </div>

          <div class="col-6">
            <table>
              <tr>
                <td style="width: 160px">Nama Pemasok</td>
                <td>:</td>
                <td>{{ penjual.nama_usaha }}</td>
              </tr>
              <tr>
                <td style="width: 160px">Lokasi Pemasok</td>
                <td>:</td>
                <td>{{ alamat.city_name }}</td>
              </tr>
              <!-- <tr>
                                <td style="width: 160px;">Kode Referral</td>
                                <td>:</td>
                                <td>
                                    -
                                </td>
                            </tr> -->
            </table>
          </div>
        </div>
      </div>

      <!--
            <div class="col-6 mb-3">
                <span>Lokasi Pemasok : {{ penjual.penjual }}</span>
            </div> -->
    </div>

    <div class="row mt-4">
      <h6 class="mb-4 title">Informasi Pembeli</h6>
      <div class="col-lg-4 mb-3">
        <label for="">Nama Pemesan</label>
        <input
          type="text"
          v-model="pesanan.nama_pemesan"
          class="__form-control form-control-sm"
          disabled
        />
      </div>
      <div class="col-lg-4 mb-3">
        <label for="">Telepon Pemesan</label>
        <input
          type="text"
          v-model="pesanan.no_telp_pemesan"
          class="__form-control form-control-sm"
          disabled
        />
      </div>

      <div class="col-lg-4 mb-3">
        <label for="">Email Pemesan</label>
        <input
          type="text"
          v-model="pesanan.email_pemesan"
          class="__form-control form-control-sm"
          disabled
        />
      </div>
      <div class="col-lg-4 mb-3">
        <label for="">Asal Instansi</label>
        <textarea
          type="text"
          rows="6"
          v-model="pesanan.asal_pemesan"
          class="__form-control form-control-sm"
          disabled
        ></textarea>
      </div>
      <div class="col-lg-4 mb-3">
        <label for="">Alamat Instansi</label>
        <textarea
          type="text"
          rows="6"
          v-model="pesanan.alamat_pemesan"
          class="__form-control form-control-sm"
          disabled
        ></textarea>
      </div>
      <div class="col-lg-4 mb-3">
        <label for="">Informasi Transaksi</label>
        <textarea
          type="text"
          rows="6"
          v-model="pesanan.untuk_keperluan"
          class="__form-control form-control-sm"
          :disabled="pesanan.status != 'permintaan_rfq'"
        ></textarea>
      </div>
    </div>

    <div>
      <h6 class="title mb-4">Informasi Pembayaran</h6>

      <div class="d-flex">
        <div class="me-2">
          <label for="">Metode Pembayaran</label>
          <select
            v-model="pesanan.metode_pembayaran"
            class="form-select __form-select"
            :disabled="pesanan.status != 'permintaan_rfq'"
          >
            <option value="Bayar Sebelum Pengiriman">Bayar Sebelum Pengiriman</option>
            <option value="Pembayaran Bertempo">Pembayaran Bertempo</option>
          </select>
        </div>
        <div v-if="pesanan.metode_pembayaran === 'Pembayaran Bertempo'">
          <label for="">Hari</label>
          <input
            type="number"
            v-model="pesanan.hari"
            class="form-control __form-select"
            style="width: 70px"
            :disabled="pesanan.status != 'permintaan_rfq'"
          />
        </div>
      </div>
    </div>

    <div class="mt-4">
      <table class="table table-bordered __table-pesanan">
        <thead>
          <tr>
            <th scope="col">No.</th>
            <th scope="col">Produk</th>
            <th scope="col">Kuantitas</th>
            <th scope="col">Harga Satuan</th>
            <th scope="col">Total Harga</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(item, index) in products" v-bind:key="item">
            <td scope="row">{{ index + 1 }}</td>
            <td>
              <div class="d-flex prod">
                <img :src="item.product.image[0]" class="rounded" width="100" />
                <div class="my-auto">
                  <span>{{ item.product.title }}</span>
                  <span>Produk Dalam Negeri</span>
                  <!-- <span>TKDN (%): 100</span> -->
                  <span>Berat: {{ item.product.berat / 1000 }} kg</span>
                </div>
              </div>
            </td>
            <td>{{ item.qty }}</td>
            <td>
              <div class="d-flex justify-content-between px-1">
                <div>Rp</div>
                <div>
                  {{
                    item.new_price == null
                      ? item.harga_satuan
                          .toString()
                          .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                      : item.new_price
                          .toString()
                          .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                  }}
                </div>
              </div>
            </td>
            <td>
              <div class="d-flex justify-content-between px-1">
                <div>Rp</div>
                <div>
                  {{
                    item.new_price == null
                      ? (item.harga_satuan * item.qty)
                          .toString()
                          .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                      : (item.new_price * item.qty)
                          .toString()
                          .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                  }}
                </div>
              </div>
            </td>
          </tr>
          <tr style="background-color: #fdf6a1">
            <td colspan="4">Total Harga Produk</td>
            <td>
              <div class="d-flex justify-content-between px-1">
                <div>Rp</div>
                <div>
                  {{
                    parseInt(pesanan.total_harga_barang)
                      .toString()
                      .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                  }}
                </div>
              </div>
            </td>
          </tr>
          <tr style="background-color: #fdf6a1">
            <td colspan="4">
              <div class="row justify-content-center" style="text-align: left">
                <div class="col-lg-12">
                  <div>Biaya Pengiriman - {{ pesanan.kurir }}</div>
                  <div>
                    <strong>{{ pembeli.name }}</strong>
                    <span class="d-inlin-block mx-2">{{ pembeli.no_telp }}</span>
                    <strong>{{ pembeli.email }}</strong>
                  </div>
                  <div>
                    {{ alamat.alamat }}, {{ alamat.province_name }},
                    {{ alamat.city_name }}
                    {{ alamat.kodepos }}
                  </div>
                </div>
              </div>
            </td>
            <td class="align-middle">
              <div class="d-flex justify-content-between px-1">
                <div>Rp</div>
                <div>
                  {{
                    parseInt(pesanan.total_harga_kurir)
                      .toString()
                      .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                  }}
                </div>
              </div>
            </td>
          </tr>
          <tr style="background-color: #e5e5e5">
            <td colspan="4">Sub Total</td>
            <td class="align-middle">
              <div class="d-flex justify-content-between px-1">
                <div>Rp</div>
                <div>
                  {{
                    parseInt(pesanan.subtotal)
                      .toString()
                      .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                  }}
                </div>
              </div>
            </td>
          </tr>
          <tr style="background-color: #e5e5e5">
            <td colspan="4">
              <div class="row justify-content-center" style="text-align: left">
                <div class="col-lg-12">
                  <div class="row">
                    <div class="col-10">
                      <label for="">Jenis Pajak</label>
                      <input
                        type="text"
                        class="__form-control form-control"
                        :value="pesanan.jenis_pajak"
                        disabled
                      />
                    </div>
                    <div class="col-2">
                      <label for="" style="color: #e5e5e5">.</label>
                      <input
                        type="text"
                        class="__form-control form-control text-center"
                        :value="pesanan.jenis_pajak_value + '%'"
                        disabled
                      />
                    </div>
                  </div>
                </div>
              </div>
            </td>
            <td class="align-middle">
              <div class="d-flex justify-content-between px-1">
                <div>Rp</div>
                <div>
                  {{
                    parseInt(pesanan.total_pajak)
                      .toString()
                      .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                  }}
                </div>
              </div>
            </td>
          </tr>
          <tr style="background-color: #e5e5e5">
            <td colspan="4">
              <div class="row justify-content-center" style="text-align: left">
                <div class="col-lg-12">
                  <div class="row">
                    <div class="col-10">
                      <label for="">Pajak Penghasilan </label>
                      <input
                        type="text"
                        class="__form-control form-control"
                        :value="
                          pesanan.pajak_penghasilan === 'PPh'
                            ? 'PPh Pasal 22'
                            : pesanan.pajak_penghasilan
                        "
                        disabled
                      />
                    </div>
                    <div class="col-2">
                      <label for="" style="color: #e5e5e5">.</label>
                      <input
                        type="text"
                        class="__form-control form-control text-center"
                        :value="pesanan.pajak_penghasilan_value + '%'"
                        disabled
                      />
                    </div>
                  </div>
                </div>
              </div>
            </td>
            <td class="align-middle" style="color: #e62129">
              <div class="d-flex justify-content-between px-1">
                <div>Rp</div>
                <div>
                  {{
                    parseInt(pesanan.total_pajak_penghasilan)
                      .toString()
                      .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                  }}
                </div>
              </div>
            </td>
          </tr>
          <tr style="background-color: #ffe5e5">
            <td colspan="4">Total Transaksi</td>
            <td class="align-middle">
              <div class="d-flex justify-content-between px-1">
                <div>Rp</div>
                <div>
                  {{
                    parseInt(pesanan.total_transaksi)
                      .toString()
                      .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                  }}
                </div>
              </div>
            </td>
          </tr>
          <tr style="background-color: #ffe5e5">
            <td colspan="4">Total Pembayaran</td>
            <td class="align-middle">
              <div class="d-flex justify-content-between px-1">
                <div>Rp</div>
                <div>
                  {{
                    parseInt(pesanan.total_pembayaran)
                      .toString()
                      .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                  }}
                </div>
              </div>
            </td>
          </tr>
          <tr style="background-color: #ffe5e5">
            <td colspan="4">Biaya Layanan</td>
            <td class="align-middle">
              <div class="d-flex justify-content-between px-1">
                <div>Rp</div>
                <div>
                  {{
                    pesanan.service_fee
                      ? parseInt(pesanan.service_fee)
                          .toString()
                          .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                      : 0
                  }}
                </div>
              </div>
            </td>
          </tr>
          <tr style="background-color: #acc475">
            <td colspan="4">Penghasilan Pemasok</td>
            <td class="align-middle">
              <div class="d-flex justify-content-between px-1">
                <div>Rp</div>
                <div>
                  {{
                    pesanan.penghasilan_pemasok
                      ? parseInt(pesanan.penghasilan_pemasok)
                          .toString()
                          .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                      : 0
                  }}
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="mt-4">
      <div class="row">
        <div class="col-lg-8">
          <h6>Pelajari Lebih Lanjut</h6>
          <ol type="number" style="font-size: 15px">
            <li>
              Lakukan pembayaran sesuai dengan nominal yang tercantum pada total
              pembayaran.
            </li>
            <li>
              Jangka waktu pembayaran bertempo terhitung sejak pesanan diterima oleh pihak
              pembeli.
            </li>
            <li>
              Pemungutan/penyetoran/pelaporan PPN dan PPh 22 dilakukan oleh pihak
              marketplace (PMK-58/PMK.03/2022).
            </li>
            <li>
              Pemungutan/penyetoran/pelaporan Pajak Daerah dilakukan oleh pihak
              marketplace, dengan mengacu kepada aturan dan kebijakan pemerintah setempat.
            </li>
            <li>
              Pembeli dan Pemasok wajib menyetujui
              <router-link to="/syarat-ketentuan" style="color: var(--primary-color)"
                >syarat dan ketentuan</router-link
              >
              yang berlaku.
            </li>
          </ol>
        </div>
      </div>
    </div>

    <div class="mt-4">
      <div class="row justify-content-center">
        <!-- <div class="col-3" v-if="pesanan.status === 'proses_permintaan_rfq'">
          <button
            class="btn __btn-success w-100"
            @click.prevent="tolakTerimaRfq('ditolak')"
            style="background-color: #d64242 !important; color: white"
          >
            Tolak Penawaran
          </button>
        </div>

        <div class="col-3" v-if="pesanan.status === 'proses_permintaan_rfq'">
          <button
            class="btn __btn-success w-100"
            @click.prevent="tolakTerimaRfq('diterima')"
          >
            Terima Penawaran
          </button>
        </div> -->

        <div class="col-3" v-if="pesanan.status === 'proses_permintaan_rfq'">
          <button
            class="btn __btn-success w-100"
            @click.prevent="tolakTerima('tolak')"
            style="background-color: #d64242 !important; color: white"
          >
            Tolak Pesanan
          </button>
        </div>

        <div class="col-3" v-if="pesanan.status === 'proses_permintaan_rfq'">
          <button class="btn __btn-success w-100" @click.prevent="tolakTerima('terima')">
            Kirim Pesanan
          </button>
        </div>

        <div class="col-3" v-if="pesanan.status === 'pesanan_dikomplain'">
          <button
            class="btn __btn-primary w-100"
            v-if="pesanan.status === 'pesanan_dikomplain'"
            data-bs-toggle="modal"
            data-bs-target="#komplainPesan"
          >
            Lihat Laporan Komplain
          </button>
        </div>

        <div
          class="col-3 d-none"
          v-if="pesanan.payment_status !== 'paid' && pesanan.status === 'pesanan_selesai'"
        >
          <button
            class="btn __btn-primary w-100"
            data-bs-toggle="modal"
            data-bs-target="#modalTalangan"
          >
            Ajukan Pembayaran Talangan
          </button>
        </div>

        <!-- Modal Talangan -->
        <div
          class="modal fade"
          id="modalTalangan"
          data-bs-backdrop="static"
          data-bs-keyboard="false"
          tabindex="-1"
          aria-labelledby="modalTalanganLabel"
          aria-hidden="true"
          v-if="pesanan.status === 'pesanan_selesai'"
        >
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="modalTalanganLabel">
                  Proses Pengajuan Pembayaran Talangan
                </h5>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
                <img
                  :src="require('@/assets/images/ic_dana.png')"
                  class="img-fluid d-block mx-auto"
                />
                <div class="row" v-if="pinjaman.length == 0">
                  <div class="col-lg-12">
                    <div class="form-group mb-3">
                      <label for="">Nomor Pesanan</label>
                      <input
                        type="text"
                        class="__form-control form-control __text-primary"
                        v-model="pesanan.no_pesanan"
                        readonly
                      />
                    </div>

                    <div class="form-group mb-3">
                      <label for="">Tanggal Pesanan</label>
                      <input
                        type="text"
                        class="__form-control form-control __text-primary"
                        v-model="pesanan.created_at"
                        readonly
                      />
                    </div>

                    <div class="form-group mb-3">
                      <label for="">Total Pembayaran</label>
                      <input
                        type="text"
                        class="__form-control form-control __text-primary"
                        :value="
                          'Rp ' +
                          parseInt(this.pesanan.total_pembayaran)
                            .toString()
                            .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, '$1\.')
                        "
                        readonly
                      />
                    </div>

                    <div class="form-group mb-3">
                      <label for="">Biaya Layanan</label>
                      <input
                        type="text"
                        class="__form-control form-control __text-primary"
                        :value="
                          'Rp ' +
                          parseInt(this.pesanan.service_fee)
                            .toString()
                            .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, '$1\.')
                        "
                        readonly
                      />
                    </div>

                    <div class="form-group mb-3">
                      <label for="">Biaya Administrasi Pembayaran Talangan</label>
                      <input
                        type="text"
                        class="__form-control form-control __text-primary"
                        :value="
                          'Rp ' +
                          parseInt(this.pesanan.service_fee * 2)
                            .toString()
                            .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, '$1\.')
                        "
                        readonly
                      />
                    </div>

                    <div class="form-group mb-3">
                      <label for="">Penghasilan yang diterima Pemasok</label>
                      <input
                        type="text"
                        class="__form-control form-control __text-primary"
                        :value="
                          'Rp ' +
                          getNomimalPencairan()
                            .toString()
                            .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, '$1\.')
                        "
                        readonly
                      />
                    </div>
                  </div>
                </div>

                <div v-else-if="pinjaman.status == 'sedang_verifikasi'">
                  <p class="text-center">
                    Pengajuan pembayaran talangan anda saat ini sedang diverifikasi oleh
                    tim terkait, silahkan mengecek status pengajuan anda melalui halaman
                    <a
                      href="/dashboard/transaksi/riwayat-pinjaman"
                      style="color: var(--primary-color)"
                      >Riwayat Pembayaran Talangan</a
                    >
                  </p>
                </div>
                <div v-else-if="pinjaman.status == 'verifikasi'">
                  <p class="text-center">
                    Pengajuan pembayaran anda berhasil diverifikasi, silahkan mengecek
                    status pengajuan anda melalui halaman
                    <a
                      href="/dashboard/transaksi/riwayat-pinjaman"
                      style="color: var(--primary-color)"
                      >Riwayat Pembayaran Talangan</a
                    >
                  </p>
                </div>
              </div>
              <div class="modal-footer" v-if="pesanan.status === 'pesanan_selesai'">
                <button
                  type="button"
                  class="btn __btn-outline-primary"
                  data-bs-dismiss="modal"
                >
                  Kembali
                </button>
                <button
                  type="button"
                  class="btn __btn-primary"
                  v-if="pinjaman.length == 0"
                  style="background-color: var(--primary-color)"
                  @click.prevent="submitPinjaman"
                >
                  Ajukan Pembayaran Talangan
                </button>
              </div>

              <div class="px-3 pb-4">
                <div class="text-dark fw-bold ps-1">Harap Diperhatikan :</div>
                <ul class="ps-4">
                  <li class="__text-red fw-bold">
                    Setiap pengajuan dana talangan, akan dikenakan tambahan potongan biaya
                    administrasi sebesar 10% dari total pembayaran pembeli
                  </li>
                  <li>
                    Pilih tombol ‘Kembali’ atau tutup halaman ini untuk membatalkan
                    pengajuan pembayaran talangan
                  </li>
                  <li>
                    Status Pesanan akan berubah secara otomatis, setelah diterimanya
                    pembayaran dari pihak pembeli
                  </li>
                  <li>
                    Penerusan pembayaran dari pihak pembeli ke rekening pihak pemasok
                    dilakukan di hari yang sama
                  </li>
                  <li>
                    Anda dapat melihat ‘Bukti Transfer’ pada form pesanan ini, setelah
                    diterimanya pembayaran dari pihak pembeli
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <!-- Komplain Pesanan -->
        <div
          class="modal fade"
          id="komplainPesan"
          data-bs-backdrop="static"
          data-bs-keyboard="false"
          tabindex="-1"
          aria-labelledby="komplainPesanLabel"
          aria-hidden="true"
          v-if="
            pesanan.status === 'pesanan_dikomplain' ||
            pesanan.status === 'pesanan_diterima'
          "
        >
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="komplainPesanLabel">Laporan Komplain</h5>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
                <div class="row">
                  <div class="col-lg-6 mb-3">
                    <label for="">Permintaan Komplain Pembeli</label>
                    <select
                      class="form-select __form-select"
                      v-model="komplain.permintaan"
                      :disabled="pesanan.status === 'pesanan_dikomplain'"
                    >
                      <option value="Penukaran Produk">Penukaran Produk</option>
                      <option value="Pengembalian Dana">Pengembalian Dana</option>
                    </select>
                  </div>

                  <div class="col-lg-12 mb-3">
                    <label for="">Alasan Komplain</label>
                    <textarea
                      v-model="komplain.alasan"
                      class="__form-control"
                      rows="5"
                      placeholder="Ketik alasan komplain"
                      :disabled="pesanan.status === 'pesanan_dikomplain'"
                    ></textarea>
                  </div>

                  <div class="col mb-3">
                    <label for="">Foto Komplain (format PDF)</label>
                    <div class="d-flex justify-content-between w-100 gap-3">
                      <!-- <input
                        type="file"
                        class="form-control"
                        @change="uploadFoto($event)"
                        :disabled="pesanan.status === 'pesanan_dikomplain'"
                      /> -->

                      <button @click="downloadDocuments(komplain.foto, 'foto-komplain')" class="btn btn-sm __btn-primary">
                        Download <i class="ms-3 fas fa-download"></i>
                      </button>
                    </div>

                    <iframe
                      :src="komplain.foto"
                      alt=""
                      v-if="pesanan.status === 'pesanan_dikomplain'"
                      class="w-100 mt-3"
                    />
                  </div>
                </div>
              </div>
              <div class="modal-footer" v-if="pesanan.status !== 'pesanan_dikomplain'">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                  Close
                </button>
                <button
                  type="button"
                  class="btn btn-primary"
                  style="background-color: var(--primary-color)"
                  @click.prevent="komplainSubmit"
                >
                  Kirim Laporan
                </button>
              </div>
            </div>
          </div>
        </div>

        <div
          class="modal fade"
          id="ulasanModal"
          data-bs-backdrop="static"
          data-bs-keyboard="false"
          tabindex="-1"
          aria-labelledby="ulasanModalLabel"
          aria-hidden="true"
          v-if="pesanan.status === 'pesanan_diterima'"
        >
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="ulasanModalLabel">Ulasan</h5>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
                <div class="row">
                  <div class="col-lg-12 mb-3">
                    <div class="row justify-content-center">
                      <div class="col-lg-6 text-center">
                        <div id="full-stars-example">
                          <div class="rating-group">
                            <input
                              class="rating__input rating__input--none"
                              name="rating"
                              v-model="ulasan.rating"
                              id="rating-none"
                              value="0"
                              type="radio"
                            />
                            <label
                              aria-label="No rating"
                              class="rating__label"
                              for="rating-none"
                              ><i class="rating__icon rating__icon--none fa fa-ban"></i
                            ></label>
                            <label
                              aria-label="1 star"
                              class="rating__label"
                              for="rating-1"
                              ><i class="rating__icon rating__icon--star fa fa-star"></i
                            ></label>
                            <input
                              class="rating__input"
                              name="rating"
                              v-model="ulasan.rating"
                              id="rating-1"
                              value="1"
                              type="radio"
                            />
                            <label
                              aria-label="2 stars"
                              class="rating__label"
                              for="rating-2"
                              ><i class="rating__icon rating__icon--star fa fa-star"></i
                            ></label>
                            <input
                              class="rating__input"
                              name="rating"
                              v-model="ulasan.rating"
                              id="rating-2"
                              value="2"
                              type="radio"
                            />
                            <label
                              aria-label="3 stars"
                              class="rating__label"
                              for="rating-3"
                              ><i class="rating__icon rating__icon--star fa fa-star"></i
                            ></label>
                            <input
                              class="rating__input"
                              name="rating"
                              v-model="ulasan.rating"
                              id="rating-3"
                              value="3"
                              type="radio"
                            />
                            <label
                              aria-label="4 stars"
                              class="rating__label"
                              for="rating-4"
                              ><i class="rating__icon rating__icon--star fa fa-star"></i
                            ></label>
                            <input
                              class="rating__input"
                              name="rating"
                              v-model="ulasan.rating"
                              id="rating-4"
                              value="4"
                              type="radio"
                            />
                            <label
                              aria-label="5 stars"
                              class="rating__label"
                              for="rating-5"
                              ><i class="rating__icon rating__icon--star fa fa-star"></i
                            ></label>
                            <input
                              class="rating__input"
                              name="rating"
                              v-model="ulasan.rating"
                              id="rating-5"
                              value="5"
                              type="radio"
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-lg-12 mb-3">
                    <label for="">Ulasan Tentang Produk</label>
                    <textarea
                      v-model="ulasan.ulasan"
                      class="__form-control"
                      rows="5"
                      placeholder="Ketik alasan komplain"
                      :disabled="pesanan.status === 'pesanan_dikomplain'"
                    ></textarea>
                  </div>

                  <div class="col-lg-6 mb-3">
                    <label for="">Upload Foto</label>
                    <input
                      type="file"
                      class="form-control"
                      @change="uploadFoto($event)"
                    />
                  </div>
                </div>
              </div>
              <div class="modal-footer" v-if="pesanan.status !== 'pesanan_dikomplain'">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                  Close
                </button>
                <button
                  type="button"
                  class="btn btn-primary"
                  style="background-color: var(--primary-color)"
                  @click.prevent="komplainSubmit"
                >
                  Kirim Laporan
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ReportPesanan
    ref="report"
    :title="`Pesanan-${pesanan.no_pesanan}`"
    :isJasaProduct="isJasaProduct"
    :pesanan="pesanan"
    :penjual="penjual"
    :pembeli="pembeli"
    :alamat_penjual="alamat"
    :alamat="alamat"
    :products="products"
    :jasa_products="jasa_products"
  />
</template>

<script>
import axios from "axios";
import Navbar from "@/v2/components/Navbar.vue";
import ReportPesanan from "@/components/print/ReportPesanan.vue";
export default {
  data() {
    return {
      token: localStorage.getItem("token"),
      pesanan: [],
      penjual: [],
      pembeli: [],
      alamat: [],
      products: [],
      komplains: [],
      hari: 0,
      komplain: {
        permintaan: "",
        alasan: "",
        foto: "",
      },
      ulasan: {
        rating: "",
        ulasan: "",
      },
      foto_komplain: null,
      ulasans: [],
      new_pesanan: {
        product_id: [],
      },
      bastFile: null,
      pinjaman: [],
    };
  },
  methods: {
    generateReport() {
      this.$refs.report.generateReport();
    },
    submitPinjaman() {
      const formData = new FormData();
      // formData.append('nominal_pencairan', (parseInt(this.pesanan.total_harga_barang) * 80 / 100) + parseInt(this.pesanan.total_harga_kurir));
      formData.append("nominal_pencairan", this.getNomimalPencairan());
      formData.append("tanggal_pesanan", this.pesanan.created_at);
      if (this.bastFile) {
        formData.append("bast", this.bastFile);
      }
      axios
        .post("/api/v1/pinjaman/" + this.$route.params.id, formData, {
          headers: {
            Authorization: "Bearer " + this.token,
            "Content-Type": "multipart/form-data",
          },
        })
        .then((resp) => {
          // console.log(resp);
          this.$swal({
            icon: "success",
            title: resp.data.message,
          });
          location.href = "/dashboard/transaksi/pesanan";
        })
        .catch((err) => {
          this.$swal({
            icon: "error",
            title: err.response.data.message,
          });
        });
    },
    changeFileBAST(e) {
      this.bastFile = e.target.files[0];
    },
    buatPesanan() {
      const obj = JSON.stringify({
        untuk_keperluan: this.pesanan.untuk_keperluan,
        metode_pembayaran: this.pesanan.metode_pembayaran,
        hari: this.pesanan.hari,
        catatan: this.pesanan.catatan,
      });
      axios
        .post("/api/v1/pesanan/buat-pesanan/" + this.$route.params.id, obj, {
          headers: {
            Authorization: "Bearer " + this.token,
            "Content-Type": "application/json",
          },
        })
        .then((resp) => {
          // console.log(resp);
          this.$swal({
            icon: "success",
            title: resp.data.message,
          });
          location.href = "/dashboard/transaksi/pesanan";
        })
        .catch((err) => {
          this.$swal({
            icon: "error",
            title: err.response.data.message,
          });
        });
    },
    uploadFoto(event) {
      this.foto_komplain = event.target.files[0];
    },
    async komplainSubmit() {
      if (this.foto_komplain) {
        let formData = new FormData();
        formData.append("file", this.foto_komplain);
        var foto_komplain = await axios.post("/api/upload", formData, {
          headers: {
            "Content-Type": "multipart/form-data",
          },
        });
      }
      const obj = JSON.stringify({
        permintaan: this.komplain.permintaan,
        alasan: this.komplain.alasan,
        foto: this.foto_komplain ? foto_komplain.data.file_url : "",
      });
      axios
        .post("/api/v1/pesanan/komplain/" + this.$route.params.id, obj, {
          headers: {
            Authorization: "Bearer " + this.token,
            "Content-Type": "application/json",
          },
        })
        .then((resp) => {
          this.$swal({
            icon: "success",
            title: resp.data.message,
          });
          location.href = "/dashboard/transaksi/pesanan";
        })
        .catch((err) => {
          this.$swal({
            icon: "error",
            title: err.response.data.message,
          });
        });
    },

    tolakTerimaRfq(type) {
      const obj = JSON.stringify({
        total_harga_barang: this.totalPrice,
        subtotal: this.totalPrice + this.pesanan.total_harga_kurir,
        total_pajak:
          ((this.totalPrice + this.pesanan.total_harga_kurir) *
            this.pesanan.jenis_pajak_value) /
          100,
        total_pajak_penghasilan:
          ((this.totalPrice + this.pesanan.total_harga_kurir) *
            this.pesanan.pajak_penghasilan_value) /
          100,
        total_pembayaran:
          this.totalPrice +
          this.pesanan.total_harga_kurir +
          ((this.totalPrice + this.pesanan.total_harga_kurir) *
            this.pesanan.jenis_pajak_value) /
            100 +
          ((this.totalPrice + this.pesanan.total_harga_kurir) *
            this.pesanan.pajak_penghasilan_value) /
            100,
        status: type,
        catatan_pembeli: this.pesanan.catatan_pembeli,
        id_cart: this.products,
      });

      axios
        .post("api/v1/pesanan/rfq/penawaran/" + this.$route.params.id + "/penjual", obj, {
          headers: {
            Authorization: "Bearer " + this.token,
            "Content-Type": "application/json",
          },
        })
        .then((resp) => {
          console.log(resp);
          this.$swal({
            icon: "success",
            title: resp.data.message,
          }).then(() => (location.href = "/dashboard/transaksi/pesanan"));
        });
    },
    tolakTerima(tolakTerima) {
      const obj = JSON.stringify({
        resi: this.pesanan.resi,
        catatan_pembeli: this.pesanan.catatan_pembeli,
        status: tolakTerima,
      });
      axios
        .post("/api/v1/pesanan/tolak-terima/" + this.$route.params.id, obj, {
          headers: {
            Authorization: "Bearer " + this.token,
            "Content-Type": "application/json",
          },
        })
        .then((resp) => {
          // console.log(resp);
          this.$swal({
            icon: "success",
            title: resp.data.message,
          }).then(() => location.href = "/dashboard/transaksi/pesanan");
        })
        .catch((err) => {
          this.$swal({
            icon: "error",
            title: err.response.data.message,
          });
        });
    },

    getNomimalPencairan() {
      return parseInt(
        this.pesanan.total_pembayaran -
          (this.pesanan.service_fee * 2 + this.pesanan.service_fee)
      );
    },

    // async ulasanSubmit() {
    //     const obj = JSON.stringify({
    //     });
    //     axios.post("/api/v1/pesanan/ulasan/")
    // },

    downloadDocuments(url, name) {
      const download_name = `${name}-${this.pesanan.no_pesanan}`
      const download_url = `${process.env.VUE_APP_ENDPOINT_API}/api/v1/download?url=${url}&name=${download_name}`
      location.href = download_url
    },
  },
  mounted() {
    this.ulasans.push({ ...this.ulasan });
    axios
      .get("/api/v1/pesanan/" + this.$route.params.id, {
        params: {
          image_base64: true,
        },
        headers: {
          Authorization: "Bearer " + this.token,
        },
      })
      .then((resp) => {
        // console.log(resp.data.data.products);
        this.pesanan = resp.data.data;
        this.penjual = resp.data.data.penjual;
        this.pembeli = resp.data.data.pembeli;
        this.alamat = resp.data.data.alamat;
        this.products = resp.data.data.products;

        if (resp.data.data.status == "pesanan_dikomplain") {
          axios
            .get("/api/v1/pesanan/get-komplain/" + this.$route.params.id, {
              headers: {
                Authorization: "Bearer " + this.token,
              },
            })
            .then((resp) => {
              this.komplain = resp.data.data;
            });
        }
      });
  },
  computed: {
    totalPrice() {
      return this.products.reduce(function (items, data) {
        return items + data.product.show_price * data.qty;
      }, 0);
    },
  },
  components: { Navbar, ReportPesanan },
};
</script>

<style scope>
label {
  color: black;
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 5px;
}

.title {
  font-weight: 600;
  font-size: 18px;
}

.__table-pesanan {
  border: 1px solid #b0b0b0;
}

.__table-pesanan thead {
  background-color: #82c4f3;
  text-align: center;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
}

.__table-pesanan thead th {
  padding: 15px 10px;
  font-weight: 500;
}

.__table-pesanan tbody td {
  text-align: center;
  font-weight: 500;
  vertical-align: middle;
}

.prod span {
  display: block;
  margin-left: 10px;
  font-size: 14px;
  text-align: left;
  font-weight: 400;
}

#full-stars-example .rating-group {
  display: inline-flex;
}

#full-stars-example .rating__icon {
  pointer-events: none;
}

#full-stars-example .rating__input {
  position: absolute !important;
  left: -9999px !important;
}

#full-stars-example .rating__label {
  cursor: pointer;
  padding: 0 0.1em;
  font-size: 2rem;
}

#full-stars-example .rating__icon--star {
  color: orange;
}

#full-stars-example .rating__icon--none {
  color: #eee;
}

#full-stars-example .rating__input--none:checked + .rating__label .rating__icon--none {
  color: red;
}

#full-stars-example .rating__input:checked ~ .rating__label .rating__icon--star {
  color: #ddd;
}

#full-stars-example .rating-group:hover .rating__label .rating__icon--star {
  color: orange;
}

#full-stars-example .rating__input:hover ~ .rating__label .rating__icon--star {
  color: #ddd;
}

#full-stars-example
  .rating-group:hover
  .rating__input--none:not(:hover)
  + .rating__label
  .rating__icon--none {
  color: #eee;
}

#full-stars-example .rating__input--none:hover + .rating__label .rating__icon--none {
  color: red;
}

#half-stars-example {
  /* use display:inline-flex to prevent whitespace issues. alternatively, you can put all the children of .rating-group on a single line */
  /* make hover effect work properly in IE */
  /* hide radio inputs */
  /* set icon padding and size */
  /* add padding and positioning to half star labels */
  /* set default star color */
  /* set color of none icon when unchecked */
  /* if none icon is checked, make it red */
  /* if any input is checked, make its following siblings grey */
  /* make all stars orange on rating group hover */
  /* make hovered input's following siblings grey on hover */
  /* make none icon grey on rating group hover */
  /* make none icon red on hover */
}

#half-stars-example .rating-group {
  display: inline-flex;
}

#half-stars-example .rating__icon {
  pointer-events: none;
}

#half-stars-example .rating__input {
  position: absolute !important;
  left: -9999px !important;
}

#half-stars-example .rating__label {
  cursor: pointer;
  /* if you change the left/right padding, update the margin-right property of .rating__label--half as well. */
  padding: 0 0.1em;
  font-size: 2rem;
}

#half-stars-example .rating__label--half {
  padding-right: 0;
  margin-right: -0.6em;
  z-index: 2;
}

#half-stars-example .rating__icon--star {
  color: orange;
}

#half-stars-example .rating__icon--none {
  color: #eee;
}

#half-stars-example .rating__input--none:checked + .rating__label .rating__icon--none {
  color: red;
}

#half-stars-example .rating__input:checked ~ .rating__label .rating__icon--star {
  color: #ddd;
}

#half-stars-example .rating-group:hover .rating__label .rating__icon--star,
#half-stars-example .rating-group:hover .rating__label--half .rating__icon--star {
  color: orange;
}

#half-stars-example .rating__input:hover ~ .rating__label .rating__icon--star,
#half-stars-example .rating__input:hover ~ .rating__label--half .rating__icon--star {
  color: #ddd;
}

#half-stars-example
  .rating-group:hover
  .rating__input--none:not(:hover)
  + .rating__label
  .rating__icon--none {
  color: #eee;
}

#half-stars-example .rating__input--none:hover + .rating__label .rating__icon--none {
  color: red;
}

#full-stars-example-two .rating-group {
  display: inline-flex;
}

#full-stars-example-two .rating__icon {
  pointer-events: none;
}

#full-stars-example-two .rating__input {
  position: absolute !important;
  left: -9999px !important;
}

#full-stars-example-two .rating__input--none {
  display: none;
}

#full-stars-example-two .rating__label {
  cursor: pointer;
  padding: 0 0.1em;
  font-size: 2rem;
}

#full-stars-example-two .rating__icon--star {
  color: orange;
}

#full-stars-example-two .rating__input:checked ~ .rating__label .rating__icon--star {
  color: #ddd;
}

#full-stars-example-two .rating-group:hover .rating__label .rating__icon--star {
  color: orange;
}

#full-stars-example-two .rating__input:hover ~ .rating__label .rating__icon--star {
  color: #ddd;
}
</style>
