<template>
    <Navbar />

    <div class="bg-breadcrumb">
        <nav class="container-fluid" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a class="text-decoration-none text-muted" href="/">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ category.title }}</li>
            </ol>
        </nav>
    </div>

    <div class="container-fluid text-center">
        <img class="img-fluid" :src="require('@/assets/images/banner/mesin-edc.jpg')" alt="Waktunya umkm untuk maju" width="1440" height="338">

        <h1 class="product-title mt-5">{{ category.title }}</h1>
        <div class="product-subdesc">Menampilkan <span class="__text-primary">{{ products.pagination?.count }}</span> Produk untuk "{{ category.title }}" ({{ products.meta?.from }} - {{ products.meta?.to }} dari {{ products.meta?.total }})</div>

        <div class="mt-4">
            <b-skeleton-wrapper :loading="loading">
                <template #loading>
                    <div class="row row-cols-lg-5">
                        <div class="col mb-4" v-for="i in limit">
                            <b-skeleton class="mx-auto" height="251px"></b-skeleton>
                            <b-skeleton class="mx-auto"></b-skeleton>
                            <b-skeleton class="mx-auto"></b-skeleton>
                            <b-skeleton class="mx-auto"></b-skeleton>
                        </div>
                    </div>
                </template>

                <div class="row row-cols-lg-5 text-start">
                    <div class="col mb-4" v-for="product in products.data">
                        <CardProduct :product="product" />
                    </div>
                </div>
            </b-skeleton-wrapper>

            <Pagination class="mb-4" @getPagination="loadProductPage($event)" :meta="products.meta" />
        </div>
    </div>
</template>

<script>
import axios from "axios";
import { toTitleCase } from "@/utils/text-formatting.js";
import { getLkppCategory } from "@/utils/lkpp-category.js";

import Navbar from '@/v2/components/Navbar'
import CardProduct from '@/v2/components/CardProduct'
import Pagination from '@/v2/components/Pagination'

export default {
    name: 'product-category',
    components: {
        Navbar,
        CardProduct,
        Pagination,
    },

    data() {
        return {
            loading: true,
            category: {
                name: this.$route.params.category,
                title: getLkppCategory().filter((data) => data.category == this.$route.params.category || data.name == this.$route.name)[0].title,
                id: getLkppCategory().filter((data) => data.category == this.$route.params.category || data.name == this.$route.name)[0].category_id,
            },
            page: 1,
            limit: 20,
            products: {
                data: [],
                meta: null,
                pagination: null,
            },
        }
    },

    methods: {
        async getProducts() {
            await axios.get(`/api/v1/product/`, {
                params: {
                    category: this.category.id,
                    page: this.page,
                    limit: this.limit,
                },
            })
            .then((resp) => {
                this.products = resp.data;
                this.loading = false;
            });
        },

        async loadProductPage(page) {
            this.page = page;
            this.loading = true;
            this.getProducts();
            return this.$router.push({
                query: {
                    category: this.category.id,
                    page: page
                }
            });
        },
    },

    mounted() {
        this.getProducts();
    },
}
</script>

<style scoped>
.product-subdesc {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    /* identical to box height, or 131% */

    text-align: center;
    font-feature-settings: 'tnum' on, 'lnum' on, 'liga' off;

    /* Secondary/Neutral/Gray 5 */

    color: #626B79;
}
.bg-input {
    background-color: #EDF0F2;
    color: rgba(35, 41, 51, 1);
}
.bg-input button.btn {
    background-color: #EDF0F2;
    color: rgba(35, 41, 51, 1);
}
.bg-input button.btn:hover {
    background-color: #dfdfdf;
    border-radius: 0;
}
.banner {
    padding: 0 6rem;
}
.row-pemasok {
    padding: 0 6rem;
}
.divider {
    border-bottom: 1px solid #D0D6DD;
}
</style>
