<template>
  <Navbar />

  <div class="bg-breadcrumb">
    <nav class="container-fluid" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a class="text-decoration-none text-muted" href="/">Home</a>
        </li>
        <li class="breadcrumb-item">
          <a class="text-decoration-none text-muted" href="/product"
            >Semua produk</a
          >
        </li>
        <li class="breadcrumb-item active" aria-current="page">
          Detail produk
        </li>
      </ol>
    </nav>
  </div>

  <div class="container-fluid mb-5">
    <b-skeleton-wrapper :loading="loading">
      <template #loading>
        <div class="row row-product justify-content-between">
          <div class="col-lg-6">
            <div class="d-flex gap-3">
              <div class="d-flex flex-column gap-3">
                <b-skeleton
                  class="mx-auto"
                  width="60px"
                  height="60px"
                ></b-skeleton>
                <b-skeleton
                  class="mx-auto"
                  width="60px"
                  height="60px"
                ></b-skeleton>
                <b-skeleton
                  class="mx-auto"
                  width="60px"
                  height="60px"
                ></b-skeleton>
              </div>

              <div class="w-75">
                <b-skeleton
                  class="mx-auto"
                  width="100%"
                  height="240%"
                ></b-skeleton>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <b-skeleton class="w-100 mt-2"></b-skeleton>
            <b-skeleton class="w-100 mt-2"></b-skeleton>
            <b-skeleton class="w-100 mt-2"></b-skeleton>

            <b-skeleton class="w-25 mt-5"></b-skeleton>

            <div class="d-flex gap-3 mt-5">
              <b-skeleton style="width: 33%"></b-skeleton>
              <b-skeleton style="width: 33%"></b-skeleton>
            </div>

            <b-skeleton class="mt-5 w-50"></b-skeleton>
            <b-skeleton class="w-50 mt-3" height="120px"></b-skeleton>

            <b-skeleton class="mt-4 w-75"></b-skeleton>
            <b-skeleton class="mt-1 w-75"></b-skeleton>
            <b-skeleton class="mt-1 w-75"></b-skeleton>
            <b-skeleton class="mt-1 w-75"></b-skeleton>
            <b-skeleton class="mt-1 w-75"></b-skeleton>

            <div class="divider mt-4"></div>

            <b-skeleton class="mt-4 w-75"></b-skeleton>
            <b-skeleton class="mt-3 w-75"></b-skeleton>

            <div class="divider mt-4"></div>

            <b-skeleton class="mt-4 w-75"></b-skeleton>
            <b-skeleton class="mt-3 w-75"></b-skeleton>

            <div class="divider mt-4"></div>

            <b-skeleton class="mt-4 w-75"></b-skeleton>
            <b-skeleton class="mt-3 w-75"></b-skeleton>
          </div>
        </div>
      </template>

      <div class="row row-product justify-content-between">
        <div class="col-lg-6">
          <div class="d-flex gap-3">
            <div class="d-flex flex-column gap-3" v-if="product?.image">
              <img
                @mouseover.lazy="changeImageDisplay(image)"
                v-for="image in product?.image"
                :src="image"
                alt=""
                class="img-fluid border rounded cursor-pointer product-img-thumbnail"
              />
            </div>

            <div style="width: 85%">
              <img
                :src="image_display"
                alt=""
                class="img-fluid border rounded product-img cursor-pointer"
                data-bs-toggle="modal"
                data-bs-target="#showProduct"
              />
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="__text-primary fw-bold">
            Stok : {{ product?.stok }} <span class="mx-3">|</span>Satuan :
            {{ product?.satuan }} <span class="mx-3">|</span>Berat :
            {{ product.berat ? convertBerat(product.berat) : "-" }}
            <span v-if="product.tkdn" class="mx-3">|</span>
            <span v-if="product.tkdn">TKDN : {{ product.tkdn }}%</span>
          </div>
          <div class="text-dark fw-bold fs-3 mt-2">{{ product?.title }}</div>
          <div class="__text-primary fw-bold fs-1 mt-1">
            Rp {{ product?.show_price_format }}
          </div>

          <div class="col-2 mt-5" v-show="product?.stok > 0">
            <b-input-group class="bg-input">
              <b-input-group-prepend>
                <b-button
                  variant="outline-secondary"
                  class="border-0"
                  @click.prevent="decrement"
                  :disabled="qty <= 1"
                  >-</b-button
                >
              </b-input-group-prepend>
              <b-form-input
                type="number"
                min="0.00"
                class="border-0 bg-transparent"
                v-model="qty"
                style="text-align: center"
                readonly
              ></b-form-input>
              <b-input-group-append>
                <b-button
                  variant="outline-secondary"
                  class="border-0"
                  @click.prevent="increment"
                  :disabled="qty >= product?.stok"
                  >+</b-button
                >
              </b-input-group-append>
            </b-input-group>
          </div>

          <div class="d-flex gap-3 mt-5">
            <div style="width: 33%">
              <button
                class="btn __btn-outline-primary w-100"
                @click.prevent="sendChat"
              >
                Chat Pemasok
              </button>
            </div>
            <div style="width: 33%" v-show="product?.stok > 0">
              <button
                @click.prevent="addToCart"
                :disabled="product?.stok <= 0"
                class="btn __btn-primary w-100"
              >
                Tambah ke Keranjang
              </button>
            </div>
          </div>

          <div class="mt-5 text-dark fw-bold">Tentang Pemasok</div>
          <!-- <img :src="product?.logo" :alt="product?.nama_toko" class="w-50 mt-3" style="height: 120px; object-fit: cover; object-position: center;"> -->

          <div class="text-muted mt-4">
            Nama Pemasok:
            <router-link
              :to="{ name: 'pemasok-detail', params: { id: product?.toko.id } }"
              class="cursor-pointer __text-primary fw-bold text-decoration-none"
              >{{ product?.nama_toko }}</router-link
            >
          </div>
          <div class="text-muted mt-1">
            Lokasi Pemasok: <strong>{{ product?.lokasi_penjual }}&nbsp;</strong>
          </div>
          <div class="text-muted mt-1">
            Produk Terjual:
            <strong>{{ product?.toko?.produk_terjual }}&nbsp;</strong>
          </div>
          <div class="text-muted mt-1">
            Transaksi: <strong>{{ product?.toko?.transaksi }}&nbsp;</strong>
          </div>
          <div class="text-muted mt-1">
            Nomor Telepon: <strong>{{ product?.telepon_penjual }}&nbsp;</strong>
          </div>

          <div
            class="accordion accordion-flush mt-4"
            id="accordionDeskripsiPanels"
          >
            <div class="accordion-item">
              <h2 class="accordion-header" id="deskripsiPanelsStayOpen-heading">
                <button
                  class="accordion-button px-0 text-dark fw-bold bg-white"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#deskripsiPanelsStayOpen-collapse"
                  aria-expanded="true"
                  aria-controls="deskripsiPanelsStayOpen-collapse"
                >
                  Deskripsi
                </button>
              </h2>
              <div
                id="deskripsiPanelsStayOpen-collapse"
                class="accordion-collapse collapse show"
                aria-labelledby="deskripsiPanelsStayOpen-heading"
              >
                <div class="accordion-body p-0">
                  <div class="text-muted mt-3">{{ product?.deskripsi }}</div>
                </div>
              </div>
            </div>
          </div>

          <div class="divider mt-4"></div>

          <div
            class="accordion accordion-flush mt-4"
            id="accordionGaransiPanels"
          >
            <div class="accordion-item">
              <h2 class="accordion-header" id="garansiPanelsStayOpen-heading">
                <button
                  class="accordion-button px-0 text-dark fw-bold bg-white"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#garansiPanelsStayOpen-collapse"
                  aria-expanded="true"
                  aria-controls="garansiPanelsStayOpen-collapse"
                >
                  Garansi
                </button>
              </h2>
              <div
                id="garansiPanelsStayOpen-collapse"
                class="accordion-collapse collapse show"
                aria-labelledby="garansiPanelsStayOpen-heading"
              >
                <div class="accordion-body p-0">
                  <div class="text-muted mt-3">
                    {{ product?.garansi || "Tidak ada garansi" }}
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="divider mt-4"></div>

          <div
            class="accordion accordion-flush mt-4"
            id="accordionUlasanPanels"
          >
            <div class="accordion-item">
              <h2 class="accordion-header" id="ulasanPanelsStayOpen-heading">
                <button
                  class="accordion-button px-0 text-dark fw-bold bg-white"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#ulasanPanelsStayOpen-collapse"
                  aria-expanded="true"
                  aria-controls="ulasanPanelsStayOpen-collapse"
                >
                  Ulasan Pembeli ({{ ulasan.length }})
                </button>
              </h2>
              <div
                id="ulasanPanelsStayOpen-collapse"
                class="accordion-collapse collapse show"
                aria-labelledby="ulasanPanelsStayOpen-heading"
              >
                <div class="accordion-body p-0">
                  <div v-if="!ulasan.length" class="text-muted mt-3">
                    Belum ada ulasan
                  </div>
                  <div
                    class="mt-3 mb-4"
                    v-for="item in ulasan"
                    v-bind:key="item.id"
                  >
                    <div class="d-flex gap-3">
                      <img
                        :src="item.user_image"
                        class="img-fluid rounded"
                        style="height: 90px; width: 130px"
                      />

                      <div>
                        <Rating class="mb-2" :count="item.rating" />
                        <div>
                          oleh <strong>{{ item.name }}</strong>
                        </div>
                        <small class="d-inline-block">{{
                          item.created_date
                        }}</small>
                        <div class="fs-5 fw-bold mt-2">{{ item.comment }}</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </b-skeleton-wrapper>
  </div>

  <div class="container-fluid mb-5">
    <b-skeleton-wrapper :loading="loading">
      <template #loading>
        <b-skeleton width="320px"></b-skeleton>
        <div class="row mt-4 gap-3">
          <div class="col" v-for="i in 5">
            <b-skeleton height="251px"></b-skeleton>
            <b-skeleton></b-skeleton>
            <b-skeleton></b-skeleton>
            <b-skeleton></b-skeleton>
          </div>
        </div>
      </template>

      <div class="text-dark fw-bold fs-5" v-show="products.length > 0">
        Produk Lain Pemasok
      </div>
      <div class="row row-cols-md-5 pe-5 mt-4">
        <div class="col mb-4" v-for="product in products">
          <CardProduct
            @getProductDetail="fetchingData($event)"
            :product="product"
          />
        </div>
      </div>
    </b-skeleton-wrapper>
  </div>

  <!-- Modal -->
  <Modal id="showProduct" title="Detail Produk">
    <img :src="image_display" alt="" class="img-fluid border rounded product-img" />
  </Modal>
</template>

<script>
import axios from "axios";

import Navbar from "@/v2/components/Navbar";
import Rating from "@/v2/components/Rating";
import CardProduct from "@/v2/components/CardProduct";
import Modal from "@/v2/components/Modal";

export default {
  name: "product-detail",
  components: {
    Navbar,
    Rating,
    CardProduct,
    Modal,
  },

  data() {
    return {
      loading: true,
      id: this.$route.params.id,
      qty: 1,
      product: [],
      products: [],
      ulasan: [],
      token: localStorage.getItem("token"),
      image_display: null,
    };
  },

  methods: {
    decrement() {
      this.qty--;
    },

    increment() {
      this.qty++;
    },

    toLoginPage(title) {
      return this.$swal({
        icon: "warning",
        title: title || "Gagal Mengirim Pesan",
        html: "Harus login sebelum lanjut.",
        confirmButtonText: "Masuk",
        confirmButtonClass: "btn __btn-outline-primary py-2 px-4 rounded-pill",
        buttonsStyling: false,
      }).then(() => {
        this.$router.push({ name: "login" });
      });
    },

    changeImageDisplay(url) {
      this.image_display = url;
    },

    async getProduct() {
      await axios.get(`/api/v1/product/${this.id}`).then((resp) => {
        this.product = resp.data.data;
        this.image_display = resp.data.data.image[0];
        this.loading = false;
      });
    },

    async getProducts() {
      await axios
        .get(`/api/v1/product`, {
          params: {
            toko: this.product.id_users,
            not: this.id,
            limit: 5,
          },
        })
        .then((resp) => {
          this.products = resp.data.data;
        });
    },

    async getUlasan() {
      await axios.get(`/api/v1/ulasan/${this.id}`).then((resp) => {
        this.ulasan = resp.data.data;
      });
    },

    async addToCart() {
      axios
        .post(
          `/api/v1/cart`,
          {
            id_penjual: this.product?.id_users,
            id_products: this.product?.id,
            qty: this.qty,
            type: "cart",
          },
          {
            headers: {
              Authorization: "Bearer " + this.token,
            },
          }
        )
        .then((resp) => {
          const imgSuccess = require("@/v2/assets/images/success/add-to-cart-success.png");
          return this.$swal({
            confirmButtonText: "Selanjutnya",
            customClass: {
              actions: "w-100",
              confirmButton: "btn __btn-primary w-100 mx-5 py-3 mt-3 mb-3",
            },
            html: `
                        <img src="${imgSuccess}" />
                        <div class="text-dark fw-bold fs-4">Berhasil Menambahkan <br>Item ke Keranjang</div>
                        <div class="text-muted mt-3">Pesanan anda sudah berhasil ditambahkan ke keranjang, lakukan proses transaksi selanjutnya.</div>
                    `,
          }).then(() => {
            this.$router.push({ path: `/cart` });
          });
        })
        .catch((err) => {
          if (err.response.data.message == "Unauthenticated.") {
            this.toLoginPage("Gagal menambahkan ke keranjang");
          } else {
            this.$swal({
              icon: "error",
              title: err.response.data.message,
              confirmButtonText: "Ok",
              confirmButtonClass:
                "btn __btn-outline-primary py-2 px-4 rounded-pill",
              buttonsStyling: false,
            });
          }
        });
    },

    async sendChat() {
      if (this.token) {
        this.$router.push({
          name: "dashboardChatRoom",
          query: { target_id: this.product?.id_users },
        });
      } else {
        this.toLoginPage();
      }
    },

    async fetchingData(id) {
      if (id) {
        this.id = id;
      }

      await this.getUlasan();
      await this.getProduct();
      await this.getProducts();
    },

    convertBerat(berat) {
      const result = berat / 1000;
      return `${result} Kg`;
    },
  },

  mounted() {
    this.fetchingData();
  },
};
</script>

<style scoped>
.product-img-thumbnail {
  width: 60px;
  height: 60px;
  object-fit: cover;
  object-position: center;
}

.product-img {
  width: 100%;
  height: 660px;
  object-fit: cover;
  object-position: center;
}

.product-title-detail {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 45px;
}
.bg-input {
  background-color: #edf0f2;
  color: rgba(35, 41, 51, 1);
}
.bg-input button.btn {
  background-color: #edf0f2;
  color: rgba(35, 41, 51, 1);
}
.bg-input button.btn:hover {
  background-color: #dfdfdf;
  border-radius: 0;
}
.row-product {
  padding: 0.5rem 6rem;
}
.banner {
  padding: 0 6rem;
}
.row-pemasok {
  padding: 0 6rem;
}
.divider {
  border-bottom: 1px solid #d0d6dd;
}
</style>
