<template>
    <Navbar @changeSearch="clickFilter(true, $event)" />

    <div class="container-fluid d-flex justify-content-between mb-5">
        <div class="col-lg-3 pe-4 mt-3" style="padding-left: 1rem !important;">
            <div class="d-flex justify-content-between">
                <div class="text-dark fw-bold fs-5">Filter</div>
                <a @click.prevent="resetFilter()" href="javascript:void(0)" class="text-decoration-none">Reset</a>
            </div>

            <div class="text-dark fw-bold fs-4 mt-4">Lokasi Pemasok</div>

            <div class="position-relative">
                <select class="__form-control form-select mt-3 __text-primary" @change="getCity(filter.id_provinces)" v-model="filter.id_provinces" :disabled="collection.provinces.length == 0 || loading_provinces">
                    <option value="0">Pilih provinsi</option>
                    <option :value="province.id" v-for="province in collection.provinces" :key="province.id">
                        {{ province.name }}
                    </option>
                </select>
                <div v-show="loading_provinces" class="spinner-border spinner-border-sm position-absolute bg-white" style="top: 30%; right: 5%;" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>

            <div class="position-relative">
                <select class="__form-control form-select mt-3 __text-primary" name="" v-model="filter.id_cities" :disabled="collection.cities.length == 0 || loading_city">
                    <option value="0">Pilih kabupaten/kota</option>
                    <option :value="city.id" v-for="city in collection.cities" v-bind:key="city.id">
                        {{ city.name }}
                    </option>
                </select>
                <div v-show="loading_city" class="spinner-border spinner-border-sm position-absolute bg-white" style="top: 30%; right: 5%;" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>

            <Transition name="slide-fade">
                <div v-if="tabs.active == 'Produk'">
                    <div class="text-dark fw-bold fs-4 mt-4">Komoditas Barang</div>
                    <div class="mt-3">
                        <div class="bg-transparent">
                            <div class="my-2" v-for="cat in categories_barang" v-bind:key="cat">
                                <div class="d-flex justify-content-between p-2">
                                    {{ cat.name }}

                                    <svg class="cursor-pointer" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" data-bs-toggle="collapse" :data-bs-target="`#cat_barang_${cat.id}`" aria-expanded="false" :aria-controls="`cat_barang_${cat.id}`">
                                        <path d="M6 12H18" stroke="#232933" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                        <path d="M12 18V6" stroke="#232933" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                </div>

                                <div class="collapse py-2" :id="`cat_barang_${cat.id}`">
                                    <div class="form-check py-1 ps-4 ms-2 d-flex align-items-center gap-2 " v-for="sub in cat.parent_category" v-bind:key="sub">
                                        <input v-model="filterCategory" class="form-check-input __form-check-input" type="checkbox" :value="sub.id" :id="'cat_barang_' + sub.id">
                                        <label class="form-check-label d-flex justify-content-between mt-1" :for="'cat_barang_' + sub.id">
                                            {{ sub.name }}
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <b-skeleton-wrapper :loading="loading_category">
                                <template #loading>
                                    <div v-for="i in 4" :key="i" class="d-block py-1">
                                        <b-skeleton width="100%"></b-skeleton>
                                    </div>
                                </template>
                            </b-skeleton-wrapper>
                        </div>
                    </div>

                    <div class="text-dark fw-bold fs-4 mt-4">Komoditas Jasa</div>
                    <div class="mt-3">
                        <div class="bg-transparent">
                            <div class="my-2" v-for="cat in categories_jasa" v-bind:key="cat">
                                <div class="d-flex justify-content-between p-2">
                                    {{ cat.name }}

                                    <svg class="cursor-pointer" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" data-bs-toggle="collapse" :data-bs-target="`#cat_barang_${cat.id}`" aria-expanded="false" :aria-controls="`cat_barang_${cat.id}`">
                                        <path d="M6 12H18" stroke="#232933" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                        <path d="M12 18V6" stroke="#232933" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                </div>

                                <div class="collapse py-2" :id="`cat_barang_${cat.id}`">
                                    <div class="py-1 ps-4 ms-3" v-if="cat.name == 'Akomodasi'">
                                        <router-link class="text-decoration-none" to="/product/jasa/akomodasi">Hotel</router-link>
                                    </div>

                                    <template v-if="cat.name == 'Jasa Transportasi'">
                                        <div class="py-1 ps-4 ms-3">
                                            <router-link class="text-decoration-none" to="/product/jasa/transportasi">Antar Jemput Bandara</router-link>
                                        </div>
                                        <div class="py-1 ps-4 ms-3">
                                            <router-link class="text-decoration-none" to="/product/jasa/transportasi">Sewa Kendaraan</router-link>
                                        </div>
                                        <div class="py-1 ps-4 ms-3">
                                            <router-link class="text-decoration-none" to="/product/jasa/transportasi">Tiket Bus & Travel</router-link>
                                        </div>
                                        <div class="py-1 ps-4 ms-3">
                                            <router-link class="text-decoration-none" to="/product/jasa/transportasi/tiket-pesawat">Tiket Pesawat</router-link>
                                        </div>
                                    </template>

                                    <template v-else>
                                        <div class="form-check py-1 ps-4 ms-2 d-flex align-items-center gap-2 " v-for="sub in cat.parent_category" v-bind:key="sub">
                                            <input v-model="filterCategory" class="form-check-input __form-check-input" type="checkbox" :value="sub.id" :id="'cat_barang_' + sub.id">
                                            <label class="form-check-label d-flex justify-content-between mt-1" :for="'cat_barang_' + sub.id">
                                                {{ sub.name }}
                                            </label>
                                        </div>
                                    </template>
                                </div>
                            </div>

                            <b-skeleton-wrapper :loading="loading_category">
                                <template #loading>
                                    <div v-for="i in 4" :key="i" class="d-block py-1">
                                        <b-skeleton width="100%"></b-skeleton>
                                    </div>
                                </template>
                            </b-skeleton-wrapper>
                        </div>
                    </div>
                </div>
            </Transition>

            <Button class="btn __btn-primary w-100 mt-4" @click.prevent="terapkanFilter(true)">
                Terapkan
            </Button>
        </div>

        <div class="col-lg-9" style="min-height: 800px;">
            <img :src="require('@/assets/images/banner/mesin-edc.jpg')" class="img-fluid" alt="Waktunya Umkm Untuk Maju">

            <b-skeleton-wrapper :loading="loading">
                <template #loading>
                    <div v-if="isFiltered" class="d-flex justify-content-between align-items-center pe-5 mt-4">
                        <b-skeleton width="23%"></b-skeleton>
                        <b-skeleton width="10%"></b-skeleton>
                    </div>
                    <div v-else class="mt-4 mx-auto w-50">
                        <b-skeleton width="80%" class="mx-auto"></b-skeleton>
                        <b-skeleton width="80%" class="mx-auto"></b-skeleton>
                    </div>

                    <div class="row pe-5 mt-4">
                        <div class="col-6 col-md-4 col-lg-3 mb-4" v-for="i in 12">
                            <b-skeleton class="mx-auto" height="290px"></b-skeleton>
                            <b-skeleton class="mx-auto"></b-skeleton>
                            <b-skeleton class="mx-auto"></b-skeleton>
                            <b-skeleton class="mx-auto"></b-skeleton>
                        </div>
                    </div>
                </template>

                <div class="d-flex justify-content-center gap-2 mt-4" v-if="!isFiltered">
                    <TabNavigation :tab="tabs.active" />
                </div>

                <div v-if="isFiltered" class="d-flex justify-content-between align-items-center pe-5 mt-4">
                    <div class="fw-semibold fs-4 text-dark">Filter Produk (<span v-text="products.count"></span>)</div>
                    <a @click.prevent="resetFilter()" href="javascript:void(0)" class="text-decoration-none">Reset Filter</a>
                </div>
                <template v-else>
                    <div class="fw-semibold fs-4 text-dark text-center mt-4">Semua Produk (<span v-text="products.count"></span>)</div>
                    <div class="text-muted text-center mt-1">Jelajahi <span v-text="products.count"></span> detail produk dan toko untuk mendapatkan kebutuhan anda</div>
                </template>

                <div class="row pe-5 mt-4">
                    <div class="col-6 col-md-4 col-lg-3 mb-4" v-for="product in products.data">
                        <CardProduct :product="product" />
                    </div>
                </div>
            </b-skeleton-wrapper>

            <Pagination class="me-5" @getPagination="loadProductPage($event)" :meta="products.meta" v-if="products.meta && tabs.active == 'Produk'" />
        </div>
    </div>
</template>

<script>
import axios from "axios";

import Navbar from '@/v2/components/Navbar'
import Button from '@/v2/components/Button'
import TabNavigation from '@/v2/components/TabNavigation'
import CardProduct from '@/v2/components/CardProduct'
import Pagination from '@/v2/components/Pagination'

export default {
    name: 'product',
    components: {
        Navbar,
        Button,
        TabNavigation,
        CardProduct,
        Pagination,
    },
    data() {
        return {
            isNotFound: true,
            loading: true,
            loading_category: true,
            loading_provinces: false,
            loading_city: false,
            products: {
                data: [],
                count: 0,
                meta: null,
            },
            pemasok: {
                data: [],
                count: 0,
                meta: null,
            },
            categories_barang: [],
            categories_jasa: [],
            collection: {
                provinces: [],
                cities: [],
            },
            filter: {
                id_provinces: this.$route.query.province || 0,
                id_cities: this.$route.query.city || 0,
                category: [],
            },
            tabs: {
                active: 'Produk'
            },
            search: this.$route.query.search,

            filterCategory: this.$route.query.category ? [this.$route.query.category] : [],
            isFiltered: false,
            page: this.$route.query.page || 1,
            isShowButtonLoadMore: true,
            open_sidebar: '',
        }
    },
    methods: {
        async getProvinces() {
            this.loading_provinces = true;
            await axios.get('/api/v1/shipper/provinces')
            .then(res => {
                this.collection.provinces = res.data;
                this.loading_provinces = false;
            })
        },

        //mengambil data kota berdasar provinsi yang dipilih pengguna dari shipper
        async getCity(id) {
            this.loading_city = true;
            await axios.get(`/api/v1/shipper/province/${id}/cities`)
            .then(res => {
                this.collection.cities = res.data;
                this.loading_city = false;
            })
        },

        async clickFilter(reset = true, event) {
            if(reset) {
                this.page = 1;
                await this.$nextTick(() => {
                    this.products.data = [];
                })
            }

            this.loading = true;
            this.search = event !== undefined ? event : this.$route.query.search;
            this.isFiltered = this.filterCategory.length > 0 || this.search || this.filter.id_cities != 0;
            this.getProducts()
        },

        async getProducts() {
            await axios.get("/api/v1/product", {
                params: {
                    search: this.search,
                    category: this.filterCategory.join(),
                    province: this.filter.id_provinces,
                    city: this.filter.id_cities,
                    page: this.page,
                    limit: 12,
                },
            }).then((resp) => {
                this.products.data = resp.data.data;
                this.products.meta = resp.data.meta;
                this.products.count = resp.data.pagination.total;
                this.loading = false;
                this.isShowButtonLoadMore = resp.data.pagination.current_page !== resp.data.pagination.total_pages;
                this.page = resp.data.pagination.current_page + 1;
            })
        },

        async terapkanFilter() {
            this.page = 1;
            this.clickFilter(true);
            return this.$router.push({
                path: '/product',
                query: {
                    ...this.$route.query,
                    province: this.filter.id_provinces,
                    city: this.filter.id_cities,
                    category: this.filterCategory.join(),
                }
            });
        },

        async resetFilter() {
            this.filter = {
                id_provinces: 0,
                id_cities: 0,
                category: [],
            }
            this.filterCategory = [];

            this.clickFilter(true);
            return location.href = '/product';
            return this.$router.push({ path: '/product' });
        },

        async getCategory(type) {
            await axios.get("/api/v1/product/category", {
                params: {
                    type: type,
                },
            })
            .then((resp) => {
                if(type == 'barang') {
                    this.categories_barang = resp.data.data;
                } else {
                    // this.categories_jasa = resp.data.data.filter((data) => {
                    //     return data.name !== "Akomodasi" && data.name !==  "Jasa Transportasi";
                    // });
                    this.categories_jasa = resp.data.data;
                }

                this.loading_category = false;
            });
        },

        loadMore() {
            this.clickFilter(false);
        },

        async loadProductPage(page) {
            this.page = page;
            this.loading = true;
            this.getProducts();
            return this.$router.push({
                path: '/product',
                query: {
                    ...this.$route.query,
                    page: page
                }
            });
        },

        getLkppCategory() {
            return [
                {
                    category_id: 6,
                    name:'categoryFood',
                },
                {
                    category_id: 5,
                    name:'categoryFurniture',
                },
                {
                    category_id: 2,
                    name:'categoryATK',
                },
                {
                    category_id: 9,
                    name:'categorySuvenir',
                },
                {
                    category_id: 4,
                    name:'categoryFashion',
                },
                {
                    category_id: 7,
                    name:'categoryPerkakas',
                },
                {
                    category_id: 1,
                    name:'categoryAlkes',
                },
                {
                    category_id: 3,
                    name:'categoryElektronik',
                },
                {
                    category_id: 11,
                    name:'categorySewaAlat',
                },
                {
                    category_id: 14,
                    name:'categoryTransportasi',
                },
                {
                    category_id: 13,
                    name:'categoryAkomodasi',
                },
                {
                    category_id: 10,
                    name:'categoryJasaKreatif',
                },
                {
                    category_id: 8,
                    name:'categoryPertanianPeternakan',
                },
            ];
        },
    },

    mounted() {
        const routeName = this.$route.name;
        const category = this.getLkppCategory().filter((category) => category.name == routeName);

        if(category.length > 0) {
            this.filterCategory.push(category[0].category_id);
        }

        this.getCategory('barang');
        this.getCategory('jasa');
        this.getProvinces();
        if(this.filter.id_provinces > 0) {
            this.getCity(this.filter.id_provinces);
        }
        this.getProducts();
    },

}
</script>

<style scoped>
.slide-fade-enter-active {
    transition: all 0.3s ease-in-out;
}

.slide-fade-leave-active {
    transition: all 0.3s ease-in-out;
}

.slide-fade-enter-from,
.slide-fade-leave-to {
    transform: translateY(-20px);
}
</style>
