<template>
  <Navbar />

  <div class="container-fluid">
    <div class="row position-relative" style="margin-left: 0">
      <div
        class="bg-light position-absolute col-lg-9 offset-3 ps-4 py-2 d-flex align-items-center gap-3 __text-primary justify-content-between"
        style="z-index: 100"
      >
        <div class="fs-5 fw-semibold">Riwayat Pembayaran</div>
        <div class="input-group" style="width: 40%;">
            <span class="input-group-text bg-white border-end-0" id="basic-addon1">
                <svg width="20" height="20" viewBox="0 0 36 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M17.1663 32.5C25.9109 32.5 32.9997 25.4112 32.9997 16.6667C32.9997 7.92216 25.9109 0.833332 17.1663 0.833332C8.42183 0.833332 1.33301 7.92216 1.33301 16.6667C1.33301 25.4112 8.42183 32.5 17.1663 32.5Z" stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M34.6663 34.1667L31.333 30.8333" stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </span>
            <input type="text" v-model="search" class="form-control border-start-0" placeholder="Cari Pembayaran" aria-label="Cari Pembayaran">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-3">
        <Sidebar />
      </div>

      <div class="ps-4 col-lg-9">
        <div class="mt-5 py-3">
          <b-skeleton-wrapper :loading="loading">
            <template #loading>
              <table class="table">
                <thead class="bg-light text-muted">
                  <tr>
                    <th><b-skeleton></b-skeleton></th>
                    <th><b-skeleton></b-skeleton></th>
                    <th><b-skeleton></b-skeleton></th>
                    <th><b-skeleton></b-skeleton></th>
                    <th><b-skeleton></b-skeleton></th>
                    <th style="width: 5%"><b-skeleton></b-skeleton></th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="i in 10">
                    <td><b-skeleton></b-skeleton></td>
                    <td><b-skeleton></b-skeleton></td>
                    <td><b-skeleton></b-skeleton></td>
                    <td><b-skeleton></b-skeleton></td>
                    <td><b-skeleton></b-skeleton></td>
                    <td><b-skeleton></b-skeleton></td>
                  </tr>
                </tbody>
              </table>

              <div class="d-flex align-items-center justify-content-between">
                <b-skeleton style="width: 125px; height: 25px"></b-skeleton>
                <b-skeleton style="width: 25px; height: 25px"></b-skeleton>
                <b-skeleton style="width: 125px; height: 25px"></b-skeleton>
              </div>
            </template>

            <table class="table" style="font-size: 14px">
              <thead class="bg-light text-muted">
                <tr>
                  <th>NOMOR PESANAN</th>
                  <th>TANGGAL PESANAN DITERIMA</th>
                  <th>PENGHASILAN PEMASOK</th>
                  <th class="text-center">STATUS PEMBAYARAN</th>
                  <th class="text-center">LIHAT BUKTI PEMBAYARAN</th>
                </tr>
              </thead>
              <tbody>
                <tr v-if="pinjaman.length" v-for="item in pinjaman" v-bind:key="item.id">
                  <td>{{ item.pesanan.no_pesanan }}</td>
                  <td>{{ item.tanggal_pesanan }}</td>
                  <td>
                    Rp.
                    {{
                      parseInt(item.pesanan.penghasilan_pemasok)
                        .toString()
                        .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                    }}
                  </td>
                  <td>
                    <div
                      v-if="item.status === 'sedang_verifikasi'"
                      class="__badge __badge-primary"
                    >
                      Menunggu Pembayaran
                    </div>
                    <div
                      v-else-if="item.status === 'ditolak'"
                      class="__badge __badge-red"
                    >
                      Ditolak
                    </div>
                    <div
                      v-else-if="item.status === 'telah_dicairkan'"
                      class="__badge __badge-green"
                    >
                      Telah Dibayarkan
                    </div>
                    <div
                      v-else-if="item.status === 'disetujui'"
                      class="__badge __badge-green"
                    >
                      Telah Dibayarkan
                    </div>
                    <div v-else class="__badge __badge-primary">-</div>
                  </td>
                  <td class="text-center">
                    <a :href="item.pesanan.bukti_pencairan">
                      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M9 22H15C20 22 22 20 22 15V9C22 4 20 2 15 2H9C4 2 2 4 2 9V15C2 20 4 22 9 22Z" stroke="#626B79" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M9 11.51L12 14.51L15 11.51" stroke="#626B79" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M12 14.51V6.51001" stroke="#626B79" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M6 16.51C9.89 17.81 14.11 17.81 18 16.51" stroke="#626B79" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                      </svg>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>

            <nav class="d-flex justify-content-between" aria-label="page navigation">
              <button
                :disabled="pagination.current_page <= 1 ? true : false"
                @click.prevent="getTransaction(--page)"
                :class="`btn px-2 d-flex justify-content-between border align-items-center btn-prev ${
                  pagination.current_page <= 1 && 'btn-disabled'
                }`"
              >
                <svg
                  class="icon-prev"
                  width="9"
                  height="18"
                  viewBox="0 0 9 18"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M7.99984 16.9201L1.47984 10.4001C0.709844 9.63008 0.709844 8.37008 1.47984 7.60008L7.99984 1.08008"
                    stroke="#4C2A86"
                    stroke-width="1.5"
                    stroke-miterlimit="10"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
                <span>Sebelumnya</span>
              </button>

              <div class="d-flex align-self-center">
                <a
                    v-if="pagination.current_page > 1"
                    @click.prevent="getTransaction(pagination.current_page - 1)"
                    :class="`btn mx-1 btn-link text-decoration-none fw-bold`"
                    href="#"
                >
                    {{ pagination.current_page - 1 }}
                </a>

                <a
                    :class="`btn mx-1 btn-active text-decoration-none fw-bold`"
                    href="#"
                >
                    {{ pagination.current_page }}
                </a>

                <a
                    v-if="pagination.total_pages > 1 && pagination.total_pages != pagination.current_page"
                    @click.prevent="getTransaction(pagination.current_page + 1)"
                    :class="`btn mx-1 btn-link text-decoration-none fw-bold`"
                    href="#"
                >
                    {{ pagination.current_page + 1 }}
                </a>
              </div>

              <button
                :disabled="page == pagination.total_pages ? true : false"
                @click.prevent="getTransaction(++page)"
                :class="`btn px-2 d-flex justify-content-between border align-items-center btn-next ${
                  page == pagination.total_pages && 'btn-disabled'
                }`"
              >
                <span>Selanjutnya</span>
                <svg
                  class="icon-next"
                  width="9"
                  height="18"
                  viewBox="0 0 9 18"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M0.910156 16.9201L7.43016 10.4001C8.20016 9.63008 8.20016 8.37008 7.43016 7.60008L0.910156 1.08008"
                    stroke="#4C2A86"
                    stroke-width="1.5"
                    stroke-miterlimit="10"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </button>
            </nav>
          </b-skeleton-wrapper>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";

import Navbar from "@/v2/components/Navbar";
import Sidebar from "@/v2/components/Sidebar";
import { useDebouncedRef } from "@/utils/debounce";

export default {
  name: "transaksi-pesanan",
  components: {
    Navbar,
    Sidebar,
  },
  data() {
    return {
      token: localStorage.getItem("token"),
      loading: true,
      pinjaman: [],
      pagination: [],
      page: 1,
      search: useDebouncedRef('', 1000),
    };
  },

  watch: {
    search(newSearch, oldSearch) {
      this.getTransaction(1);
    }
  },

  methods: {
    prevPage() {
      if (this.page === 1) {
        alert("page tidak boleh kurang dari 1");
      } else {
        this.page--;
      }
    },

    nextPage() {
      this.page++;
    },

    getTransaction(page) {
      axios
        .get("/api/v1/pinjaman", {
          headers: {
            Authorization: "Bearer " + this.token,
          },
          params: {
            limit: 10,
            page: page,
            no_pesanan: this.search,
          },
        })
        .then((resp) => {
          this.pagination = resp.data.pagination;
          this.pinjaman = resp.data.data;
          this.loading = false;
        });
    },
  },

  async mounted() {
    this.getTransaction(this.page);
  },
};
</script>

<style scoped>
.icon-prev,
.icon-next {
  width: 12px;
  height: 14px;
}

.btn-next,
.btn-prev,
.btn-next:hover,
.btn-prev:hover {
  width: 13%;
  color: #4c2a86;
  background: #ffffff;
  border: 1px solid #4c2a86;
}
.btn-link {
  color: #8b95a5;
}
.btn-active,
.btn-link:hover,
.btn-active:hover {
  color: rgba(76, 42, 134, 1);
  background-color: rgba(76, 42, 134, 0.1);
}
.btn-disabled,
.btn-disabled:hover {
  color: rgba(208, 214, 221, 1);
  background-color: #f5f5fb;
  border: 1px solid #d0d6dd;
}
</style>
