<template>
  <Navbar />

  <div class="container-fluid">
    <div class="row position-relative" style="margin-left: 0">
      <div
        class="bg-light position-absolute col-lg-9 offset-3 ps-4 py-2 d-flex align-items-center justify-content-between gap-3 __text-primary"
        style="z-index: 100"
      >
        <div class="fs-5 fw-semibold">Permintaan Pesanan</div>
        <div class="input-group" style="width: 40%;">
            <span class="input-group-text bg-white border-end-0" id="basic-addon1">
                <svg width="20" height="20" viewBox="0 0 36 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M17.1663 32.5C25.9109 32.5 32.9997 25.4112 32.9997 16.6667C32.9997 7.92216 25.9109 0.833332 17.1663 0.833332C8.42183 0.833332 1.33301 7.92216 1.33301 16.6667C1.33301 25.4112 8.42183 32.5 17.1663 32.5Z" stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M34.6663 34.1667L31.333 30.8333" stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </span>
            <input type="text" v-model="search" class="form-control border-start-0" placeholder="Cari Pesanan" aria-label="Cari Pesanan">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-3">
        <Sidebar />
      </div>

      <div class="ps-4 col-lg-9">
        <div class="mt-5 py-3">
          <b-skeleton-wrapper :loading="loading">
            <template #loading>
              <table class="table">
                <thead class="bg-light text-muted">
                  <tr>
                    <th><b-skeleton></b-skeleton></th>
                    <th><b-skeleton></b-skeleton></th>
                    <th><b-skeleton></b-skeleton></th>
                    <th><b-skeleton></b-skeleton></th>
                    <th><b-skeleton></b-skeleton></th>
                    <th style="width: 5%"><b-skeleton></b-skeleton></th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="i in 10">
                    <td><b-skeleton></b-skeleton></td>
                    <td><b-skeleton></b-skeleton></td>
                    <td><b-skeleton></b-skeleton></td>
                    <td><b-skeleton></b-skeleton></td>
                    <td><b-skeleton></b-skeleton></td>
                    <td><b-skeleton></b-skeleton></td>
                  </tr>
                </tbody>
              </table>

              <div class="d-flex align-items-center justify-content-between">
                <b-skeleton style="width: 125px; height: 25px"></b-skeleton>
                <b-skeleton style="width: 25px; height: 25px"></b-skeleton>
                <b-skeleton style="width: 125px; height: 25px"></b-skeleton>
              </div>
            </template>

            <table class="table" style="font-size: 14px">
              <thead class="bg-light text-muted">
                <tr>
                  <th>NOMOR PESANAN</th>
                  <th class="text-center">TANGGAL PESANAN</th>
                  <template v-if="user_role == 'Penjual'">
                    <th>NAMA PEMBELI</th>
                    <th>PENGHASILAN PEMASOK</th>
                  </template>
                  <template v-else>
                    <th>NAMA PEMASOK</th>
                    <th>TOTAL TRANSAKSI</th>
                  </template>
                  <th class="text-center">STATUS PESANAN</th>
                  <th class="text-center">AKSI</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="item in pesanans" v-bind:key="item">
                  <td>{{ item.no_pesanan }}</td>
                  <td class="text-center">{{ item.created_at }}</td>
                  <template v-if="user_role == 'Penjual'">
                    <td>{{ item.pembeli && item.pembeli.name }}</td>
                    <td>
                      Rp.
                      {{
                        parseInt(item.penghasilan_pemasok)
                          .toString()
                          .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                      }}
                    </td>
                  </template>
                  <template v-else>
                    <td>{{ item.penjual.nama_usaha }}</td>
                    <td>
                      <div class="d-flex aling-items-center justify-content-between pe-3">
                        <div>Rp.</div>

                        <div>
                          <template v-if="item.jasa">
                            <template v-if="item.metode_pembayaran === 'Pembayaran Bertempo'">
                              {{
                                parseInt(item.total_transaksi)
                                .toString()
                                .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                              }}
                            </template>
                            <template v-else-if="item.metode_pembayaran === 'Pembayaran Langsung'">
                              {{
                                parseInt(item.total_transaksi)
                                .toString()
                                .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                              }}
                            </template>
                            <template v-else>
                              {{
                                parseInt(item.total_transaksi)
                                .toString()
                                .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                              }}
                            </template>
                          </template>
                          <template v-else>
                              {{ parseInt(item.total_transaksi).toString().replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.") }}
                          </template>
                        </div>
                      </div>
                    </td>
                  </template>
                  <td class="text-center">
                    <div
                      class="__badge __badge-blue"
                      v-if="
                        item.status == 'proses_permintaan_rfq' ||
                        item.status == 'permintaan_rfq'
                      "
                    >
                      Permintaan RFQ
                    </div>
                    <div
                      class="__badge __badge-orange"
                      v-if="item.status == 'permintaan_rfq_diterima'"
                    >
                      Persetujuan Pembeli
                    </div>
                    <div
                      class="__badge __badge-primary"
                      v-if="item.status == 'pesanan_dibuat'"
                    >
                      Permintaan Pesanan
                    </div>
                    <div
                      class="__badge __badge-primary"
                      v-if="item.status == 'pesanan_terbuat'"
                    >
                      {{
                        user_role == "Pembeli" ? "Pesanan Terbuat" : "Permintaan Pesanan"
                      }}
                    </div>
                    <div
                      class="__badge __badge-yellow"
                      v-if="item.status == 'pesanan_diterima'"
                    >
                      Konfirmasi Terima Pesanan
                    </div>
                    <div
                      class="__badge __badge-red"
                      v-if="item.status == 'pesanan_dikomplain'"
                    >
                      Pesanan Dikomplain
                    </div>
                    <template v-if="item.status == 'pesanan_selesai'">
                      <!-- <div
                        class="__badge __badge-orange"
                        v-if="item.payment_status == 'waiting_for_payment'"
                      >
                        {{ user_role == 'Pembeli' ? 'Pesanan Diterima' : 'Menunggu Pembayaran' }}
                      </div>
                      <div
                        class="__badge __badge-green"
                        v-else-if="item.payment_status == 'paid'"
                      >
                        Pembayaran Diterima
                      </div>
                      <div class="__badge __badge-green" v-else>Pesanan Selesai</div> -->
                      <div class="__badge __badge-green">Pesanan Selesai</div>
                    </template>
                    <div
                      class="__badge __badge-red"
                      v-if="item.status == 'pesanan_ditolak'"
                    >
                      Pesanan Ditolak
                    </div>
                    <div
                      class="__badge __badge-red"
                      v-if="item.status == 'permintaan_rfq_ditolak'"
                    >
                      Permintaan RFQ Ditolak Pemasok
                    </div>
                    <div
                      class="__badge __badge-red"
                      v-if="item.status == 'rfq_ditolak_pembeli'"
                    >
                      Permintaan RFQ Ditolak
                    </div>
                  </td>
                  <td class="text-center">
                    <router-link
                      :to="
                        item.type == 'rfq'
                          ? `/${user_role.toLocaleLowerCase()}/rfq/${item.id}`
                          : `/${user_role.toLocaleLowerCase()}/pesanan-langsung/${
                              item.id
                            }`
                      "
                    >
                      <svg
                        width="24"
                        height="25"
                        viewBox="0 0 24 25"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M11 2.06641H9C4 2.06641 2 4.06641 2 9.06641V15.0664C2 20.0664 4 22.0664 9 22.0664H15C20 22.0664 22 20.0664 22 15.0664V13.0664"
                          stroke="#626B79"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                        <path
                          d="M16.0399 3.08764L8.15988 10.9676C7.85988 11.2676 7.55988 11.8576 7.49988 12.2876L7.06988 15.2976C6.90988 16.3876 7.67988 17.1476 8.76988 16.9976L11.7799 16.5676C12.1999 16.5076 12.7899 16.2076 13.0999 15.9076L20.9799 8.02764C22.3399 6.66764 22.9799 5.08764 20.9799 3.08764C18.9799 1.08764 17.3999 1.72764 16.0399 3.08764Z"
                          stroke="#626B79"
                          stroke-width="1.5"
                          stroke-miterlimit="10"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                        <path
                          d="M14.9102 4.2168C15.5802 6.6068 17.4502 8.4768 19.8502 9.1568"
                          stroke="#626B79"
                          stroke-width="1.5"
                          stroke-miterlimit="10"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                      </svg>
                    </router-link>
                  </td>
                </tr>
              </tbody>
            </table>

            <nav class="d-flex justify-content-between" aria-label="page navigation">
              <button
                :disabled="pagination.current_page <= 1 ? true : false"
                @click.prevent="getTransaction(page - 1)"
                :class="`btn px-2 d-flex justify-content-between border align-items-center btn-prev ${
                  pagination.current_page <= 1 && 'btn-disabled'
                }`"
              >
                <svg
                  class="icon-prev"
                  width="9"
                  height="18"
                  viewBox="0 0 9 18"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M7.99984 16.9201L1.47984 10.4001C0.709844 9.63008 0.709844 8.37008 1.47984 7.60008L7.99984 1.08008"
                    stroke="#4C2A86"
                    stroke-width="1.5"
                    stroke-miterlimit="10"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
                <span>Sebelumnya</span>
              </button>

              <div class="d-flex align-self-center">
                <a
                    v-if="pagination.current_page > 1"
                    @click.prevent="getTransaction(pagination.current_page - 1)"
                    :class="`btn mx-1 btn-link text-decoration-none fw-bold`"
                    href="#"
                >
                    {{ pagination.current_page - 1 }}
                </a>

                <a
                    :class="`btn mx-1 btn-active text-decoration-none fw-bold`"
                    href="#"
                >
                    {{ pagination.current_page }}
                </a>

                <a
                    v-if="pagination.total_pages > 1 && pagination.total_pages != pagination.current_page"
                    @click.prevent="getTransaction(pagination.current_page + 1)"
                    :class="`btn mx-1 btn-link text-decoration-none fw-bold`"
                    href="#"
                >
                    {{ pagination.current_page + 1 }}
                </a>
              </div>

              <button
                :disabled="page == pagination.total_pages ? true : false"
                @click.prevent="getTransaction(page + 1)"
                :class="`btn px-2 d-flex justify-content-between border align-items-center btn-next ${
                  page == pagination.total_pages && 'btn-disabled'
                }`"
              >
                <span>Selanjutnya</span>
                <svg
                  class="icon-next"
                  width="9"
                  height="18"
                  viewBox="0 0 9 18"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M0.910156 16.9201L7.43016 10.4001C8.20016 9.63008 8.20016 8.37008 7.43016 7.60008L0.910156 1.08008"
                    stroke="#4C2A86"
                    stroke-width="1.5"
                    stroke-miterlimit="10"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </button>
            </nav>
          </b-skeleton-wrapper>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";

import Navbar from "@/v2/components/Navbar";
import Sidebar from "@/v2/components/Sidebar";
import { useDebouncedRef } from "@/utils/debounce";

export default {
  name: "transaksi-pesanan",
  components: {
    Navbar,
    Sidebar,
  },
  data() {
    return {
      token: localStorage.getItem("token"),
      user_role: localStorage.getItem("user_role"),
      loading: true,
      pesanans: [],
      pagination: [],
      page: 1,
      search: useDebouncedRef('', 1000),
    };
  },

    watch: {
        search(newSearch, oldSearch) {
            this.getTransaction(1);
        }
    },

  methods: {
    getTransaction(page) {
      this.loading = true;
      this.page = page ?? this.page;
      axios
        .get("/api/transaction", {
          params: {
            transaction_as: this.user_role,
            page: this.page,
            search: this.search,
          },
          headers: {
            Authorization: "Bearer " + this.token,
          },
        })
        .then((resp) => {
          this.pesanans = resp.data.data;
          this.pagination = resp.data.pagination;
          this.loading = false;
        });
    },
  },

  async mounted() {
    this.getTransaction();
  },
};
</script>

<style scoped>
.icon-prev,
.icon-next {
  width: 12px;
  height: 14px;
}

.btn-next,
.btn-prev,
.btn-next:hover,
.btn-prev:hover {
  width: 13%;
  color: #4c2a86;
  background: #ffffff;
  border: 1px solid #4c2a86;
}
.btn-link {
  color: #8b95a5;
}
.btn-active,
.btn-link:hover,
.btn-active:hover {
  color: rgba(76, 42, 134, 1);
  background-color: rgba(76, 42, 134, 0.1);
}
.btn-disabled,
.btn-disabled:hover {
  color: rgba(208, 214, 221, 1);
  background-color: #f5f5fb;
  border: 1px solid #d0d6dd;
}
</style>
