<template>
  <Navbar />

  <div class="container-fluid">
    <div class="row position-relative" style="margin-left: 0">
      <div
        class="bg-light position-absolute col-lg-9 offset-3 ps-4 py-2 d-flex align-items-center gap-3 __text-primary justify-content-between"
        style="z-index: 100"
      >
        <div class="fs-5 fw-semibold">Tagihan Biaya Layanan</div>
        <!-- <button class="btn btn-primary">
          <svg
            class="me-2"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M16.4405 8.90039C20.0405 9.21039 21.5105 11.0604 21.5105 15.1104V15.2404C21.5105 19.7104 19.7205 21.5004 15.2505 21.5004H8.74047C4.27047 21.5004 2.48047 19.7104 2.48047 15.2404V15.1104C2.48047 11.0904 3.93047 9.24039 7.47047 8.91039"
              stroke="white"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M12 2V14.88"
              stroke="white"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M15.3504 12.6504L12.0004 16.0004L8.65039 12.6504"
              stroke="white"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>

          Simpan Data
        </button> -->
      </div>
    </div>

    <div class="row">
      <div class="col-lg-3">
        <Sidebar />
      </div>

      <div class="ps-4 col-lg-9">
        <div class="mt-5 py-3">
          <b-skeleton-wrapper :loading="loading">
            <template #loading>
              <table class="table">
                <thead class="bg-light text-muted">
                  <tr>
                    <th><b-skeleton></b-skeleton></th>
                    <th><b-skeleton></b-skeleton></th>
                    <th><b-skeleton></b-skeleton></th>
                    <th><b-skeleton></b-skeleton></th>
                    <th><b-skeleton></b-skeleton></th>
                    <th style="width: 5%"><b-skeleton></b-skeleton></th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="i in 10">
                    <td><b-skeleton></b-skeleton></td>
                    <td><b-skeleton></b-skeleton></td>
                    <td><b-skeleton></b-skeleton></td>
                    <td><b-skeleton></b-skeleton></td>
                    <td><b-skeleton></b-skeleton></td>
                    <td><b-skeleton></b-skeleton></td>
                  </tr>
                </tbody>
              </table>

              <div class="d-flex align-items-center justify-content-between">
                <b-skeleton style="width: 125px; height: 25px"></b-skeleton>
                <b-skeleton style="width: 25px; height: 25px"></b-skeleton>
                <b-skeleton style="width: 125px; height: 25px"></b-skeleton>
              </div>
            </template>

            <table class="table" style="font-size: 14px">
              <thead class="bg-light text-muted">
                <tr>
                  <th>NOMOR PESANAN</th>
                  <th>TANGGAL PESANAN</th>
                  <th>BIAYA LAYANAN</th>
                  <th>TANGGAL JATUH<br>TEMPO</th>
                  <th class="text-center">STATUS PEMBAYARAN</th>
                  <th class="text-center">AKSI</th>
                </tr>
              </thead>
              <tbody>
                <tr v-if="pesanan.length" v-for="item in pesanan" v-bind:key="item.id">
                  <td>{{ item.nomor_pesanan }}</td>
                  <td>{{ item.tanggal_pesanan }}</td>
                  <td>{{ item.service_fee }}</td>
                  <td>{{ item.tanggal_jatuh_tempo }}</td>
                  <td>
                    <div
                      v-if="item.status === 'Sedang Diverifikasi'"
                      class="__badge __badge-primary"
                    >
                      Sedang Diverifikasi
                    </div>
                    <div
                      v-else-if="item.status === 'Telah Dibayarkan'"
                      class="__badge __badge-green"
                    >
                      Telah Dibayarkan
                    </div>
                    <div v-else class="__badge __badge-primary">{{ item.status }}</div>
                  </td>
                  <td class="text-center">
                    <a :href="'#'" @click="pesananSelected(item.id, item.service_fee_payment_link)" data-bs-toggle="modal" data-bs-target="#buktiPembayaran">
                      <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M9.34 2.4683L3.86667 8.26163C3.66 8.48163 3.46 8.91497 3.42 9.21497L3.17334 11.375C3.08667 12.155 3.64667 12.6883 4.42 12.555L6.56667 12.1883C6.86667 12.135 7.28667 11.915 7.49334 11.6883L12.9667 5.89497C13.9133 4.89497 14.34 3.75497 12.8667 2.36163C11.4 0.981634 10.2867 1.4683 9.34 2.4683Z" stroke="#4C2A86" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M8.4267 3.43494C8.71336 5.27494 10.2067 6.6816 12.06 6.86827" stroke="#4C2A86" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M2.5 14.735H14.5" stroke="#4C2A86" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                      </svg>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>

            <nav class="d-flex justify-content-between" aria-label="page navigation">
              <button
                :disabled="pagination.current_page <= 1 ? true : false"
                @click.prevent="getTransaction(--page)"
                :class="`btn px-2 d-flex justify-content-between border align-items-center btn-prev ${
                  pagination.current_page <= 1 && 'btn-disabled'
                }`"
              >
                <svg
                  class="icon-prev"
                  width="9"
                  height="18"
                  viewBox="0 0 9 18"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M7.99984 16.9201L1.47984 10.4001C0.709844 9.63008 0.709844 8.37008 1.47984 7.60008L7.99984 1.08008"
                    stroke="#4C2A86"
                    stroke-width="1.5"
                    stroke-miterlimit="10"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
                <span>Sebelumnya</span>
              </button>

              <div class="d-flex align-self-center">
                <a
                    v-if="pagination.current_page > 1"
                    @click.prevent="getTransaction(pagination.current_page - 1)"
                    :class="`btn mx-1 btn-link text-decoration-none fw-bold`"
                    href="#"
                >
                    {{ pagination.current_page - 1 }}
                </a>

                <a
                    :class="`btn mx-1 btn-active text-decoration-none fw-bold`"
                    href="#"
                >
                    {{ pagination.current_page }}
                </a>

                <a
                    v-if="pagination.total_pages > 1 && pagination.total_pages != pagination.current_page"
                    @click.prevent="getTransaction(pagination.current_page + 1)"
                    :class="`btn mx-1 btn-link text-decoration-none fw-bold`"
                    href="#"
                >
                    {{ pagination.current_page + 1 }}
                </a>
              </div>

              <button
                :disabled="page == pagination.total_pages ? true : false"
                @click.prevent="getTransaction(++page)"
                :class="`btn px-2 d-flex justify-content-between border align-items-center btn-next ${
                  page == pagination.total_pages && 'btn-disabled'
                }`"
              >
                <span>Selanjutnya</span>
                <svg
                  class="icon-next"
                  width="9"
                  height="18"
                  viewBox="0 0 9 18"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M0.910156 16.9201L7.43016 10.4001C8.20016 9.63008 8.20016 8.37008 7.43016 7.60008L0.910156 1.08008"
                    stroke="#4C2A86"
                    stroke-width="1.5"
                    stroke-miterlimit="10"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </button>
            </nav>
          </b-skeleton-wrapper>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Upload/Lihat Bukti Pembayaran -->
  <Modal id="buktiPembayaran" :title="serviceFeePaymentLink ? `Bukti Pembayaran` : `Upload Bukti Pembayaran`">
    <div class="row justify-content-center">
      <div class="col-lg-12" v-if="serviceFeePaymentLink == null">
        <div class="mt-4">
          <div class="text-muted">Upload Bukti Pembayaran</div>
          <input accept=".pdf" type="file" class="__form-control form-control text-dark" @change="buktiPembayaran($event)" />
          <small class="text-muted">(Format .PDF)</small>
        </div>
        <div class="mt-3" v-if="fileBuktiPembayaran">
          <iframe height="500px" width="100%" :src="buktiPembayaranImage"></iframe>
        </div>
      </div>
      <div class="col" v-else>
        <iframe height="500px" width="100%" :src="serviceFeePaymentLink"></iframe>
      </div>
    </div>

    <template v-slot:footer>
        <button v-show="isUpload" class="py-3 btn __btn-primary w-100 mt-4" @click.prevent="postBuktiPembayaran">
          Upload
        </button>
    </template>
  </Modal>
</template>

<script>
import axios from "axios";

import Navbar from "@/v2/components/Navbar";
import Sidebar from "@/v2/components/Sidebar";
import Modal from "@/v2/components/Modal.vue";

export default {
  name: "transaksi-pesanan",
  components: {
    Navbar,
    Sidebar,
    Modal,
  },
  data() {
    return {
      token: localStorage.getItem("token"),
      loading: true,
      pesanan: [],
      pagination: [],
      page: 1,
      isUpload: true,
      selectedId: null,
      serviceFeePaymentLink: null,
      fileBuktiPembayaran: null,
      buktiPembayaranImage: null,
    };
  },

  methods: {
    prevPage() {
      if (this.page === 1) {
        alert("page tidak boleh kurang dari 1");
      } else {
        this.page--;
      }
    },

    nextPage() {
      this.page++;
    },

    getTransaction(page) {
      axios
        .get("/api/v1/pesanan/tagihan-biaya-layanan", {
          headers: {
            Authorization: "Bearer " + this.token,
          },
          params: {
            limit: 10,
            page: page,
            no_pesanan: this.search ? this.search : "",
          },
        })
        .then((resp) => {
          this.pagination = resp.data.pagination;
          this.pesanan = resp.data.data;
          this.loading = false;
        });
    },

    postBuktiPembayaran() {
      this.loader = this.$loading.show()

      const formData = new FormData();
      formData.append("file", this.fileBuktiPembayaran);
      formData.append("id", this.selectedId);

      axios
        .post("/api/v1/pesanan/tagihan-biaya-layanan", formData, {
          headers: {
            Authorization: "Bearer " + this.token,
          },
        })
        .then((resp) => {
          const imgSuccess = require("@/v2/assets/images/success/ecommerce-checkout-laptop-rafiki.png");
          this.$swal({
            confirmButtonText: "Selesai",
            customClass: {
              actions: "w-100",
              confirmButton: "btn __btn-primary w-100 mx-5 py-3 mt-3 mb-3",
            },
            html: `
                <img src="${imgSuccess}" />
                <div class="text-dark fw-bold fs-4">Upload Bukti Pembayaran Berhasil</div>
                <div class="text-muted mt-3">Terima kasih, Bukti pembayaran anda sudah berhasil terkirim.</div>
            `,
          });
        })
        .catch((err) => {
          console.log(err);
          this.$swal({
            icon: "error",
            title: err.response.message,
          });
        })
        .then(() => this.loader.hide())
    },

    buktiPembayaran(e) {
      this.fileBuktiPembayaran = e.target.files[0];
      this.buktiPembayaranImage = URL.createObjectURL(e.target.files[0]);
    },

    pesananSelected(id, paymentLink) {
        this.selectedId = id
        this.serviceFeePaymentLink = paymentLink

        if(paymentLink !== null) {
            this.isUpload = false
        }
    },
  },

  async mounted() {
    this.getTransaction(this.page);
  },
};
</script>

<style scoped>
.icon-prev,
.icon-next {
  width: 12px;
  height: 14px;
}

.btn-next,
.btn-prev,
.btn-next:hover,
.btn-prev:hover {
  width: 13%;
  color: #4c2a86;
  background: #ffffff;
  border: 1px solid #4c2a86;
}
.btn-link {
  color: #8b95a5;
}
.btn-active,
.btn-link:hover,
.btn-active:hover {
  color: rgba(76, 42, 134, 1);
  background-color: rgba(76, 42, 134, 0.1);
}
.btn-disabled,
.btn-disabled:hover {
  color: rgba(208, 214, 221, 1);
  background-color: #f5f5fb;
  border: 1px solid #d0d6dd;
}
</style>
