<template>
    <Navbar />
    <div class="container-fluid">
        <div class="row position-relative" style="margin-left: 0;">
            <div class="bg-light position-absolute col-lg-9 offset-3 ps-4 py-2 d-flex align-items-center gap-3 __text-primary justify-content-between"
                style="z-index: 100">
                <div class="fs-5 fw-semibold">Konfirmasi Pembayaran</div>
                <div class="input-group" style="width: 40%;">
                    <span class="input-group-text bg-white border-end-0" id="basic-addon1">
                        <svg width="20" height="20" viewBox="0 0 36 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M17.1663 32.5C25.9109 32.5 32.9997 25.4112 32.9997 16.6667C32.9997 7.92216 25.9109 0.833332 17.1663 0.833332C8.42183 0.833332 1.33301 7.92216 1.33301 16.6667C1.33301 25.4112 8.42183 32.5 17.1663 32.5Z"
                                stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M34.6663 34.1667L31.333 30.8333" stroke="#292D32" stroke-width="1.5"
                                stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </span>
                    <input type="text" v-model="search" class="form-control border-start-0" placeholder="Cari Konfirmasi Pembayaran"
                        aria-label="Cari Konfirmasi Pembayaran">
                </div>
                <!-- <button class="btn btn-primary">
            <svg class="me-2" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M16.4405 8.90039C20.0405 9.21039 21.5105 11.0604 21.5105 15.1104V15.2404C21.5105 19.7104 19.7205 21.5004 15.2505 21.5004H8.74047C4.27047 21.5004 2.48047 19.7104 2.48047 15.2404V15.1104C2.48047 11.0904 3.93047 9.24039 7.47047 8.91039" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M12 2V14.88" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M15.3504 12.6504L12.0004 16.0004L8.65039 12.6504" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>

            Simpan Data
        </button> -->
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <Sidebar />
            </div>
            <div class="ps-4 col-lg-9">
                <div class="mt-5 py-3">
                    <b-skeleton-wrapper :loading="loading">
                        <template #loading>
                            <table class="table">
                                <thead class="bg-light text-muted">
                                    <tr>
                                        <th><b-skeleton></b-skeleton></th>
                                        <th><b-skeleton></b-skeleton></th>
                                        <th><b-skeleton></b-skeleton></th>
                                        <th><b-skeleton></b-skeleton></th>
                                        <th><b-skeleton></b-skeleton></th>
                                        <th style="width: 5%;"><b-skeleton></b-skeleton></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="i in 10">
                                        <td><b-skeleton></b-skeleton></td>
                                        <td><b-skeleton></b-skeleton></td>
                                        <td><b-skeleton></b-skeleton></td>
                                        <td><b-skeleton></b-skeleton></td>
                                        <td><b-skeleton></b-skeleton></td>
                                        <td><b-skeleton></b-skeleton></td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="d-flex align-items-center justify-content-between">
                                <b-skeleton style="width: 125px; height: 25px;"></b-skeleton>
                                <b-skeleton style="width: 25px; height: 25px;"></b-skeleton>
                                <b-skeleton style="width: 125px; height: 25px;"></b-skeleton>
                            </div>
                        </template>
                        <table class="table" style="font-size: 14px;">
                            <thead class="bg-light text-muted">
                                <tr>
                                    <th>NOMOR PESANAN</th>
                                    <th class="text-center">TANGGAL KONFIRMASI PEMBAYARAN</th>
                                    <th>NAMA PEMASOK</th>
                                    <th class="text-center">TOTAL PEMBAYARAN</th>
                                    <th class="text-center">STATUS TAGIHAN</th>
                                    <th class="text-center">AKSI</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="item in pesanans" v-bind:key="item">
                                    <td>{{ item.no_pesanan }}</td>
                                    <td class="text-center">{{ item.tanggal_konfirmasi_pembayaran }}</td>
                                    <td>{{ item.penjual.nama_usaha }}</td>
                                    <td>
                                        <div class="d-flex justify-content-between">
                                            <div>Rp.</div>
                                            <template
                                                v-if="item.jasa && (item.jasa.type_jasa == 'pesan_hotel' || item.jasa.type_jasa == 'pesan_tiket_pesawat')">
                                                {{
                                                    parseInt(item.total_pembayaran).toString().replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g,
                                                        "$1\.") }} </template>
                                            <template v-else>
                                                <div>{{
                                                    parseInt(item.total_pembayaran).toString().replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g,
                                                        "$1\.") }}</div>
                                            </template>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <template v-if="item.payment_status == 'waiting_for_payment'">
                                            <div class="__badge __badge-secondary" v-if="item.bukti_pembayaran">Sedang Diverifikasi</div>
                                            <div class="__badge __badge-primary" v-else>Menunggu Pembayaran</div>
                                        </template>
                                        <div class="__badge __badge-blue" v-else-if="item.payment_status == 'paid'">
                                            Pembayaran Berhasil
                                        </div>
                                        <div class="__badge __badge-red" v-else-if="item.payment_status == 'cancel'">
                                            Pembayaran Dibatalkan
                                        </div>
                                        <div class="__badge __badge-green" v-else-if="item.payment_status == 'accepted'">
                                            Pembayaran Diterima
                                        </div>
                                        <div class="__badge __badge-secondary" v-else> {{ item.payment_status }} </div>
                                    </td>
                                    <td class="text-center">
                                        <router-link :to="{ name: 'pembeliTagihanDetail', params: { id: item.id } }">
                                            <svg width="24" height="25" viewBox="0 0 24 25" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M11 2.06641H9C4 2.06641 2 4.06641 2 9.06641V15.0664C2 20.0664 4 22.0664 9 22.0664H15C20 22.0664 22 20.0664 22 15.0664V13.0664"
                                                    stroke="#626B79" stroke-width="1.5" stroke-linecap="round"
                                                    stroke-linejoin="round" />
                                                <path
                                                    d="M16.0399 3.08764L8.15988 10.9676C7.85988 11.2676 7.55988 11.8576 7.49988 12.2876L7.06988 15.2976C6.90988 16.3876 7.67988 17.1476 8.76988 16.9976L11.7799 16.5676C12.1999 16.5076 12.7899 16.2076 13.0999 15.9076L20.9799 8.02764C22.3399 6.66764 22.9799 5.08764 20.9799 3.08764C18.9799 1.08764 17.3999 1.72764 16.0399 3.08764Z"
                                                    stroke="#626B79" stroke-width="1.5" stroke-miterlimit="10"
                                                    stroke-linecap="round" stroke-linejoin="round" />
                                                <path d="M14.9102 4.2168C15.5802 6.6068 17.4502 8.4768 19.8502 9.1568"
                                                    stroke="#626B79" stroke-width="1.5" stroke-miterlimit="10"
                                                    stroke-linecap="round" stroke-linejoin="round" />
                                            </svg>
                                        </router-link>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <nav class="d-flex justify-content-between" aria-label="page navigation">
                            <button :disabled="pagination.current_page <= 1 ? true : false"
                                @click.prevent="getTransaction(page - 1)"
                                :class="`btn px-2 d-flex justify-content-between border align-items-center btn-prev ${pagination.current_page <= 1 && 'btn-disabled'}`">
                                <svg class="icon-prev" width="9" height="18" viewBox="0 0 9 18" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M7.99984 16.9201L1.47984 10.4001C0.709844 9.63008 0.709844 8.37008 1.47984 7.60008L7.99984 1.08008"
                                        stroke="#4C2A86" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                </svg>
                                <span>Sebelumnya</span>
                            </button>
                            <div class="d-flex align-self-center">
                                <template v-for="page in pagination.total_pages" :key="page">
                                    <a @click.prevent="getTransaction(page)"
                                        :class="`btn mx-1 ${pagination.current_page === page ? 'btn-active' : 'btn-link'} text-decoration-none fw-bold`"
                                        href="#"> {{ page }} </a>
                                </template>
                            </div>
                            <button :disabled="page == pagination.total_pages ? true : false"
                                @click.prevent="getTransaction(page + 1)"
                                :class="`btn px-2 d-flex justify-content-between border align-items-center btn-next ${page == pagination.total_pages && 'btn-disabled'}`">
                                <span>Selanjutnya</span>
                                <svg class="icon-next" width="9" height="18" viewBox="0 0 9 18" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M0.910156 16.9201L7.43016 10.4001C8.20016 9.63008 8.20016 8.37008 7.43016 7.60008L0.910156 1.08008"
                                        stroke="#4C2A86" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                </svg>
                            </button>
                        </nav>
                    </b-skeleton-wrapper>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import axios from "axios";

import Navbar from "@/v2/components/Navbar";
import Sidebar from "@/v2/components/Sidebar";
import { useDebouncedRef } from "@/utils/debounce";

export default {
    name: "transaksi-pesanan",
    components: {
        Navbar,
        Sidebar,
    },
    data() {
        return {
            token: localStorage.getItem("token"),
            loading: true,
            pesanans: [],
            pagination: [],
            page: 1,
            search: useDebouncedRef('', 1000),
        };
    },

    watch: {
        search(newSearch, oldSearch) {
            this.getTransaction(1);
        }
    },

    methods: {
        getTransaction(page) {
            this.loading = true;
            this.page = page ?? this.page;
            axios.get("/api/transaction", {
                params: {
                    transaction_as: "Pembeli",
                    tagihan: true,
                    page: this.page,
                    search: this.search,
                }, headers: {
                    'Authorization': 'Bearer ' + this.token,
                }
            }).then((resp) => {
                this.pesanans = resp.data.data;
                this.pagination = resp.data.pagination;
                this.loading = false;
            })
        }
    },

    async mounted() {
        this.getTransaction()
    },
};
</script>

<style scoped>
.icon-prev,
.icon-next {
    width: 12px;
    height: 14px;
}

.btn-next,
.btn-prev,
.btn-next:hover,
.btn-prev:hover {
    width: 13%;
    color: #4C2A86;
    background: #FFFFFF;
    border: 1px solid #4C2A86;
}

.btn-link {
    color: #8B95A5;
}

.btn-active,
.btn-link:hover,
.btn-active:hover {
    color: rgba(76, 42, 134, 1);
    background-color: rgba(76, 42, 134, 0.1);
}

.btn-disabled,
.btn-disabled:hover {
    color: rgba(208, 214, 221, 1);
    background-color: #F5F5FB;
    border: 1px solid #D0D6DD;
}
</style>
