<template>
  <Navbar />
  <div class="bg-breadcrumb">
    <nav class="container-fluid" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a class="text-decoration-none text-muted" href="/">Home</a>
        </li>
        <li class="breadcrumb-item">
          <a class="text-decoration-none text-muted" href="/product"
            >Semua produk</a
          >
        </li>
        <li class="breadcrumb-item active" aria-current="page">Produk</li>
        <li class="breadcrumb-item active" aria-current="page">Keranjang</li>
      </ol>
    </nav>
  </div>
  <div class="container-fluid px-5">
    <template v-if="cart.length > 0">
      <h5 class="py-3 fw-bold text-dark">Keranjang Belanja</h5>
      <div class="row mt-3">
        <div class="col-lg-8 mb-3">
          <div
            class="mb-4"
            v-for="(item, indexUser) in cart"
            v-bind:key="item.id"
          >
            <div class="d-flex justify-content-start __bg-light p-3">
              <div class="me-3">
                <img
                  :src="item.logo"
                  class="d-block mx-auto img-fluid rounded-circle"
                  style="width: 60px; height: 60px"
                />
              </div>
              <div class="my-auto">
                <div class="fw-bold fs-6">{{ item.name }}</div>
                <span>{{ item.lokasi }}</span>
              </div>
            </div>
            <div
              :class="`d-flex justify-content-start p-3 ${
                index > 0 && 'border-top'
              }`"
              v-for="(cart, index) in item.cart"
              v-bind:key="cart.id"
            >
              <div
                class="d-flex align-items-center gap-3 justify-content-between w-100 px-3"
              >
                <div class="d-flex align-items-center gap-3">
                  <input
                    class="form-check-input"
                    :id="cart.id"
                    type="checkbox"
                    v-model="idCart"
                    :value="cart"
                    :disabled="
                      (id_penjual_selected &&
                        (id_penjual_selected != cart.id_penjual
                          ? true
                          : false)) ||
                      isQuantityAvailable(cart.products.stok, cart.qty)
                    "
                    @change="selectAll(cart.id, cart.id_penjual)"
                  />
                  <label
                    :for="cart.id"
                    class="cursor-pointer d-flex justify-content-between gap-3"
                  >
                    <img
                      :src="cart.products.image[0]"
                      class="img-fluid rounded bg-light border"
                      style="width: 100px; height: 114px; object-fit: cover"
                    />
                    <div
                      class="d-flex align-items-top justify-content-between flex-column"
                    >
                      <div>
                        <div class="fs-6 fw-semibold">
                          {{ cart.products.title }}
                        </div>
                        <small
                          v-show="
                            isQuantityAvailable(cart.products.stok, cart.qty)
                          "
                          :class="
                            isQuantityAvailable(cart.products.stok, cart.qty) &&
                            `__text-red`
                          "
                          >( Stok Habis )</small
                        >
                      </div>
                      <b-input-group style="width: 120px">
                        <b-input-group-prepend>
                          <b-button
                            variant="outline-secondary"
                            class="border-0 bg-light text-dark"
                            @click.prevent="
                              decrement(cart.id, index, indexUser)
                            "
                            >-</b-button
                          >
                        </b-input-group-prepend>
                        <input
                          class="form-control border-0 bg-light"
                          type="number"
                          min="0.00"
                          v-model="cart.qty"
                          style="text-align: center"
                          @change="
                            isQuantityAvailable(
                              cart.products.stok,
                              parseInt($event.target.value)
                            )
                              ? alertQuantity(
                                  'error',
                                  'Inputan jumlah quantity melebihi stok'
                                )
                              : changeQuantity(
                                  cart.id,
                                  parseInt($event.target.value)
                                )
                          "
                        />
                        <b-input-group-append>
                          <b-button
                            variant="outline-secondary"
                            class="border-0 bg-light text-dark"
                            @click.prevent="
                              increment(cart.id, index, indexUser)
                            "
                            >+</b-button
                          >
                        </b-input-group-append>
                      </b-input-group>
                    </div>
                  </label>
                </div>
                <div
                  class="d-flex align-items-end justify-content-between flex-column gap-4"
                >
                  <div class="__text-primary fw-bold fs-4">
                    Rp
                    {{
                      (parseInt(cart.products.show_price) * cart.qty)
                        .toString()
                        .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                    }}
                  </div>
                  <div class="d-flex gap-3">
                    <div
                      class="__text-primary cursor-pointer d-flex align-items-center"
                    >
                      <svg
                        class="me-2"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M12.62 20.8096C12.28 20.9296 11.72 20.9296 11.38 20.8096C8.48 19.8196 2 15.6896 2 8.68961C2 5.59961 4.49 3.09961 7.56 3.09961C9.38 3.09961 10.99 3.97961 12 5.33961C13.01 3.97961 14.63 3.09961 16.44 3.09961C19.51 3.09961 22 5.59961 22 8.68961C22 15.6896 15.52 19.8196 12.62 20.8096Z"
                          stroke="#4C2A86"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                      </svg>
                      Suka
                    </div>
                    <div
                      class="__text-red cursor-pointer d-flex align-items-center"
                      @click.prevent="deleteCart(cart.id)"
                    >
                      <svg
                        class="me-2"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M21 5.98047C17.67 5.65047 14.32 5.48047 10.98 5.48047C9 5.48047 7.02 5.58047 5.04 5.78047L3 5.98047"
                          stroke="#F44336"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                        <path
                          d="M8.5 4.97L8.72 3.66C8.88 2.71 9 2 10.69 2H13.31C15 2 15.13 2.75 15.28 3.67L15.5 4.97"
                          stroke="#F44336"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                        <path
                          d="M18.8499 9.14062L18.1999 19.2106C18.0899 20.7806 17.9999 22.0006 15.2099 22.0006H8.7899C5.9999 22.0006 5.9099 20.7806 5.7999 19.2106L5.1499 9.14062"
                          stroke="#F44336"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                        <path
                          d="M10.3301 16.5H13.6601"
                          stroke="#F44336"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                        <path
                          d="M9.5 12.5H14.5"
                          stroke="#F44336"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                      </svg>
                      Hapus
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 px-3">
          <div class="card border-0">
            <div class="card-body">
              <h5 class="py-4 fw-bold text-dark">Pesanan</h5>
              <div class="d-flex justify-content-between border-bottom py-2">
                <span class="__text-muted">Total Harga Produk</span>
                <span style="font-weight: 600"
                  >Rp
                  {{
                    parseInt(totalPrice)
                      .toString()
                      .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                  }}</span
                >
              </div>
              <div
                class="d-flex align-items-center justify-content-between border-bottom py-2"
              >
                <span>Total Pembayaran</span>
                <span
                  class="__text-primary"
                  style="font-weight: 700; font-size: 21px"
                  >Rp
                  {{
                    parseInt(totalPrice)
                      .toString()
                      .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                  }}</span
                >
              </div>
              <button
                class="mt-3 py-2 btn __btn-primary w-100"
                @click.prevent="submit"
              >
                Buat Pesanan
              </button>
              <router-link
                to="/product"
                class="mt-3 py-2 btn __btn-outline-primary w-100"
              >
                Lanjutkan Berbelanja
              </router-link>
              <div class="d-flex align-items-center gap-3 mt-2">
                <svg
                  width="16"
                  height="16"
                  viewBox="0 0 16 16"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <g clip-path="url(#clip0_835_13233)">
                    <path
                      d="M8 0C3.57841 0 0 3.578 0 8C0 12.4215 3.578 16 8 16C12.4216 16 16 12.422 16 8C16 3.57847 12.422 0 8 0ZM8.82153 11.1757C8.82153 11.4284 8.45297 11.6811 8.00016 11.6811C7.52628 11.6811 7.18934 11.4284 7.18934 11.1757V7.16356C7.18934 6.86872 7.52631 6.66859 8.00016 6.66859C8.45297 6.66859 8.82153 6.86872 8.82153 7.16356V11.1757ZM8.00019 5.69987C7.51578 5.69987 7.13672 5.34184 7.13672 4.94166C7.13672 4.5415 7.51581 4.194 8.00019 4.194C8.47406 4.194 8.85319 4.5415 8.85319 4.94166C8.85319 5.34184 8.47403 5.69987 8.00019 5.69987Z"
                      fill="#0D6EFD"
                    />
                  </g>
                  <defs>
                    <clipPath id="clip0_835_13233">
                      <rect width="16" height="16" fill="white" />
                    </clipPath>
                  </defs>
                </svg>
                <small class="text-muted"
                  >Checkout hanya dapat dilakukan dari satu supplier</small
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </template>
    <template v-else>
      <div class="text-center py-5">
        <div class="fs-5 fw-bold text-dark">
          Keranjang belanja anda masih kosong!
        </div>
      </div>
    </template>
  </div>
</template>

<script>
import axios from "axios";

import Navbar from "@/v2/components/Navbar";

export default {
  components: {
    Navbar,
  },

  data() {
    return {
      qty: 1,
      token: localStorage.getItem("token"),
      cart: [],
      idCart: [],
      seller: [],
      cartId: [],
      selected: [],
      id_penjual_selected: null,
      id_cart: [],
      // totalPrice: 0,
      quantityInputTimeOut: null,
      quantityInputTime: 3000,
    };
  },

  methods: {
    changeQuantity(id, value) {
      if (value < 1) {
        this.$swal({
          icon: "error",
          title: "Quantity tidak boleh kurang dari 1",
        });
      } else {
        axios
          .post(
            `/api/v1/update-qty/${id}`,
            {
              qty: value,
            },
            {
              headers: {
                Authorization: `Bearer ${this.token}`,
              },
            }
          )
          .then((resp) => {});
      }
    },

    decrement(id, index, indexUser) {
      if (this.cart[indexUser].cart[index].qty < 2) {
        this.$swal({
          icon: "error",
          title: "Quantity tidak boleh kurang dari 1",
        });
      } else {
        this.cart[indexUser].cart[index].qty--;

        clearTimeout(this.quantityInputTimeOut);
        this.quantityInputTimeOut = setTimeout(() => {
          axios
            .post(
              "/api/v1/update-qty/" + id,
              {
                qty: this.cart[indexUser].cart[index].qty,
              },
              {
                headers: {
                  Authorization: "Bearer " + this.token,
                },
              }
            )
            .then((resp) => {});
        }, this.quantityInputTime);
      }
    },

    increment(id, index, indexUser) {
      if (
        this.cart[indexUser].cart[index].qty >=
        this.cart[indexUser].cart[index].products.stok
      ) {
        this.$swal({
          icon: "error",
          title: "Quantity tidak boleh lebih dari stok",
        });
      } else {
        this.cart[indexUser].cart[index].qty++;

        clearTimeout(this.quantityInputTimeOut);
        this.quantityInputTimeOut = setTimeout(() => {
          axios
            .post(
              "/api/v1/update-qty/" + id,
              {
                qty: this.cart[indexUser].cart[index].qty,
              },
              {
                headers: {
                  Authorization: "Bearer " + this.token,
                },
              }
            )
            .then((resp) => {});
        }, this.quantityInputTime);
      }
    },

    selectAll(id, idPemasok) {
      if (this.id_cart.includes(id)) {
        this.id_cart.splice(this.id_cart.indexOf(id), 1);
      } else {
        this.id_cart.push(id);
      }

      if (this.id_cart.length > 0) {
        this.id_penjual_selected = idPemasok;
      } else {
        this.id_penjual_selected = null;
      }
    },

    async submit() {
      const obj = JSON.stringify({
        id_cart: this.id_cart,
      });
      axios
        .post("/api/v1/move-checkout", obj, {
          headers: {
            Authorization: "Bearer " + this.token,
            "Content-Type": "application/json",
          },
        })
        .then((resp) => {
          const imgSuccess = require("@/v2/assets/images/success/checkout-success.png");
          return this.$swal({
            confirmButtonText: "Selanjutnya",
            customClass: {
              actions: "w-100",
              confirmButton: "btn __btn-primary w-100 mx-5 py-3 mt-3 mb-3",
            },
            html: `
                        <img src="${imgSuccess}" />
                        <div class="text-dark fw-bold fs-4">Berhasil Menambahkan Item</div>
                        <div class="text-muted mt-3">Pesanan anda sudah berhasil ditambahkan, lakukan proses transaksi selanjutnya</div>
                    `,
          }).then(() => {
            this.$router.push({ path: `/checkout` });
          });
        })
        .catch((err) => {
          this.$swal({
            icon: "error",
            title: err.response.data.message,
          });
        });
    },

    deleteCart(id) {
      this.$swal({
        title: "Apakah anda yakin?",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Ya, Hapus!",
      }).then((result) => {
        if (result.isConfirmed) {
          axios
            .post(
              "/api/v1/delete-cart/" + id,
              {},
              {
                headers: {
                  Authorization: "Bearer " + this.token,
                },
              }
            )
            .then((resp) => {
              this.$swal("Deleted!", resp.data.message, "success");
              this.getCart();
            });
        }
      });
    },
    getCart() {
      axios
        .get("/api/v1/get-cart", {
          headers: {
            Authorization: "Bearer " + this.token,
          },
        })
        .then((resp) => {
          this.cart = resp.data.data;
        });
    },

    isQuantityAvailable(stok, qty) {
      return stok < qty;
    },

    alertQuantity(type, message) {
      this.$swal({
        icon: type,
        title: message,
      });
    },
  },

  mounted() {
    this.getCart();
  },

  computed: {
    totalPrice() {
      return this.idCart.reduce(function (items, data) {
        return items + data.products.show_price * data.qty;
      }, 0);
    },
  },
};
</script>

<style scoped></style>
