<template>
  <Navbar />

  <div class="bg-breadcrumb">
    <nav class="container-fluid" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a class="text-decoration-none text-muted" href="/">Home</a>
        </li>
        <li class="breadcrumb-item">
          <a class="text-decoration-none text-muted" href="/product">Semua produk</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Produk</li>
        <li class="breadcrumb-item active" aria-current="page">Keranjang</li>
        <li class="breadcrumb-item active" aria-current="page">Checkout</li>
      </ol>
    </nav>
  </div>

  <div class="container-fluid my-4">
    <h5 class="py-3 fw-bold text-dark">Checkout</h5>

    <div class="row mt-3">
      <div class="col-lg-8 mb-3">
        <div class="d-flex justify-content-start __bg-light p-3">
          <div class="me-3">
            <img
              :src="penjual.logo"
              class="d-block mx-auto img-fluid rounded-circle"
              style="width: 60px; height: 60px"
            />
          </div>

          <div class="my-auto">
            <div class="fw-bold fs-6">{{ penjual.nama_toko }}</div>
            <span>{{ penjual.lokasi_penjual }}</span>
          </div>
        </div>

        <div
          :class="`d-flex justify-content-start p-3 ${index > 0 && 'border-top'}`"
          v-for="(item, index) in checkout"
          v-bind:key="item.id"
        >
          <div class="d-flex align-items-center gap-3 justify-content-between w-100">
            <div class="d-flex align-items-center gap-3">
              <label
                :for="item.id"
                class="cursor-pointer d-flex justify-content-between gap-3"
              >
                <img
                  :src="item.products.image[0]"
                  class="img-fluid rounded bg-light border"
                  style="width: 100px; height: 114px; object-fit: cover"
                />

                <div
                  class="d-flex align-items-top justify-content-between flex-column py-2"
                >
                  <div class="fs-6 fw-semibold">{{ item.products.title }}</div>

                  <div>
                    <span class="fs-3 fw-bold __text-primary">
                      Rp
                      {{
                        parseInt(item.products.show_price)
                          .toString()
                          .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
                      }}
                    </span>
                    <span class="ms-1 fs-6 text-muted">x{{ item.qty }}</span>
                  </div>
                </div>
              </label>
            </div>
          </div>
        </div>

        <div class="d-flex justify-content-start __bg-primary p-3 mt-4">
          <h5 class="pt-2 fw-bold">Alamat Pengiriman</h5>
        </div>

        <div class="d-flex px-3 py-3 align-items-top gap-2 flex-column">
          <div class="d-flex align-items-center gap-2">
            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M2 22H22"
                stroke="#232933"
                stroke-width="1.5"
                stroke-miterlimit="10"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M2.9502 22.0012L3.0002 9.97121C3.0002 9.36121 3.2902 8.78126 3.7702 8.40126L10.7702 2.95125C11.4902 2.39125 12.5002 2.39125 13.2302 2.95125L20.2302 8.39125C20.7202 8.77125 21.0002 9.35121 21.0002 9.97121V22.0012"
                stroke="#232933"
                stroke-width="1.5"
                stroke-miterlimit="10"
                stroke-linejoin="round"
              />
              <path
                d="M15.5 11H8.5C7.67 11 7 11.67 7 12.5V22H17V12.5C17 11.67 16.33 11 15.5 11Z"
                stroke="#232933"
                stroke-width="1.5"
                stroke-miterlimit="10"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M10 16.25V17.75"
                stroke="#232933"
                stroke-width="1.5"
                stroke-miterlimit="10"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M10.5 7.5H13.5"
                stroke="#232933"
                stroke-width="1.5"
                stroke-miterlimit="10"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
            <div class="mt-1 fw-bold">Alamat</div>
          </div>
          <div class="text-muted" v-if="alamat_selected">
            {{ alamat_selected.alamat }}, {{ alamat_selected.province_name }},
            {{ alamat_selected.city_name }} {{ alamat_selected.kodepos }}
          </div>
          <div class="text-muted" v-else>Belum ada pilihan alamat</div>
        </div>

        <div class="d-flex gap-3 mt-3 ms-3">
          <button
            class="btn __btn-outline-primary w-25"
            data-bs-toggle="modal"
            data-bs-target="#selectAddress"
          >
            Pilih alamat
          </button>
          <button
            class="btn __btn-primary w-25"
            data-bs-toggle="modal"
            data-bs-target="#addAddress"
          >
            Tambah Alamat Baru
          </button>
        </div>

        <div class="d-flex justify-content-start __bg-primary p-3 mt-4">
          <h5 class="pt-2 fw-bold">Pilihan Pengiriman</h5>
        </div>

        <div class="row">
          <b-skeleton-wrapper :loading="loading">
            <template #loading>
              <div v-for="i in 4" :key="i" class="col-lg-6 my-3">
                <div class="row">
                  <div class="col-lg-2">
                    <b-skeleton class="float-right border" type="avatar"></b-skeleton>
                  </div>
                  <div class="col-lg-10">
                    <b-skeleton width="90%"></b-skeleton>
                    <b-skeleton width="50%"></b-skeleton>
                  </div>
                </div>
              </div>
            </template>

            <div class="col-lg-6" v-for="item of shipping" :key="item">
              <div :class="`form-check d-flex align-items-center gap-3 px-5 py-3`">
                <input
                  :id="'logistic' + item.rate.id"
                  @change="selectLogistic(item)"
                  :class="`form-check-input`"
                  type="radio"
                  name="flexRadioDefault"
                  :value="item"
                />
                <label
                  class="form-check-label d-flex align-items-center gap-3"
                  :for="'logistic' + item.rate.id"
                >
                  <img
                    class="img-fluid"
                    :style="
                      item.type !== null && item.type === 'manual'
                        ? 'width: 60px; padding: 0 10px;'
                        : 'width: 60px;'
                    "
                    :src="item.logistic.logo_url"
                  />
                  <div>
                    {{
                      item.logistic.name == "Satu Kurir" ? "Same Day" : item.logistic.name
                    }}
                    <template v-if="item.logistic.name !== 'Dijemput Pembeli'">
                      (<span
                        v-if="item.logistic.name !== 'Satu Kurir'"
                        v-text="item.rate.type + ' '"
                      />
                      <span
                        v-if="item.type !== null && item.type === 'manual'"
                        v-text="item.distance.text"
                      />
                      <span v-if="item.type === undefined">
                        <template v-if="item.max_day != 0">
                          <span v-text="item.min_day" />
                          <span
                            v-if="item.min_day !== item.max_day"
                            v-text="'-' + item.max_day"
                          />
                          hari
                        </template>
                      </span>)
                    </template>
                    <div class="text-black fw-semibold">
                      Rp.
                      {{ new Intl.NumberFormat("id").format(item.total_price) }}
                    </div>
                  </div>
                </label>
              </div>
            </div>
          </b-skeleton-wrapper>
        </div>

        <div class="text-muted py-4 px-3" v-if="shipping.length == 0 && !loading">
          {{ noShippingData }}
        </div>

        <div class="d-flex justify-content-start __bg-primary p-3 mt-4">
          <h5 class="pt-2 fw-bold">Pilihan Pajak</h5>
        </div>

        <div class="row mt-3 px-2">
          <div class="col-9">
            <label class="text-muted">Jenis Pajak</label>
            <select
              v-model="jenis_pajak"
              class="__form-control form-control-sm form-select __text-primary"
              @change="changePajak($event)"
              required
            >
              <option data-percentase="0" value="Tidak Dipungut PPN">
                Tidak Dipungut PPN
              </option>
              <!-- <option
                data-percentase="10"
                value="Pajak Daerah – Dipungut Ritel Daring"
              >
                Pajak Daerah – Dipungut Ritel Daring
              </option> -->
              <option
                data-percentase="11"
                value="PPN (LS) - Dipungut Instansi Pemerintah"
              >
                PPN (LS) - Dipungut Instansi Pemerintah
              </option>
              <option data-percentase="11" value="PPN (UP) - Dipungut oleh Ritel Daring">
                PPN (UP) - Dipungut oleh Ritel Daring
              </option>
            </select>
          </div>

          <div class="col-3 mt-auto">
            <div class="input-group">
              <!-- <input type="number" v-model="jenis_pajak_value" class="form-control" placeholder="0" step="0.1" aria-label="0" aria-describedby="basic-addon2" :readonly="jenis_pajak !== 'Pajak Daerah - Dipungut oleh Ritel Daring'"> -->
              <input
                type="number"
                v-model="jenis_pajak_value"
                class="form-control __form-control __text-primary"
                placeholder="0"
                step="0.1"
                aria-label="0"
                aria-describedby="basic-addon2"
                :readonly="jenis_pajak !== 'Pajak Daerah – Dipungut Ritel Daring'"
              />
              <span class="input-group-text" id="basic-addon2">%</span>
            </div>
          </div>
        </div>

        <div class="row mt-3 px-2">
          <div class="col-9">
            <label class="text-muted">Pajak Penghasilan</label>
            <select
              v-model="pajak_penghasilan"
              @change="pajakPenghasilan"
              class="__form-control form-control-sm form-select __text-primary"
              required
            >
              <option
                v-show="
                  jenis_pajak == 'Tidak Dipungut PPN' ||
                  jenis_pajak == 'Pajak Daerah – Dipungut Ritel Daring'
                "
                data-percentase="0"
                value="Tidak Dipungut PPh"
              >
                Tidak Dipungut PPh
              </option>
              <option
                v-show="
                  jenis_pajak == 'PPN (LS) - Dipungut Instansi Pemerintah' ||
                  jenis_pajak == 'Pajak Daerah – Dipungut Ritel Daring' ||
                  jenis_pajak == 'Tidak Dipungut PPN'
                "
                data-percentase="1.5"
                value="PPh Pasal 22 (LS)"
              >
                PPh Pasal 22 (LS)
              </option>
              <option
                v-show="
                  jenis_pajak == 'PPN (LS) - Dipungut Instansi Pemerintah' ||
                  jenis_pajak == 'Pajak Daerah – Dipungut Ritel Daring' ||
                  jenis_pajak == 'Tidak Dipungut PPN'
                "
                data-percentase="2"
                value="PPh Pasal 23 (LS)"
              >
                PPh Pasal 23 (LS)
              </option>
              <option
                v-show="
                  jenis_pajak == 'PPN (UP) - Dipungut oleh Ritel Daring' ||
                  jenis_pajak == 'Pajak Daerah – Dipungut Ritel Daring' ||
                  jenis_pajak == 'Tidak Dipungut PPN'
                "
                data-percentase="0.5"
                value="PPh Pasal 22 (UP)"
              >
                PPh Pasal 22 (UP)
              </option>
            </select>
          </div>
          <div class="col-3 mt-auto">
            <div class="input-group">
              <input
                type="number"
                v-model="pajak_penghasilan_value"
                class="form-control __form-control __text-primary"
                placeholder="0"
                step="0.1"
                aria-label="0"
                aria-describedby="basic-addon2"
                :readonly="
                  pajak_penghasilan !==
                  'PPh Pasal 4 (2) Final (LS) - Dipungut Instansi Pemerintah'
                "
              />
              <span class="input-group-text" id="basic-addon2">%</span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 px-4">
        <div class="d-flex justify-content-start mt-4">
          <h5 class="fw-bold">Pesanan</h5>
        </div>

        <div class="d-flex justify-content-between mb-3 border-bottom pb-3 mt-4">
          <span class="text-muted">Total Harga Produk</span>
          <span style="font-weight: 600"
            >Rp
            {{
              totalPrice.toString().replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
            }}</span
          >
        </div>

        <div class="d-flex justify-content-between mb-3 border-bottom pb-3">
          <span class="text-muted">Total Ongkos Kirim</span>
          <span style="font-weight: 600"
            >Rp
            {{
              parseInt(field.shipping.total_price)
                .toString()
                .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
            }}</span
          >
        </div>

        <div class="d-flex justify-content-between mb-3 border-bottom pb-3 mt-5">
          <span class="text-muted">Sub Total</span>
          <span style="font-weight: 600"
            >Rp
            {{
              parseInt(subTotalPrice)
                .toString()
                .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
            }}</span
          >
        </div>

        <div class="d-flex justify-content-between mb-3 border-bottom pb-3">
          <span class="text-muted">Pajak</span>
          <span style="font-weight: 600"
            >Rp
            {{
              parseInt(totalPajak)
                .toString()
                .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
            }}</span
          >
        </div>

        <div class="d-flex justify-content-between mb-3 border-bottom pb-3">
          <span class="text-muted">Pajak Penghasilan</span>
          <span style="font-weight: 600"
            >Rp
            {{
              parseInt(totalPajakPenghasilan)
                .toString()
                .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
            }}</span
          >
        </div>

        <div class="d-flex justify-content-between mb-3 border-bottom pb-3">
          <span class="text-muted">Total Transaksi</span>
          <span style="font-weight: 600"
            >Rp
            {{
              parseInt(totalTransaksiPrice)
                .toString()
                .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
            }}</span
          >
        </div>

        <div class="d-flex justify-content-between mb-3 border-bottom pb-3">
          <span class="text-dark">Total Pembayaran</span>
          <span class="__text-primary fs-4 fw-semibold"
            >Rp
            {{
              parseInt(totalPembayaranPrice)
                .toString()
                .replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1\.")
            }}</span
          >
        </div>

        <template v-if="totalTransaksiPrice >= 50000000">
          <button
            class="w-100 py-2 mt-2 btn __btn-primary"
            @click.prevent="buatPesanan('rfq')"
          >
            Buat Permintaan RFQ
          </button>
        </template>

        <template v-else>
          <button
            class="w-100 py-2 mt-2 btn __btn-primary"
            @click.prevent="buatPesanan('pesanan_langsung')"
          >
            Buat Pesanan
          </button>
        </template>

        <div class="d-flex align-items-top mt-3">
          <svg
            width="20"
            height="20"
            viewBox="0 0 16 16"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g clip-path="url(#clip0_835_13444)">
              <path
                d="M8 0C3.57841 0 0 3.578 0 8C0 12.4215 3.578 16 8 16C12.4216 16 16 12.422 16 8C16 3.57847 12.422 0 8 0ZM8.82153 11.1757C8.82153 11.4284 8.45297 11.6811 8.00016 11.6811C7.52628 11.6811 7.18934 11.4284 7.18934 11.1757V7.16356C7.18934 6.86872 7.52631 6.66859 8.00016 6.66859C8.45297 6.66859 8.82153 6.86872 8.82153 7.16356V11.1757ZM8.00019 5.69987C7.51578 5.69987 7.13672 5.34184 7.13672 4.94166C7.13672 4.5415 7.51581 4.194 8.00019 4.194C8.47406 4.194 8.85319 4.5415 8.85319 4.94166C8.85319 5.34184 8.47403 5.69987 8.00019 5.69987Z"
                fill="#0D6EFD"
              />
            </g>
            <defs>
              <clipPath id="clip0_835_13444">
                <rect width="20" height="20" fill="white" />
              </clipPath>
            </defs>
          </svg>

          <ul class="__text-muted" style="font-size: 12px">
            <li>
              Untuk total pembayaran kurang dari Rp 50.000.000, anda dapat mengklik tombol
              buat pesanan
            </li>
            <li>
              Untuk total pembayaran lebih dari Rp 50.000.000, anda wajib melakukan
              negosiasi, dengan mengklik tombol buat Permintaan RFQ
            </li>
            <li>Maksimal nilai per transaksi pada situs kami sebesar Rp 200.000.000</li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Modal Pilih Alamat -->
    <div
      class="modal fade"
      id="selectAddress"
      data-bs-backdrop="static"
      data-bs-keyboard="false"
      tabindex="-1"
      aria-labelledby="selectAddressLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="__bg-primary d-flex align-items-center px-5 py-3 position-relative">
            <button
              type="button"
              class="border-0 bg-transparent position-absolute left-0 top-50 translate-middle"
              data-bs-dismiss="modal"
              aria-label="Close"
            >
              <svg
                width="40"
                height="40"
                viewBox="0 0 40 40"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M15.2832 24.7165L24.7165 15.2832"
                  stroke="white"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M24.7165 24.7165L15.2832 15.2832"
                  stroke="white"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M14.9997 36.6673H24.9997C33.333 36.6673 36.6663 33.334 36.6663 25.0007V15.0007C36.6663 6.66732 33.333 3.33398 24.9997 3.33398H14.9997C6.66634 3.33398 3.33301 6.66732 3.33301 15.0007V25.0007C3.33301 33.334 6.66634 36.6673 14.9997 36.6673Z"
                  stroke="white"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </button>

            <h5 class="modal-title text-center w-100" id="selectAddressLabel">
              Ganti Alamat
            </h5>
          </div>

          <div class="modal-body px-4">
            <div class="__text-primary text-center fs-5 fw-bold my-3">Pilih Alamat</div>
            <div class="mb-5" v-for="(item, index) in alamat" v-bind:key="item">
              <div class="bg-light text-dark fw-bold py-2 fs-5 px-3 d-flex justify-content-between align-items-center">
                Alamat {{ ++index }}
                <div @click="deleteAddress(item.id)" style="font-size: 12px;" class="text-danger cursor-pointer">Hapus</div>
              </div>
              <div class="d-flex align-items-center px-3 pt-4">
                <input
                  type="radio"
                  v-model="alamat_id"
                  class="form-check-input __form-check-input"
                  :id="'waktu_' + item.id"
                  :value="item"
                />
                <label class="text-muted px-3 pt-1" :for="'waktu_' + item.id">
                  {{ item.alamat }}, {{ item.province_name }}, {{ item.city_name }}
                  {{ item.kodepos }}
                </label>
              </div>
            </div>

            <button
              v-show="this.alamat.length > 0"
              type="button"
              class="w-100 btn __btn-primary py-3 mb-3"
              data-bs-dismiss="modal"
              @click.prevent="getAlamat(alamat_id)"
            >
              Pilih Alamat
            </button>
            <button
              type="button"
              class="w-100 btn __btn-outline-primary py-3"
              data-bs-dismiss="modal"
            >
              Batalkan
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal Tambah alamat  -->
    <div
      class="modal fade"
      id="addAddress"
      data-bs-backdrop="static"
      data-bs-keyboard="false"
      tabindex="-1"
      aria-labelledby="addAddressLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="__bg-primary d-flex align-items-center px-5 py-3 position-relative">
            <button
              type="button"
              class="border-0 bg-transparent position-absolute left-0 top-50 translate-middle"
              data-bs-dismiss="modal"
              aria-label="Close"
            >
              <svg
                width="40"
                height="40"
                viewBox="0 0 40 40"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M15.2832 24.7165L24.7165 15.2832"
                  stroke="white"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M24.7165 24.7165L15.2832 15.2832"
                  stroke="white"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M14.9997 36.6673H24.9997C33.333 36.6673 36.6663 33.334 36.6663 25.0007V15.0007C36.6663 6.66732 33.333 3.33398 24.9997 3.33398H14.9997C6.66634 3.33398 3.33301 6.66732 3.33301 15.0007V25.0007C3.33301 33.334 6.66634 36.6673 14.9997 36.6673Z"
                  stroke="white"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </button>

            <h5 class="modal-title text-center w-100">Tambah Alamat Baru</h5>
          </div>

          <div class="modal-body">
            <div class="__text-primary text-center fs-5 fw-bold my-3">
              Informasi Alamat Baru
            </div>
            <div class="row">
              <div class="col-lg-12 mb-3">
                <label class="text-muted" for="">Alamat Lengkap</label>
                <textarea
                  v-model="field.address.alamat"
                  rows="4"
                  class="__form-control form-control"
                  placeholder="Ketik alamat lengkap instansi yang digunakan sebagai Alamat Instansi"
                  required
                ></textarea>
                <div class="invalid-feedback">Alamat Instansi wajib diisi!</div>
              </div>
              <div class="col-lg-6 mb-3">
                <label class="text-muted" for="">Provinsi</label>
                <select
                  v-model="field.address.province_id"
                  class="__form-control form-control form-select"
                  @change="getCity"
                  required
                >
                  <option
                    :value="item.id"
                    v-for="item in collection.provinces"
                    v-bind:key="item.id"
                  >
                    {{ item.name }}
                  </option>
                </select>
                <div class="invalid-feedback">Provinsi wajib diisi!</div>
              </div>
              <div class="col-lg-6 mb-3">
                <label class="text-muted" for="">Kabupaten atau Kota</label>
                <select
                  @change="getSuburb"
                  v-model="field.address.city_id"
                  id=""
                  class="__form-control form-control form-select"
                  required
                >
                  <option
                    :value="item.id"
                    v-for="item in collection.cities"
                    v-bind:key="item.id"
                  >
                    {{ item.name }}
                  </option>
                </select>
                <div class="invalid-feedback">Kabupaten atau Kota wajib diisi!</div>
              </div>
              <div class="col-lg-6 mb-3">
                <label class="text-muted" for="">Kecamatan</label>
                <select
                  @change="getArea"
                  v-model="field.address.suburb_id"
                  id=""
                  class="__form-control form-control form-select"
                  required
                >
                  <option
                    :value="item.id"
                    v-for="item in collection.suburbs"
                    v-bind:key="item.id"
                  >
                    {{ item.name }}
                  </option>
                </select>
                <div class="invalid-feedback">Kabupaten atau Kota wajib diisi!</div>
              </div>
              <div class="col-lg-6 mb-3">
                <label class="text-muted" for="">Kelurahan/Desa</label>
                <select
                  v-model="field.address.area_id"
                  id=""
                  class="__form-control form-control form-select"
                  required
                >
                  <option
                    :value="item.id"
                    v-for="item in collection.areas"
                    v-bind:key="item.id"
                  >
                    {{ item.name }}
                  </option>
                </select>
                <div class="invalid-feedback">Kabupaten atau Kota wajib diisi!</div>
              </div>
              <div class="col-lg-6 mb-3">
                <label class="text-muted" for="">Kode Pos</label>
                <input
                  v-model="field.address.kodepos"
                  type="number"
                  class="__form-control form-control"
                  placeholder="Ketik kode pos"
                  required
                />
                <div class="invalid-feedback">Kode Pos wajib diisi!</div>
              </div>
              <div class="col-lg-6 mb-3">
                <label
                  class="text-muted"
                  v-text="states.getCoordinates ? 'Memuat Data...' : 'Titik Koordinat'"
                />
                <input
                  autocomplete="disabled"
                  @keyup="getCoordinates"
                  v-model="parsing_coordinates"
                  type="text"
                  class="__form-control form-control"
                  placeholder="Titik Koordinat"
                  required
                  :disabled="true"
                />
              </div>
              <div class="col-lg-12 mb-3 position-relative">
                <GMapAutocomplete
                  class="form-control __form-control position-absolute border-0"
                  style="z-index: 100; top: 10px; left: 20px; width: 90%; height: 40px"
                  placeholder="Cari alamat..."
                  @place_changed="setPlace"
                ></GMapAutocomplete>
                <GMapMap
                  ref="mapRef"
                  style="width: 100%; height: 300px"
                  :center="field.address.coordinates"
                  :zoom="15"
                >
                  <GMapMarker
                    :position="field.address.coordinates"
                    :draggable="true"
                    :clickable="true"
                    @dragend="updateLocation"
                  />
                </GMapMap>
              </div>
            </div>
            <button
              type="button"
              class="w-100 btn __btn-primary py-3 mb-3"
              data-bs-dismiss="modal"
              @click.prevent="postAlamat"
            >
              Tambah Alamat
            </button>
            <button
              type="button"
              class="w-100 btn __btn-outline-primary py-3"
              data-bs-dismiss="modal"
            >
              Batalkan
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal Pilih Kurir  -->
    <div
      class="modal fade"
      id="chooseKurir"
      data-bs-backdrop="static"
      data-bs-keyboard="false"
      tabindex="-1"
      aria-labelledby="chooseKurirLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="chooseKurirLabel">Pilih Kurir</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-lg-12 mb-3">
                <div>
                  <label for="">Kurir</label>
                  <select
                    v-model="kurir.courier"
                    class="__form-control form-control-sm form-select"
                    @change="getCost"
                    required
                  >
                    <option value="jne">JNE</option>
                    <option value="pos">POS</option>
                    <option value="tiki">TIKI</option>
                  </select>
                  <div class="invalid-feedback">Provinsi wajib diisi!</div>
                </div>
              </div>

              <div class="col-lg-12 mb-3" v-if="cost.length != 0">
                <div>
                  <label for="">Cost</label>
                  <select
                    v-model="kurir.list"
                    class="__form-control form-control-sm form-select"
                    required
                  >
                    <option
                      :value="{
                        kurir: kurir.courier,
                        description: item.description,
                        etd: item.cost[0].etd,
                        value: item.cost[0].value,
                      }"
                      v-for="item in cost[0].costs"
                      v-bind:key="item"
                    >
                      {{ item.description }} - {{ item.cost[0].value }} ({{
                        item.cost[0].etd
                      }})
                    </option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
              Cancel
            </button>
            <button
              type="button"
              class="btn __btn-primary"
              data-bs-dismiss="modal"
              @click.prevent="pilihKurir"
            >
              Pilih
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import Navbar from "@/v2/components/Navbar.vue";
import { GoogleMap, Marker } from "vue3-google-map";

export default {
  components: {
    Navbar,
    GoogleMap,
    Marker,
  },
  data() {
    return {
      loading: false,
      qty: 0,
      token: localStorage.getItem("token"),
      checkout: [],
      alamat_selected: null,
      alamat: [],
      user_role: [],
      alamat_id: "",
      provinsi: [],
      city: [],
      kurir: {
        origin: "",
        destination: "",
        weight: "",
        courier: "",
        klik: false,
        list: [],
      },
      // totalWeight: 0,
      cost: [],
      jenis_pajak: "",
      pajak_penghasilan: "",
      jenis_pajak_value: 0,
      pajak_penghasilan_value: 0,

      pesanan: {
        product_id: [],
      },
      shipping: [],
      noShippingData: 'Belum ada pilihan alamat',
      shippingDataOriginal: {},
      field: {
        shipping: {
          rate_id: null,
          total_price: 0,
        },
        address: {
          province_id: "",
          city_id: "",
          kodepos: "",
          alamat: "",
          suburb_id: null,
          area_id: null,
          coordinates: { lat: -6.2297465, lng: 106.829518 },
        },
      },
      collection: {
        provinces: [],
        cities: [],
        suburbs: [],
        areas: [],
      },
      penjual: [],
      states: {
        getCoordinates: false,
      },
      parsing_coordinates: "",
    };
  },
  methods: {
    ambilUlangAlamat() {
      axios.get("/api/v1/address", {
        headers: {
          Authorization: "Bearer " + this.token,
        },
      })
      .then((resp) => {
        this.alamat = resp.data.data;
      });
    },
    ambilAlamatPertama() {
      axios.get("/api/v1/address", {
        headers: {
          Authorization: "Bearer " + this.token,
        },
      })
      .then((resp) => {
        const loc = resp.data.data[0]
        this.alamat_id = loc
        this.$nextTick(() => {
          this.getAlamat(loc)
        })
      });
    },
    getAlamat(loc) {
      this.loading = true;
      this.alamat_selected = loc;
      this.field.shipping = {
        rate_id: null,
        total_price: 0,
      }

      let data = {
        origin: this.penjual.origin,
        destination: {
          area_id: loc.area_id,
          lat: loc.lat,
          lng: loc.lng,
          suburb_id: loc.suburb_id,
        },
        height: 5,
        width: 10,
        length: 15,
        weight: this.totalWeight,
        item_value: this.totalPrice,
      };

      this.shippingDataOriginal = data

      this.getShippingPrices(data)
    },
    getShippingPrices(data = null) {
      axios.post("/api/v1/shipper/pricing", data, {
          headers: {
            Authorization: "Bearer " + this.token,
            "Content-Type": "application/json",
          },
        })
        .then((res) => {
          let data = res.data;
          this.shipping = data;
        })
        .catch((res) => {
          if(res.response.status > 500) {
            this.noShippingData = `Ada kesalahan, silahkan hubungi admin! (kode status: ${res.response.status})`
          } else {
            this.noShippingData = res.message
          }
        })
        .then(() => this.loading = false);
    },
    deleteAddress(id) {
      const imgError = require("@/v2/assets/images/error/validation-error.png");
      this.$swal({
        showCancelButton: true,
        cancelButtonText: "Batal",
        confirmButtonText: "Ya, Hapus",
        customClass: {
          actions: "w-100",
          confirmButton: "btn __btn-primary py-3 px-3",
          cancelButton: "btn __btn-outline-primary py-3 px-3",
        },
        html: `
          <img src="${imgError}" />
          <div class="text-dark fw-bold fs-4">Konfirmasi Hapus!</div>
          <div class="text-muted mt-3">Apakah kamu yakin akan menghapus alamat ini?</div>
        `,
      }).then((result) => {
        if (result.isConfirmed) {
          axios.delete(`/api/v1/address/${id}`, {
            headers: {
              Authorization: "Bearer " + this.token,
              "Content-Type": "application/json",
            },
          })
          .then(() => this.ambilUlangAlamat())
        }
      })
    },
    postAlamat() {
      axios
        .post("/api/v1/address/post", this.field.address, {
          headers: {
            Authorization: "Bearer " + this.token,
            "Content-Type": "application/json",
          },
        })
        .then((resp) => {
          this.$swal({
            icon: "success",
            title: resp.data.message,
          });

          this.ambilUlangAlamat()
        })
        .catch((err) => {
          this.$swal({
            icon: "error",
            title: err.response.data.message,
          });
        });
    },
    pilihKurir() {
      this.kurir.klik = true;
    },

    getCost(event) {
      axios
        .post("/api/v1/rajaongkir/cost", {
          origin: this.checkout[0].penjual.city_id,
          destination: this.alamat_selected.city_id,
          weight: this.totalWeight,
          courier: event.target.value,
        })
        .then((resp) => {
          this.cost = resp.data.results;
        });
    },

    changePajak(event) {
      const persentase = event.target.options[
        event.target.options.selectedIndex
      ].getAttribute("data-percentase");

      this.jenis_pajak_value = persentase;
      this.pajak_penghasilan = "";
      this.pajak_penghasilan_value = 0;
    },
    pajakPenghasilan(event) {
      const persentase = event.target.options[
        event.target.options.selectedIndex
      ].getAttribute("data-percentase");

      this.pajak_penghasilan_value = persentase;
    },

    submitValidate() {
      if (this.kurir.list.value == null) {
        this.$swal({
          icon: "error",
          title: "Pilihan pengiriman belum di tetapkan!",
        });
        return false;
      }

      if (this.jenis_pajak === "") {
        this.$swal({
          icon: "error",
          title: "Jenis Pajak belum di tetapkan!",
        });
        return false;
      }

      if (this.pajak_penghasilan === "") {
        this.$swal({
          icon: "error",
          title: "Jenis Pajak Penghasilan belum di tetapkan!",
        });
        return false;
      }

      return true;
    },

    buatPesanan(type) {
      if (!this.submitValidate()) {
        return;
      }

      const obj = JSON.stringify({
        id_penjual: this.checkout[0].penjual.id_penjual,
        id_alamat: this.alamat_id.id,
        id_cart: this.pesanan.product_id,
        total_harga_barang: this.totalPrice,
        total_harga_kurir: parseInt(this.kurir.list.value),
        subtotal: this.totalPrice + parseInt(this.kurir.list.value),
        jenis_pajak: this.jenis_pajak,
        jenis_pajak_value: this.jenis_pajak_value,
        pajak_penghasilan: this.pajak_penghasilan,
        pajak_penghasilan_value: this.pajak_penghasilan_value,
        total_pajak: this.totalPajak,
        total_pajak_penghasilan: this.totalPajakPenghasilan,
        total_pembayaran: this.totalPembayaranPrice,
        total_transaksi: this.totalTransaksiPrice,
        shipping_data: this.shippingDataOriginal,
        shipping_courier: this.field.shipping,
        kurir: this.kurir.list.kurir,
        etd: this.kurir.list.etd,
      });

      axios
        .post("/api/v1/pesanan/" + type, obj, {
          headers: {
            Authorization: "Bearer " + this.token,
            "Content-Type": "application/json",
          },
        })
        .then((resp) => {
          const imgSuccess = require("@/v2/assets/images/success/checkout-success.png");
          return this.$swal({
            confirmButtonText: "Selanjutnya",
            customClass: {
              actions: "w-100",
              confirmButton: "btn __btn-primary w-100 mx-5 py-3 mt-3 mb-3",
            },
            html: `
                    <img src="${imgSuccess}" />
                    <div class="text-dark fw-bold fs-4">Pesanan Anda Berhasil di <br>buat</div>
                    <div class="text-muted mt-3">Pesanan anda sudah berhasil dibuat, lakukan proses transaksi selanjutnya</div>
                `,
          }).then(() => {
            if (type === "pesanan_langsung") {
              return this.$router.push({
                path: "/pembeli/pesanan-langsung/" + resp.data.data.id,
              });
            } else if (type === "rfq") {
              return this.$router.push({
                path: "/pembeli/rfq/" + resp.data.data.id,
              });
            }
          });
        });
    },
    selectLogistic(item) {
      this.field.shipping = item;
      this.field.shipping.rate_id = item.rate.id;
      this.field.shipping.total_price = item.total_price;
      this.kurir.list.kurir = item.logistic.name;
      this.kurir.list.etd =
        item.logistic.name == "Satu Kurir"
          ? "-"
          : item.min_day + "-" + item.max_day + "Hari";
      this.kurir.list.value = item.total_price;
    },
    //mengambil data provinsi dari shipper
    getProvinces() {
      axios.get("/api/v1/shipper/provinces").then((res) => {
        this.collection.provinces = res.data;
      });
    },
    //mengambil data kota berdasar provinsi yang dipilih pengguna dari shipper
    getCity() {
      this.field.address.city_id = null;
      this.field.address.suburb_id = null;
      this.field.address.area_id = null;
      axios
        .get("/api/v1/shipper/province/" + this.field.address.province_id + "/cities")
        .then((res) => {
          this.collection.cities = res.data;
        });
    },
    //mengambil data kecamatan berdasar kota yang dipilih pengguna dari shipper
    getSuburb() {
      this.field.address.suburb_id = null;
      this.field.address.area_id = null;
      axios
        .get("/api/v1/shipper/city/" + this.field.address.city_id + "/suburbs")
        .then((res) => {
          this.collection.suburbs = res.data;
        });
    },
    //mengambil data kelurahan berdasar kecamatan yang dipilih pengguna dari shipper
    getArea() {
      this.field.address.area_id = null;
      axios
        .get("/api/v1/shipper/suburb/" + this.field.address.suburb_id + "/areas")
        .then((res) => {
          this.collection.areas = res.data;
        });
    },
    //mengambil lokasi koordinat setelah penanda (marker) digeser
    updateLocation(evt) {
      let lat = evt.latLng.lat();
      let lng = evt.latLng.lng();
      this.field.address.coordinates = { lat: lat, lng: lng };
      this.parsingCoordinates();
    },
    //mengubah lokasi penanda (marker) pada peta berdasar lokasi koordinat pengguna
    setLocation(loc) {
      let lat = loc.coords.latitude;
      ngitude;
      this.field.address.coordinates = { lat: lat, lng: lng };
      this.parsingCoordinates();
    },
    setPlace(loc) {
      let lat = loc.geometry.location.lat();
      let lng = loc.geometry.location.lng();
      this.field.address.coordinates = { lat: lat, lng: lng };
      this.parsingCoordinates();
    },
    parsingCoordinates() {
      this.parsing_coordinates = `${this.field.address.coordinates.lat.toFixed(
        7
      )},${this.field.address.coordinates.lng.toFixed(7)}`;
    },
  },
  mounted() {
    axios
      .get("/api/user/role", {
        headers: {
          Authorization: "Bearer " + this.token,
        },
      })
      .then((resp) => {
        this.user_role = resp.data.data;
      });
    axios
      .get("/api/v1/address", {
        headers: {
          Authorization: "Bearer " + this.token,
        },
      })
      .then((resp) => {
        this.alamat = resp.data.data;
      });

    axios
      .get("/api/v1/checkout", {
        headers: {
          Authorization: "Bearer " + this.token,
        },
      })
      .then((resp) => {
        this.checkout = resp.data.data;
        this.penjual = resp.data.data[0].penjual;
        this.checkout.forEach((item, i) => {
          this.pesanan.product_id.push({
            cart_id: item.cart_id,
            id_products: item.products.id,
            qty: item.qty,
          });
        });
      });

    this.getProvinces();
    this.ambilAlamatPertama();
  },
  computed: {
    totalWeight() {
      return this.checkout.reduce(function (items, data) {
        return Math.ceil(items + data.products.berat * data.qty);
      }, 0);
    },

    totalPrice() {
      return this.checkout.reduce(function (items, data) {
        return Math.ceil(items + data.products.show_price * data.qty);
      }, 0);
    },

    subTotalPrice() {
      return Math.ceil(this.field.shipping.total_price + this.totalPrice);
    },

    // Total PPN
    totalPajak() {
      return Math.ceil(this.subTotalPrice * this.jenis_pajak_value) / 100;
    },

    // Total PPH
    totalPajakPenghasilan() {
      if (
        this.pajak_penghasilan === "PPh Pasal 22 (UP) - Dipungut oleh Ritel Daring" ||
        this.pajak_penghasilan === ""
      ) {
        return Math.ceil(this.subTotalPrice * this.pajak_penghasilan_value) / 100;
      }

      return Math.ceil(this.subTotalPrice * this.pajak_penghasilan_value) / 100;
    },

    // Total PPN + PPH
    totalPajakPrice() {
      return Math.ceil(this.totalPajak + this.totalPajakPenghasilan);
    },

    totalTransaksiPrice() {
      if (this.jenis_pajak === "Pajak Daerah – Dipungut Ritel Daring") {
        if (this.pajak_penghasilan === "PPh Pasal 22 (UP)") {
          return Math.ceil(this.subTotalPrice + this.totalPajak + this.totalPajakPenghasilan);
        }

        return Math.ceil(this.subTotalPrice + this.totalPajak);
      }

      // if (this.jenis_pajak === "Pajak Daerah - Dipungut oleh Ritel Daring") {
      //   if (this.pajak_penghasilan !== "PPh Pasal 22 (UP) - Dipungut oleh Ritel Daring") {
      //     return this.subTotalPrice + this.totalPajak;
      //   } else {
      //     return this.subTotalPrice + this.totalPajak + this.totalPajakPenghasilan;
      //   }
      // }

      if (
        this.jenis_pajak === "Tidak Dipungut PPN" &&
        this.pajak_penghasilan === "PPh Pasal 22 (UP)"
      ) {
        return Math.ceil(this.subTotalPrice + this.totalPajakPrice);
      }

      if (
        this.jenis_pajak === "PPN (UP) - Dipungut oleh Ritel Daring" ||
        this.jenis_pajak === "Pajak Daerah - Dipungut oleh Ritel Daring"
      ) {
        return Math.ceil(this.subTotalPrice + this.totalPajakPrice);
      }

      return Math.ceil(this.subTotalPrice + this.totalPajak);
    },

    totalPembayaranPrice() {
      if (this.jenis_pajak === "Pajak Daerah – Dipungut Ritel Daring") {
        if (this.pajak_penghasilan === "Tidak Dipungut PPh") {
          return Math.ceil(this.totalTransaksiPrice);
        }

        else if (this.pajak_penghasilan === "PPh Pasal 22 (LS)") {
          return Math.ceil(this.totalTransaksiPrice - this.totalPajakPenghasilan);
        }

        else if (this.pajak_penghasilan === "PPh Pasal 23 (LS)") {
          return Math.ceil(this.totalTransaksiPrice - this.totalPajakPenghasilan);
        }

        else if (this.pajak_penghasilan === "PPh Pasal 22 (UP)") {
          return Math.ceil(this.totalTransaksiPrice);
        }

        else {
          return Math.ceil(this.totalTransaksiPrice);
        }
      }

      if (
        this.jenis_pajak === "PPN (UP) - Dipungut oleh Ritel Daring" ||
        this.jenis_pajak === "Pajak Daerah - Dipungut oleh Ritel Daring"
      ) {
        return Math.ceil(this.subTotalPrice + this.totalPajakPrice);
      }

      if (this.pajak_penghasilan === "PPh Pasal 22 (UP)") {
        return Math.ceil(this.subTotalPrice + this.totalPajakPenghasilan);
      }

      return Math.ceil(this.subTotalPrice - this.totalPajakPenghasilan);
    },
  },
};
</script>
