<template>
    <Navbar />

    <div class="container-fluid d-flex">
        <div class="bg-auth d-flex flex-column align-items-center">
            <a href="/">
                <img :src="require('@/v2/assets/images/logo.svg')">
            </a>

            <img :src="require('@/v2/assets/images/auth/login.png')">

            <div class="auth-description">
                <strong>BeliUMKM</strong> merupakan ritel daring yang bertujuan untuk melayani kebutuhan belanja barang/jasa dari instansi pemerintah selaku pihak pembeli dengan melibatkan pelaku usaha mikro dan kecil selaku pihak pemasok.
            </div>
        </div>

        <div class="form-auth">
            <template v-if="!loginWhatsapp || !isOTPInput">
                <div class="fs-2 fw-bold mt-2 text-center">Silahkan Melakukan Login</div>
                <div class="auth-description w-75 mx-auto">Masuk untuk melakukan transaksi</div>
            </template>
            <template v-else>
                <div class="fs-2 fw-bold mt-2 text-center">Masukkan Kode Verifikasi (OTP)</div>
                <div class="auth-description w-75 mx-auto">Kode verifikasi (OTP) telah dikirim melalui WhatsApp ke <br><strong>{{ user.phone }}</strong></div>
            </template>

            <div class="form-auth-row row justify-content-center tab">
                <div class="col-lg-7 mb-3">
                    <form @submit.prevent="submit">
                        <template v-if="!loginWhatsapp">
                            <div class="mb-3">
                                <label class="label-form" for="">Email</label>
                                <input autocomplete="off" type="email" v-model="user.email" class="__form-control form-control" placeholder="Ketik email" autofocus>
                            </div>

                            <div class="mb-3">
                                <label class="label-form" for="">Kata Sandi</label>
                                <div class="position-relative">
                                    <input autocomplete="off" :type="password.type" v-model="user.password" class="__form-control form-control" placeholder="Ketik kata sandi">
                                    <i @click.prevent="changePasswordType()" :class="`fas ${password.icon} cursor-pointer text-muted position-absolute top-50 end-0 translate-middle me-2`"></i>
                                </div>
                            </div>
                        </template>
                        <template v-else>
                            <div class="d-flex justify-content-center mb-3" v-if="isOTPInput">
                                <v-otp-input
                                    ref="otpInput"
                                    input-classes="otp-input"
                                    separator=" "
                                    :num-inputs="4"
                                    :should-auto-focus="true"
                                    :is-input-num="true"
                                    :conditionalClass="['bg-white __text-primary __form-control form-control', 'bg-white __text-primary __form-control form-control', 'bg-white __text-primary __form-control form-control', 'bg-white __text-primary __form-control form-control']"
                                    :placeholder="['', '', '', '']"
                                    @on-change="handleOnChange($event)"
                                    @on-complete="handleOnComplete($event)"
                                    />
                            </div>

                            <vue-countdown v-if="counting" :time="60000" @end="onCountdownEnd" v-slot="{ totalSeconds }">
                                <div class="d-block my-3 text-center">Mohon tunggu {{ totalSeconds }} detik untuk mengirim ulang</div>
                            </vue-countdown>

                            <div class="mb-3" v-else>
                                <label class="label-form" for="">Nomor Telepon</label>
                                <input autocomplete="off" type="text" v-model="user.phone" class="__form-control form-control" placeholder="Masukkan nomor whatsapp">
                            </div>
                        </template>

                        <div :class="`d-flex align-items-center justify-content-end`">
                            <router-link v-if="!loginWhatsapp" class="__text-primary" to="/reset-password">Lupa Password?</router-link>
                        </div>

                        <button type="submit" :class="`btn __btn-primary w-100 py-3 mt-3`" :disabled="!isOTPInput && (loading || !user.email || !user.password)">
                            <div class="d-flex gap-3 align-items-center justify-content-center">
                                <span v-text="`${!loginWhatsapp ? 'Masuk' : 'Berikutnya'}`"></span>
                                <div class="spinner-border"  role="status" v-if="loading"></div>
                            </div>
                        </button>
                    </form>

                    <template v-if="!isOTPInput">
                        <div class="d-flex justify-content-center">
                            <div v-if="!loginWhatsapp" @click="loginWhatsapp = !loginWhatsapp" class="btn btn-outline-success w-100 py-3 mt-3 d-flex align-self-center gap-2 justify-content-center">
                                <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="24" height="24" viewBox="0 0 48 48" style=" fill:#FFFFFF;">
                                    <path fill="#fff" d="M4.868,43.303l2.694-9.835C5.9,30.59,5.026,27.324,5.027,23.979C5.032,13.514,13.548,5,24.014,5c5.079,0.002,9.845,1.979,13.43,5.566c3.584,3.588,5.558,8.356,5.556,13.428c-0.004,10.465-8.522,18.98-18.986,18.98c-0.001,0,0,0,0,0h-0.008c-3.177-0.001-6.3-0.798-9.073-2.311L4.868,43.303z"></path>
                                    <path fill="#fff" d="M4.868,43.803c-0.132,0-0.26-0.052-0.355-0.148c-0.125-0.127-0.174-0.312-0.127-0.483l2.639-9.636c-1.636-2.906-2.499-6.206-2.497-9.556C4.532,13.238,13.273,4.5,24.014,4.5c5.21,0.002,10.105,2.031,13.784,5.713c3.679,3.683,5.704,8.577,5.702,13.781c-0.004,10.741-8.746,19.48-19.486,19.48c-3.189-0.001-6.344-0.788-9.144-2.277l-9.875,2.589C4.953,43.798,4.911,43.803,4.868,43.803z"></path>
                                    <path fill="#cfd8dc" d="M24.014,5c5.079,0.002,9.845,1.979,13.43,5.566c3.584,3.588,5.558,8.356,5.556,13.428c-0.004,10.465-8.522,18.98-18.986,18.98h-0.008c-3.177-0.001-6.3-0.798-9.073-2.311L4.868,43.303l2.694-9.835C5.9,30.59,5.026,27.324,5.027,23.979C5.032,13.514,13.548,5,24.014,5 M24.014,42.974C24.014,42.974,24.014,42.974,24.014,42.974C24.014,42.974,24.014,42.974,24.014,42.974 M24.014,42.974C24.014,42.974,24.014,42.974,24.014,42.974C24.014,42.974,24.014,42.974,24.014,42.974 M24.014,4C24.014,4,24.014,4,24.014,4C12.998,4,4.032,12.962,4.027,23.979c-0.001,3.367,0.849,6.685,2.461,9.622l-2.585,9.439c-0.094,0.345,0.002,0.713,0.254,0.967c0.19,0.192,0.447,0.297,0.711,0.297c0.085,0,0.17-0.011,0.254-0.033l9.687-2.54c2.828,1.468,5.998,2.243,9.197,2.244c11.024,0,19.99-8.963,19.995-19.98c0.002-5.339-2.075-10.359-5.848-14.135C34.378,6.083,29.357,4.002,24.014,4L24.014,4z"></path>
                                    <path fill="#40c351" d="M35.176,12.832c-2.98-2.982-6.941-4.625-11.157-4.626c-8.704,0-15.783,7.076-15.787,15.774c-0.001,2.981,0.833,5.883,2.413,8.396l0.376,0.597l-1.595,5.821l5.973-1.566l0.577,0.342c2.422,1.438,5.2,2.198,8.032,2.199h0.006c8.698,0,15.777-7.077,15.78-15.776C39.795,19.778,38.156,15.814,35.176,12.832z"></path>
                                    <path fill="#fff" fill-rule="evenodd" d="M19.268,16.045c-0.355-0.79-0.729-0.806-1.068-0.82c-0.277-0.012-0.593-0.011-0.909-0.011c-0.316,0-0.83,0.119-1.265,0.594c-0.435,0.475-1.661,1.622-1.661,3.956c0,2.334,1.7,4.59,1.937,4.906c0.237,0.316,3.282,5.259,8.104,7.161c4.007,1.58,4.823,1.266,5.693,1.187c0.87-0.079,2.807-1.147,3.202-2.255c0.395-1.108,0.395-2.057,0.277-2.255c-0.119-0.198-0.435-0.316-0.909-0.554s-2.807-1.385-3.242-1.543c-0.435-0.158-0.751-0.237-1.068,0.238c-0.316,0.474-1.225,1.543-1.502,1.859c-0.277,0.317-0.554,0.357-1.028,0.119c-0.474-0.238-2.002-0.738-3.815-2.354c-1.41-1.257-2.362-2.81-2.639-3.285c-0.277-0.474-0.03-0.731,0.208-0.968c0.213-0.213,0.474-0.554,0.712-0.831c0.237-0.277,0.316-0.475,0.474-0.791c0.158-0.317,0.079-0.594-0.04-0.831C20.612,19.329,19.69,16.983,19.268,16.045z" clip-rule="evenodd"></path>
                                </svg>

                                Masuk Menggunakan Whatsapp
                            </div>
                            <div v-else @click="loginWhatsapp = !loginWhatsapp" class="btn __btn-outline-primary w-100 py-3 mt-3 d-flex align-self-center gap-2 justify-content-center">
                                Masuk Menggunakan Email
                            </div>
                        </div>
                    </template>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import axios from 'axios'

import Navbar from '@/v2/components/Navbar.vue';
import VOtpInput from 'vue3-otp-input';
import VueCountdown from '@chenfengyuan/vue-countdown';

export default {
    name: 'login',
    components: {
        Navbar,
        VOtpInput,
        VueCountdown,
    },

    data() {
        return {
            loading: false,
            loader: null,
            loggedIn: localStorage.getItem("loggedIn"),
            role: "",
            loginWhatsapp: false,
            isOTPInput: false,
            user: {
                phone: "",
                email: "",
                password: "",
            },
            password: {
                type: 'password',
                icon: 'fa-eye'
            },
            otpInput: false,
            counting: false,
        };
    },

    methods: {
        handleOnComplete(value) {
            this.otpInput = value
        },

        handleOnChange(value) {
            this.otpInput = value
        },

        changePasswordType() {
            this.password.type = this.password.type === 'password' ? 'text' : 'password'
            this.password.icon = this.password.icon === 'fa-eye' ? 'fa-eye-slash' : 'fa-eye'
        },

        submit() {
            this.loading = true
            this.loader = this.$loading.show()
            axios.get('/sanctum/csrf-cookie').then(response => {
                if(this.loginWhatsapp) {
                    this.loading = false

                    if(this.isOTPInput) {
                        return this.submitValidasiLoginWhatsapp()
                    }

                    this.loader.hide()
                    const imgSuccess = require("@/v2/assets/images/success/mailbox-rafiki.png");
                    return this.$swal({
                      confirmButtonText: "Kirim",
                      customClass: {
                        actions: "w-100",
                        confirmButton: "btn __btn-primary w-100 mx-5 py-3 mt-3 mb-3",
                      },
                      html: `
                          <img src="${imgSuccess}" />
                          <div class="text-dark fw-bold fs-4">Kode Verifikasi</div>
                          <div class="text-muted mt-3">Kamu akan menerima kode verifikasi (OTP) WhatsApp yang akan dikirimkan ke <br><strong>${this.user.phone}</strong></div>
                      `,
                    }).then(() => {
                      return this.submitLoginWhatsapp()
                    });
                }

                return this.submitLoginEmailPassword()
            });
        },

        savedLoginData(data) {
            this.role = data.user.role;
            localStorage.setItem("token", data.token);
            localStorage.setItem("loggedIn", true);
            localStorage.setItem("loggedInLKPP", false);
            localStorage.setItem("user_role", data.user.role);
            localStorage.setItem("user_id", data.user.id);
        },

        submitLoginEmailPassword() {
            axios.post("/api/v1/auth/login", {
                email: this.user.email,
                password: this.user.password,
            }).then(resp => {
                let timerInterval
                this.loading = false;
                this.loggedIn = true;

                this.savedLoginData(resp.data);

                this.loader.hide()

                if (this.role == 'Pemasok' || this.role === 'Penjual') {
                    location.href = '/dashboard';
                } else {
                    location.href = '/';
                }
            }).catch(err => {
                this.loading = false;
                this.loader.hide()
                this.$swal({
                    icon: 'error',
                    title: err.response.data.message
                })
            })
        },

        submitLoginWhatsapp() {
            this.isOTPInput = false
            this.otpInput = false
            this.loader = this.$loading.show()
            axios.post("/api/v1/auth/login-whatsapp", {
                phone: this.user.phone,
            }).then(resp => {
                this.isOTPInput = true;
                this.onCountdownEnd();
                this.startCountdown();
                this.loader.hide()
            }).catch(err => {
                this.loading = false;
                this.loader.hide()
                const imgError = require("@/v2/assets/images/error/validation-error.png");
                return this.$swal({
                    confirmButtonText: "Kirim Ulang",
                    customClass: {
                    actions: "w-100",
                    confirmButton: "btn __btn-primary w-100 mx-5 py-3 mt-3 mb-3",
                    },
                    html: `
                        <img src="${imgError}" />
                        <div class="text-dark fw-bold fs-4">Kode Verifikasi Salah</div>
                        <div class="text-muted mt-3">Kode verifikasi anda salah, mohon pastikan kode verifikasi yang telah dikirim benar</div>
                    `,
                }).then(() => {
                    return this.submitLoginWhatsapp()
                });
            })
        },

        submitValidasiLoginWhatsapp() {
            axios.post("/api/v1/auth/login-validate", {
                otp: this.otpInput,
                phone: this.user.phone,
            }).then(resp => {
                let timerInterval
                this.loading = false;
                this.loggedIn = true;

                this.savedLoginData(resp.data);

                this.loader.hide()

                if (this.role == 'Pemasok' || this.role === 'Penjual') {
                    location.href = '/dashboard';
                } else {
                    location.href = '/';
                }
            }).catch(err => {
                this.loading = false;

                this.loader.hide()
                const imgError = require("@/v2/assets/images/error/validation-error.png");
                return this.$swal({
                    confirmButtonText: "Kirim Ulang",
                    customClass: {
                        actions: "w-100",
                        confirmButton: "btn __btn-primary w-100 mx-5 py-3 mt-3 mb-3",
                    },
                    html: `
                        <img src="${imgError}" />
                        <div class="text-dark fw-bold fs-4">Kode Verifikasi Salah</div>
                        <div class="text-muted mt-3">Kode verifikasi anda salah, mohon pastikan kode verifikasi yang telah dikirim benar</div>
                    `,
                }).then(() => {
                    return this.submitLoginWhatsapp()
                });
            })
        },

        startCountdown() {
            this.counting = true;
        },

        onCountdownEnd() {
            this.counting = false;
        },
    },

    mounted() {
        if (this.loggedIn) {
            return this.$router.push({ path: "/" });
        }
    },
}
</script>

<style>
.otp-input {
  width: 60px;
  height: 60px;
  padding: 10px;
  margin: 0 10px;
  font-size: 20px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  text-align: center;
}
/* Background colour of an input field with value */
.otp-input.is-complete {
  background-color: #e4e4e4;
}
.otp-input::-webkit-inner-spin-button,
.otp-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input::placeholder {
  font-size: 15px;
  text-align: center;
  font-weight: 600;
}
</style>

<style scoped>

.bg-auth {
    padding-top: 150px;
    margin-top: -100px;
}

.form-auth {
    padding-top: 50px;
    width: 65%;
}

.form-auth-row {
    width: 90%;
    margin: 2rem auto;
}

.bg-auth {
    width: 35%;
    min-height: 100vh;
    background: rgba(245, 245, 251, 1);
}

.auth-description {
    padding: 0 4rem;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;

    text-align: center;
    color: #8B95A5;
}

.label-form,
.auth-description {
    color: #8B95A5;
}

.form-title {
    font-weight: bold;
}

</style>
