<template>
  <Navbar />

  <div class="container-fluid d-flex">
    <div class="bg-auth d-flex flex-column align-items-center">
      <a href="/">
        <img :src="require('@/v2/assets/images/logo.svg')" />
      </a>

      <img :src="require('@/v2/assets/images/auth/register.png')" />

      <div class="auth-description">
        beliumkm merupakan ritel daring yang bertujuan untuk melayani kebutuhan belanja
        barang/jasa dari instansi pemerintah selaku pihak pembeli dengan melibatkan pelaku
        usaha mikro dan kecil selaku pihak pemasok.
      </div>
    </div>

    <div class="form-auth">
      <template v-if="page !== 3">
        <div class="fs-2 fw-bold mt-2 text-center">Daftar Sebagai Pemasok</div>
        <div class="auth-description w-75 mx-auto">
          Mohon melengkapi data berikut ini untuk mengajukan permohonan sebagai pemasok di
          situs beliumkm.co.id
        </div>
      </template>
      <template v-else>
        <div class="fs-2 fw-bold mt-2 text-center">Pendaftaran Berhasil</div>
        <div class="auth-description w-75 mx-auto">
          Selamat anda telah berhasil mendaftarkan akun anda. Login untuk menelusuri
          produk dan toko beliumkm.co.id
        </div>
      </template>

      <div class="form-auth-row row justify-content-center tab" v-if="page === 0">
        <div class="col-lg-6 mb-3">
          <div>
            <label class="label-form" for="">Nama Pendaftar</label>
            <input
              v-model="user.nama_lengkap"
              type="text"
              class="text-dark __form-control form-control rounded"
              placeholder="Ketik nama lengkap pendaftar"
              required
            />
            <div class="invalid-feedback">Nama Pendaftar wajib diisi!</div>
          </div>
        </div>

        <div class="col-lg-6 mb-3">
          <div>
            <label class="label-form" for="">Jabatan</label>
            <select
              v-model="user.jabatan"
              id=""
              class="text-dark __form-control rounded form-select"
              required
            >
              <option value="Pemilik">Pemilik</option>
              <option value="Penanggung Jawab">Penanggung Jawab</option>
            </select>
            <div class="invalid-feedback">Jabatan wajib diisi!</div>
          </div>
        </div>

        <div class="col-lg-6 mb-3">
          <div>
            <label class="label-form" for="">Nama Usaha</label>
            <input
              v-model="user.nama_usaha"
              type="text"
              class="text-dark __form-control form-control rounded"
              placeholder="Ketik nama usaha"
              required
            />
            <div class="invalid-feedback">Nama Usaha wajib diisi!</div>
          </div>
        </div>

        <div class="col-lg-6 mb-3">
          <div>
            <label class="label-form" for="">Status Usaha</label>
            <select
              v-model="user.status_usaha"
              id=""
              class="text-dark __form-control rounded form-select"
              required
            >
              <option value="Perorangan">Perorangan</option>
              <option value="Usaha Mikro">Usaha Mikro</option>
              <option value="Usaha Kecil">Usaha Kecil</option>
            </select>
            <div class="invalid-feedback">Status Usaha wajib diisi!</div>
          </div>
        </div>

        <div class="col-lg-6 mb-3">
          <div>
            <label class="label-form" for="">Telepon ( Whatsapp )</label>
            <input
              v-model="user.telepon"
              type="text"
              class="text-dark __form-control form-control rounded"
              placeholder="Ketik no telepon"
              required
            />
            <div class="invalid-feedback">Telepon ( Whatsapp ) wajib diisi!</div>
          </div>
        </div>

        <div class="col-lg-6 mb-3">
          <div>
            <label class="label-form" for="">Email</label>
            <input
              type="email"
              v-model="user.email"
              class="text-dark __form-control form-control rounded"
              placeholder="Ketik email"
              required
            />
            <div class="invalid-feedback">Email wajib diisi!</div>
          </div>
        </div>

        <div class="col-lg-12 mt-4">
          <button
            type="button"
            @click.prevent="goToPage(1)"
            class="btn __btn-primary w-100 py-2"
            :disabled="loading"
          >
            <div class="d-flex gap-3 align-items-center justify-content-center">
              <span>Selanjutnya</span>
              <div class="spinner-border" role="status" v-if="loading"></div>
            </div>
          </button>
        </div>
      </div>

      <div class="form-auth-row row justify-content-center tab" v-if="page === 1">
        <div class="col-lg-12 mb-3 d-flex justify-content-between align-items-end">
          <h6 class="form-title">Informasi Pembayaran</h6>
          <a href="https://bukatabungan.bankraya.co.id/#/landing-raya" target="_blank" class="btn __btn-outline-primary d-flex gap-2 align-items-center">
            Buat Rekening Gratis
            <img width="60" :src="require('@/v2/assets/images/payment-logo/bank_raya_logo.png')" alt="">
          </a>
        </div>

        <div class="col-lg-6 mb-3">
          <div>
            <label class="label-form" for="">Nomor Rekening</label>
            <input
              v-model="user.no_rekening"
              type="text"
              class="text-dark __form-control form-control"
              placeholder="Ketik nomor rekening"
              required
            />
          </div>
          <div class="invalid-feedback">Nomor Rekening wajib diisi!</div>
        </div>

        <div class="col-lg-6 mb-3">
          <div>
            <label class="label-form" for="">Nama Pemilik Rekening</label>
            <input
              v-model="user.nama_pemilik"
              type="text"
              class="text-dark __form-control form-control"
              placeholder="Ketik nama pemilik rekening"
              required
            />
          </div>
          <div class="invalid-feedback">Nama Pemiik Rekening wajib diisi!</div>
        </div>

        <div class="col-lg-12 mb-3">
          <div>
            <label class="label-form" for="">Nama Bank</label>
            <input
              v-model="user.nama_bank"
              type="text"
              class="text-dark __form-control form-control"
              placeholder="Ketik nama bank"
              required
            />
            <div class="invalid-feedback">Nama Bank wajib diisi!</div>
          </div>
        </div>

        <div class="col-lg-12 mb-3">
          <h6 class="form-title mt-3">Informasi Pengiriman</h6>
        </div>

        <div class="col-lg-12 mb-3">
          <div>
            <label class="label-form" for="">Alamat Lengkap</label>
            <textarea
              v-model="user.alamat"
              rows="4"
              class="text-dark __form-control form-control"
              placeholder="Ketik alamat lengkap"
            ></textarea>
            <div class="invalid-feedback">Alamat Lengkap wajib diisi!</div>
          </div>
        </div>

        <div class="col-lg-6 mb-3">
          <div>
            <label class="label-form" for="">Provinsi</label>
            <select
              v-model="user.province_id"
              class="text-dark __form-control form-control form-select"
              @change="getCity"
              required
            >
              <option
                :value="item.id"
                v-for="item in collection.provinces"
                v-bind:key="item.id"
              >
                {{ item.name }}
              </option>
            </select>
            <div class="invalid-feedback">Provinsi wajib diisi!</div>
          </div>
        </div>

        <div class="col-lg-6 mb-3">
          <div>
            <label class="label-form" for="">Kabupaten/Kota</label>
            <select
              @change="getSuburb"
              v-model="user.city_id"
              id=""
              class="text-dark __form-control form-control form-select"
              required
            >
              <option
                :value="item.id"
                v-for="item in collection.cities"
                v-bind:key="item.id"
              >
                {{ item.name }}
              </option>
            </select>
            <div class="invalid-feedback">Kabupaten atau Kota wajib diisi!</div>
          </div>
        </div>

        <div class="col-lg-6 mb-3">
          <div>
            <label class="label-form" for="">Kecamatan</label>
            <select
              @change="getArea"
              v-model="user.suburb_id"
              id=""
              class="text-dark __form-control form-control form-select"
              required
            >
              <option
                :value="item.id"
                v-for="item in collection.suburbs"
                v-bind:key="item.id"
              >
                {{ item.name }}
              </option>
            </select>
            <div class="invalid-feedback">Kecamatan wajib diisi!</div>
          </div>
        </div>

        <div class="col-lg-6 mb-3">
          <div>
            <label class="label-form" for="">Kelurahan/Desa</label>
            <select
              v-model="user.area_id"
              id=""
              class="text-dark __form-control form-control form-select"
              required
            >
              <option
                :value="item.id"
                v-for="item in collection.areas"
                v-bind:key="item.id"
              >
                {{ item.name }}
              </option>
            </select>
            <div class="invalid-feedback">Kelurahan/Desa wajib diisi!</div>
          </div>
        </div>

        <div class="col-lg-6 mb-3">
          <div>
            <label class="label-form" for="">Kode Pos</label>
            <input
              autocomplete="disabled"
              @keyup="getCoordinates"
              v-model="user.kodepos"
              type="number"
              class="text-dark __form-control form-control"
              placeholder="Ketik kode pos"
              required
            />
            <div class="invalid-feedback">Kode Pos wajib diisi!</div>
          </div>
        </div>

        <div class="col-lg-6 mb-3">
          <label
            class="label-form"
            v-text="states.getCoordinates ? 'Memuat Data...' : 'Titik Koordinat'"
          />
          <input
            autocomplete="disabled"
            @keyup="getCoordinates"
            v-model="parsing_coordinates"
            type="text"
            class="text-dark __form-control form-control"
            placeholder="Titik Koordinat"
            required
          />
        </div>

        <div class="col-lg-12 mb-3">
          <GMapAutocomplete
            class="form-control __form-control mb-2"
            placeholder="Cari alamat..."
            @place_changed="setPlace"
          ></GMapAutocomplete>
          <GMapMap
            ref="mapRef"
            style="width: 100%; height: 500px"
            :center="user.coordinates"
            :zoom="15"
          >
            <GMapMarker
              :position="user.coordinates"
              :draggable="true"
              :clickable="true"
              @dragend="updateLocation"
            />
          </GMapMap>
        </div>

        <div class="col-lg-6 mt-4">
          <button
            type="button"
            @click.prevent="goToPage(0)"
            class="btn __btn-outline-primary w-100"
            :disabled="loading"
          >
            <div class="d-flex gap-3 align-items-center justify-content-center">
              <span>Sebelumnya</span>
              <div class="spinner-border" role="status" v-if="loading"></div>
            </div>
          </button>
        </div>

        <div class="col-lg-6 mt-4">
          <button
            type="button"
            @click.prevent="goToPage(2)"
            class="btn __btn-primary w-100"
            :disabled="loading"
          >
            <div class="d-flex gap-3 align-items-center justify-content-center">
              <span>Selanjutnya</span>
              <div class="spinner-border" role="status" v-if="loading"></div>
            </div>
          </button>
        </div>
      </div>

      <div class="form-auth-row row justify-content-center tab" v-if="page === 2">
        <div class="col-lg-12 mb-3">
          <h6 class="form-title">Dokumen Pemasok</h6>
        </div>

        <div class="col-lg-6 mb-3">
          <div>
            <label class="label-form" for="">Upload KTP Pendaftar</label>
            <input
              type="file"
              accept=".png,.jpeg,.jpg"
              class="text-dark __form-control form-control"
              placeholder="Ketik nama lengkap pendaftar"
              @change="changeKtp($event)"
              required
            />
            <small class="d-block label-form">(format jpeg/jpg/png max 10 mb)</small>
            <div class="invalid-feedback">KTP Pendaftar wajib diisi!</div>

            <div class="mt-3" v-if="ktp_pendaftar_source">
              <img
                width="120"
                height="50"
                :src="ktp_pendaftar_source"
                style="object-fit: contain"
              />
            </div>
          </div>
        </div>

        <div class="col-lg-6 mb-3">
          <div>
            <label class="label-form" for="">Upload Foto / Logo Usaha</label>
            <input
              type="file"
              accept=".png,.jpeg,.jpg"
              class="text-dark __form-control form-control"
              placeholder="Ketik nama lengkap pendaftar"
              @change="changeLogo($event)"
              required
            />
            <small class="d-block label-form">(format jpeg/jpg/png max 10 mb)</small>
            <div class="invalid-feedback">Foto / Logo Usaha Pendaftar wajib diisi!</div>

            <div class="mt-3" v-if="logo_usaha_source">
              <img
                width="120"
                height="50"
                :src="logo_usaha_source"
                style="object-fit: contain"
              />
            </div>
          </div>
        </div>

        <div class="col-lg-6 mb-3">
          <div>
            <label class="label-form" for="">Upload NIB (Badan Usaha/Perorangan)</label>
            <input
              type="file"
              accept=".png,.jpeg,.jpg"
              class="text-dark __form-control form-control"
              placeholder="Ketik nama lengkap pendaftar"
              @change="changeNib($event)"
              required
            />
            <small class="d-block label-form">(format jpeg/jpg/png max 10 mb)</small>
            <div class="invalid-feedback">NIB (Badan Usaha/Perorangan) wajib diisi!</div>

            <div class="mt-3" v-if="nib_source">
              <img
                width="120"
                height="50"
                :src="nib_source"
                style="object-fit: contain"
              />
            </div>
          </div>
        </div>

        <div class="col-lg-6 mb-3">
          <div>
            <label class="label-form" for="">Upload NPWP</label>
            <input
              type="file"
              accept=".png,.jpeg,.jpg"
              class="text-dark __form-control form-control"
              placeholder="Ketik nama lengkap pendaftar"
              @change="changeNpwp($event)"
              required
            />
            <small class="d-block label-form">(format jpeg/jpg/png max 10 mb)</small>
            <div class="invalid-feedback">NPWP Pendaftar wajib diisi!</div>

            <div class="mt-3" v-if="npwp_source">
              <img
                width="120"
                height="50"
                :src="npwp_source"
                style="object-fit: contain"
              />
            </div>
          </div>
        </div>

        <div class="col-lg-6 mb-3">
          <div>
            <label class="label-form" for="">Kata Sandi</label>
            <div class="position-relative">
              <input
                v-model="user.pasword"
                :type="password.type"
                class="text-dark __form-control form-control"
                placeholder="Ketik kata sandi"
                required
              />
              <i
                @click.prevent="changePasswordType('password')"
                :class="`fas ${password.icon} cursor-pointer text-muted position-absolute top-50 end-0 translate-middle me-2`"
              ></i>
            </div>
            <div class="invalid-feedback">Kata Sandi wajib diisi!</div>
          </div>
        </div>

        <div class="col-lg-6 mb-3">
          <div>
            <label class="label-form" for="">Konfirmasi Kata Sandi</label>
            <div class="position-relative">
              <input
                v-model="user.password_confirmation"
                :type="confirm_password.type"
                class="text-dark __form-control form-control"
                placeholder="Ketik ulang kata sandi"
                required
              />
              <i
                @click.prevent="changePasswordType('confirm_password')"
                :class="`fas ${confirm_password.icon} cursor-pointer text-muted position-absolute top-50 end-0 translate-middle me-2`"
              ></i>
            </div>
            <div class="invalid-feedback">Konfirmasi Kata Sandi wajib diisi!</div>
          </div>
        </div>

        <div class="col-lg-12 mb-3">
          <div class="form-check d-flex align-items-center gap-3">
            <input
              class="form-check-input"
              type="checkbox"
              value="1"
              v-model="setuju"
              id="flexCheckDefault"
            />
            <label class="form-check-label" for="flexCheckDefault">
              Saya menyetujui
              <a
                href="https://drive.google.com/file/d/1JwDtl8pquP7LPtZUtUZwitUhdFokDZKg/view?usp=share_link"
                target="_blank"
                style="color: var(--primary-color)"
                >Syarat dan Ketentuan</a
              >
              serta
              <a
                target="_blank"
                href="https://drive.google.com/file/d/1xMj9TC0mB6E8YpVLHkuyYJ6yb46i3-kb/view?usp=share_link"
                style="color: var(--primary-color)"
                >Kebijakan Privasi</a
              >
            </label>
          </div>
        </div>

        <div class="col-lg-6 mt-4">
          <button
            type="button"
            @click.prevent="goToPage(1)"
            class="btn __btn-outline-primary w-100"
            :disabled="loading"
          >
            <div class="d-flex gap-3 align-items-center justify-content-center">
              <span>Sebelumnya</span>
              <div class="spinner-border" role="status" v-if="loading"></div>
            </div>
          </button>
        </div>

        <div class="col-lg-6 mt-4">
          <button
            type="button"
            @click.prevent="submit"
            class="btn __btn-primary w-100"
            :disabled="loading || setuju != '1'"
          >
            <div class="d-flex gap-3 align-items-center justify-content-center">
              <span>Daftar</span>
              <div class="spinner-border" role="status" v-if="loading"></div>
            </div>
          </button>
        </div>
      </div>

      <div class="form-auth-row row justify-content-center tab" v-if="page === 3">
        <div class="col-lg-12 mb-5 mt-3">
          <h6 class="fs-5" style="font-weight: 700; text-align: center">
            Berhasil Mendaftar
          </h6>
        </div>

        <div class="col-lg-4">
          <img
            :src="require('@/assets/images/icon/success-icon.svg')"
            class="img-fluid"
          />
        </div>

        <div class="col-lg-12 my-5 align-center w-75">
          <div class="auth-description">
            Nanti akan kami informasikan melalui email setelah pendaftaran Anda diterima
          </div>
        </div>

        <div class="col-lg-5 mb-5">
          <router-link to="/" class="btn __btn-primary w-100">
            <span>Kembali Ke Beranda</span>
          </router-link>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";

import Navbar from "@/v2/components/Navbar.vue";
import { GoogleMap, Marker } from "vue3-google-map";

export default {
  components: {
    Navbar,
    GoogleMap,
    Marker,
  },
  data() {
    return {
      loading: false,
      collection: {
        provinces: [],
        cities: [],
        suburbs: [],
        areas: [],
      },
      page: 0,
      password: {
        type: "password",
        icon: "fa-eye",
      },
      confirm_password: {
        type: "password",
        icon: "fa-eye",
      },
      setuju: "",
      provinsi: [],
      city: [],
      user: {
        email: "",
        nama_lengkap: "",
        pasword: "",
        password_confirmation: "",
        role: "Penjual",
        jabatan: "",
        nama_usaha: "",
        status_usaha: "",
        alamat: "",
        province_id: "",
        city_id: "",
        suburb_id: null,
        area_id: null,
        kodepos: "",
        no_rekening: "",
        nama_pemilik: "",
        nama_bank: "",
        telepon: "",
        ktp_pendaftar: "",
        logo_usaha: "",
        coordinates: { lat: -6.2297465, lng: 106.829518 },
        no_npwp: "",
      },
      logo_usaha: null,
      ktp_pendaftar: null,
      npwp: null,
      nib: null,
      logo_usaha_source: null,
      ktp_pendaftar_source: null,
      npwp_source: null,
      nib_source: null,
      states: {
        getCoordinates: false,
      },
      parsing_coordinates: "",
    };
  },
  mounted() {
    this.getProvinces();
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(this.setLocation);
    } else {
      alert(
        "It seems like Geolocation, which is required for this page, is not enabled in your browser. Please use a browser which supports it."
      );
    }
  },
  methods: {
    changePasswordType(model) {
      if (model === "password") {
        this.password.type = this.password.type === "password" ? "text" : "password";
        this.password.icon = this.password.icon === "fa-eye" ? "fa-eye-slash" : "fa-eye";
        return;
      }

      this.confirm_password.type =
        this.confirm_password.type === "password" ? "text" : "password";
      this.confirm_password.icon =
        this.confirm_password.icon === "fa-eye" ? "fa-eye-slash" : "fa-eye";
    },
    validateForm() {
      var x,
        y,
        i,
        z,
        t,
        valid = true;
      x = document.getElementsByClassName("tab");
      y = x[0].getElementsByTagName("input");
      z = x[0].getElementsByTagName("select");
      t = x[0].getElementsByTagName("textarea");
      for (i = 0; i < z.length; i++) {
        if (z[i].value === "" && z[i].hasAttribute("required")) {
          z[i].className += " invalid is-invalid";
          valid = false;
        } else {
          z[i].classList.remove("invalid");
          z[i].classList.remove("is-invalid");
        }
      }
      for (i = 0; i < t.length; i++) {
        if (t[i].value === "" && t[i].hasAttribute("required")) {
          t[i].className += " invalid is-invalid";
          valid = false;
        } else {
          t[i].classList.remove("invalid");
          t[i].classList.remove("is-invalid");
        }
      }
      // if (((Date.now() - Bday) / (31557600000)) < 18)
      for (i = 0; i < y.length; i++) {
        if (y[i].value === "" && y[i].hasAttribute("required")) {
          y[i].className += " invalid is-invalid";
          valid = false;
        } else {
          y[i].classList.remove("invalid");
          y[i].classList.remove("is-invalid");
        }
      }
      return valid;
    },
    goToPage(page) {
      if (this.page > page) this.page = page;
      if (!this.validateForm()) return false;
      this.page = page;
    },
    //mengambil data provinsi dari shipper
    getProvinces() {
      axios.get("/api/v1/shipper/provinces").then((res) => {
        this.collection.provinces = res.data;
      });
    },
    //mengambil data kota berdasar provinsi yang dipilih pengguna dari shipper
    getCity() {
      this.user.city_id = null;
      this.user.suburb_id = null;
      this.user.area_id = null;
      axios
        .get("/api/v1/shipper/province/" + this.user.province_id + "/cities")
        .then((res) => {
          this.collection.cities = res.data;
        });
    },
    //mengambil data kecamatan berdasar kota yang dipilih pengguna dari shipper
    getSuburb() {
      this.user.suburb_id = null;
      this.user.area_id = null;
      axios.get("/api/v1/shipper/city/" + this.user.city_id + "/suburbs").then((res) => {
        this.collection.suburbs = res.data;
      });
    },
    //mengambil data kelurahan berdasar kecamatan yang dipilih pengguna dari shipper
    getArea() {
      this.user.area_id = null;
      axios
        .get("/api/v1/shipper/suburb/" + this.user.suburb_id + "/areas")
        .then((res) => {
          this.collection.areas = res.data;
        });
    },
    changeLogo(event) {
      this.logo_usaha = event.target.files[0];
      this.logo_usaha_source = URL.createObjectURL(event.target.files[0]);
    },
    changeKtp(event) {
      this.ktp_pendaftar = event.target.files[0];
      this.ktp_pendaftar_source = URL.createObjectURL(event.target.files[0]);
    },
    changeNpwp(event) {
      this.npwp = event.target.files[0];
      this.npwp_source = URL.createObjectURL(event.target.files[0]);
    },
    changeNib(event) {
      this.nib = event.target.files[0];
      this.nib_source = URL.createObjectURL(event.target.files[0]);
    },
    formatNpwp(value) {
      return value.replace(
        /(\d{2})(\d{3})(\d{3})(\d{1})(\d{3})(\d{3})/,
        "$1.$2.$3.$4-$5.$6"
      );
    },
    async submit() {
      if (!this.validateForm()) return false;
      this.loading = true;

      if (this.logo_usaha) {
        let formData = new FormData();
        formData.append("file", this.logo_usaha);
        var logo_usaha = await axios.post("/api/upload", formData, {
          headers: {
            "Content-Type": "multipart/form-data",
          },
        });
      }

      if (this.ktp_pendaftar) {
        let formData = new FormData();
        formData.append("file", this.ktp_pendaftar);
        var ktp_pendaftar = await axios.post("/api/upload", formData, {
          headers: {
            "Content-Type": "multipart/form-data",
          },
        });
      }

      if (this.npwp) {
        let formData = new FormData();
        formData.append("file", this.npwp);
        var npwp = await axios.post("/api/upload", formData, {
          headers: {
            "Content-Type": "multipart/form-data",
          },
        });
      }

      if (this.nib) {
        let formData = new FormData();
        formData.append("file", this.nib);
        var nib = await axios.post("/api/upload", formData, {
          headers: {
            "Content-Type": "multipart/form-data",
          },
        });
      }

      const obj = JSON.stringify({
        email: this.user.email,
        nama_lengkap: this.user.nama_lengkap,
        password: this.user.pasword,
        password_confirmation: this.user.password_confirmation,
        role: "Penjual",
        jabatan: this.user.jabatan,
        nama_usaha: this.user.nama_usaha,
        status_usaha: this.user.status_usaha,
        alamat: this.user.alamat,
        province_id: this.user.province_id,
        city_id: this.user.city_id,
        suburb_id: this.user.suburb_id,
        area_id: this.user.area_id,
        kodepos: this.user.kodepos,
        no_rekening: this.user.no_rekening,
        nama_pemilik: this.user.nama_pemilik,
        nama_bank: this.user.nama_bank,
        telepon: this.user.telepon,
        ktp_pendaftar: this.ktp_pendaftar ? ktp_pendaftar.data.file_url : "",
        npwp: this.npwp ? npwp.data.file_url : "",
        nib: this.nib ? nib.data.file_url : "",
        no_npwp: this.user.no_npwp,
        logo_usaha: this.logo_usaha ? logo_usaha.data.file_url : "",
        lat: this.user.coordinates.lat,
        lng: this.user.coordinates.lng,
      });
      axios
        .post("/api/v1/auth/register", obj, {
          headers: {
            "Content-Type": "application/json",
          },
        })
        .then((resp) => {
          this.loading = false;
          return (this.page = 3);
        })
        .catch((err) => {
          this.loading = false;
          this.$swal({
            icon: "error",
            title: err.response.data.validate,
          });
        });
    },
    //mengambil lokasi koordinat setelah penanda (marker) digeser
    updateLocation(evt) {
      let lat = evt.latLng.lat();
      let lng = evt.latLng.lng();
      this.user.coordinates = { lat: lat, lng: lng };
      this.parsingCoordinates();
    },
    //mengubah lokasi penanda (marker) pada peta berdasar lokasi koordinat pengguna
    setLocation(loc) {
      let lat = loc.coords.latitude;
      let lng = loc.coords.longitude;
      this.user.coordinates = { lat: lat, lng: lng };
      this.parsingCoordinates();
    },
    setPlace(loc) {
      let lat = loc.geometry.location.lat();
      let lng = loc.geometry.location.lng();
      this.user.coordinates = { lat: lat, lng: lng };
      this.parsingCoordinates();
    },
    parsingCoordinates() {
      this.parsing_coordinates = `${this.user.coordinates.lat.toFixed(
        7
      )},${this.user.coordinates.lng.toFixed(7)}`;
    },
  },
};
</script>

<style scoped>
.bg-auth {
  padding-top: 150px;
  margin-top: -100px;
}

.form-auth {
  padding-top: 50px;
  width: 65%;
}

.form-auth-row {
  width: 90%;
  margin: 2rem auto;
}

.bg-auth {
  width: 35%;
  min-height: 100vh;
  background: rgba(245, 245, 251, 1);
}

.auth-description {
  padding: 0 4rem;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;

  text-align: center;
  color: #8b95a5;
}

.label-form,
.auth-description {
  color: #8b95a5;
}

.form-title {
  font-weight: bold;
}
</style>
