<template>
    <Navbar />

    <div class="container-fluid d-flex">
        <div class="bg-auth d-flex flex-column align-items-center">
            <a href="/">
                <img :src="require('@/v2/assets/images/logo.svg')">
            </a>

            <img :src="require('@/v2/assets/images/auth/forgot-password.png')">

            <div class="auth-description">
                <strong>BeliUMKM</strong> merupakan ritel daring yang bertujuan untuk melayani kebutuhan belanja barang/jasa dari instansi pemerintah selaku pihak pembeli dengan melibatkan pelaku usaha mikro dan kecil selaku pihak pemasok.
            </div>
        </div>

        <div class="form-auth">
            <div class="fs-2 fw-bold mt-2 text-center">Lupa Password</div>
            <div class="auth-description w-75 mx-auto">Masukan email untuk reset password</div>

            <div class="form-auth-row row justify-content-center tab">
                <div class="col-lg-7 mb-3">
                    <form @submit.prevent="submit">
                        <div class="mb-3">
                            <label class="label-form" for="">Email</label>
                            <input autocomplete="off" type="email" v-model="user.email" class="__form-control form-control" placeholder="Ketik email">
                        </div>

                        <button type="submit" class="btn __btn-primary w-100 py-2" :disabled="loading || !user.email">
                            <div class="d-flex gap-3 align-items-center justify-content-center">
                                <span>Submit</span>
                                <div class="spinner-border"  role="status" v-if="loading"></div>
                            </div>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import axios from 'axios'

import Navbar from '@/v2/components/Navbar.vue';

export default {
    name: 'login',
    components: {
        Navbar,
    },

    data() {
        return {
            loading: false,
            loggedIn: localStorage.getItem("loggedIn"),
            role: "",
            user: {
                email: "",
            }
        };
    },

    methods: {
        submit() {
            const imgSuccessSend = require('@/v2/assets/images/auth/success-send.png')
            const imgWrongEmail = require('@/v2/assets/images/auth/wrong-email.png')
            this.loading = true,
            axios.post("/api/v1/password/email", {
                email: this.user.email
            }).then((resp) => {
                this.loading = false;
                this.user.email = '';
                this.$swal({
                    confirmButtonText: 'Kembali',
                    buttonsStyling: false,
                    customClass: {
                        actions: 'w-100',
                        confirmButton: 'btn __btn-primary w-100 mx-5 py-3 mt-3 mb-3',
                    },
                    html: `
                        <img src="${imgSuccessSend}" >
                        <div class="text-dark fw-bold fs-4">Berhasil Terkirim</div>
                        <div class="text-muted mt-3">Email untuk mengubah password anda sudah berhasil dikirim, silahkan lakukan perubahan password</div>
                    `
                })
            }).catch((err) => {
                this.loading = false;
                this.$swal({
                    confirmButtonText: 'Kembali',
                    buttonsStyling: false,
                    customClass: {
                        actions: 'w-100',
                        confirmButton: 'btn __btn-primary w-100 mx-5 py-3 mt-3 mb-4',
                    },
                    html: `
                        <img src="${imgWrongEmail}">
                        <div class="text-dark fw-bold fs-4">Email Salah</div>
                        <div class="text-muted mt-3">Pastikan email yang anda masukkan sudah terdaftar pada sistem kami</div>
                    `
                })
            })
        }
    },

    mounted() {
        if (this.loggedIn) {
            return this.$router.push({ path: "/" });
        }
    },
}
</script>

<style scoped>
.bg-auth {
    padding-top: 150px;
    margin-top: -100px;
}

.form-auth {
    padding-top: 50px;
    width: 65%;
}

.form-auth-row {
    width: 90%;
    margin: 2rem auto;
}

.bg-auth {
    width: 35%;
    min-height: 100vh;
    background: rgba(245, 245, 251, 1);
}

.auth-description {
    padding: 0 4rem;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;

    text-align: center;
    color: #8B95A5;
}

.label-form,
.auth-description {
    color: #8B95A5;
}

.form-title {
    font-weight: bold;
}

</style>
