<template>
  <Navbar/>
  <div class="container my-5 py-5">


    <div class="auth-section my-4">
      <form @submit.prevent="submit">
        <div class="row justify-content-center">
          <div class="col-lg-7">
            <div v-if="page <= 2">
              <h4>Daftar Sebagai Pembeli</h4>
              <p>Mohon melengkapi data berikut ini untuk mengajukan
                permohonan
                sebagai pembeli di situs beliumkm.co.id</p>
            </div>
            <div class="row tab" v-if="page === 0">
              <div class="col-lg-12 mb-3">
                <h6>Data Pembeli</h6>

              </div>
              <div class="col-lg-6 mb-3">
                <div>
                  <label for="">Asal Pembeli</label>
                  <select v-model="user.asal" id="" class="__form-control form-control-sm form-select"
                          required>
                    <option :value="item" v-for="item in asalPembeliData" v-bind:key="item">{{
                        item
                      }}
                    </option>
                  </select>
                  <div class="invalid-feedback">
                    Asal Pembeli wajib diisi!
                  </div>
                </div>
              </div>
              <div class="col-lg-6 mb-3">
                <div>
                  <label for="">Asal Instansi</label>
                  <input v-model="user.alamat_instansi"
                         class="__form-control form-control-sm" placeholder="Ketik nama lengkap instansi"
                         required/>
                  <div class="invalid-feedback">
                    Asal Instansi wajib diisi!
                  </div>
                </div>
              </div>

              <div class="col-lg-6 mb-3">
                <div>
                  <label for="">Provinsi</label>
                  <select v-model="user.province_id"
                          class="__form-control form-control-sm form-select"
                          @change="getCity" required>
                    <option :value="item.id" v-for="item in collection.provinces" v-bind:key="item.id">
                      {{ item.name }}
                    </option>
                  </select>
                  <div class="invalid-feedback">
                    Provinsi wajib diisi!
                  </div>
                </div>
              </div>
              <div class="col-lg-6 mb-3">
                <div>
                  <label for="">Kabupaten atau Kota</label>
                  <select @change="getSuburb" v-model="user.city_id" id=""
                          class="__form-control form-control-sm form-select" required>
                    <option :value="item.id" v-for="item in collection.cities" v-bind:key="item.id">
                      {{ item.name }}
                    </option>
                  </select>
                  <div class="invalid-feedback">
                    Kabupaten atau Kota wajib diisi!
                  </div>
                </div>
              </div>
              <div class="col-lg-6 mb-3">
                <div>
                  <label for="">Kecamatan</label>
                  <select @change="getArea" v-model="user.suburb_id" id=""
                          class="__form-control form-control-sm form-select" required>
                    <option :value="item.id" v-for="item in collection.suburbs" v-bind:key="item.id">
                      {{ item.name }}
                    </option>
                  </select>
                  <div class="invalid-feedback">
                    Kabupaten atau Kota wajib diisi!
                  </div>
                </div>
              </div>
              <div class="col-lg-6 mb-3">
                <div>
                  <label for="">Kelurahan/Desa</label>
                  <select v-model="user.area_id" id=""
                          class="__form-control form-control-sm form-select" required>
                    <option :value="item.id" v-for="item in collection.areas" v-bind:key="item.id">
                      {{ item.name }}
                    </option>
                  </select>
                  <div class="invalid-feedback">
                    Kabupaten atau Kota wajib diisi!
                  </div>
                </div>
              </div>
              <div class="col-lg-6 mb-3">
                <div>
                  <label for="">Kode Pos</label>
                  <input v-model="user.kodepos" type="number" class="__form-control form-control-sm"
                         placeholder="Ketik kode pos" required>
                  <div class="invalid-feedback">
                    Kode Pos wajib diisi!
                  </div>
                </div>
              </div>
              <div class="col-lg-6 mb-3">
                <div>
                  <label for="">Telp. Instansi (Opsional)</label>
                  <input v-model="user.telp_instansi" type="number"
                         class="__form-control form-control-sm" placeholder="Ketik no telepon">
                  <div class="invalid-feedback">
                    Telepon wajib diisi!
                  </div>
                </div>
              </div>
              <div class="col-lg-12 mb-3">
                <div>
                  <label for="">Alamat Instansi</label>
                  <textarea v-model="user.alamat" rows="4" class="__form-control form-control-sm"
                            placeholder="Ketik alamat lengkap instansi yang digunakan sebagai Alamat Instansi"
                            required></textarea>
                  <div class="invalid-feedback">
                    Alamat Instansi wajib diisi!
                  </div>
                </div>
              </div>
              <div class="col-lg-12 mb-3">
                <label v-text="states.getCoordinates?'Memuat Data...':'Titik Koordinat'"/>
                <GMapAutocomplete class="form-control mb-2"
                                  placeholder="Cari alamat..."
                                  @place_changed="setPlace"
                >
                </GMapAutocomplete>
                <GMapMap ref="mapRef" style="width: 100%; height: 500px"
                         :center="user.coordinates" :zoom="15">

                  <GMapMarker
                      :position="user.coordinates"
                      :draggable="true"
                      :clickable="true"
                      @dragend="updateLocation"
                  />
                </GMapMap>
              </div>

              <div class="col-lg-12">
                <div class="row justify-content-center">
                  <div class="col-lg-4">
                    <button type="button" @click.prevent="goToPage(1)"
                            class="btn __btn-primary w-100" :disabled="loading.store">
                      <span v-if="!loading.store">Selanjutnya</span>

                      <span class="spinner-border text-light" role="status" v-else></span>
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <div class="row justify-content-center tab" v-if="page === 1">
              <div class="col-lg-12 mb-3">
                <h6>Manajemen Akun</h6>

              </div>
              <div class="col-lg-6 mb-3">
                <div>
                  <label for="">Nama Lengkap</label>
                  <input v-model="user.nama_lengkap" type="text"
                         class="__form-control form-control-sm" placeholder="Ketik Nama Lengkap"
                         required>
                </div>
                <div class="invalid-feedback">
                  Nama Lengkap wajib diisi!
                </div>
              </div>

              <div class="col-lg-6 mb-3">
                <div>
                  <label for="">Jabatan</label>
                  <input v-model="user.jabatan" type="text" class="__form-control form-control-sm"
                         placeholder="Ketik Jabatan" required>
                </div>
                <div class="invalid-feedback">
                  Jabatan wajib diisi!
                </div>
              </div>

              <div class="col-lg-6 mb-3">
                <div>
                  <label for="">Nomor Telepon</label>
                  <input v-model="user.no_telp" type="number" class="__form-control form-control-sm"
                         placeholder="Ketik Nomor Telepon" required>
                </div>
                <div class="invalid-feedback">
                  Nomor Telepon wajib diisi!
                </div>
              </div>

              <div class="col-lg-6 mb-3">
                <div>
                  <label for="">Email</label>
                  <input v-model="user.email" type="email" class="__form-control form-control-sm"
                         placeholder="Ketik Email" required>
                </div>
                <div class="invalid-feedback">
                  Email wajib diisi!
                </div>
              </div>


              <div class="col-lg-12">
                <div class="row justify-content-center">
                  <div class="col-lg-4">
                    <button type="button" @click.prevent="goToPage(2)"
                            class="btn __btn-primary w-100" :disabled="loading.store">
                      <span v-if="!loading.store">Selanjutnya</span>
                      <span class="spinner-border text-light" role="status" v-else></span>
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <div class="row justify-content-center tab" v-if="page === 2">
              <div class="col-lg-12 mb-3">
                <h6>Dokumen Pembeli</h6>

              </div>
              <div class="col-lg-6 mb-3">
                <div>
                  <label for="">Logo (Opsional)</label>
                  <input type="file" class="__form-control form-control-sm"
                         placeholder="Ketik nama lengkap pendaftar" @change="changeLogo($event)">
                </div>
              </div>
              <div class="col-lg-6 mb-3">
                <div>
                  <label for="">NPWP Instansi</label>
                  <input type="file" class="__form-control form-control-sm"
                         placeholder="Ketik nama lengkap pendaftar" @change="changeNPWP($event)"
                         required>
                  <div class="invalid-feedback">
                    NPWP Instansi wajib diisi!
                  </div>
                </div>
              </div>

              <div class="col-lg-6 mb-3">
                <div>
                  <label for="">SK Penunjukan (Opsional)</label>
                  <input type="file" class="__form-control form-control-sm"
                         placeholder="Ketik nama lengkap pendaftar" @change="changeSK($event)">
                </div>
              </div>
              <div class="col-lg-6 mb-3">
                <div>
                  <span style="font-weight:500;color:var(--primary-color)">Format SK Penunjukan</span>
                </div>
              </div>

              <div class="col-lg-6 mb-3">
                <div>
                  <label for="">Kata Sandi</label>
                  <input v-model="user.pasword" type="password" class="__form-control form-control-sm"
                         placeholder="Ketik kata sandi" required>
                  <div class="invalid-feedback">
                    Kata Sandi wajib diisi!
                  </div>
                </div>
              </div>
              <div class="col-lg-6 mb-3">
                <div>
                  <label for="">Konfirmasi Kata Sandi</label>
                  <input v-model="user.password_confirmation" type="password"
                         class="__form-control form-control-sm" placeholder="Ketik ulang kata sandi"
                         required>
                  <div class="invalid-feedback">
                    Konfirmasi Kata Sandi wajib diisi!
                  </div>
                </div>
              </div>


              <div class="col-lg-4">
                <button type="button" @click.prevent="submit" class="btn __btn-primary w-100"
                        :disabled="loading.store">
                  <span v-if="!loading.store">Daftar</span>

                  <span class="spinner-border text-light" role="status" v-else></span>
                </button>
              </div>
            </div>

            <div class="row justify-content-center tab" v-if="page === 3">
              <div class="col-lg-12 mb-3">
                <h6 style="font-weight:700;text-align:center;">Pendaftaran Berhasil</h6>
              </div>


              <div class="col-lg-8">
                <img :src="require('@/assets/images/icon/success-icon.svg')" class="img-fluid">
                <p style="text-align:center;color:#505E6B;font-weight:300;">Nanti akan kami informasikan
                  melalui email
                  setelah pendaftaran Anda diterima</p>
              </div>

              <div class="col-lg-12">
                <div class="row justify-content-center">
                  <div class="col-lg-4">
                    <router-link to="/" class="btn __btn-primary w-100">
                      <span>Kembali Ke Beranda</span>

                    </router-link>
                  </div>
                </div>
              </div>
            </div>


          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import Navbar from '@/v2/components/Navbar.vue';

export default {
  data() {
    return {
      loading: {
        store: false,
        location: {
          getProvinces: false,
          getCities: false,
          getSuburbs: false,
          getAreas: false,
        }
      },
      collection: {
        provinces: [],
        cities: [],
        suburbs: [],
        areas: [],
      },
      page: 0,
      provinsi: [],
      city: [],
      user: {
        asal: "",
        alamat_instansi: "",
        pasword: "",
        password_confirmation: "",
        role: "Pembeli",
        jabatan: "",
        alamat: "",
        province_id: "",
        city_id: "",
        suburb_id:null,
        area_id:null,
        kodepos: "",
        telp_instansi: "",
        nama_lengkap: "",
        no_telp: "",
        email: "",
        logo: "",
        npwp: "",
        sk_penunjukan: "",
        coordinates: {lat: -6.2297465, lng: 106.829518}
      },
      logo: null,
      sk_penunjukan: null,
      npwp: null,
      asalPembeliData: ["Kementerian Lembaga Pemerintah", "Pemerintah Desa", "Pemerintah Kabupaten", "Pemerintah Kota", "Pemerintah Provinsi", "Perguruan Tinggi Negeri", "Sekolah Negeri", "POLRI", "TNI", "Institusi Pendidikan"],
      states: {
        getCoordinates: false
      }
    };
  },
  mounted() {
    this.getProvinces()
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(this.setLocation);
    } else {
      alert('It seems like Geolocation, which is required for this page, is not enabled in your browser. Please use a browser which supports it.');
    }
  },
  methods: {
    validateForm() {
      var x, y, i, z, t, valid = true;
      x = document.getElementsByClassName("tab");
      y = x[0].getElementsByTagName("input");
      z = x[0].getElementsByTagName("select");
      t = x[0].getElementsByTagName("textarea");
      for (i = 0; i < z.length; i++) {
        if (z[i].value === "" && z[i].hasAttribute("required")) {
          z[i].className += " invalid is-invalid";
          valid = false;
        } else {
          z[i].classList.remove("invalid");
          z[i].classList.remove("is-invalid");
        }
      }
      for (i = 0; i < t.length; i++) {
        if (t[i].value === "" && t[i].hasAttribute("required")) {
          t[i].className += " invalid is-invalid";
          valid = false;
        } else {
          t[i].classList.remove("invalid");
          t[i].classList.remove("is-invalid");
        }
      }
      // if (((Date.now() - Bday) / (31557600000)) < 18)
      for (i = 0; i < y.length; i++) {
        if (y[i].value === "" && y[i].hasAttribute("required")) {
          y[i].className += " invalid is-invalid";
          valid = false;
        } else {
          y[i].classList.remove("invalid");
          y[i].classList.remove("is-invalid");
        }
      }
      return valid;
    },
    goToPage(page) {
      if (this.page > page)
        this.page = page;
      if (!this.validateForm())
        return false;
      this.page = page;
    },
    //mengambil data provinsi dari shipper
    getProvinces() {
      axios.get('/api/v1/shipper/provinces').then(res => {
        this.collection.provinces = res.data
      })
    },
    //mengambil data kota berdasar provinsi yang dipilih pengguna dari shipper
    getCity() {
      this.user.city_id = null
      this.user.suburb_id = null
      this.user.area_id = null
      axios.get('/api/v1/shipper/province/'+this.user.province_id+'/cities').then(res => {
        this.collection.cities = res.data
      })
    },
    //mengambil data kecamatan berdasar kota yang dipilih pengguna dari shipper
    getSuburb() {
      this.user.suburb_id = null
      this.user.area_id = null
      axios.get('/api/v1/shipper/city/'+this.user.city_id+'/suburbs').then(res => {
        this.collection.suburbs = res.data
      })
    },
    //mengambil data kelurahan berdasar kecamatan yang dipilih pengguna dari shipper
    getArea() {
      this.user.area_id = null
      axios.get('/api/v1/shipper/suburb/'+this.user.suburb_id+'/areas').then(res => {
        this.collection.areas = res.data
      })
    },
    changeLogo(event) {
      this.logo = event.target.files[0];
    },
    changeSK(event) {
      this.sk_penunjukan = event.target.files[0];
    },
    changeNPWP(event) {
      this.npwp = event.target.files[0];
    },
    async submit() {
      this.loading.store = true;
      if (this.logo) {
        let formData = new FormData();
        formData.append("file", this.logo);
        var logo = await axios.post("/api/upload", formData, {
          headers: {
            "Content-Type": "multipart/form-data",
          }
        });
      }
      if (this.sk_penunjukan) {
        let formData = new FormData();
        formData.append("file", this.sk_penunjukan);
        var sk_penunjukan = await axios.post("/api/upload", formData, {
          headers: {
            "Content-Type": "multipart/form-data",
          }
        });
      }
      if (this.npwp) {
        let formData = new FormData();
        formData.append("file", this.npwp);
        var npwp = await axios.post("/api/upload", formData, {
          headers: {
            "Content-Type": "multipart/form-data",
          }
        });
      }
      const obj = JSON.stringify({
        email: this.user.email,
        nama_lengkap: this.user.nama_lengkap,
        password: this.user.pasword,
        password_confirmation: this.user.password_confirmation,
        alamat_instansi: this.user.alamat_instansi,
        role: "Pembeli",
        jabatan: this.user.jabatan,
        alamat: this.user.alamat,
        province_id: this.user.province_id,
        city_id: this.user.city_id,
        suburb_id: this.user.suburb_id,
        area_id: this.user.area_id,
        kodepos: this.user.kodepos,
        asal: this.user.asal,
        telp_instansi: this.user.telp_instansi,
        no_telp: this.user.no_telp,
        logo: this.logo ? logo.data.file_url : "",
        npwp_instansi: this.npwp ? npwp.data.file_url : "",
        sk_penunjukan: this.sk_penunjukan ? sk_penunjukan.data.file_url : "",
        lat: this.user.coordinates.lat,
        lng: this.user.coordinates.lng,
      });
      axios.post("/api/v1/auth/register", obj, {
        headers: {
          "Content-Type": "application/json",
        }
      }).then((resp) => {
        this.loading.store = false;
        // this.$swal({
        //     icon: 'success',
        //     title: resp.data.message,
        // });
        return this.page = 3;
      }).catch((err) => {
        this.loading.store = false;
        this.$swal({
          icon: "error",
          title: err.response.data.validate
        })
      })

    },
    //mengambil lokasi koordinat setelah penanda (marker) digeser
    updateLocation(evt) {
      let lat = evt.latLng.lat()
      let lng = evt.latLng.lng()
      this.user.coordinates = {lat: lat, lng: lng}
    },

    //mengubah lokasi penanda (marker) pada peta berdasar lokasi koordinat pengguna
    setLocation(loc) {
      let lat = loc.coords.latitude;
      let lng = loc.coords.longitude;
      this.user.coordinates = {lat: lat, lng: lng}
    },
    setPlace(loc) {
      let lat = loc.geometry.location.lat();
      let lng = loc.geometry.location.lng();
      this.user.coordinates = {lat: lat, lng: lng}
    }
  },
  components: {Navbar}
}
</script>

<style scope>
input.invalid,
select.invalid,
textarea.invalid {
  background-color: #ffdddd;
}


.invalid-feedback {
  font-size: 11px;
}
</style>
