<template>
    <Navbar />
    <div class="container  my-5 py-5">
        <div class="auth-section my-4">
            <form @submit.prevent="submit">
                <div class="row justify-content-center">
                    <div class="col-lg-7">
                        <h4>Daftar Sebagai Pemasok</h4>
                        <p>Mohon melengkapi data berikut ini untuk mengajukan
                            permohonan
                            sebagai penjual di situs beliumkm.co.id</p>

                        <div class="row justify-content-center tab" v-if="page === 0">
                            <div class="col-lg-12 mb-3">
                                <h6>Data Pemasok</h6>

                            </div>
                            <div class="col-lg-6 mb-3">
                                <div>
                                    <label for="">Nama Pendaftar</label>
                                    <input v-model="user.nama_lengkap" type="text"
                                        class="__form-control form-control-sm"
                                        placeholder="Ketik nama lengkap pendaftar" required>
                                    <div class="invalid-feedback">
                                        Nama Pendaftar wajib diisi!
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 mb-3">
                                <div>
                                    <label for="">Jabatan</label>
                                    <select v-model="user.jabatan" id=""
                                        class="__form-control form-control-sm form-select" required>
                                        <option value="Pemilik">Pemilik</option>
                                        <option value="Penanggung Jawab">Penanggung Jawab</option>
                                    </select>
                                    <div class="invalid-feedback">
                                        Jabatan wajib diisi!
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6 mb-3">
                                <div>
                                    <label for="">Nama Usaha</label>
                                    <input v-model="user.nama_usaha" type="text" class="__form-control form-control-sm"
                                        placeholder="Ketik nama usaha" required>
                                    <div class="invalid-feedback">
                                        Nama Usaha wajib diisi!
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 mb-3">
                                <div>
                                    <label for="">Status Usaha</label>
                                    <select v-model="user.status_usaha" id=""
                                        class="__form-control form-control-sm form-select" required>
                                        <option value="Perorangan">Perorangan</option>
                                        <option value="Usaha Mikro">Usaha Mikro</option>
                                        <option value="Usaha Kecil">Usaha Kecil</option>
                                    </select>
                                    <div class="invalid-feedback">
                                        Status Usaha wajib diisi!
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6 mb-3">
                                <div>
                                    <label for="">Telepon</label>
                                    <input v-model="user.telepon" type="text" class="__form-control form-control-sm" placeholder="Ketik no telepon" required>
                                    <div class="invalid-feedback">
                                        Telepon wajib diisi!
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 mb-3">
                                <div>
                                    <label for="">Email</label>
                                    <input type="email" v-model="user.email" class="__form-control form-control-sm"
                                        placeholder="Ketik email" required>
                                    <div class="invalid-feedback">
                                        Email wajib diisi!
                                    </div>
                                </div>
                            </div>



                            <div class="col-lg-4">
                                <button type="button" @click.prevent="goToPage(1)" class="btn __btn-primary w-100"
                                    :disabled="loading">
                                    <span v-if="!loading">Selanjutnya</span>

                                    <span class="spinner-border text-light" role="status" v-else></span>
                                </button>
                            </div>
                        </div>

                        <div class="row justify-content-center tab" v-if="page === 1">
                            <div class="col-lg-12 mb-3">
                                <h6>Informasi Pembayaran</h6>

                            </div>
                            <div class="col-lg-6 mb-3">
                                <div>
                                    <label for="">Nomor Rekening</label>
                                    <input v-model="user.no_rekening" type="text" class="__form-control form-control-sm" placeholder="Ketik nomor rekening"
                                        required>
                                </div>
                                <div class="invalid-feedback">
                                    Nomor Rekening wajib diisi!
                                </div>
                            </div>
                            <div class="col-lg-6 mb-3">
                                <div>
                                    <label for="">Nama Pemilik Rekening</label>
                                    <input v-model="user.nama_pemilik" type="text"
                                        class="__form-control form-control-sm" placeholder="Ketik nama pemilik rekening"
                                        required>
                                </div>
                                <div class="invalid-feedback">
                                    Nama Pemiik Rekening wajib diisi!
                                </div>
                            </div>

                            <div class="col-lg-12 mb-3">
                                <div>
                                    <label for="">Nama Bank</label>
                                    <input v-model="user.nama_bank" type="text" class="__form-control form-control-sm"
                                        placeholder="Ketik nama bank" required>
                                    <div class="invalid-feedback">
                                        Nama Bank wajib diisi!
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-12 mb-3">
                                <h6>Informasi Pengiriman</h6>
                            </div>

                            <div class="col-lg-12 mb-3">
                                <div>
                                    <label for="">Alamat Lengkap</label>
                                    <textarea v-model="user.alamat" rows="4" class="__form-control form-control-sm"
                                        placeholder="Ketik alamat lengkap"></textarea>
                                    <div class="invalid-feedback">
                                        Alamat Lengkap wajib diisi!
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 mb-3">
                                <div>
                                    <label for="">Provinsi</label>
                                    <select v-model="user.province_id"
                                        class="__form-control form-control-sm form-select" @change="getCity" required>
                                        <option :value="item.id" v-for="item in collection.provinces"
                                            v-bind:key="item.id">
                                            {{ item.name }}
                                        </option>
                                    </select>
                                    <div class="invalid-feedback">
                                        Provinsi wajib diisi!
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 mb-3">
                                <div>
                                    <label for="">Kabupaten atau Kota</label>
                                    <select @change="getSuburb" v-model="user.city_id" id=""
                                        class="__form-control form-control-sm form-select" required>
                                        <option :value="item.id" v-for="item in collection.cities" v-bind:key="item.id">
                                            {{ item.name }}
                                        </option>
                                    </select>
                                    <div class="invalid-feedback">
                                        Kabupaten atau Kota wajib diisi!
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 mb-3">
                                <div>
                                    <label for="">Kecamatan</label>
                                    <select @change="getArea" v-model="user.suburb_id" id=""
                                        class="__form-control form-control-sm form-select" required>
                                        <option :value="item.id" v-for="item in collection.suburbs"
                                            v-bind:key="item.id">
                                            {{ item.name }}
                                        </option>
                                    </select>
                                    <div class="invalid-feedback">
                                        Kabupaten atau Kota wajib diisi!
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 mb-3">
                                <div>
                                    <label for="">Kelurahan/Desa</label>
                                    <select v-model="user.area_id" id=""
                                        class="__form-control form-control-sm form-select" required>
                                        <option :value="item.id" v-for="item in collection.areas" v-bind:key="item.id">
                                            {{ item.name }}
                                        </option>
                                    </select>
                                    <div class="invalid-feedback">
                                        Kabupaten atau Kota wajib diisi!
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 mb-3">
                                <div>
                                    <label for="">Kode Pos</label>
                                    <input autocomplete="disabled" @keyup="getCoordinates" v-model="user.kodepos"
                                        type="number" class="__form-control form-control-sm"
                                        placeholder="Ketik kode pos" required>
                                    <div class="invalid-feedback">
                                        Kode Pos wajib diisi!
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 mb-3">
                                <label v-text="states.getCoordinates ? 'Memuat Data...' : 'Titik Koordinat'" />
                                <GMapAutocomplete class="form-control mb-2" placeholder="Cari alamat..."
                                    @place_changed="setPlace">
                                </GMapAutocomplete>
                                <GMapMap ref="mapRef" style="width: 100%; height: 500px" :center="user.coordinates"
                                    :zoom="15">

                                    <GMapMarker :position="user.coordinates" :draggable="true" :clickable="true"
                                        @dragend="updateLocation" />
                                </GMapMap>
                            </div>

                            <div class="col-lg-4">
                                <button type="button" @click.prevent="goToPage(0)"
                                    class="btn __btn-outline-primary w-100" :disabled="loading">
                                    <span v-if="!loading">Sebelumnya</span>
                                    <span class="spinner-border text-light" role="status" v-else></span>
                                </button>
                            </div>

                            <div class="col-lg-4">
                                <button type="button" @click.prevent="goToPage(2)" class="btn __btn-primary w-100"
                                    :disabled="loading">
                                    <span v-if="!loading">Selanjutnya</span>

                                    <span class="spinner-border text-light" role="status" v-else></span>
                                </button>
                            </div>
                        </div>

                        <div class="row justify-content-center tab" v-if="page === 2">
                            <div class="col-lg-12 mb-3">
                                <h6>Dokumen Pemasok</h6>

                            </div>
                            <div class="col-lg-6 mb-3">
                                <div>
                                    <label for="">Upload KTP Pendaftar</label>
                                    <small class="d-block">(format jpeg/jpg/png max 10 mb)</small>
                                    <input type="file" class="__form-control form-control-sm" placeholder="Ketik nama lengkap pendaftar" @change="changeKtp($event)" required>
                                    <div class="invalid-feedback">
                                        KTP Pendaftar wajib diisi!
                                    </div>

                                    <div class="mt-3" v-if="ktp_pendaftar_source">
                                        <img :src="ktp_pendaftar_source" class="img-fluid">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 mb-3">
                                <div>
                                    <label for="">Upload Foto / Logo Usaha</label>
                                    <small class="d-block">(format jpeg/jpg/png max 10 mb)</small>
                                    <input type="file" class="__form-control form-control-sm" placeholder="Ketik nama lengkap pendaftar" @change="changeLogo($event)" required>
                                    <div class="invalid-feedback">
                                        NPWP Pendaftar wajib diisi!
                                    </div>

                                    <div class="mt-3" v-if="logo_usaha_source">
                                        <img :src="logo_usaha_source" class="img-fluid">
                                    </div>
                                </div>
                            </div>

                            <!-- <div class="col-lg-6 mb-3">
                                <div>
                                    <label for="">File NPWP</label>
                                    <input type="file" class="__form-control form-control-sm"
                                        placeholder="Ketik nama lengkap pendaftar" @change="changeNpwp($event)"
                                        required>
                                    <div class="invalid-feedback">
                                        NPWP Pendaftar wajib diisi!
                                    </div>

                                    <div class="mt-3" v-if="npwp_source">
                                        <img :src="npwp_source" class="img-fluid">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 mb-3">
                                <div>
                                    <label for="">Nomor NPWP</label>
                                    <input type="text" class="__form-control form-control-sm"
                                        placeholder="Ketik nomor npwp" v-model="user.no_npwp">
                                    <small class="mt-2">{{formatNpwp(user.no_npwp)}}</small>
                                </div>
                            </div> -->

                            <div class="col-lg-6 mb-3">
                                <div>
                                    <label for="">Kata Sandi</label>
                                    <input v-model="user.pasword" type="password" class="__form-control form-control-sm"
                                        placeholder="Ketik kata sandi" required>
                                    <div class="invalid-feedback">
                                        Kata Sandi wajib diisi!
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 mb-3">
                                <div>
                                    <label for="">Konfirmasi Kata Sandi</label>
                                    <input v-model="user.password_confirmation" type="password"
                                        class="__form-control form-control-sm" placeholder="Ketik ulang kata sandi"
                                        required>
                                    <div class="invalid-feedback">
                                        Konfirmasi Kata Sandi wajib diisi!
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-12 mb-3">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="1" v-model="setuju"
                                        id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        Saya menyetujui <a
                                            href="https://drive.google.com/file/d/1JwDtl8pquP7LPtZUtUZwitUhdFokDZKg/view?usp=share_link"
                                            target="_blank" style="color:var(--primary-color)">Syarat dan
                                            Ketentuan</a> serta <a target="_blank"
                                            href="https://drive.google.com/file/d/1xMj9TC0mB6E8YpVLHkuyYJ6yb46i3-kb/view?usp=share_link"
                                            style="color:var(--primary-color)">Kebijakan
                                            Privasi</a>
                                    </label>
                                </div>
                            </div>

                            <div class="col-lg-4">
                                <button type="button" @click.prevent="goToPage(1)"
                                    class="btn __btn-outline-primary w-100" :disabled="loading">
                                    <span v-if="!loading">Sebelumnya</span>
                                    <span class="spinner-border text-light" role="status" v-else></span>
                                </button>
                            </div>
                            <div class="col-lg-4">
                                <button type="button" @click.prevent="submit" class="btn __btn-primary w-100"
                                    :disabled="loading || setuju != '1'">
                                    <span v-if="!loading">Daftar</span>

                                    <span class="spinner-border text-light" role="status" v-else></span>
                                </button>
                            </div>
                        </div>

                        <div class="row justify-content-center tab" v-if="page === 3">
                            <div class="col-lg-12 mb-3">
                                <h6 style="font-weight:700;text-align:center;">Pendaftaran Berhasil</h6>
                            </div>


                            <div class="col-lg-8">
                                <img :src="require('@/assets/images/icon/success-icon.svg')" class="img-fluid">
                                <p style="text-align:center;color:#505E6B;font-weight:300;">Nanti akan kami informasikan
                                    melalui email
                                    setelah pendaftaran Anda diterima</p>
                            </div>

                            <div class="col-lg-12">
                                <div class="row justify-content-center">
                                    <div class="col-lg-4">
                                        <router-link to="/" class="btn __btn-primary w-100">
                                            <span>Kembali Ke Beranda</span>

                                        </router-link>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
import axios from 'axios'
import Navbar from '@/v2/components/Navbar.vue';
import { GoogleMap, Marker } from "vue3-google-map";
export default {
    components: {
        Navbar,
        GoogleMap, Marker
    },
    data() {
        return {
            loading: false,
            collection: {
                provinces: [],
                cities: [],
                suburbs: [],
                areas: [],
            },
            page: 0,
            setuju: "",
            provinsi: [],
            city: [],
            user: {
                email: "",
                nama_lengkap: "",
                pasword: "",
                password_confirmation: "",
                role: "Penjual",
                jabatan: "",
                nama_usaha: "",
                status_usaha: "",
                alamat: "",
                province_id: "",
                city_id: "",
                suburb_id: null,
                area_id: null,
                kodepos: "",
                no_rekening: "",
                nama_pemilik: "",
                nama_bank: "",
                telepon: "",
                ktp_pendaftar: "",
                logo_usaha: "",
                coordinates: { lat: -6.2297465, lng: 106.829518 },
                no_npwp: "",
            },
            logo_usaha: null,
            ktp_pendaftar: null,
            npwp: null,
            logo_usaha_source: null,
            ktp_pendaftar_source: null,
            npwp_source: null,
            google: {
                api_key: 'AIzaSyCAN2Gau9chF46UpvPhbzxokc0DWur3weA'
            },
            states: {
                getCoordinates: false
            }
        }
    },
    mounted() {
        this.getProvinces()
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(this.setLocation);
        } else {
            alert('It seems like Geolocation, which is required for this page, is not enabled in your browser. Please use a browser which supports it.');
        }
    },
    methods: {
        validateForm() {
            var x, y, i, z, t, valid = true;
            x = document.getElementsByClassName("tab");
            y = x[0].getElementsByTagName("input");
            z = x[0].getElementsByTagName("select");
            t = x[0].getElementsByTagName("textarea");
            for (i = 0; i < z.length; i++) {
                if (z[i].value === '' && z[i].hasAttribute("required")) {
                    z[i].className += " invalid is-invalid";
                    valid = false;
                } else {
                    z[i].classList.remove("invalid");
                    z[i].classList.remove("is-invalid");
                }
            }
            for (i = 0; i < t.length; i++) {
                if (t[i].value === '' && t[i].hasAttribute("required")) {
                    t[i].className += " invalid is-invalid";
                    valid = false;
                } else {
                    t[i].classList.remove("invalid");
                    t[i].classList.remove("is-invalid");
                }
            }
            // if (((Date.now() - Bday) / (31557600000)) < 18)
            for (i = 0; i < y.length; i++) {
                if (y[i].value === '' && y[i].hasAttribute("required")) {
                    y[i].className += " invalid is-invalid";
                    valid = false;
                } else {
                    y[i].classList.remove("invalid");
                    y[i].classList.remove("is-invalid");
                }
            }
            return valid;
        },
        goToPage(page) {
            if (this.page > page) this.page = page;
            if (!this.validateForm()) return false;
            this.page = page;
        },
        //mengambil data provinsi dari shipper
        getProvinces() {
            axios.get('/api/v1/shipper/provinces').then(res => {
                this.collection.provinces = res.data
            })
        },
        //mengambil data kota berdasar provinsi yang dipilih pengguna dari shipper
        getCity() {
            this.user.city_id = null
            this.user.suburb_id = null
            this.user.area_id = null
            axios.get('/api/v1/shipper/province/' + this.user.province_id + '/cities').then(res => {
                this.collection.cities = res.data
            })
        },
        //mengambil data kecamatan berdasar kota yang dipilih pengguna dari shipper
        getSuburb() {
            this.user.suburb_id = null
            this.user.area_id = null
            axios.get('/api/v1/shipper/city/' + this.user.city_id + '/suburbs').then(res => {
                this.collection.suburbs = res.data
            })
        },
        //mengambil data kelurahan berdasar kecamatan yang dipilih pengguna dari shipper
        getArea() {
            this.user.area_id = null
            axios.get('/api/v1/shipper/suburb/' + this.user.suburb_id + '/areas').then(res => {
                this.collection.areas = res.data
            })
        },
        changeLogo(event) {
            this.logo_usaha = event.target.files[0];
            this.logo_usaha_source = URL.createObjectURL(event.target.files[0]);
        },
        changeKtp(event) {
            this.ktp_pendaftar = event.target.files[0];
            this.ktp_pendaftar_source = URL.createObjectURL(event.target.files[0]);

        },

        changeNpwp(event) {
            this.npwp = event.target.files[0];
            this.npwp_source = URL.createObjectURL(event.target.files[0]);
        },
        formatNpwp(value) {
            return value.replace(/(\d{2})(\d{3})(\d{3})(\d{1})(\d{3})(\d{3})/, '$1.$2.$3.$4-$5.$6');
        },
        async submit() {
            if (!this.validateForm()) return false;
            this.loading = true;
            if (this.logo_usaha) {
                let formData = new FormData();
                formData.append('file', this.logo_usaha);
                var logo_usaha = await axios.post("/api/upload", formData, {
                    headers: {
                        'Content-Type': 'multipart/form-data',
                    }
                });
            }
            if (this.ktp_pendaftar) {
                let formData = new FormData();
                formData.append('file', this.ktp_pendaftar);
                var ktp_pendaftar = await axios.post("/api/upload", formData, {
                    headers: {
                        'Content-Type': 'multipart/form-data',
                    }
                });
            }

            if (this.npwp) {
                let formData = new FormData();
                formData.append('file', this.npwp);
                var npwp = await axios.post("/api/upload", formData, {
                    headers: {
                        'Content-Type': 'multipart/form-data',
                    }
                });
            }
            const obj = JSON.stringify({
                email: this.user.email,
                nama_lengkap: this.user.nama_lengkap,
                password: this.user.pasword,
                password_confirmation: this.user.password_confirmation,
                role: "Penjual",
                jabatan: this.user.jabatan,
                nama_usaha: this.user.nama_usaha,
                status_usaha: this.user.status_usaha,
                alamat: this.user.alamat,
                province_id: this.user.province_id,
                city_id: this.user.city_id,
                suburb_id: this.user.suburb_id,
                area_id: this.user.area_id,
                kodepos: this.user.kodepos,
                no_rekening: this.user.no_rekening,
                nama_pemilik: this.user.nama_pemilik,
                nama_bank: this.user.nama_bank,
                telepon: this.user.telepon,
                ktp_pendaftar: this.ktp_pendaftar ? ktp_pendaftar.data.file_url : "",
                npwp: this.npwp ? npwp.data.file_url : "",
                no_npwp: this.user.no_npwp,
                logo_usaha: this.logo_usaha ? logo_usaha.data.file_url : "",
                lat: this.user.coordinates.lat,
                lng: this.user.coordinates.lng,
            });
            axios.post("/api/v1/auth/register", obj, {
                headers: {
                    'Content-Type': 'application/json',
                }
            }).then((resp) => {
                this.loading = false;
                return this.page = 3;
            }).catch((err) => {
                this.loading = false;
                this.$swal({
                    icon: 'error',
                    title: err.response.data.validate
                })
            })
        },
        //mengambil lokasi koordinat setelah penanda (marker) digeser
        updateLocation(evt) {
            let lat = evt.latLng.lat()
            let lng = evt.latLng.lng()
            this.user.coordinates = { lat: lat, lng: lng }
        },
        //mengubah lokasi penanda (marker) pada peta berdasar lokasi koordinat pengguna
        setLocation(loc) {
            let lat = loc.coords.latitude;
            let lng = loc.coords.longitude;
            this.user.coordinates = { lat: lat, lng: lng }
        },
        setPlace(loc) {
            let lat = loc.geometry.location.lat();
            let lng = loc.geometry.location.lng();
            this.user.coordinates = { lat: lat, lng: lng }
        }
    },
}
</script>

<style scope>
input.invalid,
select.invalid,
textarea.invalid {
    background-color: #ffdddd;
}

.invalid-feedback {
    font-size: 11px;
}
</style>
