<template>
    <Navbar />
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-lg-4 my-auto d-lg-flex d-none">
                <img :src="require('@/assets/images/icon/login-icon.png')" class="img-fluid">
            </div>
            <div class="col-lg-4 offset-lg-1">
                <img :src="require('@/assets/images/icon/logo.svg')" class="img-fluid">

                <div class="auth-section my-4">
                    <h5>Lupa Password</h5>
                    <p>Masukan Email untuk reset password</p>
                    <form @submit.prevent="submit">
                        <div class="mb-3">
                            <label for="">Email</label>
                            <input type="email" v-model="user.email" class="__form-control form-control-sm" placeholder="Ketik email">
                        </div>

                        <button class="btn __btn-primary w-100" :disabled="loading">
                            <span v-if="!loading">Lupa Password</span>
                            <span class="spinner-border text-light" role="status" v-else></span>
                        </button>
                    </form>
                </div>


            </div>
        </div>
    </div>
</template>

<script>

import axios from "axios";
import Navbar from "@/v2/components/Navbar.vue";


export default {
    name: "Login",
    data() {
        return {
            loading: false,
            loggedIn: localStorage.getItem("loggedIn"),
            role: "",
            user: {
                email: "",
                password: "",
            }
        };
    },
    methods: {
        submit() {
            this.loading = true,
                // axios.get('/sanctum/csrf-cookie').then(response => {
                //     axios.post("/api/v1/auth/login", {
                //         email: this.user.email,
                //         password: this.user.password,
                //     }).then(resp => {
                //         console.log(resp)
                //         let timerInterval
                //         this.loading = false;
                //         this.loggedIn = true;
                //         this.role = resp.data.user.role;
                //         localStorage.setItem("token", resp.data.token);
                //         localStorage.setItem("loggedIn", true);

                //         this.$swal({
                //             title: "Login Berhasil!",
                //             timer: 2000,
                //             timerProgressBar: true,
                //             didOpen: () => {
                //                 this.$swal.showLoading()
                //             },
                //             willClose: () => {
                //                 clearInterval(timerInterval)
                //             }
                //         }).then((result) => {
                //             /* Read more about handling dismissals below */
                //             if (result.dismiss === this.$swal.DismissReason.timer) {
                //                 if (this.role == 'Pemasok') {
                //                     location.href = '/dashboard';
                //                 } else {
                //                     location.reload();
                //                 }
                //             }
                //         })
                //     }).catch(err => {
                //         this.loading = false;
                //         this.$swal({
                //             icon: 'error',
                //             title: err.response.data.message
                //         })
                //     })
                // });
                axios.post("/api/v1/password/email", {
                    email: this.user.email
                }).then((resp) => {
                    this.loading = false;
                    this.$swal({
                        icon: 'success',
                        title: resp.data.message
                    })
                }).catch((err) => {
                    this.loading = false;
                    this.$swal({
                        icon: 'error',
                        title: err.response.data.message
                    })
                })
        }
    },
    mounted() {
        if (this.loggedIn) {
            return this.$router.push({ path: "/" });
        }
    },
    components: { Navbar }
}
</script>
