<template>
    <NavbarLkpp />
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <SidebarPembeli />
            </div>
            <div class="col-lg-9 my-3">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="d-flex">
                            <h3 class="m-0 my-auto me-3">Selamat Datang Di</h3>
                            <img :src="require('@/assets/images/icon/logo.svg')" class="img-fluid my-auto">
                        </div>
                    </div>
                </div>

                <div class="card mb-3">
                    <div class="card-body">
                        <h6>Rangkuman Transaksi</h6>
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="card" style="background-color:#F6F6F6">
                                    <div class="card-body">
                                        <div class="text-center">
                                            <span>Permintaan RFQ</span>
                                            <h2>0</h2>
                                            <span>Permintaan RFQ</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="card" style="background-color:#F6F6F6">
                                    <div class="card-body">
                                        <div class="text-center">
                                            <span>Pesanan</span>
                                            <h2>0</h2>
                                            <span>Permintaan Pesanan</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="card" style="background-color:#F6F6F6">
                                    <div class="card-body">
                                        <div class="text-center">
                                            <span>Tagihan</span>
                                            <h2>0</h2>
                                            <span>Menunggu
                                                Pembayaran</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card mb-3">
                    <div class="card-body">
                        <h6>Rangkuman Transaksi</h6>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="card" style="background-color:#F6F6F6">
                                    <div class="card-body">
                                        <div class="text-center">
                                            <span>Total Pemasokan Selesai</span>
                                            <h2>0</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="card" style="background-color:#F6F6F6">
                                    <div class="card-body">
                                        <div class="text-center">
                                            <span>Total Nilai Pemasokan Selesai</span>
                                            <h2>Rp 0</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="mb-3">
                                    <label class="d-block" style="font-weight:500;font-size:14px">Nama Instansi</label>
                                    <span class="d-block" style="font-weight:400;font-size:14px">{{ user.namaInstansi
                                    }}</span>
                                </div>

                                <div class="mb-3">
                                    <label class="d-block" style="font-weight:500;font-size:14px">Nama Satker
                                        Instansi</label>
                                    <span class="d-block" style="font-weight:400;font-size:14px">{{ user.namaSatker
                                    }}</span>
                                </div>

                                <div class="mb-3">
                                    <label class="d-block" style="font-weight:500;font-size:14px">Nomor
                                        Handphone</label>
                                    <span class="d-block" style="font-weight:400;font-size:14px">{{ user.phone
                                    }}</span>
                                </div>

                                <div class="mb-3">
                                    <label class="d-block" style="font-weight:500;font-size:14px">Nama Lengkap</label>
                                    <span class="d-block" style="font-weight:400;font-size:14px">{{ user.realName
                                    }}</span>
                                </div>

                                <div class="mb-3">
                                    <label class="d-block" style="font-weight:500;font-size:14px">Email</label>
                                    <span class="d-block" style="font-weight:400;font-size:14px">{{
                                            user.email
                                    }}</span>
                                </div>

                                <div class="mb-3">
                                    <label class="d-block" style="font-weight:500;font-size:14px">Role</label>
                                    <span class="d-block" style="font-weight:400;font-size:14px">{{ user.role
                                    }}</span>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
import axios from 'axios'
import Sidebar from '@/views/auth/dashboard/component/Sidebar.vue';
import SidebarPembeli from '@/views/auth/dashboard/component/SidebarPembeli.vue';
import Navbar from '@/v2/components/Navbar.vue';
import NavbarLkpp from '@/v2/components/Navbar';
export default {
    data() {
        return {
            user: [],
            token: localStorage.getItem("tokenProfileLKPP")
        };
    },
    mounted() {
        axios.get("/api/v1/lkpp/me", {
            headers: {
                'Authorization': 'Bearer ' + this.token,
            }
        }).then((resp) => {
            localStorage.setItem("userLKPP", JSON.stringify(resp.data.user))
            localStorage.setItem("tokenTransactionLKPP", resp.data.user.token)

            this.user = resp.data.user;
        })
    },

    components: { Sidebar, SidebarPembeli, Navbar, NavbarLkpp }
}
</script>
