<template>
    <svg :class="`img-fluid`" width="239" height="239" viewBox="0 0 239 239" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0_1832_183839)">
            <path d="M59.5152 0.503448C51.3319 0.503448 44.6364 7.19891 44.6364 15.3823V223.686C44.6364 231.869 51.3319 238.564 59.5152 238.564H208.303C216.487 238.564 223.182 231.869 223.182 223.686V60.0187L163.667 0.503448H59.5152Z" fill="#E2E5E7"/>
            <path d="M178.546 60.0187H223.182L163.667 0.503448V45.1399C163.667 53.3232 170.362 60.0187 178.546 60.0187Z" fill="#B0B7BD"/>
            <path d="M223.182 104.655L178.546 60.0187H223.182V104.655Z" fill="#CAD1D8"/>
            <path d="M193.425 193.928C193.425 198.02 190.077 201.367 185.985 201.367H22.3182C18.2265 201.367 14.8788 198.02 14.8788 193.928V119.534C14.8788 115.442 18.2265 112.094 22.3182 112.094H185.985C190.077 112.094 193.425 115.442 193.425 119.534V193.928Z" fill="#F15642"/>
            <path d="M47.3072 141.458C47.3072 139.494 48.8546 137.351 51.3468 137.351H65.0873C72.8243 137.351 79.7876 142.529 79.7876 152.453C79.7876 161.857 72.8243 167.094 65.0873 167.094H55.1557V174.95C55.1557 177.569 53.4893 179.049 51.3468 179.049C49.3828 179.049 47.3072 177.569 47.3072 174.95V141.458ZM55.1557 144.843V159.662H65.0873C69.0749 159.662 72.2292 156.143 72.2292 152.453C72.2292 148.295 69.0749 144.843 65.0873 144.843H55.1557Z" fill="white"/>
            <path d="M91.4377 179.049C89.4737 179.049 87.3312 177.978 87.3312 175.367V141.577C87.3312 139.442 89.4737 137.887 91.4377 137.887H105.059C132.243 137.887 131.648 179.049 105.595 179.049H91.4377ZM95.1872 145.148V171.796H105.059C121.121 171.796 121.835 145.148 105.059 145.148H95.1872Z" fill="white"/>
            <path d="M141.289 145.624V155.079H156.458C158.601 155.079 160.743 157.222 160.743 159.298C160.743 161.262 158.601 162.868 156.458 162.868H141.289V175.359C141.289 177.442 139.809 179.042 137.726 179.042C135.107 179.042 133.508 177.442 133.508 175.359V141.569C133.508 139.434 135.114 137.879 137.726 137.879H158.608C161.227 137.879 162.774 139.434 162.774 141.569C162.774 143.474 161.227 145.616 158.608 145.616H141.289V145.624Z" fill="white"/>
            <path d="M185.985 201.367H44.6364V208.807H185.985C190.077 208.807 193.424 205.459 193.424 201.367V193.928C193.424 198.02 190.077 201.367 185.985 201.367Z" fill="#CAD1D8"/>
        </g>
        <defs>
            <clipPath id="clip0_1832_183839">
                <rect width="238.061" height="238.061" fill="white" transform="translate(0 0.503448)"/>
            </clipPath>
        </defs>
    </svg>
</template>

<script>
export default {
    name: 'IconPDF',
}
</script>
